{% extends "post.html" %}

{% set title = 'Adventní drabble č.14 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.14</h2>

 <p>„No signal!“ zářilo stále na displeji. Všechny jeho sofistikované funkce a aplikace byly k ničemu. Kdyby ji teď někdo z kolegů povolal zpět, slyšel by jen „volající účastník není dostupný“ nebo něco podobného.
<p>Naštěstí. Nechtěla by se vrátit. Nemohla se nabažit pocitu nově nalezené svobody. Vychutnávala si vlastní dech, vůni dřeva, opravdové stíny vytvářené jen slunečními paprsky, skutečnou noční oblohu. Mohla se otočit kamkoli, všemi směry bylo jen nedozírné zelené moře, které na obzoru splývalo s nebesy.
<p>Tohle potřebovala. Předčasná smrt jejího otce v ní uvolnila něco, o čem si smyslela, že je dávno ztracené. Pochopila, že potřebuje alespoň na chvíli opustit civilizaci jako kdysi s otcem. Svěřila se příteli, že práce a kariéra jsou teď pro ni úplně na chvostu.
<p>Od onoho rozhovoru tehdy v tunelu se na ni díval trochu podezíravě, snad jí nevěřil, že to myslí vážně. Doma se opřel o stůl, pokoušel se argumentovat, ukazoval účty, hypotéku, co všechno musí splácet, než bude dům jejich. I když ji chápe, říkal, musí přijmout, že si nemohou dovolit na delší dobu opustit práci. Měl z určitého hlediska pravdu, jenže ona měla pocit, že právě tuhle pravdu shledává jako čím dál nesnesitelnější vězení, klec, která jí nedovoluje dýchat.
<p>Než odjela, nechala mu vzkaz, kde jí najde, jestli jí má rád. Miluje ji a ona jeho. Věřila, že za ní přijde. Určitě.


 {% endblock %}