{% extends "post.html" %}

{% set title = 'Adventní drabble č.15 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.15</h2>

<p>Nejmenovaný ho povolal a jemu nezbývalo, než přijmout. Nejmenovanému neodmlouváte. Souhlasíte, nebo si svůj nesouhlas berete do hrobu (odkud je těžké se vrátit a říct, že jste si to rozmysleli). A to ještě když máte štěstí, v takových případech hrob bývá luxus.

<p>Nebylo to poprvé, kdy byl požádán o „jisté služby“ právě z této strany. Naopak, už se to táhlo víc než pár let. Oslovili ho, většinou s nabídkou, kterou nebylo možno odmítnout. Nešlo to, protože Nepojmenovaný o něm věděl… no, všechno ne, ale dost na to, aby se nemohl cukat. Nesnášel to. Nesnášel, jak ho mají v hrsti. Popravdě nemohl Nejmenovanému přijít na jméno.

<p>Obzor Tunel byl žoldnéř, tedy spíš býval. Pak povýšil, stal se z něj nájemný vrah. Odborník. Ceněný odborník, který určitě splní svou misi. Ceněný, královsky placený, ale to ještě neznamená, že šťastný. Právě shledával, jak těžko se z bot odstraňuje tryskohlemýždí sliz. Nemohl si stěžovat, že by stopa vychladla…eeeé, zaschla. Byl si jist, že je Pakambalovi v patách. Čím ten chlap tu svou obludu krmí? Vsadím se, že mu dává vzduchovcové dřevo, proto jeho jízdní tryskohlemýžď za sebou nechává lesklou, lepivou dálnici napříč Lilastepí. Stopovat by ho mohl i poslepu. Proti Pakambalovi nic neměl. Vlastně mu byl mírně sympatický. Ovšem udělal tu chybu, že se se staví Nejmenovanému do cesty. Princezna Drůza je sice alespoň průměrně krásná a možná i ušlechtilá, ale pokud se na ni Nejmenovaný zaměřil, je taky ztracená. I když se proto sám sobě hnusil jako tryskohlemýždí sliz, Obzor neudělá stejnou chybu jako Pakambala, aby se stavěl mezi Nejmenovaného a jeho kořist.


 {% endblock %}