{% extends "post.html" %}

{% set title = 'Adventní drabble č.16 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.16</h2>


<p>Skupina sa konečne vyštverala na vrch. Čakala na nich kamenná brána. Velkan sa o ňu oprel a tá sa okamžite rozpadla. Tisíc rokov bez údržby spraví svoje. Traja cestovatelia vstúpili do jaskyne, no v tme nemohli vidieť. Alabra vytiahla prútik zo spáleného kameňa a vyčarila ohnivú guľu, ktorá sa nad nimi nadnášala, poskytujúc svetlo. ,,Poďme,“ prikázala a viedla kompániu ďalej.

<p>Po pol hodine kráčania do útrob hory sa ocitli v hale pôvodného Benakolu, ktorý tu stál predtým, než ho drak zapečatil svojimi lávovými plameňmi, čo sa po vychladnutí premenili v spálený kameň. Napriek tomu, že celý hrad bol teraz v znamení plameňa, bol tu nezvyčajný chlad, až si trojica mohla vidieť vlastný dych. Mohli za to duchovia baníkov, obchodníkov, sedliakov i šľachticov, ktorí boli v Benakole v ten osudný deň a našli tu svoj predčasný skon.

<p>Po chvíli už aj mohli vidieť mihotavú žiaru siluet duchov. Pokojne sa vznášali okolo nich, pozorovali ich. Trojka sa otáčala, stojac pri sebe chrbtami. Práve na to tu mali Prestora. Ten sa len pokojne díval, zvierajúc svoju palicu a kryštálovú guľu. Všetci duchovia ich obkľúčili, potočili hlavami a v podobe zúrivých plameňov zaútočili. Prestor vyhodil guľu do vzduchu, mávol palicou a vtiahol prízraky do kryštálu, uväzniac ich. ,,Armádu máme za sebou,“ oznámil skupine. ,,Teraz už len ich pán,“ povzdychla si Alabra.

<p>Pár schodísk nižšie a objavili sa v trónnej sále, ktorá už dávno stratila svoju funkciu. Namiesto kráľa na tróne visel desivý chvost. Drak spal. Nie však na dlho.

<p>POKRAČOVANIE NABUDÚCE... ASI...

 {% endblock %}