{% extends "post.html" %}

{% set title = 'Adventní drabble č.17 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.17</h2>

<p>„Jaká je funkce příběhu, studenti?“ otočil se profesor Vaníček od projektoru a díval se do ztichlé posluchárny. „Dvojí,“ odpověděl si vzápětí. „Za prvé, příběh něco vypráví, sděluje autorovy myšlenky nebo nějaké poznatky, přináší čtenáři napětí, úlevu, poznání. Je procesem, ve kterém se mění stav počáteční na výsledný. Autor by se měl vyvarovat předčasného vyvrcholení, aby pak následující část nesloužila jen jako zbytečný dovětek toho, co už bylo řečeno.“
<p>Profesor se odmlčel a opřel se o přednáškový pultík. Dramatická pauza dodala jeho slovům na významu. Byl dobrým přednášejícím a jeho hodiny byly oblíbené, mimo jiné právě proto, že nechrlil jen informace bez ladu a skladu, ale dokázal je formovat do tematických celků, jako kdyby sám nějaký příběh vyprávěl. Udržel dech i s mnohem mladšími kolegy používajícími při výuce všelijaké moderní propriety, metody a postupy. Přesto se mnozí z nich drželi v popularitě na chvostu, zatímco staromilský Vaníčkův způsob přednášení se těšil zasloužené pozornosti.
<p>„A za druhé,“ pokračoval po chvíli, kterou využil na svlažení rtů, „což je možná jeho významnější úloha, děj slouží autorovi jako prostředí, ve kterém může konfrontovat postavy s různými událostmi, stavy, krizemi, jak říkají literární vědci. Postava, která na začátku hýří sebevědomím, projde v ději zkouškou charakteru a teprve na konci se o sobě doví, kým doopravdy je. Některá postava dokáže to, v co na začátku nemohla ani doufat, jiná naopak ztratí iluze o své osobě, nebo i o druhých.“
<p>Vaníček se podíval na hodinky. „Pro dnešek končíme, příště se pobavíme o typických literárních zápletkách.“


 {% endblock %}