{% extends "post.html" %}

{% set title = 'Adventní drabble č.18 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.18</h2>

<p>Celý zámek obklopovalo nepříjemné ticho. Ani vítr nevanul skrze vytlučená okna a neproháněl se jeho místnostmi. Světlo Měsíce visícího nízko nad obzorem zdůrazňovalo temnotu uvnitř. Vstup se černal jako tunel, brána do záhrobí.
<p>Ohlédl jsem se, ale další noční setkání s medvědy by tentokrát určitě neskončilo jen mrtvým koněm a rozedranou rukou, která ještě stále krvácela. To byla cena za zabití jediného divokého zvířete.
<p>Vstoupil jsem. Ovanul mne pach tlejícího dřeva. Podlaha praskala a zvuk kroků se násobil. Povolal jsem všechnu odvahu. Je to jen staré opuštěné sídlo, říkal jsem si. Přesto jsem se bezděky dotkl svého meče.
<p>Rozsvítil jsem louč. Její světlo mi odhalilo pohled na zašlé stěny pokryté vlhkou špínou. Musely být kdysi pestře vyzdobeny. Teď z krásy zbyly jen šmouhy připomínající tanec duchů. V každé místnosti jsem shledával podobný obraz zašlé krásy. Ztrouchnivělé podlahy, polorozpadlý nábytek.
<p>Až v jedné místnosti, která vypadala jako reprezentační sál, jsem spatřil na stěně viset obraz. V životní velikosti na něm byla vymalována žena v černých šatech, avšak prach téměř skryl její podobu. Její tvář byla něčím zvláštní. Přejel jsem po tom obrazu rukou, ale ta stále krvácela.
<p>Má krev se rozpíjela po obraze, ze kterého veškerá špína zmizela. Polkl jsem. Místo lidské na mne hleděla vlčí tvář. Ve svícnech zaplála světla a za mnou se ozval tichý zvuk podobný zavrčení. Otočil jsem se a spatřil ve dveřích stát vlčí ženu z obrazu. „Vítám tě, poutníku,“ říkala podivným ostrým hlasem. „Je to již dlouho co jsem tu naposledy přijala hosta.“


 {% endblock %}