{% extends "post.html" %}

{% set title = 'Adventní drabble č.19 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.19</h2>
 <p>Už jí skoro docházel dech. Po tolika kilometrech už skoro začínala litovat, že se kdy naučila jezdit na kole. Kdyby to byl opravdový cyklistický závod, řekla by, že se vezla se na chvostu pelotonu už dobrých dvacet minut. Pochybovala, že by to ještě dokázala otočit.
<p>Zase stoupání. Přesunula páčku na lehčí převod. Ještě že funkce přehazovačky už byla zase spolehlivá, nedávno ji pro ni opravil. Pohlédla před sebe. Díval se na ni a povzbuzoval ji k většímu tempu. V tu chvíli ho nenáviděla. Vlasy pod cyklistickou přilbou měla zpocené a hlava ji svědila, nohy ji pálily a před sebou stále pořádný kus kopce.
<p>Ale musí zabrat, není žádná vodní krysa, o ni by si přece kdekdo kolo opřel a ještě rád. A vůbec, jede za Hradec. Věno českých královen. Vdov. Aby se nestala vdovou z vlastní vůle. Šlápla do pedálů a byla skokem deset mil. No dobře, to přehání, ale svatební košili by s potěšením zahodila.
<p>A přece se jejich cíl blížil, nebyla to předčasná radost ani fata morgána. Ještě několik chvil, několik záběrů bolavýma nohama a mohla si říct „hurá, jsme nahoře.“ Kopec byl zdolán v novém hradeckém rekordu dvaceti pěti minut a padesáti dvou vteřin. Teď se konečně mohli osvěžit. Rozbalili jablko a citronový zákusek.



 {% endblock %}