{% extends "post.html" %}

{% set title = 'Adventní drabble č.21 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.21</h2>

Po bitvě<br>
Pohřebníci (jak si říkali) nakládali mrtvá těla do vozů. Zrovna našli skupinku mrtvých kteří jak bylo vidět se těsně před svou smrtí schovávali v keři. Byli však nalezeni a probodnuti dřív než si stačili všimnout že už nejsou v bezpečí.<br>
"Tak kde je ten seznam?" zeptal se zapisovatel.<br>
"Zde je prosím" odpověděl poznavač.<br>
"Dobrá diktujte, a vy nakládejte" rozkázal poznavači a pracovníkům.<br>
"Takže tady máme..." odmlčel se poznavač zamyšleně "Marek Šulc, hmmm..., Matyáš Ochman, ..., a to je... asi... proč mu museli rozmlátit obličej! Ahá to je Jiří Leščinský" zakončil větu poznavač.<br>
"To je hrozné jak můžete jen tak klidně přijmat skutečnost, když víte že tyhle muže, co si povolal bůh už se neshledají se svou rodinou! Že už jejich manželky je nemusí vahlížet za obzorem když jsou mrtvi!" Vykřikl nový vozka zděšeně a pohošeně když mrtvá těla nakládali na dřevěný vůz.<br>
"Neměl jsi tuhle práci vzít citlivko" pokrčil rameny jeden z nosičů.<br>
"A když ti to tak vadí můžeš dát výpověď" přidal se druhý.<br>
"Uřčitě ji dám, jenže nejprve musím najít jinou" řekl nesupeně vozka "ale kromě tohodle jsem mohl jen kopat nějyký tunel a to je snad ještě horší."<br>
"Tak to si budeš muset zvyknout" zakončil rozhovor poznavač.<br>


 {% endblock %}