{% extends "post.html" %}

{% set title = 'Adventní drabble č.23 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.23</h2>
<p>Růžový poník shledal zaměstnance tohoto ústavu za naprostá dřeva. Domníval se, že by se měli vrátit na základní školu nebo ještě lépe na zvláštní školu. Vždyť byli tak hloupí, že ani neměli křídla nebo aspoň roh, jak už tak poníci mívají. Dokonce ani nedokázali dštít síru na rozdíl satanoponíků. Jejich vědomostní obzor pravděpodobně nesahal dál, než k nejbližšímu tunelu (o tom, že celý podnik je jeden velký tunel si růžový poník také něco myslel, ale vezměmež na zřetel děti, které by tento blok jeho myšlenek mohli číst - a dojít tak k újmě - a raději tyto myšlenky nechme na jindy) . Jak by řekl básník - nebylo lze prijať, aby někdo jako růžový poník jednal s takovou bandou blbů. 
<p>Určitě muselo existovat lepší řešení. Růžový poník vzpomněl, že zapomněl na pány Kalašnikova a Molotova, a jejich skvělé vynálezy, na jejichž znalost byli místní zaměstnanci jistě příliš postižení. Tak určitě, pomyslel si. To by je vyřešilo jednou pro vždy. Jenže přijde nová parta blbů a ta tomu bude rozumět ještě méně než ta stará parta. Bylo na čase povolat jeho (z předešlých setkání se zaměstnanci tohoto podniku již dobře vytrénované) hlasivky a počastovat je tolika urážkami, kolika to jen bude možné, aby se dali do práce. Však to si ještě povíme, kdo tady bude na koho dštít síru pane LaVey! řekl sám pro sebe. Zhluboka se nadechl, otočil se a vrátil se na Českou poštu.

 {% endblock %}