{% extends "post.html" %}

{% set title = 'Adventní drabble č.24 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.24</h2>
<p>Mylý Otče Prasátek,
<p>Přeju sy moc dárků a hlavně tu velkou panenenku, bubínek medvěda. Celí rok sem byla moc hodná takše se nemusýš bát že by sem si ho nezasložyla. 
<p>S láskou tvoje Veruška Prudilová
<p>Zuzana se podíval na Veruščin dopis, byl určitě kratší než ten předchozí. U ní se naučila přijmout věci tak jak jsou. Takže když shledává za vhodné nasekat do dopisu Otci Prasátek schválně tolik chyb, nebude ji povolávat a vracet do pokoje ať si je opraví. Díval se na obzor, mraky se tam zkroutily na jakýsi tunel. Prsty poklepávala na dřevěný stůl. A opět si prohlížela Veruščin obrázek. Snažila se začíst do své knihy, ale nemohla se soustředit. Něco se mělo totiž udát, něco velkého čeho měla být součástí, to všechno se dozví za pár hodin. Slyšela škrábání - aha Veruška se rozhodla ještě jednou přepsat svůj dopis a tentokrát jej mamince ukazovat nebude. Nutně chtěla tu "Omnijskou vyslýchaci mučírnu" kterou jí matička nechtěla povolit. Bude předstírat v její prospěch (a taky trochu ve svůj) že o ničem nevěděla a Veruška si zřejmě ten dopis napsala a dala ho na stůl když už spala. A ano- už viděla Verušku jak jde do pokoje ve kterém seděla a vyměňuje dopisy, cestou zpět ten první hodila do ohně. {% endblock %}