{% extends "post.html" %}

{% set title = 'Adventní drabble č.3 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.3</h2>

  <p>Nový úder. Několik mužů sedících u vesel blízko místa nárazu bylo sraženo z lavic. Obšívka vydržela, ale nemohla donekonečna odolávat neustálým útokům zvenčí. Mezi prkny byly v místech překryvů mezery, kterými začínala prosakovat voda. Ještě několik nárazů a trup bude proražen.</p>
  <p>Leif Eriksson se díval na vlny, které se tříštily o boky jejich lodě. Jeho vlastní dech byl nepravidelný, sípal námahou. Opřel se do kormidla ve snaze otočit příď lodi proti blížící se vlně. Zakřičel na muže u vesel: „Zaberte pořádně! Dnes neskládáme básně pro Bragiho, dnes nás Rán chce stáhnout do hlubin!“ Jeho hlas dokázal přemoci zvuky hromů bez ustání bouřících nad rozdivočelým mořem.</p>
  <p>„To není bohyně Rán,“ odporoval Bjorn, jehož funkcí na lodi bylo udávání tempa hrou na píšťalu. „To je snad sám Jörmungandr.“ Vyslovení jména obrovského hada obtáčejícího svět vyvolalo mezi muži pozdvižení. Jako na potvrzení těch slov se před přídí ve zpěněné vlně objevilo temné tělo obrovského netvora. Ve chvíli zase zmizelo v temné vodě, ale vzápětí se z ní vymrštilo cosi jako obří chvost a šlehlo to po bohu lodě. Muže zasypala sprška třísek. Z hlubin se vydral zvuk podobný šílenému chechotu.</p>
  <p>Další muži začínali propadat pověrčivému strachu, Leif však neztratil odvahu: „Jsme bojovníci severu a žádné baby! Chopte se vesel! Ty Brojne hraj! I kdyby se z hlubin vynořila třeba sama Hel, její radost je předčasná! Poslední, kdo vytáhne meč, je u mě Balder.“ Jako na zavolanou se náhle na stěžni usadil černý havran. „Vidíte? Odin je s námi!“</p>
  <p>Nad lodí se rozlehl jásot.</p>

{% endblock %}