{% extends "post.html" %}

{% set title = 'Adventní drabble č.4 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.4</h2>

  <p>Průzory v jeho armetu mu umožňovaly jen úzký výhled. Byl jako ve světelném tunelu. Jeho obzor se nalézal v místě, kde se chystal jeho protivník, muž v červeném plášti. Neviděl tribuny po stranách kolbiště, ale vnímal zlověstné ticho, které je ovládlo. Každý divák už určitě shledával, že v tomto boji jde o víc než o běžnou turnajovou rivalitu.<p>
<p>Již podvakrát zlomili své dřevce. Dřevo se roztříštilo, ale oba stále zůstávali v sedlech. Poprvé od chvíle, kdy tento souboj započal, pomyslil na dívku, kterou s sebou přivedl. Věděl, že teď není vhodná chvíle na to přijmout tuhle myšlenku, ale když se mu vybavila její tvář a úsměv, cítil se šťastný.<p>
<p>A pak už mu do ruky vsunuli nový dřevec a herold opět vyvolal oba soupeře, aby zaujali postavení.
Trubka. Rozjeli se, koně odfrkávali, podkovy zaduněly. Blížili se k sobě tak rychle, že si sotva všiml, že jeho soupeř míří svým dřevcem na hlavu. „Dřevec je částí svého těla,“ slyšel v hlavě svého opatrovníka. „Musíš s ním slynout v jedno, pak ho budeš dokonale ovládat.“ Zhluboka se nadechl, nasměroval hrot zbraně a připravil se na náraz.<p>
<p>Ten přišel několik okamžiků později. Zaržání koní, ohlušující skřípot a bolest. A vědomí, že je stále v sedle, zato jeho soupeř spadl do šraňků.
Vydechl a zastavil koně. Jeho přilba byla promáčknutá dovnitř a cítil pálení vedle levého oka. Soupeřův dřevec se roztříštil, dlouhá tříska pronikla dovnitř a zarazila se mu pod kůži těsně vedle oka. Uslyšel hlas: „Král povolává vítěze, aby předjel před tribunu.“<p>

{% endblock %}