{% extends "post.html" %}

{% set title = 'Adventní drabble č.5 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.5</h2>
<center><b>Návrat</b></center>

<p>Rochelle se otočila za stínem věci která jí proběhla za zády. Dívala se na cosi co rozhodně nevypadalo přirozeně. Uhlově černá srst, trup jako pes, ale hlava jako by patřila pumě. Nesourodé tělo zakončoval dlouhý chvost. Ale nezdálo se, že by o ní ta věc jevila zájem. </p>

<p>Jako všechno v tomhle světě, pomyslela si. Kolem nebyly žádné barvy, vše bylo ponořené do téměř neprostupné tmy. I její hermelínově světlá pleť tu vypadala šedě a nevýrazně. Kolem vládlo nepříjemné ticho, jako by všechno kolem bylo mrtvé. Ani zvířata tu nevydávala žádné zvuky. Cestou potkala několik ztracených duší a některé hýbaly ústy jako by bolestně kvílely, navždy lapené v nekončící noční můře. Celé místo bylo sychravě chladné a nehostinné a ona již věděla, proč na tento svět padla ona nepříjemná funkce. Vlastně byl pro svůj účel naprosto dokonalý. Za její pobyt zde už jí tolikrát zachvátily deprese, že už nejednou nemohla popadnout dech k dalšímu pokračovaní.</p> 

<p>Věděla, že nesmí podlehnout šílenství tohoto místa. Byl by to předčasný a tragický konec a ona už si takový konec nemohla dovolit. Ne znovu. Opřela se o rozbořenou zídku. Už jen pár dní. Věděla kam přesně má jít. To byla její výhoda oproti ostatním obyvatelům lapeným zde. Mezisvětí. Šílené, prázdné místo, které naplňuje úzkost a strach těch, kteří tady uvíznou. Po krátké přestávce vyrazila dál. </p>

<p>Když dorazila k tmavému portálu, vstoupila dovnitř. A obyvatelé jistého Australského městečka byli poněkud vyvedeni z míry, když ze starého hrobu na kraji lesa vystoupila zelenooká dívka s havraními vlasy. </p>


  {% endblock %}