{% extends "post.html" %}

{% set title = 'Adventní drabble č.6 (2016)' %}

{% block content %}

  <h2>Adventní­ drabble č.6</h2>
<p><center>Nový svět</center><p>
Na počátku nebylo nic (několik miliard let nebylo nic). Pak se zrodil první bůh. Byl tak mladý a nezkušený, chtěl stvořit sobě přátele a však místo toho (ten idiot) stvořil démony. A však nevšímal si jich, nevěděl že tam jsou a ani nemohl. A proto tvořil dál. A stvořil lidi k obrazu jeho vyrážky na... Nuže lidé byli na světě, ale začali se jich zmocňovat démoni. A tak některým lidem dal moc, moc nad ohněm a vodou, zemí a vzduchem, blesky a zimou... Aby proti démonům bojovali. A ve válce dvou světů je porazili - tedy spíše oslabili. Po několika letech se démoni svou mocí pevně opřeli do lidí. Někteří mágové nebyli dost silní a démoni je ovládli naštěstí se vždy našel někdo kdo je přemohl. Ovšem mezi obyčejnými lidmi vypukla panika. A aby se zabránilo hroucení světa rytíři Delimu zbudovali Kruh. Kde uzavřeli mágy, předčasné možná to rozhodnutí. Rytíři Delimu se dívali po každém mágovi, dívali se jako kdyby jim měli ukrást dech od úst. Myslilli si že každému mágovi může najednou nárůst chvost a drápy a otočit se proti nim. Kruh však plnil svou funkci a nikoho nezajímalo že mágové za nic nemohou. Byli zamčeni před světem, snad navždy?

  {% endblock %}