{% extends "post.html" %}

{% set title = 'Drabble č. 11 (1. kolo)' %}

{% block content %}

  <h2>Drabble č. 11</h2>

  <h4>Žrout - kazihračka</h4>

  <p>Zpropadený králík! Býval hebký jak labutěnka, dokud ho nějaké trdlo neoslintalo a neožvýkalo natolik, že nejde vyprat...</p>

  <p>"Boryne! Ty parchante jeden, cos to zase provedl?!"</p>

  <p>Černobílá žíznivá čára se kolem mne pokusí prosmýknout, ale já ji drapnu za hřbet a bleskově jí jednu seknu přes zadek.</p>

  <p>"Au!" štěkne mezi marnými pokusy kousnout trestající končetinu.</p>

  <p>"Jak mě budeš pořád tlouct, seberu si svých pět švestek a emigruju někam!"</p>

  <p>"Kdo Tě tluče, ty psisko prolhaný, abych Ti jednu nestřihla!" pohrozím varovně vztyčeným ukazováčkem.</p>

  <p>"Ale vážně! Pořád mi něco zakazujete a všechno na mě svádíte! A to jsem v tom pokaždé úplně nevinně!!!"</p>

  <p>"A kam bys asi tak šel? Přeplaval na pevninu a nastěhoval se ke Cleganům, když už mají Tvé příbuzné ve znaku?"</p>

  <p>"Proč tak daleko?" ohrne znechuceně pysky. "Medvědí ostrov mám rád. Zkusím jen změnit prostředí a zabydlím se u moře."</p>

  <p>"Ale pendrek, Bořivoji! Co bys tam dělal? Žral ústřice a slanečky?"</p>

  <p>"A proč ne, já nejsem vybíravý jako NĚKDO... Sním vše..."</p>

  <p>"...jo, i hovno po sobě..."</p>

  <p>"Pfffrrrr!" zavrčí uraženě.</p>

  <p>"Dobře, po sobě ne, ale jinak? Občas jsem ráda, že ty kosti z Písečné skály nikoho nezajímají. Vždyť ty vykopeš a zdlábneš i je! A to jsou to jen kameny ve tvaru jídla!"</p>

  <p>Odpovědi zabrání vrznutí dveří.</p>

  <p>"Hele, něco letí. A z kuchyně! Nechceš se podívat, jestli to není poživatelné?" zeptám se nevinně. Po chvíli váhání se zvedne a dokluše na místo dopadu.</p>

  <p>"Víš co? Já tu nakonec snad i zůstanu," prohodí smířlivě, žvýkaje nějakou neidentifikovatelnou, těžce oslintanou dobrotu.</p>

  <p class="author"><b>Autor:</b> Miss Utahraptor</p>

{% endblock %}
