{% extends "post.html" %}

{% set title = 'Drabble č. 2 (1. kolo)' %}

{% block content %}

  <h2>Drabble č. 2</h2>

  <p>„Zpropadenej králík,“ vydechla Maruna a otřela si uslzené oči do kapesníku. „To bylo pořád miluju tě, miluju tě a pak zdrhl. Prejže emigroval z politických důvodů, ale není to pravda, jenom chtěl ode mě zdrhnout. Teď se už beztak sluní někde za mořem u nějaké mlaďoučké ostrovanky, takovou vykopávku jako jsem já nikdo nechce.“</p>

  <p>Růža vstala, aby objala svoji nešťastnou sestru. „Maruš, mladší muže nenazýváme králíky, ale zajíci. A stejně to byl takovej slizoun, ty máš na lepšího.“</p>

  <p>Nebyla to zrovna pravda, Maruně už dávno nebylo dvacet a kráskou byla vždycky nazývána právě Růža a ne její mladší sestra. Však se taky vdala už v sedmnácti a Bořivoje by ani teď nevyměnila za nikoho jiného.</p>

  <p>„Víš co,“ navrhla Růža Maruně, aby ji aspoň na chvilku zabavila. „Uděláme si salón krásy a dneska na tom večírku zaperlíš, jo?“ Aniž by čekala na odpověď, popadla stříbrné pouzdérko ležící na Marunině nočním stolku, vyndala chlupatou labutěnku a začala své sestře pudrovat tvář.</p>

  <p>„Budeš nejkrásnější a nedáš spát Miroslavovi, Květoslavovi ani Bohuslavovi, sestřičko. Ještě uděláme drdol a bude to bez chyby. Ten večírek bude prostě parádní, uvidíš. Řekneme si o slanečky, utopence, buřty, na chuť nějaký citronový zákusky a lékořicový pendreky, prostě večer na úrovni.</p>

  <p>O slanečcích se ale Růža neměla zmiňovat. Maruna si znechuceně vyndala ozdobný hřeben z hlavy, zadívala se z okna a jenom zasněně pronesla: „Slanečky, utopenci, buřty.“</p>

  <p class="author"><b>Autorka:</b> Seans</p>

{% endblock %}
