{% extends "post.html" %}

{% set title = 'Drabble č. 3 (1. kolo)' %}

{% block content %}

  <h2>Drabble č. 3</h2>

  <p>To je na pendrek! Z jakého zpropadeného králíka je vyrobena ta labutěnka pomyslela si Cersei a vztekle s ní mrskla do kouta. Upřela do zrcadla nespokojený pohled a podezíravě zkoumala svou pleť. Poslední dobou měla kůži vysušenou jak slanečka. Vrásky ji v současnosti trápily více než války a rebelie. Zatracení kněží! Přece jen jim neměla dávat větší moc. Nyní se to obrátilo proti ní. Kolik nových vrásek ji stálo to ponižující uvěznění. Ale s nima si to vyřídí později.</p>

  <p>Jestli nezabere omlazovací kúra toho cizince, mistra Bořivoje, brzy jí snad nezbude, než emigrovat za moře, kde ji nikdo nezná, protože bude vypadat jako jedna z těch obstarožních vykopávek, kterými se to u dvora jen hemží. Zadívala se s nadějí na tmavý flakónek se zabroušenou zátkou, který stál před ní. Kolem hrdla měl uvázanou hrubou nit s rozevírací pergamenovou kartičkou. Cersei si ji dříve neprohlédla, ale teď ji zaujalo, co je na ní vůbec napsáno. Na vnější straně byly jakési okultní značky a mezi nima stálo: Příbalový leták. Rozevřela kartičku a četla dál: Dávkování – co kdo snese. Podezíravě přimhouřila oko, a pak se rozhodla, že když to nezabere, vždycky může dát mistra Bořivoje na hraní Qyburnovi. V očích se jí zablesklo. A ty odporné septy taky!</p>

  <p class="author"><b>Autorka:</b> Livtrasi</p>

{% endblock %}
