{% extends "post.html" %}

{% set title = 'Drabble č. 6 (1. kolo)' %}

{% block content %}

  <h2>Drabble č. 6</h2>

  <p>Daleko za Úzkým mořem, v zemi emigrantů, slanečků a rychlých šípů, ve Vesnici, která vždycky spí, žil kdysi Bořivoj, za lehkého sněžení zrozený, Spálený, král Gadžů, Otec draků, Matka zpropadených králíků a Pratetička Chundelatých psů – labutěnek. (pozn. Autora: povídka může mít max. 250 slov, tak mi snad odpustíte, když bude v dalším textu znám pouze jako Bořivoj.)</p>

  <p>Bořivoj měl od mala velkou slabost pro historii a tak nikoho, kdo byl zrovna vzhůru, nepřekvapilo, že si v dospělosti založil soukromé pískoviště, vznešeně pojmenované Vykopávky a tam si hrál celé dny na doktora Granta. Pořídil si klobouk, lopatu, pendrek a pustil se do práce. Roky plynuly a on stále nic nenacházel. Až jednoho dne přijel za ním zdaleka Gerion Lannister – velký blondýn s černou botou. </p>

  <p>„Slyšel jsem, že tady ve Vykopávkách hledáš nějaké artefakty.“ V tu chvíli bylo Bořivojovi jasné, že po něm ten divný chlápek něco chce. „Možná. Kdo jste a co chcete?“ Zeptal se Bořivoj. „Ale, strejda Tommen tu byl kdysi na dovolené, a někde tu ztratil takovou pěknou železnou mačetu. Asi takhle dlouhou, z Valyrijské oceli, s nějakými čmáranicemi na čepeli. A jak říká můj bratr: Lannister vždycky najde, co někde zahrabal. Rád bych, abyste mi ji pomohl vyhrabat.“ Tak se stalo, že Bořivoj zahodil pendrek, strhnul ze zdi plakát dokrota Granta, koupil si bič, a na zdi skončil Indiana Jones.</p>

  <p>Ale Gerion a Bořivoj kopali příliš chamtivě a příliš hluboko, až nakonec probudili Žlutý tentononc s pěknou básničkou uvnitř. A jestli neumřeli, schovávají se tam s Miláškem dodnes.</p>

  <p class="author"><b>Autor:</b> Everett Young</p>

{% endblock %}
