{% extends "post.html" %}

{% set title = 'Drabble č. 7 (1. kolo)' %}

{% block content %}

  <h2>Drabble č. 7</h2>

  <p>Mladý Jiný Bořivoj zamyšleně kráčel lesem. Jeho kmen už delší dobu trpěl hladem. Lesní zvěř byla v neustálé zimě, kterou s sebou přinášeli, pořád zřídkavější. Předevčírem spotřebovali poslední zásoby divočáka a včera měl Bořivoj jen jednoho zpropadeného králíka. Ještě měl v tajné skrýši uloženou zásobu slanečků, které si ve volném čase připravil, těch dobrých, s mořskými řasami, ale ani ty nevydrží věčně. A tak ty staré vykopávky v Ledové radě rozhodly, že Bořivoje s několika dalšími mladými válečníky vyšlou na průzkum na jih.</p>

  <p>Bořivoj si ztěžka povzdechl. Zima, kterou jeho druh šířil, jim dělala mnoho potíží, ale byla nenahraditelným pomocníkem při tichém postupu. I teď se z nebes jako pudr na labutěnce snášel jemný sníh a tlumil jeho těžké kroky. Najednou mezi stromy zahlédl blikotání plamenů. Modré oči se mu rozšířili překvapením. Lidé! Kde se tady berou tak daleko na severu? Sáhl po meči, který měl zastrčený za opaskem jako pendrek a vrhl se na ně. Po tolika tisících let lidská krev opět tekla po rtech Jiného.</p>

  <p>A tak započala emigrace Jiných na jih do říše lidí.</p>

  <p class="author"><b>Autor:</b> Arutha</p>

{% endblock %}
