{% extends "post.html" %}

{% set title = 'Drabble č. 9 (1. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>

  <p>Rytíř Bořivoj Trávovec smutně seděl u večerního ohniště a melancholicky hleděl do plamenů. Bezmyšlenkovitě obracel na provizorním rožni toho zpropadeného králíka, jež ho zuřivě podrápal, když ho vytahoval z oka. Jenže už měl dost slanečků, které musel jíst celou cestu přes Úzké moře. Kéž by nemusel emigrovat. Jenže on musel. Dvořit se sličné Margaret. Jaký byl blázen. Mohl tušit, že to lord Tyrell nenechá jen tak. Znovu si vybavil turnaj, kde ji prvně spatřil pootevřenou chlopní stanu. Právě si labutěnkou pudrovala svůj rozkošný nosík. Blázen byl, učiněný blázen! Nenápadně ji sledoval, kamkoliv šla. Ale pak si ho všimla ta stará vykopávka, její babička! A byl konec jeho mladickým nadějím. Možná kdyby se tehdy neserval se strážemi, když ho chtěli vyslechnout, co tam pohledává. Kdyby jednoho z nich nezmrzačil, mohlo to projít. Takto dostal na výběr jen Zeď a nebo vyhnanství. Jenže být členem Noční hlídky je na pendrek, protože je to navždy. Takto má stále ještě šanci na normální život. Skoro normální. Ale kdyby vykonal něco hrdinského, něco v zájmu Západozemí. Kdyby se zasloužil o království! Myšlenky plné snů o vykonaných skutcích, které mu otevřou cestu zpět se rozběhly jako hříbata po jarní louce. Ano, přesně to musí udělat! A začne ještě dnes! Nebo tedy hned zítra.</p>

  <p class="author"><b>Autor:</b> Livtrasi</p>

{% endblock %}
