{% extends "post.html" %}

{% set title = 'Drabble č. 1 (3. kolo)' %}

{% block content %}

  <h2>Drabble č. 1</h2>

  <p>Když mu sundali pásku z očí, Osney předpokládal, že se stále nachází v Bleším zadku, ale s jistotou mohl říct jen to, že v nějakém podzemním sklepení. Usoudil tak podle kamenné klenby v místnosti, kde stál. Za stolem seděla žena neurčitého věku, v pláštíku sešitém ze samých potkaních kožek i s ocásky. Nepochybně šéfka podsvětí Krisa, zvaná též Majzlík, osobně.</p>

  <p>„Tak copak mi chceš?“ ozval se nachřáplý hlas.</p>

  <p>„Můj pán, kterého nemohu jmenovat, potřebuje urgentně Slzy z Lysu. Poslal mne za tebou, protože,“ Černokotlý polknul, „předpokládá, že nějaké asi máš.“</p>

  <p>Krisa se šeredně usmála.</p>

  <p>„A na copak Malíček potřebuje tak rychle Slzy z Lysu?“</p>

  <p>Osney vyvalil oči. „Jak to víš?“ vyhrknul.</p>

  <p>„Já vím lecos,“ mlaskla Krisa spokojeně.</p>

  <p>„Dostaneš je dnes večer v Baelorově septu. Čekej u oltáře Panny s váčkem tři sta tři a třiceti zlatých dragonů.“</p>

  <p>„Ale to je celé jmění,“ vyhrknul Osney.</p>

  <p>„Pro správce královské pokladny maličkost,“ ušklíbla se Krisa.</p>

  <p>Dveře se otevřely a nějaký vagabund s obličejem poďobaným od neštovic vpadnul dovnitř.</p>

  <p>„Je tu Pádloun ohledně toho nákladu pšeničky, šéfko.“</p>

  <p>„Ještě jednou mi vlezeš doprostřed obchodního jednání a pošlu tě na vandrovku do chudinské polévky!“ zasyčela zlověstně.</p>

  <p>Za poďobancem bleskově zapadly dveře.</p>

  <p>„Jsme tedy dohodnuti. A žádné podfuky! Řekla jsem tři sta tři a třicet zlatých dragonů, jinak,...“ Palcem ozbrojeným dlouhatánským nehtem, připomínajícím spíše pařát, si přejela po krku. „Zavažte mu oči a vyveďte ho,“ přikázala chraplavě.</p>

  <p>Zatímco mu zavazovali oči, přemítal, jestli si má blahopřát nebo se děsit, co mu pán řekne na tu láci. </p>

  <p class="author"><b>Autorka:</b> Livtrasi</p>

{% endblock %}
