{% extends "post.html" %}

{% set title = 'Drabble č. 3 (3. kolo)' %}

{% block content %}

  <h2>Drabble č .3</h2>

  <h4>Jak šel Samwell na vandrovku</h4>

  <p>„Tři sta tři a třicet dní. Pokud se do té doby nevrátíš, provdám tu tvojí Fialku za nějakého nevýznamného sedláka z vedlejší vsi.“ Tak zněl rozsudek Randylla Tarlyho. Samwell měl přesně tolik času, aby došel do Podsvětí, vyhledal tam královnu Krisu (která lstivě zavraždila Háda) a přinesl od ní čtyři posvátné artefakty:  Majzlík, polévku, pšeničku a pádlo.</p>

  <p>A tak se Samwell vydal na cestu. Šel mnoho dní, a cestou zabil mnoho strašlivých příšer, jako třeba Medúsu, která si při pohledu na Samwella raději sama usekla hlavu a následně se s její pomocí proměnila v kámen. Pak také Kerberose (když nic není, i pes přijde k chuti), obra a spoustu dalších otravných potvor, které už ani nepočítal.</p>

  <p>Pak došel do Podsvětí. Shodou prapodivných nehod a náhod (při nichž nechtěně zredukoval populaci podsvětí téměř na polovinu) se dostal až ke Krise. „Posílá mě můj otec, lord Tarly. Mám od vás přinést čtyři posvátné artefakty. Myslím, že jedním z nich bylo veslo.“  V tu chvíli po něm Krisa hodila majzlík. Když ho netrefila, aspoň ho polila polévkou a pak dostal ránu pádlem po hlavě. Když už pak neměla co dalšího, kromě pšeničky by po něm hodila, došlo i na tu. Pak mu hodila i pádlo a nechala ho vykázat pryč.</p>

  <p>Samwell se pak hrdě vrátil domů, s boulí na hlavě a polévkou všude. Randyll uspořádal obrovskou svatbu (na kterou se dostavila i Krisa, protože prostě musela být na něčí svatbě) a při krásném obřadu nezůstalo jedno oko suché.</p>

  <p class="author"><b>Autor:</b> Everett Young</p>

{% endblock %}
