{% extends "post.html" %}

{% set title = 'Drabble č. 4 (3. kolo)' %}

{% block content %}

  <h2>Drabble č. 4</h2>

  <p>Chrisalína Tarlyová, které nikdo v Parožnatém vrchu neřekl jinak než Krisa, otevřela oči a smutně si povzdechla. Od doby, co byl její velký brácha pryč, to bylo doma nanic. Ještě teď si pamatovala ten pocit, jako by jí někdo vzal majzlíkem po hlavě, když jí máma s pláčem říkala, že si Sam sbalil věci a odešel na vandrovku. Chrisalína ale tušila pravdu. Tři sta tři a třicet krát viděla, jak si otec Sama zavolal do své komnaty, ale nikdy ho po návratu neviděla tak zkroušeného jako ten večer.</p>

  <p>Že byl pro otce zklamáním, nebylo na hradě žádné tajemství. Než aby cvičil boj s mečem nebo jízdu na koni, vždycky se schovával ve svém pokoji s hromádkou knih, nebo se vkradl do kuchyně pro misku polévky či svůj oblíbený pšeničkový chlebík. Pro Krisu byl vždycky spíš jako sestra, které se důvěrně svěřit, než že by k němu vzhlížela jako k mužnému bratrovi. Právě proto ho ale měla tak ráda. Když byla ještě malá, Sam za ní častokrát v noci přišel a vyprávěl jí pohádky ze svých knížek, o chrabrých rytířích a stvůrách z podsvětí.</p>

  <p>Krisa vstala, přešla k oknu, a zadívala se k obzoru, na sever, kde věděla, že někde její bratr je. Drž se Same. Jednou z tebe ještě bude hrdina, pomyslela si se slzami v očích.</p>

  <p class="author"><b>Autor:</b> Arutha</p>

{% endblock %}
