{% extends "post.html" %}

{% set title = 'Drabble č. 8 (3. kolo)' %}

{% block content %}

  <h2>Drabble č. 8</h2>

  <p>Eddard seděl v temnotě své kobky, hluboko v podsvětí Rudé bašty. Přemýšlel o Varysovi, který právě odešel. Přemýšlel nad jeho nabídkou a zvažoval pro a proti.</p>

  <p>Vlevo u zdi to zašustělo.</p>

  <p>„Už ses vrátila, Kriso?“ Uvědomoval si, že se jedná o potkana, ale když už ho to jméno napadlo, tak ho nebude měnit. Jako by na tom snad záleželo. Strávil tu třicet dní nebo tři sta tři a třicet? Ani na tom nezáleželo. I ve tmě rozeznával zářící vypoulená očka zvědavého potkana.</p>

  <p>„Přišla sis pro zbytek polévky?“</p>

  <p>Potkan na něho kouknul a šinul si to k misce.</p>

  <p>„Kéž bych i já mohl tak nenápadně zmizet jako ty,“ posteskl si Eddard. „Ale to bych musel mít pilník nebo majzlík a nejlépe klíč.“</p>

  <p>Krisa samosebou nic neřekla a dojídala zbyteček jídla.</p>

  <p>„Divím se ti, že žiješ tady a ne venku v polích, kde jsou sýpky zlaté pšeničky,“ pokračoval v domnělém dialogu a myšlenkama bloudil po severních panstvích, kde by se toulal v lesích a polích. Ale věděl, že to už zřejmě možné nebude. Bratři Noční hlídky na zdi se nemohou vydat na vandr, kdy se jim zachce. Ale aspoň se vrátí na Sever. To bylo velmi uklidňující. A uvidí se s bratrem.</p>

  <p class="author"><b>Autorka:</b> Livtrasi</p>

{% endblock %}
