{% extends "post.html" %}

{% set title = 'Drabble č. 9 (3. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>

  <p>Išla Krisa na vandrovku. Ptají se: „Japato?“. Inu, to bylo tak:</p>

  <p>Jedneho ošklivého rána, kdy chcalo, že by psa nevyhnal, se naše chlupatá hrdinka pracně vyhrabala z kutlochu jen proto, aby její dlouhý nosík zavadil o nakyslý zápach kazící se polévky- posledního pokrmu v domácnosti. Hlady jí zaškrundalo v kulatém bříšku a po chvíli bystré, slídivé očko, tmavé jak kučery Jona Sněha, zaměřilo zelenavou pšeničku, vlnící se v mírném vánku za opatlanými skly okna světničky. A poněvadž Krisa je tvor původně zrnožravý, zrodil se jí v hlavě nápad na zajištění obživy na celou zimu.</p>

  <p>Popadla torničku s náčiním, vyběhla ven a jala se žnout promočený lán- liják- neliják. Tu nad ní zahřměl lidský hlas. Motyčka zasvištěla a dopadla těsně vedle holého ocásku. Vyděšená potvůrka se chtěla dát na úprk, ale to už se dvounožec rozmachoval podruhé. Muselo při ní stát všech tři sta tři a třicet krisích svatých a nebo rovnou celé podsvětí, poněvadž útočník na mokré půdě uklouzl a s výkřikem překvapení se rozmázl na zemi. Krisa však nezaváhala, vyskočila, a křiklounovi jednu majzla po palici. Ještě štěstí, že pracovní tornička obsahovala krom srpu a kladiva i malinký majzlík.</p>

  <p class="sep">***</p>

  <p>Těžké kapky dopadaly na rozblácenou cestu a máčely šedivý kožíšek prchající vražedkyně. Na malém klacíku položeném přes chlupaté ramínko se pohupoval uzlík s tím nejdůležitějším. V propadlém bříšku zakručelo a tlamička se zalila slinami při vzpomínce na vylitou zkaženou polívku. V dáli problesklo hřejivé světýlko. Hostinec. Snad bude nakonec v tom světě přece jen líp.</p>

  <p class="author"><b>Autorka:</b> Miss Utahraptor</p>

{% endblock %}
