{% extends "post.html" %}

{% set title = 'Drabble č. 1 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 1</h2>
<p>Celegorm

<p>„Nedívaj sa tak na mňa.“</p>
<p>Huan sa zapozerá ešte vyhrešujúcejšie, srsť naježená, uši do strán, pysky čiastočne odhrnuté. Krv na mojej koži inokedy vždy zlízal, ale po boji v Alqualondskom prístave neprichádza, len odmerane stojí stranou.</p>
<p>„Aj toto bol lov. Na lode.“</p>
<p>Nie.</p>
<p>Vo veľkých ligotavých očiach zahliadnem odraz ruín Formenosu, jediného dokatovaného tela a otcovho náreku nad ním. Rozhorčenie zmiešané s odporom mi zovrie v žilách. Zamietavo hodím rukami.</p>
<p>„Skúšali sme to po dobrom! Ale keď odmietli, nedali nám inú možnosť.“</p>
<p>Unavene si pretriem tvár a rozmažem červeň voňajúcu železom.</p>
<p>„Mala to byť len krádež. Vymklo sa nám to z rúk. A potom... Keď už došlo na straty na životoch, museli sme uspieť. Za každú cenu.“</p>
<p>Každú? Kam až mieniš zájsť?</p>
<p>Zmeraviem. Ale odpoveď je jasná ako hrot oštepu. Ruku spustím, plecia narovnám a pohľad opätujem.</p>
<p>„Kam musím. Kam otec povedie. Sme svorka.“</p>
<p>Myslím tým aj jeho.</p>
<p>Tá sa trhá.</p>
<p>Matkine slzy, tieň zavraždeného v sieňach pokoja v zemi, z ktorej sa chystáme navždy odísť, hádka medzi otcom a strýkom.</p>
<p>Miesto nej vidím okovy prísahy. Ja som neprisahal. Ani ty si nemal.</p>
<p>Zovriem čeľuste a snažím sa prehovoriť pevne.</p>
<p>„Späť to už nevezmem. Čo ty?“</p>
<p>Kedysi behával v stopách Oromeho. Dokým nevyplávame, môže sa vrátiť k vtedajšiemu pánovi. Ďalší záblesk už neprečítam. Prirýchlo oči zavrie a pristúpi ku mne.</p>
<p>Nechcem.</p>
<p>Prečítať som nestihol, no tušenie zasial a už klíči. Nechce, ale raz odíde. Zaborím prsty a tvár do hustej srsti a neviem, či dusím vzlyk, alebo vrčanie.</p>

 {% endblock %}
