{% extends "post.html" %}

{% set title = 'Drabble č. 12 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 12</h2>
<p>Do hostince dorazila bolavá, prochladlá a hladová. Opatrnost jí radila usadit se do vzdálenějšího rohu, kde nebyla moc na očích a zároveň měla přehled o většině dění v místnosti. Teplo ohně plápolajícího v krbu, praskot dřeva a vůně masa opékaného na rožni měly blahodárný účinek na neklidné nervy a nálada se jí zlepšila o několik stupňů. Okamžitě si hostinskému řekla o plný talíř polévky, guláš a svařené víno.</p>
<p>Když teď seděla nad jídlem a spokojeně polykala, mohla trochu přemýšlet. Člověk, kterému měla předat klíček, tu určitě ještě není. Nikoho z tehdejších hostů by nehádala na královského posla. Kupci, místní sedláci a nějací kejklíři, patrně mířící na jarmark. Nikdo jí nevěnoval pozornost, což ji jako ženu se sklony k hříchu poněkud uráželo, ale měla by být ráda. Problémů měla už tak dost.</p>
<p>Jenže ví ona, jak takový posel vypadá? Je to rytíř v brnění nebo spíše nenápadný člověk v kápi? Včera se do lesní chalupy jejího otce doplazil muž zraněný šípem. Zemřel, ale předtím jí předal klíček, který teď nesla schovaný za živůtkem. Kromě toho také váček peněz. Pravda, ten jí nepředal zcela výslovně, ale ona mu přece chtěla pomoci. Když ne živému, alespoň zachránila jeho čest, tak nějak zněla poslední slova. Předat klíček v tomto hostinci bylo nebezpečné a tak bylo přece spravedlivé, aby něco použila pro sebe.</p>
<p>„Máš něco, co patří nám, děvče,“ ozval se tichý hlas tak náhle, že div nevyskočila. „Dej nám to nebo si přijdeme sami.“</p>
<p>Jeden z kejklířů, vůbec netušila, jak se ocitl vedle ní.</p>


 {% endblock %}
