{% extends "post.html" %}

{% set title = 'Drabble č. 13 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 13</h2>

<p>Byl zmatený. V jednu chvíli přijímal rytířský hold od Blančina otce za to, že zachránil jeho dceru ze zakletí. Prý hříchům kurfiřta a jeho čaroděje odzvonilo, a to díky jemu. Pak se k němu Blanka naklonila a vtiskla mu do ruky malý klíček. Něco mu tiše říkala, ale pak vše okolo zčernalo, ochladilo se nejméně o deset stupňů a Petr se propadl do nicoty.</p>
<p>Teď seděl na lavičce u dětského hřiště, zatímco opodál se Líza muchlovala s kamarádčiným pejskem. Celé to byl jen sen, pomyslel si. Dívka v modrém, obluda, minulost. Škoda. Tehdejší doba by mu dala šanci být hrdinou, ucházet se ruku sličné Blanky a vůbec všechno to, o čem se píše v knihách. Jenže je všední den odpoledne jeho doby a on má nejvyšší čas, aby stihl plavání. „Lízo,“ zavolal celý neklidný a smutný na sestru. „Musíme jít.“</p>
<p>„Přijdeme za chviličku,“ odvětila Líza.</p>
<p>„Nemám čas, teď hned,“ řekl tak přísně, jak mu jeho věk dovoloval. Zvedl se, ale cosi jej píchlo. Má něco v kapse. Chtěl do ní sáhnout, ale cukl sebou, když zahlédl svou dlaň. Stále nesla stopy poranění způsobené sklem. Pak z kapsy vytáhl předmět, který jej tlačil. Byl to klíček, ten od Blanky, dívky v modrém z jeho snu.</p>
<p>Do kterých dveří asi patří? Podle tvaru by s ním klidně mohl otevřít jejich vchod. Jako omámený došel k němu a vsunul klíček do zámku. Pasoval dokonale. Vzal za kliku a dveře se otevřely.</p>
<p>Ucítil vůni jejích vlasů a vzápětí mu její úsměv rozehřál srdce.</p>

 {% endblock %}
