{% extends "post.html" %}

{% set title = 'Drabble č. 14 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 14</h2>
<p>Freya</p>

<p>„Odmítám být poslušná zajetkyně těch, jež nás napadli a snesli ze světa mé milované!“</p>
<p>Odův obličej ji probleskl před očima. Pohřešoval se. Byla si jistá, že jejich vinou. Musí najít jej, nebo jeho ostatky. Frey ji obejmul a z tváří ji setřel slzy stejně zlatavé jako jeho a její vlasy a matčin náhrdelník na Freyiných prsou. Nosila jej, odkdy ta, jež jí dala život, sestoupila do Helheimu ještě na začátku války.</p>
<p>„Nehledej v tom potupu, sestro. Oni zaplatí nám výkvětem svých lidí taky,“ řekl chlácholivě. K Vánům měli přijít Honi a Mím.</p>
<p>„Válka nás vyčerpala, potřebujeme klid. Jsme vůči nim zranitelní. A oni jsou zas závislí na nás.“</p>
<p>Ásové měli své zbraně, ale s dary země to líp uměli Vánové.</p>
<p>„Odin to ví. Proto vymyslel tuhle dohodu. Je to i naše příležitost. Uděláme je svými a pak se zaštítime jejich sílou proti jim podobným. Ásů se bojí Jotuné, zpátky se drží i žhnoucí zkáza kolem Surtra. Netroufnou si ani Álfové, kteří tehdy přihlíželi z povzdálí brousíc si zuby na zbytky. Je to minulost tak jako mrtví. Musíme teď myslet na budování spojenectví a zajištění prosperity.“</p>
<p>Ano, to umí. Otec je pánem moře a ona s bratrem vládnou jaru. I teď mezi nima zavoněla svěžest býlí.</p>
<p>„Dobrá, přijdu tedy žít na jejich panství. Přiměju je líbat stezku, po které projdu, neboť z mých stupají bude klíčit poživeň, přiměju je pokleknout před mým lůnem, v němž tone veškerá výbojnost, přiměju je sklonit hlavy pod mou rukou, kterou splétám čáry.“</p>
<p>Seidr. Uměla jím pobláznit smysly, odekrýt taje, přimět zvěr a živly ke službě, uřknout z povzdálí.</p>
<p>„No patřit budu pouze sobě. Znovu se neprovdám.“</p>
<p>Bratr vážně přikývl.</p>
<p>„Stojím při tobě.“</p>


 {% endblock %}
