{% extends "post.html" %}

{% set title = 'Drabble č. 17 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 17</h2>
<p>Mistr Martel začal na biskupský průvod mávat. Než však stačil cokoli říci, okno jeho dílny prorazilo něco těžkého, proletělo to se zahvízdnutím vzduchem až ke katedrále, kde to dopadlo na stupně těsně před biskupa Romana. Martel zesinal. Byla to hlava biskupovy sochy.</p>
<p>Její naštěstí živý model koukal na první výsledek řádění oživlého chrliče s otevřenými ústy. „Co to má znamenat, mistře Martele?“ vypravil po chvíli. To už se ale na ulici linula vůně hořícího dřeva a dveře dílny se rozletěly na třísky.</p>
<p>Odpusť nám naše hříchy tehdejší, nebeský otče,“ kvílel Pavel, klečící v písku a modlící se. Nebýt Chlodose, stala by se mu osudným další socha vymrštěná rozzuřeným chrličem, tentokrát Panna Marie. Pohanský učeň svého přítele popadl a schoval se s ním za roh.</p>
<p>„Přijdeme o dílnu,“ bědoval Martel při pohledu na plameny, ale vzápětí se také běžel schovat, když ven vykoukla nestvůrná hlava.</p>
<p>Chrlič při pohledu na biskupský průvod zařval. Neklidný zástup se rozutekl včetně strážných, jen biskup a odsouzenec zůstali na místě.</p>
<p>„Klíček,“ zakřičel odsouzenec. „Sundej mi řetězy.“</p>
<p>Biskup, napůl v šoku, beze slova poslechl. Odsouzenec popadl to nejbližší, co se dalo použít jako zbraň - byl to upuštěný velký železný krucifix - a vrhl se na netvora. Ten sotva stačil na muže otočit svou ohyzdnou hlavu a už mu ostrý konec krucifixu použitý jako kopí vjel do chřtánu.</p>
<p>Příšera vydala příšerné hrdelní zachrchlání a zcepeněla.</p>
<p>Romanus váhavě došel k mrtvole. „Uděluji ti svůj biskupský pardon,“ řekl odsouzenci, „ale všude potvrdíš, že jsem to zabil já.“ Pokřižoval se.</p>


 {% endblock %}
