{% extends "post.html" %}

{% set title = 'Drabble č. 18 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 18</h2>

<p>I.</p>
<p>Říkali tomu Palác překování hříchů, ale bylo to vězení. V tehdejším podání předstupeň pekla. Prach drsnou syrovost neměl rád, ale i tak raději nazýval věci pravými jmény. Jako třeba krádež zpronevěra, zrada, ztráta důvěry… Při troše štěstí se však na nic z toho nepřijde. Toužil mít to všechno už za sebou. Neklidně tiskl v dlani klíček od Pakambalovy cely a rychle kráčel směrem k ní. Musel spěchat, klíč rychle vrátit na místo. Věřil, že se mu to podaří. Jeho superschopnost byla nudnost. Halila ho stejně dobře jako neviditelný plášť. Nikdo se na něj nepodíval podruhé, splýval s pozadím. Druhou vrstvou ochrany byl jeho úřednický vzhled. Jakoukoli vládní budovou procházel, nikdy tam nepůsobil nepatřičně. Ani teď ho nikdo nezastavil. A třetí superschopností byla dokonalá paměť. Bez zaváhání našel správnou celu a také věděl, jak nepozorovaně vězně vyvést ven z budovy. Záchrana na poslední chvíli. Necítil se jako hrdina, spíš jako by měl chřipku – nepříjemně. I tak byl pečlivý: vzduchem zavlál pach strojního oleje, vzápětí Prach hladce odemkl dveře. Polohlasem zvolal: „Rychle, Antivýroku! Vůně svobody čeká!“ Pakambala zareagoval duchapřítomně a oba proklouzli bez potíží, skoro nehlasně, ven ze žaláře. Každý měl svůj způsob, jak se chovat tiše a nenápadně. Antivýrok mrštně atletický, Prach úsporný a praktický. Prach byl rád, že si jeho přítel z mládí nechal slova díků až do bezpečí. Jednak museli jednat rychle a tiše, jednak mu to bylo trapné.</p>

<p>Co se týče Pakambaly, jeho osvobození ho trochu překvapilo. Ovšem když venku jako spoluspiklence uviděl Obzora Tunela, byl v šoku.</p>
<p>
---
</p>
<p>II.</p>
Obzor se necítil ve své kůži. Přesněji – připadal si jako stažený z kůže. Věděl, že jedná v rozporu se svým horším já, což se mu se vší pravděpodobností vymstí. On, kterému žádný ze základní sady hříchů nebyl cizí, se zamiluje jako studentík. A na základě toho se připletl do ušlechtile hrdinských záchranných aktivit – rozuměj: do pěknýho průseru. Nikdy neměl sklony k romantickým vztahům a princezna Drůza ho nezajímala jinak, než jako komodita na seznamu „má-dáti-Nejmenovanému“. Nechávala ho chladným. Tehdy, než se s ní setkal osobně. Nejprve ho rozpalovalo vzteky doběla její chování, později v něm vzplál jiný plamen. Připadala mu jako pitomá rozmazlená holka. Ale jak kolem něj hopkala, usmívala se, klopila oči, nebo je na něj upírala a říkala, jak i on přeci musí v sobě mít něco ušlechtilého a nezkaženého… Nějak se v něm srazily vyšší cíle s nízkými choutkami a bylo to. Musel si přiznat, že do ní totálně zblbnul. Kývl na její plán, což ukazuje, že je ještě o pár stupňů pitomější než ona. I když mu bylo jasné, kolik je v tom slabin a nesmyslů, stejně do toho šel. Udělala z něj loutku na klíček. Rozčilovalo ho to, uvnitř zuřil, ale nemohl si pomoci. Jeho neklid unikal jen jako varovné skřípání zubů a ještě podrážděnější, piraňovitější jednání s ostatními. Všichni se od něj odtahovali, jen princezna si toho nevšímala. Klidně přišla, protančila kolem něj, zahalena do obláčku vznešených úmyslů a vůně heřmánkového šampónu, položila mu dlaň na předloktí a odhodlaně prohlásila: „Čínský drak, pane Tunele!“</p>
<p>
---
</p>
<p>III.</p>

<p>Princezna Drůza položila dlaň Obzorovi na předloktí a odhodlaně řekla: „Čínský drak, pane Tunele!“ Tehdy se na něj usmála tak, že přišel o soudnost a souhlasil.</p>

<p>„To je trest za všechny moje hříchy!“ Pořád napůl nevěřil, že prchají z města během jakéhosi folklórního svátku pod rouškou rázovitého převleku - čínského draka. Tunelovi se do očí řinul pot, dělaly se mžitky, uši zaléhaly chrastivým, pištivým hlukem vydávajícím se za hudbu. Pod tím hadrem muselo být aspoň padesát stupňů. Přes to, že hlavou tohohle bláznivého podniku byla vlastně Drůza, která ho vymyslela a zorganizovala, Obzor dělal dračí hlavu. Šel v čele, mžoural vystřiženými otvory před sebe a dbal, aby drželi směr a nespadli do škarpy. Za ním funěl a mlaskal první ze třech tryskohlemýžďů vycvičených do lilastepi. I ti byli součástí jejich plánu na únik z města, ze spárů Nejmenovaného. Naneštěstí i součástí dračího průvodu. Ve všeobecném reji a hluku se rámus, co ty bestie nadělají, ztratí. Větší strach měl, aby vůně rachejtlí ze slavnosti příliš nezneklidnila předrážděná zvířata a ta se nesplašila. Neměl chuť se nechat uvláčet, jakkoli by neohrožené hrdinství mohlo být klíčkem k Drůzinu srdci. Proto na vedoucí pozici nesměl zklamat. Spolu s hlemýždi s ním pod monstrózní dračí konstrukcí kráčí (v jeho očích stále krásnější) Drůza a taky Pakambala (vlastně zbytečná zátěž. Obzor se zatím nevyrovnal s faktem, že právě Pakambalu nejprve zajal – za peníze. A teď ho – zcela zdarma - osvobozuje.) Cítil v zádech vlnivý pohyb všech protagonistů dračí figury, tak zaťal zuby a naskočil na rytmus.</p>

 {% endblock %}
