{% extends "post.html" %}

{% set title = 'Drabble č. 20 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 20</h2>
<br>Na horskou paseku osvětlenou různobarevnými lampiónky vyšly dvě zasloužilé čarodějky.
<br>„To jsem ráda, že jste přišly. Jste první,“ vítala je Magráta, organizátorka výročního zasedání čarodějek Hor Beraní hlavy. Sama tomu v skrytu duše říkala „coven“.
<br>„My víme,“ hlaholila Stařenka Oggová a hrla se k prostřeným stolům, zatímco Bábi Zlopočasná se zastavila na půl cesty a upřela zkoumavý zrak na dominantu paseky – veliký kotel z něhož po stranách visely snad fialové punčochy. Nahlédla dovnitř a spatřila mydlinkovou vodu nazelenalé barvy.
<br>„Pereš?“ optala se zaujatě Magráty.
<br>„Ale ne,“ zakvílela tázaná, „tolik jsem chtěla něco stylového, kotel s bublajícím zeleným slizem a kroutící se fialová chapadla, a…všechna pěna už vyprchala a…ach jo“, sklesle vzdychla.
<br>„To není důležité,“ poklepala ji Bábi po rameni a zamířila za Gytou.
<br>Magráta si neklidně třela mozol od vysekávacího strojku s motivem netopýra a pohledem kontrolovala girlandy z krepového papíru. Možná to nebyl nejlepší nápad do terénu - vlhké a větrné počasí její dílo poněkud degradovalo.
<br>„Stařenko, rovnáš ty dortíčky na talíře stejnoměrně?“
<br>„Uchm, fhmmmmlask, jistě drahoušku, já ty podnosy trochu zarovnávám. Byla by škoda, kdyby takové dobroty upadly, je jich tu nějak moc na hromadě.“
<br>„Divně to…voní,“ začenichala Bábi nad nekrásnějším porcelánovým tácem.
<br>„Ó, to je tou sojovou pomazánkou. Nachystala jsem vegetariánské chlebíčky ze špaldové mouky,“ vysvětlovala Magráta.
<br>„Nojó,“ povídá Stařenka, „madame Našeptávalová je nyní vegetariánkou.“
<br>„Snobismus!“ zasyčela Bábi, „chudí tvrdě pracující lidé jsou rádi, když si mohou aspoň v neděli maso dovolit a ona nad ním bude ohrnovat ten svůj snobský nos!“
<br>„Esme, co ti brání shodit je na zem?“ řekla Gyta spíše jako vyjádření postoje na které straně barikády stojí, protože moc dobře věděla, že Esme je naprosto neschopná zničit jídlo, byť se jí principielně hnusí. Ta samá úcta k jídlu, která jí nutí pohrdat paní Našeptávalovou ji nedovolí zničit tyhle vege chlebíčky.
<br>„Špalda!“ zaklela Bábi. „Osm tisíc let šlechtitelského úsilí, aby ji lidstvo nemuselo jíst.“
<br>„Znáš Magrátu, chce vyhovět lidem všem,“ konejšila Stařenka.
<br>„Nejdu moc pozdě,“ ozvalo se z protější strany paseky, odkud přicházela Anežka Nulíčková. Po pravdě strávila posledních deset minut ve křoví právě, aby nepřišla jako první. Usilovně si snažila budovat tu správně vyváženou míru všeho, místo které chtěla v čarodějném společenství zaujmout, jelikož toho místa i tak zaujímala dost. Také nechtěla být viděna jako první u plných stolů, chyběla jí Stařenčina sebevědomá bezprostřednost ve vztahu k jídlu.
<br>„Právě včas, děvenko,“ uvítala ji úsměvem Stařenka. „Její veličenstvo jistě ocení trochu pomoci,“ kývla na Magrátu, která přetékala dobrou vůli, ochotou a povolenými nervy. „Koukej, Ágnes, jak budou dámy přilétat na přistávací dráhu vytýčenou vydlabanými dýně…tuří…aha, jak vidím, jsou to letos…kedlubny?“
<br>Stařenka zaostřila zrak na zubící se zeleninové hroudy. V každé hořela svíčička. Avšak zatím bylo příliš světla na to, aby opravdu zářily.
<br>„Já se hrozně omlouvám, ale slimáci…“ Magráta nestihla dokončit větu, když jí do řeči skočila Bábi: „Není proč se omlouvat.“ Řekla pevně, ale poměrně laskavě.
<br>„Anežko, prostě jak budou přilétat, uvedeš je ke stolu.“
<br>Anežka poslušně vyrazila k přistávací dráze a v krátké chvíli už vítala první příchozí.
<br>„Ach, slečna Rovnovodovážná a slečna Rovnovodovážná! Vítám vás. Příjemný let?“
<br>„Kmotřičko Vařbujónová, pojďte a připojte se. Ano, ten koš předáme pořadate…aha, tak paní Oggové.“
<br>„Vstupní kontrola!“ uculila se Stařenka.
<br>„Ó, to jistě musí být paní Delíria Trumpánová a paní Genta Šimůnková, ráda vás poznávám. Prosím tudy.“
<br>Taky příspěvků rozšiřujících nabídku pohoštění valem přibývalo na servírovacích stolcích. Sladkých, slaných i tekutých. Bylo otázkou osobní cti většiny čarodějek blýsknout se připravenou dobrotou a úspěch se měřil starým známým požádáním o recept. Proto byly tyto lahůdky právě nyní ve středu dění a degustace v plném proudu. Rovněž to pomáhalo uchovat hodovní tabuli více méně nedotčenou pro slavnostní zahájení. I když i tam již probíhaly hodnotící aktivity. Kmotra Vařbujónová právě měkčila v prstech roh ubrusu zdobeného vyšívanými pentagramy a vzorem jemné pavučiny a s uspokojením prohodila k paní Mozkopletné „Pravé bimbo.“
<br>Černostříbrné látkové ubrousky byly naskládány do tvaru netopýrů a Magrátu to muselo stát nadlidské úsilí a hodiny práce, než je naaranžovala. Anežka na jednu stranu oceňovala pečlivost a úsilí, které přípravě Magráta věnovala, avšak na druhou dobře věděla, že ona sama by do takových detailů nezacházela, protože výdej a přínos si rozhodně nebyly rovny.
<br>Jako na tajné znamení se začalo snášet k pasece koště vybavené všemi efekty poslední čarodějné módy. Junona Proustová, majitelka obchodu s bimbem osobně a v závěsu doprovázená starou slečnou Velezrádnou.
<br>Nejnovější příchozí byly okamžitě pohlceny komunitou hlasitě se vyptávající na nejnovější trendy na poli čarodějné módy.
<br>Anežka pobíhala kolem nově příchozích a usazovala je na místa nebo ponechávala v samovolně se tvořících a zase se rozpadajících shlucích kolem hodovní tabule. Ujala se i Hilty Lapkozlové ze Sekaného Popelova, jedné z externistek z odlehlejší lokality, lovkyně čarodějných talentů slečny Bystromily Klíšťové a Jasněnky Natřasfaldové doprovázené duchem své matky, přes svou smrt živě se zajímající o vše, co se v čarodějných kruzích šustne takovou měrou, že odmítla odejít se Smrtěm.
<br>Přelétla shromáždění a pomyslela si - už brzy zde budou všechny. Budeme všechny, opravila se.
<br>V tom se jí málem do sukní zamotaly dvě drobné stařenky. Jedna se mile usmála a pravila: „Cesty jsou velmi nebezpečné, děvenko. Ještě že létáme, že? Říkám, velmi nebezpečné, nezpevněný povrch, zrádné rokle, krkolomné zatáčky. Žádný div, že se vůz převrátí, nebo dokonce zmizí v propasti i s nákladem? Ne, na tak mizerných cestách vůz neobstojí…“
<br>„To víš, že ano, Voršilo. Pojď honem,“ směrovala druhá babička první k ostatním čarodějkám.
<br>„Prosím tudy.“ Na víc se Anežka nezmohla. I poté, co se tyto dvě nestorky - Baběnka Brouková a Matička Stěhovalová - organicky vstřebaly do chumlu čarodějek, pisklavý hlásek chvílemi stále ještě doléhal k Anežce: „Červená, děvčata. Taková veselá barva. Koho by to napadlo, že? A všem tak sluší. Vždyť proč by to měla být pořád černá?“
<br>Pravděpodobně jí kdosi ucpal pusu nějakým pamlskem, pomyslela si Ágnes, když hlásek utichl.
<br>Anežka usoudila, že už se také může přidat ke společnosti, která se očividně dobře bavila, dá-li se toto pronést o společnosti tak vyhraněných individuí jako jsou čarodějky. Náhle ucítila, jak utichl vítr a všechny zvuky a k zemi se sneslo pár okvětních plátků růží. Celé to vyznělo jako magické odkašlání. K přistávací dráze se blížilo ještě jedno koště.
<br>„Nalej mi Gyto taky šťopičku tamtoho ostružinového likéru.“
<br>„Ale prosím,“ Gyta se stejně překvapeně jako ochotně chopila ozdobné lahve a už už nalévala skleničku, když zaznamenala, že za Bábinými zády se ozval efektní zvuk zašumění a zraky ostatních čarodějek se stočily k okraji lesa. Gyta tam sice neviděla, ale vzápětí jí došlo to, co Esme o nějakou chvíli dříve. Na scénu jistě vstupuje paní Našeptávalová a dává si dozajista záležet. Gyta samozřejmě zvědavá byla, ale ve skutečnosti byla vděčná, že se nenechala strhnout, a proto hned bodře zapletla rozhovor s Esme na téma ovocných likérů a jejich výroby. Dost hlasitě, aby s gustem narušila kouzlo okamžiku, které si Leticie tak naplánovala.
<br>Leticie Našeptávalová byla provdána za mága a sama sebe považovala za místní honoraci.
<br>Gyta zachytila krhavý pohled, jímž Esme počastovala Leticii a s požitkem padoucha přikápla jedu:
<br>„Chodí do nehtového studia.“
<br>Esme frkla jako plnokrevník a ostentativně se zahleděla jinam.
<br>Hned několik čarodějek pocítilo potřebu se jít s Leticií pozdravit, zatímco ta mezitím okatě podrobila výzdobu přísně kritickému pohledu. Gytě ujely oči ke kotli uprostřed paseky. Fialová chapadla se svíjela a zelený sliz efektně bublal, občas se dokonce i lesklá opalizující bublina vznesla a po chvilce praskla se zvláštním „ssc“. Gyta rychle pohlédla do safírových Bábiných očí. Esme pozvedla pravé obočí do ostrého obloučku. Stařenka mrkla ještě po girlandách i lampiónech a viděla, že není stopy po poškození, všechno vypadalo jako ze žurnálu a rozhodně ne jako tehdy, když přicházely. Ohrnula spodní ret a uznale broukla. Esme lehce zúžila oči, ve kterých vesele bliklo.
<br>„Myslíš, že si Magráta všimne?“
<br>„Lépe když ne,“ vrkla Bábi. „Asi tě začínám chápat Gyto,“ řekla a zakroužila skleničkou, „ten likér je skutečně lahodný.“
<br>„Berte si jahodové košíčky, je jich dost pro všechny.“ Magráta nabízela z malovaného podnosu sladkosti všude kolem. Slečna Rovnovodovážná předala šálek čaje svému neviditelnému páru rukou a ochutnala. „Vynikající, drahoušku. S marmeládou?“
<br>„Letošní úroda jahod mi zplesnivěla“, omlouvala se Magráta.
<br>„A teď ochutnej tuhle anglickou,“ukazoval duch paní Natřasfaldové dceři, která poslušně zvedla plátek z talíře.
<br>„Ú, to je řízný česnek.“
<br>„Potřená česnekem?“ vyzvídala stará paní.
<br>„Hm naložená v česneku, ale to nebude anglická, kdepak není to uzené, to bude bůček.“
<br>„Naložený pečený nebo vařený?“
<br>„Nevím, ten česnek je hodně řízný a taky je tam pepř a hořčice. Ohromné.“
<br>„Výborně, vezmeme si recept,“ roztržitě si mnula dlaně nadšením její matka, „a co tyhle košíčky? S čím jsou?“
<br>„Nespěchej na mne mami, musím to zapít než si dám sladký košíček,“ a dopřála si pořádný hlt cidru. Zatímco duch stál natěšeně u vedlejšího servírovacího stolku a nedočkavě ukazoval na temně rudé košíčky.
<br>„Hm, ještě mám plný nos česneku, ale je to jasně griotka a…“ zakousla se Jasněnka, „je to pudinkový košíček s nakládanými višněmi v griotce a hustém višňovém sirupu asi. A těsto…mmm je třené skoro jako linecké, ale je tam kakao a jo, je vylitý napřed čokoládou.“
<br>„Višně s čokoládou, ty miluji,“ rozplýval se duch v extatickém nadšení, „musíme si vzít recept.“
<br>Anežka také natahovala ruku aby zhřešila, protože višně, griotka i čokoláda je svůdná kombinace, jenže vedle se ozval karatelský hlas zavírající komnatu pokušení na závoru a ještě na klíč.
<br>„Mohu-li ti poradit drahoušku,“ pronesla tónem spíše rozkazovacím než-li podmiňovacím Leticie k Anežce, „Měla bys zkusit bezlepkovou dietu. Ohromně ti to pročistí tělo.“
<br>„Nebo šaratici,“ vmísila se Gyta Oggová z výhodného stanoviště u prostřeného stolu „Nic lepšího na pročištění neznám.“
<br>„Nepochybuji, že sama tu bezlebkovou dietu praktikuje již leta. Hlavu má tak prázdnou, že absence lebky ledacos vysvětluje,“ ucedila jízlivě Bábi.
<br>„Lepek? Máte na mysli gluten?“ zbystřila slečna Klišťová a očividně se chystala na delší přednášku. „Přirozeně bezlepková je pohanka. Také jáhly…“
<br>„Také pečené vepřové!“ snažila se být Stařenka nápomocná a olízla si mastné prsty.
<br>Paní Našeptávalová vrhla na Stařenku pohrdavý pohled a demonstrativně, tak aby ji všichni viděli, sáhla po chlebíčcích zdobených avokádem a cizrnou. Jak však nesla chlebíček k ústům, náhle se jí vysmekl a padl namazanou stranou na róbu z hedvábného sametu. Leticie však zachovala vážnou tvář a sáhla po dalším chlebíčku z porcelánového podnosu. Ovšem jakmile pozvedla ruku k ústům, chlebíček se jí opětovně vysmekl z ruky dekorované dlouhými nehty se symboly planet. Oči většiny čarodějek u stolu vše zaznamenaly, ale tvářily se, že si ani nevšimly. Leticie netrpělivě třepla rukou, odvrátila se od hodovní tabule a zamířila ke skupině, kde Paní Proustová rozdávala nejnovější vydání katalogu bimba.
<br>Bábi upřela pohled do rozesmátých očí své přítelkyně.
<br>„Uřknutí?“
<br>„Možná,“ špitla rozverně Stařenka.
<br>„Gyto Oggová!“
<br>„Je tak zahleděná do sebe, že by ji to ani nenapadlo,“ nepokrytě se culila Stařenka a Bábi zacukaly koutky.
<br>Anežka si přece jen vzala košíček s višněmi a hned jí bylo jasné, že o recept musí Krasomilu Báleškovou požádat taky. Ochutnala i malé griliážové trubičky a očka z nakládaných sardinek. Tak se pomalu přesouvala směrem ke Stařence. Chtěla sice Magrátu požádat o recept na odtučňovací čaj, ale rozumně s ní promluvit ve chvíli hostitelského vytržení bylo prakticky nemožné. Nechala se jen zásobit „dietní syrovátkovou“ verzí pečiva a mířila k přístavu jistoty Port Ogg. Neodradilo ji ani to, ze jako výstražný maják se hned vedle tyčila Bábi. Jednoznačně dávala přednost Bábině přímé jízlivosti před všeobjímající povýšeností paní Našeptávalové.
<br>Nenadále se Anežce do cesty připletla Matička Stěhovalová. Také si užívala pohoštění, ale Anežce připadalo, ze zvuky žvýkáni a mlaskání nejsou synchronní s pohybem Matiččiných čelistí. Stará čarodějka se zahleděla na Anežku, ale možná také skrze ni a prohlásila: „V zimě hřejí, v létě chladí. Na koštěti izolují. Ohromně praktické, že? A jak slušivé. Kde se ten pokrok zastaví?“ Vypadala spokojeně, tak Anežka jen přikývla a pokračovala vytyčeným směrem.
<br>Stařenka, již mírně podroušená vícestupňovým pivem, si jí všimla a mávala v ústrety pečeným kuřecím stehýnkem. „Hola, Ágnes! Nazdar! Přisedni k nám. To je holka špek a mlíko! Hopla! Chci říct krev a mlíko. Tak to má být!“ Zakousla se do stehýnka a trpělivě žvýkala svým jedním zubem. Pro sebe si huhlala: „I když myslím, že špek a mlíko zároveň může mít srovnatelné účinky jako šaratice…“
<br>„Nepřipadá vám divné, o čem Matička Stěhovalová dneska pořád tak nadšeně mluví? Mi přijde, že pořád o tomtéž, ale jaksi mi uniká, čeho se to týká,“ a Anežka zamyšleně pohlédla směrem odkud přišla.
<br>„Nepřijde mi, že by hovořila moc jinak než jindy,“poznamenala klidně Bábi. „Kdoví, kam je časově zaostřená.“
<br>„Šmankote, já myslela, že všechny víme, o čem je řeč,“ vyhrkla Stařenka Oggová, jež konečně polkla sousto. „Přece o spoďárkách,“ vmetla bombu do tváře nic netušících kolegyň.
<br>„O čem že to?“ vyhrkla Bábi, zatímco Anežka se snažila skrýt rozpaky.
<br>„No o červených spoďárkách, co máme na sobě,“ suverénně oznamovala obecenstvu Gyta. Střetávala se však jen s ohromenými pohledy. Ten Bábin propaloval, Anežčin nervózně ucukával.
<br>„Gyto Oggová, já naprosto netuším o čem mluvíš, ale už teď se mi to nelíbí,“ pronesla uvážlivě Bábi, snažíce se zaretušovat trapnou situaci.
<br>„No o těchdlenctěch spoďárkách přeci,“ a Stařenka si začala vehementně kasat sukně a štráfky spodniček, aby odhalila konsternovanému publiku corpus delicti.
<br>„Zadrž,“ použila Bábi <i>hlas</i>.
<br>Stařenka se přece jen zastavila a vzhlédla, aby zjistila, že ji sleduje i nemálo dalších spolustolovnic. Zrak jí padl také na jeden z výtisků nejnovějšího katalogu Bimba.
<br>„Virago, šoupni to ke mně,“ požádala přihlížející čarodějku u jejíhož loktu se tlustý katalog vynacházel.
<br>Stařenka listovala jen chvilku, a pak vítězně zabodla prst do stránky. Hned se tím směrem zabodly i oči všech v dosahu.
<br>
<br><i>Dámské kalhotky z rudého saténu vám dodají sebevědomí a pocit výjimečnosti v každé situaci.
<br>(nyní ke každému nákupu nad 10 tolarů zdarma)/</i>
<br>
<br>„Tak ona to teprve bude velká móda,“ zajásala Stařenka Oggová.
<br>Ve skupině kolem ní se rozhostilo ticho. Pomalu začaly odpadávat jednotlivé čarodějky se zamyšleným ač těkavým pohledem, jak se každá jedna z nich vyrovnávala s touto skutečností v souvislosti se sebou samou i ostatními.
<br>Esme upírala pohled někam přes horizont událostí nebo aspoň horizont Hor Beraní hlavy a dutě se optala Stařenky poté, co v davu osaměly.
<br>„Gyto, co myslíš, že Voršila myslela tím všechny? Všechny jako všechny nebo všechny beze mne?“


 {% endblock %}
