{% extends "post.html" %}

{% set title = 'Drabble č. 22 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 22</h2>
<p>„Kde sme?“</p>
<p>„Kde preklenieme fyzickú vzdialenosť a nik iný nepríde. Na bezpečnom mieste.“</p>
<p>Bezpečnom?! Pocit zmaru a nehostinnosti pocítila až v kostiach. Nepatrila sem a temná kamenistá púšť to vedela a chniapala po nej.</p>
<p>„Na konci sveta a času.“</p>
<p>Zdvihol ruku k oblohe.</p>
<p>„Toto je posledná dokonávajúca hviezda.“</p>
<p>Posledná? Hviezdy predsa pretrvávali všetko ostatné a rodili sa tak ako iné bytosti. Jej učiteľ vravel, že jedna ohrieva ich svet a takých je viac. Ak vymrú hviezdy... Vymrie všetko živé.</p>
<p>„Zanedlho po jej zhasnutí zánik postihne aj mŕtvych. Absolútny stupeň nula, potom pád. Ohraničenosť objektov od prostredia, merateľná postupnosť procesov... Zmiznú. Akoby ich nikdy nebolo.“</p>
<p>Zatočila sa jej hlava, klesla na kolená.</p>
<p>„Aby vyklíčili odznova. Aspoň podľa jednej teórie. Niektoré vylučujú cyklickosť. Predpovedajú zdĺhavý úpadok, alebo prudký rozpad.“</p>
<p>Nevedela, či ju väčší chlad prestúpil z jeho slov, alebo tónu.</p>
<p>„Neviem, ktorá je správna. Za ten bod neviem preniknúť ani takto v snoch.“</p>
<p>Nevyslovené „zatiaľ“ počula.</p>
<p>„Tak či tak, tento moment je hriešne úchvatný, však?“</p>
<p>Znova obrátila pohľad k nemu. Črtal sa proti prázdnemu horizontu a ešte prázdnejšej oblohe, svit jedinej hviezdy dodávajúci ostrosť inokedy neškodne pôsobiacej tvári a že to zdanie klamalo, vedela už dávnejšie, ale až tu videla do tej inakosti. Zubatú hranu, ktorá plynúcim časom nezvetrávala na jemný prach, ale sa brúsila do nemožnej ostrosti. Patril sem. Nebol starý ako táto krajina, ale tá neľútostná vekovitosť sa odrážala v jasných očiach. Podobne ako vtedy, keď ho raz zazrela vybavovať sa s jedným nezvyčajnejším žoldnierom, ktorý ich ohrozoval a zaumienila si nikdy nepátrať, akými spôsobmi prekonával prekážky na ich ceste. Doraziť už tak do cieľa a tú hrôzu raz a navždy nechať za sebou.
<p>Keď neodpovedala, obrátil sa k nej a vidiac, že sa chveje na zemi, ustarostene si čupol k nej.</p>
<p>„Tebe sa nepáči.“</p>
<p>Čosi z jasu v pohľade sa stratilo.</p>
<p>„Je to... Príliš.“</p>
<p>Iba o tom počuť, možno by uznanlivo pokývala hlavou, ale priamo tu, ta vízia bola ako facka.</p>
<p>„Poďme preč.“</p>
<p>Prikývol, svet sa zatočil, zobudili sa na teplých rohožiach voňajúcich kokosmi. Uistil ju, že ju tam zavolá, len ak nebude vyhnutia a že si zvykne rýchlo (neklamal) a usmieval sa prívetivo, no v očiach ešte doznievalo čosi z mrazivej skazy. On tam patril a ona nie a nepatrila ani k nemu a jeho starostlivý záujem bol zase raz znepokojujúcejší.</p>


 {% endblock %}
