{% extends "post.html" %}

{% set title = 'Drabble č. 3 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 3</h2>
<p>Euron</p>

<p>Tieň večera sa mi krúti na jazyku, kotúľa dole hrdlom, rozkvitá pod viečkami. Opriem sa o kožušinu a zhlboka dýcham. Ešte rozvoniava Lysénskou otrokyňou, ale zakrátko pocítim kovový závan mrazu a korenistý pach koreňov a hliny. A... Áno, sladkastejšia aróma tela, už skoro vysušená rokmi v objatí dreva. Na konci so silami. A predsa tu klíči čosi... Vzápätí začujem šuchot perutí a pocítim bodnutie. Syknem bolesťou, na útok strasiem. <p>Môj smiech sa rozlieha ako praskot skália a hromobitie.</p>
<p>Takto zdravíš starých priateľov, Očko?</p>
<p>Čierne perie zastrie oblohu, len trojo zreníc na mňa sústredí karmínový lúč ako myrská šošovka.</p>
<p>Mám vyďobnúť to tvoje, votrelec?</p>
<p>Zvykol sa vteľovať do havranov hodujúcich na ľuďoch, ktorých odsúdil. Zavírim chápadlami vlhkej temnoty.</p>
<p>Do toho. Naposledy to bola taká zábava.</p>
<p>Tiež sa mi do života votrel. V chorľavých snoch dal ochutnať prísľuby a hrôzu. A keď som nasledoval volanie, ktoré ma naučil rozoznávať a vystúpil z jeho tieňa, znepokojený bez varovania udrel. Nedal som sa a on vtedajšie puto pretrhol, no zničiť ma nedokázal. Nesťažujem sa. Myseľ na franforce mi skoro vykrvácala, ale tým do nej len preniklo to, čo by mi inak nedovolil hľadať.</p>
<p>Prekonal som ťa.</p>
<p>Vyzývavo zavrčím.</p>
<p>Len v hriechoch, ktoré za to nestoja.</p>
<p>Odfrkne si. Vyšlem k nemu ničivú vlnu.</p>
<p>Nehovor. Za víťazstvo predsa stojí všetko, nie?</p>
<p>Tuhé bielo-červené úponky prevŕtavajú a držia pohromade všetko.</p>
<p>To, za čím sa ženieš, nepovažujem za víťazstvo.</p>
<p>Mávnutie státisícov krídel rozptýli príboj.</p>
<p>Na tom už dlho záležať nebude. Zomieraš.</p>
<p>Následne sa kŕdeľ vrhne na mňa.</p>
<p>Ale dnes ešte nie. Strať sa!</p>
<p>Ustúpim. A po prebudení v kajute sa ticho rozosmejem. Nech si Brynden myslí, že ma odplašil a ja si dávam na čas, lebo som si nič nevšimol. Viem, prečo ma odháňal. Viem, čo skrýva. Vĺča spiace na opadanom lístí. Nabudúce prídem za ním.</p>


 {% endblock %}
