{% extends "post.html" %}

{% set title = 'Drabble č. 7 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 7</h2>
<p>Ódin</p>

<p>Když uvítá Njorda ve své palotě, bosí bůh šířící vůni soli a ryb se mračí.</p>
<p>„Přináším zneklidüjící zvěst o Jormungarndovi.“</p>
<p>„Huginn a Muninn nic podezřivé nezpozorovali.“</p>
<p>Havrani souhlasně zaškřečí a zadívají se na Vána, jakoby jej chtěli klovnout. Njord nehne brvou.</p>
<p>„Huginn a Muninn vidí povetřím dalekosáhle, ale ne na dno oceánu. Tam zostupuji pouze já.“</p>
<p>Nuže ano, proto si jej vybral pre svůj dvorec.</p>
<p>„Ten had narostl tak, že obtočil celučkou zemi a tuze ji svírá držíc sa tlamou vlastního ocasu. Nepopustí, jen se šklebí a ona... Mění se.“
<p>Nyordovi poděkuje. Cítí povědomé mravenčení, dotyk stáčajúcich se kliček příze, kapky poznaní ze studny při druhém kořeni klouzající po bradě. Opět osamocen obrátí hlavu ke kotlíku s tou samou vodou a Mímiho odťatou hlavou, kterou mu rozezlení Vánové jednou poslali. Netušili, že tím jej neumlčeli.</p>
<p>„Řěkni, co je to za léčku? Nemůže ji rozdrtit.“</p>
<p>„Ale už ji stačil vzít sílu. Zmocněl hříchy světa v odstrčení v hlubinách a čeká, až jej odtrhneme, aby se znejištěna otřásla v základech.“</p>
<p>„Tak to neuděláme. Ať se dál namáhá, jak si vyvolil.“</p>
<p>Šprýmař po otci. U Ymirových kostí, ani Kvasiho medovina nebyla tak opojná, jak Loki a jeho šprýmy. Ale všeho moc je špatně a Odin musel učinit přitrž.</p>
<p>„Jednou mu trpělivost dojde a pustí ji sám. Víš co přijde, věděls to už tehdy, když jsi se setkal s Lokim a přijal jej za bratra. Pouze ne kdy a jak přesně. Již brzy, Ódine. Spoutané se osvobodí a vše, cos budoval, zboří, spálí a pozře v společných smrtelných křečích.“</p>
<p>„Spíláš mi?“</p>
<p>„Ptám se proč.“</p>
<p>„Protože to za to stálo. Protože zkáza by přišla stejně, jen jinak. A protože jsem zahlédl i kratičký záblesk toho, co přijde pak. Nelituji.“</p>


 {% endblock %}
