{% extends "post.html" %}

{% set title = 'Drabble č. 9 (12. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>
<p>Ta prkna prý znamenají svět. Ale někdy mohou znamenat i smrt. Několik stupňů ji dělí od chvíle, kdy se rozhodne, co budou znamenat pro ni samotnou.</p>
<p>Je příliš neklidná, má pocit, že nemůže udržet balanc ani na dvou nohách, natož na jedné špičce. Kostým ji náhle dře, navzdory tomu, že je na ni přesně ušitý, na nohou jako by měla olověná závaží a ne baletní špičky. Chvíli cítí horko, chvíli zimu. Takhle jí pot smyje líčidla dříve, než udělá pět kroků.</p>
<p>Dívka vedle jí něco tiše říká, nejspíše že už za chvíli přijdou na scénu. Je celá natěšená a chvěje se vzrušením, její pravý opak.
<p>Něco kamarádce odpoví, ani neví co. Mne si nervózně ruce, zpovídá se ze svých hříchů a tak jako mnohokrát předtím se pokouší zahnat momentální ztrátu sebedůvěry myšlenkami na něco hezkého.</p>
<p>Ocitla se v prosluněném, vzdušném pokoji s výhledem do zahrady plné květů. Z jejich vůně se jí točila hlava. Zahrada byla pýchou její maminky.
<p>Když jí bylo smutno, zalezla si vždycky za starou pohovku s polštářem a hrací skříňkou. Natáhla klíčkem strojek, na skříňce se odklopilo víčko a malá baletka předvedla svůj taneček.</p>
<p>Jednou se strojek rozbil. Plakala, ale tatínek jí skříňku spravil. Objala ho kolem krku a poděkovala. Tatínkovi ale ukápla slza. Zeptala se ho, proč pláče a on řekl, že to se jí jen zdá. Chvíli ji držel, než ji pustil a ona mohla tančit s baletkou. Tehdejší zážitek rozhodl, co bude dělat, až bude velká.</p>
<p>Tatínku, dnes to bude pro tebe.</p>


 {% endblock %}
