{% extends "post.html" %}

{% set title = 'Adventní drabble č.10 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.10</h2>
<p>Achilles bral želvu už o třetí kolo, zatímco Zenón se vztekal, že ji může doběhnout jedině v nekonečnu. Přistoupil k němu Aristoteles, položil mu ruku na rameno a vysvětloval mu, že urazit nekonečně malou vzdálenost nezabere nekonečně dlouhý čas.</p>
<p>Sokratés se zase válel pod stolem. Oficiálně omdlel z horka, které dnes celé město sužovalo, a Platón musel poslat pro Xantippu, aby si pro svého muže dojela s trakařem. Když jej nebohá žena odvážela, ze spaní vykřikoval něco o tom, že pořád neví, jestli jsou ty věci v jeskyni amfory nebo metafory. Podle pachu vína spíš to první, pomyslila si Xantippa.</p>
<p>Místní divadlo právě uvádělo Eurípidův nový dramatický kus o Trójankách, v jejichž maskách vystupoval známý eunuch Kastros. Za jeho věrohodný a procítěný výkon mu vavřín nasadila sama múza Melpomené.</p>
<p>Feidiás dokončoval svou Athénu Promachos, leč její roucho zdálo se mu poněkud bezbarvým. Budiž zlato, řekl po chvíli a počal své dílo vylepšovat.</p>
<p>Spravedlivý Periklés zatím dojednával smlouvu se Spartou. V následujících třiceti letech se měli mezi sebou Athénští a Lakedaimónští utkávat pouze ve veslování okolo Peloponésu, hodu Peršanem do dálky a ve skoku na kozy.</p>
<p>A mezitím v nedalekém Pireu jakýsi prošedivělý muž důstojného vzezření říkal svému společníku, který vystoupil z vln, že ty hromské Athény přece jen bleskem nespálí.</p>


  {% endblock %}