{% extends "post.html" %}

{% set title = 'Adventní drabble č.13 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.13a</h2>
<p>Pachatel kráčel dá chodbou a Sacharóza mu byla v patách. Tiše se plížila, koneckonců to nebylo poprvé - když chcete psát skutečně dobré články, musíte získat informace po kterých čtenáři touží a tak nepohrdla a naučila se od nepříliš důvěrných osob spoustu věcí a nemusela ani platit, dokázala být velmi přesvědčivá . Chodba nebyla vlhká, ani špinavá. Byla prázdná z pevných žulových tabulí. Nebyla tu zima, ani horko. A bylo tu velmi.... neútulno. Pachatel pokračoval v chůzi, zdál se jí až hypnotizovaný, slepě kráčel dál. Neviděla mu samozřejmě do tváře, ale budil zkrátka ten dojem. Chodba byla samozřejmě obrovská, vznášející se trol by klidně mohl udělat přemet. Zabočili do leva. Sacharóza opatrně na ně opatrně nakoukla zpoza rohu. Byly tam neméně obrovská vrata, pachatel jimi s trolem hladce prošel a nechal otevřené dveře. Sacharóza vklouzla za ním dovnitř a schovala se za nějakou dřevěnou skříň která z nějakého důvodu byla kousek od dveří , prakticky uprostřed místnosti a ležel u ní obvaz. Vykoukla a sledovala pachatele. Uprostřed místnosti bylo velké lehátko na kterém ležel trol. Stále anonymní pachatel jej tam zanechal a vyrazil ke dveřím, byly tu troje dveře. První ty kterými sem přišli, druhé normální velikosti, dozajista neurčené pro troly a třetí, vyhlížely velmi pevně a ty měly stejnou velikost jako první. Trol vypadal žalostně a ona pocítila hroznou touhu mu pomoci. Byla však bezradná, chtěla mu hrozně pomoci, alespoň přez něj přehodit deku nebo něco.... No vlastně to by mu spíše uškodilo. Co bude dál?</p>

 <h2>Adventní­ drabble č.13b</h2>
<p>Sansa</p>

<p>Pořád nemohla uvěřit tomu, jak se to všechno seběhlo. Snad ještě včera byla Alayne, bastard Lorda Protektora a dnes byla Sansa Targaryen, královna Westerosu. Aegon jí byl okouzlen, když se poprvé potkali, málem omdlel, tak hromský dojem na něj udělala, ikdyž to souviselo i s jinými okolnostmi a on sám byl pohledný, příjemný a energický mladík a ideální materiál pro nového a zaručeně spravedlivého, moudrého a všemi adorovaného krále. A Baelish získal vše, co jen mohl chtít. Ale on nikdy nemá dost. Začína tušit, že Sansa nenaplní prázdno, co v něm ostalo z dětství, ba co víc, mohla by se stát překážkou, protože ji naučil vše, co uměl. Snaží se vše ovládat, brání ji v opuštění Králova přístaviště a pořád něčím zaneprázdňuje, drží v jednom kole. Přemýšlela kdo se dříve pokusí zničit toho druhého. Kdo uspěje. Zda vůbec někdo. Toužila po konečném rozuzlení, zároveň se jej děsila a tak pokračovala ve hře. Její choť, jež byl možná ideální loutka, jelikož Malíčka neznal, nebo jedna z prvních obětí, jelikož se mohl ukázat příliš cílevědomý, byl zrovna někde ve městě. Obvykle byla s ním, ale pro tuhle chvíli zůstala sama a v prázdném sále pocítila náhle nutkání usednout na železný trůn. S napětím vystoupala nahoru a pomalu se posadila a opřela. Neřízl ji. Zvedla zrak a uviděla Petyra. Vystupoval za ní, opětovával ji pohled svýma bezbarvýma očima a po mučivě dlouhé chvíli poklekl u jejích nohou. </p>
<p>„Jak se ti to líbí? Nejvíc na světě?“</p>
<p>„Nejvíc na světě se mi líbíš ty.“ </p>

 {% endblock %}