{% extends "post.html" %}

{% set title = 'Adventní drabble č.15 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.15</h2>
<p>Vzpomínal na dny, kdy vystupoval před shromážděním úředníků a učenců. Věřil, že je přesvědčí o smyslu svého záměru. Vysloužil si pohrdání. Osočovali jej, že pro svou touhu obětuje životy anonymních námořníků. Až povstala královna a kolo bezbarvých tváří okolo něj ztichlo. „Zaujal jsi mne, pane,“ řekla. „S mým nanejvýš spravedlivým královským chotěm podpoříme tvou plavbu.“</p>
<p>Jenže dnes téměř dával za pravdu těm, kteří jeho plán haněli. Téměř. Jeho tři lodě stály doslova u brány do ráje, za níž se třpytilo zlaté město. Jenže od brány se vznesl ohnivý tvor, který zakryl svými roztaženými křídly nebe. Fénix, střežící spolu s  behemotem a leviatanem ráj před smrtelníky, kteří svou smělostí popuzují samotného Stvořitele, letí proti nim, ztrestat lidskou touhu poznávat za hranice dovoleného.</p>
<p>A přece muž neomdlel ani se nesesypal bezradně a zbaběle na palubu. Je to přece on, kdo postavil vejce na špičku. Jestli má zemřít, tak hrdě a vestoje. Při dobývání Granady byl raněn, slepý a pokrytý obvazy, přesto nepřestal věřit ve svůj cíl.</p>
<p>„Kormidlo maximálně vpravo,“ velí do útrob lodi, kde kormidelník se svými pomocníky čeká na rozkaz. „Obě bombardy na pravém boku zamířit na fénixe. Nezapomeňte při obratu přehodit úvazy plachet! Muži, kteří neobsluhují děla, na levobok, aby nás proud nepřevrhl! Až se otočíme, ať zamíří do nebe všechno, co mají, kuše i arkebuzy! Pinzonové ať velí svým mužům stejně! Dělostřelci, jste připraveni? Pal!“</p>
<p>Hromský křik jej probudil ze snu. Chvíli se snažil vzpamatovat, teprve pak rozeznal slova ze strážního koše: „Země na obzoru!“ Dokázal to. Nalezl ráj.</p> 

  {% endblock %}