{% extends "post.html" %}

{% set title = 'Adventní drabble č.16 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.16a</h2>
<p>Ve staromládeneckém bytě Samuela Elánia bylo přeplněno. Většinu pokojíku zabíral seržant Navážka s téměř prázdným demižónkem yperitu. Šedý křivý stoleček byl plný lahví běžnějších fermentovaných nápojů a většina byla prázdná, i když nutno přiznat že valná část byla prázdná již pár týdnů. Pod ním spal spánkem spravedlivých do kolečka stočený Noby s blaženým výrazem šťastného opilce a Fred Tračník ho pozoroval skelným pohledem s klobásou v jedné a plným hořčičákem v druhé ruce. Velký plavý vlk se nimral v kusu uzeného a opíral se přitom o Karotkovo stehno. Ten v ruce svíral již několik hodin poloprázdnou sklenici – tento týden již druhou - a vážně se zaobíral myšlenkou, že se z něj stává alkoholik. Samotný Elánius, zřízený pod obraz, ležel na posteli, u stěny bez obrazů, kam ho Karotka uložil a přikryl tenkou bezbarvou dekou. Velitel hlídky byl již několik dní ženat, ale vzhledem k okolnostem se jeho rozlučka se svobodou odbývala právě dnes. Když už se nemohli zúčastnit svatby, sama lady Elániová (prve Berankinová) navrhla, aby se tradiční oslava uskutečnila dodatečně. Například Angua byla v době obřadu v technicky vzato mrtvém stavu. Jejich kolegovi Potroublovi ten stav již i zůstal – hromská práce. Byla to samozřejmě pánská jízda, ženám nepřístupná, ale vlků libovolného pohlaví se tato restrikce přece netýká. Venku se stále hlasitěji ozývalo město, které nikdy neusíná, ba ani neomdlévá. Sluneční kotouč vystupoval na svou dráhu a nezbývalo než doufat, že nekalé živly noci za sebou nenechaly příliš velkou spoušť, když je hlídka právě v tak nekompetentním stavu.</p>
 
  <h2>Adventní­ drabble č.16b</h2>
<p>Jon</p>

<p>-Noc se přikrádá a moje stráž začíná.- </p>
<p>V naprosté tmě, kde už vyhasínali zvyšky ohňů a zůstala jen sefírová světýlka nepřítele, se náhlil skrz vánici tak studenou, že v první chvíli téměř omdlel. Opatrně vystupoval na ledové kryhy a pak se sklouzával dolu bezbarvými stržemi.</p>
<p>-Neskončí až do mé smrti.- </p>
<p>Dnes nadišel čas. Nechápal, jak přežil haštěření ve vlastních řadách, ledové pavouky, obry, nemrtvé, modrooké svůdce a Jiné hromské věci, ale nejspíš byl střežen pro tenhle úkol. Zvládne ho ovšem splnit?</p>
<p>-Nepojmu za manželku žádnou ženu, nebudu vlastnit žádnou půdu, nezplodím žádné děti.- </p>
<p>Zemřela Ygritte, Mellisandra, Daenerys s jejími draky. A mnozí další. Umožnili mu dostat se až sem a stálo je to život. Nesklame tuhle oběť. Musí ho splnit.</p>
<p>-Nebudu nosit korunu a nezískám slávu.- </p>
<p>Stark v Zimohradu, či vládce v hlavním městě říše... Noční král... Oheň a led si své sliby mohou schovat. Bude spravedlivý.</p>
<p>-Budu žít a zemřu na svém stanovišti.- </p>
<p>Jeho místo je na tenké hranici mezi zuřícimi živly, tam, kde život sám zápasí o svou existenci. Střeží rovnováhu.</p>
<p>-Jsem meč v temnotě, jsem strážce na zdech.- </p>
<p>Zeď padla a její trosky byli úkryty, kolem kterých se mohl krást. I po svém skonu jim pomáhala. Díki ní se mu povedlo dostat blízko nepozorován, ale teď...</p>
<p>-Jsem oheň, který hoří ve tmě, světlo, které přináší úsvit, roh, který probouzí spící, štít, který chrání říše lidí.- </p>
<p>S hlubokým nádechem vytáhl planoucí meč a vrhl se vpřed.</p>
<p>-Svěřuji svůj život a čest Noční hlídce, pro tuto noc a pro všechny noci, které přijdou.- </p>

 {% endblock %}