{% extends "post.html" %}

{% set title = 'Adventní drabble č.17 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.17</h2>
<p>Washington, D. C., 1. dubna, 17:00 ZULU.</p>
<p>Situace: Literární agent se cítí bezradně, když se snaží přesvědčit renomovaného autora thrillerů Víťu Pazderu píšícího pod uměleckým jménem Chuck Boris, aby závěr svého posledního románu, jehož hrdinou je agent jeho veličenstva s krycím jménem Trumf Píka, přepracoval.</p>
<p>Agent: „Trumf vtrhne do sídla slepého šíleného miliardáře Dr. Války, který má pro svět jen pohrdání, ale místo vygradované bitvy s jeho poskoky korunované záchranou jedné krásky a návdavkem i celého světa před zkázou v podobě otrávených jogurtů spolu hrdina i padouch v klidu promluví. Dr. Válka se ve vyhroceném rozhovoru rozpláče a přizná se, že jeho cesta ke zlu nastala, když mu zlý Franta Kuldanů ze sousedství ukradl kuličky. Slíbí, že své peníze investuje do výzkumu léčby ženské migrény, a dostane Nobelovu cenu míru. Takhle to přece nejde, Víťo. Tví čtenáři čekají plno výbuchů, zabitých anonymních poskoků, finální boj s bossem o tlačítko odpalující jaderné střely a tak. A proč všichni ti poskoci mají jména?“</p>
<p>Pazdera: „Mě už to nebaví všechno to nechat na konci pobít. Když mají poskoci jméno, je mnohem těžší nechat je zemřít. Získávají tak osobnost, právo na život. Víš, co to stojí práce a úsilí, všechny ty životy stvořit? Nemůžu je zabít.“</p>
<p>Agent: „V tu chvíli prostě musíš přehodit z Víti Pazdery na Chucka Borise. Jména jsou bezvýznamná.“</p>
<p>V tu chvíli byl však dům zasažen zemětřesením, orkánem detonací bomby a zarděnkami. A zatímco Pazdera jakožto postava se jménem vyklouzl jen s obvazy, literární agent beze jména zůstal pod sutinami.</p>


  {% endblock %}