{% extends "post.html" %}

{% set title = 'Adventní drabble č.19 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.19a</h2>

<p>Lilo jako z konve. „Hromské počasí.“ zahudroval Bedřich. Proudy vody změnily okolní ulice téměř na bezbarvé. Ne že by bylo o co stát. Tohle město nemělo pořádné barvy ani v nejlepším počasí.</p>
<p>Dojel před policejní stanici a vystupoval z vozu. Málem ho smetl cyklista, který zběsile hnal své kolo ulicí.	„Hromští lidi.“ zahudroval znovu Bedřich a pokračoval v cestě.</p>
<p>Ve městě mu přezdívali spravedlivý polda. Byla to blbost. Bedřich se necítil spravedlivý. Čím dál víc se cítil jen nenaložený. Měl dost špíny tohohle města. Měl dost mladých fracků, co si myslí, že jim odpustí každou ubodanou kamarádku, jen proto že jsou mladí, hloupí a na heráku.</p>
<p>Dnes měl vyloženě špatnou náladu. Spravedlivý. To tak. Od gaunerů tohoto města to byl výsměch a nic jiného. Spravedlivý, protože spoustu z nich nechal jít bez trestu. Říkával si, že každý svého štěstí strůjcem. Říkával si, že nejsou prostředky, které by takhle prohnilé místo vyléčili. Nech je jít a oni dojdou svého trestu.</p>
<p>Blbost.</p>
<p>Chodívali mu sem nováčci na zaučení. Nebylo to dobré rozhodnutí, tady dlouho nevydrželi ani ostřílení veteráni, natož zelenáči. Často se stávalo, že mu na místech činu zvraceli a někteří i omdlévali. Naštěstí už tu žádného delší dobu neměl.</p>
<p>„Nastal čas vyčistit tohle město od sraček.“ Dnes měl Bedřich vážně špatnou náladu.</p>


  <h2>Adventní­ drabble č.19b</h2>
<p>Catelyn </p>

<p>Byla tak unavená... I kdyby popravila každého Freye, Boltona, Lannistera, všechny jejich přisluhovače a všemožné provinilce, všechny, pro které měla jen nenávist a pohrdání, neukojila by tu spalujíci touhu. Každá prolitá krev byla intenzivním zadostučiněním, ale zanechávala ji vyprahlou, jako její nemŕtvé údy a obvazy kolem rány z předchozího života. Oh, jak slepá byla! Teprve nedávno pochopila proč. Stýskalo se ji. Nic a nikdo ji nevráti její rodinu, nikdo, žádná oběť je nepřivede spátky mezi živé. Může je pouze následovat mezi mrtvé. Ale nejdřív musí dokončit to, co začala. Nikdo nesmí uniknout odplatě. Ten plamen, jež do ní byl zasazen a stravoval vše, ji nedovolí ustoupit. Tahle dilema se stala zdrojem nekonečného zoufalství. Ale hloubaje nad povahou své kletby našla řešení. Ultimátní mstu, jež jí zaručí vysvobození. Ví, jak přesvědčí svou oběť a pak ji vyšle do nic netušíciho světa, anonymní ve vykonávaní cizího úkolu. Tam, kde její pole působnosti končí, začíná čísi jiné a ona potřebuje pouze přenést křivdu, předat ji spolu s plameny. S uspokojením hledí na uškrcené tělo stvůry, jež dle Catelyn celou tuhle skázu vlastně spůsobila a v jakési ironii osudu se stala i ideálním nástrojem.</p> 
<p>„Pojďme si přehodit roly.“</p>
<p>Přímo něžně uchopí tvář lví královny, ztuhlou v bezradně pusobícim výrazu a pak se pomalu skloní a vtiskne ji polibek. Daleko od obou svých domovů za cenu nejvyšší vypustí do světa na všechny své nepřátelé zhoubu a konečně nalezne klid. Zlatavě rudý žár ji opouští a s ním i ona sebe.</p>

  {% endblock %}