{% extends "post.html" %}

{% set title = 'Adventní drabble č.20 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.20</h2>

<p>„Kdo jsi?“ zeptal jsem se lidské vlčice, po chvíli, kdy jsem bezradně bloudil očima z obrazu na ni a zpět.</p>
<p>„Jsi slepý?“ optala se podivná žena tím ostrým hrdelním hlasem. „Jsem ta, kterou tě poslali ulovit. Poslal tě přece sám pan Ottavino,“ vyslovila jméno zrádce s pohrdáním.</p>
<p>„Nikdo neřekl, že jsem na lovu poloviční vlčice,“ odvětil jsem. „Mluvili o velikém vlku, zplozenci Lucifera. Viděl jsem potrhaný dobytek, stopy velikých tlap mne zavedly až do tohoto lesa. Ale byl to medvěd, kterého jsem vystopoval. Zabil mého koně a mně udělal tohle.“ Zvedl jsem ruku ovinutou provizorními obvazy, skrze které stále prosakovala krev. „Zachránil mne nakonec tenhle meč,“ poklepal jsem na jílec jezdeckého palaše a potlačil touhu jej tasit.</p>
<p>Beze slova mi ukázala, abych se posadil na křeslo. Věděla, že mne přesvědčí. Neměl jsem co ztratit, uposlechl jsem. Vlčí žena mi sejmula krví nasáknuté provizorní obinadlo a odkudsi vylovila malou lahvičku. „Zabolí to,“ řekla a její obsah obrátila na rozedranou kůži a svaly pod ní. Skutečně to v tu chvíli bodlo tak, jako když se mi do ruky zarazil medvědí dráp. Zatínal jsem zuby a jen s velikým sebezapřením nevykřikl. Pak vlčice stejně náhle odkudsi vylovila čistý klůcek, kterým otřela krev a hnis. Nakonec přes mou ruku přehodila čistou látku.</p>
<p>„A prozradíš mi své jméno? Nejsi přeci pouhý anonymní lovec, takového by na tuhle práci Piccolomini nenajal,“ zeptala se vlčí žena. Vzdor jejímu děsivému vzezření byl z jejího hlasu patrný zájem.</p>
<p>„Jmenuji se Prokop,“ představil jsem se. „A jak říkají tobě?“</p>


  {% endblock %}