{% extends "post.html" %}

{% set title = 'Adventní drabble č.24 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.24a</h2>

<p>A tak k němu Sacharóza přistoupila. Když věnovala větší pozornost lehátku, zjistila jsou zde otvory pro vysunovací, masivní pouta. Ohlédla se na to co považovala za skříň byl ve skutečnosti regál ze škálou nářadí. Byly tu kleště, malé klíny a kladívka,.... Bouchly dveře. Sacharóza sebou trhla a otočila se. Hleděla na pachatele. </p>
<p>"Konečně" řekl hlasem ve kterém se mísilo překvapení se zadostiučiněním.</p>
<p>"Konečně co?" odpověděla nechápavě Sacharóza.</p>
<p>"Konečně mám možnost udělat tohle" luskl prsty a Sacharózu dokola obklopila ona bezbarvá "záře" a zatmělo se jí před očima. Když se probrala byla svázaná na židli.</p>
<p>"Zrdavím jmenuji se Džerald a co vy?" řekl pachatel a usmál se.</p>
<p>"Prosím?" řekla zmateně Sacharóza, kterou zaskočilo jeho milé vystupování.</p>
<p>"Řekl jsem: jak se jmenujete?" zopakoval Džerald.</p>
<p>"Em, Sacharóza Rezámková redaktorka Komety." už se úplně probrala a hodlala se do něj opřít.</p>
<p>"Skutečně? Dobrá tak pokračujme, teď se posuneme k části 'vysvětlování ďábelského plánu' ".</p>
<p>"A nemohli bychom se již posunout k části 'a nebýt vás bylo by mi to prošlo'?"</p>
<p>"Ne protože bychom úplně přeskočili část 'záchrana na poslední chvíli' ".</p>
<p>"Aha tak do toho"</p>
<p>"Dobrá, do nedávna jsem žil v nejhorších končinách tohoto města, živil jsem se odpadem a život ke mně nebyl zkrátka spravedlivý. Tedy až jednoho dne jsem se dotknul něčeho, co způsobilo tohle" a vytvořil kouli oné "záře" a pak ji nechal zase rozplynout. "Brzy jsem se to naučil lépe využívat a dokázal jsem díky tomu omráčit slabší troly"</p>
<p>"A proč troly?"</p>
<p>"I ti nejslabší trolové mají diamantové zuby"</p>
<p>"To dává smysl"</p>
<p>"Takže jim vezmu zuby a hodím je do jámy za těmito dveřmi, kde skončíte i vy madam"</p>
<p>....</p>
<p>"Nechcete říct něco jako 'tohle vám neprojde!'?"</p>
<p>"Proč?"</p>
<p>"No to je často chvíle kdy dorazí záchrana na poslední chvílí"</p>
<p>"Co? Dobrá tedy. Tohle vám neprojde" řekla poněkud nevzrušeně. Práskly dveře a objevil se v nich barbar Cohen.</p>
<p>"Šlyšel šem že tady.... štrpení" *rychlé nasazování zubů* "potřebuje pomoc!"</p>
<p>A dál si to asi umíte představit. Pro Sacharózu byl dne hromsky perný den.</p>


  <h2>Adventní­ drabble č.24b</h2>

<p>Death</p>
<p>Tak dnes. Už dneska. Zase po letech. Připadá jí to jako včera. Včera? Nebo dávno? Jí čas utíká jinak. Dávno si zvykla na to, že pro ni je skutečně relativní, ne absolutní. Dvanáct, čtyřiadvacet hodin, sto let – velké i malé ručičky obíhají dokola, nakonec doklepnou a pak přejdou jakoukoli pomyslnou hranici. Jaké to asi bude, zrovna dnes, zrovna v tomto městě? Nemohla se dočkat. Vždycky si říkala, že jen chce vědět, o co je připravuje. Ale pokaždé to bylo fascinující, zábavné. Občas už to skoro cítila, skoro to měla. Skoro jako by byla naživu. Skoro.</p>
<p>Nemohla to dostat z hlavy. Tolik slov a myšlenek. Tolik zápalu a chuti přesvědčit druhé, argumentovat. A zas váhání – jak je to doopravdy? Život z nich přímo zářil. Vypadalo to, že se hádají, ale ne. Byla to jen filosofická debata studentů a jejich profesora. Hromská partička. Lavička a zídka univerzitního parku. Profesor byl drobný, trochu bezbarvý mužík, řídnoucí aureola přerostlých šedých vlasů, brýle, manšestr. Ale mezi dohadujícími se studenty byl ve svém živlu, jakoby stejně mladý, jako oni. Nechala se strhnout, vždyť se bavili právě o tom, co i jí leží v hlavě věky. Vlastně se bavili o ní. Byla si jistá, že si ji zapamatoval.</p>
<p>Vystupoval z autobusu a vypadalo to, že omdlel. Ale nebyla to pravda. Byl konec. Spravedlivý? Kdo ví? Prostě konec. Jeho života. Přemýšlela, jestli bude rád, že ji uvidí. Jestli bude rád, že na to není sám. Sehnula se nad ním, empatická kolemjdoucí. „Ahoj, pamatujete si mě? Já jsem Smrt.“</p>

<h2>Adventní­ drabble č.24c</h2>
<p>Hvězdičky poblikávaly, mléčné dráhy tekly a v malém baru na konci vesmíru se u dohasínajícího ohně v krbu právě dnes sešli ostřílení lamači dívčích srdcí – Eidam, Fabio a Everett, aby s eopájeli vlastní výjimečností. Rozesadili se kolem stolku jako v anonymním klubu a počalii vyprávět historky plné touhy, při kterých se vaří krev v žilách a po nichž se sledují zahradnické pořady. Většinou zahrnovaly golfové hřiště během Rider cupu.</p>
<p>Eidam</p>
<p>„Úplně poprvé to bylo s Květinkou Martou. Právě jsem vystupoval ze svého desetimetrového Lincolnu a tu jsem ji spatřil, přešel jsem ulici a pronásledoval ji přes půl města a stákle fixíroval. Kráčela jako slepá i tutě vrazila do lampy a omdlela. Přehodil jsem přes ni kabát, sklonil se k jejím bezbarvým rtům a políbil ji. Dál, buďmež spravedliví, je to snadné.“</p>
<p>Fabio </p>
<p>„Pro mne to bylo poprvé s Matyldou Šmausovou. Vešel jsem do obchodu, ale hromské točité dveře se zasekly a uvěznily ji na druhé straně. Bezradně tápala po skle až zvedla zrak a naše oči kuryzovaly až ji přesvědčily. Prorazil jsem rukou sklo, které nám bránilo mezi námi a sevřel ji v náručí. Vyrobila obvaz z lemu své spodničky a přivinula se na mou mužnou hruď. Již neměla sil vzpouzet se více.“</p>
<p>Everett</p>
<p>„Pokud jde o dámy – jsem diskrétní,“ pronesl Everett pohrdavě.</p>
  {% endblock %}