{% extends "post.html" %}

{% set title = 'Adventní drabble č.3 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.3</h2>
<p>Představoval si, jak ze sedla srazí muže v plášti s rozšklebenou levhartí přilbou na hlavě. Jeho sny mu jej nabízely v nejrůznějších podobách, přesvědčovaly jej o tom, že svou pomstu dokoná. Nikdy jej nenapadlo, že by byl výsledek opačný. Mnoho nechybělo. Když přehodil nohu přes koňský hřbet, aby mohl pokleknout před králem, bolest jej téměř zbavila vědomí.</p>
<p>Uvědomil si, že leží na zemi a že jej čísi ruce někam odnášejí. Modré nebe vystřídalo červenobílé stanové plátno. Potom mu anonymní hlas oznámil, že „teď to zabolí“. Cvakly čelisti nějakých kleští a celou levou polovinou tváře mu projela strašná bolest, jako kdyby mu rvali oko z důlku.</p>
<p>Ucítil ještě cosi jiného. Něčí dlaň, něžná a laskavá, sevřela jeho ruku a známý hlas šeptal nějaká povzbuzující slova. Nerozuměl jim, ale tón a barva hlasu dokázaly odehnat spáry bolesti, které trhaly jeho obličej na kusy…</p>
<p>Probral se. Byla tma a přitom cítil sluneční paprsky. Bezradně se optal prázdnoty: „Jsem slepý?“</p>
<p>„Nejsi, to jen obvazy,“ řekl hlas, který jej předtím tak uklidňoval.</p>
<p>„Jsi tu se mnou celou dobu?“ zeptal se dívky překvapeně.</p>
<p>„Měla jsem strach,“ slyšel její odpověď.</p>
<p>„Neměl jsem tě do toho zatáhnout,“ řekl omluvně.</p>
<p>„Nezatáhl, jsem tu z vlastní vůle,“ řekla a on znovu ucítil její laskavý dotek. Ucítil také, jak mu položila svou hlavu na hruď. Touha, kterou pocítil teď, byla tak jiná, než pomsta, která jej štvala až k dnešnímu dni. Našel dívčiny vlasy a hladil je.</p>
<p>Náhle se však ozvaly kroky, které následoval hlas plný pohrdání: „Tady je ten hrdina.“</p>


  {% endblock %}