{% extends "post.html" %}

{% set title = 'Adventní drabble č.5 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.5a</h2>
<p>Destruction</p>
<p>„Dnes si uvaříme něco výjimečného!“ usmál se světlovlasý vousáč do kamery. Kameraman si pomyslel, že je nespravedlivé, jaké má ten chlápek štěstí – nejen že je pohledný, vysoký svalovec, ale ještě ho miluje kamera. Vypadal na obrazovce tak hromsky dobře, až to bylo zničující. Za oknem studia prosvítalo mdlé, bezbarvé město smáčené deštěm a matované smogem. Ale ten chlápek zářil, sršel neotřelým humorem. „Tohle bude zlatý hřeb našeho zkázonosného menu! Dezert, kterým všechny odrovnáte! Pokud ještě vaši hosté nejsou na pokraji mdlob slasti, Čokoládové vytržení se speciální omáčkou je spolehlivě svrhne přes okraj.“ Zubil se a rychle míchal cosi čokoládového. Pěkně to vonělo. Kameraman se na gáblík těšil. Vůně stoupaly, začalo mu kručet v břiše. Štáb si přišel na své, protože co taky s ukázkovými kulinářskými výtvory, když se něco pro kameru musí připravovat opakovaně a vyhodit ty dobroty by byla škoda? Vzato kolem a kolem, není to tak špatný kšeft. Co se ve studiu uvaří, to se taky sní. Nemusejí všechnu smetánku slíznout jen prominenti. Dál snímal okem kamery hromotluka, který vypadal, spíš jako starověké božstvo, než nějaký Ratatouille. Ten nešetřil úsměvy a bezpečně ničil dámskou polovinu diváctva bleděmodrými pohledy. </p>
<p>Zkáza vařil rád, dokonce raději, než maloval. Snad že tahle jeho díla připadala publiku stravitelnější. Vystupovat jako kuchař a gurmet na cestách – zaměstnání dobře placené a teď zrovna in. Zároveň svého druhu maskování všem na očích, tma pod svícnem. Vůbec ho zajímaly kreativní činnosti. Boření, ničení… Batolata to možná baví. Než se naučí něco lepšího. On z toho už vyrostl.</p>


<h2>Adventní­ drabble č.5b</h2>
<p>Mladší černý poník vesele hopkal po hliněné stezce vystupující kolem přehrady. Dnešek byl klidný den. Po cestě jen sem tam někdo prošel okolo, ale jinak jako by se město teprve probouzelo. Bylo jaro a svět kolem rozhodně nebyl bezbarvý. Obloha byla naprosto bez mráčku. Stromy už byli v květu a bylo spravedlivé uznat, že byl neobyčejně teplý měsíc. Spolu s Růžovým poníkem vyšli nahoru, kde se cesta napojovala na betonovou silnici vedoucí přes přehradu. Na jedné straně se rozprostírala vodní nádrž od jejíž hladiny se odráželi dopolední paprsky, na straně druhé voda padala do hlubiny pod přehradou kde se za hromského hluku tříštila o kameny. Tady nahoře vál svěží vánek, který poskytoval příjemné zchlazení. </p>
<p>Chvilku zůstali stát, opření o zábradlí, a pozorovali svět kolem. Dlouho se nesetkali, a od té doby se hodně změnilo. Růžový poník byl rád, že konečně vidí Mladšího černého poníka šťastného a usměvavého. Přešli přehradu a zamířili pryč od ruchu města. Kdyby je potkal někdo, kdo nemá poníky rád, omdlel by vzteky. Domy kolem ubývali, až došli na úplný konec města, kde začínaly rozlehlé louky a lesy. Sedli si pod kvetoucí strom. Tráva byla už suchá a tak se jim tam odpočívalo velice pohodlně. Když už měli klid od všeho kolem, začali si povídat. Mluvili celé hodiny, což bylo pro Růžového poníka nezvyklé. Raději poslouchal, než mluvil, ale v tomhle případě udělal výjimku. Bylo zvláštní trávit dnešek s Mladším černým poníkem, vzhledem k tomu, co bylo za den. Ale byl rád, že jsou zase jednou spolu.</p>



  {% endblock %}