{% extends "post.html" %}

{% set title = 'Adventní drabble č.8 (2017)' %}

{% block content %}

  <h2>Adventní­ drabble č.8</h2>
<p>Noc nad Ruathou byla chladná. Přes pozdní hodinu panoval na držbě ruch. Brzy začnou padat Vlákna. Jaxom, pán této držby a jezdec na drakovi, se musel připravit na blížící se Spad. Přehodil si přes sebe teplou leteckou bundu a vyrazil za svým drakem.</p>
<p>„Ruthe, musíme na spaliště, ostatní draci již začali žvýkat ohňovec.“ Zavolal Jaxom na svého draka zatímco přebíhal přes nádvoří. Okolo něj se v chabém svitu světlenů pohybovaly anonymní postavy formující pozemní skupiny s vrhači plamene. Cítil, že jeho drak ještě spí.</p>
<p>Už jsem vzhůru. Už jsem vzhůru. Přesvědčoval Jaxoma Ruth. A vskutku, než k němu Jaxom doběhl, Ruth už nedočkavě čekal na svého jezdce. V očích mu vířily žluté a červené odlesky značící touhu bojovat s Vlákny.</p>
<p>Jaxom se vyhoupl Ruthovi na hřbet a Ruth se odrazil od země. Rychle stoupali k noční obloze, nechávajíc za sebou světlo světlenů. V téhle tmě byl Jaxom naprosto slepý.</p>
<p>Neboj se, já přesně vím, kde jsem. Ujišťoval Jaxoma bílý drak. Jaxom to věděl. Ač ostatní říkali jeho drakovi s pohrdáním skrček, Ruth byl ten nejchytřejší drak na Pernu.</p>
<p>Čelo Spadu se blížilo. Jaxom s Ruthem zaujali svoji obvyklou pozici v letce.</p>
<p>Pozor, vpravo. Křikl Ruth a hned skočil do mezimezí, aby se vyhnul chuchvalci Vláken. Chlad mezimezí obklopil Jaxoma jen na vteřinku. Ruth se hned vynořil. Přímo do proudu ohně chrleného hnědým drakem.</p>
<p>Jaxoma pohltil žár, cítil jak jeho drak prudce klesá.</p>
<p>„Obvazy a uspavcovou mast!“ Křičel někdo.</p>
<p>JAXOME, NEOPOUŠTĚJ MĚ! Řval bezradně Ruth zatímco mladý Pán odplouval do temnoty.</p>


  {% endblock %}