{% extends "post.html" %}

{% set title = 'Historická povídka č. 4 (3. kolo)' %}

{% block content %}
<br><b>Autor: Brandon_Gepeto</b><br>

<p>
Once Upon an Ice and Fire (Kde bol oheň, tam bol ľad) <BR><BR>
Kedysi existovala Ríša siedmych kráľovstiev. Každému kráľovstvu panoval jeden kráľ. Kráľ z prastarého rodu. A každé kráľovstvo bolo iné. Po mnoho rokov prežívali. Až kým im všetko, čo milovali, nebolo vzaté. Stalo sa to takto…

 <BR><BR>

I. Voľby sa blížia
<BR><BR>
Noc bola chladná. Tak to už v Dorne bývalo. Dni horúce ako peklo, kde piesočné búrky a jedovaté hady sú jedinými spoločníkmi, noci chladné až ku kosti, kedy si nemôžete byť istý, či na vás nečíha niečo horšie, než je jedovatý had. Eddardovi Starkovi to však nevadilo. Dlhé dni a týždne sa premával za nocí týmito púšťami, keď musel brániť nejakú vežu či hrádok. To boli ich stanoviská. Oni chceli spravodlivosť – nechceli Šialeného kráľa Aerysa. Avšak kráľ Dorne, kráľ Doran Martell, ten si ctil rodinu. A tou sa mu Aerys stal, keď jeho synovi dal svoju sestru za ženu. A práve tieto roztržky boli dôvod, prečo tu bol teraz Ned. Vietor mu vial do hnedej hrivy ako tak uháňal na svojom koňovi k jednej z ich veží. Jeho sestra Lyanna bola unesená Aerysovým synom Rhaegarom. Nedovým mužom sa ju síce podarilo nájsť, ale vraj je slabá a umiera. Preto Ned musel ísť do tej veže, kde ju ukryli.

 <BR><BR>

Veža bola celá z kameňa, šedá, s hnedým vrcholom v podobe guľatej strechy. Vonku boli piati strážni. ,,Milosťpane,“ oslovil ho jeden zo strážnych, ,,je na samom vrchu.“ ,,Ďakujem,“ odpovedal mu Ned. Ihneď sa pustil po drevenom schodisku na samý vrch veže, bral schody po dvoch. Zelené dvere strážili dvaja strážni. Ned okamžite vstúpil. Alebo skôr vtrhol. Miestnosť bola zahalená v šere a tme, svetlo poskytoval len obrovský mesiac vonku a malá svieca pri posteli. Malá posteľ, na ktorej ležala ešte menšia žena, chudá a slabá, celá bledá. Už odchádzala. Ned to cítil. Cítil, že smrť je na blízku.

 <BR>V

,,Lyanna,“ vydýchol, keď kľakol pri jej posteli. ,,Čo sa stalo?“ Ona len pohladila jeho tvár. A usmiala sa. ,,Princ Rhaegar… Zošalel. Ale… Hovoril len… Vieš, čo sa hovorilo. Že celý svoj život len sedel v knižnici a čítal príbehy. A jedného dňa, keď si niečo prečítal, odhodlal sa, že sa naučí bojovať. On… Myslí si, že sa na nás rúti zlo. Nejaká kliatba. A vraj… Jediný, kto ju bude môcť zachrániť je ten, čo ľadu odolá a bude ohňom nespálený. Ja… Nechápala som… A on… Niečo mi dal. Život.“ Ned bol značne zmätený. ,,Ale… Ako to myslíš. Si slabá a od krvi. On ti predsa ten život vzal.“ Lyanna sa zasmiala. ,,Život mi síce dal, ale nie, aby som ho žila ja. Dal mi dieťa. Moje a jeho. Krásneho syna. Ned… Musíš mi niečo sľúbiť…“ ,,Lyanna!“ zastavil ju Ned. Bol zmätený. Počul rôzne desivé chýry, čo všetko Rhaegar napáchal Lyanne. Jedna z nich bola obzvlášť strašná – vraj ju znásilnil. A teraz… ,,To nemyslíš vážne! On ťa znásilnil a dal ti dieťa? To dieťa bude netvor, Lyanna, treba to vziať preč!“ Lyannin úsmev vystriedal des. ,,Eddard! Nie! Je to moje dieťa. Naša nádej. Sľúb mi, že ho ochrániš. Nikto sa o ňom nič nedozvie. Nikto to nebude vedieť. Jedného dňa… On sám nás zachráni. Eddard z rodu Starkov, brat môj… Sľúb mi to!“ Ned nemal na výber. Nechcel, aby odmietnutie bolo to posledné, čo svojej sestre povie. ,,Sľubujem.“ Povedal len a Lyanna spokojne odišla, s úsmevom na tvári. Pomaly sa jej zavierali viečka. Kým nezaspala. Naveky.

 <BR><BR>

Pod jej pokrývkou našiel malé batoľa, bledé ako sneh. Spokojne spalo vo vlne. Teraz budeš mojím dieťaťom, povedal si Ned v duchu, ochránim ťa. Si to jediné, čo mi po mojej sestre zostalo… Jon.

 <BR><BR>

***
<BR><BR>
Deň ako každý iný. Jon vstal, naraňajkoval sa, išiel do práce, odpovedal na pár otázok ohľadne používania počítačov, spravil správu, čo sa ten deň dialo, podvečer bol doma, navečeral sa a išiel spať, aby sa na druhý deň zobudil do toho istého únavného dňa. Robil to takto každý deň. Musel si zarobiť na jedlo, na nájom. Tak to tu chodilo. Kto nepracoval nemal peniaze. Hej, lenže tu sú to papiere a bezcenné mince, pomyslel si Jon, v mojom domove sa platilo drahým zlatom. Jon tu žil už skoro mesiac a ešte stále si neprivykol na tento svet. Vysoké budovy, technologické vymoženosti. Počítače boli zaujímavá vec, aspoň základom hneď pochopil a vďaka komunikatívnosti a hlavne akceptovaní starých ľudí sa stal výpomocou tretieho veku a ich chápaniu moderných technológií. Aj tak však cítil, že sem nepatrí. A nevedel, či má šancu dostať sa späť. Musím na to prísť, hovoril si, musím nájsť spôsob ako sa dostať domov.



 <BR><BR>

A na druhý deň sa o to znova pokúšal. Mal voľno a tak si vyšiel von. Nie do tých smogom zaparených ulíc veľkého mesta, kde žil, ale von, na trávnaté lúky Anglicka, k prírode, k lesom. Prišiel až ku veľkej fontáne. Na nej bola podobizeň veľkého havrana, ako nesie vo svojich spároch mladú dračicu, ktorá bráni svoje vajce. Dračici z úst tiekla voda. Práve toto bola prvá vec z tohto sveta, ktorú videl. Prebudil sa vo vode tej fontány. Zrazu… Bol tu. Odviezli ho do nemocnice. Veľkého ústavu plného akýchsi majstrov a majsteriek v bielom, ktorí ho ošetrili. Snažil sa im všetko vysvetliť, že je synom kráľa a že pochádza zo Zimohradu, ale oni len povedali, že utrpel zranenie hlavy a že stratil pamäť. Pomohli mu dostať sa na nohy. Nikdy však nezistili, kto skutočne je. To preto, že ja nepatrím sem, premietal Jon. A nech si hovoria čo chcú. Nikdy neuverím, že toto je môj domov.

 <BR><BR>

Dotkol sa asi každého záhybu fontány, dokonca sa ponoril do jej vody. A nič sa nestalo. Po tvári mu začali stekať slzy. Už je tomu skoro mesiac, čo tu je. Strácal nádej, že sa vráti domov. Vydal sa späť do mesta. Bolo celkom chladno a oblečenie mal celé zmočené. Bolo mu zima. A hlavne mal hlad. Rozhodol sa, že sa vydá k jednému z tých ich obchodov, kde človek povie, čo chce, zaplatí a má to. Dávajú tam také zvláštne buchty s mäsom. Sú zvláštne, ale tomuto miestu treba uznať, že chutia úžasne. Volajú ich Hamburgeri. Akurát bol na ceste, keď tu zrazu…

 <BR><BR>

Nie! To nemôže byť pravda! Jonovi sa na pol zabúchania zastavilo srdce. On tu predsa nie je! Pozeral sa do jedného z tých ich vynálezov. Škatuli, ktorá vedela ukazovať obrazy. Boli to poludňajšie správy. Na štítku dole bolo napísané, že ide o predstavovanie kandidátov na posty starostov malých mestečiek, ktoré ležali na severe Spojených štátov amerických. A jeden z kandidátov vyzeral presne ako… To nemôže byť pravda! Otec je predsa doma… A nikdy by sa takto neostrihal. No akokoľvek sa Jon snažil, stále videl kandidáta na post starostu Nového Anglicka – Neda, jeho otca. Postava v škatuli sa usmiala a nasledovali ďalší kandidáti.


<BR><BR>
Moment, premietal Jon, ak je otec tam, možno tam budú aj ostatní… Možno… Jon nemal čas. Vedel jediné – že chce ísť za svojím otcom. Ešte v ten deň si zbalil všetky veci a vydal sa na letisko. V živote si nekupoval letenku, ale nebolo to ťažké. ,,A kam to bude?“ ,,Nové Anglicko, prosím.“ ,,Smiem sa spýtať, aký je dôvod vášho letu?“ Jon zaváhal. ,,Vraciam sa domov.“ Nasadol do lietadla. Trvalo to asi dve hodiny. A možno aj celých desať. Nevedel sa dočkať chvíle, kedy sa zastaví pred svojím otcom. Napokon pristáli. Dýchať ten vzduch… To bolo úžasné. Jonovi sa nahrnuli slzy do očí. ,,Konečne… Idem domov.“

 <BR><BR>

***

 <BR><BR>

Eddard Stark stál na drevenom moste, ktorý spájal dve z veží Zimohradu. Zimohrad bol veľký a majestátny hrad zo šedej žuli. Ned hľadel na nádvorie, ako tam bojujú s cvičnými mečmi jeho synovia. Veru, premietal Ned, škoda, že len jeden z nich je skutočne môj. Robb akurát zhodil na zem Jona. Robba to tešilo, ale Jon len nahnevane vstal. ,,To si nebol ty, pošmykol som sa na ľade!“ ,,Skutočne?“ doberal si ho Robb. ,,Tak si dávaj pozor, na bitevnom poli žiadny ľad nebude, aby si sa oň šmykol.“ Naraz sa začali obaja, Robb i Jon, smiať a naháňať sa cez celé nádvorie. Rodrick, zimohradský zbrojmajster, ich len s úsmevom pozoroval. Aj Ned sa pri pohľade na nich musel pousmiať. Neboj sa, Jon, tvoja bitka ešte príde, pomyslel si Ned, ako zostupoval po schodoch na nádvorie.

 <BR>

Bol celkom chladný deň, ale chlad Nedovi nikdy nevadil. Zahľadel sa na zem. Skutočne niekde videl sneh a inde značnú vrstvu klzkého ľadu. Obyčajne na konci leta príde trocha chladnejší čas, premýšľal Ned, jeseň, kedy listy berú na seba iné farby a padajú. A potom príde zima, síce o niečo skôr tu na Severe ako v južných kráľovstvách. No predsa, zrazu, z ničoho nič príde chlad a začína sa prudká zima. Bez varovania. Bez jesene.

 <BR><BR>

,,Zima sa blíži,“ skonštatovala s úsmevom jeho žena Catlyn slová rodu Starkov, keď s ňou tej noci skončil. Vždy si ju rád bral. Bola taká krásna. Ich sobáš bol dohodnutý, no Ned mu bol rád. A miloval ju. Veril, že by mu ešte jedného syna, či ba aj dcéru, priniesť mohla. ,,Ja viem, moja paní, ale takto rýchlo? Bojím sa, že sa blíži niečo zlé.“ ,,Och, môj pane, ty si sa vždy obával aj najmenších vecí. Neboj sa. Čo by také mohlo prísť?“ Ned sa len usmial.
<BR><BR>


Ona o ničom, žiaľ, netuší, premietal Ned. Sľúbil Lyanne, že to nikomu nepovie. Či tomu veril alebo nie. Prosto nemal odvahu to povedať ani vlastnej žene. Ešte ju nepoznal a ani po toľkých rokoch… Páni, uvedomil si náhle Ned, toľké roky. Všetko to prešlo tak rýchlo. Robert ovládol trón Búrlivej zeme, ktorej predtým vládol Aerys, Sedem kráľovstiev sa obnovilo, vojna sa skončila, sem-tam nejaká malá rebélia, Ned sa vrátil a žil. A zrazu, prešlo vyše dvadsať rokov.

 <BR><BR>

,,Môj pane,“ oslovila ho Catlyn ako tam tak stál a hľadel do okna, ,,ešte je tu niečo, čo by si mal vedieť. Dnes podvečer prišiel havran z Búrkostromu.“ Ned sa náhle otočil. Búrkostrom bolo sídlo kráľa Búrlivej zeme, ktorým bol teraz Robert. Nepočul som o ňom taký dlhý čas, prichytil sa premýšľať Ned. ,,Čo sa deje?“ chcel vedieť. ,,Jon Arryn, tvoj priateľ… Viem, že ti bol skoro ako otec… On je mŕtvy. Robert má sem namierené, aby sa s tebou porozprával.“

 <BR><BR>

Robert? Sem? Ned mal v hlave zmätok. Jon Arryn bol jeho dávny priateľ, s ktorým sa rozlúčil, keď Jon ostal pracovať ako pobočník kráľa Roberta. To bolo hneď po skončení vojny. Dokonca po ňom pomenoval Lyanninho syna. A teraz je zrazu mŕtvy. A Robert ide priamo na Zimohrad. ,,Tak ich teda kráľovsky privítame,“ povedal len.


<BR><BR>
***

 <BR><BR>

Cesta bola dlhá. Ale to sa stáva, keď sa máte po dlhom čase stretnúť s niekým, koho ste dlho nevideli. Prosto sa to zdá ako večnosť. Jon nasadol na taxík, ktorý ho doviezol do jednej malej dediny a odtiaľ išiel stopom k jednému lesu. ,,Tam nechodí žiaden autobus ani taxík,“ povedal mu muž, ktorý ho vzal so sebou. ,,Tade si už musíte poradiť sám, pane. Ani ja tam nechodím.“ ,,Aj tak ďakujem,“ povedal Jon, hodil mu pár dolárov, ktoré si zamenil z libier. Potom išiel pešo až k značke s nápisom Vitajte v meste West Stories.

 <BR><BR>

Tak tu je to, premietal Jon, miesto, kde celý ten čas boli. A ja som ich konečne našiel. Bol šťastný. ,,Už idem,“ povedal si viac-menej pre seba a vydal sa cez les, ktorý bol už pomaly zahaľovaný svitaním. Bolo už takmer päť hodín ráno a on celú noc nespal – nemohol v lietadle zaspať, keď vedel, kam práve ide.
<BR><BR>


Mesto West Stories bolo malé a pokojné mestečko. Tu nejaká krčma, tu nejaké bistro, tu malebná reštaurácia, inde veľká nemocnica či knižnica. Bolo prázdne, ale to asi pre tú skorú hodinu. Sadol si do bistra a spokojne sa naraňajkoval. Žalúdok mal síce od nervozity vodovitý, ale bol aj veľmi hladný. Dokonca sa mu zdalo, že jedna z obsluhujúcich sa podobá na jeho sestru Sansu.


<BR><BR>
Keď bolo skoro šesť hodín, vstal a šiel k pultu, aby zaplatil. Obsluhovala tam veľmi stará pani. ,,Prepáčte,“ spýtal sa pri platení, ,,smiem sa spýtať? Kde nájdem Eddarda Starka?“ Paní naňho zmätene hľadela. ,,Prepáčte, nikoho takého nepoznám.“ Jon nevedel, ako na to. V tom si všimol oznamovací plagát, kde bol jeho otec. Ale meno bolo iné. ,,Môžem vám pomôcť?“ spýtala sa paní. ,,Nie, ďakujem, myslím, že už viem, kde bude.“ Jon sa len usmial a išiel von. Kandidáti vraj mali preslovy pred radnicou.

 <BR><BR>

Eduard Frost? Skutočne je to teraz jeho meno? Jon bol naozaj zmätený. Prišiel akurát, keď jeho otec alebo Eduard, alebo kto to bol, skončil svoju reč a zišiel z pódia. ,,Prepáčte,“ zastavil ho Jon na jeho ceste. ,,Interview bude až zajtra, teraz, ak dovolíte, mám naponáhlo.“ Takto ho odbil jeho otec. ,,Vy neviete, kto som?“ Jon tomu nemohol uveriť. ,,Žiaľ, nie. Prepáčte, už musím ísť.“ To bolo jediné, čo povedal. Potom odišiel. Preč. On netuší, kto som, uvedomil si Jon náhle so zdesením.
<BR><BR>


II. Veci, ktoré kráľ miluje najväčšmi
<BR><BR>
,,Nemáme na výber! Treba ju zabiť!“

 <BR><BR>

Kráľov hlas sa rozliehal po celej miestnosti. Keď prišiel, boli to krásne objatia, slzy. Avšak hneď ako si Robert Neda zavolal na poradu v súkromí, rýchlo sa to zvrhlo k hádke.


<BR><BR>
Robert bol do Lyanny neskutočne zamilovaný. Dokonca si ju mal aj vziať. Avšak Rhaegar to zmaril, keď ju uniesol, znásilnil a zabil. Robert sa rozhodol nájsť a zabiť každého Targaryena. Zabil Rhaegara, nepotrestal krvavú vraždu jeho malých detí, zmieril sa s tým, že ho chráni rytier, ktorý predtým zabil kráľa Aerysa a spokojne si nechal zopakovať správu o smrti kráľovnej Rhaelly, Aerysovej ženy, ktorá zahynula pri ťažkom pôrode. Údajne zahynulo i dieťa a to hodili do mora aj s matkou, avšak zdá sa, že ser Jon Connington, ktorý držal stráž v danú noc, klamal.


<BR><BR>
Aerysovi sa narodila zdravá, silná a krásna dcérka, ktorú Jon chránil. Volá sa Daenerys. Po dlhé roky ju učil a staral sa o ňu v tajnosti v Dračom kameni. A keď sa tam prišiel usídliť Robertov brat Stannis, Jon sa tváril, že ide o jeho nemanželskú dcéru. A keď nedávno dosiahla vek dvadsať rokov, Jon ju poslal niekam ďaleko. Vtedy sa to prevalilo.


<BR><BR>
,,Spýtal som sa ho, kam. Kam ju poslal.“ Vysvetľoval Robert. ,,Mučil som ho, ale jediné, čo sa z neho dostalo, bolo, že ju poslal ďaleko, do zeme, kde nikto nestarne a mágia tam ožíva s drakmi.“ Nahnevaný kráľ tresol päsťou do stola.

 <BR><BR>

Ned si nebol istý, či rozumie. ,,Zem, kde nikto nestarne a mágia tam ožíva s drakmi? Valýria? Poslal ju do Valýrie?“ Ako dieťaťu mu Stará Nanny, stará pestúnka zo Zimohradu, hovorila príbehy o ďalekej bájnej zemi, kde žijú všetci šťastne a nikto tam nestarne a všetko je to vďaka silnej mágií, ktorá sa tam drží vďaka drakom, ktorí dokážu žiť len tam. Tá zem sa vraj volala Valýria. Avšak spomenula tiež, že Valýria skonala, premietal Ned. ,,Nie je to náhodou len rozprávka?“

 <BR><BR>

Robert si odfrkol. ,,Myslel som si, že ma uráža a robí si zo mňa posmešky. Dal som ho za to upáliť. Ale môj majster to vzal inak. Hľadal v knihách. Podľa pôvodnej povesti kedysi na ostrove Val Heros, čo vo valýrijčine znamená Údolie hrdinov, povstala vyspelá civilizácia Valýrijcov, ktorí tam zasievali polia, vzrastali a vytvorili obrovské kráľovstvo. Vytvorili si jazykový dialekt a kráľovstvo pomenovali Valyhyros. My to preberáme ako Valýria. Hlboko v zemi našli dračie vajce, z ktorého sa vyliahol drak Bale Ron, čo znamená Stvorenie ohňa. Zistili, že tento drak im priniesol mágiu, vďaka ktorej sú nesmrteľní, nestarnú a vedia kúzliť. Keď drak zahynul, oslobodili iné vajce s drakom Vhag Harom, to znamená Nová nádej. Ako však roky plynuli, privykli si na nesmrteľnosť, mladosť a mágiu natoľko, že ako starí by boli moc krehkí a nevedeli by sa o seba postarať. Ešte 50 rokov takto žili vďaka drakovi Merrea Xesseovi, to znamená Milosť božia. Ale potom už žiadneho draka nenašli, zhynuli a tak Valýria padla. Podaktorí to označujú za rozprávku, iní za posolstvo, ktoré sem doniesol nejaký moreplavecký Valýrijec. Nikto sa dodnes nedozvedel pravdu, ale tento chýr koluje už po niekoľko stáročí.“

 <BR><BR>

,,Avšak ak by aj Valýriu našla, bude to spustošená zem. Bez mágie. Netreba sa o ňu strachovať.“ Ned v to dúfal. Keby tu bola Stará Nanny, premýšľal, tá by vedela pravdu. Ona vždy všetko vedela. Stará Nanny však zmizla keď bol Ned starší a nikdy viac ju nevidel. Jeho otec ju dokonca aj hľadal v lesoch. Bezúspešne. ,,Ned,“ snažil sa mu vysvetliť Robert s krvou v hlave, ,,ona sa nezastaví, kým nás nezničí a ja plánujem ju ako Targaryenku zničiť skôr!“ ,,Nemôžeš žiadať, aby som napomáhal zabiť nevinné dieťa, Robert!“ Nevinné ako Jon, pomyslel si Ned.

 <BR><BR>

Tu sa začali hádať. Musel ich počuť celý hrad.

 <BR><BR>

,,Ja milujem len krv, boj a pomstu. A aj Lyannu… Kedysi… To oni nám ju vzali.“ ,,Robert,“ snažil sa ho upokojiť Ned, ,,to nevinné dievča za nič nemôže!“ Robert si aj tak nedal povedať. Odišiel s krikom.

 <BR><BR>

Ned ho nejakú dobu nevidel. Až za pár dní konali veľkú hostinu, na ktorú prišiel aj on.

 <BR><BR>

***

 <BR><BR>

Jon sedel v malej krčme. Nebolo to zrovna miesto, ktoré by bolo hygienické. Bola celá špinavá, tmavá a veľa ľudí tam nebolo. Alkohol bol odporný, ale lacný. Jonovi to bolo všetko jedno. Sedel tam a popíjal. Cítil v sebe závraty a mal odporný pocit.

 <BR><BR>

Zahodil som všetko, premietal, byt, prácu, možno nový začiatok, s ktorým by som sa mal zmieriť, prišiel som sem a tu zistím, že to bolo všetko zbytočné. Jon sa pozeral na mesto, ale nebol tam ani náznak hradu. Niekedy stretol aj príjemné tváre, avšak nikto známy. Párkrát sa mu zdalo, že vidí Sansu, Aryu či Robba, ale nikto sa za ním neobhliadol.
<BR><BR>


Zrejme to bol niekto iný, pomyslel si Jon, niekto, kto sa naňho len podobá. Alebo som si to všetko naozaj len vymyslel. Videl som pána Frosta na plagátoch alebo v telke a nejako som si vytvoril predstavu, že je to môj otec. Možno mali doktori pravdu. Jon už z toho celého strácal nádej.

 <BR><BR>

Bol rozhodnutý. Na druhý deň odchádza.

 <BR><BR>

Balenie bolo rýchle, vstávanie s takou opicou ťažké, ale napokon už o ôsmej ráno bol pripravený ísť. Bolela ho hlava a videl zťažka, napriek tomu však išiel. Pred ním sa rozprestieral východ z West Storiesu. Bol na ceste, keď omylom vrazil do nejakej osoby.

 <BR><BR>

,,Prepáčte,“ ospravedlňovala sa mu osoba, do ktorej vrazil. Bol to asi tridsaťročný muž. Nie zrovna prekypujúci krásou. Ale celkom vysoký. Mal krátke zlaté vlasy. ,,Nevidel som vás.“ ,,To nič,“ vravel mu Jon, ,,to ja. Bolí ma hlava, vrazil som do vás. Ospravedlňujem sa.“ Pokračoval v ceste, keď ho ten muž zastavil s mierne prekvapeným výrazom. ,,Prepáčte, ste mi povedomý, ale ešte som vás tu nikdy nevidel. Môžem vedieť, kto ste?“

 <BR><BR>

Jon bol chvíľu prekvapený, kto to je. Muž sa mu tiež zdal povedomý. Moment, uvedomil si Jon, na Zimohrade bol predsa skoro rovnaký človek, pri kráľovskom stole pri tej hostine… Iba menší. ,,Ja… Som Jon.“ Muž sa zarazil a razom sa usmial. ,,Takže Jon… Teší ma. Mňa tu volajú pán Spellcaster. Vy ma však môžete volať mojím krstným menom. Som Tyrion.“ Muž sa začal obzerať. ,,Čo poviete, nepohovoríme si?“


<BR><BR>
***

 <BR><BR>
Daenerys Targaryen stála na balkóne. Pred ňou sa rozprestieralo krásne mesto. Všade boli záhrady, kvety, zeleň, vysoké mramorové múry, domy, fontány. Všetko ohraničené veľkým múrom. Všetko uprostred azúrového mora. Všetko v pokoji. Bolo tam množstvo zverov a krás prírody. Avšak ani jedna živá ľudská duša. Dany tam bola sama. Spravila si bývanie v najväčšom paláca a žila si tam už pár týždňov. Loď aj jej posádka zhorela, keď prechádzali cez Plamenný pás. Ona nie. Jej oheň neublížil.

 <BR><BR>

Začula za sebou zasvišťanie a rýchlo sa otočila. Stál tam nízky mužík so škaredou tvárou. Mal krátke zlaté vlasy. ,,Ach,“ oddychla si Dany, ,,to si ty, Tyrion.“ ,,Ja, moja paní.“ Pritakal muž. ,,Ako si užívaš dovolenku v raji?“

 <BR><BR>

Dany nevedela, čo povedať. Všetko tu bolo krásne, tá príroda, mala tu všetko, čo chcela, nikto ju nevyrušoval. Napriek tomu sa cítila naozaj osamelo. ,,Je tu pekne, ale napriek tomu tu nechcem zostávať.“

 <BR><BR>

,,Veď ani nezostaneš,“ Tyrion sa pousmial. ,,Si tu len na skok, aby ťa nedostal Uchvatiteľ. Neboj sa, tvoja pomsta sa blíži.“ ,,Kedy už tú kliatbu vypustíme?“ Dany bola nedočkavá.


<BR><BR>
Tyrion sa zjavil pred pár dňami. Ovládal zvláštne čary, rozosmial ju nimi, ale tiež jej pomohol. Vraj to bol on, kto varoval Jona, že sa blíži Stannis, on, kto ju celý ten čas chránil. Najskôr mu nedôverovala, ale prirástol jej k srdcu. Nezabúdaj, kto to je, napomínala sa Dany, je z rodu Lannisterov, od nich nič dobré nečakaj. Napriek tomu ju zachránil. Keď Uchvatiteľ zistil, že je nažive, poslal ju aj s posádkou sem.

 <BR><BR>

,,Vieš, že aby to fungovalo, potrebujeme lannisterské zlato a srdce kráľa. Ja sa o to srdce postarám. Uchvatiteľ je už na Zimohrade, tam, kde siaha moja mágia. Stačí počkať na vhodnú chvíľu a vyrvem mu srdce. A to zlato? Toho máme dosť. Stačí zakrútiť otcovým kolovrátkom.“

 <BR><BR>

,,Nie!“ zamietla to Dany. ,,Chcem, aby zo všetkých kľakačov a zradcov trpel najviac Uchvatiteľ, keď bude kliatba vypustená. Chcem, aby žil, keď sa tam dostaneme. Vyrvi to srdce inému kráľovi. Napríklad tomu Eddardovi. Ten sa na veci podieľal tiež. Ten môže zomrieť.“

 <BR><BR>

,,Drahá,“ chlácholil ju Tyrion, ,,v našej ríši vyrvať srdce môžu brutálni vrahovia. Ale tiež môžem niekomu vyrvať srdce ako magický nástroj, niečo, čím cíti. Stačí mu ublížiť. Ned Stark bude trpieť a my budeme mať srdce, ale nezomrie. Vyrvem mu srdce tým, že zabijem niekoho, koho miluje.“
<BR><BR>


Dany to nechápala a ani ju to nezaujímalo. ,,Prosto nech trpí a nech máme to srdce.“ ,,Ale, drahá,“ prihovoril sa jej Tyrion, ,,zabúdaš ešte na jednu vec potrebnú ku kliatbe. Draka. Oživeného. Ty si dračia krv. Z krvi tých jediných, čo prežili Valýrijskú skazu. Ty ho nájdeš, oživíš a obetuješ tej kliatbe.“ ,,Chápem.“ Dany to už chcela mať z krku.


<BR><BR>
Pomsta sa blíži, Uchvatiteľ.
<BR><BR>


***

 <BR><BR>

,,Moment,“ Jon bol ešte viac zmätený, než predtým. ,,Robíte zo mňa blázna alebo čo? Myslíte si, že uverím tomu, čo mi hovoríte?“ Jonovi nič nedávalo zmysel. Už bol skoro ochotný uveriť, že to všetko si vymyslel a že tento svet je jediný skutočný a že žiadna mágia, z ktorej len málo poznal vo svojom svete, neexistuje. A zrazu príde muž z tohto sveta, ktorý mu hovorí o mágií.

 <BR><BR>

,,Och, to by som si nedovolil,“ povedal ten záhadný muž, Tyrion, s prešibaným úsmevom. ,,Verte, že hovorím pravdu. Toto všetko, tvoje problémy, sú výsledkom kliatby, ktorá bola na Sedem kráľovstiev uvalená.“


<BR><BR>
Jon tam zostával ešte chvíľku. Boli u Tyriona doma. Jeho dom bol celkom skromný domček nad jeho záložňou. Našiel tam množstvo zaujímavých predmetov, dokonca sa mu zdalo, že niektoré aj pozná. Tyrion ho usadil do kresla, vnútil mu kávu, ktorá mu vraj pomôže na jeho bolesti hlavy a začal mu vykladať ten príbeh.

 <BR><BR>

Mám mu veriť? premýšľal Jon. Alebo si zo mňa vážne len robí posmešky?! No čo, aj tak už nemám čo stratiť. Jon sa rozhodol staviť na Tyriona a veriť mu. ,,Dobre, verím ti, povedz mi to celé. Chcem vedieť všetko.“
<BR><BR>


A tak Tyron začal rozprávať. Hovoril o Valýrií, o magickom ostrove, o rozprávkach, o skaze, o kliatbe. Hovoril, čo kliatba spôsobuje, ako je možné ju zakliať. Takže stačí ublížiť nejakému kráľovi tým, že zabijem toho, koho miluje, premietal Jon, do toho ešte pridať lannisterské zlato, ktorého je vraj nekonečne veľa a oživeného draka a kliatba je vypustená. A spôsobí, že celý úžasný svet aj so svojím šťastím bude zakliaty a premiestnený do pekla, do najhoršieho sveta, kde skoro nikto šťastný byť nemôže. A keďže horšie ako horieť v pekle je podľa akejsi Daenerys žiť bez lásky v tomto svete, rozhodla sa nás zakliať sem.
<BR><BR>


,,Dobre,“ povedal Jon, ,,ale prečo to spravila? Veď niečo takéto je strašné!“ Daenerys je vraj posledný Targaryen. Jon si myslel, že takéhoto potomka si bude Sedem kráľovstiev vážiť. ,,Vieš,“ odpovedal Tyrion, ,,jej rodinu chladnokrvne zavraždili len kvôli jednému šialencovi a následne si uchvátili jej trón. A ona musela žiť ako obyčajná slúžka niekde ďaleko. Inak by ju kráľ Robert zabil, to mi ver.“ A tak ako pomstu nám všetkým vzala naše šťastie.

 <BR><BR>

,,V poriadku,“ povedal Jon, ,,ale ako môžeme kliatbu prelomiť?“ Tyrion sa pousmial. ,,Náš svet bol zmrzačený a zamrazený. Bude si to vyžadovať solidaritu a pevnú vládu, aby sme znova vzrástli do toho šťastia, v akom sme boli predtým a aby sme znova vybudovali Sedem kráľovstiev, v ktorým sme žili predtým. No aby sme sa tam vôbec vrátili a aby sme pomohli mestu spomenúť si, kým boli, musíme najskôr zabiť to, čo nás tu drží – monštrum, ktoré vzniklo pri uvalení kliatby.“

 <BR><BR>

,,Povedzme, že to monštrum zabijeme – budeme potom voľní?“ Spýtal sa Jon Tyriona. ,,Samozrejme. Potom budeme mať späť čas, pamäť, šťastie i domov. A ty si sa narodil práve s tým, aby si nám pomohol.“ Jon mal v hlave ešte pár závažných otázok, na ktoré chcel odpovede. ,,Moment, ale prečo si ja všetko pamätám a aj ty, ale nikto iný nie?“ Tyrion sa zasmial. ,,Nepamätáš si? Ty jediný si spravil niečo, čo ešte nikto nikdy predtým nespravil. Niečo, čo spôsobilo, že si sem prišiel s celou svojou pamäťou skôr než my a nie kvôli tej kliatbe ako my.“ Jon pochopil prečo. ,,To ale nevysvetľuje teba. Prišiel si spolu s ostatnými. A spomínaš si.“ Tyrion si povzdychol. ,,No, sú silné povahy a mocní páni, ktorým bolo dané, že ti vysvetlia určité veci ako tebe bolo dané, že nás zachrániš. A týmto stačí malý impulz, aby si spomenuli. Mne stačilo tvoje meno. A ešte je tu niekto iný. Stará Nanny.“ ,,Stará Nanny?“ Jon nikoho takého nepoznal. ,,Áno, Stará Nanny,“ pritakal Tyrion. ,,Je stará, ale zato múdra. Myslím, že je na čase, aby sme za ňou išli, ak chceme zvyšok odpovedí. A ak chceme nájsť to monštrum, čo treba zničiť.“

 <BR><BR>

,,Ešte jedna otázka,“ povedal Jon, keď už bol Tyrion na odchode. ,,Čo sa stalo s Daenerys?“

 <BR><BR>

Tyrion sa znova pousmial. ,,Tá kliatba mala svoju… Ako to povedať… Cenu. Každá mágia má svoju cenu.“

 <BR><BR>

III. Padajúci vlk

<BR><BR>

Hluk mi nikdy nerobil dobre, uvedomil si Tyrion ako tak sedel na hostine. Mal rád tiché rána, pokojné poobedia a večery hlučné len vtedy, keď hral cyvasse, bol opitý alebo mal v náručí nejakú neviestku. Kedysi tomu tak nebolo, premietal Tyrion, ešte keď som mal Tyšu. Vtedy sa rád prebúdzal do zvuku jej hlasu, poobedia trávili tým, že sa smiali a vtipkovali, večery boli hlučné oslavy. Bol s ňou tak šťastný. Žiadne neviestky. Ona bola lepšia než akákoľvek šľapka, akú by Tyrion v Západnom kráľovstve mohol stretnúť. Lenže mi bola vzatá.


<BR><BR>
Stoly boli preplnené chutnými pečenými zvermi, šťavnatými lahôdkami, hustými duseninami, sýtymi polievkami a sladkými koláčmi. Džbány boli plné vína, piva alebo tvrdej vodky zo Železného kráľovstva. Všetci sa smiali, zabávali. V každom rohu vyhrávala iná hudba.


<BR><BR>
On sedel pri vyvýšenom stole spolu so svojou sestrou kráľovnou Cersei Lannister, jej manželom kráľom Robertom Baratheonom, kráľom Eddardom Starkom, jeho ženou Catlyn Tully z Blatného kráľovstva a ich deťmi Robbom, Sansou a Aryou. Ten bastard tu nie je, uvedomil si Tyrion. Kráľovná Catlyn by to zrejme brala ako urážku, keby pri tom istom stole mali byť významní králi, kráľovné, princovia, princezné a jeden nemanželský syn. Tyrion sa snažil spomenúť si, ako sa volá. Jon. Isteže. Pomenoval ho po Jonovi Arrynovi, kráľovi Horského kráľovstva.


<BR><BR>
Z toho všetkého mu už bolo zle. ,,Ospravedlňte ma, prosím, vaše výsosti, necítim sa dobre.“ Kráľ Robert len pokývol, pretože bol akurát uprostred vášnivého rozhovoru s kráľom Starkom. Človek by si povedal, že sa na seba budú mračiť, keď sa ešte len nedávno hádali, pomyslel si Tyrion. Celý hrad ich počul, ale nikto nevedel, prečo k hádke došlo.


<BR><BR>
Vonku bol vzduch studený, no bola to príjemná zmena po vydýchanom vzduchu vnútri v sále. Tyrion vedel presne kam má namierené. Otec sa na hostine neobjavil, prichytil sa premýšľať Tyrion, ani na chvíľku. Kráľ Tywin sa zvyčajne objavil na hostinách rýchlo a letmo, aby neurazil hostiteľa alebo hostených. Avšak tentokrát ho nik nevidel. Tyrion zahliadol svetlo vo veži, kde bol jeho otec ubytovaný a tak sa vydal rovno tam.

 <BR><BR>
Keď vyšiel na vrchol, zaklopal na dvere. Otvoril mu akýsi mladík. Jeho otec si vždy vydržiaval pri sebe veľa strážnych, teraz však Tyrion narazil len na jedného ospalého vojaka pri vstupe vo veže, ktorý ho pustil, pretože ho poznal. Jeho otec mal pri sebe svojho mladého šenka.

 <BR><BR>

,,Čo sa deje otče, že sú všetci tvoji strážni preč?“ vyzvedal Tyrion, akonáhle sa za ním zavreli dvere. Tywin naňho zhliadol od pergamenu, ktorý zrovna písal. ,,Niekto tu rieši aj závažnejšie problémy než šľapky,“ tvrdo ho podpichol otec. ,,Dcéra Šialeného kráľa Aerysa unikla do bohvieakej divočiny za Úzkym morom, je zrejmé, že tam zoskupuje armádu. Nech je zostavená len z nej samotnej alebo nech ju nasledujú tisíce mešťanov, je to hrozba, ktorá môže kedykoľvek uderiť.“


<BR><BR>
Tyrion sa zasmial. ,,Môj neporaziteľný otec sa bojí mladej dievčiny?“ Tywin si tyriona zmeral zamračeným pohľadom. ,,Nepodceňujem svojich nepriateľov. Radšej žiadna hrozba než malá, ktorá sa môže stať kedykoľvek katastrofou.“ Tyrion sa znova zasmial. ,,To poznám. Tiež nepodceňujem šľapky, s ktorými spávam. S neviniatka sa môže stať nechutná pohlavná choroba.“ Jeho otcovi sa to nezdalo smiešne. Ale Tyrion sa tým nenechal odradiť. Jeho otcovi sa nezdalo smiešne nič.

 <BR><BR>

,,Prišiel si si sem trúsiť svoje trápne vtipy alebo máš na svojom zmrzačenom srdci niečo dôležité?!“ nahnevane sa na Tyriona oboril Tywin.

 <BR><BR>

Tyrion mal na svojej tvári stále svoj úškrnok, hoci v duši cítil nenávisť. ,,Dlho som ťa trpel, otče. A v tichosti. Ty si do mňa stále kopal, nenávidel ma za to, že som trpaslík, akoby som za to mohol. Obviňoval si ma za smrť mojej matky, akoby som za to mohol. Ja som sa snažil, ale celý ten čas si ma nenávidel. A ja som sa naučil nenávidieť teba.“ Tywin mal na sebe stále svoj tmavý výraz. Ani sa nepohol. Tyrionovi sa zdalo, že Tywinov panoš sa skrýva za stĺpom. ,,A potom si mi vzal aj Tyšu. Miloval som ju, ale ty si si nevedel predstaviť Lannistera s obyčajnou dcérou mlynára.“ Tywin zaťal zuby. ,,Dal som ti všetko. Mohol som ťa hodiť do studne, tváriť sa, že to bola nehoda, že ťa niekto uniesol. Namiesto toho som ťa vychoval ako Lannistera a dal som ti viac, než mal kedy bastard kráľa Eddarda. Všetko má svoju cenu. Tyša do tvojho života nezapadala. Mal by si mi poďakovať.“


<BR><BR>
Tyrion sa teraz úprimne zasmial. ,,Veď to mám aj v pláne. Vieš, mágia je zaujímavá vec, keď vieš, kde ju hľadať a ako ju získať. Dole v našom podzemí sme mali jedno dračie vajce a ani sme o tom nevedeli. Stačilo ho zničiť a získaš úžasnú moc. Tá však funguje len na Severe, tu sídlia Starí bohovia, tí, ktorým po Valýrijskej skaze bola daná moc spravovať temnotu. A teraz, keď si tu aj ty… Aká strašná vec, že sa ťa tvoj zošalený šenk snažil zabiť, všakže?“ Tywin sa rozhorčene postavil. ,,Čo to má znamenať?“

 <BR><BR>

Tyrion mávol rukou a Tywinov šenk začal mechanickými pohybmi kráčať smerom k Tywinovi aj s dýkou. Tywin tasil svoj meč, lenže ten sa vzápätí premenil len na roztavenú oceľ, keď Tyrion mávol rukou znova. Šenk bodol Tywina a zastrčil mu dýku do hrude tak silno, ako vládal. Potom padli obaja, šenk aj Tywin. ,,Strašné, šenk už prosto nezvládol tvoju tyraniu, otče, nuž a tak ťa zabil.“ Tyrion sa sklonil nad umierajúcim otcom. ,,Lenže vedel, čo ho čaká a tak ešte pred tvojou vraždou vypil jed. A ten práve zaúčinkoval.“ Predtým, než Tywinovi klesla bezvládne hlava ešte stihol povedať: ,,Ty nie si môj syn…“

 <BR><BR>

Tyrion vytiahol s otcovej skrine veľký drevený kolovrát s na červeno maľovanými runami. Vzal kúsok otcovho hodvábneho odevu a ten zastrčil medzi kolesá. Následne začal točiť a z kolovrátu vypadol kus ťažkého zlata. Keď ho dvíhal, počul na schodoch naliehavý hlas kráľa Eddarda: ,,Musíme konať, ale nie takto.“ Hneď vzápätí počul veľmi hlasné burácanie kráľa Roberta. ,,Dobre, dobre, Tywin už na niečom pracuje.“

 <BR><BR>

Tyrionovi padol pohľad na pergamen, na ktorý písal jeho otec. Bola na ňom správa kastelánovi Casterlyovej skaly, aby povolal vazalov do Búrkostromu, aby sa spojilo Horské kráľovstvo, Búrlivé kráľovstvo, Západné kráľovstvo, Dornské kráľovstvo a všetci sa zhromaždili, aby sa pripravili na obranu proti Daenerys Targaryen. Vynechal Blatné a Severské kráľovstvo, skoro akoby plánoval rebéliu proti Robertovi, pousmial sa Tyrion a mávnutím prepísal pergamen. Teraz tam, kde bolo ,obranu proti Daenerys Targaryen‘ stálo ,rebéliu proti Uchvatiteľovi‘. To vieš otče, pomyslel si Tyrion, aby sa teba nespomínali v dobrom.

 <BR><BR>

Následne sa Tyrion premenil na dym a zmizol z veže.

<BR><BR>

***
<BR><BR>
 Trvalo to asi tak päť minút. Prešli jednou uličkou, druhou uličkou a naraz boli v tom istom bistre, kde bol včera Jon. Spolu s Tyrionom sa postavili pred pult, kým neprišla tá stará žena. ,,Zdravím,“ pozdravil ju Tyrion a pousmial sa. ,,Iste si na mňa vspomínaš.“ Paní vyzerala zmätene. ,,Samozrejme, pán Spellcaster. Deje sa niečo? Nájomné som zaplatila.“

 <BR><BR>

Tyrio vytiahol z vreca akýsi predmet. Jonovi sa zdalo, že si ho vzal, keď odchádzali, ale istý si bol až teraz. Išlo o železný kľúč s podobizňou zlovlka na konci. Podobá sa na môj meč, uvedomil si Jon, presne podobný koniec mal Dráp. Žena sa na kľúč zahľadela a chvíľu zostala zamrazená. ,,Poďte za mnou,“ prikázala im.

 <BR><BR>

Išli do kuchynky. Práve tam dve slúžky varili obed. Jon sa zastavil a začal si ich prezerať. Vyzerali presne ako Sansa a Arya. Takže sa mi to nezdalo. Naraz zistil, že doňho Tyrion drgol. ,,Všetko má svoj čas. Budeš s nimi znova. Ale najskôr treba zlomiť kliatbu.“

 <BR><BR>

Išli dole schodmi a ocitli sa pred veľkým mraziakom. Paní, ktorá bola zrejme Stará Nanny, zabrala a zatlačilo do mraziaku. Ten sa posunul a začal klesať do zeme až kým sa neobjavili dvere. Stará Nan do nich vošla, za ňou Tyrion a tak ich Jon nasledoval.
<BR><BR>


Nan zasvietila v akejsi podzemnej miestnosti. Nebolo tam nič, len jedny staré dvere a na kameni akási železná truhlica. Bola zamknutá.

 <BR><BR>

,,Nevedela som, že to tu je,“ vysvetľovala Nan. ,,Presne tak, ako každého iného, aj mňa sem kliatba zafixovala a spôsobila, že si nič nepamätám. Ale časť zo mňa vedela, že tu mám túto miestnosť aj s tou truhlicou. A že práve tu je vchod do Draeginho dúpäťa. Potrebovala som len ten kľúč, nech si spomeniem.“ Nan ukázala Tyrionovi na truhlicu. Tyrion strčil kľúč do nízkej, ale dlhej truhlice a otočil ním. Truhlica sa so zapraskaním otvorila.

 <BR><BR>

Vnútri ležal meč, dlhý, lesklý, z valýrijskej ocele. Jeho rukoväť bola tvorená z mramorovej sochy s podobizňou zlovlka. ,,Dráp!“ vydýchol Jon náhle, keď si uvedomil, že tam leží jeho meč.

 <BR><BR>

,,Iste,“ povedal Tyrion. ,,Je mi ľúto, ale ten, čo ti meč ukradol som bol ja. Ak by si sa spolu s ním dostal za Zeď, zmizol by aj s tebou. Avšak všetko, čo nebolo zlúčiteľné s touto dobou zmizlo. Tvoje šaty, tvoje kožuchy, to všetko nie je typické pre túto dobu a tak si to nemal, keď si sa prebudil v tej fontáne. A rovnako by zmizol preč aj Dráp. Preto som ho ukradol, aby sa sem Dráp dostal ako subjekt celej kliatby.“
<BR><BR>


,,Prečo na ňom tak záleží?“ Jon nemohol posledné dni v starom svete svoj meč nájsť a tak, keď sa dostal za Zeď, nemal ho pri sebe. Práve vtedy, keď sa za Zeď dostal videl posledné veci, zamrznutý les, kým sa dostal do tej fontány. Tyrion mu pomohol spomenúť si. ,,Valýrijská oceľ je ťažko opracovateľná a ťažko získateľná. Hovorí sa, že oceľ pochádza pôvodne z Valýrie, iní si myslia, že je to len špeciálny druh ocele opradený legendami. Tak či onak, valýrijské meče sú vzácne a jediný, ktorý bol na Severe v danú dobu po ruke bol práve ten tvoj – Dráp.“

 <BR><BR>

,,Dobre, ale stále nechápem, prečo ste potrebovali práve valýrijský meč,“ snažil sa Jon vysvetliť, čomu stále nechápe. ,,Vieš,“ vysvetľovala mu Nan, ,,s kliatbou je spojené jedno monštrum. Kým to monštrum žije, nemôžeme byť voľní. Avšak to monštrum zabije jedine legendárny Azor Ahai so svojím valýrijským mečom.“

 <BR><BR>

,,To chápem. Tyrion mi o tej veštbe rozprával. Ľadu odolný a ohňom nespálený.“ Jon si prezeral svoju popálenú červenú ruku. ,,Lenže ja to nemôžem byť. Ja nie som ohňom nespálený.“ Jon jej ukázal svoju ruku. Nan sa začal smiať. ,,Zdá sa, že Tyrion ti nepovedal všetko. Uvidíme, či poznáš celý príbeh. Kedysi dávno existoval múdry Valýrijec, ktorý zistil, že ak niekto prelomí dračie vajce, uvoľní jeho moc. Vajcia to neboli. Boli to drahé duté kamene, volali sa Ašajské topásy. Lenže vyzerali ako vajcia a tak Valýrijci vytvorili legendu o drakoch, aby vydesili ostatné národy. Dolovali tieto kamene a používali ich moc na nesmrteľnosť a mágiu. Až kým sa im neminuli. Nažive zostalo len pár Valýrijcov, nuž a tí založili rod Targaryenov s červeným drakom na čiernom pozadí v erbe.“

 <BR><BR>

Nan si sadla na kameň. ,,Tyrion z nejakého dôvodu chcel, aby bola kliatba vrhnutá. Chcel nás sem dostať. A zároveň nám pomôcť. On bol ten, čo ťa sotil zo Zdi, on bol ten, čo ťa sem priviedol, on bol ten, čo skryl Dráp. A zároveň bol ten, kto kliatbu vytvoril. Zrejme z nejakého dôvodu chcel, aby sme sa sem dostali. Vieš, náš svet je zničený a kým sa nezotaví, my budeme tu. S kliatbou či bez nej. Bude to trvať presne rok. Teda aj keď kliatbu prelomíš, zostane rok, ktorý Tyrion bude môcť využiť v tomto svete. Dokonca ani ja neviem, prečo to chce, ale dôvod má. A má aj ambicióznu sestru. Sestru, ktorá túžila potrestať tých, ktorí jej ubližujú. Sestru, ktorá chcela vládnuť. On jej prisľúbil, že jej dá tu možnosť, že v inom svete bude vládnuť, ak zakúzli istú kliatbu na celý náš svet.“


<BR><BR>
Jon netušil, čo si má myslieť. ,,Myslel som si, že tú kliatbu uvrhla Daenerys.“ Nan sa len pousmiala. ,,No, Daenerys tú kliatbu zakúzliť chcela, ale problém je, že bola obeťou Tyrionových plánov.“ Jon sa pozrel na Tyriona a schmatol ho. ,,Je to pravda? Čo sa jej stalo?“

 <BR><BR>

Tyrion sa vykrútil z Jonových rúk. ,,Ako už moja milá Nan, ktorá niekedy hovorí viac, než by mala, povedala, mám isté osobné dôvody, prečo potrebujem istý čas v tomto svete, kým sa môžeme všetci v šťastí vrátiť domov. Nikomu nebude ublížené, všetci sa vrátia. Potrebujem len ten rok.“ ,,Na čo?!“ Jon to chcel vedieť. Máme trpieť a ani nevieme prečo? Tá myšlienka ho desila. ,,Je niekto, koho som miloval. Valýrijci nie sú jediní, ktorí ovládali mágiu. Môj pán otec rád zbieral magické artefakty a predmety, ktoré ukladal do podzemia svojho hradu. Casterlyovej skaly. A jeden z tých predmetov môj otec použil na ženu, ktorú som miloval, aby ju vyhnal odo mňa preč, do tohto sveta. A tak som hľadal mágiu, aby som vytvoril kliatbu. A vďaka nej našiel svoju ženu Tyšu. Mojej sestre som sľúbil, že ak kliatbu zakúzli – aby sa totiž oči odo mňa odvrátili, aby nikto nezistil, že som pôvodcom kliatby ja -, tak jej dám moc, ktorú vždy chcela. Potreboval som len pár vecí.“

 <BR><BR>

,,Srdce kráľa,“ vysvetľovala Nan, ,,energiu, ktorá zostávala v tvojom otcovi. Zlomené srdce po smrti blízkeho.“ Jon bol prekvapený, keď zistil, o čom hovoria. Pár dní po tom, čo som bol na Zdi, prišla správa o tom, že Brana niekto zabil a môj otec je z toho na dne. ,,To si bol ty?! To ty si mi zabil brata a vzal otcovi srdce?“ ,,Áno,“ odpovedala namiesto neho Nan. ,,Zabil svojho otca ako pomstu a zároveň aby mohol použiť jeho kolovrát k získaniu lannisterského zlata. A napokon potreboval obetovať znovuzrodeného draka.“

 <BR><BR>

,,Draka? Hovorili ste predsa, že draky neexistujú!“ Tyrion sa mierne usmial. ,,Draky neexistujú, ale draci áno. Je to zaujímavá hra slov. Vieš, keď hovoríš v množnom čísle o zveroch, povieš vlky, pavúky… Draky. Ale keď hovoríš v množnom čísle o osobách, ku ktorým danú zver prirovnávaš, hovoríš vlci, pavúci… Draci. Chápeš, ku komu sa dá prirovnať drak?“ Jon neveriacky pozrel na Nan. ,,Targaryen?“

 <BR><BR>

,,Správne,“ pritakal Stará Nanny. ,,V Západozemí sa objavil jeden znovuzrodený drak, považovaný za mŕtveho, ktorý sa zrazu objavil. Daenerys.“ Jon neveril vlastným ušiam. ,,Vy ste… Obetovali… Vy ste zabili Daenerys?“ Stará Nan bola chvíľu šokovaná. ,,My? Och nie, on. To za prvé. Ja som len nevinná Valýrijka, ktorá je závislá na mágií a uvedomuje si, že musí hľadať Ašajské topásy nech to stojí, čo to stojí, aby som prežila. Neveril by si, koľko ich je na Zimohrade. Ja som tu len preto, že som mala dostatočne veľkú moc, aby som ukázala Tyrionovi, ako ničiť Ašajské topásy. Ale kliatbu vypustil on sám.“

 <BR><BR>

Jon prižmúril očami na Tyriona. ,,A za druhé,“ bránil sa Tyrion, ,,som ju síce obetoval, ale nezabil. Ona je tu, len nie vo forme, ktorú by mala rada.“ Jon tomu nechápal. ,,O čom do čerta hovoríte?“


<BR><BR>
Odpovedala mu Nan. ,,Daenerys je dračica Draegina. To monštrum, čo treba zabiť.“

 <BR><BR>

***

<BR><BR>
Posledné dni prebehli rýchlo. Kráľ Robert povedal, že telo Tywina oobradia v tvári Siedmych vo Veľkom Baelorovom septe a potom ho pošlú do Casterlyovej skaly. Všetci ho už oplakali a kráľ Robert sa dohodol s Eddardom na obrannej stratégií proti Daenerys. Zanechám im stopu, že bol rebel a oni ho aj tak berú ako váženého lorda. Vidíš otec, predsa si vyžaroval rešpekt. Tyriona to nevýslovne štvalo.


<BR><BR>
Toto bolo posledný deň, čo mali byť na Zimohrade. Nedov nemanželský syn odišiel už pred nejakým časom. Má sa pridať k Čiernym bratom, odfrkol si Tyrion v mysli, vážený rád, ale mňa by tam nikto za nič nedostal. Dobrovoľne už vôbec nie.


<BR><BR>
Dvere si otvoril sám a vstúpil do kamennej miestnosti, kde jeho sestra sedela úplne sama. Pozrela naňho cez závoje sĺz. Skoro nikdy ju nevidel plakať, ale teraz, keď bola sama, to spustila. ,,Nebol to Podrick.“ Tyrion sa na ňu zmätene zahľadel. ,,Kto je Podrick?“ nechápal.

 <BR><BR>

,,Ten šenk. Nebol to Podrick, kto zabil nášho otca.“ Tyrion jej to už chcel vyhovoriť, no ona ho zahriakla. ,,Nesnaž sa mi niečo nahovoriť. Viem veľmi dobre, že si ho zabil ty.“

 <BR><BR>

Tyrion si k nej sadol. ,,No a? Ty si nikdy nezažila to, ako sa správal ku mne. Nikdy to nepochopíš. Ale, nech si to chceš priznať či nie, obidvom nám krivdil. Ani jeden z nás nemal to, čo chcel. teraz to môžeme mať.“ Cersei sa naňho vyčítavo pozrela. ,,Toto nebolo súčasťou plánu. Sľuboval si, že mi dáš tú kliatbu. Nie že zabiješ nášho otca.“

 <BR><BR>

Tyrion sa zasmial. ,,Povedal som, že ti dám moc, tvoje sny, niečo tak mocné, že si to nevieš ani predstaviť. Niečo také musí mať svoje obete. Mala si s tým rátať.“ Hoci náš otec bol najmenšia z nich. Cersei sa postavil. ,,Koľko ľudí ešte bude musieť zomrieť?“ Tyrion nasadil svoj smutný úsmev. ,,Už len Daenerys.“ Cersei sa upokojila a sadla si. ,,Takže dve obete. Otec predpokladám kvôli zlatu a Daenerys kvôli drakovi. Nespomínal si tiež niečo o kráľovskom srdci?“


<BR><BR>
Tyrion sa pred ňu postavil a uškrnul sa. ,,Tri obete. Srdce sa dá vytrhnúť len niekomu zlomenému. Niekomu, kto prišiel o niekoho, koho si cenil. Koho miloval.“ Naraz nastal na chodbe, v hale, na nádvorí hluk. Všade bol chaos. Cersei to pochopila rýchlo. ,,Kto? Koho si zabil?“

 <BR><BR>

,,Syna kráľa Eddarda.“

 <BR><BR>
***

 <BR><BR>

Vzduch bol viac než tuhý. Chladný, ťažký. Nikdy sa nedýchal tak zle. Tyrion stál pri strome a všetko pozoroval z diaľky. Vedľa neho stála Stará Nan. Množstvo ľudí prišlo na námestie. Okolo bolo množstvo budov, no žiadna tak majestátna ako vysoká knižnica s hodinami. Práve pred Ňou bolo pódium, na ktorom sa mal vybrať nový starosta mesta West Stories. Všetko bolo skoro už úplne pripravené. Zostávalo pár minút do vyhlásenia výsledkov hlasovania.

 <BR><BR>

,,Tiež si hlasoval?“ spýtala sa Stará Nan. Tyrion sa zasmial. ,,Ja som hlasoval za všetkých. To vieš… Dohoda. Sľúbil som Daenerys, že kliatba bude vypustená? Áno. Splnil som to? Ako vidíš, áno, inak by sme tu takto nestáli. Sľúbil som sestre, že v tomto svete bude starostkou? Áno. Povedzme, že teraz každý človek, až na pár výnimiek, dostal divný pocit, že voliť ju bude ta správna vec. Ale osobne som nehlasoval. Mne môže byť výsledok tých volieb ukradnutý. Rok bude starostkou a kráľovnou. Na mňa aj tak nebude mať.“
<BR><BR>


,,Určite?“ pochybovala Nan. ,,Vieš, jediné, čo ťa drží nad vodou je magická moc. Lenže tá tu nie je. Len moc starostky. A ona rada ukáže na teba, ako na toho, kto kliatbu vyvolal.“ Tyrion sa usmial. ,,Viem. Vieš, môj otec rád zbieral rôzne artefakty. Väčšinu z bohatstiev Casterlyovej skaly mám vo svojej záložni. Medzi nimi farbu, ktorú Sansa používa na vlasy, aby sa nemenila na Alayne, Ihlu, ktorá ťa dokáže uspať na veky. Dokonca aj Ašajský topás. To mi stačí.“
<BR><BR>


,,A si si istý, že to zvládne? Ten chlapec. Jon.“ Tyrion si sadol na kamennú lavičku. Nan stála. ,,Je to v tej kliatbe. Dračica sa stretne so svojím synovcom z ľadu a ohňa. Avšak Pieseň ľadu a ohňa, ten, kto ľadu odolá a bude ohňom nespálený, to nie je Jon. Je to Daenerys. Ona nás oslobodí svojou smrťou. To je nezvrátiteľné.“ Stará Nan si tentokrát sadla. ,,Lenže čo potom? Ľudia budú klásť otázky. Možno tu vydržia rok a ty ich udržíš na uzde, ale na Jona tvoja mágia pôsobiť nikdy nebude. On prekročil Zeď.“ Tyrion na ňu pozrel s úsmevom. ,,Toho som si vedomý. Vieš, Dráp je nástroj, ktorý Daenerys zničí. Ale aby fungoval, musí do seba vsiať ako dušu obete, tak aj drakobijca.“
<BR><BR>


Stará Nan to pochopila rýchlo a jej výraz potemnel. ,,Ten chlapec nevie, že sa za nás obetuje tiež. Že zomrie.“ Tyrion sa nad ňu nadklonil. Na pódiu akurát vyhlásili jeho sestru za starostku, ľudia začali radosťou výskať, objímať sa. Nastal rozruch. ,,On nevie nič.“

 <BR><BR>

Nan sa postavila, no bolo už neskoro. Zem sa zatriasla, ozval sa výkrik dievčaťa a chlapca a všetkých zahalila šedá hmla.

 <BR><BR>

IV. Cena záchrany (Bonus)


<BR><BR>
Jon stál na kraji Zdi. Na sebe mal čiernu kožušinu, no aj tak mu bolo zima. Čierny hrad bral už skoro ako svoj domov. Bolo to malé chátrajúce miesto, no on veril, že tu raz niečo zmení. Díval sa do rozsiahlych stromov. A po tvári mu stekali slzy. Bol tu len chvíľu a už ho zasiahol havran do srdca. Havran, ktorý priniesol zvesť o smrti jeho brata.

 <BR><BR>

***
<BR><BR>

Kobka bola tmavé, bezútešné miesto. Vysoké kamene, klzké cesty, nekonečné priepasti. Všade bola tma, len tu a tam sa nachádzala nejaká tá fakľa. Držal v rukách svoj meč. Krásne sa leskol a Jon cítil spojenie s ním. Takto to má byť, pomyslel si. Hľadal ju, nikde ju nevidel. Trvalo to asi desať minút. A v tom to uvidel.

 <BR><BR>

***

 <BR><BR>

,,Cítiš sa dobre?“ spýtal sa Jona tlstý chlapec. Bol nemotorný, ale on ho mal celkom rád. Volal sa Samwell. Sam o tej správe vedel, pretože sa staral o havrany. ,,Jasné, som v poriadku.“ Zaklamal Jon. Namiesto toho však mal chuť skočiť a ukončiť svoje trápenie. ,,Zaujímavá divočina, všakže,“ skonštatoval Sam, keď sa zahľadel na Začarovaný hvozd. ,,Kedysi tam vraj Hliadka konala výpravy, ale útoky Divokých a Bielych chodcov boli také silné, že lord veliteľ Jorahmund vzal Magický roh a zablokoval Zeď. Spôsobil, že Nočná hliadka už nemala možnosť ísť do lesov, ale zato bola celá ríša chránená. A tak je tomu dodnes – nikto nikdy nevkročil tam za Zeď.“ Jon sa musel usmiať. ,,Odkiaľ to všetko vieš?“ Sam pokrčil ramenami. ,,Knihy… Ale jedna vec je desivá. Vieš, ten Roh fungoval len za Zdí. Takže bol len jediný spôsob, ako ho bolo možné použiť.“ Jon pochopil. ,,Obetovať sa. Obetovať sa a zostať tam za Zdí.“ Sam prikývol. ,,Hovorí sa, že dodnes tam starší jeho duch… No nič, ja už idem.“ Sam tam nechal Jona samého.

 <BR><BR>

***

 <BR><BR>

Jon sa postavil na najvrchnejší kameň, aký našiel. Pod ním ležalo to monštrum. Obrovský drak, celý šupinatý, s veľkými krídlami. Spala. Aj keď bola hrôzostrašná, Jonovi sa nejakým zvláštny spôsobom páčila. Veď je to človek, pomyslel si Jon. No napriek tomu vedel, čo musí spraviť.

 <BR><BR>

***                              Obeta, pomyslel si Jon, zhlboka sa nadýchol… A skočil.                              ***


</p>
{% endblock %}
