{% extends "post.html" %}

{% set title = 'Historická povídka č. 8 (3. kolo)' %}

{% block content %}
<br><b>Autorka: Vlčačka</b><br>

<p>
Klušeme spolu přes bílou pláň, dvě těla v rytmické souhře. On i já vydechujeme obláčky páry. Jsme na to zvyklí. Narozeni v noře pod sněhem, vyrůstající mezi rampouchy a zmrazky, umírající stářím pod padajícími vločkami sněhu.
<BR>
Jsme seveřané.
<BR>
Naši pozornost upoutá cosi na obzoru. Sladká vůně strachu a pochyb. Můj druh se zastaví, nasaje pach a našpicuje uši. Šedavá srst se mu plní novými vločkami.
<BR>
Kořist?
<BR>
Podíváme se na sebe. Lehce zrychlíme klus. Pach nabírá na intenzitě. Severní zajíc, bílý jako sníh vyrazí ze svého důlku ve sněhu. Okamžitě se rozběhneme. Zajíc instinktivně kličkuje, ale my jsme jistí jako břitva meče. Nakonec ho dostihneme. Zajíc chvíli naříká, než mu můj druh překousne páteř. Skromná krmě, ale mám právo prvního strávníka. I když mám obrovský hlad, dávám si pozor, aby teplé maso zůstalo i pro mého druha.
<BR>
Vyšlo druhé slunce.
<BR>
Zvědavě zvednu od kořisti hlavu a můj druh toho využije. Chňapne po torzu a dožere zbytek. Našpicuji uši. Něco se změnilo. Něco ve vzduchu… oteplí se.
<BR>
V tu chvíli třeskne rána a vzduch se ohřeje ještě víc. Můj druh se odtrhne od kořisti, otočí hlavu, instinktivně se přikrčí, stáhne ocas mezi nohy a přiklopí uši k hlavě.
<BR>
Otočím se po jeho pohledu a udělám totéž.
<BR>
Padá na nás nebe! Má barvu a tvar stromu z ledových trnů.
<BR>
Ta věc je obrovská, že si nepřipadáme jako štěňata, ale jako mouchy. Letí dolů, bachraté ledové břicho jej táhne k zemi. Na obzoru se tyčí vzrostlý borový les.
<BR>
Za chvíli se rozletí na malé klacíky, které jsem jako malá hryzávala v noře. Odmrští nás to vzduchem od zbytků kořisti a já uslyším překvapené vykviknutí. Jsem to já nebo můj druh? Pak mne potká země i s ledovou pokrývkou a já si vyrazím dech. Mám pocit, jako kdyby se mi rozpadl hrudní koš na střepy. Chvíli ležím na boku a hvízdavě oddychuju.
<BR>
Vstávej, čubo nebo zmrzneš!
<BR>
Uposlechnu a pomalu si sedám na plece, odrážím se na přední a pak ze sedu ze zadních. Stojím. Bolí to, ale stojím. Můj druh leží o kus dál. Přiklušu k němu a s obavami mu olíznu koutky tlamy. Otevře oči a zmateně zavrčí. Za chvíli se zvedá na všechny čtyři i on.
<BR>
Obzor vyrostl o tucet obrovských ledových trnů.
<BR>
Z té věci vyzařovala zvláštní energie. Nebojím se jí, naopak, pociťuji zvědavost, já, věčně bázlivá severní vlčice.
<BR>
Chvíli čekáme. Věc šveholí zvláštním jazykem. Můj druh na mne upře oříškové šikmé oči. Cítí to co já. Cítí i přes vrozenou bázlivost nehoráznou zvědavost.
<BR>
Vyrazím jako první a můj druh mne lehce rezignovaně následuje. Věc roste, je opravdu obrovská. Vzpomenu si na den, kdy jsem se svými druhy prvně šla na lov. Mladá, nezkušená a kanec se před námi tehdy vynořil jako démon z pekla. Raněný, vzteklý, oslabený, ale přesto nebezpečný. Zdál se mi tehdy obrovský jako obzor a černější než mé největší strachy.
<BR>
Z ledového stromu vycházejí nějaké věci. Malé, na dálku a oproti ledovým trnům drobné, dvouruké a dvojnohé bytosti, podobné těm co nás občas loví za Zdí.  Zeď, obrovská ledová stěna mezi naším světem a světem těch dvojnohých. Za ní na nás nečeká nic dobrého, proto se za ni bezdůvodně netouláme. My jsme dětmi chladného severu.
<BR>
Ti drobní tvorové se vylupují z ledového stromu, i tak je ale vidět, že jsou vyšší než dvojnožci zpoza zdi.  Dvojnožci za Zdí se musí balit do našich kožešin, aby jim zima neublížila.
<BR>
Tihle jsou téměř nazí a zima jim nic nedělá. Netřesou se jako ti malí zpoza Zdi. Jdou k sobě a chvíli se radí.
<BR>
Pak si nás všimnou. Jeden z nich jde k nám. Chviličku se mi v srdci třepotá ptáček strachu, ale za chvíli se usadí a vyčkává. Instinktivně se krčím, cením zuby, klopím uši k hlavě, ale přesto stojím jak přibitá. Nemůžu utéct. Nebo nechci? Ani můj druh se nehne.
<BR>
Tvor promluví. Jeho hlas je silný jako chlad severních větrů a křupavý jako kroky v čerstvém sněhu.
<BR>
Pak se mne lehce dotkne rukou a následně mého druha.
<BR>
Začala jsem plát.
<BR>
Očima zakalenýma bolestí a ležíc na boku, nohama bezmocně hrabajíc ve sněhu vidím co se děje s mým druhem. Pak zavřu víčka a kňučím, ne, vyju bolestí. Nestydím se za to. Můj nářek slyší jen můj druh a ta bytost. V této chladné krajině moje tělo hoří zaživa.
<BR>
Po nekonečné době bolest odeznívá.
<BR>
Zvedám se.
<BR>
Něco je jinak.
<BR>
Jímá mne závrať. Zavrávorám. Dívám se svému druhovi na tělo. Očicháváme se, jako kdybychom se viděli poprvé.  Je stejný a přeci jiný.
<BR>
Ublížil nám a přesto nás obdaroval. Zvláštní.
<BR>
Bytost na nás po celou tu dobu upírala hluboce modré oči. Zářily jako chladné, neúprosné hvězdy. Pak odešel ke svým.
<BR>
Jakási neviditelná pouta charismatu se uvolnila a my začali utíkat. Pryč od té věci, pryč od jejích modrookých osadníků.
<BR>
Den a půl po tomto podivném setkání sama uháním a strhávám k zemi sněžného jelena. Sama! Jsme silnější, rychlejší a nebezpečnější než vlci.
<BR>
Jsme větší. Mnohem větší.
<BR>
Jsme nový druh.


</p>
{% endblock %}
