{% extends "post.html" %}

{% set title = 'Adventní drabble č.10 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.10</h2>
<p>Stará dáma seděla v příjemné čajovně U mandarínské kachničky a sváděla tuhý vnitřní boj. Působila čisťounkým a křehkým dojmem a z poněkud škrobeného držení těla bylo patrno, že je – jak se říká – ze staré školy. Ani pohodlná čalouněná křesílka ji nedokázala zvábit k nepořádnému, uvolněnému posedu. (Nesouhlasila s tím, jak se dnes některé ty moderní dívky rozvalují a vůbec nedbají o to, jak to vypadá.) Silné pokušení však představoval další kousek semínkového koláče. Pravý semínkový koláč už dnes jen tak někde nedostanete. A tenhle byl opravdu vynikající. A v jejím věku už si nemusí hlídat štíhlý pas tak úzkostlivě. A Elspeth McGillicuddyová, její dlouholetá přítelkyně, už měla půl hodiny zpoždění…</p>

<p>Rozhodla se, že ještě chvíli počká a další kousek si dá až s Elspeth. Nejdříve přerovnala balíčky. Jakoukoli cestu do Londýna se vždy hodilo spojit s domácími nákupy. Podívat se na nějaké ty výprodeje osušek a ubrusů a koupit pár drobností v Army & Navy Stores. (Nesháněla nic konkrétního, ale tento druh „lovu“ jí byl vlastní, byl její vášní. Dnes koupila čtyři lněné povlaky na polštáře, jejichž cena ji rozhořčila. Ovšem ty staré už potřebují vyměnit.) Pak si nalila ještě jeden šálek čaje a zahleděla se z okna. Čajovna byla poblíž slepého říčního ramene a z oken byl krásný výhled na řeku, dokonce po ní plavalo několik kachen.</p>

<p>Hleděla na vodu a přemýšlela. Jen matně si uvědomovala, že začíná pršet. Osamělé velké kapky dopadaly na hladinu a vytvářely soustředná kola. Světlo a vlnky si pohrávaly s kruhy na vodě. Najednou se jí před očima znenadání zjevilo kruhové bludiště s kuličkou, dětská hračka jednoho z jejích prasynovců. Hladina, hračka, plánek bludiště z živých plotů v parku…</p>

<p>Málem vykřikla, když jí došlo, co to znamená. Věrna ponaučení, kterého se jí dostalo od maminky – totiž: že opravdová dáma nesmí nikdy projevit pohoršení nebo překvapení - slečna Marplová jen pozvedla obočí, potřásla hlavou a polohlasně řekla: „Ach, Jane, jak jen jsi mohla být tak hloupá!?“</p>

  {% endblock %}
