{% extends "post.html" %}

{% set title = 'Adventní drabble č.12 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.12</h2>

<br>„Odettu vyměním, to ti oznamuju,“ vysypal ze sebe divadelní režisér Husák, jakmile otevřel dveře kanceláře uměleckého ředitele Skřivana.
<br>„Ahoj Franto,“ uvítal ho Skřivan vlídně. „Posaď se u nás, ať nám nevyneseš spaní.“
<br>Nakvašený Husák zůstal stát, ale pokusil se poněkud ovládnout. Když jeho výzvu nepřijal, postavil se Skřivan, aby si hleděli z očí do očí. Položil mu ruku na rameno a chlácholivě se otázal: „Co ti konkrétně vadí?“
<br>„Konkrétně tak nějak představitelka hlavní role. Ona na to prostě nemá, vždyť má problémy s pohybem, s tempem, se vším. Zkoušíme už skoro měsíc a ještě jsme se nedostali ani k polovině, všechno se musí opakovat třicetkrát, aby aspoň něco udělala jakž takž dobře. A když jsem jí na něco upozornil tak taktně, jak jsem byl schopen, jen vykřikla, že to by si u ní doma nikdo nedovolil. Jak je neschopná, tak je arogantní. Přitom nám zbytečně sedí ideální adeptka.“
<br>„Nemáš to jednoduché, já to vím, ale pochop naši situaci.“
<br>„Já to chápu moc dobře,“ odsekl Husák. „Vlastní metresa generálního sponzora se správným občanstvím musí dostat velkou roli, zatímco ta, co to umí, má nesprávný pas, to tady ví každej. Ale copak může hrát labuť, když se hýbe jako kachna? Mě už tyhle protekce a politická angažovanost lezou krkem. Jestli jí tam necháte, tak si hledejte jinýho blbouna nejapnýho, kterej vám to odrežíruje.“
<br>„Ale Franto, co bys řekl tomu, že bychom pak dali ten tvůj vytoužený kousek?“
<br>„A zase s ní, co? Já se takhle zvábit nenechám. Buď půjde ona, nebo já.“
<br>„Franto, Franto, nutíš mne dělat těžké rozhodnutí, jistě chápeš jaké.“ 
  {% endblock %}
