{% extends "post.html" %}

{% set title = 'Adventní drabble č.14 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.14</h2>

<center><b><u>METIETA I</u></b></center>

<p>Dívá se na ni, jak chystá další ze svých divotvorných, poněkud i děsivých elixírů. V tom je mistryně, nejstarší Gaeina vnučka, Okeanova dcera, co to už vše viděla, tryskající pramen, co za ty věky nasbíral zkušeností a zkušeností jako přísad. A navíc mazaná. Tichá voda myjící břehy, proměnlivá a kroutící se vábně jako had. Své uštknutí propůjčila jemu, dryák, kterým přinutil Krona vyvrhnout jeho spolykané sourozence a tím započal válku. Bez ní by možná nebyl schopen zvítězit. Nejstarší Gaeina vnučka, Okeanova dcera a vložila svou dlaň do té jeho - nejmladšího bratrance vyměněného za kámen, zlatého hocha z Diktejské jeskyně, co ještě včera tahal kačera.<br>
Podejde blíž.<br>
„Proč vlastně, Métis?“
<br>Obejme ji zezadu, vtiskne polibek hebké šíji a pohladí pas (zatím pořád štíhlý, břicho ploché jak Lakónska rovina).
<br>„Vyslýchala jsi mě dlouho, tehdy na kraji světa. Čím jsem tě přiměl přidat se ke mně?“
<br>Okeanida se o něj spokojeně opře, pasující do jeho náruče dokonale jako znovunalezená polovina.
<br>„Ničím konkrétním. Spíš… Potenciálem. Předčíš ním ty před tebou, co jej gaeižel promrhali.“<br>
Složí bradu na její rameno a zavře oči. Vybaví si pohled, jakým Rhea častovala svého muže Krona a jak se pak podívala na něj, svého utajeného syna. Métis se stočí obličejem k němu, bříšky prstů polaská jeho skráň, ohybem zápěstí spočine na tváři. Lehce, lehounce a přec jako by mu pronikala pod kůži a vše prosvětlovala. Nemohl se nabažit jejích doteků.
<br>„Když je řeč o pramáti Gae, co ti s Ouranem chtěli?“
<br>To, co kdysi tvému strýci. Poté, co si uzurpoval vládu nad všehomírem.
<br>Nahlas řekne: „Vzbudit respekt k stáří.“
<br>Když proti Kronovi vystoupil, ten se na něj rozkřičel, jak se odvažuje vztáhnout ruku na svého krále. A Zeus mu odpověděl: „Protože jsem lepší a tys ublížil matce.“ Jak se jen ten titán smál, když jej slyšel. Až teď chápu proč. Nic z toho nebylo poprvé. A nemělo být naposled.
<br>Métis pokývá hlavou: „Koruna už dávno není jejich, ale čerstvě ověnčena hlava, co ji nosí, tu je možno zavázat si.“
<br>Deset let války mezi titány a bohy, která otřásla světem, do které povolal síly, co sotva šly spoutat. A ty následky, ty musel uklízet dosud. Jícen Tartaru i s žhnoucími zbídačenými pohledy v jeho hlubinách… Střese jej, jen si na něj vzpomene. Ne. Teprve usedl na trůn. Další cyklus ne. Pořád nechce věřit, že čeká i jej. Vždyť mínil být jiný. Takových plánů měl… Ale když jí pohlédne do očí, vidí tu budoucnost v čím dál jasnějších konturách. Musí s tím něco udělat. Tak jak se naučil od ní.
<br>„Mám pro tebe úkol.“</p>

  {% endblock %}

