{% extends "post.html" %}

{% set title = 'Adventní drabble č.15 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.15</h2>
<p>Hostinský před hosta postavil pečenou kachnu v pekáčku. „Necháme ji tak, pravda?“ otázal se muže, jehož poněkud unavený výraz v očích a neupravený zevnějšek svědčil o dlouhé cestě, kterou měl za sebou, avšak zároveň bylo patrno, že tolary mu neschází. Meč u boku a silné ruce mu zároveň zjednávaly respekt.<br>
„Ano, a ještě chléb a druhý máz piva, prosím,“ doplnil objednávku host.<br>
Sotva hostinský odběhl pro pivo, před hostem se objevila zanedbaná žebračka, kterou zvábila vůně večeře. Teprve po několika chvílích muži došlo, že je to elfka, natolik byla její „elfí krása“ schována pod nánosem nuzoty a strádání. Byla vysoká, ale stála trochu shrbeně a nejistě, jen v očích zůstal kdesi hluboko jakýsi zbytek elfí důstojnosti a hrdosti. Její šat, v pase převázaný jen nějakou šňůrkou, mohl být kdysi krásný, dnes však už by mu lesk nedokázal vrátit ani tucet pradlen a švadlen. Zřejmě si dodávala odvahy promluvit.<br>
Zadíval se na ni způsobem, který, jak doufal, jí dodá odvahu otevřít ústa. Když stále nic neříkala, řekl prostě: „Posaď se.“ Nechtěl budit zbytečnou pozornost.<br>
Beze slova to učinila.<br>
„Máš hlad?“<br>
„Mám,“ téměř vykřikla. „Vyměním se za pár soust.“<br>
„Jedeš odsud!“ zahartusil hospodský, který se právě vrátil. „Už jsem ti jednou říkal, že nemáš obtěžovat hosty.“<br>
„To je v pořádku,“ řekl muž. Aby hostinského ještě více upokojil, vtiskl mu do dlaně o lesklý penízek navíc. Hostinský věděl, co se patří, a vmžiku byl pryč.<br>
„Vezmi si,“ nabídl jí. Před chvílí ustrašená žena se teď hladově vrhla na voňavou kachničku. Muž si pomyslel, že v dávných časech by bylo nemyslitelné vidět elfa jíst maso, ale dnes nebylo neobvyklé vidět je jíst odpadky. Pád celé rasy byl drtivý.<br>
Elfka vmžiku snědla tolik, kolik považovala za zdvořilé, a otázala se: „Tak půjdeme nahoru? Se mnou zažiješ rozkoš, o jaké se ti nesnilo.“<br>
„O tom nepochybuji,“ odvětil trochu rozpačitě. „Ale já teď zrovna o radovánky nestojím. Hledám jednu osobu. A právě ty bys mi mohla pomoci tu osobu najít. Když mi pomůžeš, nepřijdeš zkrátka. Měla bys zájem?“<br>
„Měla,“ odvětila pragmaticky. „Nejsem nikomu zavázána. Tedy kromě tebe, vznešený pane. Jsi v králových službách, že ano? Gardista? O koho konkrétně máš zájem?“<br>
Nebyla hloupá a to se mu líbilo.<br>
„Myslím, že opravdu půjdeme nahoru,“ odvětil. „Tam si budeme moci lépe promluvit bez zvědavých očí a uší.“ </p>

  {% endblock %}
