{% extends "post.html" %}

{% set title = 'Adventní drabble č.16 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.16</h2>

<center><u><b>METIETA II</b></u></center>

<p>Přišel za ní kvůli spojenectví a zůstal… Pro vše ostatní. Vděčí jí za tolik. Žasne nad ní – nejkrásnější a nejmoudřejší. Od mrku do mrku by se pohroužel a o to zaníceněji chtěl vše zveledit. Povznášející. Učinil ji svou královnou.<br>
„Poslouchám, choti,“ přikývne Métis.<br>
A podle proroctví právě její syn jej má co nevidět svrhnout. Hned prvorozený. Potomek blesku a stejně zářné a pronikavé myšlenky. Má předčit oba své rodiče. Děti jednou narozené nejde uvěznit do matčina lůna, jak poznal Ouranos, ani vzít břímě na sebe a pozřít je do svého nitra, jak zjistil Kronos. Nejde je ani zanést do lesa a zapomenout, lidští králové by mohli vyprávět. Leda nenechat vzejít. Už spolu ulehli a jen ze zasetého mohla Země Gae poznat, co se s jarem chystá vyklíčit (nebo na to uvalit kletbu). Zbývá tedy… Pramen sám. Ať jsem tedy pomlouvanou žábou, co jej zasedla.
„Mají něco za lubem. Jestli mám ale zjistit co, potřebuji slyšet, co říkají, když jsou sami. Potřebuji, abys je sledovala.“<br>
Není lepší. Ale snad umí být špatný lépe. Vezme její dlaň do své. Jeho stisk opětuje ochotně, ach, jak ochotně…<br>
„Proměněna ve tvora tak malinkého a tichého, že si jej nevšimnou.“<br>
Dva páry očí se protnou jako hladina tůně a paprsek. Na moment se jen kochá, vpíjí, pak:<br>
„Jak jsi slíbila stanout po mém boku, staneš se teď mými očima a ušima, prodlouženou rukou?“<br>
„Ano.“<br>
S kouzelným znakem druhou rukou načrtnutým do vzduchu se Métis promění na ovocní mušku tak drobounkou, že ani necítí její tíhu na prstu. Pozvedne si ji před obličej, dech rozechvělý.<br>
„Děkuji. A moc se omlouvám.“<br>
Vloží si ji do úst a polkne. Bez matky nemá kdo naplnit věštbu. A co by dala nástupci, bude navždy jej. Divotvorná, divá… Více ne. Proudem, jež by z vnějšku podemlel jeho království, jej teď podepře. Zbraň zasunuta do pochvy se proti němu neobrátí. Navždy mimo číkoli dosah.<br>
Jenže na jazyku cítí hořkost jako blín a v útrobách ozvěnu výkřiku stoupající až do hlavy. Netichne. Zeus klesne na kolena, v prázdných rukou třes. Za zády uslyší kroky a pak Poseidonův hlas.<br>
„Die, hádej, koho jsem načapal u nového světlíku, jak… Die? Jsi v pořádku?“<br>
„Říkej mi Areius.“<br>
Kajícník.</p>

  {% endblock %}
