{% extends "post.html" %}

{% set title = 'Adventní drabble č.17 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.17</h2>

<center><u><b>Duchové Njombe, část druhá</b></u></center>
<p>Tři dny uplynuly od chvíle, kdy Matamula zosnoval svůj plán. Tři dny hladovění, rituálů, magie a volání bohů známých i zapomenutých, jen aby mu pomohli naplnit svou vlastní pomstu. Léta jim sloužil, věrně a poctivě, a odříkal si potěšení, která ho každý den vábila na cestu zpupnosti a zavržení. </p>
<p>Chodidla měl od tance kolem ohniště rozedřená do krve, puchýře jej pálili dnem i nocí, roucho visící mu kolem pasu začínalo být nepříjemně těžké. Již dvakrát ho přemáhala touha vyměnit poněkud nejistý výsledek tanců a modliteb za velmi jistou pečenou kachnu ve vzdáleném hostinci a halucinace vznikající směsicí nedostatku spánku a kouře obohaceného o omamné byliny za měkkou, teplou postel na témže místě. On však svou vůlí vítězil nad svým tělem, svým duchem překonával svojí hmotnou podstatu a vytrvával oddán svému úkolu. Rty měl rozpraskané, z úst mu chvílemi vytékala krev a jeho vyschlé oči si již mušky vybíraly jako cíl pravidelných náletů. </p>
<p>Pátého dne byl na prahu svých sil. Zimnice jím cloumala silněji než horkost pálenky jeho soukmenovci, jeho zrak nerozeznal skutečnost od klamu, konkrétní od abstraktního a tvary, obrazy a zvuky mu splývaly do jednoho. Marnost jeho snažení se již drala na povrch jeho mysli a on chtěl z plných plic vykřičet svou nenávist a žal ven k celému světu, ale ani to již nedokázal. </p>
<p>Vysílen, zlomen a pokořen, Matamula padl na kolena. <i>Přeci to neskončí takhle</i>, pomyslel si. Strach a zlost se v něm mísily rovným dílem a on už chtěl odpověď. A jak se slunce překlopilo k západu, tak i jeho touha zachránit svůj lid se překlopila – v touhu ničit, v touhu pálit, v touhu dát pocítit svou bolest každé živé bytosti, které to jen lze. </p>
<p>A pak se to stalo. Ve vlnícím se horkém vzduchu spatřil obrys mohutné šelmy kráčející od slunce směrem k němu. Byl to ten největší lev, jakého kdy v životě viděl. Než se stihl vzpamatovat, uvědomil si, že není jediný. Blížila se k němu celá smečka. Obrovská, krásná, majestátní zvířata, skuteční králové této země, vtělení zemních bůžků i dalších bytostí, které nebyly z tohoto světa. Samec stojící proti němu měl ohromující huňatou hřívu, zuby ostré jako břitvy a svým vzhledem by zasel strach do srdcí i těch nejodvážnějších lovců.</p>
<p>Kolem Matamuly se shromáždilo nejméně dvacet lvů, možná i víc. Nevěděl. Jeho smysly byly tak přehlcené, že sotva vnímal. <i>Tohle je tedy ta chvíle? Má odměna? Mé vysvobození? Můj konec? </i> Obrovský lev přišel přímo k němu. Čumákem se téměř dotýkal jeho nosu. Matamula jej popadl zakrvácenýma rukama za hřívu a přiložil své čelo na jeho. „Vzali ti tvou zemi, tak jako jí vzali mně.“ Zašeptal. Krev a srst se mísily v jedno, stejně jako jejich mysli, stejně jako jejich duše. „Společně…“ zavrčel Matamula a v jeho očích zažhnul neuhasínající plamen zvířecké nenávisti. „Společně je všechny zabijeme.“ </p>


  {% endblock %}
