{% extends "post.html" %}

{% set title = 'Adventní drabble č.18 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.18</h2>

<p>Měl hlad, bylo mu zima, vlastní nohy už skoro necítil a špatně viděl. Již tři dny se brodil sněhem během přechodu přes horský pas k údolí zlatonosné řeky. Vyměnil by teď všechno zlato za teplý pokoj a horkou koupel. Proč nepočkal do jara. Zima přišla tak rychle, že ani ptáci ještě nestačili všichni odletět, a on tady mrznul.</p>

<p>Nechal se zvábit vidinou zbohatnutí a teď jeho oči, vystavené mrazu a ledovému větru, opuchly a zanítily se. Mast ze světlíku měl v batohu, o který jej připravil jeho proradný druh, když mu včera ukradl většinu zásob, a jemu nezbývalo než vydržet. Vždy se spolu dělili a teď taková zrada. Kam vůbec šel? Zpátky do města nebo chce najít zlato sám, bez něj? Jedl naposledy před dvěma dny, opožděnou divokou kachnu, kterou předtím zastřelil.</p>

<p>Alespoň se konečně dostal do lesa, který poněkud chránil před severákem. Také je tu větší šance něco ulovit. Konečně začal terén klesat. Tady někde by měla být vnější hranice jeho claimu. Přibil na strom papír se státním znakem, který jeho zábor oznamoval všem.</p>

<p>Uslyšel řeku. Nejprve šumění, a pak, když upoutala jeho vědomí, voda jakoby divoce vykřikla, aby jej přivedla k sobě. Snad se mu začne konečně dařit. Musí nejdřív najít místo, kde postaví stan. A pak, pak vezme rýžovací pánev a pustí se do díla. Jednou o tom bude vyprávět svým potomkům. Ale nejdřív ze všeho si musí odpočinout, zachumlá se do kožichu a jen na chvilku zavře oči… </p>

  {% endblock %}
