{% extends "post.html" %}

{% set title = 'Adventní drabble č.19 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.19</h2>

<p><center><b><u>Piranesi</u></b></center></p>

<p>ZÁPISEK Z OSMNÁCTÉHO DNE PÁTÉHO MĚSÍCE ROKU, KDY ALBATROS PŘILETĚL DO JIHOZÁPADNÍCH SÍNÍ</p>

<p>Sochy. Mlčenlivé bytosti, které mi vždy přinášejí útěchu a poučení. Dům jich je plný, můžete procházet síněmi a objevovat a obdivovat další a další. Některé sochy mám rád mnohem více, než ostatní. Žena nesoucí Včelí úl je jednou z nich: včely usedají na jarní květy, úl i kamkoli po těle té ženy. Přesto je klidná a trpělivá. A včely, ač z kamene, působí hemživým dojmem, naznačují, že každou chvíli vzlétnou.</p>

<p>Bílý mramor převládá. Některé sochy jsou v životní velikosti, najdou se tu ale i mnohonásobně větší. Některé stojí osaměle, jiné jakoby tvořily les strnulý v okamžiku. Prohlížím je a dohaduji se, zda je to náhodný výběr nebo promyšlená kompozice. Hledám vnější souvislosti, nebo vnitřní vztahy mezi nimi. Není to snadné, Dům zřídka kdy dává jednoznačné prvoplánové odpovědi. Je nutné se zamyslet. Jedna skupina, ač každá socha je z jiného druhu kamene, představuje otce, který učí své potomky zacházet s lukem. Ale – je to skutečně otec a děti? Jsou jeho učedníky, nebo jen náhodně přihlížejí? Nebo se snad seskupili ještě nepravděpodobnější náhodou a nepředstavitelnou, mocnou silou a mohutností Přílivu? Nevím.</p>

<p>Mnohé jsou mi každodenními společníky, jiné vídávám jen občas, stále je nedefinovatelné množství těch, které jsem ještě neviděl. Záleží, kudy procházím. Když rybařím v Korálových síních, nebo jdu pro kanoucí vodu do Dvanácté a Osmé jihozápadní síně, navštívím přirozeně i jejich sochy. Do severních síní se vypravuji málokdy. Tak i jejich sochy jsou jen mí náhodní známí, nikoli důvěrní přátelé, jako ty v síních, které obývám nejčastěji. Třeba Socha Gorily, jež stojí v Páté severní síni, pokaždé upoutá moji pozornost. Představuje mnohé, mimo jiné Vyrovnanost, Klid, Sílu a Vytrvalost. Stropní světlíky ji ozařují zdánlivě stabilní září, ale přesto stíny působí, jakoby se tvářila pokaždé jinak, jakoby měnila náladu.</p>

<p>Je vůči Domu neuctivé, mít rád některé sochy víc než jiné? Mám za to, že dům sám miluje a žehná všemu, co stvořil. V lidské přirozenosti je ale vybírat si a dávat přednost jednomu před druhým. Ovšem Krása domu je nezměrná; jeho Laskavost nekonečná. </p>

  {% endblock %}
