{% extends "post.html" %}

{% set title = 'Adventní drabble č.2 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.2</h2>
<center><u><b>Duchové Njombe, část první</b></u><center>
<p>Matamula seděl na břehu říčky a sledoval poněkud rozrušené osadníky vykládat zásoby. Byl horký letní den, takový, kdy má člověk chuť nechat se zvábit koupelí v nedaleké vodě, která by mohla přinést alespoň chvilkové vysvobození od vlastního potu a všudypřítomného slunce. V přístavu na druhém břehu bylo neobvykle rušno. Ozývaly se výkřiky, lidé nosili kufry a bedny, vyváděli dobytek z lodě a pod nohama se jim pletlo malé hejno dovezených kachen. </p>
<p>On jenom nehnutě seděl, nohy zkřížené pod sebou, a s vztekem v očích proklínal každého jednoho z nich. To oni prodávali alkohol lidem z jeho kmene. To oni všechny zkazili tou prašivou ohnivou vodou. To kvůli nim ho lidé z jeho vlastního kmene ztloukli a vyhnali. Modřiny na jeho uhlově černé kůži s každou minutou pálily víc a víc a krev mu zasychala na místech, kam dopadly údery. Obočí měl roztržené, stejně jako roucho obepínající ho kolem pasu. </p>
<p>Kdo konkrétně vymyslel, že vlastního šamana vymění za několik beden pálenky, to nevěděl. Co ovšem věděl moc dobře, bylo, že to tak nenechá. Jeho předci se těšili úctě, které nebylo v celé zemi rovno. Lidé jim nosili dary, krmili je, předcházeli si je, nabízeli jim vlastní dcery. Ale on? Nic z toho neměl. Jenom ho nazvali darmožroutem a kejklířem, zbili jej a vyhodili. Jeho pýcha byla poničená snad ještě víc, než jeho tělo. Nenávist v něm překypovala čím dál víc. <i>Tohle ne</i>. Byl synem divočiny. Znal všechna tajemství prastaré země. Mluvil s bohy i zvířaty. Nastal čas domluvit s nimi pomstu. </p>


  {% endblock %}
