{% extends "post.html" %}

{% set title = 'Adventní drabble č.21 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.21</h2>
<p><center><b>A</b></center></p>
<p><center><u><b>Duchové Njombe, část třetí</b></u></center></p>
<p>N`Rahma rozevřel půlené dveře a odhrnul poněkud zašlý závěs bránící návalu krvechtivých komárů do hostince. Výkřiky přiopilých hostů se rozléhaly po celé místnosti, zatímco jeho vábila vůně čerstvě pečené kachny a živé hudební vystoupení odehrávající se na pódiu vpravo. Několik trumpetistů a místní klavírista Sam doprovázelo hluboký, chraplavý hlas postarší zpěvačky s úzkým pasem, oblečené ve stříbrných šatech. U stropu se hromadila oblaka dýmu, jak si místní osazenstvo užívalo nově dovezené doutníky až z daleké Střední Ameriky.
<p>Minul spoře oděnou servírku a pomalým krokem se prodral až k baru. Promluvil na hostinského, aby upoutal jeho pozornost, ale kvůli neutuchajícímu hlaholení sotva slyšel svůj vlastní hlas, natož pak hlas veselého, obtloustlého chlapíka s prošedivělými licousy, který právě rozléval pivo do korbelů. <br>
„Hledáte někoho konkrétního?“ otázal se jej s křikem barman.</p>
<p>„Hledá.“ Ozval se muž sedící sám u stolu vedle baru. Do čela mu spadal bílý lovecký klobouk, oděn byl ve světle béžovém obleku s plátěnými kalhotami a na nohou měl vysoké vojenské boty. Velkorážní pušku měl postavenou vedle stolu a na opasku za pasem mu visela pistole. Vlasy měl černé, vpředu sčesané k jedné straně a pod nosem si pěstoval hustý knír. </p>
<p>„Vy jste George Rushby?“ zeptal se N`Rahma rozpačitě. Představoval si někoho… mužnějšího. Vyššího, s širokými rameny a charismatem na rozdávání. Místo toho před ním seděl vyhublý čtyřicátník s kruhy pod očima, který evidentně vyměnil nebezpečí divočiny za pohodlí při provádění turistů a dam z lepší společnosti po místních zkrocených zvířatech. </p>
<p>„To vskutku jsem, pane N`Rahmo. Chtěl jste, abych se podíval na nějaké fotografie, možná i střelil nějakou tu divokou kočku. Pokud je to, co jste říkal pravda, mohlo by to být větší než Tsavo. Ačkoliv jsem k takovým historkám přirozeně velmi skeptický.“ N`Rahmovi přejel mráz po zádech. <i>Tsavo</i>. Uplynulo víc než čtyřicet let od toho děsivého masakru na Keňské železnici a lidé pořád nezapomněli. Přízrak dvou nelítostných zabijáků visel ve vzduchu vždy, když někde došlo k útoku lvů.  </p>
<p>Posadil se vedle Rushbyho a z kožené brašny vytáhl černobílé fotografie potrhaných obětí. „Podívejte se,“ postrčil je směrem k lovci. „Lvů je nejméně patnáct, spíš přes dvacet. Nikdo to neví jistě. Loví ve smečce. Chodí od vesnice k vesnici, od města k městu. Lidí se nebojí. Vždycky si vyhlédnou samotnou oběť a odtáhnou jí pryč. Útočí za šera a v noci. Nikdy přes den. Zabijí a přesunou se pryč. Nikdy nezůstávají na jednom místě dlouho.“</p> 
<p>Rushby prohlížel rozsápaná a zohavená těla jednotlivých obětí. Spíš než na útok lva to vypadalo jako rituální vraždy nějakého maniaka. Děs v očích, vnitřnosti vyvržené, tělo nesežrané buď vůbec, nebo jen částečně. Zakroutil hlavou. „Lvi takhle neútočí. Ne pokud nemají nějakou prašivinu nebo nejsou vycvičení. Jestli se tohle děje už dlouho, pak to možná nejsou lvi, koho potřebujete odstřelit.“ </p>
<p>N`Rahmovo podezření se v té chvíli potvrdilo. “Možná… možná že jsou. Vycvičení. Vyražte se mnou na jih a přesvědčte se sám. Peníze nebudou problém.“ Lety ošlehaný lovec se napil whisky stojící na stole před ním. „Máte pravdu N`Rahmo… peníze nebudou problém. Ti lvi ano.“</p>

<p><center><b>B</b></center></p>

<p>To takhle jednou přišel e-mail a naše skupina vykřikla: „Budeme se stěhovat.“<br>
„Tohle stěhování našich kanceláří do jiných prostor přišlo poněkud narychlo, ne?“<br>
„To tedy ano, já se to dozvěděla před dvěma dny. Mělo to být na jaře, ale rozhodlo se to jinak.“<br>
„Znak fungující komunikace v rámci úřadu.“<br>
„A kdo to vybíral?“<br>
„Co nám dali, to máme.“<br>
„Tohle jsou naše vlastní kanceláře? To je na prd.“<br>
„Nějaké konkrétní připomínky?“<br>
„Ale někdo má okna na vnější stranu budovy, my jen do nějakého světlíku. Máme tam tmu celý den.“<br>
„Hele, nemáte někdo takové ty figurky, co dávají v Lidlu? Mí potomci to sbírají.“<br>
„Teď se zabýváme stěhováním.“<br>
„Kde bude vlastně archiv?“<br>
„U vás.“<br>
„No moment, když jsme si vyměnili posledně s ředitelkou kancl, tak nám slibovala, že i když máme velkou místnost, že už tam archiv mít nebudeme. Teď je v kanclu úplný les krabic a přepravek.“<br>
„To je jenom přechodné.“<br>
„Aha, takže se toho nezbavíme. Vždy vše pro blaho zaměstnanců.“<br>
„Jsme blízko Vltavy, když nás to bude štvát, můžeme jít krmit a vábit kachny a jiné druhy ptactva.“<br>
„Na to nemusíme k Vltavě, stačí jednání zastupitelstva nebo rady.“<br>
„Hele, tady je pas skrz budovu. Ale teď nám tam stěhují další odbor, a odtud nám budou čumět skrz světlík do oken.“<br>
„Tak si zatáhni.“<br>
„Už tak tam máme tmu.“<br>
„Světla budou.“</p>

  {% endblock %}
