{% extends "post.html" %}

{% set title = 'Adventní drabble č.22 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.22</h2>

<p><center><b>A</b></center></p>
<p>„Bafomet – záhadná hlava, která podle pověstí vzbuzovala hrůzu, propůjčovala moc a neobyčejné vědění, snad i věštecké schopnosti a znalost budoucnosti. Templáři ji uctívali a byla jedním z jejich nejžárlivěji střežených tajemství. I na našem území máme stavby a památky s templářskými znaky – dva rytíři, druh s druhem, na jednom koni.“</p>

<p>Moderátor pořadu pomalu prochází před kostelem v Jindřichově Hradci a vemlouvavým hlasem spiklenecky vykládá.</p>

<p>„Z náznaků a fragmentů můžeme číst a odhadovat, jak to s onou záhadnou, děsivou hlavou bylo. Po té, co templářský velmistr ve Francii tak nechvalně zemřel a celý řád byl otřesen, až rozmetán, rytíři Templu se rozprchli po celé Evropě a podle historických dokumentů víme, že nezanedbatelné množství vyšších zasvěcenců z jejich řad zamířilo do míst v Čechách, která nebyla na špici zájmu mocných, tudíž poskytovala ochranu svou nenápadností, zároveň však skýtala i nemalý potenciál a různé výhody pro utajené pokračování v řádové práci.“</p>

<p>Ocitáme se uvnitř kostela, podmanivý hlas promlouvá dál, atmosféra je nabitá tajemnem.</p>

<p>„Vnější zdání, že řád zanikl, dal jeho pokračovatelům a potomkům možnost uschovat orákulum, Bafometovu hlavu, právě někde v Čechách. Nemáme dosud spolehlivé indicie, ale když si pečlivě prohlédnete tento zajímavý kostel s přinejmenším neobvyklou výzdobou fresek, na něž dopadá vždy ve dnech slunovratů a rovnodenností, jarní i podzimní, světlíky paprsek slunce na určitá místa, vyvstane hned celá řada otázek. A odpovědi na ně, pokud budou správné, nás mohou hodně přiblížit k řešení hádanky: kde je ona templářská relikvie – Bafometova hlava?“</p>

<p>---</p>

<p>„Pane Listere?! Pane Listere!!! Pane Kocoure! Krytone!!! Co to má znamenat? Ten les sloupů a podivné obrázky na zdech? Co je to?! Dnes byla řada na mně! Krytone! Hned sem pojď a nasaď si mě! Halóóó! Pánové? Tady hlava číslo tři!“</p>

<p><center><b>B</b></center></p>
<p><center><u><b>Duchové Njombe, část čtvrtá</b></u></center></p>
<p>Jarní vánek si pohrával s písčitou krajinou kolem chatrčí a vířil drobný prach na všechny strany. S večerní tmou se přikradl i přetrvávající strach místních domorodců, kteří již ani nepouštěli své potomky za vnější hranice osady. Všichni byli zalezlí ve svých příbytcích, zatarasených provizorními barikádami a v tichosti vzývali božstva všech druhů, aby jim bylo dopřáno dalšího dne na tomto světě. Stěny domků byly pomalované ochrannými znaky a v některých případech také opatřeny bodci, jako poslední způsob obrany před predátory vracejícími se každých pár měsíců. </p>
<p>Dnes však bylo něco jinak. V malém světlíku na kraji vesnice se ukrýval osamělý dobrodruh, připravený vyzvat krvelačné šelmy k poslednímu zúčtování. Jeho bohové byli docela jiní. Jmenovali se Winchester, Smith a Wesson, a dnes večer tu byli s ním, připravení přinést olovo a smrt každému, kdo by se jejich chráněnci postavil do cesty. V posledních měsících se mu povedlo postupně několik lvů zastřelit, většina z nich však nepatřila ke smečce sužující místní obyvatelstvo. Tento večer byl naprosto střízlivý. Potřeboval všechny své smysly, všechny své dovednosti. S N`Rahmou se jim podařilo zmapovat pohyb šelem tak, že mohli odhadnout další místo jejich útoku. Odhadnout. V tom spočíval hlavní problém. Čas od času lvi své zvyky měnili, aby tak zabránili lovcům i domorodcům v přípravách na svůj příchod. </p>
<p>Na kraji lesa se z nenadání objevilo několik stínů. Byly mohutné, s ladnou kočičí chůzí a lví vznešeností. Pět, devět, jedenáct… Něco nebylo v pořádku. Mohli jej ucítit? Ne, přicházeli ze stejného směru jako vítr. Tohle bylo jedno ze základních loveckých pravidel. Nikdy nevyčkávej na místě, kde vítr zanese tvůj pach ke kořisti nebo budeš tou kořistí ty. Několik lvů chybělo. Jako vždy, i tentokrát se jeho instinkt spustil právě včas, aby sáhl pro nůž visící mu u pasu.</p>
<p>Něco těžkého s ohlušujícím zařváním dopadlo zezadu na střechu. Vrazil nůž do škvíry mezi latěmi a bestie nahoře zakvílela vztekem a bolestí. V tu chvíli narazil další do dveří. Byl to samec. Největší, jakého kdy viděl. Dva neohrožení lovci, dva nelítostní zabijáci. A teď si přišli jeden pro druhého. Dnešní večer přežije jen jeden. Vlevo se ozval zvuk praskajícího skla, jak se oknem pokoušel další lev protlačit hlavu dovnitř. Ostré zuby scvakly naprázdno, jak se pokusily uchvátit Rushbyho paži. Bez váhání vrazil zvířeti pušku do tlamy a vystřelil. To s chrčením padlo k zemi. Co s ním bylo dál, neviděl. Skrz latě ve stropě se dovnitř dral další. Znovu bodl. A znovu. A znovu. Krev mu tekla dolů na obličej, jak se jeho poslední oběť svíjela ve smrtelných křečích. Dveře se za skřípavého zvuku vyvrátili z pantů a než stihl něco udělat, obrovská šelma po něm sekla tlapou. Zasáhla čutoru na jeho hrudníku a povalila jej k zemi. Pušku dal před svůj obličej právě včas, aby se ostré tesáky zakously do pažby stojící jim v cestě. </p>
<p>Bodl. Nevěděl kam. Prostě bodl. Hrozivé kvílení mu napovídalo, že něco trefil. Řev šelem kroužících kolem chatrče sílil. Všechny dovnitř nemohly a to bylo jeho jediné štěstí. Sáhl pro revolver a vystřelil. Nic. Se lvem snažícím se vyprostit své zuby ven z Goergovi Winchestrovky to ani nehnulo. Rychle s sebou smýkl do strany, po kaluži krve hromadící se kolem mohl snadno klouzat. Dostal se té bestii pod břicho, mimo dosah drápů i zubů. Huňatá srst jej dusila, jak se lev snažil jej uválet a umačkat pod sebou. Bodl znovu. Kůže se protrhla a na něj se vyřinula záplava krve. Nic neviděl. Nic neslyšel. Jen bodal a bodal. Adrenalinový tranz ho zachvátil natolik, že ztratil pojem o čase i místě. Chtěl jenom jedno – přežít. </p>
<p>Když mu konečně došly síly a s vyčerpáním pustil nůž na zem, bylo ticho. Takové, že slyšel tlukot vlastního srdce bijícího jako o závod. Hromada masa ležící na jeho pohmožděném hrudníku se nehýbala. Nekvičela. Nebojovala. Ostatní lvi se rozprchli pryč. Když se podíval na své ruce, jedna z nich byla ošklivě podrápaná. V záplavě zuřivosti si toho ani nevšiml. Ramenem a stehnem mu pulzovala ostrá bolest. Položil hlavu zpátky na zem. Jeden zabiják byl mrtvý. Ten druhý, mnohem lstivější, na něj stále čekal.</p>


  {% endblock %}
