{% extends "post.html" %}

{% set title = 'Adventní drabble č.24 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.24</h2>
<p><center><b>A</b></center></p>

<p>Tam, vprostřed lesů plných zvěře, tam, kde tečou potoky čisté vody rybami oplývající, tam je místo, ke kterému zamíříš. Tam ona se ubírá skrz louky porostlé travami a hrající všemožnými barvami květů a pod jejíma nohama ani stéblo se nezlomí. Tehdy začíná podzim v kraji. Jde pomalu, avšak jistě a neodvratně a čím blíže je cíli svému, tím více světla ubývá a květin uvadne.</p>
<p>Když vstoupí na práh zámku svého, již jen květy světlíků přihlížejí její kráse. Pak se dveře zámku uzavřou a ona ulehne a spí, zatímco nebe zešedne, větry se rozdují a bílý sníh pokryje zemi.</p>
<p>Tam pojedeš, na vnějším okraji lesa poklekneš a požádáš les o vpuštění. Pak rozvineš prapor se znakem svým a v cestu přímou se dáš. Jen tvůj kůň a tvá zbraň budou dužinou tvou. Pojedeš deštěm, bouří, kopce i roviny, přes led a závěje, dnem i nocí za svým cílem a z cesty nesejdeš. Když pak se les před tebou rozestoupí a ty luka zavátá sněhem uzříš. Tam ledový obr zastoupí ti cestu. Neustoupíš-li, zvítězíš a dospěješ k paláci, který jsi hledal.</p>
<p>Tam ona na loži s nebesy spí a sní o světle a životě a o tobě. Polibkem ji probudíš a její lásku si získáš. S jejím dechem vrátí se jaro na zemi.
Nikdy tento příběh váš nezapomeňte a potomkům vašim vždy jej vyprávějte, ať naděje, odvaha a láska nikdy ze světa nejsou sprovozeny.</p>

<p><center><b>B</b></center></p>
<p>Ruce jej zebou, ale nedýchne na ně, neschová je do kapes. Ruce jej zebou a on v podzimním lese vzpomíná na jaro.</p>

<p>Seděla zrovna tam, na tom vývratu čnícím kousek nad kroutící se říčkou. Pramínky vlasů uvolněné z koňského ohonu se jí lepily na zjizvené tváře a šíji. Zmáčená první bouří roku. Vždycky se ty první snažila chytit, zvítat se tělo na tělo pod otevřeným nebem. Toho dne se ale neusmívala.<br>
„Vale…!?“<br>
„Nekřič.“<br>
Utnul své volání v polovině, teď když ji konečně spatřil.<br>
„Zvířata to nemají ráda.“<br>
Hlas ztěžklý, i hlava dál skloněná nad křiklavou kachnově žlutou kazetou se znakem fí vyrytým na odklopeném víku.<br>
Zvedl ruku, ve které svíral promáčené fotografie partičky dobrodruhů pózujících v zaledněné krajině a objímající se dvojice na vrcholu horského štítu.<br>
„Spatřil jsem ve vodě tohle a… Lekl jsem se.“<br>
Vylovila, co hledala a až teď se na něj podívala.<br>
„Ach.“<br>
V ruce držela další, s mladíkem v kostýmu rudého draka na břehu jezera.<br>
„Schraňovala si je, tak…“<br>
„Nevysvětluj. Chápu.“<br>
Pohlédla zpět na fotografii, výraz obličeje nečitelný.<br>
„Důvodů na obavy jsem ti dala dost. Ale tomu je již jednou provždy konec.“<br>
A upustila ji do rejdivého proudu pod ní. Cuklo jím.<br>
„Valerie.“<br>
„Je to mrtvá váha, nic víc.“<br>
…<br>
„Mrzí mě to.“<br>
„Lítost nikoho nespasí.“<br>
…<br>
To bylo naposled, co ji viděl. Ze vzpomínek jej vytrhne dotek na rameni.<br>
„“<br>
Obrátí se.<br>
„Neuvěříš, co se … pořád myslíš na ní, viď?“ <br>
Smutně přikývl. <br>
„Je toho tolik, co jsem jí měl říct. Co jsem měl udělat… Měl jsem tam být já, víš? Tehdy na převisu, když musela odříznout lano s vlastním partnerem, aby ostatní přežili. Měl jsem to udělat já. Vyměnil bych si s ní místo, kdybych mohl.“<br>
Měl tam pro ni být. Obejmout jí, nabídnout jí slova útěchy. Ale nebyl. Tolik se styděl za vlastní selhání, že ani nepřišel na pohřeb. Poté se jí dlouho vyhýbal a tak oba žili uvěznění ve svém, poněkud morbidním, žaláři výčitek a hanby.<br>
Jeho sestra, stojící za ním, se k němu sklonila, rukama obepnula jeho ramena a svojí hlavu položila vedle té jeho.<br>
„Nemůžeš za to.“ Řekla mu, jemným tichým hlasem. „Je jedno, kolik lidí jí odpustí a pochopí jí. Ona zatím nedokázala odpustit sama sobě. Utíká, ale ne před tebou. Ne před minulostí. Utíká sama před sebou, protože nedokáže žít s někým, kdo jí připravil o životní lásku.“<br> 
V každé vzpomínce na ní se mísila radost a žal. Konkrétní hranice těch pocitů se prolínaly a stíraly a on nevěděl, který převládá.  Vábila ho představa, že by se vydal za ní. Ať už odešla kamkoliv, dnes měla být tady a nebyla. Vždycky jí miloval. A ona jeho nikdy. Ta noc, v malém, senem vystlaném světlíku… neznamenala pro ní nic. Byla to jen úleva od bolesti, chvilková cesta na vnější kraj její nenávisti k sobě i ke světu. <br>
Její odchod nebyl ničím jiným než nevyhnutelně příchozím potomkem její zloby, a jejím pronásledováním by ničeho nedosáhl. Byl konec. Byla pryč. Jeden druhého již nejspíš nikdy neuvidí. <br>
Vzpomínal na její dokonalou tvář, na její překrásné, husté vlasy, na oči, do kterých by mohl koukat hodiny a hodiny. Nikdy s její ztrátou nesmíří. Tak jako ona se svou. Jen se s ní časem oba nějak naučí žít. Ucítil, jak mu sestra sevřela promrzlé prsty do svých dlaní.</p>

  {% endblock %}

