{% extends "post.html" %}

{% set title = 'Adventní drabble č.6 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.6</h2>
<center><u><b>EXPERIMENTÁLNA TEOLÓGIA V PRAXI</b></u></center>

<p>Kačacie telo sa už prestalo zmietať, ale ja naďalej pritískam ústa k rane v snahe vysŕkať ešte aspoň zopár kvapiek. Tak málo, vždy primálo. V ústach pachuť ako po trikrát pančovanom pive, v bruchu naďalej neukojená hmýriaca sa žiadostivosť a predo mnou nový deň v zástupe pulzujúcom o toľko vábivejšie voňajúcou krvou. <i> Mám za sebou druhú noc. Vydržím zajtrajšok? A deň potom? A potom? </i></p>
<p>Nič, už ani kvapka. Pustím mrcinu a vzhliadnem. Pohľad mi padne na vežu. Temná na pozadí modrajúceho obzoru, len na vrchole ligot. Rozoznávam jednotlivé šindle. Keď vstanem, miesto do tábora zamierim k dedinskému kostolu.</p>
<p><i> Ak bude zamknuté, otočím sa. </i> Nie je. Veraje zdobené jarným kvietím povolia s tichým škripotom a kamenné útroby vdýchnu vlahý úsvit akoby vetrili. V očakávaní ustrniem ja aj chrám. Značí to niečo? V končekoch prstov a zakvačené do zátylku mi brní napätie a pohľadom do tmy vnútri začieram so zmesou bázne a podozrievavej zvedavosti, aké som dosiaľ nepoznal. Ani čo by som sa na rady lavíc a matný lesk oltáru díval po prvý raz. Vlastne aj dívam. Svet, ako som ho poznal, odniesla voda a v tom, ktorý po sebe zanechala, sa hranice medzi skutočnosťou a poverou rozmazali. Ak som sa mohol premeniť na krvilačný prízrak, čo všetko je pravdy na moci prisudzovanej krížu? Sklopím oči k prešľapanej dlažbe. Svätá pôda, na ktorú nemám právo vstúpiť. Odpášem svoje zbrane a zavesím ich na kľučku, klobúk vedľa nich (niet sa za čo skryť...). <i> Zajtra a pozajtra a... </i><br>Zatnem zuby a prekročím prah.
<br>Nič.</p>
<p>Zvetralé prítmie ma prijme s ľahostajnosťou opitej dievky. Ba ani tej nie. Nevšímavo ako mŕtvola. Chladné ako moje vlastné údy, mĺkve ako hruď, v ktorej mi prestalo biť srdce. Vo mne však nepokoj len vzrastie. Rozčarovane sa obzriem po svetlíkoch, štíhlych priamkach a baňatých ozdobách stĺporadia, po maľovanom strope a drevorezbách s lesným motívom.</p>
<p><i> No tak? To ti toto znesvätenie nestojí za odpoveď? Kde si? Skrytý za veľkoleposťou vztýčenou na tvoju slávu zhliadaš na mňa tisíckami anjelských očí v žeravých kotúčoch plných posmechu? Kocháš sa biedou svojho nehodného potomka s uspokojením, že si ma nachytal a tvoja pravda sa potvrdila a vôľa naplní (všetci otcovia rovnakí...)? </i></p>
<p>Očami zavadím o kašnu pri dverách. Znehybniem. Pravda, nestačí len vstúpiť, treba byť konkrétnejší. Pristúpim bližšie. <i> Čistá a očisťujúca. </i> Môj odraz sa černie na hladine. <i> Hriech sa ňou zmýva ako zájdená špina lúhom. </i> Až teraz sa rozochvejem. <i> Zajtra a pozajtra a... </i> Vrhnem ešte jeden nástojčivý pohľad k Ukrižovanému. <i> V mene vás troch... </i> Než by som mohol cúvnuť (viem ako predbehnúť pud sebazáchovy, už som to raz dokázal...), ponorím pery do svätenej vody.
<br>Nič.</p>
<p>Nič, nič, nič... Ani sa nenazdám, polovicu vychlípem a druhou zmáčam podlahu a svoje zvršky. Trochu bezradne pozerám na prázdnu misu, na kvapky cupkajúce dolu. Vtedy si už musím priznať, že sa žiadneho strašného zázraku nedočkám. Hlad sa ďalej hmýri a vrtí a zatína prsty do mäkkých stien, len mi vnútro trocha oťaželo a von vyviera čosi násilné, ale nesmú ma tu takto nájsť, nesmú... Klesnem do mláky, zovriem hrany podstavca a tisnúc čelo o drsné drevo, kričím iba bezhlasne.<br></p>
<i> Teda takto? </i>
<p>Spánok sa mi vyhýba a slnko ani len nezahreje kosti, drevené triesky už nevyženú, čo som prv vypustil skrz rany na zápästiach a sviatosti nebeskej sa nemôžem dotknúť nie preto, že by ma spálila, ale pretože už nie je na dosah.
<br>Nemý krik sa zlomí vo vzlyky.
<br>Chcel som len... Len koniec. Koniec, na ktorý som nenávratne stratil nárok.</p>

  {% endblock %}
