{% extends "post.html" %}

{% set title = 'Adventní drabble č.8 (2022)' %}

{% block content %}

  <h2>Adventní drabble č.8</h2>
<p>Vnější svět za oknem byl temný, sychravý a nehostinný. Večerní nebe potemnělé těžkými sněhovými mraky tam venku vytvářelo pocit čehosi hrozivého, co visí ve vzduchu a dopadne v nestřežený okamžik. Krajina tomu pocitu přidávala. Zasněžený les se střídal se skalami, stržemi a mosty. Prakticky divočina, kde žijí vlci a medvědi. Nebylo by příjemné muset zastavit právě zde.</p>
<p>Zatáhla stropní světlík, ale boční okno po chvilce váhání ponechala odtažené. Vychutnávala si ten kontrast. V jejím kupé bylo totiž teplo a útulno. Pohodlná pohovka, polstrované křesílko, dvě lampičky se secesními stínítky, stolek, na kterém upouštěl trochu páry její oblíbený Darjeeling servírovaný v porcelánu nesoucím znak přepravní společnosti. K tomu nějaké zákusky a mísa ovoce. Vlastně byla ráda, že necestuje na jaře ale na podzim.</p>
<p>Zabalila se do deky a otevřela knihu. Zvuk vlaku, občasné zahoukání a hlavně rytmické klapání kol ta-dak ta-dak jí však braly chuť do čtení. Spíše její vlastní fantazie, která jí jako vždy nedala pokoje, začala spřádat příběhy a zápletky, které by se v takovém uzavřeném, stísněném a přitom prestižně luxusním prostředí mohly odehrát. S kým se to potkala v jídelním coupé při obědě? Řecký lékař, zámožná rodina s potomky a guvernantkou, plukovník koloniální armády, stará ruská hraběnka v exilu, zkrátka takový druh lidí. Co kdyby vlak zastavil a někdo z nich nalezli mrtvého? Ale proč? A čí rukou by onen dotyčný byl sprovozen ze světa? Co kdyby… </p>

  {% endblock %}

