{% extends "post.html" %}

{% set title = 'Adventní drabble č.1 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.1</h2>
<p>„Dnes může každý políbit nevěstu. Polib Lenoru. No tak, Armine, co čekáš?“
<p>Podíval se do jejího rozzářeného obličeje bezradně, s tichou prosbou. Nemůže, nemůže, složil přísahu. Nechť pochopí! Žena se však nakloní blíž a vezme jeho obličej do dlaní. Snad, že nerozumí, nebo chce na něm dokonat to dílo zkázy. Most mezi rozbouřenou myslí a znaveným tělem zbořen Nedokáže sebou hnout, zadržet ji. Ona však zastane sama, zkoumavě mu hledí do očí a pak se pousměje, tak trochu jak se usmívá Panna Marie ve svých tesaných podobizních, jen jaksi nepopsatelně smutněji.
<p>„Ne. Dary jsou darmi jen pokud nejsou vnucovány.“
<p>A pak se nadzvedne a místo jeho úst zlehka se dotkne jeho čela. Mělo by se setmít a země otevřít v otřesech a všechna moře uvařit. Venku nestane se nic. Uvnitř... Sám neví. Už neví nic. Očekávání neodvratného nejhoršího, blen osudu se mísí se zmatkem a úlevou, která je však jaksi bolestnější, neboť, neboť... A bezuzdné veselení kolem, ta oslava prokletého sňatku mezi řádovým rytířem na útěku a jeho macechou, je na něj moc. Vypotácí se ven, na pažiť, padne na zem u svého koně a ztěží se zapře o svůj meč.
<p>Bože, kde jsi? Jak ho přivést zpět, když sám jsem ztracen? Bože, proč jsi mě opustil?! Snaží se znova zaslechnout tlukot křídel andělů, ale v hlavě mu hučí pouze ozvěna Ondřejova a Lenořina smíchu, chce přivolat umrtvující chlad pruského moře, nechat se jím umýt jako před půstem. Ale cítí jen vlahé teplé dlaně a rty. Je na poušti, na cestě do Jeruzaléma, ale ten je v nedohlednu a on má už zas takovou žízeň... Další ozvěna. Chceš dostat napít od krásné nevěsty? Málem zakroutil krkem tomu starému zhýralci, co do něj zapáral se svými řečmi o čtení nápisů nad studánkou a teď by chtěl vlastním. Vzpomene na med z jejích rukou, chutnající jak slzy smrti. Dnes něco musí zemřít. Oběť. Pro spásu.
<p>Pozvedne meč – jako kříž, hlas kovu prořízne to strašlivé hučení a vede jej. Až do ložnice. Je tam, čeká na Ondřeje, věneček v kolébce, šaty na podlaze, jen broukaná melodie jak žbluňkání potůčka a víčka rozechvělá očekáváním doteku. Přestoupí. Co čekáš, Armine? Pozvedne meč výš. Učiň přítrž té samopaši. Nadechne se. Jsi rytíř svaté Panny. Ruka sa zachvěje. Svaté Panny. Smutný úsměv a rty na jeho čele. Milost. Odhodí to ocelové harampádí jako by jej uštklo. Znovu je na kolenou a znovu ochutnáva slzy a kolem místo zábavy hučení úleku. Jako včely v úli. Ař jej pobodají. Schmatnou ho známé ruce. Ondřej.
<p>„Já to nedokázal. Má mise přivést tě zpět... Neumím jít dál. Je konec Konec...“
<p>Povzdech a obejmutí.
<p>„Spíš nový začátek.“



  {% endblock %}
