{% extends "post.html" %}

{% set title = 'Adventní drabble č.10 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.10</h2>
<center>A</center>
<p>„É- ne. Já to neberu.“ Řekla rozhodně Vlaštovka. Stáli na bráně a dívali se dolů na žhavou lávu.
<br>„Jako co nebereš?“ Upřel k ní oči Óven. Pohlédl dolů na místo kde, dopadl jeho batoh s „harampádím“ – pche jako kdyby nám to nepřišlo mockrát <br>zatraceně k užitku - který musel zahodit. Vyšplhali po vinné révě, div, že je udržela. A teď stáli nahoře, těžko říct jak tu spoušť popsat. Láva <br>právě smyla z povrchu Středozemě budoucnost asi nejstarších bytostí a oni nemohli nic dělat.
<br>„No jak jsme se plahočili celou cestu až sem abychom je viděli umřít.“
<br>„A co s tím chceš dělat??“ Snažil se přestoupit na vlnu jejích myšlenek.
<br>„Prostě je vezmu a jdeme do Fangornu.“
<br>„Vlaštovko, jsou mrtvé.“
<br>„No a?“
<br>„…“ Óven se zdržel komentáře. Většinu života zasvětila hledání něčeho, co udělá, aby byla a hlavně aby si připadala užitečná a teď ji ta věc shořela před nosem. Možná, že se z toho pomátla.
<br>„Tam u mostu zůstala Slaměnka, ne?“ Ukázala do lávového moře. Na odpověď nečekala. Skočila dolů.
<br>„Né!“ Pokusil se jí ještě zachytit, ale bylo pozdě. Nechtěl to vidět, čekal na zasyčení, nebo něco, že už je po všem, ale nestalo se tak. Pohlédl dolů a viděl, jak si to zatracená elfka vykračuje přímo po tom hořícím pekle.
<br>„HEJ! Co si myslíš, že děláš?!“ Zakřičel na ni. Ale neslyšela ho slyšet. Jediné co mohl teď dělat, bylo dívat se, co provádí. A jak prostě popírá veškerý smysl světa, ve kterém žijí. Pomohla entkám z lávy, jako by zapadly jen do bahna, našla je všechny. Už se ničemu nedivil, konec šlus. Tenhle příběh stojí za pendrek a může za to ona.
<br><br>
<center>B</center>
<p>V Zeleném lese žili medvěd a zajíc. Jednou se medvěd vypravil na maliny a zatímco sbírá a sbírá, podívá se pod nohy a vidí zajíce. Lapne ho za uši a praví: „Zajíci já tě sním.“ „Nejez mne medvěde, ušetři mne. Jednou ti prokážu dobrou službu.“ Medvěd rozvažoval a rozvažoval, a pak zajíce pustil a dál sbíral maliny.
<p>Příště se medvěd vypravil na ryby pod kamenný most. Loví a loví a nemůže ulovit a hle, kousek vedle se myje zajíc. Medvěd ho lapne za uši a praví: „Zajíci já tě sním.“ „Nejez mne medvěde, ušetři mne. Jednou ti prokážu dobrou službu.“ Medvěd přemýšlel, přestoupil z nohy na nohu, ale pak zajíce opět pustil a vrátil se k rybaření.
<p>Příště pak se medvěd vydal vybírat z klátů med. Krmí se a krmí a zase se kolem ochomýtá zajíc. Medvěd ho lapne za uši a praví: „Zajíci já tě sním.“ „Nejez mne medvěde, ušetři mne. Jednou ti prokážu dobrou službu.“ Medvěd se mu dívá do očí, přemýšlí a rozvažuje, z nohy na nohu se kolíbá a nakonec zajíce přece pustí.
<p>Na podzim zazněly v lese lovecké rohy a rozlehl se nepopsatelný štěkot psů. Medvěd myslel, že udeřila jeho poslední hodinka. Psi ho za chvíli vyslídí a kuše skolí.
<p>A už se jeden lovec blíží v čele štěkající smečky přímo k jeho úkrytu. I tu jim přes cestu vyběhl zajíc a vyrazil opačným směrem. A utíká ve zmatku přímo přes ležení lovců.
<p>Přeskočil hromádku loveckého harampádí a pelášil dál. Lovci se psy za ním.
<p>„Věru dobrou službu jsi mi prokázal, zajíci,“ řekl medvěd, dále se nezdržoval a
utíkal přes tři kopce za sedmero lesy do jiného panství.

  {% endblock %}
