{% extends "post.html" %}

{% set title = 'Adventní drabble č.11 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.11</h2>

<center>A</center>
<p>Hrabě Telek potichu otevíral těžké dveře. Když se objevil malý pruh světla, naskytl se mu následující obraz. Uprostřed místnosti stál muž v černém oděvu, který byl skloněný k přístroji podobnému hodinám. Nebyl sám. Po chvíli k němu přistoupil druhý muž. Neviděl mu do tváře, ale slyšel jejich rozhovor.
<p>První muž říkal: „Zařízení je načasováno. Za dvacet minut vyletí hrad do povětří.“
<p>Oslovený přikývl a řekl: „Teď odejdi. Chci zde ještě jednou naslouchat závěrečnému partu její nejslavnější árie.“ Muž pokynul kamsi do temnoty a vzápětí do světla vstoupila žena mimořádné krásy. Pro celý svět byla mrtva, a zatím… Ano, byla to Stilla, o kterou se Telek ucházel, stejně jako baron Gortz!
<p>Krev se v Telekovi vařila. Vpadl do pokoje tak, aby stál mezi muži a ženou, kterou miloval. „Ruce vzhůru,“ křikl a namířil na barona a jeho sluhu Orfanika revolver.
<p>„Jsi to opravdu ty, můj milovaný?“ vydechla Stilla. „Tvrdili, že jsi mrtev. Ale já věděla, že mne nalezneš.“
<p>„Jsem to já, miláčku.“
<p>„Teleku, myslel jsem, že hniješ v pasti v katakombách, ale ty jsi nesmrtelný,“ pronesl hrabě mrazivým hlasem. „Orfaniku!“
<p>„Pozor, milovaný,“ varovala hraběte Stilla, ale Telek sám včas spatřil, že se v ruce baronova sluhy zaleskla zbraň. Třeskl výstřel a Orfanik se svalil k zemi. Baron skočil po Telekovi s dýkou, ale ten jeho ránu odrazil a baron, který se zamotal do drátů na zemi, padl na vlastní čepel.
<p>„Má milovaná, musíme rychle odsud,“ řekl hrabě Stille. Bledou a zesláblou ji uchopil do náručí a temnou nocí prchali do bezpečí.



<center>B</center>
 <br>   „Je nesmrteľný!“
<p>Och áno, treskúci mráz sa preň stal pohladením, žeravosť ohňa bozkom a ich vlastné sotva uchádzajúce i ulúpené oceľové zbrane sa na ňom lámu ako zle vypálená hlina. Nič nemôže preniknúť striebristými šupinami. A nič nemôže odolať jemu.
<p>V odpoveď zavrčí, vysunie tesáky, ostne a pazúry a znova sa dá do jatok. Tryskajúca krv a bolesť zmiešaná s neveriacou hrôzou, kŕmi sa obomi, o to krajšími o čo pyšnejší a mocnejší bol ich majiteľ. Toho najspupnejšieho si necháva na záver.
<p>Náčelník. Ešte v jeseni si naň odpľúval, naň i na ňu a teraz pred seba strká ostatných a uteká. Zastaví ho tesne pri východe z paloty, rozpára a vyvrhne presne ako si žiadala a keď zamotá prsty do jeho vlasov a zvráti mu hlavu dozadu, znovu vidí jej tvár, počuje posledný výkrik a cíti snový závan ducha unikajúceho jemu z dosahu. Mstí sa za seba i za ňu i za tucet ďalších vecí a aj mu to povie. Pomsta je to jediné, čo zostalo. Hlavu, ktorú by jej inak zložil k nohám, odhodí do kúta, keď sa nalogá krvi. A tým by to mohlo skončiť. Kmeňoví vodcovia sú mŕtvi. Má ale dosť? Nie, on už nikdy, čierna zášť v jeho žilách ďalej búši, hlad zavýja. Prekročil hranice, za ktoré sa nešlo vrátiť a ostávalo len hnať sa vpred, víťazstvo a zmar za víťazstvom a zmarom, až na vrchol.
<p>Obráti sa k príchodzím, ktorých privolala panika v náčelníkovom dome a keď sa pokochajú tým utešeným obrázkom, čo im tu pripravil, vrhne sa aj na nich. Prenasleduje ich von, do noci, cez uličky a húštinu a do chatrných dreveníc, v ktorých sa chcú schovať pred vraždiacim démonom. Matne vníma vzďaľujúce sa mysle niekoľkých utečencov, ale tí ho nezaujímajú. Len nech roznášajú zvesť o jeho vyčíňaní. Dnes si vystačí s tými, ktorých nájde vo vnútri osady. A tú vyčistím dôkladne – do poslednej duše. Väčšinu necháva naposledy bliknúť na zemi medzi ich vnútornosťami a končatinami, tie mladé si berie pre seba. Jeho mágia si ich pýta nástojčivejšie, než jeho telo krv.
<p>Napokon opäť osamie, široko ďaleko žiadna ďalšia svieca ľudského vedomia a tie, čo plápolali tu, zhasnuté, pohltené žiarou v jeho vlastnom vnútre, vonkajšie ticho proti búrlivému hukotu a strhujúcej striebornej piesni v ňom. Zdvihne tvár k mesiacu a zhlboka dýcha, až kým sa nevráti kryštalická rozvaha.
<p>Keď ju opäť skloní, na vrchole nízkeho kopca tesne za palisádou zbadá črtať sa proti nebu skupinu šiestich jazdcov. Bratia. Aj na túto vzdialenosť vníma odpor, ktorý sa v nich vzmáha po tom, čoho svedkami sa stali, hoci súhlasili, že s touto hrozbou sa trebalo porátať. Necíti trpkosť. Veď mu patria, či sa im to páči, alebo nie. Také smiešne ľudské pocity už prekonal. Zuby zatína akiste len z predošlého vzrušenia.

<p>P.S. You can pry out of my cold dead fingers that she left a deep mark and mattered to him even at that point. He might be heartless, but this was part of what carved his heart out and she is preserved in the shape of that scar.
<p>P.P.S. Also... Wow. I set out to write bloodbath and it turned out more internal than graphic. Typical me.



  {% endblock %}
