{% extends "post.html" %}

{% set title = 'Adventní drabble č.13 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.13</h2>

<center>A</center>
<p>Archeolog Janota se na nalezišti zdržel i přes sobotu, zatímco zbytek jeho týmu se vydal oslavovat. Jejich nález totiž potvrdil, že již v době Magdalénienu spolu byly ve styku tak vzdálené oblasti jako Akvitánie a Hostim.
<p>Šlo o mumifikované tělo muže. Podle zbraní a dalších předmětů, které měl u sebe, pylu ve vlasech, některých zásob a dalších indikátorů pocházel z povodí řeky Dordogne. Jeho tělo vydalo údolí vytvořené potokem, který tudy kdysi tekl.
<p>Stmívalo se. Skončil práci na nalezišti a po malém mostu přes výkop vešel do maringotky. Umyl se, odsunul ze stolu ledabyle poházené archeologické harampádí a otevřel notebook.
<p>Podíval se na dosavadní poznámky a pokračoval. Popisoval, že dle všeho byl muž na útěku před pronásledovateli, raněný do oka zapadl do bahna a v něm utonul. Nalezli však u něj některé umělecké předměty, figury a rytiny na mamutích klech a kostech. Janota se proto domníval, že nalezli doklad o první umělecké loupeži v dějinách.
<p>Přes tvář mu přelétl úsměv. Musí se o jejich nález podělit s přítelem JUDr. Loretou, který právě píše knihu o dějinách zločinu. Možná by Loreta přestoupil do jejich týmu, ostatně potřebují někoho, kdo by jim pomohl se vší tou byrokracií okolo.
<p>Pak Janota zaslechl zvenku nějaké kroky. Opatrně vyhlédl oknem. Zahlédl postavu, která se pokoušela otevřít jeden z jejich skladů. Vida, zločin skutečně provází lidstvo trvale. Nelenil, popadl první zbraň, co mu přišla pod ruku, shodou okolností kamennou sekeru pravěkého zloděje, a vydal se ven. I vůle bránit majetek je věčná, pomyslel si.

<br><br>

<center>B</center>
<p>Nad placem se tiše smrákalo a pan Krása nervózně přecházel sem a tam. První kapky dopadly na jeho svraštělé čelo a jemu se před očima začínal dokreslovat obraz zkázy. Zase to nestihneme, pomyslel si. Potřebovali dnes dotočit alespoň dvě scény, včetně té závěrečné, a on už chápal, že počasí rozhodně nebude na jejich straně. Nesmrtelná klasika, kterou se Žralokonádo za léta své existence stalo, měla dostat další pokračování a on sám byl zodpovědný za to, aby dorazila do kin přesně za čtyři měsíce. 
<p>Jejich už tak mizerný rozpočet se rychle tenčil, druhořadí herci se ve scénáři poněkud zamotali, a poslední nafukovací žralok, který jim ještě zbýval, ušel takovým způsobem, že už ho nedokázal nikdo nafouknout. Jedinou nadějí byl Baryk, pouliční psí míšenec, kterého narvali do splasklého žraločího kostýmu a jehož štěkot snad dokážou v postprodukci nějak zakrýt. 
<p>Pan Krása popotáhl ze své cigarety a pohlédl na duhu tvořící se na přelomu hrozivých mraků s jasně modrou oblohou. „Sjedeme to ještě jednou.“ Rozlehl se placem jeho hrubý hlas. Léta strávená ve společnosti dvou krabiček cigaret denně si vybrala svou daň. „No tak, neplatím vás za fňukání a flákání. Tu uhryznutou ruku vraťte zpátky na figurínu a někdo ukliďte tu krev.“ 
<p>Nečekaný poryv větru ho poněkud překvapil. Otočil se a za sebou spatřil skutečné tornádo. Nikdy dřív tornádo v mírném podnebném pásu neviděl. Ale ne, nebylo to tornádo. Bylo to pravé, nefalšované Žralokonádo i s živými žraloky. Panu Krásovi vypadla cigareta z pusy. „Lojzo, Mildo… točte to, tohle už v životě neuvidíme!“



  {% endblock %}
