{% extends "post.html" %}

{% set title = 'Adventní drabble č.14 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.14</h2>

<center>A</center>
<p>Ve věku 35 let zemřel Blab, skřetí kapitán z Mordoru. Se svou tlupou sloužil oddaně Oku Temného pána po deset let.
<p>Blab se stal bojovníkem po dosažení dvanácti let. Záhy proslul schopností vyrobit v případě nouze zbraň z každého harampádí. Několika úspěšnými rabovacími výpravami na sebe upozornil náčelníka Uglu. Díky němu přestoupil z Klanu seker do Klanu katan a pod náčelníkovým vedením rychle stoupal ve vážnosti.
<p>V bitvě o Morii se svou jednotkou dobyl na trpaslících most do Khazad-dûm. Byl poslán Uglou se zprávou do Dol Gulduru, ale zdržel se cestou útokem na elfí hlídku. Při jejím pronásledování se podíval i za okraj Lórienu. Přestože byl jedním z mála skřetů, kteří něco takového dokázali, porušil tím rozkaz. Byl zbaven velení a zařazen do trestní jednotky. I zde však osvědčil své bojové schopnosti, když unesl elfí princeznu Loretu a dostal za ni velké výkupné.
<p>Blab se ukázal užitečným, neboť přesně popisoval elfí a trpasličí taktiku, což bylo cenné v dalších bitvách. Ugla se později svého chráněnce zastal a Blab byl dosazen zpět do své hodnosti.
<p>Blabův osud se naplnil v boji s enty o Železný pas. Dokázal katapultem přesně zasáhnout jednoho enta velkým kamenem a dalšího zapálil. Když se s několika skřety pokusil strhnout dalšího enta k zemi, jiný ent jej zašlápl.
O Blabovi je známo, že se jako jeden z mála skřetů myl.


<center>B</center>
<p>Uhrovitý hráč s tváří jako vápno provedl virtuální platbu a vzápětí již ze Steamu stahoval nejnovější RPG Femdom’s Gate III. Zatímco se dokončovala instalace, odsunul ze stolku všelijaké harampádí, které se mu tam za poslední týdny nastřádalo, a o chvíli později již spouštěl hru, pro niž přestoupil od konzolí k PC. Přeskočil intro, ve kterém ženský hlas popisoval dějiny starodávného města Femdom, proslulého svými bojovnicemi proti útlaku, rychle upravil nastavení a konečně se zdržel s editorem postavy.
<p>Hra sice v zájmu dženderové rovnosti dovolovala hrát za mužskou postavu, ovšem výhradně pokud byl hrdina černoch, elf či transsexuál, hráč by však neměl zájem ani při širší nabídce. Zde si může stvořit ženu svých snů, pro kterou by třeba skočil z mostu a možná se i pravidelně myl, silnou, nezávislou, pohrdající autoritami, oplývající bujnými tvary a šatníkem nepatrných rozměrů využívajícím jako materiál především kůži a kovové přezky, s ostrým mečem delším než hrdinka sama a nevyčerpatelnou zásobou šípů pro svůj reflexní luk.
<p>Strávil s tím celé odpoledne a vděčil programátorům za skutečně široké možnosti editace. Dosud ani žádný autor příslušné literatury se nestrefil tak zcela do jeho vkusu, zde však byl autorem on sám. Když byl hotov se všemi volbami od vlasů a barvy očí a kůže, přes další přednosti a zadnosti, až po výbavu na dobrodružství, podíval se ještě jednou na své dílo a nyní stačilo jen vybrat jméno. Hluboce se zamyslel, a pak své princezně bojovnici přidělil to nejkrásnější: Loreta.


  {% endblock %}
