{% extends "post.html" %}

{% set title = 'Adventní drabble č.17 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.17</h2>

<center>A</center>
<p>Jak už víte, byl jednou jeden medvěd a zajíc. Byli to nejlepší kamarádi. V lese měli svůj domeček a tam s nimi bydlela další zvířátka. Například jezevec Burdych, liška Chytruška, sova Blbuška a další. Nikdy tam nebyli sami, ale zase tam nikdy nebylo ticho. Pořád se tam o něčem mluvilo a pořád vznikaly nové a nové rvačky. Ale moc se jim to líbilo. O kousek dále měli kadibudku a přes řeku most do vedlejšího lesa. Jednou se rozhodli že si postaví hospodu. Nanosili dříví a pustili se do stavění. Nejdříve museli vyhrabat díru. Tak hrabali, hrabali div že se jim nohy nezamotaly. Všichni byli unavení ale museli pracovat dále. Přišly na řadu stěny. Nikdo se o tu práci neucházel, ale museli. Tak nejdříve svazovali dřevo. Šlo jim to docela dobře, až na to že někteří jedinci nepracovali. Vyjmenuji je: sysel Lajdáček, je nejčastěji na dvou místech. Jedno místo je u potoka. Čumí do něj, dívá se na svůj obrázek a obdivuje se, jak mu to sluší. A druhé místo je v domečku ve skladě a vyžírá tam všechny zásoby! A pak druhý jedinec který se fláká je sova Blbuška, která jako vždy naráží do stromů. Ale ostatní pracovali. Samozřejmě že se stalo pár nehod. Například medvěd špatně upevnil stěnu a ta spadla na zajíce. Zbyla z něho placka. Jezevec Burdych vykřikl: „Tys ho zabil! Tys ho dočista zabil!“ Ale medvěd řekl klidně: „Neboj se, na to mám taktiku. Podívej. To si najdeš pusu a foukneš takhle.“ A medvěd fouknul. Ze zajíce byl balón, ale medvěd upustil a byl to zase náš zajíc. Zajíc řekl medvědovi: „Příště dávej větší pozor medvěde! Já nejsem nesmrtelný!“ „Dobře, dobře, příště budu dávat větší pozor.“ Podali si ruce, medvěd ji zajícovi málem rozpučil a byli zadobře. Za chvíli byly stěny hotové. Pak si šli odpočinout, protože na nich pracovali dva dny v kuse. Ráno začali dělat střechu. A zase, někdo svazoval, někdo dával už svázané došky na vršek a někdo se zase flákal. Když byli hotoví, byla z toho krásná hospoda. Ale jak seženou chmel? Potom je napadlo, že chmel roste přece na poli u našeho lesa. Tak se plížili na pole, vzali trochu zeleniny a hodně obilí i chmelu. Vrátili se, uložili zásoby do skladu, ale chmel a obilí vzali do hospody a vařili pivo. A už nikdy neměli málo piva.

<center>B</center>
<br>Trochu zlověstně vyhlížející les už byl na dohled. Pochod entek zakončený dvěmi menšími postavičkami.
<br>„Hodláš mi konečně vysvětlit-“
<br>„Ne.“
<br>„No ták, bombarduju tě otázkami celou cestu. Když je cíl na dohled tak jsem myslel, že to bude fungovat jako předtím.“
<br>„Tentokrát ne.“
<br>„Ale-“
<br>„Podívej, vysvětlení nedostaneš, protože ho nesmíš dostat. A navíc by ses do toho stejně zamotal.“ Nesmím mu to říct. Nedávalo to smysl a nikdy nebude, prostě budeme dělat, že se to nestalo. Entky to pochopily, on ne. Závisí na tom život nás všech. Kromě jeho, samozřejmě, možná to je ten problém.
<br>Stáli teď na samém okraji lesa. Óven se posadil a masíroval si uchozené nohy. Lehkonohý potůček Fimbrethil zavolala, podobně jako to dělají enti, ale znělo to jako zpěv ptáků. Ani byste nevěřili, jak enti dokážou být rychlí, když chcou. Prakticky okamžitě se začali objevovat a byl to nepopsatelný obraz. Výraz naděje v jejich očích, věděli, že nejsou nesmrtelní, a že je jen otázkou času, než zmizí. Ale entky teď byly tady…
<br>„Hehe… překvápko… “ zamumlala potichu Vlaštovka.
<br>„Fimbrethil!“ Vykřikl Stromovous.
<br>„Fangorne“ vydechla Fimbrethil.<br>
***<br>
<br>*Mnohem, mnohem později. Až si vyměnili enti pozdravení a entky šly za nimi do lesa. Ukvapeno z enštiny*
<br>
<br>Fimbrethil a Fangorn stáli sami před jeho domem.
<br>„Závěrečná část naší historie, ale… končí to dobře.“ Řekla Fimbrethil potichu. Fangorn ji pohladil po tváři.
<br>„Jsi krásná Fimbrethil, jiná, ale krásná. Dlouho jsme se neviděli, elfové skládali písně o našem rozloučení, znáš je?“ Fimbrethil se usmála, celá rozkvétala.
<br>„Ne, ale ty mi je jistě zazpíváš.“ Fangorn zase voněl pylem, drželi se za ruce.
<br>„Na to máme celý čas…“



  {% endblock %}
