{% extends "post.html" %}

{% set title = 'Adventní drabble č.18 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.18</h2>

<center>A</center>
*Přepracováno do „ukvapené“ obecné řeči z entštiny*
„A co se stalo tím člověkem Óvenem?“ Zeptal se malý Smrček.
„Co by, odešel a zemřel.“ Odvětila mu Fimbrethil.
„Oni lidé žijí jen krátce, že?“
„Ano, velmi krátce jen se nadechneš a oni už nejsou.“
„A co Vlaštovka, co se stalo s ní? Odjela do Šedých přístavů?“
„Ano, ale přestoupila prakticky okamžitě na zpáteční loď a zůstala ve Středozemi.“
„Vážně? A kde je?“ Nadchl se Smrček.
„Vždyť je to přece teta Tuilindo. To mi připomíná.“ Otrhala hrst nejhezčích jablíček a podala je ohromenému semenáčkovi. „Běž jí navštívit a přines jí tahle jablka.“
„Ano mami.“
„A nezapomeň, v každém jablku je semínko a v každém semínku je život, neztrať žádné.“
„Ano mami.“ Čile přeběhl můstek a běžel zahradami. Jediný domek co tam byl, úplně na okraji. Zrovna si tam u studně myla ruce jeho obyvatelka.
„Teto Tuilindo! Maminka mi říkala, že jsi Vlaštovka!“ Elfka se na něj podívala a přimhouřila oči.
„Žůžo, tak bys mi tak mohl začít říkat. To tramtarádo co používáte místo mého jména, se mi zrovna nelíbí. Zářivě se na něj usmála. „Vidím, že mi neseš jablka.“ Uklidila harampádí na stolku jedním pohybem ruky. „Polož je tady.“ Usadila se na židličku. Její domek a nábyteček by se dal popsat jako „minimum dřeva“ ale zcela bez něj, to taky nešlo. Enti jí ale docela ochotně vždy darovali mrtvé dřevo, takže nikdy nebyl problém.
„A, mohl bych se tu zdržet? Ty máš vždycky tak krásné příběhy…“
„Ale jistě, nabídla bych ti, aby ses posadil, ale vy o to nikdy moc nestojíte.“


<center>B</center>
<p>Rytíř Bořivoj opatrně přistupoval blíže. Obraz, který se mu naskytl, rozechvěl jeho srdce. Co popisovali vystrašení pocestní, je skutečné. Duch dívky, o kterou se ucházel, seděl na hrazení mostu a potichu zpíval tesknou píseň s tváří zahleděnou do hlubiny.
<p>„Lavinie,“ vydechl. Průzračná postava k němu obrátila tvář a podívala se na něj. Smrt nemohla porušit její krásu. Smutek v dívčiných očích vystřídalo teplo poznání. Její rty zkrášlil úsměv. „Jsem to já, má lásko,“ zašeptal Bořivoj. Nesmí se zamotat do svých slov a citů. „Zdržel jsem se v zajetí, když bratr nezaplatil výkupné, ale uprchl jsem…“
<p>„Ona nebude tvou,“ ozval se tvrdý hlas.
<p>Zlen! „Bratře!“ procedil Bořivoj mezi zuby. „To tys sem vylákal Lavinii, nalhal jí, že jsem zahynul ve Svaté zemi, ty sám jsi ji zavraždil, když odmítla stát se tvou ženou. Svůj hřích nesmyješ. Braň se!“ Tasil.
<p>„Hlupáku,“ vysmíval se mu starší bratr. „Já přestoupil k Temnotě. Jsem nesmrtelný. Zemřeš. V záhrobí podrobím tvou duši nekonečným mukám a Lavinii učiním konečně svou.“
<p>Meče se střetly ve smrtelném zápase. Bořivoj, hnaný nenávistí i láskou vytlačil Zlena z mostu ke staré kapli. Vítězil, ale než učinil závěrečný krok a vrazil meč do Zlenovy hrudi, zakopl o nějaké harampádí a upadl. Zlen se rozpřáhl, když tu se před ním zjevil duch Lavinie. Na okamžik jej oslepil. Bořivoj vyskočil, ještě jednou se ozval kovový třesk a pak vrazil meč bratru přímo do srdce.
<p>Tmu rozčísl blesk, pak další a další. Když však bouře ustala, ranní paprsky ozářily rytíře svírajícího v náručí krásnou dívku.



  {% endblock %}
