{% extends "post.html" %}

{% set title = 'Adventní drabble č.2 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.2</h2>
<p>Když Zavul spatří mezi stromy prosvítat plameny táborového ohně, potichu zajásá. Přiblíží se opatrně jako horská kočka, aby se obhlédl situaci. Je tma, ale neodváží se jít blíže. Přece mu však srdce poskočí z obrazu, který se mu naskytne. U ohně sedí schoulený muž, vyčerpaný, klimbající. Pozná ho bez pochyb, je to Otzal. A je sám, raněného Gnesera musel odhodit cestou.
<p>Zavula poslali, aby Otzala s Gneserem zajal a ten vydal tajemství kovů, ale Zavul se ucházel o jediné, Otzalovu sekeru. Taková krása se nehodí pro jeho obhroublé pány. Už jednou Otzala s Gneserem obklíčili, ale on létající větví zabil dva z jeho největnějších a pak i s raněným přítelem na zádech unikl. Jako by byl nesmrtelný a nepolapitelný. Tentokrát ho však dostanou.
<p>Žádnou chybu. Pokyne druhům, aby byli ticho. Do luku vloží Svou nejlepší větev. Zamíří a vyšle smrt přímo do Otzalových zad. Hrot pronikne oděvem a <p>Zavul zaslechne vzdech. Zasažený se vztyčí, pak padne na břicho. Neměl ho zabít, ale Zavul toho nedbá. Bude mít svou sekeru, symbol moci. S tajemstvím kovů ať si lámou hlavu jiní.
<p>Ukáže Brelovi, ať vytáhne větev ze zad mrtvoly, on sám si jde pro svou odměnu. Brel se pokouší vyjmout šíp, jenže Otzal se náhle otočí a vrazí <p>Brelovi do břicha nůž. Zavul zalapá po dechu, chce utéct, ale zamotá se do řemenů, které tu leží. Pak spatří, jak se vzácná sekera, jeho touha, přibližuje k jeho hlavě. Cítí bolest. V omámení naslouchá závěrečnému Otzalovu sýpání: „Když umřít, tak až po tobě.“




  {% endblock %}
