{% extends "post.html" %}

{% set title = 'Adventní drabble č.22 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.22</h2>
<center>A</center><br>
<p>Kvílení vlků poslouchal plešatý král ze své cely již třetí noc. Dobře znal svůj osud – buďto bude hořet na hranici, nebo se pokusí o útěk a stane se potravou vlků číhajících v lesích. Tak jako tak to nepotrvá dlouho, protože volba krále nového má proběhnout za úplňku. Zvedl se z kupky sena, která mu sloužila jako postel, a malým zamřížovaným oknem se zahleděl na lučiny rozprostírající se za chýší skýtající mu přístřeší. Možná… kdyby byl dost rychlý… za Stříbrnou řekou by byl v bezpečí. Stráž sedící vedle mříží tiše podřimoval. S trochou štěstí by mohl potichoučku sáhnout až na klíč. Ale co teď? Hranice, nebo vlci? Obraz hořící hranice, kde z něj jen pomalu bude ucházet život, ho děsil, že roztrhání vlky začalo vypadat jako ta dobrá volba. Nikdo není nesmrtelný povzdechl si a věděl, že se rozhodl. Pokusí se o útěk. Zamotala se mu hlava. Sám nemá mnoho nadějí, ale za řekou čeká krásná svoboda. Možná.
<p>Nekonečně pomalu se natahoval po klíči a snažil se ho vyprostit. Ech, nepůjde to. Klíč je na kroužku a kroužek na opasku. Ale ten krátký meč, jehož hlavice byla natočena k němu.
<p>Trpělivě ho vytahoval z pochvy a pak dobře namířil a rychle bodnul. Měl štěstí. Kromě zachroptění strážný nenadělal hluk. Dál seděl zhroucený do sebe. Přeřezal opasek a sundal klíč. Odemknul. Tiše se vyplížil do noci na kraj lesa. Čeká ho několik kilometrů běhu. Má vůbec šanci? Není už mladý. <p>Ne, není a právě proto se ocitl v této situaci. Vyrazil.
<p>Vzduch byl studený a bodal v plicích. Ale co na tom záleží.
<p>Už je zaslechl. Zprava. Takže začal uhýbat šikmo doleva. Ne! Jsou i nalevo. Už věděl, že nemá šanci. Ale nevzdal se a do závěrečného běhu dal vše. <p>Napadla ho bláznivá myšlenka, jaký si užene zápal plic. Kdyby mu stačil dech, tak se rozesměje. A pak ucítil náraz zprava a padl na zem pod tíhou štíhlého vlčího těla.<br>
<center>B</center><br>
<p>„Potichu, sestry, nesmíme se prozradit dříve, než zaujmeme strategické pozice,“ velela Loreta, princezna bojovnice, svému dívčímu afirmativnímu komandu. Již mnohokrát zvítězily nad bigotností a předsudky šovinismu a jejich úspěchy budily strach a respekt po celém království. Nyní se schylovalo k závěrečnému střetu se zavilým nepřítelem. Cílem jejich přepadu bylo horní město Stříbro.
<p>Obraz, který dívčiny skýtaly, docela ucházel, ovšem každá z nich by svatosvatě prohlásila, že krása je až druhotná za charakterem. Právě teď každá z bojovnic držela svou oblíbenou zbraň, Terina chystala vrhač letáků, Jolana se připravila bleskurychle rozvinout transparent hlásající rovnost všech sto padesáti šesti pohlaví a bezpohlaví, rasově kvótová Mgunbe Drubna si naondulovala nevyholené podpaždí a Loreta sama leštila hlásnou troubu.
<p>Na její povel se všechny svorně vyřítily z úkrytu a vbrzku ovládly náměstí, dílem proto, že bylo liduprázdné, až na ponocného, který stál sám opřený o zeď hrázděného domu a spokojeně klimbal.
<p>Vzápětí již děvčice provolávaly hesla o rovnosti a poměrném zastoupení žen při práci na zemi, ve vzduchu i pod zemí, kde je stále ke škodě lidstva tvrdě prosazován machistický mýtus o rozdílech mezi pohlavími.
<p>Byl to nesporný úspěch, který kalil snad jen transparent, který se nějak zamotal, a Jolana jej nemohla rozvinout dost rychle. Duchapřítomná Loreta však svou spolubojovnici obětavě zaštítila a s nasazením života zdolaly odpor tuhé látky.
<p>„Děvčata, nechť toto vítězství vstoupí do dějin vojenství hned vedle nesmrtelného odkazu mistrině Sunové a generálky Karly von Clausewitzové,“ pochválila Loreta své spolubojovnice po masivní letákové kampani.

  {% endblock %}
