{% extends "post.html" %}

{% set title = 'Adventní drabble č.23 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.23</h2>
<center>A</center>
<p>Vzpomínal potichu a sám na své začátky v kněžském semináři, když před pár lety nastoupil, povolán očistit víru od pochybností, od lhostejnosti, od neupřímnosti. Nyní v předvečer svého vysvěcení, závěrečného aktu počátku své velké cesty k Bohu, vzpomínal na nesmrtelný plamen svého nadšení, který dnes, přiživován nabytou moudrostí hořel jasně a přinášel světlo do temnot duší. Neboť jen duše ozářená plamenem víry je krásná a může dojít spasení. A on je připraven učinit vše pro to, aby rozzářil co nejvíce takových světel pro větší slávu Pána našeho, jehož obraz měl ve svém srdci navěky. <p>Některé cesty k Bohu jsou zamotané a spletité; ta jeho však byla rovnou alejí ozařovanou nekolísajícím světlem víry.
Za pár let se může ucházet o výlučnou pozici exorcisty, kterážto mu umožní ještě lépe sloužit Bohu a účinněji napravovat osudy lidí, kteří svou liknavostí a nezájmem ztrácejí Boha ve svém srdci a nemají plamen, jež by je vedl. Proto otvírají vědomky i nevědomky svou mysl i srdce démonům Pekla, kteří se radují, mohou-li trýznit duše smrtelníků a svrhávat je pak do hlubin zatracení v mukách, jež nikdy neskončí. A páchat jejich prostřednictvím zlo na zemi. A on bude tím plamenem, který duše těch blouznivců vyrve ďáblu a spálí je očistným ohněm, aby zas mohly v nadějí zvedat oči k Nebi z Očistce, který je čeká. Tak jako archanděl Michael vládnoucí plamenným mečem.
<p>Jeho vědomí se propadalo do spánku a výjevy andělských vojů šikujících se u nebeských bran se stávaly ostřejší a podrobnější. Ještě si pomyslel, že tímto mu Bůh dává znamení a blaženě se propadl do svého snu.


<center>B</center>
<p>„Harampádí, samé harampádí!“ kopl Urho do hromady věcí ležících na zemi. S bratry se utábořili nedaleko za mostem. Kam až oko dohlédlo, nebylo po begovi ani jeho družinících ani vidu, ani slechu. Podíval se na uloupený náklad a zdržel se dalších kleteb, když zjistil, že už opravdu nic dalšího nepoužije. Možná příště. Lidé utíkají před válkou, nebude těžké natrefit na dalšího pocestného, kterého budou moci zabít a okrást. Většina z nich byla chudá a jedinou jejich cenností byl vlastní život, ale to byla pro bratry Rachmantiče pramálo užitečná komodita, pokud by to nebyl potomek nějakého zbohatlíka. Za poslední týden by svojí situaci popsal jako zoufalou a další mrtvý sedlák, na kterého číhali celý den, jim na náladě moc nepřidal. Přestoupil na druhou stranu cesty. Potřeboval se umýt od lepkavé krve na svém obličeji.

<p>Gellen a Jorma se o něčem dohadovali a tak si ani nevšimli, když se jim ztratil z dohledu. Přehoupl se přes kopec a zhodnotil situaci v okolí. Z daleké vsi za obzorem se linul kouř značící smrt a potíže. A potíže byly něco, čeho si v poslední době užili více než dost. Poklekl na kraji řeky a zabořil ruce do studené vody. Chladný dotek na jeho obličeji mu přidal na bdělosti a pomohl přemýšlet. Tady jsou moc blízko všemu dění. Musejí dál. Dál od bega, dál od války, dál od Muromě. Tam někde v lesích, kde není žádná spravedlnost než ta, kterou si zjednají, bude rozhodně bezpečněji.

<p>Opět se vztyčil a zamířil zpátky. Jorma zrovna čmáral do prachu nějaký obrazec a soudě dle Gellenova tichého pochechtávaní, nejspíš už zas tu jejich zimní.
<br>"Sbalte se, jdeme pryč." houkl na bratry.
<br>Překvapeně se k němu obrátili a Jorma se zakabonil.
<br>"Vždyť jsme sem přišli teprve včera."
<br>Gellen bratra podpořil.
<br>"Jo a říkals, že je to ucházející místo - lidi nemají kudy jinudy projít a jak zastaneme na obou koncích, nemají ani kam uniknout. A taky že to před chvíli zabralo."
<br>"Jo, ale kořist je to mizerná. Teď je zde pusto. A to jídlo, co měl sebou ten zbloudilý chudák nám vystačí jen na den dva. Tak nezdržujte."
<br>Jorma vztekle rozhodí ruce.
<br>"To nemyslíš vážně! Šli jsme sem pět dní a teď zase nesmrtelný Erlik ví kam? Toho trmácení mám už plné zuby, abys věděl."
<br>"Tak ho koukej spolknout a hni sebou, jestli brzy nechceš mít hubu plnou hlíny. Zamotalo se to tady. Na polední straně jsem viděl kouř z přepadené vesnice."
<br>"Chceš tam jít loupit?" zeptal sa Gellen s dravčím úšklebkem a těžkým kyjem klepl o dlaň. Urho pokroutil hlavou. To mu byl závěr. Copak tu nik neposlouchá? Stížnosti na komandování a poučování omílají každý den ale sami by už byli pod drnem.
<br>"Ne, chci vzít roha. Ti co tam byli už stejně jistě vzali nebo zničili vše, co mohlo mít nějakou cenu. A kdo ví kam se poberou dál. Docela dobře možná právě k tomuhle přechodu. Musíme si najít úkryt někde v závětří."
<br>Jorma se podrbe v plnovousu.
<br>"A co kdybychom se k nim přidali? V takovém počtu bychom měli dobré šance a podíl z krásnějšího lupu."
<br>A poslouchat jakéhosi cizáka s jeho nafoukanými vrtochy? Ani nápad.
<br>"Takovým věřit nejde. To se dá jen vlastní krvi. Líp si poradíme sami."

  {% endblock %}
