{% extends "post.html" %}

{% set title = 'Adventní drabble č.24 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.24</h2>

<center>A</center>
<p>Byl jednou jeden medvěd a zajíc. Byli to nejlepší kamarádi. V lese měli domeček, a s nimi v něm bydlely další zvířátka. Například: datel Hluchoň, veverka Pytlačka, liška Chytruška, a další. O kousek dále měli kadibudku, přes řeku měli most do vedlejšího lesa, a ještě blíže měli svou vlastní hospodu. Už byl venku sníh, a blížily se Vánoce. Tak se dohodli, že si udělají Vánoční stromeček, a dají si dárky. Dohodli se, kdo dá komu. Každý si měl vybrat 10 zvířátek, kterým dají nějaký dárek. Nejčastější byla veverka Pytlačka, protože jí stačí dát šišku. Pak si rozdělili práci. Medvěd, zajíc a jezevec Burdych, šli pro stromeček. A ostatní připravovali ozdoby. Vzali v lese všelijaké harampádí. Veverka Pytlačka sbírala šišky, žabka Kuňkalka sbírala mořskou trávu, datel Hluchoň nasbíral jeřabinu, a tak dále. Když přišli medvěd, zajíc a jezevec Burdych se stromečkem všichni už byli s ozdobami hotoví. Teď přišlo na řadu zdobení. Tak zdobili stromeček, docela je to bavilo a za půl hodiny byli se zdobením hotovi. A potom nakonec už jenom dárky. Každý šel někam do lesa, a tam připravoval dárky. Do Vánoc zbývalo jen 5 hodin. Ještě nachystali stůl a na něj dali všelijaké pochutiny. Například: šišková marmeláda s chlebem, Oříšky v mrkvičce, a mnoho dalších ňamek. Když to dopřipravili začaly Vánoce. Nejdříve se jedlo a pilo, potom přišly na řadu dárky. Medvěd a zajíc byli překvapeni že dostali tolik dárků. Byly v nich samé užitečné věci. Například: prasklý nafukovací žralok, šiška, zlomená tužka, nesvítící baterka, prázdná sklenice od medu, rozbitý hrníček, a mnoho dalších skvostů. A v noci už šli všichni spát, a říkali si ještě, jak se jim ty Vánoce vydařily.
<br><br>

<center>B</center>
<p>
<br>„Princ si hledá nevěstu podle bot!“
<br>„Ta, které padne štřevíček, bude jeho vyvolená!“
<br>„Prý je to nožka malinká! Holky běžte si ovázat chodidla po kitájsky, hehe.“
<br>„Co je to za divný manýr?“
<br>„Snacha je v zámku komornou, vyprávěla, že on ji už prý potkal a tu botu tehdy stratila, tak ji podle ní hledá.“
<br>„To ji nepozná jinak?“
<br>„Bylo to na bále a ten byl maškarní.“
<br>Poslouchá ty klepy, čte královský výnos přibitý k bráně a myšlenky se ji v hlavě honí jak jde dom.
<br>Ten zasněný výraz... A když vzpomene na krásnou neznámou, uvědomí si, že tvarem postavy i barvou vlasů a kůže odpovidá, jen si odmyslet šmouhy <br>popela. Závěr je jasný. Ta malá vychytralá opovážlivá mrcha... Ale ještě to můžou obrátit ve svůj prospěch.
<br>„Dcerky, naskytla se nová příležitost. Jedna z vás možná bude královnou. Musíte se ovšem připravit. Ukažte nohy.“
<br>Ucházející, bez plísně za nechty a kuřích ok, ale viditelně větší než té bosé paskudy zrovna drhnoucí dlážku ve vedlejší místnosti. Kdyby se ubral <br>jen kousíček... Ach.
<br>„Dcerky, do kuchyně.“
<br>Co je to ta trocha bolesti, to pomine. Svázaní své krve s královskou rodinou je brána k nesmrtelnosti. Slíbá slzy z tváří svých statečných <br>štkajících holčiček a jde umýt nůž. Ale spatří ji. Zajisté má něco za lubem, prolhaná děvka. A ty jeji nohy... Mohla by vše zamotat. Schovat ji? <br>Ne, potřebuje jistotu.
<br>.
<br>„Madam, ten guláš je výtečný.“
<br>Tak dobře se nenají ani v paláci.
<br>„Pro královskou návštěvu jen to nejlepší.“
<br>„Každopádně, měli bychom přistoupit ke zkoušce.“
<br>„Jistě, zde jsou mé ratolesti.“
<br>„Pouze ony? Prý je zde dcera z předešlého manželství.“
<br>„Ano, ale... Pojďte za mnou.“
<br>Vdova jej vede na horní poschodí. Zde u kamen sedí panna jako obrázek a spravuje potrhaný plášť.
<br>„Popelko, polož to stranou na chvíli a ukaž se panu celá.“
<br>Děvče ustrne, pak pomalu poslechne. Posel zalapá po dechu. Pod koleny jsou jen ošklivé kýptě, zarudlé hrubě sešité jizvy s krustami pomalu <br>vylučováné černající tkáně. Žena vedle si povzdechne.
<br>„Strašlivá nehoda, v lese na ní padl strom.“
<br>Neborka se dá do pláče.
<br>„Od té doby už ani nemluví.“


  {% endblock %}
