{% extends "post.html" %}

{% set title = 'Adventní drabble č.4 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.4</h2>
<p>Vlaštovka pohlédla k západu slunce. Budu muset přenocovat zde. Pomyslela si, rozdělala oheň a zírala do plamenů, luk a šípy na dosah. Trhla sebou při krocích, které se snažily být co nejvíce potichoučku, leč neuspěly.
„Vyjdi ze stínů, jestliže nechceš naléz-ti smrt.“ Řekla klidně a nahlas, míříc na vetřelce šípem, jenž nikdy nemíjí svůj cíl.
„Prosím nezabíjejte mne! Já… viděl jsem oheň tak jsem šel blíž. Nemám kam jít, já… zní to hloupě, já vím, ale hledám vlastně svůj smysl…“ Koktal příchozí, jeho blábolení bylo ale dost možná způsobeno hrozícím zraněním neslučitelným se životem. Vlaštovka sklonila luk. Necítila z jeho slov lež, pokynula, aby si přisedl.
„Vy, vy jste opravdu elfka?“ Zeptal se, snažil se neznít moc dychtivě. Lidi, ta jejich zvyklost ujišťovat se zřejmým.
„Když jsem se naposledy dívala tak ano, jestli se to nezměnilo, když jsem zrovna nedávala pozor.“
„Já jen… nebyl jsem si jistý, přišlo mi to vždycky všechno jako pohádka, o krásných nesmrtelných elfech, vždycky jsem ty příběhy rád poslouchal. Mimochodem, jsem Óven.“ Změřila si ho pohledem, nevypadal, že by toho někdy moc udělal nebo ušel, pravděpodobně má naivní představy o svém „smyslu“.
„Vlaštovka, takže rád posloucháš příběhy o elfech?“
„Nejen o elfech! O hrdinských činech všech ras. Příběh Prstenu mne naprosto uchvátil, když jsem jej slyšel poprvé.“
„Ach ano, Prsten… K tomu se vrátím později. Všechno mi teď připadá takové zamotané, možná, že když ti to povím, konečný obrázek se urovná v hlavě nám oběma.“ Odkašlala si. „Slyšel jsi někdy o pádu Morie?“
„Samozřejmě! Tam se Gandalf zřítil do propasti a pak porazil Balroga a-“
„Ano, ano-“
<p>
„Důtek švihem do propasti padá Šedý.
Oheň, voda, smrt – vrací se Bílý.
Staré zlo, zkáza Morie
myslel, že mága sám zabije.
<p>
Tak byl pomstěn trpasličí lid
svítal úsvit novým dnům.
Jen nechat dychtivost být
nepoddat se slávy snům.“
<p>
„Jistě, to všichni známe. Ale víš, byla ještě jedna družina, která se vypravila na Balroga…“
<p>
***
„Páni… ale, co chcete dělat?“ Ohromeně na ni hleděl.
„Správná otázka. Víš, co bych měla dělat?“ Zakroutil hlavou v odpověď.
„Odplout do šedých přístavů, tak elfové řeší problémy, no ne? Hmm hm Sauron zase sílí a jeho moc ohrožuje celou Středozem! Och ne, co budeme dělat? Vzhůru do šedých přístavů! Anó!“ Povzdechla si.
„Celý ten příběh prstenu je strašně závěrečný, všiml sis? Jako by to byl konec všem hrdinským činům. Ale já ještě nic pořádného neudělala. Nechci odplout.“
„Ale co chcete dělat? Ve světě teď není kde dělat hrdinské skutky, všichni draci jsou pryč, v Mordoru rostou kytky…“
„Jdu najít entky.“


  {% endblock %}
