{% extends "post.html" %}

{% set title = 'Adventní drabble č.6 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.6</h2>
<br>„Ale proč jdeme do Mordoru?“ Ptal se znovu Óven.
<br>„Ptáš se každý den a já ti-“ Začala Vlaštovka.
<br>„Vždycky řeknu, že je to jasné.“ Dokončil za ni otráveně.
<br>„Tak jsem doufala, že se nad tím skutečně zamyslíš, ale asi ne. Nu což, vždyť jsme skoro před branami.“ Zastavila se a zadívala na víceméně příjemnou krajinu a blankytně modrou oblohu.
<br>„Dobrá, první důvod je, že jsem byla všude jinde.“
<br>„A to jsem měl vědět jak?“ Namítl Óven.
<br>„Mohl ses zeptat, ale o tom nemluvím. Co jsi sám řekl, ten den co jsme se potkali?“
<br>„Že… v Mordoru rostou kytky? Ale to se přece jen tak říká.“
<br>„Podívej se kolem, tohle byla kdysi pustina, a teď tu roste tráva. A je čím dál zelenější.“
<br><br>
***
<br><br>
<br>Dorazili k Černé bráně, ale nebyla už černá. Byla otevřená a z vrchu dolů ji porůstala vinná réva s dozrávajícími hrozny. A za branou… dá se vůbec popsat krása té zahrady? Procházeli se mezi vyplevanými záhonky květin, a pod korunami ovocných stromů. Ale zatím jediní obyvatelé, které spatřili, byli ptáci a hmyz.
<br>Přestoupili malou říčku po mostě z kořenů dvou stromů propletených do sebe, přece se zdálo, jako by i tohle bylo způsobeno pečlivou rukou.
<br>„Můžeme se trochu zdržet? Ten potok vypadá, že přímo vybízí, abych si v něm umyl nohy a napil se.“ Sundal si svůj batoh, ve kterém tahal kdovíjaké harampádí a přistoupil blíž.
<br>„No když myslíš, že je to dobrý nápad.“ Přimhouřila oči.
<br>„Proč by nebyl?“ Zarazil se.
<br>„Nepochybuji o tom, že to je entí voda, ale pochybuji, že tu máš o číslo větší oblečení.“ Za sebou náhle uslyšeli kroky.




  {% endblock %}
