{% extends "post.html" %}

{% set title = 'Adventní drabble č.7 (2020)' %}

{% block content %}

  <h2>Adventní drabble č.7</h2>

<center>Odpuštění</center>
<br>„Pamatuj, mohl bych tě teď zabít, ale můj Bůh káže odpuštění. Taková je lekce, kterou si dnes odneseš.“ 
<br>Zraněný zloděj ležel přímo pod mostem vedoucím ven z hradu. Harampádí, které se snažil odnést, se teď zdržovalo ve vodě, která jej omývala. 
<br>„Pamatuj, mohl bych tě teď proklát mečem, ale můj král káže odpuštění. I taková je lekce, kterou si odneseš.“ 
<br>Rytíř v blýskající se zbroji se na něj podíval svým přísným okem, jak popisoval všechny lekce, které si nebohý zloděj odnese. 
<br>„Pamatuj, že ve své hamižnosti ses stal slepým. Mohl jsi harampádí odhodit, a utéct tak bez trestu. Ale těch pár cetek pro tebe mělo větší cenu, než tvůj vlastní život. I taková je lekce, kterou si dnes odneseš.“ 
<br>Zloděj zachrchlal, a vyplivl krev hromadící se v jeho ústech. 
<br>„Pamatuj, že ve své pýše ses stal hluchým. Přes cinkání zlaťáků jsi neslyšel svůj vlastní instinkt, který ti velel utéct. I taková je lekce, kterou si dnes odneseš.“ 
<br>Před očima se mu pomalu stmívalo.
<br>„Pamatuj, že tvá závist tě svedla na scestí. Měl jsi dobrý život, ale nikdy jsi neměl dost. I taková je lekce, kterou si dnes odneseš.“
<br>Rytíř k němu přistoupil blíže, řka:
<br>„Pamatuj, že bůh je milostivý. Pokud budeš z celého srdce litovat svého činu, kterého ses dopustil, můžeš nalézt odpuštění a stát se lepším člověkem. I taková je lekce, kterou si dnes odneseš.“
<br>Nyní už stál rytíř přímo nad ním. 
<br>„A ještě jednu lekci si dnes odneseš.“
<br>Usmál se, a dodal:
<br>„Bůh odpouští, já ne!“ 



  {% endblock %}
