{% extends "post.html" %}

{% set title = 'Adventní drabble č.9 (2020)' %}

{% block content %}

    <h2>Adventní drabble č.9</h2>

<center>A</center>
<p>Byl jednou jeden medvěd a zajíc. Byli to nejlepší kamarádi. V lese měli svůj domeček a kousek dál měli kadibudku. A v tom domečku s nimi bydlela další zvířátka. Jezevec Burdych, datel Hluchoň, veverka Pytlačka a další. Jednou se rozhodli že si postaví most přes řeku do vedlejšího lesa a umyjou si kadibudku. A rozhodli se že první postaví most.Tak nanosili harampádí na stavbu a začali stavět most. Někdo stavěl podpěry někdo svazoval prkna někdo popisoval, a tak dále. Medvěd a zajíc dělali podpěry aby to uneslo každého, kdo půjde po mostě. Datel Hluchoň a veverka Pytlačka svazovali prkna, jezevec Burdych a liška Chytruška donášeli dřevo, myška Hrabalka a žabka Kuňkalka popisovaly jak by to mělo vypadat. A někteří nedělali nic. Sysel Lajdáček se jenom schovává a jenom na očičko vykukuje aby ho nikdo neuviděl a neposlal ho k práci, vlček Šedý Boček se zdržel, sova Blbuška narážela do stromů, divočák Bradavička hledá ty tři debily po celém lese. Prostě to jde skvěle. Most jim trvalo postavit jenom 6 dní. Když měli most hotový, byli rádi, že můžou přestoupit řeku lehce a bez námahy do vedlejšího lesa. Ale teď přišla ta otravná část... Musí se umýt kadibudka. Nikomu se nechtělo, protože kdo by chtěl umývat úplně plnou výsernici?! Tak šli dobrovolně medvěd a zajíc. Došli ke kadibudce otevřeli ji... a udělali: „AAA!!!!“ Všude i na stropě byl trus, rolička toaleťáku byla celá vymotaná a kadibudka úplně plná.Tak se pustili do mytí. Medvěd myl kadibudku zajíc vynášel trus a vyráběl nový toaleťák. Šlo jim to dobře a za pár hodin kadibudka byla jako nová. Medvěd a zajíc se šli potom umýt do potoka. Až byli umytí byl už večer a šli spát.V posteli si ještě povídali jak se jim vydařil ten most a jak dobře umyli kadibudku. Až z toho povídání usnuli

<br><br><center>B</center>
<p>Perský šik zakolísal, když narazil na pevně stojící hradbu comitatenses. Římané odolali síle prvního náporu, vrhli po nepřátelích pila a s tasenými meči se na Juliánův povel vrhli na nepřítele. Zadní řady Peršanů stále tlačily na své druhy vpředu, a ti, bez možnosti volného pohybu, se ocitli ve smrtící pasti.
<p>Sám císař na koni, jen v lehké zbroji, se vrhl s jezdci mezi ně. Nápor ustal a Peršané couvali, nejprve pomalu, pak se jejich couvání proměnilo v útěk na Marangu a pontonový most přes řeku.
<p>„Běží,“ křikl císař. „Sol Invictus! Za mnou, Martovi synové! Dnes se umyjeme v Tigridu.“ Řady comitatenses udělaly krok, pak druhý, překročili mrtvé a umírající, zbraně, padlá zvířata a všemožné harampádí, které Peršané odhazovali, a pustili se za císařem do pronásledování.
<p>Ammianus se zdržel, když vytahoval spathu z břicha nepřítele. Letmo se podíval směrem k císaři. Strnul. Aniž by si toho císařova stráž všimla, dostal se vládci za záda jakýsi voják. Vytrhl pilum ze zabitého Peršana a napřahoval se k hodu. Nebylo pochyb, chce usmrtit samotného císaře.
<p>„Juliane, pozor,“ vykřikl Ammianus, pobídl koně a v mžiku byl u vraha. Sekl dolů těsně předtím, než oštěp opustil vrahovu ruku, a rozpoltil jeho lebku. Vrah měl vytetované oko na týlu. Tihle křesťané se neštítí ničeho!
<p>„Co se to děje,“ křikl císař, když uviděl přítele se zkrvaveným mečem nad mrtvým fanatikem. Ammianus mu stručně popsal, proč musel zasáhnout. „Zas jeden přestoupil ke křesťanům!“ odfrkl si císař. „Až vyhraji bitvu, poradíme se, jak naložit s tím nemožným kultem mého strýce.“

{% endblock %}
