{% extends "post.html" %}

{% set title = 'Drabble č. 1 (2. kolo)' %}

{% block content %}

  <h2>Drabble č. 1</h2>

  <p>Poslední dobou se mi často zdává o Skagosu.</p>

  <p>Jsou to živé sny. Ve snech je Skagos nebezpečný. Stejně nebezpečný jako ve skutečnosti.</p>

  <p>Pamatuji si ho, jako kdyby to bylo včera. Žádné cesty, jen bahno a kamení. Žádná města, jen kmenová shromaždiště.</p>

  <p>Za každým stromem, za každou skálou mohla čekat smrt.</p>

  <p>Ale někdy i pomoc. Podle toho, na koho člověk narazil.</p>

  <p>Na první pohled se však rozeznat nedaly. Člověk slyšel zapískání a nevěděl, jestli přiletí šíp nebo se objeví přítel. Krčili jsme se za stromem nebo kamenem a čekali a bylo slyšet jen bušení srdce.</p>

  <p>Nikdy jsem obraz toho pochmurného místa nevymazal z hlavy.</p>

  <p>A přece bych tam, v tom dalekém, divokém světě, byl v tuhle chvíli o tolik raději.</p>

  <p>Zde čeká jen smrt nebo smrt.</p>

  <p>Jsme sužováni písečnými bouřemi, suchem a draky věčné říše Valyrie.</p>

  <p>Ani dlážděné cesty ani města, studny a jiné známky vyspělé civilizace nejsou nic platné.</p>

  <p>Studny jsou otrávené. Vítr nám do očí žene písek.</p>

  <p>A z nebes na nás prší oheň.</p>

  <p>Zacházíme žízní a ohněm. Jeden po druhém padáme k zemi, obličejem do písku a to je naše poslední strava. Ghiskarský jídelníček tomu říkají.</p>

  <p>Oni také bojovali a také padali do písku jako my.</p>

  <p>Někdo si cestu vyznačí drobky. Naše je vyznačena kostmi. Buď spálenými na uhel, nebo ohlodanými od krys a vybělenými Sluncem.</p>

  <p>Už slyším svist kožnatých křídel. Jsme poslední. Řada je na nás.</p>

  <p>My zemřeme. Tak blízko cíli. Ale zdržíme je. Rhoyne přežije.</p>

  <p class="author"><b>Autor:</b> Flanker.27</p>

{% endblock %}
