{% extends "post.html" %}

{% set title = 'Drabble č. 2 (2. kolo)' %}

{% block content %}

  <h2>Drabble č. 2</h2>

  <p>Myšlenky se vynořovaly v zástupech a často bylo tak těžké dát jim tvar a smysl. Roky, předlouhé roky přemýšlel. Nad tím co bylo, když byl ještě člověkem, nad tím, co bylo. Zkrátka bylo. Již nerozeznával myšlenky své a vzpomínky stromů.</p>

  <p>Tolik kdysi toužil po věčném životě. Chtěl přežít všechny ty lidské krysy. A hlavně své bratry. Nebo jen jednoho? Krvavá vrána si již nebyl úplně jistý. Hlavou se mu honily jména lidí a míst, ve kterých se snažil zachytit jeho jméno. Hořkoocel! Aegor Hořkoocel a jeho Zlaté společenstvo. Kéž by zahynul v písečné bouři nebo se zalknul opékaným hmyzem z Ghiskarského jídelníčku. Ztratil se mu z dosahu čarostromů. Již dávno.</p>

  <p>Jeho sestra. Nyní se mu vynořila v roztříštěné mysli tvář Shiery Mořské hvězdy i bolest s ní spojená. Všichni jsou již dávno mrtví. Zbyl jen on sám, poslední, který zde hnije v bahně u kořenů stromů. Ve svém stále otevřeném čekajícím hrobě. Daleko je Starý Ghis, Královo přístaviště, Havranostrom, Skagos i Zeď. Vše je daleko. Pro něj, Bryndena Řeku. Nebo se mu to vše jen zdá?</p>

  <p>A nyní je tu ten malý zmrzačený chlapec. Měl by ho varovat. Před věčným životem, před věčným živořením, před vzpomínkami, které jsou ničí, před sebou samým.</p>

  <p>Ale proč.</p>

  <p class="author"><b>Autor:</b> Livtrasi</p>

{% endblock %}
