{% extends "post.html" %}

{% set title = 'Drabble č. 3 (2. kolo)' %}

{% block content %}

  <h2>Drabble č. 3</h2>

  <p>„Vojín Amfetamín, všechno slyším. Tři kroky vpřed, opakujte nahlas poslední větu!“</p>

  <p>„Poslušně hlásím, soudruhu majore, že jsem říkal, že jídlo, co tu dostáváme na příděl, je na draka.“</p>

  <p>„Vojín Amfetamín, to je neslýchaná drzost. Chtěl byste snad být stravován vybranými specialitami ghiskarského jídelníčku?</p>

  <p>Uvědomujete si, že voják lidově valyrijské armády je stravován podle posledních poznatků největších mozků naší věčné říše? Tři krysy na osobu a den?“</p>

  <p>„Soudruhu majore, já…“</p>

  <p>„Hubu držet Amfetamín. Uvědomujete si, že když já byl jako vy, že jsme dostávali jen jednu krysu na den? Co mi na to řeknete?“</p>

  <p>„Soudruhu majore…“</p>

  <p>„Kdo vám dovolil promluvit, soudruhu vojíne? Opakujte nahlas předposlední větu.“</p>

  <p>„Tu předtím nebo potom?“</p>

  <p>„Vojín Amfetamín, přísáhámbohum, že Skagos budete rypákem rejt jako červená myš. Co jste řekl jako předposlední větu, než jsem si vás zavolal? Nebo jste hrdina jenom když vás neslyším, kterej se podělá jen uvidí frčky?“</p>

  <p>„Že už mám bahna a písečnjech bouří až po prdel, soudruhu majore. A že se mi zdá, že zase pudeme do čela jako návnada pro nepřítele.“</p>

  <p>„No vidíte, Amfetamín, že vám nechybí bojový duch. To se vám totiž nezdá, to je náš úkol. Přišlo to před chvílí z hlavního stanu. Tak se seberte. Jinak si mě do konce života nepřejte Amfetamín.“</p>

  <p>A vy ostatní bačkory co tady stojíte a čumíte. Chci vidět ukázkovej pochod se zpěvem Pochodém vchod, směr sláva a vítězství věčné říše Valyrie. Na Bělehrad – é, na Rhoyne.“</p>

  <p class="author"><b>Autor:</b> Flanker.27</p>

{% endblock %}
