{% extends "post.html" %}

{% set title = 'Drabble č. 5 (2. kolo)' %}

{% block content %}

  <h2>Drabble č. 5</h2>

  <p>“Tak jsi dorazil až k nám, šampióne,” řeklo bahno muži, který stál před odporným monstrem v jeskyni na Skagosu.</p>

  <p>“Všichni jsou mrtví,” řekl muž.</p>

  <p>“My víme. Tvoji bratři, tvé sestry. Tvojí přátelé, tvoji nepřátelé. Všichni. Oheň i Led. Jsi jen ty a my. Tento svět je náš. Děkujeme ti. Odměníme se ti. Brzy.”</p>

  <p>“Poštvali jste je všechny proti sobě. Lannistery a Starky. Západozemce a Essosany. Draky a Jiné. Všichni jsou mrtví, do poslední krysy.” zopakoval muž a při zmínce o krysách si vzpomněl na ghiskarský jídelníček. Písečné bouře v Rudé pustině. A teď mrazivý chlad severu. Domova.</p>

  <p>“Brzy se přidáš k nám, šampióne,” konejšilo bahno.</p>

  <p>“Má to háček. Váš šampión je také mrtvý.”</p>

  <p>„Co? To není možné. My sledujeme vše. My víme, my jsme mocní. My jsme věční. Ty jsi náš šampión.“</p>

  <p>„Ne, já jsem váš vrah.“</p>

  <p>„Nás nelze zabít. Žádný muž se neodváží a žádný meč nás nezraní.“</p>

  <p>„Možná, ale já nejsem muž a toto není meč,“ řekla osoba, která nosila tvář Azora Ahaie, šampióna Temnoty. Vytáhla úzké ostří a vrazila do bublajícího bahna na stěně před sebou. „Toto je Jehla.“</p>

  <p>„Né!“ zakřičelo bahno a zdálo se, že vzplálo. Bylo tomu tak. „Tohle nás bolí! Jak je to možné? Jaké mocné kouzlo je v této strašlivé zbrani, odpověz, falešníku!“</p>

  <p>„To nejmocnější ze všech,“ řekla černovlasá žena, jež stála na místě Azora Ahaie. Jediná živá bytost v tomto nehostinném světě prokletá nesmrtelností. Poslední úkol byl dokonán.</p>

  <p class="author"><b>Autor:</b> GemSignor</p>

{% endblock %}
