{% extends "post.html" %}

{% set title = 'Povídka č. 1 (1. kolo)' %}

{% block content %}

  <h2>Arina</h2>

  <p>Přestože havrana o příchodu jara ze Starého města dostali na Pahorek už před pár týdny, stále se všude válely ještě zbytky sněhu. Zapovězený háj nebyl výjimkou. Na druhou stranu, nikdo nemohl pochybovat o konci zimy – bylo to cítit ve vzduchu. I úplní ignoranti (a k těm Arina naštěstí nepatřila) by v Háji poznali jaro. Tam vás to nutilo přemýšlet o úplně jiných věcech, než normálně.</p>

  <p>I psovod Stev se Arině přiznal, že tu myslí na úplně jiné věci, než normálně. A to většina děvčat z Pahorku přišla o panenství kvůli němu. V Háji vás to ale nutilo uvažovat o přírodě. Arina nevěřila ve staré, ani v žádné jiné, bohy, ale návštěvy tohoto místa rozhodně nešidila. Právě naopak. Fascinovala ji atmosféra tohoto místa.</p>

  <p>A nebyla sama. Janos ji táhl za ruku mezi poloroztátými sněhy a pomalu rašícími květy na stejné místo. Ach ten Janos, toho byste mohli rozkouskovat a stejně by mu nedošlo, že není zrovna galantní ji tady tak vláčet, zvláště pokud ji chce v následující chvíli požádat o ruku. Všechno tomu aspoň nasvědčovalo. Ale ne, Janos pro tohle zkrátka neměl cit, nikdy.</p>

  <p>Poprvé se potkali slavnosti sklizně na Zimohradě, dva roky zpátky. Byla tam za Glovery s otcem a s mladší sestrou Calene. Zatímco Arině se tam líbilo, Calene si ani nedala tu práci zakrýt to, že se tak hrozně nudí. Proseděla celý den u stolu a tupě pojídala, co jí přišlo pod tu její tlustou ruku.</p>

  <p>Arina se snažila konverzovat s ostatními. Strávila spoustu času s Gerenem, možná víc, než by se slušelo, a tak se rozhodla se jít bavit i s někým jiným. Zaujal ji muž sedící u druhého stolu. Vypadal tak nějak plaše, ale Arina intuitivně věděla, že by mu příliš nevadilo, kdyby si s ním šla povídat. Celý den ji totiž pozoroval. Dokonce se snažil výt nenápadný, ale marná snaha. Sice moc nechápala, co na ní vidí – měla obyčejné hnědé oči, nos zbytečně velký a ústa zase malinká. Vlasy měla taky tmavě hnědé, na konci trošku zvlněné, ale zase nepěkně krátké, jenom po ramena. Kůži měla až strašidelně bledou, že to i na seveřanku bylo divné. A na rozdíl od své sestry byla pěkně vychrtlá a vysoká. Nesmírně jí to ovšem lichotilo, že se na ni takhle díval, přestože věděla, že hlavní krasavicí je tu nekonkurenčně prostřední Boltonova blonďatá a opálená dcera.</p>

  <p>Zamířila za ním a představila se mu. On taky, ale očividně mu to dalo hodně práce. Byl snad ještě stydlivější, než jak ho Arina poprvé odhadla.</p>

  <p>Jak poznala, docela hezky se s ním povídalo. Diskusi sice musela řídit ona, přestože to byla dívka a ještě k tomu o deset let mladší, ale Janos byl opravdu chytrý a o všem, na co se ho zeptala, jí vychrlil spoustu informací.</p>

  <p>No a tak se spřátelili. Tedy, Arina se spřátelila a Janos se zamiloval. Nikdy se nepokoušel ji líbat, osahávat nebo nedejbože se s ní vyspat, ale jí bylo naprosto zřejmé, že na ty návštěvy na Pahorek nejezdí kvůli „tomu Dustinovic klukovi, co dělá ve všem nepořádek“.</p>

  <p>„Řekni mu, že nemáš zájem. Ari, ať nás nechá,“ domlouval jí Geren mezi polibky. Arina ale odmítala. Měla Janose hrozně ráda, nechtěla se ho zříct jenom kvůli Gerenovi, který kvůli němu trucoval čím dál častěji. Ale měla ho prostě ráda jinak, než jak by se mu líbilo. A vzít si chtěla pouze Gerena.</p>

  <p>To byl Janos. Když konečně došli na místo, které si on vybral – ne úplně u toho děsivého čarostromu, spíš u stařičkého vykotlaného dubu, kde si Arina s Calene hrály, když byly malé.</p>

  <p>Postavil se proti ní a podíval se jí do očí. „Arino, ty už víš, na co se tě chci zeptat, ty to zatraceně dobře víš. Souhlasíš?“ Zeptal se s takovým smutkem v hlase, jako kdyby si souhlas vůbec nepřipouštěl.</p>

  <p>Arina věděla, co mu řekne. Už od čtrnácti let věděla, že nechce nikoho jiného než Gerena. Nechtěla Janose ale ranit víc, než to bude potřeba, a tak si ho k sobě přivinula a na okamžik si položila hlavu na jeho rameno. Nedělalo jí to potíže, protože byli skoro stejně vysocí.</p>

  <p>Potom se mu zase zahleděla do očí. „Nemůžu, Janosi. Prostě si nemůžu vzít někoho, koho nemiluju. Stejně se k sobe hodíme jako zlovlk k drakovi. Najdi si nějakou lepší ženu, já jsem hrozně náladová. A nebyla bych s tebou šťastná. Vždyť jsem o celých deset let mladší! Neklapalo by nám to.“</p>

  <p>Janos tam celou dobu stál a jenom ji smířeně pozoroval. Arinu to trochu nahněvalo. Pokud o ni opravdu stojí, mohl by aspoň trochu bojovat a ne tady stát a jenom poslouchat svůj rozsudek. Chudáček.</p>

  <p>„A to mi k tomu nic neřekneš? Prostě, no tak ne, jdu zase o dům dál? Pokud mě opravdu miluješ, neměl bys to dávat trošku víc najevo?“</p>

  <p>Nic, jenom tam tak stál a jakoby ani její poznámku nevnímal. Musela po zatřást s rukou, aby ji vůbec začal brát na vědomí. „No tak,“ dotírala na něho, naštvaně a trochu nervózně.</p>

  <p>Janos se konečně nadechl a promluvil. „Arino, ty copak nevidíš, že Geren tě nemiluje? Chce nějak využít tebe a tvého postavení, něco moc nepěkného skrývá. Kdyby sis mě vzala, nemusela bys o něm už nikdy slyšet, ani ho vidět. Ari, copak nemáš vůbec rozum?“</p>

  <p>To ji dorazilo. „Tys mě teda dojal! Když tě odmítnu, tak automaticky začneš plivat po Gerenovi, že? Vždyť ho ani neznáš, tak jak si můžeš dovolit říkat o něm takové věci? Prosím, nech mě na pokoji.“ Potom mu vyškubla ruku, kterou svíral ve své dlani a dala se na útěk. I přes uklidňující účinky Zapovězeného háje měla náladu na bodu mrazu. Něco nepěkného skrývá? Chce tě nějak využít a nemiluje tě? Ubohost.</p>

  <p class="sep">-</p>

  <p>Ještě tentýž večer seděla Arina ve stejném vykotlaném dubu, u kterého před pár hodinami odmítla Janosovu ruku. Přemítala o tom, co se stalo. Co to do Janose ale vjelo? Naprosto to nechápala. Myslela si, že bude pod jeho úroveň takhle urážet Gerena, jenom aby se jí zalíbil, ale asi ne. Všichni jsou stejní, jak říkávala kdysi její maminka, když ji otec něčím naštval.</p>

  <p>Teď tu ovšem měla milejšího společníka. Hned vedle ní seděl Geren a objímal ji kolem ramen. Očividně o ni měl starost, protože dnes večer byla nezvykle zaražená.</p>

  <p>Samozřejmě, že mu o tom podivném setkání pověděla, ale on to bral na lehkou váhu. Potěšilo ho, že Arina Janosovi naznačila, že jí nemá lézt na oči, ale jinak si z toho nedělal těžkou hlavu.</p>

  <p>„Tebe vůbec netrápí, že už teď jsem se klidně mohla chystat na svatbu s Janosem?“ dobírala si ho trošku uražená Arina. Podle jejího mínění si dostatečně nevážil, že odmítla sňatek s Karstarkem kvůli němu, svěřenci Mormontů na Pahorku.</p>

  <p>„Proč si mě vůbec nechceš vzít ty? Nebojíš se, že si to náhodou rozmyslím?“ zeptala se ho. V jejím hlase byla sice slyšet pobavenost, ale myslela to vážně. Neviděla důvod, proč by se nemohli vzít, teď, když Gerenovi ukázala, že nechce nikoho jiného. „Matka se vdávala ve čtrnácti.“</p>

  <p>On se na ni zamračeně podíval. „Ari, tvoje matka je tvoje matka, ty jsi ty. Mě je devatenáct, tobě sedmnáct. To se tolik bojíš, že zůstaneš na ocet?“</p>

  <p>„Stejně to není žádný rozdíl, jestli budeme žít jako manželé nebo jako milenci. A navíc, víš, že správně bychom se před svatbou sebe neměli ani dotýkat?“</p>

  <p>Geren si to ale nějak očividně špatně vyložil, a tak nasupeně vstal a podíval se na Arinu. „To, že jsi odmítla Janose Karstarka z tebe ještě nedělá hrdinu, toho by odmítl snad každý, kdo má mozek a dvě oči. Já se prostě ještě nebudu ženit, tak se s tím smiř.“ Dořekl a naštvaně odkráčel pryč. Ani se nerozloučil.</p>

  <p>Proč kvůli té svatbě dneska všichni tak vyvádí? podivila se Arina. Nechápala ani Janose, ani Gerena a pomalu ani sebe ne. A tak se pomalu zvedla a zamířila k hradu doufajíc, že přijde na jiné myšlenky.</p>

  <p class="sep">-</p>

  <p>Asi měsíc po tom podivném dni se Arina ráno probudila, promnula si oči a připravila se na nacházející nudu, která ji čeká. Geren se jí po tom nevydařeném dni začal vyhýbat a když už s ní musel promluvit, choval se, jako kdyby měla mor nebo choleru – v žádném případě se jí nedotýkal a nikdy spolu moc dlouho nemluvili. O líbání nebo milování nemohla být žádná řeč. A Geren ještě asi před týdnem odjel, prý že potřebuje vidět svoji rodinu na Medvědím ostrově. A že s ním má počítat tak za tři měsíce.</p>

  <p>Arina si to asi neuvědomovala, ale ten mdlý šedý život na Pahorku přežívala vlastně jenom kvůli Gerenovi. A teď jí tu na zábavu zbývala jenom Calene a pár služebných, se kterými žádná rozumná řeč nebyla.</p>

  <p>Vstala, aby sešla dolů na snídani a vyplnila další den čtením, psaním dopisů a hloupým dohadováním se s Calene.  Vstala a zase se sesula na postel. Chvíli viděla před očima mžitky a potom už nevnímala vůbec nic.</p>

  <p class="sep">-</p>

  <p>„Chlape, zatraceně, nemůžeš to říkat potichu?“ Arina poznala hlas svého otce. Hluboký, přísný, ale zároveň milující a laskavý. Přála si, aby její děti taky jednou slýchávaly takový hlas svého otce.</p>

  <p>„Omlouvám se, pane.“ Tohle byl zase mistr Theo. Jeho hlas zněl v kontrastu s otcem směšně pisklavě.</p>

  <p>„No tak co, co je jí?“ Ptal se otec šeptem. Arina stále předstírala mdloby, protože věděla, že teď má jedinou šanci se dozvědět se příčinu její ranní slabosti. Věděla, že by jí to nikdy neřekli, kdyby se jich ptala.</p>

  <p>„Obávám se, že to samé jako lady Mie, můj pane.“ Lady Mia byla Arinina matka – byla, už zemřela na jakousi neznámou nemoc, které se tady, na Pahorku, říkávalo slabost lady Mii. Věděla jenom, že matce začalo bývat špatně, měla horečky, hrozně hubla a jednoho dne prostě zemřela. Moc si na ni nepamatovala, zemřela, když Arině bylo asi šest a jí samotné jenom pár let po dvaceti.</p>

  <p>„Theo, příteli, to nemůžeš.“ Arina tentokrát poznala v otcově hlase paniku, jako kdyby měl Theo její zdraví v moci.</p>

  <p>„Pane, já s tím nemůžu nic dělat. Necháme ji hodně odpočívat a budeme doufat, že se mýlím. Mohla omdlít jen tak, to se občas člověku stane. Dělá mi ale starost to, jak je neskutečně vychrtlá. Ani lady Mia taková nebyla a to už je co říct. A taky se mi zdá, že je mnohem bledší, než třeba před rokem. Budu se snažit, ale zázraky po mě nečekejte.“ Když dořekl, rozloučil se a potichu odešel.</p>

  <p>Lord Eddard, Arinin otec ovšem zůstal. Sedl si k její posteli a chytl ji za ruku.</p>

  <p>Arina otevřela oči. Pohlédla na otce a zjistila, že jeho oči se mu lesknou, stejně jako ty její. Posadila se a objala ho. On ji taky k sobě přivinul. Oba si nějak začali uvědomovat, že nikdo a už vůbec ne Miina dcera, tu není napořád.</p>

  <p class="sep">-</p>

  <p>Od Arininých prvních mdlob uplynulo skoro pět měsíců. Nejtěžších pět měsíců v celém jejím životě. Nepočítala to, že i pořád hubla a bledla, nepočítala horečky i ten nesnesitelný kašel. Nevadilo jí ani tak to, že byla už tak slabá, že nebyla schopna dojít pomalu ani na záchod nebo do jídelny.</p>

  <p>Největší ránu totiž dostala od Gerena.</p>

  <p>Když se vrátil z Medvědího ostrova, přikulhala mu naproti s otevřenou náručí a jediné, čeho se jí od něho dostalo, bylo pichlavé: „Ty jsi ale bledá.“</p>

  <p>Potom se musel jít přivítat s mistrem, s majordomem, s lordem Eddardem i Calene, obešel na hradě snad každou krysu nebo pavouka, aby ho po cestě pozdravil, jenom Arině se začal vyhýbat. Předtím se k ní choval hodně chladně, ale ona doufala, že dostane rozum. Nicméně, návštěva domova nemusí nutně znamenat útěk od ní. Něco o Medvědím ostrově říkal už někdy předtím.</p>

  <p>Ale teď, co se vrátil, choval se k ní jako kdyby byla kámen nebo plevel. Ne, dobře, i těm kamenům věnoval větší pozornost, než Arině. Prostě a jednoduše ji ignoroval. A ona nechápala, proč.</p>

  <p>Kdykoli se ho na něco zeptala, dělal, že neslyší. Takže šanci vyřešit to, jak jí radil otec, nedostala ani jednu.</p>

  <p class="sep">-</p>

  <p>Celý hrad se radoval – dcera lorda Eddarda si totiž konečně brala Gerena Mormonta.</p>

  <p>Teda, aby to bylo úplně přesné, radoval se celý hrad kromě Gerena Mormonta, Eddarda Glovera a Ariny. Geren si totiž bral Calene a ne Arinu.</p>

  <p>Od svého příjezdu z Medvědího ostrova, v tu dobu, kdy vůbec ani nedával najevo, že někdy existovala nějaká Arina, se začal Geren více sbližovat s Calene. Napřed minutovými rozhovory na hradním nádvoří, potom desetiminutovými, které pozvolna přešly v zamykání v pokoji a tiché hihoňání, až jste najednou nikde nemohli potkat Gerena bez šišlající a rozplývající se Calene. Arinin názor ty dva samozřejmě nezajímal a nikdo jiný jim nebránil, takže vesele pokračovali, no až to vyústilo ve svatbu.</p>

  <p>Calene požadovala něco okázalého a Geren to chtěl mít zase rychle za sebou. Lord Eddard měl ale myšlenky spíš na nemocnou Arinu než na Caleninu svatbu, takže se přiklonil ke Gerenovi. V Háji oddrmolil něco o lásce, která nezná hranic, přičemž mu bylo do breku kvůli Arině.</p>

  <p>Opírala se o starý vykotlaný dub, byla mrtvolně bílá a tak hubená, že byste ji mohli skoro přehlédnout. Stála tam a kulila dvoje dvě hnědé oči na Gerena a Calene. Po obřadu, kdy se všichni hladoví svatebčané v čele s nejhladovější Calene přemístili do hodovní síně a Eddard popadl Arinu, že ji odnese do pokoje.</p>

  <p>„Nechceš jíst?“zeptal se jí starostlivě.</p>

  <p>Ona se na něj smutně podívala, aby mu naznačila, že jíst je tak poslední, co by chtěla. Chvíli oba mlčeli a potom se Arina zeptala na věc, která jí svrběla na jazyku už hodně dlouho: „Proč na mě zapomněl? Jinak se to říct nedá, prostě zapomněl!“</p>

  <p>„Holčičko, myslíš si, že jsem nad tím nepřemýšlel. Já prostě nevím, co se mu událo. Aspoň teď víme, že nestojí za nic a ty si budeš moct najít někoho lepšího.“</p>

  <p>Arina se suše zasmála. „Tati, ty by ses oženil s mrtvolou?“</p>

  <p>Eddard zakroutil hlavou. „Ari, ty nejsi žádná mrtvola. Ještě se můžeš uzdravit, mít manžela, děti, vliv, zkrátka úžasný život. Tohle je jenom taková krize, co zase pomine.“ Jeho slovům ale Arina nevěřila a co hůř, nevěřil jim ani on sám. Viděl, že mu jeho starší dcera odkvétá před očima jako květina na podzim.</p>

  <p>„Tati,“ oslovila ho Arina, když už byli skoro ve dveřích její ložnice a ona, přestože vážila snad čtvrtinu, co on, se mu pomalu začala pronášet.</p>

  <p>„Co je?“</p>

  <p>„Vyřídil bys prosím Janosovi, že měl pravdu. A taky, že ho mám ráda a ať mi prosím odpustí.“</p>

  <p>„Vyřídím, neboj se.“</p>

  <p>„A taky prosím pozdravuj Calene a Gerenovi řekni, že není Krisa, nýbrž krysa,“ dodala ještě.</p>

  <p>Tenhle rozhovor až nebezpečně zaváněl řečmi nad postelí umírajícího. Eddard chtěl taky říct něco dojemného, ale na řeči si moc nepotrpěl, takže ho zrovna nic nenapadalo. A tak jenom zatlačil slzu v oku a políbil ji do vlasů.</p>

  <p>„Ty jsi tak podobná Mie,“ řekl nakonec. Uvědomoval si, že je to možná poslední, co své dceři řekne a matčin odkaz mu přišel docela důstojný.</p>

  <p>Arina se na otce mdle usmála a potom zavřela oči. Chtěla si s otcem ještě chvíli povídat, ale cítila, že staří bohové ji už chtějí jinde. Že už ji volají.</p>

  <p class="sep">-</p>

  <p>Janos Karstark jel několik dní v kuse, aby už byl na Pahorku.</p>

  <p>Když dostal havrana od Eddarda Glovera, že jeho dcera zemřela, nikomu nic neřekl, vzal si jenom trochu jídla a vyrazil na cestu. Cítil se být povinen vůči Arině. Cítil, že musí nějak uctít její památku.</p>

  <p>Po jejich posledním setkání na ni byl tak rozzlobený. Říkal si, že je to malá a nerozumná holka, co ani nevidí, jak je ten její Mormont falešný, že se chce jenom přiženit do rodiny, aby měl vliv. Jeho malé tajemství, fakt, že je vlastně nemanželský, tudíž by jméno Mormont vůbec neměl používat, si nechal radši pro sebe.</p>

  <p>Ale když dostal dopis, kde stálo, že on, Janos, měl pravdu a že ho má Arina ráda, věděl, že její nemoc jí pomohla vyspět a pochopit pravdu. A tak v těch šedavých dnech plných zármutku nad její smrtí viděl i malé světélko. Ona na něj nezapomněla a miluje ho. Není sice tady, ale není ani pryč. A čím blíž k Pahorku byl, tím víc si uvědomoval Arinu a její lásku.</p>

  <p>Věděl, že i když je pryč, že chce milovat jenom ji. Asi by se měl oženit a konečně mít nějaké děti, ale to nic na jeho vztahu k Arině nezmění. Navždy bude milovat jenom ji.</p>

{% endblock %}
