{% extends "post.html" %}

{% set title = 'Povídka č. 5 (1. kolo)' %}

{% block content %}

  <h2>Na kost</h2>

  <p>Dokonce i v šeru Vlčího doupěte Davos vycítil, že je dnes ráno něco jinak.</p>

  <p>Garth přinesl ovesnou kaši jako každý den. „Tady je ovesná kaše pro mrtvého muže.“  Ve Vlčím doupěti byly všechny dny skoro stejné a jakákoliv změna byla obvykle k horšímu. Možná je tohle den, kdy zemřu. Garth možná právě teď sedí u brusu, aby si naostřil Lady Lu.</p>

  <p>Cibulový rytíř nezapomněl na poslední slova, která mu řekl Wyman Manderly. Odveď tohoto tvora do Vlčího doupěte a usekni mu hlavu a ruce, poručil otylý lord. Nebudu schopen pozřít sousto, dokud neuvidím hlavu tohoto pašeráka nabodnutou na kopí, s cibulí mezi těmi jeho prolhanými zuby. Každého večera usínal Davos s těmito slovy znějícími mu v hlavě a každého rána se s nimi probouzel. A kdyby na ně náhodou zapomněl, Garth mu je připomněl. Neříkal Davosovi jinak než mrtvý muž. Když přišel ráno se snídaní, vždycky řekl: „Tady, ovesná kaše pro mrtvého muže.“ Večer to bývalo: „Sfoukni tu svíci, mrtvý muži.“</p>

  <p>Pustil se do snídaně s divným pocitem. Toho muže si všiml, až když snědl půl misky. Stěží bylo vidět víc než stín, ale ano, byl to muž. Když se soustředil, rozeznal vysokou štíhlou postavu docela dobře. Nedávalo to smysl. Cizí, tichý muž v jeho cele.</p>

  <p>„Pane?“ oslovil stín. „Odpusť mi mou nezdvořilost, ale kdo jsi, pane?“  Lojová svíce v přítmí nepomohla Cibulovému rytíři rozeznat o mnoho více, než že muž je oblečen v dlouhém černém plášti s kápí na hlavě.</p>

  <p>„Znám tě snad z Hlídky, pane? Kdo jsi?“ Náhlá nevysvětlitelná přítomnost muže v jeho cele ho silně znervózňovala.</p>

  <p>KDYŽ TI TO POVÍM, STEJNĚ MI NEBUDEŠ VĚŘIT. Odpověděl návštěvník mírně. Hlas měl znělý a hluboký a Davosi Mořskému rozvibroval všechny kosti v těle. V jeho slovech zněla smutná zkušenost. ALE POKUD NA TOM TRVÁŠ…  Pokrčil rameny a představil se. Davos jeho jméno vzápětí zapomněl.</p>

  <p>„Posílá tě pro mě král Stannis? Snad Jeho Veličenstvo…?“</p>

  <p>NE, PŘIŠEL JSEM JEN – NU, DALO BY SE ŘÍCT ZE ZÁJMU.</p>

  <p>Davos se marně pokoušel zorientovat. Nechápal, jak se příchozí dostal do jeho cely, ani proč tam přišel. Muž měl jen velmi slabý přízvuk, ten ale Davos nedokázal nikam zařadit, přestože jako pašerák potkal mnoho námořníků - i z odlehlých koutů, nepřipomínal žádnou řeč, se kterou se setkal. Akcent byl téměř nepatrný, přesto drásal nervy přesně v okamžiku, kdy jste na něj skoro zapomněli.</p>

  <p>„Ze zájmu?“ Podivil se Davos. „Co může chtít záhadný muž od Cibulového rytíře?“</p>

  <p>ZVLÁŠTNÍ. Utrousil návštěvník. TADY POJMENOVÁVAJÍ RYTÍŘE PO CIBULI. JINDE ZAS DÁVAJÍ CIBULI JMÉNA ŽEN. NO, ŘEKNĚME – Z PROFESNÍHO ZÁJMU. MYSLÍM, ŽE MÁME NĚCO SPOLEČNÉHO.</p>

  <p>„Co bychom mohli mít společného? Při vší úctě - ani tě neznám, pane.“  Davos Mořský cítil, že to není tak docela pravda. Nadto ho přítomnost cizince znepokojovala víc, než by si myslel, že je možné. Jeho hlas v něm probouzel chvění a vyvolával vzpomínky na něco hluboko zasutého, avšak stále přítomného, byť nevědomého. Cítil i jistou naléhavost cizincovy přítomnosti.</p>

  <p>ŘEKL BYCH, ŽE SE STEJNĚ JAKO JÁ ZABÝVÁŠ PŘEPRAVOU. PŘEVÁŽÍŠ VĚCI A LIDI Z JEDNOHO MÍSTA NA JINÉ TAK, ABY TO NEBYLO PŘÍLIŠ, HMM, ZJEVNÉ… opatrně zkusil podivný host.</p>

  <p>Davos se na něj pozorně zadíval a špatné svědomí mu otočilo dýkou v útrobách. Ví snad ten muž o tajné noční plavbě s Melisandrou? Při pomyšlení na Melisandru mu přejel mráz po zádech. Ovšem oči nezvaného hosta nebyly ani trochu rudé. Byl to spíš modrý přísvit, co se zablesklo pod kápí.  Davos samo sebou už slyšel o očích bílých chodců a také nemrtvých na severu za Zdí. Ale něco bylo jinak. Cítil, že tady má před sebou cosi jiného.</p>

  <p>„Pane, ať už jsi kdokoli, když toho tolik víš, měl bys o mně také vědět, že s pašováním jsem skončil! Nevím, nač narážíš, ale s lidmi jsem nikdy neobchodoval, nejsem otrokář…“</p>

  <p>NE OTROKÁŘ NEJSI, DAVOSI MOŘSKÝ. ALE VĚŘ MI, POŘÁD JE V TOBĚ VĚTŠÍ DÍL PAŠERÁKA, NEŽ KRÁLOVA POBOČNÍKA. NA TO LIDÉ JEN TAK NEZAPOMENOU.</p>

  <p>„Ne“, pašerák cibule nemohl než přisvědčit.</p>

  <p>VÍM, ŽE NEPRODÁVÁŠ LIDI. JENŽE TY NEJOŠIDNĚJŠÍ SMLOUVY JSOU NE ZA PENÍZE, ALE O ŽIVOT. VLASTNÍ, NEBO CIZÍ.</p>

  <p>Když ten cizí muž stál vzpřímeně, byl velmi vysoký, snad vyšší, než pověstný Hora. Nebyl to jediný důvod, proč se před ním Davos cítil maličký. Měl v sobě cosi vznešeného (jen loajalita k Stannisovi  bránila Davosovi pomyslet si: “královského“) a zároveň nesmírně obyčejného. Do hlavy se tlačila slova obyčejná jedinečnost. Něco natolik jedinečného, že se to přihodí jen jednou… ale tak obyčejného, že se to přihodí každému.  Vysoký a štíhlý, velice štíhlý, cizinec. Navíc v kápi. Davos byl vychován ve víře v Sedm a tenhle cizinec skutečně vypadal jako esence soch a obrazů Cizince všech sept, která kdy navštívil.</p>

  <p>„Umm“, opět přikývl. „A co mi vlastně chceš, pane?“ Napřímil se a postavil se návštěvníkovi čelem.</p>

  <p>Ten k němu natáhl ruku v černé rukavici dlaní vzhůru, snad příliš vyzáblou. Davos pamatovaným pohybem sáhl po svém dávno ztraceném váčku a pomyslel si, co má asi za úkol skrývat jeho rukavice? Na dlani – jako bílé na černém - ležely čtyři hrací kostky. Chvílemi se zdálo, že jde o filigránskou práci s precizním ozdobným motivem lebek a hnátků, chvíli zas že o hrubě řezané kostky, chvílemi připomínaly skutečné kosti, drobné obratle, nebo menší kůstky.</p>

  <p>Davos ztuhl a vytřeštil oči. Opět zašátral rukou po váčku, jež mu visíval kolem krku a uchovával jeho vlastní prstní kůstky. V šeru cely a s blikajícím světlem svic si s ním nepěkně zahrávaly jeho oči. Nebo snad ten cizinec…</p>

  <p> LIDÉ SE MYLNĚ DOMNÍVAJÍ, SERE DAVOSI, ŽE HRAJÍ O ŽIVOT. S BOHY, S JINÝMI LIDMI, S OSUDEM… VE SKUTEČNOSTI JE UŽ ROZHODNUTO. JEJICH ČINY A VOLBY MAJÍ KOŘENY HLOUBĚJI, NEŽ SE ZDÁ. V ČASE I V NICH SAMOTNÝCH. VE SKUTEČNOSTI JE UŽ ROZHODNUTO, VE SKUTEČNOSTI HRAJÍ JEN PROTO, ABY SI ZKRÁTILI ČEKÁNÍ. Řekl cizinec hlubokým znělým hlasem a nechal kostky jednu po druhé dopadnout na podlahu. Potom kamennou stěnou cely prošel veliký bílý kůň ještě větší, než západozemští váleční oři. Cizinec lehce vysedl do sedla a klapavým zvukem úst koně pobídl. Ten se pomalu otočil, ozvěna jeho kroků zněla vzdáleně na to, že byl tak blízko, a i se svým jezdcem se vpili do stěny. Zbyla po nich vlhká mapa ve tvaru obrysu jezdce, ne však dlouho. Ale Davos tohle vnímal jen jako ubíhající, tlustými zdmi tlumené pravidelné burácení vln, když se jako omráčen propadal do spánku.</p>

  <p class="sep">-</p>

  <p>Zdálo se mu, že se plaví v podivně tvarovaném člunu s ostrou špicí, štíhlém, vyřezaném z jednoho kusu kmene. Zabalen v kožešinách, má pomalovanou tvář zvláštními obrazci. Vyplouvá na řeku mlžným oparem proměněnou v rtuťově kalné zrcadlo nebe a věděl, že člun už se nikdy nevrátí ke břehu… ne ke břehu z tohoto světa…</p>

  <p class="sep">-</p>

  <p>Dokonce i v šeru Vlčího doupěte Davos vycítil, že je dnes ráno něco jinak. Procitl náhle a měl dojem, že snad ani pořádně nespal. Probudil se do zvuku hlasů a odplížil se ke dveřím své cely, ale dřevo bylo tak silné, že slova nerozlišil. Přišlo svítání, ale nepřinesli ovesnou kaši, se kterou Garth přicházel každého rána ke snídani. To jej znepokojilo. Ve Vlčím doupěti byly všechny dny skoro stejné a jakákoliv změna byla obvykle k horšímu. Možná je tohle den, kdy zemřu. Garth možná právě teď sedí u brusu, aby si naostřil Lady Lu.</p>

  <p>Cibulový rytíř nezapomněl na poslední slova, která mu řekl Wyman Manderly. Odveď tohoto tvora do Vlčího doupěte a usekni mu hlavu a ruce, poručil otylý lord. Nebudu schopen pozřít sousto, dokud neuvidím hlavu tohoto pašeráka nabodnutou na kopí, s cibulí mezi těmi jeho prolhanými zuby. Každého večera usínal Davos s těmito slovy znějícími mu v hlavě a každého rána se s nimi probouzel. A kdyby na ně náhodou zapomněl, Garth mu je připomněl. Neříkal Davosovi jinak než mrtvý muž. Když přišel ráno se snídaní, vždycky řekl: „Tady, ovesná kaše pro mrtvého muže.“</p>

  <p class="sep">-</p>

  <blockquote>

    <p class="noindent">The ancient tradition that the world will be consumed in fire at the end of six thousand years is true;</p>

    <p class="noindent">As I have heard from hell.</p>

    <p class="noindent">The whole creation will be consumed, and appear infinite and holy, where as it now seems finite and corrupt.</p>

    <p class="noindent">This will come to pass by an improvement of sensual enjoyment.</p>

    <p class="noindent">If the doors of perception were cleansed, everything would appear to man as it is, infinite.</p>

  </blockquote>

{% endblock %}
