{% extends "post.html" %}

{% set title = 'Povídka č. 6 (1. kolo)' %}

{% block content %}

  <h2>Rosalinda Manderlyová</h2>

  <blockquote>Vážení čtenáři, ne že bych chtěla nějak napovídat o autorovi, ale myslím, že by pro tebe bylo docela přínosné přečíst si <a href="/povidky/historicke/3/10">povídku č. 10</a>, aby ses trošku orientoval v ději (na geniální paměť není hodno spoléhat).
  <br> &mdash; Vaše pekelně tajemná autorka</blockquote>

  <h4>Leden 1410</h4>

  <p>Ověšená taškami s kompoty, ovocem, utopenci a čistým oblečením jsem se klátila nemocnicí v Zimním městě. Za mnou ještě skotačila Anitka, držela další tašku, do které jsem se radši ani neopovažovala nahlédnout, protože podezřela zapáchala. Běhaly jsme po nemocnici už dobrých dvacet minut a pokoušely se najít pokoj čtrnáct.</p>

  <p>Pokojů číslo čtrnáct bylo v této nemocnici bohužel vícero, takže jsme už jednou vtrhly do diskuze dvěma bědujícím starým dámám a klukovi zafačovanému tak, že mu skoro nic nevykukovalo.</p>

  <p>Ten správný, ve kterém měl ležet můj manžel, byl bohužel v nedohlednu.</p>

  <p>Abyste rozuměli, můj manžel při té autohavárii nezemřel. Schytalo to auto a posádka nějakého dalšího vozu, který byl do havárie zapletený, ale Napoleonovi se nic nestalo. Nějaký ten pátek si poležel v narkóze (mezitím na jeho místo dosadili někoho jiného), nějaký ten pátek ležel a jenom chrčel (mezitím nám vzali byt) a potom začal pozvolně procitat a doprošovat se nás.</p>

  <p>No a tak jsme se s Anitou na víkend sbalili a udělali si takový menší výlet (ne že by na mě na stole čekala hromada písemek z pentoštiny snad od všech tříd, které učím, které kvůli řízení auta samozřejmě s sebou vzít nemůžu). A teď tady chodíme a bloudíme po té obludně velké nemocnici a hledáme tu zatracenou čtrnáctku.</p>

  <p>Z vedlejší chodby se najednou vynořila nějaká zdravotní sestra, a tak jsem využila příležitosti a křikla na ni: „Můžu se prosím zeptat, kde je na tomhle oddělení pokoj čtrnáct?“</p>

  <p>Sestra se uculila, jako by chtěla říct, blbečku, ty ani nedokážeš najít čtrnáctku a potom mě svým náramně sladkým hláskem nasměrovala k pokoji, který ode mě byl sotva třicet metrů. Kývla jsem na poděkování a přesunula se ke dveřím, které jsem samozřejmě už asi pětkrát míjela, aniž bych si všimla, že jsou to ty pravé.</p>

  <p>Ztěžka jsem k nim přišla a ještě než jsme zaklepali, poučila jsem Anitku: „Nevím, jak na tom tatínek bude, takže se prosím kroť.“ Bála jsem se, že Napoleon bude bělostně mrtvý a pomalu se nebude moct ani hýbat, takže bych nerada, aby se na něj má nevlastní dcera hned tak vrhla a začala ho pusinkovat. Ještě by mu něco udělala. Ne že by mě jenom trošku poslouchala.</p>

  <p>Potom jsem zaklepala a otevřela dveře. Anitka samozřejmě praštila s taškou na zem do kouta a už se porozhlížela po otci.</p>

  <p>Nemusela hledat dlouho, v pokoji totiž stály pouze dvě postele. Na prvních klimbal pán asi okolo padesáti let a té druhé, u okna, seděl v noční košili Napoleon.</p>

  <p>Anita si ho napřed prohlédla, jestli je možné, aby se s ním šla přivítat. Když ho spatřila v úplně normálním stavu, možná jenom trošku bledšího a pohublého, vrhla se na něj.</p>

  <p>Já jsem tam jen tak stála u dveří, pozorovala ten obraz spokojené rodiny a děsila mě okamžiku, kdy si mě Napoleon taky předvolá.</p>

  <p>Nečekala jsem na to dlouho. „Lindo, co je, pojď za námi,“ řekl směrem ke mně, takže jsem neměla na výběr a i s těmi těžkými taškami předstoupila před svého chotě.</p>

  <p>„Ahoj,“ pozdravila jsem stručně, políbila ho do prořídlých vlasů a spěšně začala vybalovat obsah svých zavazadel. Jeho rodiče se na cestu samozřejmě necítili, už jenom proto, že by celou cestu museli poslouchat moji hudbu. No a vlastně proč by měli vídat svého jediného syna, když si to můžou odbýt pár kompoty?</p>

  <p>„Jak se vám vede?“ zeptal se obecně.</p>

  <p>„Vzali nám byt, vzali ti místo, dali mi třeťáky, Anitka se poprala ve školce s klukem, takže teď za ní každý týden dochází nějaká přiblblá asistentka, ale jinak se máme naprosto úžasně,“ odpověděla jsem mu trpce a doufala, že nic z toho nebude chtít detailněji rozebírat.</p>

  <p>„Vždyť byt a místo nám zase vrátí a ten zbytek zase není tak hrozný, ne?“ podotkl Napoleon, asi šťastný natolik, aby si pořádně uvědomil, že to nebude tak šup šup a mezitím musím snášet ten maličký prostor a Anitku. Hrůza.</p>

  <p>„Nech si toho,“ okřikla jsem ho. „Vždyť přece moc dobře víš, že to tak rychle nepůjde. Tvoje místo přenechali Quidu Stokeworthovi a on už se nám pomalu roztahuje v našem starém domě. Těsně před odjezdem u mě byla jeho dcera, mimochodem ještě objemnější než on sám, aby mi předala dva blbý hrnky, co jsem tam zapomněla. Ne že by byla ta jejich famílie tak dobrosrdečná, prostě se mi jenom normálně chtěla vysmát. Svině!“</p>

  <p>Napoleon se čím dál zářivěji usmíval, když jsem mu povídala o mladé Theodoře Stokeworthové. To mě dopálilo a na protest jsem se zamračila.</p>

  <p>„Lindo, kašli na Quida, jenom co se uzdravím, zase si budeme bydlet jako dřív. Vždyť je přece důležitý, že jsme spolu, ne?“ poučil mě moudře. „Nezapomínej, že samotný vlk zahyne, ale smečka přežije, takže teď momentálně je nejdůležitější, abychom byli spolu a pomáhali si.“</p>

  <p>„Ve třiceti a takhle senilní,“ poznamenala jsem na účet svého drahého chotě.</p>

  <p>„Ve třiceti a takhle cynická,“ oplatil mi a očividně se hrozně bavil mojí podrážděnou náladou.</p>

  <p>„Tebe ti Starkové ještě nepřešli,“ podivila jsem se v souvislosti s výběrem citátu o smečce. Z úst ho kdysi vypustil Travon Stark, což byl Napoleonův oblíbenec, dá-li se to tak říct.</p>

  <p>On jenom zakroutil hlavou a pro změnu se obrátil s poskakující Anitě. „Ani, tady máš nějaký drobný a utíkej mi na konec chodby koupit do automatu kávu, jo?“ Nevěděla jsem, jestli má opravdu chuť na kávu, potřebuje vyhodit Anitku z pokoje anebo obojí.</p>

  <p>Naše nevlastní dcera nadšeně kývla, popadla do dlaně pár mincí a už utíkala ven z nemocničního pokoje.</p>

  <p>Když překročila práh, Napoleon se na mě znovu obrátil s tentokrát trošku vážnější tváří a řekl mi: „Nemůžeš se chovat trošku vstřícněji? Neviděli jsme se dva měsíce a ty teď děláš, jako kdyby pro tebe byla hrozná zátěž navštívit vlastního manžela. Proč sis mě teda brala?“</p>

  <p>Pro peníze, naskočilo mi hned v hlavě, ale tuto škaredou myšlenku jsem hned zaplašila, abych mohla vymyslet trošku kloudnější odpověď. Vlastně ale proč? Já jsem tu na návštěvě, já jsem zahodila celý den a on si nemá co stěžovat.  Nakonec jsem vstala, vytrhla Napoleonovi svou ruku, kterou doteď svíral ve svých dlaních, postavila se a uraženě odpověděla: „Pokud ti vadí moje návštěvy, nemusím tě obtěžovat. Měla jsem jít s Aurorou nakupovat a taky mám doma nechutně moc písemek a já tady tvrdnu u tebe a poslouchám výčitky. Příště si prosím rozmysli, co vlastně chceš.“</p>

  <p>V tu chvíli jsem na něj byla tak hrozně naštvaná, že jsem se rozhodla, že u něho už dále nebudu ztrácet čas. Jeho smůla, on si mě znepřátelil.</p>

  <p>Otočila jsem se tedy na podpatku a naštvaně odkráčela ke dveřím. Tam jsem se ještě otočila, abych se rozloučila, ale na nějaké milé a roztomilé tak sbohem, moc se budu těšit, jsem měla akorát tak náladu. Místo rozloučení jsem na něj křikla: „Ať ti chutná lečo od maminky. Příště tě může navštívit ona nebo ten tvůj milovanej Quido,“ a odkráčela pryč.</p>

  <p>Přede dveřmi jsem se málem srazila s Anitkou, pekelně se soustředící na kelímek s horkou kávou. „Jdeme pryč,“ zavelela jsem a ona mi naštěstí neodporovala. Kávu jsem jí vytrhla z ruky, že si ji vypiju sama a rychlým tempem jsem kráčela pryč z nemocnice.</p>

  <p>Přemýšlela jsem, jestli to ta chvíle luxusu krásného domu a dostatku peněz za tohle opravdu stojí.</p>

  <p>Když jsme dojely ze Zimního města, bylo už skoro šest hodin a já jsem věděla, že musím dohnat celodenní skluz. Sice se mi do ničeho nechtělo, ale když ten si ten můj povedený manžílek usmyslel, že mě pořádně zdrží, nedá se nic dělat. Doma jsem naházela chleba do starého topinkovače, Anitce pustila pohádku, aby neotravovala a sama se dala do pololetních písemek.</p>

  <p>Napřed jsem projela eseje maturantů. Vybrané pasáže z nich se dokonce daly číst, za což jsem byla vděčná. Potom jsem odfajfkovala domácí úkol páťáků, kde mi se zápalem sdělovali, co dělají ve volném čase. Všem těm cyklistům, tanečnicím a čtenářům jsem potom zapsala do archu se jmény jedničky a přitáhla jsem k sobě hromádku s nebezpečně vyhlížejícím nadpisem 3.A.</p>

  <p>3.A, to jsou ti hrozní třeťáci, na které jsem si dneska stěžovala Napoleonovi. A jemu to přišlo naprosto v pořádku, že jsou drzí a ještě nic neumí. No třeba tady, jak si může Leandr Crane splést ptáka s vlnou, vždyť adand a lydand jsou úplně jiná slova. Popadla jsem červenou fixu a zuřivě mu tuto chybu zaškrtala.</p>

  <p>Další byla na řadě Ulrika Hayfordová, malá a hodná holčina, která na rozdíl od kolegy Leandra uměla vždycky všechno. V celém testu na zvířátka měla jedinou chybu, přepsala se a místo rebane napsala lebane. Opravila jsem jí tuto chybičku a do pravého rohu jí s radostí napsala velkou jedničku. Moc šikovná holka.</p>

  <p>Když jsem se tak zamyslela, 3.A nebyla zase tak strašná třída. Měla jsem i horší. Možná měl Napoleon pravdu, možná jsem si opravdu nemusela tak moc stěžovat, hlavně když byt zase od toho idiota Stokewortha dostaneme zase zpátky, stejně jako můj manžel svoje místo šéfa královopřístavišťské Daenerys.</p>

  <p>Bylo to snad poprvé za dnešní den a vlastně možná i za celé naše manželství, co jsem se za svoje chování trošku zastyděla. Jak říkala naše babička, úsměv nic nestojí, a tak jím nemám šetřit. Jako malá jsem byla hrozně roztomilá a hodná holka, skoro jako Ulrika, ale potom se to nějak zvrtlo. No co, tu záležitost s Napoleon už nenapravím a moje nové, trošku cynické, sarkastické a podrážděné já souvisí s neodvratnou změnou charakteru.</p>

  <p>Rychle jsem se vrátila zase zpátky k testům, abych to měla rychle z krku a mohla jít dělat něco trošku zábavnějšího.</p>

  <p>Co jsem si ale nechala vpustit brouka do hlavy, už jsem se nemohla pořádně soustředit. Musela jsem myslet na své dnešní nepřiměřené chování a slovíčka na papíru jsem jenom tupě odškrtávala, přestože některé byly opravdu solidní perly. Snažila jsem se zůstat sedět a soustředit se, ale šlo to dost ztuha. Příště si laskavě rozmysli, co vlastně chceš, to jsem mu vážně řekla? To jsem opravdu tak cholerická a tak hrozná manželka?</p>

  <p>V den svatby jsem si nenaslibovala nějakou dojímavou a přeslazenou romantiku, to ne, řekla jsem si pouze, že se Napoleona budu snažit respektovat, protože je to vlastně hodný kluk a má mě rád.</p>

  <p>Nedá se říct, že bych ho za naše půlroční manželství nějak strašlivě trápila a trýznila, to ne, byla jsem jenom cynická a přehnaně praktická, což mi teď připadalo nechutně snobské. Kdybych věřila v nějaké bohy, asi bych se teď zvedla a utíkala se septonovi vyzpovídat, protože jsem si (snad poprvé za hodně dlouhou dobu) připadala hrozně provinile. Chudák Napoleon, požadoval ode mě nějakou hospodyňku v zástěrce, co otěhotní hned po svatbě a každý den ho po práci bude vítat s otevřenou náručí, prostě typický kýčovitý život a já jsem mu ani v nejmenším nevyhověla. Teď jakoby na mě dolehla vina celého minulého roku a já jsem se cítila prostě hrozně.</p>

  <p>V takovém stavu nemělo cenu pokračovat v písemkách, stejně bych už nic neudělala, a tak jsem se zvedla, abych se najedla. Když jsme s Anitkou žvýkaly trošku přičmoudlé topinky, zeptala jsem se jí: „Vadilo to, že jsme dneska u tatínka byly jenom takovou chvilku?“</p>

  <p>Ona se zamračila a naštvaně prohlásila: „Jo, vadilo.“ Potom sklopila oči a věnovala se už jenom svojí topince. Já jsem věděla, že mi to patří, ale stejně mě takové chování u mé nevlastní dcery trošku zarazilo.</p>

  <p>Když Anita dojedla, zvedla se a beze slova odkráčela z kuchyně, podobně, jako jsem já dnes zmizela z Napoleonova nemocničního pokoje.</p>

  <p>„Chceš přečíst pohádku?“zkusila jsem se ještě zeptat, ale ona jenom pyšně zakroutila hlavou a pokračovala pryč.</p>

  <p>Jasně, do mě, pomyslela jsem si a napadlo mě, že kdybychom měly psa, ten by se už taky určitě mstil. Sklopila jsem hlavu do dlaní a začala litovat. Částečně sebe a částečně Napoleona. Chvíli jsem tak seděla v této chudáčkovské pozici, ale začaly na mě doléhat čím dál víc negativní myšlenky, a tak jsem vstala a odešla z kuchyně (vlastně spíš kuchyňského koutu) pryč.</p>

  <p>Šla jsem do Anitčina pokoje se přesvědčit, jestli se ta holka už vypravuje ke spaní, když vtom mi padl pohled na můj mobilní telefon, ležící na komodě v předsíni. Chvíli jsem nad ním stála a potom ho popadla a vytočila číslo do nemocnice v Zimním městě. Napoleonův osobní telefon byl bohužel už dávno sešrotovaný a jeho odporná žena nedělala nic proto, aby mu pořídila nový. Bude to muset napravit, babizna jedna.</p>

  <p>Chvíli to jenom tak zvonilo a když se po deseti nekonečných sekundách konečně ozval hlas, vzpomněla jsem si, že vlastně nemám vůbec promyšleno, co Napoleonovi řeknu. No nic, nezbývá než improvizovat.</p>

  <p>„Nemocnice Zimní město, u telefonu Gisela Mollenová,“ ozvalo se ze sluchátka. Okamžitě jsem ten nesmírně sladký hlásek poznala a přiřadila si ho k té rozkošně vypadající blondýně, co mi radila, ve kterém pokoji najdu svého manžela. Pocítila jsem k ní vlnu averze, protože tato hezká tvářička se nachází jenom pár metrů od Napoleona, zatímco já tady tvrdnu doma v Králově přístavišti.</p>

  <p>„Manderlyová, dobrý den, potřebovala bych mluvit s manželem,“ ohlásila jsem do sluchátka.</p>

  <p>„Je mi líto, je zrovna na rehabilitaci a nemůže s vámi hovořit, zavolám vám později,“ oznámila mi sestra a než jsem stačila cokoliv říct, zavěsila.</p>

  <p>Byla jsem ráda, že mi aspoň slíbila, že mi Napoleon zavolá zpátky a rozhodla jsem se jí osprchovat a potom v klidu čekat na telefonát ze Severu. Svlékla jsem se tedy, krátce se umyla, vyčistila zuby, oblékla si pyžamo a usadila se na stoličku v předsíni s tím, že si na telefonát hezky počkám tady.</p>

  <p>V bodě v klidu jsem se opravdu trošku sekla, protože jsem nebyla schopná se absolutně na nic soustředit, vnitřnosti se mi kroutily jako hadi a já jsem sebou šila jako před maturitou.</p>

  <p>Z tohoto užírajícího stavu mě naštěstí dostalo hlasité zazvonění. Třesoucí rukou jsem uchopila telefon, zmáčkla zelené tlačítko a poslouchala, co se bude ozývat. Užuž jsem čekala Napoleonův dychtivý hluboký hlas, když se ozvalo: „Dobrý den, tady Gisela Mollenová.“</p>

  <p>Zase ona, zase ta odporná, falešná, podlézavá, jedovatá, hnusná a navrch ještě blonďatá bestie, co si říká zdravotní sestra. „Já chci mluvit s Napoleonem,“ oznámila jsem jí po chvilce zaražené mlčení. Lepší větu jsem teď nedokázala dát dohromady.</p>

  <p>„Je mi líto, ale pan Manderly se cítí hrozně unavený a dnes už si s vámi nepřeje mluvit. Možná se vám ozve zítra,“ oznámila mi a než jsem jí stačila nějak opanovat, opět drze zavěsila.</p>

  <p>To mi naprosto vyrazilo dech a já jsem chtěla to jejich zatracené číslo vytočit a hezky jí domluvit, že tohle není slušné a že mi má okamžitě dát svého manžela. Už jsem telefon brala do ruky, když vtom jsem si uvědomila, že tohle by nebyl dobrý způsob omluvy a že budu muset vymyslet něco lepšího.</p>

  <p>Chtěla jsem se vrátit zpátky ke svým písemkám, ale vůbec to nešlo. Byla jsem ještě méně soustředěná než před večeří, a tak jsem si je jenom roztřídila na patřičné hromádky a rozhodla se jít spát.</p>

  <p>Jít spát a spát je bohužel naprosto, ale naprosto jiná věc. Spát je dokonalý stav úsporného režimu, kdy zapomenete na všechny starosti a užíváte si svých ujetých snů. Zatímco pouhé jít spát je nekonečné převalování a přemýšlení o věcech, které vás neskutečně žerou.</p>

  <p>Takhle jsem sebou mlela nekonečně dlouho. Pořád dokola jsem si uvědomovala, že jsem odporná a otravná ženská a Napoleon nemá nejmenší důvod mě milovat. Vážně, možná tak kromě solidního vzhledu jsem nenašla ani jeden.</p>

  <p>Potom jsem vzpomínala, jaké to bylo před tou jeho osudnou cestou na Zimohrad, kdy jsme bydleli v tom úžasně velkém domě. A kdy jsme bydleli spolu.</p>

  <p>Já jsem se vždycky docela brzo vypravila a v posteli si buď četla anebo opravovala písemky. Potom přišel Napoleon s tím, že chce jít spát. Já jsem schválně nechala lampu rožnutou a četla si co nejdéle, abych ho tím naštvala.</p>

  <p>Po nějaké době jsem vyhodnotila, že jsem buď už ospalá nebo že ho nebudu týrat a potom jsem šla spát anebo jsem se na něho vrhla a pomilovali jsme se. Měla jsem to naprosto ve své režii a on nikdy nic nenamítal. Jaká já jsem hrozná mrcha!</p>

  <p>A dnes byla první noc, kdy se mi po manželovi začalo, a to přímo pekelně, stýskat. Nechtěla jsem otravovat, chtěla jsem s ním uložit Anitu, vypít si skleničku vína, hezky si popovídat a potom se s ním po dlouhé době vyspat, tak jako to dělají normální lidé, třeba moje kamarádka Eunika, která si před pár týdny vzala svého vyvoleného vinaře a nemůže si to vynachválit.</p>

  <p>Je strašně divné, že do svého manžela jsem se zamilovala až po tolika letech a je ještě divnější, že se to semlelo prostě tak najednou. Nejdivnější je, že mě okouzlil pár větami a to v zatuchle smrdící nemocnici, vyhublý a po vážné autonehodě. Je to sice divné, ale je to tak.</p>

  <p>Po nekonečných minutách těchto a podobných myšlenkách jsem konečně usnula.</p>

  <p>Bohužel ne nadlouho. Ráno, ještě za tmy, jsem už nemohla dospat a převalovala jsem se z boku na bok. Když jsem vyhodnotila, že už to nemá cenu a že už rozhodně neusnu, vstala jsem a jako první věc jsem doklopýtala k telefonu, abych si ověřila situaci v nemocnici.</p>

  <p>„Nemocnice Zimní město, tady Marlena Shaddová,“ ozval se nachlazený nosový hlas nějaké postarší sestry. Měla jsem chuť telefon políbit, když jsem zjistila, že Gisela v nemocnici přece jenom není nonstop.</p>

  <p>„Mohla bych prosím mohla mluvit s Napoleonem Manderlym?“ zeptala jsem se zbrkle. Na nějaké představování jsem neměla ani pomyšlení, potřebovala jsem jenom vědět, na čem jsem.</p>

  <p>„To pani asi ne,“odpověděla mi Marlena. „Spí jak zabitej.“ Neudržela jsem si hlasité vzdychnutí a už jsem jenom čekala, až sestra zase spěšně zavěsí, ale ona kupodivu ještě měla něco na srdci.</p>

  <p>„Pokud mu chcete něco důležitýho, tak hezky přijeďte, ne? On je tady chudák už tak dlouho a ještě u něho nikdo nebyl,“ pokračovala vyčítavě. O mé včerejší hysterické návštěvě naštěstí nic nevěděla.</p>

  <p>„Tak dobře,“ slyšela jsem se říct do telefonu. Marlena se spokojeně uchechtla a řekla ještě: „Beru vás za slovo. A pan Manderly taky. Naschle, pani.“</p>

  <p>Naschle, pomyslela jsem si, usmála se pro sebe a utíkala do pokoje, otevřela skříň, vytáhla první kalhoty a košili, na které jsem narazila, navlékla to na sebe, vběhla do kuchyně, popadla půlku chleba v celku, z ledničky marmeládu a nůž, strčila si to do tašky, která se ještě od včerejška ležela v síni a užuž jsem chtěla vyrazit ven a k autu, ale vzpomněla jsem si na Anitku.</p>

  <p>Chvíli jsem přemýšlela, co s ní udělám, ale pak jsem si uvědomila, že mi nebude mít za zlé, když se celý den bude v pyžamu moct dívat na pohádky a jíst bonbóny. Popadla jsem nějaký papír, co se válel na komodě, velkým tiskacím písmem na něj načmárala JELA JSEM ZA TATÍNKEM, NIKAM NECHOĎ, MÁMA, nechala ho ležet před pokojem, kde Anita spala a konečně jsem mohla vyrazit.</p>

  <p>Cesta na Sever mi připadala asi tak desetkrát delší než včera, kdy jsem si pustila moji oblíbenou skupinu, Silffelody, umlčela jsem Anitku a brala to jako nějakou otravnou povinnost. Dneska jsem si připadala jako patnáctiletá nezkušená holka, co jde na rande se svým prvním klukem a vůbec netuší, co a jak.</p>

  <p>Tímhle obdobím jsem si já osobně neprošla, nikdy jsem ty školní lásky nijak nehrotila a rozhodně jsem nebyla před svým vyvoleným nějaká nervózní, na rozdíl od svých romantických kamarádek. Jak se zdá, jsem asi o patnáct let opožděná a tímto obdobím si mám projít až teď. Divné.</p>

  <p>Když jsem dorazila až na parkoviště k nemocnici, dala jsem auto na první volné místo, které si mi naskytlo a vyrazila jsem kupředu. Jak se dostat k pokoji číslo čtrnáct jsem si naštěstí pamatovala dobře, prostě jenom jít do Giselina rajonu a tam po levé ruce najít čtrnáctku.</p>

  <p>Cestou jsem se snad poprvé zamyslela, co budu vlastně Napoleonovi vykládat. Ahoj, včera jsem na tebe byla strašně hnusná, ale v noci jsem si nějak uvědomila, že tě vlastně miluju, a tak jsem tady, abych se ti omluvila. Když to ještě řeknu svým hlasem, naprosto nepřizpůsobeným na romantická vyznání lásky, vyzní to spíš jako nějaký blbý vtip. Nenapadalo mě ovšem nic jiného, a tak se s tím můj manžílek bude muset smířit.</p>

  <p>Když jsem se dostala na lůžkovou část jednoho z mnoha oddělení, které tu mají (cestu jsem neznala zase tak dobře), celá nervózní jsem vešla dovnitř.</p>

  <p>Nedokázala jsem popsat, jak se cítím. Všelijak, kromě snad klidně a harmonicky. Když jsem vcházela do kanceláře, kde seděla sestra (pravděpodobně Marlena, se kterou jsem se bavila ráno), abych jí oznámila, že jdu na návštěvu, ještě jsem se stačila pohoršit na svým vzezřením. Vypadala jsem opravdu hodně komicky, šedá košile k světle hnědým kalhotám a k tomu boty na běhání, protože jsem je při vypravování nahmátla jako první. Když jsem si snažila aspoň trošku zkulturnit vlasy, uslyšela jsem: „Vypadáte docela pěkně. A chlapům je to stejně jedno, nezapomeňte, že ten váš je jenom v nemocniční noční košili.“</p>

  <p>Ano, byla to Marlena, její hlas byl naprosto nezaměnitelný. Taková by měla být správná zdravotní sestra. Byla to trošku rozvalitější, pohodářsky vypadající čtyřicátnice, která seděla za stolem, vyplňovala nějaké papíry a po očku mě kontrolovala.</p>

  <p>„Můžu jít?“ Možná jsem měla říct nějakou trošku rozvitější větu, hlavně když to už pěkných pár let mlátím do studentů – holými větami se vyjadřují jenom omezenci. Každopádně, toto byla výjimečná situace a vyžadovala výjimečné chování.</p>

  <p>„Samozřejmě, jenom běžte,“ souhlasila Marlena a naoko se vrátila zrakem zase zpět ke svým papírům. Já jsem se otočila a popošla pár kroků ke dveřím pokoje.</p>

  <p>Chtěla jsem ještě chvilku přiložit ucho na dveře, abych zjistila, co se tam děje, ale moc dobře jsem věděla, že Marlena na mě právě upírá svoje zvědavé oči a třese se nedočkavostí, co se bude dít, takže takhle bych vypadala asi dost trapně.</p>

  <p>Nezbývalo mi tedy, než zaklepat a spoléhat, že osud bude stát na mé straně. Nedokázala jsem si přesně představit, co vlastně od osudu požaduji, jenom jsem věděla, že vlastně nemám právo na nějaké odpuštění v první chvíli a podle toho situace v pokoji asi bude vypadat.</p>

  <p>Zaťala jsem zuby a zaklepala. Ozvalo se dále (bohužel vysokým pisklavým hlasem, který patřil tomu druhému, co byl na pokoji s manželem) a já jsem vešla dovnitř. Kolena se mi třásla a to značně víc, než jenom u zkoušky.</p>

  <p>Když jsem vešla, upřely se na mě dva páry očí a já jsem si jako nikdy dřív přála stát se jasnovidcem. Z Napoleonova výrazu se nedalo vyčíst nic, naprosto nic.</p>

  <p>„Ahoj,“ pozdravila jsem nesměle. Když neodpovídal, ještě jsem se ve zdvořilosti obrátila na jeho souseda a potom popošla ještě blíž, abych nevypadala zbaběle.</p>

  <p>„Ahoj, včera jsem na tebe byla strašně hnusná-“ začala jsem a uvědomila si, že přesně tohle jsem říkat nechtěla, a tak jsem radši takticky mlčela a čekala, co on na to.</p>

  <p>„Lindo, já to vím.“ Odpověděl úplně podle pravdy, ale nedalo by se říct, že bych s jeho odpovědí byla úplně spokojená. Každopádně jsem si uvědomila, že kajícná a pokorná asi nebudu (stejně by to ke mně ani za mák nesedělo), a tak budu muset změnit taktiku.</p>

  <p>„Ne, správná odpověď měla být Byla jsi, odpouštím ti, miluju tě.“ Doufala jsem, že pochopí, že si z něho nesnažím dělat legraci.</p>

  <p>Napoleon se zašklebil, jako když vám něco přijde vtipné, ale nemůžete to dát najevo, jinak byste ztratili patřičnou důstojnost. To mi aspoň trošku dodalo sebevědomí a poznala jsem, že se ubírám správným směrem.</p>

  <p>„Vždyť přece víš, že já tě miluju, ale taky jsi mi včera dost jasně naznačila, že druhým směrem to nefunguje, ne? Ale ta marmeláda byla fakt výborná, dokonce i s tím nemocničním pečivem.“</p>

  <p>Tentokrát jsem podobný škleb udělala zase já. Narážka na marmeládu mi přišla srandovní. Zbytek už tak úsměvný nebyl. Chtěla jsem mu říct, že jsem změnila názor, ale nenacházela jsem na to správná slova.</p>

  <p>Naštěstí mi pomohla historie, náš společný a největší zájem. Konkrétně výrok jedné Napoleonovy dějepisné postavy. „Vždyť ale samotný vlk zahyne, ale smečka přežije. Nemůžu tě nechat tady zemřít,“ podotkla jsem.</p>

  <p>Tak, konec řečí, pojďme si naše slova dokázat, řekla jsem si a přikročila ještě blíž k jeho posteli. Když otvíral pusu, aby něco řekl, přiložila jsem svoji dutinu ústní na jeho a políbila ho.</p>

  <p>Ze začátku vypadal i působil dost zmateně, ale po chvilce snažení z mé strany se asi nechal přesvědčit. Pokud jsem já, nenapravitelná realistka a rozhodně ne žádná romantička, byla ochotná mu dát pusu na veřejnosti (za veřejnost se považovala jedna a více osob), tak už to muselo něco znamenat.</p>

  <p>Po chvilce si mě přitáhl k sobě a objal mě. Já jsem udělala to samé a dala mu ještě jednoho hubana – tak moje maminka nazývala polibky otce, když se vracel z hospody. Já ani Napoleon jsme nebyli nijak povzbuzeni alkoholem, ale i tak to působilo spíš jako huban než jako polibek. Třeba Eunika by se na to nemohla dívat, ale já jsem byla docela spokojená.</p>

  <p>Abych ho ujistila, že to opravdu myslím vážně, dala jsem mu ještě jednoho a nechala svůj obličej u jeho, jak jen nejblíže to šlo. „Omlouvám se,“ řekla jsem mu blízko u ucha a doufala, že pochopí, že prostě procítěně mluvit neumím a tohle je maximum, co ze sebe můžu vyprodukovat.</p>

  <p>Potom jsem ho pevněji objala a v této poloze zůstala. Měla jsem hroznou chuť se ohlédnout, co na moje překvapivé chování říká cizí pán (hlavně po včerejším výstupu), ale na to mi bylo až moc hezky, abych to kazila.</p>

  <p>Najednou se rozlétly dveře, já jsem se strašně lekla, cukla sebou a otočila se, co se děje.</p>

  <p>Stála v nich Marlena, jak jinak, v očích jí svítilo a usmívala se. „Já jenom jestli něco nepotřebujete,“ omlouvala se, potom na mě nenápadně mrkla a zase zavřela.</p>

  <p>Atmosféra byla pryč, ale to nevadilo, protože Napoleon se mě zeptal: „Nechtěla by se projít?“</p>

  <p>To mě rozesmálo. Ne, že bych se mu chtěla vysmívat, ale protože jsem, dnes už podruhé, musela ocenit jeho humor. Musím podotknout, že mrzlo a on byl jenom v noční košili a nevěděla jsem, jak jsou na tom jeho končetiny po těch dvou měsících polehávání v nemocnici, ale s radostí jsem souhlasila. „Jasně, já tě budu zahřívat vlastním těle,“ řekla jsem mu a pomohla jsem mu vstát a propletla jsem mu ruku pod ramenem.</p>

  <p>Když jsme pomaloučku míjeli Marlenino království, nenápadně jsem na ni kývla a ona na mě taky. Věděla jsem, že pro pacienta není úplně přínosné se procházet v lednových mrazech po venku, ale pro manžela je to ta nejlepší věc. Nezahyne, protože má svoji samici, základ smečky.</p>

{% endblock %}
