{% extends "post.html" %}

{% set title = 'Povídka č. 7 (1. kolo)' %}

{% block content %}

  <h2>Dobrodiní knih</h2>

  <p>„Víš, já už ani nevím, kdy a kde a kdo.  Časem se ti tohle všechno splete. Cestovatel se má držet řádu. Když sejde z cesty, projde příliš mnoha přechody, mnoha mosty mezi světy, může zabloudit. Ale co. Všude se žije.“</p>

  <p>Pohybovala se sadou roztěkaných a zdánlivě zbytečných pohybů, vracela se a hned zase odbíhala. Celé to působilo chaoticky, ale nakonec se vše jakoby uzavřelo a ta nahodilá činnost dostala smysl. Nikdy nevěděl, kam její slova a činy povedou, ale kupodivu byla nesmírně užitečná. Raději moc neposlouchal její řeči. Znervózňovaly ho. Byly to nesmysly, přesto nebyla blázen. Ne tak, jak on blázny znal. Celé to bláznivě vypadalo, ale jen do doby, kdy se jednotlivé kousky poskládaly, zapadly do sebe a začaly perfektně fungovat. A navíc ten pocit, který po čase vycítil, který byl za vším, co dělala a říkala, za tím vším: ona přece ví, co dělá, je vždy ne o krok, ale o celou ligu napřed a na vás a na ostatní se dívá jako na malé a přihlouplé děti. Laskavě sice, ale taky trochu netrpělivě, naznačujíc, že kdybyste chtěli, mohli byste si konečně přestat hrát a začít jednat racionálně.</p>

  <p>Vypadala jako ztělesnění KPZ, někdo, kdo vás neohromí krásou a důstojností, ale je nesmírně praktický a užitečný. A - po těch pár společně strávených dnech mohl dodat – vlastně i příjemný. Nedokázal rozpoznat, zda kdy bývala hezká, ale rozhodně už byla ve věku, kdy na tom nezáleželo. Vypadala však podivně zdravě, ve výtečné kondici, dalo by se říct.</p>

  <p>Hlava ho zabolela, až se mu udělaly mžitky před očima. A začínal se mu i houpat žaludek. Přestože sundal všechny těžké části zbroje a zůstal jen ve vařené kůži, na ramenou mu seděla tíha a únava. Měl dojem, že záda už nikdy pořádně nenarovná. Podal jí knihy, o něž ho žádala.</p>

  <p>„Tady máš – Sedmicípá hvězda. Hnedle dvě knihy Sedmicípé hvězdy. Ať mi Stařena posvítí, abych věděl, k čemu potřebuješ hned dvě…“</p>

  <p>„Co? Jo.“ Podívala se na něj roztržitě a jakoby ho viděla poprvé. A přitom spolu s jeho družinou putovala už skoro dva týdny, než dorazili do pevnosti podléhající jeho pánovi. Poskytl jí na cestě ochranu a ona se ukázala být užitečná. Bylo dobrým zvykem rytířů chránit slabé… ačkoli…</p>

  <p>„Prosté “děkuji“ by postačilo, ženo.“ Zabručel a vtiskl jí svazky do dlaní a pustil je. „Díky bohům jsme v místě, kde nás čeká teplé jídlo a slušný nocleh. I septum a svaté knihy tu mají. Ale za krkem mě bolí a nevím, jestli pomohou modlitby. Já stejně neumím číst, tak nač dvě knihy?“</p>

  <p>„Ó ano, výborně.“ Vzala si je od něj. Její oči mu prozradily, že už je zase tady a teď a součástí dění. „Myslím, že to bude stačit.“ Potěžkala v každé ruce jednu tlustou knihu a se zalíbením hleděla na šířku hřbetu.</p>

  <p>„Lehni si na podlahu.“ Přikázala hlasem, který vykonal většinu práce za ní. Než si uvědomil, že vlastně plní její příkaz, ne prosbu či doporučení, už ležel.</p>

  <p>„To vaše brnění a kroužková zbroj. Žádný div, že máš páteř dobitou a do vývrtky.“ Vsunula mu obě knihy pod hlavu.</p>

  <p>„Zkus jakoby pustit lopatky do podlahy a hlavu nech položenou na Hvězdách. Ták. A dýchej.“</p>

  <p>Poslechl ji. Poslušně funěl a zavrtěl se na hrubých prknech podlahy, jak hledal větší pohodlí.</p>

  <p>„Mistr by se divil, co provádíš, a septon by tě potrestal za rouhání. Ještě že je to hlava. Myslíš snad, že se mi do ní něco svatého vsákne, když budu ležet na svatých knihách? Co budeš dělat s tím mým bolavým křížem a naraženou kostrčí? Jestli chceš taky použít Sedmicípou hvězdu, nejspíš tě popraví za svatokrádež.“</p>

  <p>„Není to svatost, ale tloušťka té knihy, co ti pomáhá.</p>

  <p>Alexandrova technika. Alexandr, jako ten vojevůdce.“ Mrkla na něj, že to by mu mohlo být blízké – voják a vojevůdce.  „To on vymyslel tuhle metodu. Ne sám Alexandr Veliký, ale ten hmm, ty bys řekl asi mistr. Alexandr. Prostě se jmenoval jako on. Občas jsou knihy k nezaplacení.“</p>

  <p>„To mi povídej. Můj pán za některé dal skoro tolik, jako za celou zbroj. Marnotratné počínání, říkám já.“ Ukázněně ležel a pečlivě dýchal – spíš funěl – jak mu nařídila.</p>

  <p>„No jo. Jste hrozně pozadu. Knihy máte drahé a je jich málo. Gutenberga na vás. Civilizační choroby vás sužují, ale výdobytky civilizace a její dobrodiní tu chybí. Kde je knihtisk, ptám se? Ale asi byste s tím měli přeci ještě pár desetiletí počkat. Všechny země kolem, kam se podíváš, stravuje válka i tak, natož kdyby se roztrhl pytel se snadným šířením informací. Ani vás dost neumí číst, abyste to ocenili a využili.  Jo, civilizace je civilizace. Informace jsou krásná věc, ale taky nebezpečná. Ovšem co se týče krční páteře a migrény, není nad dobrou knihu. Nad správně silnou knihu!“ pochvalovala si.</p>

  <p>Dávno věděl, že nikdo, kdo umí číst, nemá všech pět pohromadě. Všechna ta písmena a řádky slov jim zaručeně museli narušit mozky. A u ní mu to čtení vůbec nedávalo smysl. Chvíli praktická jako železný nůž, a vzápětí mele nesmysly a mluví o místech, lidech a věcech, o nichž nikdy nikdo neslyšel. A ke všemu si v těch zatracených knihách i čte a málokdy se to obejde bez vrtění hlavou a spousty připomínek a blahosklonného poznámek. Zhluboka si povzdechl. Uvědomil si, že krk a s ním i hlava opřená o Hvězdy ho skutečně přestali bolet. Zajímavé, ten její pošetilý nápad skutečně funguje, pomyslel si. (A pak upadl do mnohem zajímavějšího stavu, neb s tím dýcháním to přehnal a hyperventilace přinesla s sebou změněný stav vědomí… - ale to je zase jiná pohádka ? .)</p>

{% endblock %}
