{% extends "post.html" %}

{% set title = 'Adventní drabble č.10 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.10</h2>

<p>Rytíř sestupoval po schodech, v pravé ruce meč, v levé pochodeň. Cesta, kterou urazil až sem, byla nezměrná, ani nedokázal říci, kdy naposledy spatřil nebe. Každý krok vydával kamenný zvuk. Kromě nich a vlastního dechu neslyšel nic, přesto v něm sílil vtíravý pocit, že jej celou cestu cosi sleduje. Přesto mířil dále, bez vnitřního konfliktu.</p>
<p>Pak schodiště končilo a on se ocitl u masivních okovaných dveří. Mihotavé světlo pochodně odhalilo jejich výzdobu plnou kostí a lebek. Konečně byl u cíle.</p>
<p>Skryl meč a dotkl se dveří rukou. Vydaly zvuk podobající se zavytí nestvůry. Otevíraly se však lehce a bez odporu. Z prostoru za nimi zavál vítr a zhasil pochodeň. Přesto rytíř viděl docela jasně vyvýšené místo se stolem, křesly a truhlicemi připomínajícími rakve.</p>
<p>V jednom z křesel seděla zahalená postava, která vstala a pokynula mu. Uposlechl. Neotočil se, ale tušil, že východ se za ním uzavřel. S každým krokem postava před ním povyrostla. Vystoupil po dvou stupních a od kostlivce jej dělila jen dřevěná deska stolu. Kostlivec mu ukázal směrem k jedné z rakví. Rytíř odklopil víko a uvnitř nalezl pergamen. Položil jej na stůl a četl. Jestli zvítězí, jeho žena se vrátí do světa živých. Prohraje-li, půjde k Smrti do učení na celý zbytek věčnosti.</p>
<p>Kostlivec mu podal brk a rytíř jej opatřil podpisem. Pak usedli.</p>
<p>Na stole ležely tři kostěné kostky, kožený kalíšek a džbán vína. Smrt je pozorná, pomyslil si, ale obsloužit se musí sám.</p>
<p>Oči kostlivce zasvítily. Výzva ke hře. „Ty první,“ řekl Smrti do očí.</p>



  {% endblock %}
