{% extends "post.html" %}

{% set title = 'Adventní drabble č.11 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.11</h2>

<p>Východ přicházel a první sluneční paprsky daly nebi modrou a zlatou barvu. První ptáci se začali ozývat. Někde v nedaleké vsi dal o sobě zavytím a zaštěkáním pes, jehož pán možná již odcházel na svých pár jiter polí. Pšenice díky dešťům za několik dní povyrostla a dozrála a nastával čas žní.</p>
<p>Měli by už také vstávat, mají před sebou dlouhou cestu a nebylo by úplně nutné, aby je tu někdo spatřil. Byli ještě příliš blízko místům, kde by po nich mohli pátrat jeho řádoví bratři, které jistě Řád poslal, když se učeň nevrátil.</p>
<p>Byl již plně vzhůru, ale ještě vychutnával klid, který poznal díky ní, přestože zradil svůj Řád. Díky ženě, která stále ještě spala po jeho boku. Slyšel její lehký dech, cítil prsy jejích rukou ve svých a příjemné teplo jejího těla.</p>
<p>Jdi a přines hlavu čarodějnice, tak přikazoval list s podpisem velmistra. Ale mladá čarodějka završila jeho učení na člena válečného řádu zcela jinak. Mečem a kouzlem zbavili kraj démona, z jehož řádění předtím vinili čarodějku.</p>
<p>Cosi v něm změnila. Dodala mu odvahy do konfliktu těžšího, než byl boj s démonem. Ten krok jej osvobodil z Řádu. Jako chlapec obsluhoval mistry, podrobil se bití, cvičil se v boji. Učení víry nepodlehl, přesto bylo těžké vystoupit z uzavřeného rozjetého vozu. Ale dokázal to a jako by tím otevřel truhlici poznání. Svět, dříve studený a nepřátelský, mu teď připadal veselý a slunný, když svou mysl spoutal s ní. Byla to hra o život, ale krásný život ve dvou.</p>



  {% endblock %}
