{% extends "post.html" %}

{% set title = 'Adventní drabble č.12 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.12</h2>

<p>Sindibád a truhlice Marrákešská </p>
<p>První ranní paprsky dopadaly na střechy Marrákešského tržiště, kde už probíhaly desítky konfliktů mezi vyjícími trhovci snažícími se uchvátit pozornost všech, od nejzámožnějších kupců až po nejnuznější žebráky. Mezi plátěnými přístřešky se nesly vůně nejrůznějších exotických koření, byly zde vystavené tkaniny z celého světa všech barev i vzorů, jinde zase chrastily šperky a drahokamy tak vzácné, že i na takovémto místě byly jen málo kdy k vidění. Nejcennější z pokladů nalézajících se na toho dne na tržišti však k vidění nebyl. Cosi vypadající jako dva špatně maskovaní námořníci s turbany na hlavách se svýma hbitýma rukama zhostilo malé kovové truhličky vystavené na pozlaceném piedestalu.</p>
 <p>Maroof s Hassanem vystoupili ze stínů a jali se prchat před strážemi, jejichž pozornost teď odváděl sám Sindibád, kterýžto se strážnými horlivě debatoval o morálním i fyzickém úpadku místního despoty a samozřejmě také o tom, jak bylo město za jejich mládí lepším místem. Byl v této hře velice zdatný a strážní si tak ani nevšimli, že se jim jako dvě lasice prosmýkli zloději za zády. </p>
<p>Než se kdo stačil vzpamatovat, seděli všichni tři na velbloudech uhánějících k západním břehům Maroka, kde v přístavu v Safi čekala připravená loď i s posádkou. Když pak slunce dosáhlo v pravé poledne svého vrcholu, Sindibádovu tvář již ovíval mořský vánek. Znovu si prohlédl obsah malé truhličky a spokojeně se usmál. Teď se vypraví daleko na východ, podél severního pobřeží a potom po pevnině až k princi Kassimovi.  </p>



  {% endblock %}
