{% extends "post.html" %}

{% set title = 'Adventní drabble č.13 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.13</h2>
<p>Student obsluhoval dalekohled profesora Wernera už tolikrát, že by měl všechny úkony potřebné k zamíření přístroje k nebi provádět mechanicky a bez přemýšlení. Ale když jej dnes při práci zvědavě okukovala profesorova dcera, cítil se velmi neobratným. Pozorování Titanu pro něj dnes nemělo ani za mák půvabu, jakým oplývala dívka.</p>
<p>Cestou po schodech do profesorovy observatoře vytvořené z původního podkroví jeho domu si četl vzkaz s Wernerovým podpisem, který mu předala. Profesor se omlouval, že je dnes zaneprázdněn na univerzitě v sídelním městě a aby tedy Kristián provedl plánovaná pozorování sám dle instrukcí, které mu zanechává.</p>
<p>Ano, Kristián bylo studentovo jméno, za které se před Wernerovou dcerou kdovíproč styděl, když mu s úsměvem říkala: „Pane Kristiáne, mám tu pro vás od otce vzkaz.“ Dívka sama se představila jako Europa. „Ano, otec má rád staré mytologie,“ dodala k tomu. „Myslíte, že bych vás mohla doprovodit do otcovy observatoře?“ zeptala se pak.</p>
<p>„Jste tu přece doma,“ podařilo se Kristiánovi dostat ze sebe celou větu. „Já bych měl žádat o dovolení vás.“</p>
<p>„Do otcova království se dostanu, jen když mu nesu čaj a podobně,“ odvětila. „Ani uklízet tu nesmím. Do učení mne nevzal, takže musím žádat já,“ mrkla.</p>
<p>Kristián samozřejmě souhlasil a dívka se držela na krok od něj. Během příprav se pokoušel udržet hovor už proto, aby slyšel dívčin líbezný hlas.</p>
<p>Konečně úspěšně namířil tubus a v okuláru rozeznal malou tečku, která zvětšováním povyrostla. Pokynul dívce, aby se podívala. „To je měsíc Titan,“ řekl. „Objevil jej můj jmenovec,“ dodal pyšně.</p>




  {% endblock %}
