{% extends "post.html" %}

{% set title = 'Adventní drabble č.14 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.14</h2>


<p>Sacharóza vyšla z redakce Komety na Třpytné ulici a podívala se do notýsku.</p>
<p>1. Interview s výrobcem svícínků na prasečnicový stromeček Mlatem Bronzilajnenem</p>
<p>2. Soukromá pochůzka k paní Proustové v ulici Na desátém vejci</p>
<p>3. Interview s představeným cechu hudebníků na téma Velký Prasečnicový koncert pro Ankh-Morporskou smetánku…tedy spíš jen Ankhskou, Morpork dodá leda trochu kyšky</p>
<p>Sklapla notes a zahleděla se do ulice. Její pozornost upoutal hlouček trpaslíků, kteří si něco šuškali a nervózně se rozhlíželi. Cestou do výrobny svícnů takových skupinek zahlédla ještě několik, protože procházela trpasličí čtvrtí. Vešla do prodejny, a i tam narazila na pět ustaraných trpaslíků, jež nevypadali, že by je obchodník obsluhoval. Když jí zahlédli zmlkli a vytrousili se z obchodu. Zůstala sama s majitelem. Věnoval jí nervózní úsměv.</p>
<p>„Dobrý den pane Bronzilajnene, přišla jsem ohledně našeho smluveného interview, ale nejdřív bych se ráda dozvěděla, co to je za rozruch mezi trpaslíky.“ Trpaslík se nesouhlasně ošil, ale neochotně jí odpověděl.</p>
<p>„Velký Lamželezo Okujson odešel do trpasličího nebe. Chudák Starý prasák.“</p>
<p>Víc se jí z něj vytáhnout nepodařilo. Sacharóza si umínila, že této věci přijde na kloub. Když dokončila rozhovor, vykročila zpátky do redakce, ale nejprve zamířila k sídlu hlídky, aby trochu vyzpovídala desátníka Pleskot Řiťku. Okujsonovo jméno toho dne zaslechla ještě mnohokrát.</p>
<p>„Starý prasák byl mezi trpaslíky svým způsobem legendou, protože byl úzce spjat s oslavou Prasečnic,“ začala Pleskot „a jistě víš, jak jsou pro nás trpaslíky tradice důležité. Byl výhradním pěstitelem bílých potkanů pro slavnostní Prasečnicovou večeři – bílý potkan v trojobalu a kaštanový salát s majonézou. Vypadalo to, že tu bude věčně, ale náhle zemřel a ani si nezaučil zástupce. A krom toho, všichni jeho bílí potkani zmizeli. Popozítří jsou Prasečnice a nejbližší dodavatel je v Überwaldu.</p>
{% endblock %}
