    {% extends "post.html" %}

{% set title = 'Adventní drabble č.15 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.15</h2>

<p>S takto závažnými informacemi Sacharóza okamžitě zamířila do redakce, aby článek o bílých potkanech vyšel ještě téhož dne v novinách.</p>
<p>Mikuláš si pročítal stať, mezitím co Otto hledal vhodné ilustrační foto ve svém fotografickém archivu. Sacharóza se podívala na hodinky a s hrůzou zjistila, že hudební interview už asi nestihne. „Nu, co.“ Pomyslela si, že zítra je také den.</p>
<p>Hned časně z rána vyrazila do ulic a křižovala trpasličí čtvrtí, ale nic světoborného z toho nevzešlo. Nakonec zamířila k Prokopnutého bubnu. Slečna Rezámková patřila možná k nečekaným leč stálým zákazníkům. Knihovník, jenž vypadal, že zase trochu povyrostl (což je u orangutanech samců běžné), se rozvaloval u baru. Pokývla mu na pozdrav a už už k němu chtěla zamířit, když si všimla, že ve výklenku kuchyňské zdi sedí člen městské hlídky. Za stolečkem hodícím se spíš do domečku pro panenky, ve skutečnosti však posezením vyhrazeném malým národům. Poručila si tedy malé pivo a přitáhla židli, aby mu mohla položit pár otázek.</p>
<p>„Ajuj slečinko,“ pozdravil Pošuk Lulu Artur. „Víte, že žádné služebné tajemstvo nemožu řéct,“ dopředu avizoval.</p>
<p>„Lulu, nevíte, co se to děje s trpaslíky?“</p>
<p>„Kerú část myslíte?“</p>
<p>„Ohledně smrti starého Okujsona.“</p>
<p>„Jo ták, už sem se bál, že se ptáte na ty štyry nevyjasněné sebevraždy. Tak o těch nesmím řéct vůbec nic.“</p>
<p>Sacharóza na něj upřela pohled a čekala, co dalšího z něj vypadne.</p>
<p>„Starý prasák umřel stářím, to se nás netýká.“</p>
<p>„Mne by spíš zajímalo, co se stalo s jeho potkany.“</p>
<p>„Tož to by trpaslíci tež rádi věděli, ale já jim to netajím.“</p>
<p>„A už jste zahájili pátrání?“</p>
<p>„Nae, teď děláme na těch trpasličích sebevraždách, všechny je spojuje například to, že se udály včera v noci.“ Sacharóze cuklo obočí, ale nedala na sobě nic znát.</p>
<p>„A kde myslíš, že by ti potkani mohli být? Jsou bílí, tudíž jsou docela snadno k poznání.“</p>
<p>„Ajuj paňo, s potkanama je největší problém, že majú nožičky,“ sdělil jí vědoucně. „Asi utekli.“</p>
<p>„Taky jsem měla takové lechtivé tušení.“</p>
<p>„Ale jestli se ptáte, kam utekli…“</p>
<p>„Ano?“</p>
<p>„Tak na to šéfik nikoho nenasadil.“</p>
<p>„A kdyby se ti něco náhodou doneslo, mohl bys mi to prosím říct?“</p>
<p>„Jako o tých bílých potkanoch? Tož to ja, to služební tajemstvo nejni. Služební tajemstvo sú ty sebevraždy. To bych neřek ani slovéčko.“</p>
<p>Sacharóza se napila.</p>
<p>„A nemohla byste slečinko pro mne něco na oplátku udělat vy? Potřeboval bych poradit, esli by mi pan Mikuláš nevydal moje sebrané spisy.“</p>
<p>„Ty jsi sepsal nějaké spisy?“</p>
<p>„Nae, sebral.“</p>
<p>„Kde?“</p>
<p>„Totkaj, henkaj… Tak různě, prostě sebral. Jen tak se to válelo. Nebylo to někde zamčené nebo zarýglované ve stole či sekretářu.“</p>
<p>„No, možná by si to nejdřív potřeboval pročíst…“</p>



  {% endblock %}
