{% extends "post.html" %}

{% set title = 'Adventní drabble č.2 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.2</h2>

<p>Joachim Stein</p>

<p>„Človeče, tváriš sa ako Žid na zakáľačke.“</p>
<p>Stein na Nádasdyho zazrel. Ferencovi uňho prešlo viac než väčšine, ale počúvaniu takýchto mrzkých prirovnaní nebol naklonený nikdy a už vôbec nie teraz. Vranovlasý bojovník naň pobavene vyceril zuby.</p>
<p>„Čo ti tí pajáci v biskupskom paláci povedali?“ úsmev pohasol, „Azda ťa neposlali späť domov?“</p>
<p>Pokrútil hlavou.</p>
<p>„Najprv mi nalej.“</p>
<p>„Iste, sľúbená hornozemská.“</p>
<p>Nádasdy siahol po čutore a naplnil dva kalíšky. Pach vojenského ležania na chvíľu prebila ostrá vôňa vínovice. Stein ju do seba obrátil.</p>
<p>„Nebesá! Žíha ako...“</p>
<p>„Peklo samo, že? Ešte?“</p>
<p>Stein nebol naklonený ani rúhavým výrazom, ale prikývol, posunul kalíšok naspäť a rozhovoril sa.</p>
<p>„Aj na to ma Pálffy so Schwanzenbergom nahovárali.“</p>
<p>Vraj sa na ňom vojna priveľmi podpísala. Dajsamisvete! No tak trochu kríval. A čo? Do starého železa zatiaľ nepatril. Ešte sa nemohol vrátiť domov. Nezniesol by to tam. Práve preto sa chcel pripojiť k výprave na Turkov.</p>
<p>„Napokon si zmysleli vyslať ma na cestu do Schemnitzu.“</p>
<p>„Banské mestá? Čo už to je za výpravu?“</p>
<p>„Tam totiž mieril oddiel akindžiov, ktorý si prepadol. Nejaký zradca ich mal dostať za hradby mesta.“</p>
<p>„Azanyad, nie..“</p>
<p>„Ale áno. Mám ho dolapiť. Priradili mi aj sprievod. Nejakého Jaroša. Vieš o ňom niečo?“</p>
<p>„Jaroš, Jaroš... Ach áno. Taký výrastok. Slúži medzi pikaniermi, ale vypožičiavam si ho tiež. Aby naučil mojich chlapcov pár trikov, otvoril nejaké neochotné ústa.“</p>
<p>Nádasdy sa zlomyseľne uškrnul. Krvilačne. Na moment pred ním nesedel Ferenc, ale Čierny bej. Stein... Nezdieľal túto náruživosť, ale nemohol neoceniť jej zásluhy, keď bola obrátená proti nepriateľskej pliage. Ohňom proti ohňu. Služba vyššiemu cieľu. Na tom záležalo.</p>
<p>„Čo je zač? Pálffy sa tváril, že sa ho rád zbaví.“</p>
<p>„Pálffy potom nevie, že zahadzuje poklad. Ikeď všetka česť, tento tu to starostlivo skrýva. Tichá voda, také zmoknuté kura a trocha akoby každú chvíľu čakal kopanec.“</p>
<p>Nádasdy zamyslene prižmúril oči.</p>
<p>„Vieš, na popravisku som si všimol, že odsúdenci zvyknú byť buď roztrasenými troskami, vášnivo vzdorovití, alebo... Kráčajú, akoby sa ich už nič nemohlo dotknúť. A on mi pripomína tých tretích.“</p>
<p>Blúdiaci. Stein pokýval hlavou. Niečo o tom vedel.</p>
<p>„Dá sa naň spoľahnúť?“</p>
<p>„Jednoznačne.“</p>
<p>No dobre, nejako si s tým už poradí.</p>


  {% endblock %}
