{% extends "post.html" %}

{% set title = 'Adventní drabble č.20 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.20</h2>
<center>A</center>
<p>Dívá se z okna na mračna přelévající se ponad kopce do říčního údolí pod věží.</p>
<p>„Zavři ho, prochladneš.“</p>
<p>Ne. Ona nikdy. Jednou se pod ní dokonce probořil led na řece, naštěstí jen kousek od břehu a tak nohama dopadla na pevné dno, než s ní proud mohl smýknout pod ledový krov. A protože se tam vybrala potají, zpátky musela dojít sama a pěšky. Ale na druhý den ani smrknutí. Snad že se tak náhlila, že mokrý šat se na ní zahřál... Ale třeba taky vůbec ne.</p>
<p>„Není mi zima.“</p>
<p>Sněhem vonící vzduch na její kůži je spíš svěží, chlad hebký jak hedvábí. Jednou se dotkla pravého. Když se setkali s průvodem královy sestry. A pak ještě...</p>
<p>„Mně je, když tě vidím.“</p>
<p>„Tak si vem ten plášť, co leží na truhlici.“ hodí rukou za sebe.</p>
<p>„Nemysli si, že nemám ponětí, co děláš. Na co čekáš.“ Jeho hlas zní s každou větou rozzlobeněji. „Vím jaký je den.“</p>
Zimní slunovrat.</p>
<p>„Ale tvrdíš, že to není pravda. Tak čeho se obáváš?“</p>
<p>I v jejím hlase je trpkost, tenhle konflikt trvá už třetím rokem.</p>
<p>„Že se nikdy ze své bláhovosti nevzbudíš, když tě v ní nechám pokračovat. Jako matčina sestra.“</p>
<p>Neměla hezký konec, jen co je pravda. Smutnější byl jen pohled na to, co mu předcházelo.</p>
<p>„Chápu.“</p>
<p>„Nebudu se na to dívat. Rozumíš? Přísahám, já udělám cokoli a všechno.“</p>
<p>„Cokoli?“</p>
<p>Konečné se k němu otočí. Vítr si pohrává s jejími rozpuštěnými vlasy, ruce má zatnuté v pěst a on musí při pohledu na ní postřehnout cosi, co dříve neviděl, neboť půl-krokem ustoupí vzad. Pousmání ji tahá za koutky úst. Cítí jistotu</p>
<p>„Slyš tedy i můj slib. Tohle je noc konců i tohle skončí. Jak slunce klesá na západě a zvedá se na jihu, tak já všeho nechám, všechny cetky vyhodím, pokud neuspěji. Ale upři mi ji a právě tehdy do konce svých dnu se budu obracet k půlnočnímu obzoru i kdybych ho jen tušila za zdmi temnice.“</p>
<p>Bratr váhá, ale nakonec přikývne.</p>
<p>„Přijímám.“</p>
<p>Když domluví, z mlhy venku zazní vlčí zavytí. On sebou polekaně trhne, ale jí se srdce rozbuší zcela jiným citem. Divoký hon začíná. A protože byli slyšet, přijde i sem. Její šance. Jediná.</p>

<center>B</center>
<center>Přízrak Vysočinský aneb děsivý příběh hraběte Zemuly - část třetí, o něco méně znepokojující než část čtvrtá, ale o něco více znepokojující, než část druhá. </center>
<p>Oba muži vystoupali po hlavním schodišti několik pater vzhůru. Cesta teď směřovala do polorozpadlé chodby s celami po stranách, se střechou tak děravou, že přes ni bylo vidět to málo, co mraky odhalovaly z nebe a čímsi, co v oněch celách žilo. Náš hrdina udělal první krok směrem dopředu, když uslyšel znepokojivé vrčení, doprovázené hrůzostrašným zavytím. V cele po jeho levici bylo zavřené přerostlé zvíře, něco mezi vlkem a lidoopem, schopné se pohybovat po dvou, ale opírající se o přední tlapy osazené dlouhými ostrými drápy. Horní tesáky tomu čněly z tlamy ven a krvelačné rudé oči ho probodávaly pohledem. Mohutný trup to mělo porostlé huňatou srstí, která ukrývala tvrdou a neprostupnou kůži. Ta věc byla uvázaná na řetězech, které jí držely mimo dosah mříží. Rychle se odtáhl od té zrůdy co nejdál. Při představě, že ho tahle věc pozorovala v lese, se mu udělalo špatně, jak si začínal uvědomovat, že hra kterou hraje, může být nad jeho síly, a že sázka, kterou učinil, když přijel do těchto končin, právě výrazně povyrostla - teď už hrál o holý život a balancoval na hraně, za kterou už by si mohl snadno podepsat rozsudek smrti. V další cele stál jakýsi starý muž a rukou ukazoval směrem dovnitř. Bylo tam s ním dalších asi osmdesát lidí. Všichni jen bloumali z místa na místo, bezcílně tloukli hlavami o zeď a vyluzovali prapodivné zvuky. Někteří se naparovali jako pávi, přesvědčeni o své nekonečné důležitosti. Stařec stojící u vchodu nebyl nikdo jiný než Fíkus z Jablunkova. "Hrabě Zemula je nemocný a starý a nemá Vám co nabídnout!" Zakvílel. "To já jsem skutečným vládcem tohoto hradu." Poté se otočil a vydal se s ostatními bezcílně poflakovat po cele.</p>
 <p>  "Zlí jazykové by řekli, že zde odklízíme mrtvoly. Já bych řekl, že pouze ty politické." Zašklebil se kastelán Beránek. Za zády jim proběhl ošklivý hrbáč Všejedlý s dlouhým pohrabáčem v ruce. Šťouchl do vlkodlaka, aby jej zkontroloval. "Tady pan kolega zde obsluhuje zvěř a návštěvy. Dává tu pozor, aby mezi nimi nedocházelo k žádným, řekněme... konfliktům." Další cely byly naplněné podivnými a mnohdy ještě horšími ohavnostmi. Oživené bytosti sešité z různých těch, mrtvoly stažené z kůže, ale i nestvůry různých velikostí i tvarů. Od přerostlých pavouků až po hbité psovité šelmy, čekající na pokyn k pronásledování. Dveře do hlavního sálu se otevřely a v jeho prostředku stála truhlice. Ne, nebyla to truhlice. Byla to rakev. Krásná, lakovaná rakev s ručními řezbami a ornamenty. Její víko se s rachotem odklopilo, a než si náš mladý hrdina uvědomil, co se děje, svraštělá osoba děsivého vzezření se vzpřímila jako hrábě, na které někdo došlápl když ležely nesprávnou stranou na trávníku. Prastarý upír teď stál kolmo k zemi a jeho vodnaté oči si prohlížely mladíka stojícího před nimi. "Přiveďte jej blíž, Jiří. Chci se s tímto hochem důkladně seznámit." Zemulův zlomyslný smích se rozlehl sálem.</p>

  {% endblock %}
