{% extends "post.html" %}

{% set title = 'Adventní drabble č.23 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.23</h2>
<center> A</center>
<p>Tmu prozařují četné táborové ohně. Muži by měli spát, avšak do východu slunce je daleko. Málo zkušeným nedá spát pomyšlení na to, co přinese zítřek. Cosi zavyje do noci a vyděšení hastati se chápou oštěpů a štítů, protože už už slyší troubení osmdesáti slonů, kterým prý mají zítra čelit.</p>
<p>Principové a triariové naopak pokoušejí Fortunu při hře v kostky, protože co se má stát, to se stane a o tom rozhodují bohové. Je slyšet hovor, povzbuzování, kostky dopadající na truhlici, která slouží jako stolek. Ruce kmitají, přijímají sázky a vyplácejí, uznale klepou po ramenou vítězům a při porážce rozezleně bouchnou do dřeva.</p>
<p>Proč myslet na to, co bude zítra. Oni jsou přece synové Martovi, a který otec by tak dlouho trýznil své syny. Ano, ten, který vede jejich nepřátele, nebyl ještě nikdy poražen. Ale byl už odražen. A to celkem třikrát u Noly.</p>
<p>Co dokázal hrdina Marcellus, dokáže i jejich Cornelius. Jako mladík vysekal otce u Ticinu z obklíčení a zachránil mu tak život. V Hispánii porazil bratry Baalem milovaného. A nyní je dovedl sem, kde jednou pro vždy učiní konec konfliktům mezi jejich věčným městem a těmito služebníky Molocha, jemuž přinášejí lidské oběti. Každý z nich vystoupí z šedi davu a stane se nesmrtelným, když přinese vítězství. Zde, poblíž města, kterému někteří říkají Velká, jiní Malá Zama.</p>

<center>B</center>
<p>Východ z domu se otevřel a mladá černovlasá dívka se zavytím vyběhla ven. Byly vánoce, celé předměstí bylo pokryté ohromující vrstvou sněhu a další se sypal z nebe již třetí den bez přestání. Někde v zahradě se skrývala její sestra, připravená na ukončení jejich konfliktů jednou pro vždy. Černovlasá dívka se schovala za truhlici vedle zahradní houpačky. V jejích rukách se sněhové vločky měnily na zbraň hromadného ničení. Aspoň tedy ve hře. </p>
<p>Vystoupila ze stínu truhlice a cosi jí prolétlo kolem hlavy.  „Ta malá bestie,“ pomyslela si. Rezavý flek schovávající se za rohem domu mířil přímo na ní a sněhové koule létaly všude kolem. Její sestra byla vždycky ta agresivnější. Tohle jí tedy rozhodně nedaruje. Rychle uplácala několik koulí a z bezpečí svého krytu je začala naslepo házet. </p>
<p>Uslyšela, jak jedna z nich o něco narazila hned kousíček za krytem. Musela svojí sestru trefit. Ale ta potvora to stejně nepřizná. Připravila si další náboj a rychle vstala, aby se ujistila, co se děje. Hromada sněhu jí přistála přímo v obličeji a ona se svalila na záda. „Jak jinak…“ pomyslela si. Podívala se na svojí sestru stojící přímo nad ní a hbitě jí zásah vrátila ze stejné blízkosti. Obě se rozesmály a než se nadály, už se obě válely po zemi a házely sníh na tu druhou. Věděly, že budou mít pořádnou rýmu, ale to jim bylo jedno. Když se vrátily domů, byly obě úplně promrzlé, ale spokojené. Hned za dveřmi ucítily vůni zázvorových sušenek prostupující z kuchyně celým domem. </p>



  {% endblock %}
