{% extends "post.html" %}

{% set title = 'Adventní drabble č.3 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.3</h2>
<center>Přízrak Vysočinský aneb děsivý příběh hraběte Zemuly - část první, ještě ne tak děsivá.<center>
<p>Zavytí vlaku bylo v opuštěné stanici uprostřed lesů slyšet na kilometry daleko. Žádný jiný vlak si tak daleko na východ netroufal, žádný jiný strojvedoucí nechtěl zbůhdarma vystavovat své pasažéry prastarému děsu, který již po generace terorizoval okolní lesy a vesnice a jehož jméno šeptal vítr po nocích, když tloukl okenicemi na domech odvážlivců, kteří neměli dost peněz či rozumu, aby z onoho místa odešli jinak, než nohama napřed. Ani tomuto strojvedoucímu, který však pro náš příběh není nijak důležitý, se tu zastavovat nechtělo. Nicméně to byl právě on, kdo strávil posledních deset let svého života na této nechvalně proslulé trase, kde obsluhoval parní lokomotivu provázející cestující místy, ze kterých ho mrazilo v zádech. Cosi zlého sídlilo všude kolem a on se obával dne, kdy ono zlo pozná na vlastní kůži. Po této zastávce se vlak vracel zpět do civilizace, na místa, kde moderní svět staré přízraky a děsy zavrhl, jen aby je vystřídal novými, kde koňské povozy začínaly ustupovat prvním automobilům a kde vaši krev mohl stejně dobře jako vlkodlak v lesích vysát pobuda číhající v boční uličce. Nicméně tento prales nového světa byl ještě hodiny a hodiny cesty daleko a i přes všechna svá úskalí působil méně skličujícím dojmem, než svět, jímž právě projížděl. </p>
<p>    Černočerná tma, doplněná o hutnou, těžkou mlhu pak dodávala okolní krajině na působivosti. Byl pozdní večer, postupně se přelívající v noc. Noc, na kterou náš cestující nikdy nezapomene, zůstane-li tedy naživu. Na této zastávce většinou vystupoval pouze jediný člověk. Mlčenlivý kastelán Beránek, vysoký, štíhlý muž, až patologicky oddaný své práci pravé ruky hraběte Zemuly. Sám byl opředen nemenším množstvím strašidelných příběhů, žádný z nich se však nerovnal děsivosti jeho pána. Avšak ani kastelán Beránek nebude, alespoň prozatím, osobou, jejíž osud budeme v tomto příběhu sledovat. Osudné noci totiž kastelán v onom vlaku nebyl. Spolu se svým pánem vyčkával ukryt ve stínech hradních komnat, kde osnoval plán, co provede s jejich blížícím se hostem. </p>
<p>   A právě tento host bude naším hrdinou. Mladičký novinář neznámého jména i původu měl tu smůlu, že si korespondenčně domluvil schůzku s hrabětem Zemulou, kterého hodlal navštívit v jeho obávaném sídle na Vysočině a jednou provždy tak vyprázdnit truhlici záhad, které místního hraběte obklopovaly. Vystoupil tedy v zapomenuté stanici uprostřed lesů, pohlédl k nebi, jež bylo z větší části zakryté povyrostlými větvemi, a zamával rukou strojvedoucímu. Ten se na oplátku jen pokřižoval a uháněl z toho místa pryč, co mu jen kotel stačil. V mladíkově mysli se v tu chvíli rozehrála hra konfliktů, byl-li to skutečně dobrý nápad. Žádný člověk, který se za hrabětem na hrad vydal, se nikdy nevrátil, nebyl-li to kastelán Beránek, či vykutálený nohsled a patolízal Všejedlý. Žádný učený však z vlaku nespadl, a tak náš mladý novinář přidal do kroku a vydal se po temné lesní cestě vstříc svému osudu. Osudu, který si podepsal vlastní krví. </p>



  {% endblock %}
