{% extends "post.html" %}

{% set title = 'Adventní drabble č.4 (2021)' %}

{% block content %}

  <h2>Adventní drabble č.4</h2>
<p>Žár a rudý přísvit v šeru, vzduch hutný, téměř nedýchatelný. Obsluhoval pec už několik hodin a na odpočinek nebylo ani pomyšlení. Pečlivě sledoval barvu výhně a krok za krokem přísně dodržoval prastarý postup. Získat tajemství výroby golemů nebylo snadné a stálo to mnoho životů, úsilí a času. Nepřesnost v téhle fázi je nepřípustná. Vše je téměř na dosah ruky, nejen hlinění muži, i koně a další stvoření. Podobná si navzájem, ale i s charakteristickými odlišnostmi. Ne, nebude na nich jeho značka, jako podpis zůstal snad tu a tam otisk prstu v terakotě. Učení mistra Konfucia stejně nabádá ke skromnosti a odrazuje od přílišné domýšlivosti a pýchy. Nebažme po vlastní slávě, raději zaměřme pozornost k dokonalosti své práce.</p>
<p>Zvedl oči od výhně k nebi. I přes oslnění rudou žhavostí vidí, jak čerň začíná blednout. Snad už za chvíli uslyší ranní ptáky. Práce se chýlí ke konci – brzy bude muset probudit pomocníky, aby byl zdárný. Nepřestává sledovat odstíny rudé v pecích a přemýšlí o slovech, která oživují. Oživují i hlínu. Slova a oheň. Úsvit je nadosah a stejně tak završení díla.</p>
<p>O NĚKOLIK STALETÍ POZDĚJI</p>
<p>„Sedm tisíc bojovníků! Lučištníků, vozatajů, jezdců i koní! A – představte si: ani dva z nich nejsou úplně stejní. Liší se i takovými detaily, jako jsou čáry v dlani, nejen výrazem obličeje.“ Průvodce výpravy nadšeně rozhazoval rukama a členům odborné konference přibližoval všemožné podrobnosti o terakotové armádě císaře Čchin Š´-chuang-ti. Obcházeli naleziště po prašné cestě v terénu a živě diskutovali o pozoruhodné památce.</p>




  {% endblock %}
