{% extends "post.html" %}

{% set title = 'Adventní drabble č.10 (2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.10</h2>
<p>Yoren

<p>Na túto dennú dobu bolo výnimočne málo svetla. A dusno ako keď sa Starý medveď naštve. Mrzuto pozrel na zamračené nebesá, ktoré miestami prechádzali zo zamatovo čiernošedej do charizmaticky zelenej a vyvolávali v ňom výnimočne básnické rozpoloženie. Z tohto nebude len lejak, ale i krúpy. Vytiahol list papiera s náčrtom mapy. Široko ďaleko žiadna usadlosť, nič. Odpľuvol si aj s kúskami kyslolistu, čo prežúval a zas ho schoval. Naľavo od neho bola rieka bez zjavného brodu a dosť vysoko, aby sa aj vyliala. Napravo skalisté pahorky. Nič nedá za pokus nájsť jaskyňu, či previs, kde by prečkal tú trmu vrmu. 
<p>Keď sa konečne vyštveral k poriadnejšej diere, bol tak mokrý ako keby už zmokol. Myslel, že si už môže vydýchnuť, ale len čo vkročil do tieňa jaskyne, ktosi sa naňho vyrútil vrieskajúc čosi ako „zaslúžil si to“. Len tak tak ho premohol a bol v pokušení ho hneď prebodnúť, ale najprv chcel zistiť, kto si čo zaslúžil a prečo ho za to chcel zahrdúsiť, sotva vošiel.
<p>„Myslel som, že si stráž z Oceľova. Hladomor na nich! Nedostanú ma živého. Bol som v práve, keď som toho panského zkurvysyna zabil.“
<p>„Koho?“
<p>„Toho, čo mi prášil manželku.“ 
<p>„Hmm...“
<p>Hlesol Yoren, čo žiadnu manželku nikdy nemal. Poškrabal sa na brade spola zamyslene a spola preto, že ho štipla voš. Dúfal, že bude mať pokoj aspoň než dorazí na juh, ale stavy sú nízke. Regrútovať treba, kde sa dá.
<p>„Nechceš miesto doživotného, čo by nemuselo trvať dlho, skrývania radšej do Nočnej hliadky?“

{% endblock %}