{% extends "post.html" %}

{% set title = 'Adventní drabble č.11 (2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.11</h2>

<p>Neuvěřitelné se stalo skutečným. Je to Orystes!
<p>Tobias byl naprosto zaskočen. Orysta si na Kranboru zvláště nevšímal, byl pro něj jen jedním z mnoha členů řádu. Cítil k nim to, co hráč cítí k figurkám na šachovnici. Denní rutinu si zpestřoval tím, že si s nimi hrál. Jejich sny a touhy byly jednoduché, stačilo málo, aby je kdykoli popudil proti sobě. Zanášel mezi ně drobné i větší rozmíšky, jen pro vlastní potěšení.
<p>Druog, to byl dokonalý exemplář. Ne hloupý, oplývající i jistým charismatem, ale omezený, jednoduchý ve svém pohledu na svět. A právě proto bylo tak jednoduché jím manipulovat. A přitom to byl Druog, kdo si myslel, že manipuluje druhými. Namyšlený a ješitný.
<p>Dnes však Orystes zabil Druoga, Tobiasovu oblíbenou hračku! Celá čarodějova hra teď už nevypadala natolik výjimečně. Zuřil. Ten chlapec jej připravil o pocit toho, že jen on dokáže něco takového.
<p>To nezůstane bez odezvy. Ne teď. Je ještě brzy. Nemůže zhatit jejich hlavní plán. Ostatně Rajka, která ve skutečnosti velela manželově stráži, svůj boj prohrála. Ženy. Příliš si věří. Jako Tobiasova matka, která to zaplatila životem.
<p>Zatnul pěst. Ne, nesmí se nechat znovu ovládnout touhou po pomstě. Je stejně sametová jako Ensida, a stejně omezená. Dítě, které přežilo hladomor, jedlo listy ze stromů a pilo odpornou zelenou vodu, než jej zachránil řád. Snadno podlehla Druogovi. A snadno podlehl i Tobias, navzdory Auryzovu varování. Jenže ten nemožný Radomir útok jeho noční můry přežil. Má snad devět životů.
<p>Dobrá tedy. Poslechne strýčka. Tentokrát. Povolá draka. A pak zničí všechny.

{% endblock %}