{% extends "post.html" %}

{% set title = 'Adventní drabble č.12(2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.12</h2>

<p>Raoul Wallenberg

<p>Bylo to čiré šílenství, měl chuť smát se strachy. Místo toho jen zrychlil krok. Vagón s olupující se barvou a desítkami vyděšených lidí byl už přímo před ním. Ještě jednou se ujistil, že má všechno potřebné, nadechnul se a rozběhl. Na žebříku málem uklouzl, jak se náhlil, ale copak si mohl dávat načas, když se dveře zavírali? 
<p>Najednou byl na střeše. Rychle se sehnul a plnými hrstmi začal podávat pasy švédské příslušnosti maďarským Židům. Zdola uslyšel výkřiky vojáků, pak se přidala i střelba. Ani neměl čas leknout se, trhnout sebou a pak už prostě jen náboje svištící mu nad hlavou ignoroval. Kdyby si opravdu želali sestřelit jej, už by ležel v kaluži krve pod vlakem. Ne, jen hezky klidně, támhle je další ruka a tam další. Ani jediný pas nebude nevyužit. Jedním otvorem zahlédl otce s dětmi, oči se jim setkali a bylo těžké ten pohled vydržet. Ne, rozhodně je nenechá napospas těm mizerům. 
<p>Když měl brašnu prázdnou, seskočil dolu a tak trochu ohromeně se rozhlídl kolem. Odkašlal si, teď potřeboval znít sebejistě. 
<p>„Okamžitě propusťte všechny pasažéri se švédskym občanstvím! Jinak se můžete těšit na soudní jednání a diplomatickou katastrofu.“
<p>I po letech byl ohromen, že ho poslechli.

{% endblock %}