{% extends "post.html" %}

{% set title = 'Adventní drabble č.13(2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.13</h2>

<p>Starý vysloužilec přerušil vyprávění, protože si přál svlažit rty. Sotva se napil, pokračoval: „Ozval se hrozivý výbuch. To po zásahu vybuchla těžká kára plně naložená municí. Hráz, po které jsme postupovali mezi dvěma zamrzlými rybníky, se pokryla změtí trosek, kamení a koňských i lidských těl. Kráter zcela znemožnil další průchod. Ze tří stran nás tísnili Francouzi.
<p>‚Pánové, zbyla nám jediná cesta,‘ křikl na svou suitu generál Dochturov poté, co popřál ošklivou smrt Buxhowdenovi, který podle něho svou neschopností prohrál Slavkovskou bitvu. ‚Támhle tudy, přímo přes zamrzlý Žatčanský rybník.‘
<p>„Ale generále,“ oponoval mu rakouský generál Stutterheim, ‚tím obětujete polovinu vaší kolony.‘
<p>Dochturov, kterému jsme přezdívali ‚železný generál‘, však dostál své přezdívce. Nasadil výraz nepřipouštějící odpor, v očích se mu zalesklo a nesmlouvavě odpověděl: ‚Chcete snad říct, že polovinu zachráním. Nebo byste raději, abychom složili zbraně? Nemáme na výběr.‘ A pak se s tasenou šavlí vrhl jako první vpřed. Já to vidím jako dnes. Hladina zamrzlá, kolem nás prorážejí led francouzské dělové koule a tříští cís e ledové střepy létají kolem nás. Naštěstí generál odhadl situaci správně. Polovina z nás se z toho pekla opravdu dostala se zdravou kůží.
<p>Žádný div, že jsme k němu vzhlíželi jako k otci. Jeho jednání bylo vždy vrcholem statečnosti a obětování. Snášel s námi tvrdost života na tažení jako žádný jiný generál. Později vítězil v Prusku i doma. A jak už to bývá, zůstal ve stínu jiných, mnohem méně schopných mužů, kteří však uměli lépe o svých zásluhách vyprávět. A tak to vyprávění zbylo na mně.“

{% endblock %}