{% extends "post.html" %}

{% set title = 'Adventní drabble č.14(2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.14</h2>
<p>Luna Laskorádová

<p>Hodiny Obrany proti čiernej mágii s Lupinom sa jej páčili viac, než so Snapeom, ale nemalo zmysel sa tým priveľmi zaoberať. Keď človek trávil veľa času ťažkaním si a želaním, aby niečo bolo inak, iba čo mu to začalo vadiť viac. 
<p>To mala overené. Miesto toho sa mohla pokúsiť hľadať klady a spôsoby, akými si celé jednanie spríjemniť. Odvádzala otcovu pozornosť od smútku za mamou nápaditým špekulovaním a pátraním po rôznych tvoroch, niečo, čo obaja najprv potrebovali a teraz sa tým skôr bavili. Vždy, keď sa jej prihodilo niečo nepríjemné, napríklad zmiznutie topánok, radšej rozanalyzovala situáciu, než aby sa zapodievala tým, že o ňu vôbec nestála. 
<p>Bola v tom fakt dobrá. Väčšina vecí jej pripadala v prvom rade zaujímavá a často krát si ona jediná dokázala všimnúť to, čo ostatní nie. Či už šlo o Testrálov, Narglov, Šedú dámu, to, že ich nový učiteľ je vlkolak, alebo že ľalie vháňajú Majstrovi elixírov slzy do očí. Najskôr podozrievala alergiu, ale pochybovala, že niekto je alergický na ilustrované básne. Bude si musieť počkať na ďalšie stopy. 
<p>Dovtedy by mohla zistiť, čo je to s tými snami o bielom králičkovi s presýpacími hodinami na retiazke vesty, ktorého vidí utekať k jame pod Zúrivou vŕbou. 



{% endblock %}