{% extends "post.html" %}

{% set title = 'Adventní drabble č.15(2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.15</h2>

<p>Richard
<p>Její zelené oči bloudily po táboře. K jejímu překvapení nebylo nikde ani živáčka, jako by se tu prohnal hladomor. V tuhle denní dobu by tu měly být stráže, ale bez nich bude všechno lehčí. Aspoň nemusí nikomu vysvětlovat, co tu vlastně dělá. Její charisma jí už sice pomohlo vylhat se i výjimečně složitých situací, ale přeci jenom, provokovat královi strážce po tak závažném incidentu by nepřineslo nic dobrého. 
<p>Zahalila se do svého sametového pláště a vyrazila. Na stromech kolem začínalo růst listí a celá příroda se pomalu probouzela k životu po zimním spánku. Dolehl k ní vzdálený křik, jak zoufalý ženský hlas někde na druhé straně tábora sténal nad ztrátou manžela, hrdinně padlého při dobývání.  Nepozorovaně vklouzla do stanu po své levici. Na stole stálo několik nádob, všechny naplněné různými směsmi. Lidé téhle doby je považovali za léčivé, ale ona dobře věděla, že většina z nich jsou jen placebo, kterému je připisována léčivá síla díky těm málo případům, kdy nemocný nepodlehl nějakou náhodou infekci. A ona se dnes postará, aby podlehl. 
<p>Její znalosti chemie byly ohromující. Aby také ne, když travičství bylo hlavní náplní její práce. Rychle zkontrolovala všechny nádoby, aby zjistila co v nich je. V jedné obzvlášť nelibě páchnoucí pak objevila něco, co ranhojič podle učebnic historie použije k vyléčení muže ležícího několik desítek metrů od ní. Odloupla falešný smaragd na svém prstenu a rychle do nádobky přimíchala bílý prášek ukrytý v něm. Tahle věc spolehlivě zajistí otravu krve. Všechno bude vypadat jako infekce a přirozená smrt. A jeden z největších panovníků historie, dobyvatel poloviny Evropy, zemře o desítky let dříve, na hloupou otravu po zásahu šípem. 


{% endblock %}