{% extends "post.html" %}

{% set title = 'Adventní drabble č.16(2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.16</h2>

<p>Edmure Tully

<p>Prvý šíp. 
<p>Vedľa.
<p>Potrebuje sa vzchopiť, pri Siedmich, byť silný. Ale nemôže zjednať s očami, aby prestali vlhnúť, kedykoľvek upriami zrak na bárku so zosnulým pánom Riekotočia. Chcel, aby bol naň pyšný pre viac, než narodenie, ale posledné mesiace, kedy mal príležitosť preukázať svoje schopnosti, boli len reťazou pohrôm. Možno bolo lepšie, že vtedy už nebol celkom pri zmysloch. Nezniesol by, keby sa k nie vždy férovému káraniu Čiernej ryby, jeho sestry a dokonca i jeho synovca, pridalo aj tiché unavené sklamanie otca. V posledných rokoch pôsobil tak znavene a bolo na ňom, jeho dedičovi a jedinom synovi, odmeniť Hosterove dlhoročné snahy úspechom. Pridať tej milovanej tvári ďalšie vrásky skormútenia by mu snáď zlomilo srdce. 
<p>Druhý šíp.
<p>Vedľa.
<p>Cudzinec nech to vezme, nie, nebolo to lepšie. Všetko by dal za to, keby sa mohol poriadne pozhovárať s otcom, takým, akého ho poznal. Rozlúčiť sa. Aj keby ho káral tiež, len keby tu bol, naozaj bol o čosi dlhšie. Teraz má nastúpiť na jeho miesto, ale cíti sa tak slabý a bezradný. Čln je čoraz ďalej, čoskoro zmizne tamhľa za zákrutou. Už konečne musí trafiť. Aspoň jedinú strelu. V tomto už zlyhať nesmie. Napnúť luk je však s každým pokusom ťažšie. Rozochvievajú ho smútok aj tréma. Cíti pohľady okolo, ako si želajú, aby sa aspoň pohreb vydaril.
<p>Tretí šíp.
<p>Vedľa.
<p>Strýko Brynden prevezme luk a plamenná strela nájde svoj cieľ s neomylnosťou. Ako dva hady sa okolo neho skrúti úľava aj roztrpčenie, ale oba vzápätí zmyje žiaľ. Všetko ostatné nech trafí šľak, nechá slzy tiecť tak voľne ako rieku, čo od neho odnáša jeho otca.



{% endblock %}