{% extends "post.html" %}

{% set title = 'Adventní drabble č.22(2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.22</h2>

<p>Mirri Maz Duur

<p>Môj domov! Moji ľudia! Moje sestry kňažky! Môj chrám! Čierno-červený oheň a krv prskajú aj za zovretými viečkami, leptajú ma zvnútra, od základne tela až k srdcu s každým rozodierajúcim prirazením a zakvílením dievčat okolo. Prečo nám pred zrakmi našich mužov a deti skolili jediným prebodnutím a nás neprepustia za nimi ani po tisícke?
<p>„Dosť!“
<p>Zovretie ťažkého cudzieho tela zmizne, ale pot, semeno a zkrvavené blato v troskách zotrvávajú, lepkavé a jedovato páchnuce. Ešte detský pánovitý hlas ďalej vyjednáva a nás odvádzajú k dobyvateľovi. Boli sme ušetrené, pretože strieborná khalesi si želala gesto milosrdnej ochrankyne v meste, ktoré rozborili kvôli nej a dieťaťu, čo nosí pod srdcom. Žrebec čo osedlá svet. Umŕtvené vnútro sa mi zachvelo, ako keď záblesk z oblohy zašklbe rozpitvaným tvorom. 
<p>K tuctu znásilnení sa už ďalšie nepridajú, len otroctvo. Aké milosrdenstvo! Tamhľa je a túli sa k svojmu mužovi a ako sa len nesie, ako spokojne jej žiaria oči. Dožaduje sa mojej pomoci s toľkou bezprostrednosťou v hlase. Ak si myslí, že za tú jedinú smiešnu napodobeninu láskavosti privriem oči nad všetkým, čo sa deje okolo, dopustím, aby došlo k ešte väčším hrôzam, potom si zaslúži, čo jej chystám. Pripravím ju o dieťa z proroctva, o jeho otca ničiteľa i o všetky budúce. Ja, čo som liečila. Ja, čo som sa spolu s Lhazarčanmi zriekla násilia. Rozdupali to kone, spálil oheň, utopila krv. Oplatím to a uzavriem kruh, nech to stojí, čo to stojí. Potrebujem sa len dostať bližšie.


{% endblock %}