{% extends "post.html" %}

{% set title = 'Adventní drabble č.5 (2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.5</h2>
<p>„Chceš říci ještě něco, než se podíváš do tváře svému otci?“ provokoval Yggrund svého soupeře, zatímco jejich těžké meče se křížily.
<p>„Spálil jsi úrodu a způsobil hladomor,“ připomněl mu Vjačeslav. Uljana si všimla slz v jeho očích. Nebyly od pláče, mladíka zranění velmi dráždilo. 
<p>„Jsi příliš laskavý,“ uchechtl se Levhart jedovatě, zatímco jeho meč odražený mladíkem stranou rozťal listy jakéhosi kodexu. Vjačeslav jej tlačil do obrany. Když však stanul zády k východu, popadl cíp zelené sametové látky, a vpustil dovnitř denní světlo. Na krátkou chvíli soupeře takovým nečestným jednáním oslepil. Vjačeslav stihl odrazit jeho prudký výpad na poslední chvíli.
<p>Spolu s výpady mečem přidal i slovní: „Jediná věc, kterou si nakonec přeje každý, kdo se mi postaví, je být už mrtvý. Budeš prosit o smrt, zatímco támhle tvoje pouliční dáma bude sténat v mém loži.“
<p>„Trhni si,“ použila Uljana svůj starý pouliční slovník. „Máš charisma tchoře nakaženého prašivinou.“
<p>Chtěl se jejím slovům zasmát, ale praštila ho žerdí praporu, kterou předtím mladík odrazil první Levhartův útok. Když on byl nečestný, ona bude také.
<p>Yggrund zakolísal a udělal dva kroky vzad. Přesně to Vjačeslav potřeboval. Nabyl rovnováhy a zasypal protivníka deštěm úderů. Levhart pochopil, že prohrává. Pokusil se ještě o poslední prudký útok, ale mladíkův meč jeho ránu odrazil a jeho hrot skončil v Yggrundově hrdle.
<p>„To nebylo poctivé,“ řekl Vjačeslav a pokynul hlavou k žerdi praporu. „Ale výjimečně účinné,“ dodal se smíchem.
<p>„Musela jsem,“ přikývla Uljana. „Jestli chci stanout po manželově, tedy tvém boku, přece si tě nenechám zabít.“
<p>Objali se.

{% endblock %}