{% extends "post.html" %}

{% set title = 'Adventní drabble č.7 (2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.7</h2>

<p>Petr při pohledu do dívčiných modrých očí úplně zapomněl na sestru i na oddíl. Jediné, co si přál, bylo ještě jednou slyšet její hlas. Na něco se ho ptala, ale co že to vlastně bylo? Aha. Jaké je století. Jak to, že to neví? To jí ale vlastně bude muset říci nahlas.
<p>„Dvacáté první,“ vypravil ze sebe po chvíli boje s vlastním jazykem, který se mu podivně zauzloval v ústech. „Rok dva tisíce osmnáct.“
<p>„Tedy celých čtyři sta let trvalo, než mne někdo vysvobodil ze zakletí,“ vyslovila dívka tím svým sladkým hlasem, tentokrát ovšem plným smutku.
<p>„Ze zakletí?“ Petr stále nerozuměl, čeho se to stal účastníkem. Snad si z něj ta dívka dělá legraci. Rozhlédl se kolem, jako by očekával, že spatří, jak se támhle za rohem parta dětí vysmívá jeho rozpakům. Ale žádný člověk, kterého spatřil poblíž, jim nevěnoval ani tu nejmenší pozornost. „Jak se vlastně jmenuješ?“ zeptal se, aby v hovoru získal trochu iniciativy.
<p>„Komtesa Blanka z Violy, můj zachránče,“ pravila dívka a její oči se rozzářily hřejivou vděčností, které Petr stále nerozuměl. „Tvé jednání jest příkladem pro mnohé vznešené mladíky.“
<p>„Ty jsi komtesa?“ potřeboval si ujasnit Petr.
<p>„No, vlastně nejsem, oficiálně do našich zemí tento titul nebyl dosud zaveden, ale otci připadalo, že se pro náš rod hodí oslovování dle německého vzoru,“ osvětlovala mu Blanka situaci.
<p>„A… a… jak to, že jsi byla zakletá?“ Tomu musí přijít na kloub, přece se neocitl v žádné pohádce.
<p>Náhle kolem nich rozvlnil trávu těžký studený vzduch. Blanka se vylekaně rozhlédla.	

{% endblock %}