{% extends "post.html" %}

{% set title = 'Adventní drabble č.9 (2018)' %}

{% block content %}

  <h2>Adventní­ drabble č.9</h2>
<p>„Začátek denní směny je na Klinice kosmetické magie v devět nula nula,“ vysvětlovala personální ředitelka a manželka ředitele kliniky madam Úcenimë inspektorovi práce panu Eugenovi. „Jen skřeti – promiňte, ardoelfové - mohou začínat až v devět třicet na základě zákona o zlepšení pracovních podmínek menšinových ras, který samozřejmě dodržujeme.
<p>Zde je pracovna obchodního ředitele, pana Heglunda. Ale neřekneme mu jinak než Hladomor, protože sní, na co přijde.“ Zaklepali, pozdravili Heglunda, trpaslíka připomínajícího soudek medoviny, sedícího na sametové pohovce dost široké, aby se na ni vešel jeho zadek, a Úcenimë si s vyměnila pár firemních klepů.
<p>„A tady začínají naše kosmetické sály. Příkladně zde se zvyšuje charisma o pět bodů. Komplikovaná procedura. I ti nejbohatší si ji mohou dovolit jen výjimečně. Jako bych již slyšela vaši námitku, ale nebojte se, chudým, kteří tuto operaci potřebují, aby odstranili defekt, ji poskytujeme zdarma, pokud to odsouhlasí Gondorská Rada pro Záležitosti Ras a Chudoby.“
<p>Eugen zvědavě nakoukl dovnitř a spatřil něčí obličej s červenými listy neznámého stromu přiloženými ke tvářím. Kosmetický čaroděj právě prováděl jakýsi úkon, při němž na tyto listy kapal zelenou tekutinu, která z listů vylučovala látky potřebné pro kožní regeneraci.
<p>„Je to zdravotně nezávadné?“ optal se Eugen opatrně.
<p>„Samozřejmě. Je to metoda schválená čtrnáctým všemagickým koncilem v Rohanu,“ vysvětlovala Úcenimë ochotně, zatímco inspektora směrovala dále. „Nyní přicházíme k manželově kanceláři,“ oznámila svému hostu. Dveře se však před ní otevřeli a před překvapenou dvojicí se objevil kapitán hlídky Tangorn následovaný jednou čarodějkou praktikantkou. „Tato kancelář se stala místem zločinu,“ prohlásil. „Nikdo nesmí dovnitř.“

{% endblock %}