{% extends "post.html" %}

{% set title = 'Adventní drabble č. 1 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 1. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/1481PRO.jpg"></center>

<p>
Thormund se rozvaloval v termálním prameni, který objevil se svou sestrou již v dětství. Cítil, jak mu bubliny proklouzávají mezi prsty u nohou a stoupají k hladině. Včera si uhnal pořádného draka a ještě teď se nemohl na pohár ani podívat, natož aby byl schopen nějaké práce. Ráno měl pocit, jakoby ho někdo do hlavy praštil sekyrou. Ale nyní to již odplouvalo spolu s horkou vodou a tisíci bublinkami. Tohle miloval. Všude sněhu po pás, mrzne až praští, ale on si sedí nahý v horké vodě a pozoruje skrz tetelící se vzduch pravou zimu za Zdí. V pololeže se opíral o odkorněný kmen a už začínal klimbat. Přeslechl křupkání sněhu za sebou. Najednou se za ním ozvalo strašlivé zařvání, které mohlo vycházet jen z medvědího hrdla. Byl by vyskočil rovnýma nohama, ale jako by zapomněl, jak se ovládají svaly. Napadalo ho, že nahý a bosky by se v metrovém sněhu stejně daleko nedostal. Uslyšel, že medvěd za ním se pohnul, ale dál strnule seděl, zatímco huňáč se hrnul do jezírka. Napůl sešplhal a napůl sebou plácnul, až se vlna převalila přes Thormundovu hlavu. Ten chvíli neviděl, jenom prskal. Když konečně prohlédl, zjistil, že proti němu polosedí funící medvěd. Do jeho mysli se prodíralo poznání. Nebyl žáden odborník na identifikaci medvědích ksichtů, ale... „Holka, tys mi dala!“ Konečně se mohl pohnout, což využil k tomu, aby se přesunul a začal medvědici, s níž před lety strávil několik měsíců v jejím brlohu, drbat za ušima. A spokojená medvědice mu odpovídala „Har, har.“
</p>
{% endblock %}
