{% extends "post.html" %}

{% set title = 'Adventní drabble č. 14 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 14. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/44914PRO.jpg"></center>

<p>

<p class="story"> „Dovolte mi, moji pánové, pobavit vás příhodou, kterou jen silný muž může s odstupem považovat za směšnou.“ Jazyk těžknul vínem, ale tón sliboval, že se společnost zasměje. </p>

<p class="story"> „Vyprávěj, bratře. Nejen vítězství dělá rytíře rytířem, jest mu také překonat četné porážky, malé i velké. Teprve když zvítězí i sám nad sebou, může se skutečně po právu zváti rytířem!“ povzbudil ho druh. </p>

<p class="story"> „Bylo mi nenadále nocovat v podřadném hostinci. Počasí bylo věru odporné, hlad vlčí a odpornější než počasí to, že jsem byl pekelně žíznivý!“ </p>

<p class="story"> „Spíše střízlivý!“ </p>

<p class="story"> „Byla tam krásná dívka. Jakýsi prokletý zpěvák ji obtěžoval. Tušíte, jak oplzlé byly jeho verše: ´soutěska mezi ňadry, ústa červená jako víno, královsky vznešená chůze, vlas temný jako noc…´, snažil se chlípník vlichotit. Prý: ´Dobývám tvé ledové srdce loutnou!´ </p>

<p class="story"> Vstoupil jsem mezi něj a dámu, ruku na jílci meče: „Udeř do strun a já udeřím tebe za nestydatou řeč. A dobiju tě tou tvou loutnou, je-li vskutku dobývacím nástrojem! Kliď se, hanebníku! Nemohu dále snášet, jak urážíš dámu!“ </p>

<p class="story"> Vypískl: ´To tvé chování k umělci je nesnesitelné! Chybí ti jemnost mravů, pane?´a raději se ztratil.“ </p>

<p class="story"> „A ona?“ </p>

<p class="story"> „Ona se usmála, sklopila oči: ´Děkuji ti, můj lorde. Tvá pomoc přišla jako zázrak Sedmi. Tuším, že i já tě překvapím…´ A překvapila! Dáma nebyla dámou! Bylo to mladík, herec kočovné společnosti, kde muži hrají i ženské role. Neřeknu víc, než že jsem poznovu ocenil mistra zbrojíře - naučil mne nejen vládnout mečem, ale i několik karetních her!“ Poklepal si na kapsu, kde, jak všichni věděli, nosíval balíček karet. </p>

</p>
{% endblock %}
