{% extends "post.html" %}

{% set title = 'Adventní drabble č. 18 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 18. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/70518PRO.jpg"></center>

<p>
<p class="story"> Devítiletá Dalla seděla na provizorní tribuně postavené z nanošeného kamení a vzrušením se až třásla. Dnešek byl pro ni a její sestru každoročně nejoblíbenějším dnem roku. Dnes se konal výroční zápas Mrazokelských Obrů proti Drakům ze Strže v kamenované. Loni pohár připadnul Obrům a Drakům šlo letos o čest. Dalla uslyšela hlasitý řev a přes houf diváků viděla, jak se na obou stranách hřiště objevují týmy soků. Nejvýraznější postavou na straně Draků byl bezpochyby mladý válečník Tormund, ze kterého i přesto, že se své pověstné sekyry musel počas zápasu vzdát, šla hrůza. Dalla zahlédla, jak její sestra při pohledu na něj zrudla, a potichu se zahihňala. Již dávno věděla, že Val potají chodí pozorovat vousatého mladíka u práce a po večerech při vaření bublající polévky u společného ohně má oči jen pro něj. </p>


<p class="story"> Zápas se začal. Tormund a ostatní Draci s řevem vyběhli proti soupeřům a připravili je o kámen. Cílem kamenované je tímto kamenem shodit soupeřův terč postavený na osmistopovém sloupu (což je v podstatě jediné pravidlo). Tormund vrhnul kámen směrem k terči, ale kapitán obrů, Darwun, jenž měl v sobě krev pravého obra, střelu zachytil a sám vystartoval proti terči Draků. Zápas byl vyrovnaný až do poslední minuty, kdy Draci prohrávali o jeden zásah. Tormund měl kámen ve své moci a v plném rozběhu hodil kámen přímou dráhou k terči. Darwun neprozřetelně skočil do střely s úmyslem zastavit ji, ale kámen ho trefil přímo mezi oči. A tak Draci turnaj opět nevyhráli, ale Tormund získal přívlastek Obrozhouba. </p>

</p>
{% endblock %}
