{% extends "post.html" %}

{% set title = 'Adventní drabble č. 2 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 2. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/9552PRO.jpg"></center>

<p>
<center><b>Tormundovo těžké ráno</b></center><BR><BR>

<p class="story"> „Ty seš ale drak.“ Prohodil Mance jen tak mimochodem u snídaně. „Har!“ Odpověděl Tormund. „To ses včera večer zase zřídil jak pratur, co? Pobíhal si tady se sekyrou, pořád si něco pořvával na sestru mojí manželky a práce žádná!“ Tormund ho ale moc nevnímal. Nabral si z kotlíku vařící vodu a nalil si do svého hrnku. „Ale já chci pracovat. Vážně. Já jsem hrozně pracovitý.“ Mance po něm vrhnul hněvivý pohled. </p>
<p class="story"> „Hele, nemáš ani patnáct dětí, ani ti Vrány nevyplácí dávky. Nemáš právo nepracovat.“ Tormund se začínal obávat, že se jeho hlava každou chvíli rozpadne na kousky. „Poslouchej mě, Obrozhoubo, povím ti to jenom jednou. Jsi tu, abys našel ten roh, rozumíš? Ne abys pil jako doga, ne abys tahal Val do stanu, kde se stejně ničeho nedočkáš. Bez toho rohu se přes Zeď nemusíme dostat, a ty víš, co se stane když se přes ní nedostaneme, viď že jo?“ K ohništi se přiřítila Val. Než stihl Tormund promluvit dostal facku. „Ještě jednou něco takového zkusíš, a podříznu tě, rozumíš ty úchyláku?“ S tím zase odešla rozzuřeně pryč. </p>
<p class="story"> „Včera jsem ztratil dalších pět mužů, Nájezdníku. Nemůžu si dovolit takové ztráty. Našli jsme další zapečetěnou jeskyni a pokusili se dostat dovnitř.“ Bubliny vystupovaly na povrch vařící se vody, která ty dva oddělovala od sebe. „ Jednoho z našich zavalilo kamení, když jsme se tam probourali. Zbytek dostali stínokočky, které tam sídlily.“ Mance jen potichu přikývl. „Jdu si najít něco na tu hlavu.“ Thormund vstal a beze slova odešel. </p>

</p>
{% endblock %}
