{% extends "post.html" %}

{% set title = 'Adventní drabble č. 20 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 20. prosince</i></h3></center>
<center><img src="http://ulozobrazek.cz/images/93820PRO.jpg"></center>

<p>
<p class="story">    Chlouba větru se vracela z neúspěšné královské výpravy a již brzy měla zakotvit v Bouřlivém Konci, domově lorda Steffona, odkud původně vyplula. Nebylo jí to však souzeno. Poslední den je překvapila veliká bouře, která se snesla na Záliv ztroskotání jako noc a trhala plachty, stěžně, ráhna i lanoví s vyjící zuřivostí. Dobývala plachetnici – tu poslední oázu živých – kus po kusu. Mrštný chlapec s červeně a zeleně károvaným obličejem uskakoval před sudy tříštícími se o palubu a provazy, snažícími se zachytit jeho končetiny jako laso a stáhnout ho do moře. Byla to však jen otázka času. Kolem něj se občas mihl stín připomínající člověka nebo k němu doléhaly výkřiky mezi přívaly vody. Vyrůstal v přístavním městě Volantisu, kde často z úst námořníků slýchal hrůzné historky o bouřích na moři, kterým zázračně unikli. Nyní se uprostřed takové historky ocitl a nevěděl, jak z ní zase ven. </p>

 <p class="story">   V té chvíli ho vlna vymrštila do vzduchu a jako obrovská dlaň mořského boha jej smetla z paluby. Ani si neuvědomil, kdy vlastně padl do vody, protože v přívalech vody hranice rozbouřené hladiny stále mizela. Snažil se dostat zase nahoru, ale kde bylo nahoře a kde dole nevěděl. Občas se mu to i povedlo a tehdy se z plných plic nadechnul, aby vydržel do příštího vynoření. Cítil své potlučené tělo volající po odpočinku. Snažil se zout boty, aby ho netáhly ke dnu a nakonec se mu to i podařilo. Halenu na něm trhaly živly společně, zatímco bojoval o dech. Marně se snažil zachytit nějakého pevného bodu. </p>

<p class="story">    Poslední, co vnímal bylo, jak se propadá do nejtemnější soutěsky nevědomí a vodní hrob se nad ním zavírá. </p>

</p>
{% endblock %}
