{% extends "post.html" %}

{% set title = 'Adventní drabble č. 21 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 21. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/41521PRO.jpg"></center>

<p>
<p class="story">    Kde bublalo, tam bublalo, za siedmymi jadrovými elektrárňami a siedmymi skládkami s odpadom, bola raz jedna alebo takto boli dve, teraz neviem, no určite raz bola aspoň jedna, Hora za hmlami ukrytá... Bol raz taký jeden otravný deň, kedy drak Pohár dotrepotil sa k tejto Hore za hmlami ukrytej. Dotrepotil sa ta a poháral celú túto Horu za hmlami ukrytú svojimi ohňami. Ako mačka potrebuje brúsiť si svoje pazúry, tak si aj drak čas od času dačo pekne pohára. Nečakal však, že pod touto Horou za hmlami ukrytou nažíva si obor Thormund, ktorý sa zaraz objavil. Hlasom zvučným ako každá piatočná skúška mestských sirén zahalil túto Horu za hmlami ukrytú svojou nadurdenou rozpravou. </p>
<BR>
<BR>

,,
<p class="story">    Čo je toto za robotu?! </p>

<p class="story">    Kto mi narúša dovolenkovú lehotu! </p>

<p class="story">    To sa na kolená staré vyspať nemôžem už riadne? </p>

<p class="story">    Jednu ti vlepím a že ako dobre ti sadne! </p>
<BR>
<BR>

"
<p class="story">    Drak sa nabublil i vybublil zo seba kopu bublín a rozkričal sa. </p>
<BR>
<BR>

,,
<p class="story">    A že či ty to ťažké v živote máš? </p>

<p class="story">    Ty o rodinku dračiu sa aspoň nestaráš! </p>

<p class="story">    Žena riadna sekera, deti by furt chceli žrať, </p>

<p class="story">    na teba sa ja môžem akurát tak vys... Vybubľáť! </p>

<BR>
<BR>

<p class="story">    Práca ma morí, vkuse čosi horí, </p>

<p class="story">    dcére krtko dvorí, tety hašterivé potvory! </p>

<p class="story">    Nálada je u nás doma veru pestrá... </p>

<p class="story">    Zo syna mi ešte hádam bude zdravotná sestra. </p>

</p>
{% endblock %}
