{% extends "post.html" %}

{% set title = 'Adventní drabble č. 22 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 22. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/89722PRO.jpg"></center>

<p>
<p class="story">    Hlava se jí motala ještě než došla ke své posteli. Samozřejmě to bylo tím nápojem z poháru zdobeného draky, který jí podal Laskavý muž u večeře. Čekal ji první úkol. Její první práce pro Mnohotvářného boha. Již zítra ráno odplouvá lodí zpět do Západozemí. Propadala se do spánku smíchaného s halucinací, v níž se kolem ní objevovaly zvláštní bubliny a v každé z nich byla tvář někoho, koho znala. Živí i mrtví. Bratři, sestra, rodiče, přátelé, nepřátelé, lidi, které sotva znala nebo jen zahlédla v Bleším zadku – prodavač krys, žoldnéř se sekyrou. Lidé, které nenáviděla – Cersei, ser Illyn, Hora. Ale i jeho bratr Sandor, kterého ani nevěděla jestli má nebo nemá ráda. Všechny ty emoce již dávno cítit neměla a přesto tady byly. Nevěděla, jak by jí bylo a zda-li by dokázala skrýt své pocity, kdyby na destičce, kterou zvedla z oltáře, bylo napsáno jméno někoho z jejích blízkých. A stejně nebezpečné by bylo, kdyby to byl někdo z jejího seznamu. Dokázala by skrýt vzrušení? A jaký by ji vlastně stihl trest? Napadlo ji taky, jestli si má vyzvednout Jehlu z tajného úkrytu. Budou ji sledovat až k lodi, kterou se měla vydat zpět? Skoro domů. Až na Sever za Zeď. Na destičce stálo jméno Thormund, král Proklaté díry. </p>
</p>
{% endblock %}
