{% extends "post.html" %}

{% set title = 'Adventní drabble č. 24 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 24. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/51124PRO.jpg"></center>

<p>
<p class="story">    Královská soutěska každého překvapí. Návštěvník tu objeví romantický kus přírody, kde se skýtá krásný pohled na její úbočí, na kterých místní vinaři pěstují révu. </p>

<p class="story">    Kdysi to bylo pusté místo, ale po období Velké zimy, když na Severu konečně zavládl mír, přišli noví osadníci z jihu, odkud prchali před hrůzovládou dračích Targaryenů. S pomocí seker vykáceli stromy a proměnili soutěsku v proslulou vinařskou oblast. </p>

<p class="story">    Můj známý Tormund nás pozval do sklepení, ve kterém červené víno kvasí a bubliny s šuměním prchají na hladinu. Do poháru nám nalil na ochutnání několik ročníků. </p>

<p class="story">    Když se snesla noc a usadili jsme se při ohni, Tomrmundova sestra nám začala vyprávět příběh o tom, jak lord velitel Noční hlídky a král Stannis v těchto místech kdysi porazili na hlavu uchvatitele Severu Ramsaye Boltona a znovu dobyli Zimohrad, prastaré sídlo vládců země. Stannis pak znovu ovládl i Jih a za pomoc s porážkou Boltona byl nakonec uznán za krále i na Severu. Od té doby sluje toto místo jménem Královská soutěska. </p>

<p class="story">    Čas odvál většinu vzpomínek na tyto dávno proběhlé události, dnes je to jen o něco víc než pohádka pro děti. Ale Královská soutěska dál plodí víno, jež může směle soupeřit s dornským či stromovinským. Obsahuje sice méně cukru, specifické podmínky mu však dodávají výraznou chuť, která na jazyku vydrží ještě dlouho po ochutnání.
</p>

</p>
{% endblock %}
