{% extends "post.html" %}

{% set title = 'Adventní drabble č. 5 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 5. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/9996PRO.jpg"></center>

<p>
<center><b>Doby(i)tí Soutěsky poníků</b></center><BR><BR>

<p class="story"> „Poníci dobili vnější hradbu a prolomili Královskou bránu. Jsou jich tisíce, mají různé barvy a přináší nám mír a lásku!“ Cersei vyskočila z trůnu. „Lžou. Jsou to zrádci a chtějí sebrat můj trůn a ublížit mým dětem!“ Lancel, po několika úžasných poníkovských písničkách již plný lásky a porozumění, byl již sotva při vědomí. „Nebuď taková, sestřenko, vždyť přátelství je magické.“ Cersei, vzteky bez sebe, mu vrazila facku. „Vzpamatuj se blbečku, copak neslyšíš ty jejich přeslazený popový kecy? Jsou horší než One Direction a Justin dohromady!“ </p><br>
<p class="story">Lancel nechápal její nenávist. „Sestřenko, vždyť oni nejedou na drogách, neplivou po lidech ani se veřejně nehlásí k homosexualitě. Chtějí se jenom přátelit! Jejich písně, plné lásky a přátelství, jejichž melodie nemohu dostat z hlavy, nás překvapily v noci a bez očekávání, ale pohleď, venku všichni tančí!“ </p><br>
<p class="story"> „Lorde Lannistere, začínáš mě štvát. Ty tvoje bláboly už nehodlám snášet. Červená, ne růžová je barva rodu Lannisterů, na to nezapomínej. Jestli se chceš přidat k těmhle odporně roztomilým zlatíčkům s křídly, úžasným pohledem a hlasem lepším, než má Tom Sedmistruna, tak zavolám Ilyna. Ten už se postará, aby sis nezazpíval. Jiní také říkali, že přinášejí mír a lásku, a přitom nás chtěli všechny vyhladit.“ </p><br>
<p class="story"> „Ale poníci jsou jiní než Jiní, sestřenko.“ </p><br>
<p class="story"> „Mlč, koňská tlamo! Včera ráno jsem je viděla na Barrandově. Byla to taková hrůza, že jsem se z toho div nedala na dechovku.“ </p><br>
<p class="story"> „Dabing je zlo sestřenko.“ </p><br>
Zvolal Lancel, vyskočil z okna a na vlně duhy se svezl dolů, mezi své magické kamarády. </p>

</p>
{% endblock %}
