{% extends "post.html" %}

{% set title = 'Adventní drabble č. 7 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 7. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/4067PRO.jpg"></center>

<p>
<p class="story"> „Hrozně bych chtěla draka,“ dupla si Veruka, dcera lorda Thrormunda, majitele monopolu vyrábějící chemické citronové koláčky. </p>
<p class="story"> „Máš tolik zvířátek! A navíc Sansa asi hubne a pořádně nejí, práce už mi tolik nevynáší,“ snažil se vykroutit lord ze spárů své dcery. </p>
<p class="story"> „Mám přece zatím jenom šest poníků, pětihlavou saň, čtyři zvířata poznání, tři slepé myščí sestry, dva vombaty a slepici, v mé sbírce by se tudíž mělo objevit i něco epičtějšího, jako právě ten drak. A pokud mi ho nekoupíš, nechám si narůst uši, zpisklavět hlas a budu dotěrně přítulná, jako Karlík, tak si važ, že máš mě. A kup mi draka!“ </p>
<p class="story"> „Nevím, jestli jsou na prodej, Targaryeni jsou zvláštní lidi,“ snažil se toho divného mazlíčka vymluvit své dceři Thormund, ale ta ho neposlouchala. </p>
<p class="story"> Veruka mu z ruky vytrhla jeho sekyru, a slezla dolů, kde zrovna cvičení draci loupali citrony. Soustředila se právě na toho na kraji, úplně se jí v puse dělaly bubliny ze slin, jak se koncentrovala. Byl tak krásný a jak se mu lesklo očko. Toho přece musí mít! </p>
<p class="story"> Už u něho skoro stála a natahovala po něm ruku, když v tom drak skočil, vrhl se na ni a společně ještě s pár kamarády shodil Veruku do odpadní roury na přebytečnou kůru.
<p class="story"> Byla pryč. Najednou jeho milá dceruška zmizela. Nikdy nebyl šťastnější. Zvedl pohár a na oslav tohoto úspěchu si se všemi přítomnými přiťukl. </p>

</p>
{% endblock %}
