{% extends "post.html" %}

{% set title = 'Adventní drabble č. 8 (2013)' %}

{% block content %}
<center><h3><i>Adventní Drabble 8. prosince</i></h3></center>

<center><img src="http://ulozobrazek.cz/images/2148PRO.jpg"></center>

<p>
<p class="story"> „Cože, pracovat?“ Tormund pozvedl svou sekeru v hněvivém gestu. „Pracovat? Slyšel jsem dobře? Kdybych věděl, že na Jihu se po mě bude chtít práce, radši bych se postavil Velkému jinému, ty vejlupku obrovy díry.“ </p>
<p class="story"> Na chvíli zarazil své hromování, aby se posilnil douškem medoviny z poháru, který třímal v druhé ruce. Byla horká a plná bublin, po kterých hlasitě říhal. </p>
<p class="story"> „Máte samé řeči o práci,“ pokračoval, když zahnal nejhorší sucho v krku. „Vyrábíte všelijaké zbytečné krámy, zrcátka, voňavky ženským, a to nejhorší a nejzbytečnější, knihy. Na co, u všech jiných psát slova? </p>
<p class="story"> To aby se nakonec učila číst i má sestra ne, místo aby se učila s kopím a tesákem, tak bude způsobně sedět na pozadí a vzdychat nad stránkami? Nikdy! </p>
<p class="story"> Jste samá práce, ale pořádnou pranici uspořádat neumíte, vy jižanské květinky. Do pranice, to jsem jako drak, ale do práce mě nikdo nedostane.“ </p>
<p class="story"> S těmi slovy se rozvalil na lavici v celé své mohutnosti a mlaskal a funěl a rozjímal. </p>
<p class="story"> „Che, práce, to tak,“ říkal si potichu pro sebe. „Chodit za volem, držet pluh a rýt do země, abych objevil trus, co tam zahrabal prašivý pes, to tak, to jsem to dopracoval s těmihle změkčilými slečinkami z jihu…“ dralo se mu v polospánku přes rty. Když usnul, poloprázdný pohár na sebe zvrhl a medovina zalila jeho bílý vous. </p>
<p class="story"> Ráno, když se probudil, stál nad ním Mance. „Už jsem vyoral brázdu celou lígu dlouhou. Dokážeš vyorat delší?“ </p>
<p class="story"> „Než ty určitě ty Mančisko jedno shnilé. Kde že je ten pluh?“ </p>

</p>
{% endblock %}
