{% extends "post.html" %}

{% set title = 'Drabble č. 1 (4. kolo)' %}

{% block content %}

  <h2>Drabble č. 1</h2>

  <h4>Nepříjemné probuzení</h4>

  <p>Ramsay se probral z bezvědomí. Cítil, jak se mu do hlavy hrne krev. Byla mu zima. Věděl, že je nahý. Cítil nesmírnou bolest. Vzduch kolem byl syrový a zatuchlý. A studený. Nemohl hýbat pevně svázanýma rukama. Nejspíš měl zpřerážené prsty. Nic neviděl. Prvně si myslel, že je tma. Pak že přišel o oči. Až po chvíli si uvědomil, že přes ně má přetaženou nějakou pásku. Slyšel každý úder svého srdce. Slyšel každý svůj nádech. Každý svůj výdech.</p>

  <p>Pochopil, že visí hlavou dolů. Odkrvená chodidla přestával pomalu cítit. Mrskal s sebou jako leklá ryba. Snažil se osvobodit. Moc se snažil. Věděl, že tu zemře. Cítil to. Strach a zděšení se kolem něj svíraly stále těsněji.</p>

  <p>„Tak takhle se cítily?“ pomyslel si. „Takhle se cítily když jsem z nich stahoval kůži?“ Jak ho bolely plíce neopatrně vdechl chomáč prachu a rozkašlal se. V malé místnosti byla slyšet jeho ozvěna. Cítil rány na dlaních. Vzpomněl si na svá poslední slova než upadl do bezvědomí</p>

  <p>„Říkám ti to na rovinu, tohle bude čistka.“</p>

  <p>Se skřípěním se otevřely dveře. Slyšel klapot podpatků. Klap. Klap. Klap. Bylo hrobové ticho.</p>

  <p>„Zabiju tě, kurva! Slyšíš mě, ty svině?“ zařval. Kobkou se rozlehl hlasitý smích. Dívčí smích.</p>

  <p>„Je nezdvořilé, chovat se takhle ke svému hostu,“ promluvila neznámá. Ucítil jak se jeho hlavy dotýkají hrubé, skoro mužské prsty. Stáhly mu pásku z očí a on se zahleděl do hlubokých hnědých očí.</p>

  <p>„Můj milovaný bratříček ti posílá pozdravy.“</p>

  <p>Z pohledu na Ashu Greyjoy zbledl jako smrt.</p>

  <p class="author"><b>Autor:</b> Everett Young</p>

{% endblock %}
