{% extends "post.html" %}

{% set title = 'Jarčina Povídka' %}

{% block content %}

  <h2>Povídka č. 1</h2>

  <h4>Leia Skywalker</h4>

  <p>„Frede, Georgi, už jste sbalení?“ křičela na dvojčata paní Weasleyová . „Ne mamí,“ řekl George. „Tak honem za chvíli jedeme!“</p>

  <p>„Máte všichni všechno?“ zeptal se pan Weasley. „Dobrá tak jedeme.“ Motor auta značky Ford Anglia se rozkřičel a auto se rozjelo.</p>

  <p>„Už jsme v Londýně, “ohlásil pan Weasley. Auto zastavilo. Weasleyovi  vystoupili.</p>

  <p>„Pojďte  rychle ať nám to neujede.“  řekla paní Weasleyová . A tak se svými kufry, s Percyho krysou  Prašivkou a s Charlieho sovou Hugem, vydali k nástupišti devět a tři čtvrtě. „Charlie běž první“ řekla paní Weasleyová .Charlie se rozběhl a zmizel za přepážkou s číslicemi, devět a deset. „Teď ty Percy.“ Percy také zmizel za přepážkou. „Frede, jdi ty.“Poslala Freda paní Weasleyová. „Budu na tebe čekat!“křikl za sebe Fred, než zmizel. „Georgi, jdi a ne že budete dělat lumpárny!“ pověděla Georgovi paní Weasleyová. A George zmizel za přepážkou. Fred a George stáli před branou, na níž stálo nástupiště devět a tři čtvrtě. V bráně se objevila paní Weasleyová a pan Weasley. „Na co čekáte? Rychle do vlaku ať vám nezasednou všechna místa!“řekla paní Weasleyová.„Dobře mamí.“řekli Fred a George najednou. A vběhli do vlaku, usadili se spolu s Percym a Charliem. Vlak se rozjel.</p>

  <p>Jakmile se Fred dooblékl, vlak začal zpomalovat a studenti na sebe začali mávat. Když vystoupili, slyšeli: „Prváci sem. Prváci! „Běžte za Hagridem,“ pověděl Charlie Fredovi a Georgovi. A tak se Fred s Georgem vydali za Hagridem. Hagrid byl muž velký jako dva normální muži, měl hnědé, dlouhé a husté vousy i vlasy, černé oči a přátelský obličej. „Jsme všichni?“ zeptal se Hagrid. „Dobrá tak jdeme“ došli, až ke břehu jezera, kde bylo asi dvacet loděk. „Nastupte si!“zavolal Hagrid. A tak si sedli do loděk, k Fredovi a Georgovi se připojil chlapec jménem Lee Jordan a dívka jménem Katie Bellová. Opřeli se do vesel a směřovali ke škole. Škola se jmenovala Bradavice a byl to hrad s vysokými věžemi. Když dopluli, čekala tam na ně nesmírně přísně vyhlížející dáma. „Tak tady je máme, profesorko McGonagallová“ řekl Hagrid. „Děkuji Hagride teď už se o ně postarám sama,“řekla profesorka McGonagallová. Profesorka je vedla přes školní pozemky ke škole. Vstoupili do hradu a došli k místnosti, kde byl slyšet šum z vedlejší místnosti.„Počkejte tady, hned se vrátím,“promluvila k žákům profesorka McGonagallová a odešla. Čekali a čekali a najednou tam vletěl jakýsi mužíček a začal na ně házet křídy. Profesorka McGonagallová se vrátila.„Protivo přestaň!“ křikla na mužíčka, ten hodil poslední kus křídy a uletěl. „Pojďte!“Všichni se nahrnuli ke dveřím, ocitli se v obrovské místnosti, ve které byly čtyři dlouhé stoly, u jednoho krajního stolu zahlédli Fred s Georgem Percyho a Charlieho, kteří se na ně zářivě usmívali. U stolu, kde seděli učitelé a na stolci, seděl Albus Brumbál kterého chlapci hned poznali s čokoládových žabek. Byl to velmi starý muž, měl dlouhé a stříbrné vlasy i vousy a jasně modré oči. Profesorka McGonagallová mezitím přinesla třínohou stoličku, na které stál starý klobouk. Profesorka McGonagallová promluvila k žákům.„Až přečtu vaše jméno, přijděte a nasaďte si Moudrý klobouk, až vykřikne vaši kolej, sedněte si k příslušnému stolu.“najednou se záhyby podobné ústům otevřely a klobouk začal zpívat:

  <p>Do Nebelvíru smí jen ti, kdo chrabré srdce mají,</p>

  <p>v Havraspáru se učit mohou jen ti, co se nejchytřejší zdají,</p>

  <p>v Mrzimoru zas jak se kdo práce zhostí</p>

  <p>a Zmijozel si cenil ctižádosti“</p>

  <p>Moudrý klobouk dozpíval a všichni tleskali a profesorka McGonagallová začala vyvolávat, ale Fred s Georgem neposlouchali, protože věděli, že jejich jména zazní až u konce a tak se dohadovali jaké to je, když ten klobouk máte na hlavě.„Já bych řekl, že cítíš, jakoby ti někdo provrtával hlavu.“ Šeptl Fred, Georgovi. Profesorka McGonagallová však už vyvolávala Vidala Goreho, a tak ztichli, klobouk ho okamžitě poslal do Zmijozelu. „Weasley Fred!“ Fred šel ke stoličce a posadil se, profesorka McGonagallová mu položila klobouk na hlavu a ten mu okamžitě spadl přes oči a zaslechl tichounký hlásek: „Weasley, je to jasné. Nebelvír!“ A Fred se šel posadit k tleskajícímu stolu.„Weasley George!“ Georgovi také klobouk spadl až přes oči.„Ááá vy jste dva! Takže…Nebelvír!“ A George si šel přisednout k Fredovi. Už tam zbyl jenom Howard Zoid kterého Moudrý klobouk poslal do Mrzimoru. „Všechny vás vítám a chtěl bych vám ještě představit profesora Quirela který tady bude vyučovat obranu proti černé magii, ale teď se nebudeme zdržovat, nechte si chutnat!“Na stolech se objevovalo jídlo, maso, saláty, pečené brambory, vařené brambory, hranolky, guláš a jiné lahůdky. Až se všichni do sytosti najedli tak se objevily zákusky. Sirupové košíčky a jiné. Když zmizely i zákusky, Brumbál vstal ze židle a všichni se utišili. „A teď bych byl rád, kdybychom si zazpívali školní hymnu!“ úsměvy s obličejů učitelů se rázem vytratily. „Každý ať si zvolí svou oblíbenou melodii,“ a ozval hlasitý chorál:</p>

  <p>„Brada, brada, brada, Bradavice každý z nás by,</p>

  <p>chtěl vědět víc, než ví ….“</p>

  <p>Dál už Fred Georgem neposlouchali a místo toho hráli pod stolem Řachavého Petra. Hostina skončila a všichni se odebrali do svých kolejí. Dave Collins Nebelvírský prefekt je zavedl k obrazu Buclaté dámy. „Heslo!“řekla. „Nový školní rok.“odpověděl Dave. Obraz se otevřel a vstoupili do kruhové místnosti. „Tohle je společenská místnost, dívčí pokoje jsou vpravo, chlapecké vlevo. Vaše zavazadla už tam byla dopravena. Fred s Georgem dostali pokoj s Leem Jordnem,Patrikem O’Reillym a Angusem MacGregorem. A tak se převlékli a šli spát. Všichni se hrozně těšili na svůj první den.</p>

{% endblock %}
