{% extends "post.html" %}

{% set title = 'Málčina Povídka' %}

{% block content %}

  <h2>Málčina povídka</h2>

  <div class="center">
    <img src="{{ app.asset_path }}/obrazky/snowflake-ballerina.jpg" width="300px" alt="Snowflake Bellerina" />
  </div>

  <p>K Vánocům jsem dostala od sestry knížku Fantastická zvířata a kde je najít, což je (po Obludném Orákulu) nejlepší učebnice Péče o kouzelné tvory a mě se hrozně, hrozně moc líbí, tudíž kouzelní tvorové hrají důležitou roli i v mé povídce (nebo jsou použity jako prostředek vylákat slečnu k sobě, což je určitě důležitá role). Netuším, nakolik potencionální čtenáři znají dlaždičouny, bodloše a cornwallské rarachy, a tak zde uvádím popisy tvorů, které se tam vyskytují.</p>

  <h4>Bodloš (kompetentní kouzelník by ho měl zvládnout)</h4>

  <p>Bodloše (vyskytuje se v severní Evropě a severní Americe) si mudlové obvykle pletou s ježkem. Tyto dva živočišné druhy jsou od sebe skutečně nerozeznatelné, až na jeden důležitý rozdíl v chování: necháte-li na zahradě něco k snědku pro ježka, přijme váš dar a pochutná si na něm, zatímco nabídnete-li někdo potravu bodlošovi, vede ho to k domnění, že se ho hospodář snaží vlákat do pasti, takže z pomsty zpustoší všechny užitkové i okrasné rostliny, které hospodář na zahrádce pěstuje. Mnoho mudlovských dětí bylo obviněno z vandalismu, třebaže skutečným viníkem byl dotčený bodloš.</p>

  <h4>Dlaždičoun (kompetentní kouzelník by ho měl zvládnout)</h4>

  <p>Dlaždičoun se vyskytuje v Británii, Irsku a Severní Americe. Prakticky ve všem se podobá přerostlé fretce, od níž se liší jen tím, že umí mluvit. Skutečný rozhovor však přesahuje duševní schopnosti dlaždičouna, který se proto obvykle omezuje na krátké (a často vulgární) fráze, jež ze sebe chrlí v téměř nepřetržitém proudu. Dlaždičkuji žijí většinou pod zemí, kde pronásledují trpaslíky, přestože nepohrdnou ani krtky, krysami a hraboši.</p>

  <h4>Ghúl (neškodný, lze ochočit)</h4>

  <p>Ghúl je sice ošklivý, není to však tvor nijak nebezpečný. Podobá se poněkud slizkému kolozubému obrovi a sídlí obvykle na půdách či ve stodolách patřícím kouzelníkům, kde se živí pavouky i můrami. Hlasitě skučí a občas kolem sebe hází různými předměty, v zásadě je však velice prostomyslný a v případě, že na něj někdo narazí, přinejhorším výhružně vrčí. Při odboru pro dohled nad kouzelnými tvory sice existuje speciální skupina pro odstraňování ghúlů, která tyto tvory vypudí z příbytků, jež přešly do mudlovských rukou, v kouzelnických rodinách se však ghúl často stává vděčným námětem diskusí či dokonce rodinným mazlíčkem.</p>

  <h4>Karkulinka (kompetentní kouzelník by ho měl zvládnout)</h4>

  <p>Tito trpasličí tvorečkové žijí v děrách na starých bojištích nebo kdekoliv jinde, kde byla prolita lidská krev. Přestože se dají snadno zapudit kouzly a zaklínadly, jsou velice nebezpečné pro osamělé mudly, neboť za temných nocí se pokoušejí ubít je k smrti. Karkulinky jsou nejrozšířenější v severní Evropě.</p>

  <h4>Rarach (kompetentní kouzelník by ho měl zvládnout; jste-li Lockhart: více než prokazatelný zabiják kouzelníků)</h4>

  <p>Raraši se nejčastěji nacházejí v anglickém Cornwallu. Jsou kovově modře zbarvení, až osm palců vysocí a velice nezbední; libují si ve šprýmech a kanadských žertících všeho druhu. Přestože nemají křídla, umějí lítat a jsou známy případy, kdy popadli neopatrného člověka za uši a posadili ho na vrcholek vysokého stromu nebo výškové budovy. Raraši se dorozumívají pisklavým švitořením, které je srozumitelné jen jiným rarachům. Rodí živá mláďata.</p>

  <h4>Trpaslík (neškodný, lze ochočit)</h4>

  <p>Trpaslík je běžně vyskytující zahradní škůdce, který se nachází na celém území severní Evropy i Severní Ameriky. Může dorůstat až jedné stopy výšky, má neúměrně velkou hlavu a tvrdé kostnaté nohy. Ze zahrádky lze trpaslíky vypudit tak, že ho roztočíte, až se zamutá hlava, a pak ho hodíte přes zahradní zeď. Lze také použít dlaždičouna, mnozí dnešní kouzelníci však tuto metodu likvidace trpaslíků považují za příliš brutální.</p>

  <p class="sep">-</p>

  <p>Ozvala se hrozná rána. Předtím jsem spal spánkem spravedlivých, ale tohle mě dokonale probralo. Kdo se ke mně dobývá v neděli v 6.24? Znám jenom pár lidí, kteří by tohoto strašného činu byli schopní, a jeden z nich je…</p>

  <p>…no samozřejmě, Bruce. Můj bratr Bruce, který vstává v pět, jí jenom salát, chodí třikrát denně běhat a nectí cizí zvyklosti. Jako třeba, že jiné vstávají v jedenáct, posnídají pivo a celý den stráví bloumáním po zahradě a čtením novin. A ten mizera mě probudí v 6.24 a ještě u toho vypadá tak zatraceně dobře a svěže. Svět JE nespravedlivý.</p>

  <p>„Co tady, ty zkurvysyne, pohledáváš?“ zeptal jsem se ho rozzuřeně a znovu jsem žuchl do postele a plánoval jsem pokračovat ve spánku.</p>

  <p>„Haroldku, vždyť víš, že to s tebou myslím dobře,“ řekl Bruce, jako by se nechumelilo. Vadily mi na tom hned tři věci – že mě oslovuje Haroldku, že mluví tak odporně sladkým hláskem a že chodí pop pokoji a roztahuje závěsy.</p>

  <p>„Co mi chceš?“ zeptal jsem se ho a snažil jsem se, aby to znělo strašně výhružně.</p>

  <p>„Kocourku, nech brášku chvilku mluvit,“ okřikl mě. Takhle se mnou komunikoval pořád a ještě požadoval, abych ho za to miloval nebo co. Já jsem ostatně už neměl síly ho přerušovat, jenom jsem si zakryl uši polštářem a doufal jsem, že nic neuslyším.</p>

  <p>„Takže, Herolde, mám pro tebe přítelkyni.“</p>

  <p>Tuhle větu řekl už poměrně normálním tónem a mě, z nějakého důvodu, okamžitě vymrštila z postele.</p>

  <p>„Cože máš?“ ptal jsem se, kdybych ho náhodou přeslechl.</p>

  <p>„Přítelkyni, broučku. Sám tady shniješ, ty potřebuješ někoho k sobě!“ pokračoval.</p>

  <p>„A kde ji máš?“ ptal jsem se nedočkavě, jako kdyby měla z obýváku přiběhnout nějaká pěkná mladá holka, které bych, pokud možno, nevadil.</p>

  <p>„V Londýně,“ udal mi Bruce zeměpisnou polohu té „mé přítelkyně“ a mě klesla brada zklamáním. Tak asi zase jenom nějaký vtip.</p>

  <p>„Ale poslouchej,“ pokračoval bratr, „tohle tě bude zajímat. Už jsem ti říkal o paní Colferové?“</p>

  Zhrozil jsem se, protože paní Colferovou jsem z vyprávění znal jako devadesátiletou zmatenou stařenku a přestože jsem byl poměrně zoufalý, o tu jsem vážně nestál.</p>

  <p>„Jo říkal. Ale nechci, aby byla ona mojí přítelkyní,“ odpověděl jsem bratrovi.</p>

  <p>„Tu ti nenabízím, neboj. Jenomže ji už delší dobru trápí trpaslíci, takoví ti velcí šedí, co se jich nejde zbavit. A tak si nechala zavolat odbornou pomoc na odtrpaslíkování, přece jenom, má už věk a nemůže s těmi bestiemi bojovat věčně. Na ministerstvu kouzel totiž mají asi nějak moc peněz, tak si založili takovou srandičku zvanou Pomoc s kouzelnými tvory. Vlastně pracují tam jenom dvě ženský a jedna z nich je, a teď se drž, slečna Llewellynová. A slečna Llewellynová, to už je ona, ta ti je úžasná. Mladá, pěkná, chytrá, sympatická, akorát pro tebe, brachu!“</p>

  <p>Slečna Llewellynová mě začala docela zajímat (i přes to otřesné velšské jméno), a tak jsem nechal Bruce mluvit dál.</p>

  <p>„Když přijela, hned mě začala zajímat a Janet byla stejně na kontrole s miminem, takže jsem ji ničím neomezovaný, mohl jít okouknout. A řeknu ti, ta je prostě skvělá!“</p>

  <p>Přestože jsem slečnu Llewellynovou znal tak půl minuty, pocítil jsem žárlivé bodání, když o ní Bruce takhle mluvil – on má přece těhotnou manželku.</p>

  <p>„V čem je tak skvělá?“ zeptal jsem se a snažil jsem se znít lhostejně. Stejně mě ale Bruce odhalil, že se o ni dost zajímám a pokračoval: „To ty si ji půjdeš okouknout sám. Hezky si zatrpaslíkuješ zahradu a pojedeš se k ní objednat a ona přijede za tebou sem a odborně ti pomůže.“</p>

  <p>„S čím mi jako odborně pomůže?“ zeptal jsem se, protože teď jsem si úplně nebyl jistý, co má bratr na mysli.</p>

  <p>„Harolde, je ti šestadvacet a jsi panic, s čím myslíš, že by ti měla pomáhat? Abys měl krásnou zahrádku a trpaslíci ti nepojídali mrkvičku?“</p>

  <p>Syčák, vždyť je to neetické, ať mlčí! Uznávám, že v tomto oboru (jako ostatně snad ve všech) jsem naprosté dřevo, ale zkuste si sbalit holku, když máte za bratry Bruce a Djanga. Božský Bruce, blonďatý a namakaný a nespoutaný Django, odjakživa rebel a rošťák – to jsou prostě nefér konkurenti. Málokdo věřil, že mě zplodili stejné rodiče jako ty dva.</p>

  <p>„Promiň, Haroldku, to bylo hnusný. Každopádně, když slečna Llewellynová velmi odborně ostrpaslíkoávala zahradu paní Colferové, tak jsem se tam přitočil, abych se podíval, jak se to správně dělá a ta fešanda mi dala vizitku, a kdybych prý potřeboval, ať napíšu.“</p>

  <p>„Co kdybys potřeboval?“ zeptal jsem Bruce neviňoučce a ten se jenom pousmál a pokračoval: „Což o to, já bych klidně napsal, ale Janet by to asi dost naštvalo a to já mám zase Janet rád. No a taky jsem chtěl udělat dobrý skutek – jí to nebude vadit, vždyť jsi můj bratr,“ řekl mi Bruce, tak dobrosrdečným hláskem, že by to jednoho dojalo, že rok po svatbě s největší krasavicí v okolí neošuká krasavici z Londýna, ale přenechá ji bratrovi.</p>

  <p>„Dobrý skutek je to, že mě vzbudíš v neděli o půl sedmé?“ zapochyboval jsem o jeho slovech, ale on mi zase hned skočil do řeči: „Vole, že ti přenechám Annu!“</p>

  <p>Chvíli jsem přemýšlel, kdo je Anna, ale když mi bratr natlačil před obličej vizitku se jménem Anna Llewellynová a fotkou náramně pěkné blondýny, pochopil jsem.</p>

  <p>„Ještě mi dovol pár bratrských rad,“ mluvil Bruce dál v sebeklamu, že ho poslouchám, zatímco jsem si prohlížel tu fotku. „Ohol se, zacvič si, navoň se a hlavně si pořádně zatpaslíkuj zahradu, aby měla před samotným aktem co dělat. A trošku si rozmysli, co budeš říkat, ať tam moc nezakoktáváš, jasný?“</p>

  <p>„Jo,“ odpověděl jsem, přestože jsem vlastně pořádně slyšel jenom zapovězené slovo “zacviš“</p>

  <p>„Hodně štěstí, starý brachu,“ popřál mi Bruce, familiérně mě poplácal po rameni a přemístil se pryč.</p>

  <p>Tak jeho dnešní návštěva nebyla zase tak marná, přestože mě vzbudil v 6.24. Ale co, to dospím. Sáhl jsem pod postel pro jedno pivo k první snídani, na pár hltů ho vypil, postavil si láhev vedle sebe na noční stolek a opřel o ni vizitku slečny Llewellynová, která na fotce pomrkávala a občas pohodila vlasy. S pohledem na ni jsem blaženě usnul.</p>

  <p class="sep">-</p>

  <p>Probudil jsem se po pár hodinách a bylo mi pěkně. Zdálo se mi o slečně Llewellynové, přestože zatím jsem znal jenom její hlavu a kus krku, a musím říct, že to byl jeden z hezčích snů, jaké jsem kdy měl. Když jsem vypil další dvě piva, abych nevstával s prázdným žaludkem a řekl jsem si, že se připravím na zítřejší cestu do Londýna.</p>

  <p>Podle bratrovy rady jsem si udělal čtyři kliky a devět sedů lehů a myslím si, že to na mě bylo vážně moc dobře vidět a že jsem velmi zhubnul.</p>

  <p>Po tom výkonu jsem poobědval, šel jsem se do koupelny oholit a potom jsem se rozhodl, že si sepíšu, co budu říkat a do jaké role se budu stylizovat, až přijdu na ministerstvo. Zavrhl jsem španělského toreadora s růží v puse, statečného rytíře na koni, tajného agenta, superhrdinu a podobné, na které letěla naše máti, a nikdo jiný mě nenapadal, takže jsem to nechal být a řekl jsem si, že tam prostě přijdu jako každý normální zákazník a že můj zájem o ni bude jasně čitelný z mé nezaměnitelné řeči těla.</p>

  <p>Když jsem pokoušel naplánovat si dialog, taky to nešlo, protože Annu jsem neznal, a tak jsem nemohl vědět, jak bude reagovat. Na druhou stranu, z mluvních cvičení ve škole jsem obvykle dostával dobré známky, takže by to mohlo být zítra podobné.</p>

  <p>Dalším problémem bylo zatrpaslíkování zahrady. Nedělalo se mi to zrovna snadno – vždyť tetička Mary, po které jsem celý barák zdědil, byla vášnivá zahrádkářka a na svůj kus úrodné půdy před domem nedala dopustit. Věnovala celé roky boji proti trpaslíkům a jiným škůdcům a já jsem je teď měl jen tak jít nasadit na celou zahradu, aby mě slečna Llewellynová měla čeho zbavovat. S těžkým srdcem jsem tedy z kůlničky vyhrabal lopatu a vydal se k sousedům, jestli by mi nemohli dát nějakého trpaslíka. Věděl jsem z hodin péče o kouzelné tvory, že stačí vzít jednoho a on si už kamarády nějak přivolá. Můj soused pan Dawson se na mě sice díval stylem ničit tak krásnou starou zahradu po tetě Mary, jsi blázen?, ale jednoho malého záškodníka mi donesl a popřál mi dokonce i hodně štěstí.</p>

  <p>A já jsem upřímně doufal, že mi opravdu hodně štěstí přinese. Dal jsem mu jméno Felix a dokonce jsem mu mezi záhonkem s ředkvičkami a salátem vyhloubil hezkou pohodlnou dírku.</p>

  <p>Vzhledem k tomu, že už se pomalu stmívalo, nechal jsem této namáhavé práce, dal jsem si ještě jedno pivo a uložil jsem se do postele, abych byl na zítřejší významný den pořád vyspalý.</p>

  <p class="sep">-</p>

  <p>Hned po snídani (a představte si, že to nebylo pivo) jsem se poměrně slušně oblékl, ale zase ne moc, aby se mě nelekla, a s bušícím srdcem jsem se přemístil do Londýna. Na ministerstvu kouzel jsem byl dvakrát v životě – poprvé v devíti letech, když se naši rozváděli a hádali se o nás a podruhé předloni, když mě nachytali, že místo abych roznášel reklamy na Ollivanderovic hůlky, sedím u Děravého kotle a popíjím a chtěli se se mnou soudit. Mně dělal advokáta Bruce, který o tom nic neví, ale tvrdil, že to okoukal z mudlovského filmu Ďáblův advokát, takže si umíte představit, jak to dopadlo.</p>

  <p> No, na ministerstvo kouzel jsem měl opravdu špatné vzpomínky a už jenom ta mluvící telefonní budka mi docela naháněla strach. Naštěstí dnes jsem sem šel kvůli příjemnější záležitosti a už jsem se na ni moc těšil.</p>

  <p>Ministerstvo se ukázalo poněkud větší, než jsem si představoval a plné různých bizarních oddělení (jako třeba ředitelství klubu tchoříčků a podobné), i když já jsem vlastně šel taky vyhledat odbornou pomoc s kouzelnými tvory, což byl projekt, bez kterého by se lidstvo asi obešlo. Bloudil jsem patry sem a tam a pomohl, představte si – kentaur. Nějaký kentaur, co hledal práci a potřeboval k tomu svolení od ministerstva (jeho nářky jsem si vyslechl ve výtahu) a mířil do stejné části domu jako já. Když jsme byli v osmém patře, kentaur se ode mě odpojil a kráčel do největších dveří v tomto podlaží (jinam by se snad ani nevešel) a já jsem hledal dál. Naštěstí měli kancelář docela na očích, takže jsem už stanul před cedulkou ODBORNÁ POMOC S KOUZELNÝMI TVORY: Elizabeth Queenová, Anna Llewellynová. Výborně, poznal jsem, že tady jsem správně, jak podle nápisu na dveřích tak podle mých třesoucích kolen.</p>

  <p>Zaklepal jsem a upřímně jsem doufal, že nenarazím na tu druhou ženskou, ale na Annu. Když se ozvalo: „Dále,“ nadechl jsem se a vešel dovnitř.</p>

  <p>Otevřel jsem dveře a vešel do místnosti. Za stolem, který stál přímo proti dveřím, seděla moc pěkná blondýna a četla si nějakou knihu. Zdvihla prst, ať ještě chvilku počkám, ještě si pár okamžiků četla a potom zvedla hlavu, usmála se a řekla: „Omlouvám se, musela jsem si dočíst stránku.“ Pohlédl jsem na stůl, abych viděl, co to čte, a spatřil jsem publikaci Proč jsem nezemřel, když zakvílel auguron. Tuto knížku jsem četl za dob svých studií v Bradavicích a přestože zápletku měla docela slušnou, její autor, Gulliver Pokeby, uměl spíš skvěle uspat a ne zaujmout.</p>

  <p>„Vás to baví?“ zeptal jsem se pochybovačně a zapomněl jsem na můj plán, podle kterého jsem měl vejít, tajemně se usmát a spontánně Annu pozdravit.</p>

  <p>„Taky vás zdravím,“ odpověděla mi, ale usmívala se, což bylo dobré znamení.</p>

  <p>Abych vás neochudil o požitek z Anny, který se dostával mě, tak ji trochu popíšu – nebyla úplně stejná jako na vizitce, protože tam ta fotka byla už asi nějaký ten pátek stará, ale to vůbec nevadilo. Anna si od té doby trošku zkrátila vlasy a začala nosit brýle, ale v obličeji byla pořád prakticky stejná. Nemám rád dlouhé popisy, které jsem v dětství musel matce číst z jejích milovaných historických románů, takže vás ušetřím barvy očí, tvaru rtů a úhlu mezi uchem a obličejem a řeknu vám, že Anna vypadala prostě skvěle.</p>

  <p>„Můžu vám nějak pomoct?“ zeptala se mně, když už jí doba mého kochání přišla moc dlouhá a chtěla mě zarazit při důkladném zkoumání jejího knoflíčku poblíž výstřihu.</p>

  <p>„Jistě, můžete mi pomoct,“ odpověděl jsem jí a křečovitě se na ni usmál.</p>

  <p>„A jak?“ kladla mi dále doplňující otázky s cílem vydolovat ze mě nějakou rozumnou řeč.</p>

  <p>„Ano, jistě, pardón,“ omlouval jsem se a ani jsem pořádně nevěděl, za co.</p><p>„Potřeboval bych odbornou pomoc s odtrpaslíkováním mojí zahrady.“</p>

  <p>Anně, která se do té doby příjemně usmívala, najednou úsměv zamrzl na rtech, pokrčila rameny a řekla: „S takovou bychom nedělaly nic jiného, než jenom odtrpaslíkovávaly zahrady po celé Británii. Liz je zrovna někde poblíž Yorku a odtrpaslíkovává městský park. Rozhodly jsme se vydat brožurku, kde je podrobný popis, jak se to přesně dělá, takže pokud vás trápí trpaslíci, dejte mi adresu a já vám ji v nejbližších dnes pošlu.“</p>

  <p>Teď mě dostala! Něco takového jsem teda nečekal. Ale já ji potřebuju vylákat k sobě, jinak by celý plán neměl vůbec smysl. Pekelně jsem se začal soustředit a snažil jsem se vzpomenout na mluvní cvičení, učitelku Hepburnovou a její rady, co dělat, když vám dojdou slova. Bohužel jsem se do dob páté třídy nepřenesl, takže jsem musel improvizovat a plácat jednu hloupost přes druhou.</p>

  <p>„Trpaslíci jsou to nejmenší – to byste nevěřila, v jakém je moje zahrada stavu. Mám tam spoustu bodlošů, dlaždičounů, rarachů sem tam se tam mihne i nějaká zbloudilá karkulinka a taky mám dojem, že na půdě se mi začíná zabydlovat ghúl.“ Teta Mary asi teď rotuje v hrobě, co já jsem za pár vteřin udělal z její zahrady, ale nemůžu přece zůstat panicem až do smrti.</p>

  <p>„No to je mi neštěstí, bodloši, dlaždičouni, raraši, karkulinky a ghúl, pane, vy máte ale zakletou zahradu. Už jste někdy slyšel, že karkulinky jsou národním tvorem Švédska a zde se skoro nevyskytují? A že bodloši s dlaždičouny se nemůžou vystát, takže na jedné zahradě spolu asi těžko vydrží? A že raraši nepostojí na jednom místě, takže se přeženou přes jeden pozemek a utíkají zase pryč? Toho ghúla bych vám i věřila, ale to se mě netýká, na to si zavolejte pana Kiplinga ze Skupiny pro odstraňování ghúlů – je to moc milý člověk a jistě vám rád pomůže.“ Potom se na mě ironicky usmála a sklonila opět hlavu ke Auguronovi od Pokebyho, jakože mi už nemá co říct.</p>

  <p>Pěkně jsem si to zavařil. To mě měl Bruce varovat, že trpaslíci jsou příliš malá hrozba. Mě se teď Felix roztahuje po zahradě a jen tak pro nic za nic.</p>

  <p>„Slečno Llewellynová,“ oslovil jsem Annu, aby věděla, že se o ni opravdu zajímám. Chtěl jsem zapojit i tu řeč těla, ale všechny končetiny jsem měl neuvěřitelně ztuhlé, takže to moc dobře nešlo. „Já vás opravdu nevodím za nos – náš dům je trošku tajemný, vypráví se, že můj prapradědeček zde surově zabil svoji sestru, tak proto ty karkulinky. Bodloše i dlaždičouny tam skutečně mám, jenom tam nikdy nebyli spolu, bodloši nepochybně v noci a dlaždičoun mi nadával, když jsem okopával záhonek. Raraši, pravda, ti se hýbou a nejsou u mě zabydlení napořád, ale já bych potřeboval zamezit tomu jejich otravnému přebíhání. Tohle mi uvěříte?“</p>

  <p>Anna na mě vzhlédla, podívala se na mě modrýma očima skrz zelené brýle, vzdychla a řekla: „Co mám s vámi dělat – náš zákazník, náš pán. Kde bydlíte a kdy bych měla přijet?“</p>

  <p>Co to dořekla, vstala od stolu a já jsem ji poprvé uviděl celou – měla oranžové tričko s tím proklatým knoflíčkem a zelené kalhoty, všechno to k sobě docela ladilo a hlavně jí to všechno hrozně slušelo.</p>

  <p>Z matčiných románů vím, že když se nějakému muži opravdu hodně líbí žena, tak si ji představuje nahou - kolikrát já jsem musel předčítat popis nahaté Výtržnice Vendelíny od Urika Ujetého. Já jsem ovšem necítil sebemenší potřebu si slečnu Llewellynovou představovat bez oblečení. I s ním byla totiž perfektní.</p>

  <p>Objekt mého zájmu mezitím přešel k nějakému stojanu s papíry, vytáhl jeden, vzal brk a zeptal se mě: „Jméno?“</p>

  <p>„Harold Dickinson,“ odpověděl jsem svoje ctěné jméno.</p>

  <p>„Bydliště?“</p>

  <p>„Vydrník svatého Drába.“</p>

  <p>„Problém?“ Na tuhle otázku si odpověděla sama: „Těch je po více, napíšu Kuriózní zahrada. A kdyže k vám mám přijít?“</p>

  <p>Já jsem ze saka vytáhl diář, který jsem používal sice k takovým událostem jako večeře u matky, matčiny narozeniny nebo den matek, ale aspoň jsem vypadal důležitě.</p><p>„Tento týden mám skoro celou dobu volno – kdy můžete vy?“</p>

  <p>I Anna otevřela svůj diář, očividně zaplněnější než ten můj, zalistovala v něm a navrhla mi: „Co ve čtvrtek ve dvě odpoledne, vydržíte to do té doby s těmi potvorami na zahradě?“</p>

  <p>Já jsem přikývl. Kdyby chtěla přijít dřív, to bych si stejně všechny ty rarachy, karkulinky, bodloše, dlaždičouny a ghúla nestihl opatřit, aby mi je zase mohla odborně odstranit.</p>

  <p>Anna ještě klepla hůlkou na papír a dole na tlusté lince se jí ukázala suma, kterou jí dlužím ža jednu návštěvu – skoro jako v bordelu.</p>

  <p>„Dva galeony a pět srpců,“ oznámila mi, kolik po mě požadovala. Já začal lovit váček s penězi, abych jí zaplatil, ale ona mě zarazila: „Dáte mi to až na místě, teď to ještě nepotřebuju.“</p>

  <p>„Tak dobře, děkuju,“vyklopil jsem ze sebe, přestože to vlastně byly asi samozřejmost. Slečna Llewellynová mi nějak nevěnovala pozornost a jenom klepla hůlkou na papír, vytvořila jeho duplikát a podala mi ho na můj podpis. Já jsem tam načmrkal svoje jméno, dal jsem jí to zpátky a ještě jsem se přesvědčil: „Ve čtvrtek ve dvě hodiny?“ Ona jenom přikývla, protože i tak jsem tady už tvrdnul a obtěžoval ji asi moc dlouho a rozloučila se se mnou. Stejně tak i já, potom jsem se ještě pokusil o přívětivý úsměv (pokusil, ne ho skutečně udělal) a potom jsem vycouval ze dveří a šel hledat správnou cestu z ministerstva ven.</p>

  <p>Když jsem odcházel, nebyl jsem si úplně jist, jestli to dopadlo dobře nebo špatně, ale na druhou stranu - měl jsem domluvenou schůzku, takže asi dobře.</p>

  <p class="sep">-</p>

  <p>Řeknu vám, že nechcete za tři dny shánět všechny ty obludy, které jsem do čtvrtka měl mít na zahradě já.  Ghúl nebyl zase takový problém – moji sousedé Dawsonovi jich na půdě měli pět, takže mi jednoho z nich s radostí věnovali (pan Dawson si už opravdu musel myslet, že jsem se zbláznil, aspoň tak vypadal, když mi jeden exemplář tohoto odporného tvora věnoval).</p>

  <p>Ubytoval jsem ghúla na půdě v nějaké stařičké malé posteli a doufal, že mi nezdemoluje veškeré věci, co jsem tam skladoval. Kdyby dostal chuť rozbíjet porcelán po tetě Mary, který mívala vystavený všude po domě a který jsem já potom lhostejně sebral a naházel do krabicí a uložil sem na půdu, tak bych mu to ani nezazlíval, ale d starou sbírku karet z Čokoládových žabek jsem si hezky snesl z půdy dolů, aby jí ještě nějak neublížil.</p>

  <p>To byl ghúl, ale sehnat rarachy, no, téměř nemožný úkol. Tady na ně byla moc zima a já jsem si spílal, že jsem tam před Annou trošku nepřemýšlel a nevymyslel si třeba černovřesy. Naštěstí jsem si vzpomněl, že rarachům se říká cornwallští, protože, světe div se, se vyskytují hlavně v Cornwallu. A v Cornwallu žije můj mladší bratr Django.</p>

  <p>Sice jsem ho neměl příliš v lásce, ale jednou jsme rodina, takže si musíme pomáhat. Napsal jsem mu tedy dopis, ať je tak laskav a nachytá mi pár těch modrých potvor, že se pro ně zítra zastavím.</p>

  <p>Tím jsem měl zfouklé rarachy, ale ještě mi zbývali bodloši, dlaždičouni a karkulinky. Uznal jsem, že karkulinky asi budou marný boj a že tu žádnou stejně neudržím, protože Vydrník je extrémně mírumilovná vesnička – žádné bitvy, žádné vražd, což je pro karkulinky velmi neatraktivní.</p>

  <p>Na bodloše jsem měl poměrně štěstí – když jsem se v úterý vpodvečer na zahradě dohadoval s Felixem, přes zahradu si to zrovna jeden bodloš štrádoval. Vycítil jsem skvělou příležitost, a tak jsem se za ním rozběhl, překonal svůj odpor ke zvířatům, chytil ho a schoval si ho do velké bedýnky v boudě na zahradě. Těsně před druhou hodinou ho vypustím ven a budu se tvářit, že je zde naprosto přirozeně a že mě to otravuje.</p>

  <p>Další den jsem se přemístil k Djangovi domů. Bydleli společně s otcem, takže jejich dům vypadal strašně neuspořádaně a chaoticky. To ten můj sice taky, ale já už jsem u sebe viděl u plotny slečnu Llewellynovou v zástě</p>

{% endblock %}
