<!DOCTYPE html>
<html lang="cs">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="Soutěže neprofesionálních autorů s povídkami na téma nebo drabble." />
  <meta name="keywords" content="povídky, drabble, fantasy, story, writting" />
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <title>
    {% if title is defined%}
      {{ title }}
    {% else %}
      Klub tichých skokanů o tyči
    {% endif %}
  </title>
  <link href="{{ app.asset_path }}/css/styles.css" type="text/css" rel="stylesheet" />
  <link href="{{ app.asset_path }}/css/menu.css" type="text/css" rel="stylesheet" />
  {% block css %}{% endblock %}
  <script src="{{ app.asset_path }}/js/jquery.js" type="text/javascript"></script>
  <script src="{{ app.asset_path }}/js/function.js" type="text/javascript"></script>
</head>
<body>
  <div id="main">

      <div id="logo">
        <a href="{{ url('homepage') }}">
          <h1>Klub tichých skokanů o tyči</h1>
        </a>
      </div>
      <div id="head">
        <img src="{{ app.asset_path }}/obrazky/banner.jpg" id="banner"
             alt="Klub tichých skokanů o tyči">
      </div>

      <div class="nav inner relative">
        <a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
        <nav id="navigation">
          <ul id="main-menu">
            <li><a href="{{ url('homepage') }}">Domů</a></li>
            <li class="parent">
              <a href="#">Povídky</a>
              <ul class="sub-menu">
                <li><a href="{{ url('povidky-soutezni') }}">Aktuální</a></li>
                <li><a href="{{ url('povidky-predchozi') }}">Předchozí</a></li>
                <li><a href="{{ url('povidky-nesoutezni') }}">Nesoutěžní</a></li>
                <li><a href="{{ url('povidky-historicke') }}">Historické</a></li>
              </ul>
            </li>
            <li class="parent">
              <a href='#'>Drabble</a>
              <ul class="sub-menu">
                <li><a href="{{ url('drabble-soutezni') }}">Aktuální</a></li>
                <li><a href="{{ url('drabble-predchozi') }}">Předchozí</a></li>
                <li><a href="{{ url('drabble-adventni') }}">Adventní</a></li>
              </ul>
            </li>
            <li><a href="{{ url('forum') }}">Fórum</a></li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <div id="comments">
        {% block comments %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>Na těchto stránkách nevzniká nic za účelem zisku. Fantasy světy a jejich kánon jsou majetkem svých právoplatných autorů. Zbytek je výhradním majetkem autorů zde publikujících.</p>
    </div>

  </body>
</html>
