{% extends "post.html" %}

{% set title = 'Drabble č. 13 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 13</h2>

<p>„Lorde Vetinari, se vší úctou, ale vy neberete dostatečně vážně krizi, ve které teď jsme!“ Prohlásil Keremikel Rombel, teprve před dvěma měsíci zvolený jako hlava cechu doktorů a ranhojičů, tento cech nabral v posledním měsíci důležitost. Všichni na chvíli ztichli. Nakonec se slova ujal Flanelnoha, hlava cechu zlodějů.
<p>„V tomhle musím se nepřítomným panem Rombelem souhlasit, lidé se vůbec neobtěžují si zakrývat tvář. Samozřejmě já a moji lidé na to dbáme od počátku.“ On a většina cechmistrů zde přítomných měla roušky. Vyrobené na zakázku, vkusně udělané. Například Lord Odkragli měl roušku barvy ebenu, vyšívanou černou hedvábnou nití. S garancí ochrany proti moru, dodanou cechem doktorů a ranhojičů.
<p>„Jistě, zlé jazyky by ovšem namítly, že vaši lidé si tvář zakrývali staletí před tím a z úplně jiných důvodů.“ Podotkl lord Vetinari.
<p>„Čert vem důvod, hlavní je, že jsou zodpovědní a uvědomělí.“
<p>„Opravte mne pánové, jestli se pletu, ale nepřenáší se náhodou rudý mor krví a dotekem? K čemu jsou nám tedy roušky?“ Nadhodil Patricij, on sám roušku neměl.
<p>„Ale lorde Vetinari, tyto údaje jsou stará desetiletí! Klasické popírání nových údajů, naše lékařská věda je mnohem dál.“ Ohradil se Rombel.
<p>„A jaké jsou nové údaje, smím-li se ptát?“ Otázal se lord Vetinari, hlasem hladkým jako dýka.
<p>„Nebudeme tady vyprávět historii našeho pokroku za posledních dvě stě let, důležité je, abyste uzákonil opatření, která tato situace vyžaduje.“
<p>„Vždyť to jsme již udělali. Na vaši žádost a doporučení jsme poslali pro morového doktora. Zřejmě se už vypravil a bude zde tak rychle, jak jen to bude možné.“
<p>„Ale než se tak stane, jsou i jiná opatření které zachrání spousty životů, měl by jste dát zákon o povinném nošení roušek.“
<p>„Z vaší dílny samozřejmě.“
<p>„Jsme schopni dodat roušky každému občanu, když to město bude financovat ....“
 {% endblock %}
