{% extends "post.html" %}

{% set title = 'Drabble č. 14 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 14</h2>
<p> Na náměstí šel pomalým krokem muž v černé masce a klobouku. Kromě toho měl na sobě i spoustu železných cvočků a doplňků, lehce při pochodu cinkal. Normálně zde bývá spousta lidí, ale strach z ohrožení rudým morem zapříčinil, že muže v černém spatřila jen hrstka lidí. I tak netrvalo dlouho, aby se to dozvědělo celé město. Morový doktor stál uprostřed náměstí a čekal. Brzy se na náměstí dostavila spousta lidí, ať už jen ze zvědavosti, nebo úředně. Mezi osoby co zde byly z druhého důvodu, patřil samozřejmě Patricij, velitel hlídky Elánius, Rombel a pár dalších cechmistrů.
<p>„Náš zachránce! Prosíme, mistře, řekněte, co máme udělat.“ Okamžitě se ujal slova Keremikel, aniž by jej k tomu kdokoliv vybídnul. Lord Vetinari se tvářil nevzrušeně.
<p>„Své řemeslo mohu konat tady a teď. Přiveďte své nemocné.“ Řekl doktor chraptivě.
<p>„Jistě! Přiveďte je.“ Přikázal. „Jsou v jedné z našich cechovních místností, nechali jsme to pro ně zřídit.“ Vystvětlil. A skutečně, asi tucet lidí s červenými tvářemi se poměrně rychle objevilo před doktorem. Možná až příliš rychle. Všichni pokašlávali a tvářili se nešťastně. Doktor k nim přistoupil, z pláště vyndal šátek a lesklou lahvičku, pokapal jej a otřel tváře nemocných. Všichni začali vykazovat známky zlepšení a jejich tváře nabyly zdravé barvy.
<p>„Je to velmi jednoduché, až dostanu svou platbu, dám vám recept na lék. Kdyby se mor znovu objevil, ihned se jej budete moci zbavit.“ Prohlásil, bylo to kvůli jeho zobákovité masce stěží srozumitelné.
<p>„To je velmi výhodná nabídka! Apeluji na hlavu našeho města, aby přijala tuto nabídku a zachránila nás všechny!“ Vyzval Vetinariho Keremikel. Vetinari se lehounce pousmál, střelil očima někde za doktora a pomalu se otázal.
<p>„A kolik si velectěný pán přeje, bude od té dobroty a sdělí nám to? Nebo se nejdřív poradí se svým kolegou?“ Teď si toho všimli i ostatní, na náměstí se rozvážným krokem blížil druhý morový doktor. Tento vypadal o dost jinak, také byl celý v černém, ale jeho oděv postrádal jakékoli doplňky, neměl klobouk ale kápi, široké rukávy a celkově působil… kvalitněji. To jednoduše poznáte, obzvláště jeho maska vypadala opravdověji.
<p>„Jsem zde….“ Taky mluvil chraplavě, ale bylo mu rozumět dokonale. Doktorovi vedle něj se to vůbec nelíbilo. Působil velmi nervózně, na šátku, který použil, udělal nevědomky uzel, jak jej muchlal. Nejdříve se vzpamatoval Rombel.
<p>„No to jste ale přišel pozdě! Vidíte? Jeden z vašich lidí je tady a všechno zařídil.“ Ukázal na prvního morového doktora.
<p>„ ……. chcete snad říci, že jste mne volali nadarmo?“ Zaskřehotal ledově.
<p>„Ale to vůbec ne, doktore.“ Řekl Vetinari dříve, než Keremikel stihl cokoliv říci.
<p>„Ano… chápu. Vaše město je nemocné. Můžu vás zbavit toho nejhoršího.“
<p>„To budete velice laskav.“ Morový doktor vytrhl šátek jeho „kolegovi“ a hodil jej na zem. Všichni co stáli dost blízko, uviděli, že je od červené barvy. Falešný morový doktor začal couvat. Pravý morový doktor se k němu blížil rozhodným krokem. To už falešný doktor běžel, pravý zaklapal zobákem a … letěl. Je ho nohy se za pochodu změnily v pařáty a ruce v křídla. Jeho maska se stala skutečným zobákem. Falešníka v mžiku dohonil a rozsápal jej svými pařáty. Pak otočil hlavu, nepřirozeně pro člověka, ale vzhledem k tomu, že doktor byl teď obrovský havran, bylo to to poslední, co kolemstojící zajímalo. Obzvláště pan Keremikel Rombel, vypadal nezaujatě. Snažil se protlačit shlukem lidí. Ti mu v mžiku chvatně ustoupili, což jej na zlomek vteřiny překvapilo. Když se ohlédl, zjistil proč. Potkal jej stejný osud, jako jeho komplice. Brzy na to Morový doktor zase stál na svém místě. Ostatní lidé vypadali zděšeně. Jediný kdo se ani nehnul, byl Vetinari. Vedle něj stál Elánius s taseným mečem. Vetinari mu pokynul, aby meč sklonil.
<p>„Co to k čertu bylo?!“ Zněla Elániova otázka. Chvilku bylo ticho, pak mu doktor odpověděl.
<p>„To je snad jasné, jsem lykantrop.“ Řekl tak prostě, jako by to bylo ‘To je snad jasné, mám důchodové spoření.‘
<p>“Lykantrop? Jakože vlkodlak?” Nechápal Elánius.
<p>„Lykantrop nutně neznamená vlkodlak,“ pronesl doktor klidně „může to být člověk měnící se v jakékoli zvíře“ vysvětlil. Elánia napadlo, jak to, že mu tedy u všech bohů zůstalo oblečení a ta maska po proměně. Čím více o tom však přemýšlel, tím méně chtěl znát odpověď. Lord Vetinari na něj kývl.
<p>„Ať tak nebo ta, mám povinnost, vás zatknout pane.“ Řekl a přistoupil k němu. Jen doufám, že to pochopil. Nechtěl bych skončit jako Rombel…
<p>„Jistě“ přikývl, v příští chvíli už morový doktor odlétal dál od Ankh-Mroporku. Tak bylo město vyléčeno od jednoho velmi nebezpečného neduhu.


 {% endblock %}
