{% extends "post.html" %}

{% set title = 'Drabble č. 15 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 15</h2>
<p>„Děkuji, že jste přišli. Dvaadvacet bude stačit.“ Prohlížel si různorodou skupinku a přemýšlel, jak s ní naloží. Pár starých žebráků, nějací studenti, dokonce dvě děti a několik přístavních dělníků.
<p>„Tady máte kostýmy, rozeberte si to,“ a hodil na ebenový stolek ještě pár až příliš různých pokrývek hlavy. Klobouky s péry, cylindr, zálesácká čepice, přilby různých tvarů. Zúčastnění si je rozebrali. Někteří tu nebyli poprvé v životě a věděli, co se od nich vyžaduje. Postupně se dooblékali a seřadili před kulisu improvizovaného portálu.
<p>„Děkuji a teď bych prosil tady pána s klasickou bradkou v černém s rudou šerpou, aby vystoupil trochu do popředí a támhletoho v bílém k němu, jakože mu starší něco vysvětluje, ano? To bude ústřední figura. Vy jako vycházíte všichni z brány, vypravujete se na stráž a tito dva pánové jdou napřed. Vy s bubnem prosím úplně vpravo a netlučte do něj doopravdy, můj pes se vás bojí. Dobře a dívenku bych prosil jako že prochází davem a dívá se na ústřední dvojici. Vy ostatní si ještě rozeberte zbraně a kopí jsou za vámi opřená o stěnu. Prosím pána v cylindru, aby se jím moc nerozháněl a vy tam vzadu s praporem trochu na stranu. Pán v červeném trochu nalevo, vezměte si pušku a dělejte, že ji kontrolujete.“ V duchu si pomyslel, že chlap asi pušku zřejmě ještě v ruce neměl, neboť ji držel spíše jako pádlo. Malého kluka stejně na místě neudrží, postačí, když bude v záběru.
<p>„Děkuji a nyní prosím o klid a nehybnost,“ pronesl nad ztichlými komparsisty.
<p>Ještě jednou překontroloval hlavní body kompozice a začal malovat.
 {% endblock %}
