{% extends "post.html" %}

{% set title = 'Drabble č. 16 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 16</h2>
  
 <p> „Hodil bys nějaký námět, od kterého bychom se mohli společně rozjet?“ tázala se Zuzka svého spoluautora Tondy (jména uživatelů jsou v zájmu anonymity pozměněna, neručíme ani za pohlaví.) nikoli potrubní poštou, leč osobní zprávou, zatímco bezradně okusovala tužku.
<p>„Přemýšlím,“ odepsal Tonda vzápětí, zatímco se skutečně pokoušel přimět své mozkové závity ke zvýšené aktivitě.
<p>Rozhlížel se ztichlým pokojem a marně se pokoušel svým zrakem zachytit cokoli, co by v něm zažehlo tvůrčí inspiraci. Postupně zaznamenal stůl z ebenového dřeva, přesýpací hodiny s pískem na dvě a půl minuty, model řadové lodi z doby Napoleonských válek, plnicí pero, starý mobil a talířek s maminčiným závinem.
<p>Není to vůbec jednoduché, když mají něco tvořit dohromady. Sám by si snad věděl rady, například ta plachetnice vysloveně volala po zpravování, ale společná tvorba vyžaduje téma, které sedne oběma pisatelům. Tohle jim paní učitelka neměla dělat.
<p>Jeho zrak se stále vracel k plachetnici. Přece jen to zkusil. „Klasické téma o životě na počátku devatenáctého století?“ odepsal Zuzce po chvíli váhání.
<p>Odpověď ho překvapila: „Námořník, co se vydal za štěstím do Nového světa?“
<p>„Ano, přesně něco takového,“ psal Zuzce potěšeně. „Popluje na lodi, kterou zajme kaper…“
<p>„Co je to kaper?“
<p>„…kterou zajme korzár,“ opravil se na populárnější termín.
<p>„A on se dostane na plantáže, kde se do něj zamiluje plantážníkova dcera…“ – romantika musí být – „…utečou spolu, on se stane kapitánem…“ Zuzce zřejmě došla inspirace.
<p>„Pak narazí na korzára, který ho zajal, ale nakonec se mu nepomstí.“
<p>Vzápětí už se pokojem nesl zvuk klapající klávesnice.

 {% endblock %}
