{% extends "post.html" %}

{% set title = 'Drabble č. 17 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 17</h2>
<p>Jegor Svjatogor

<p>„Zlepšuješ sa, synak.“
<p>Zachechtal sa Jegor, keď Iľja šikovne vykryl jeho výpad na rameno a ešte ho aj odrazil tak, až sa mohutný bohatier zatackal. Druhý by sa už váľal na zemi.
<p>„Mám dobrého učiteľa.“
<p>Pousmial sa mládenec a ťal Gnevom po Jegorovom kolene. Ich zápolenie trvalo ešte hodnú chvíľu, kým sa dočista nezošerilo a Svjatogor nezavelil k skončeniu o poznanie udýchanejší, než jeho mladý zverenec.
<p>Sadli si do trávy. Pofukoval vlahý nočný vietor a od vatry kúsok opodiaľ doliehal Mikulov spev, čosi o krotení pekných Slavutičských rusaliek, ak Jegor na diaľku dobre rozumel. Tu sa od bohatierskeho hlúčiku vydelil jeden vysoký štíhly bojovník a zamieril k nim.
<p>„Hej, Muromec, vravel si, že chceš počuť ten príbeh o vlkolakovi čo ohrozoval pútnikov v Krivičských lesov. Počkal som kým skončíte, ale všetci sú už nedočkaví.“
<p>Iľja rezko vstal.
<p>„Už idem, Kolyvan.“
<p>Tu však náhle zastal, obrátil sa a napriahol ruku k Jegorovi.
<p>„Báťuška, pridáš sa?“
<p>V žalúdku akoby sa mu čosi zauzlilo. Pozrel na svoj meč Smerť. Dlhá ostrá čepeľ a jantárová hlavica – skvostná práca Carihradských majstrov, čo sa len tak blyšťala odrazmi plameňov. Mal by sa pri ňom dôkladne pomodliť, zanedbávať Boha nerobilo dobrotu. A potom rovno uľahnúť spať, ak nechcel byť na úsvite ako požutá handra. Čakala ich dlhá cesta k bilärskému begovi. Čosi v Muromcovej tvári, v nádejajúcich sa modrých očiach ho však primälo pookriať. Prijal podávanú ruku.
<p>„Ech, dám tomu šancu, tiež ho nepoznám.“
<p>Rozjímať bude zajtra.

 {% endblock %}
