{% extends "post.html" %}

{% set title = 'Drabble č. 19 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 19</h2>
<p>Anna se probudila z podivného snu, kde se míhalo světlo knotu, křik, studený dotek a něco velmi ostrého. Byla zmatená, nebyla schopna si všechny útržky paměti uspořádat do zřejmého celku. Každá myšlenka po ní vyžadovala urputné soustředění. Všechno bylo nějak neznámé, cizí.
<p>Cítila slabé pálení kousek pro pravým uchem. Ta bolest ji ale neprobudila. To způsobily kroky, které se nesly rozlehlým ztichlým domem. Nechápala, že je dokáže slyšet, musely přicházet zdaleka.
<p>Vstala. Byla hluboká a chladná zimní noc, ale necítila chlad. I tak přes svou košili ze zvyku přehodila lehký plášť. Ležel tam, kde vždycky. Byla jista, že toto je její domov, i když jí teď připadal nějak cizí. Pocítila zvláštní smutek.
<p>Aby jej zaplašila, rozhodla se vypravit se za zdrojem těch tichých kroků. Vůbec necítila strach. Další podivnost, které nerozuměla. I když se jí myšlenky ještě neutřídily, byla si jistá, že v předešlém životě by se na osamělou pouť temnými chodbami a pokoji za podivným zvukem jen těžko vydala a nejspíše by zvonila na komornou. Ale lidé mají v noci spát.
<p>Rozevřela ebenové dveře. Šla chodbou a míjela klasické portréty svých předků. Byla bosa a nedělala vůbec žádný hluk. To ticho bylo nepříjemnější než zvuky, za nimiž se vydala. A pak se v rohu chodby střetla s mužem, který se obezřetně přibližoval. V levé ruce svíral něco, co jí nedělalo vůbec dobře, v pravé pak dlouhý ostrý předmět.
<p>„Anna,“ vydechl.
<p>„Ano, to jsem já,“ řekla a už chápala svou proměnu. „A kdo jsi ty?“
<p>„Lovec,“ odvětil muž.
 {% endblock %}
