{% extends "post.html" %}

{% set title = 'Drabble č. 24 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 24</h2>
<p>„Tak, to bychom měli vlkodlaka.“
<p>Další v řadě vyhynulých vývojových článků, jejichž podobu se pokoušeli zrekonstruovat pro nadcházející utkání.
<p>„Ukaž.“
<p>Mluvčí byla jen jedna. Práce trvala dlouho do noci a druzí z jejich skupiny už odešli spát. V pracovně zbýval jen Edilef a Zarja. Uvolnil jeden z uzlů kouzla a ve vzduchu se zjevil svalnatý naježený tvor s obrovitými tesáky a drápy. Zavětřil, spustil se na všechny čtyři a dal do pohybu. On však s napětím sledoval její reakci.
<p>„Nebyl jsem si zcela jist mechanikou běhu, ale pak jsem provedl porovnání s běsem a poznal, v čem vězel problém.“
<p>Čarodějka vedle něj přikývla.
<p>„Ano, teď už to působí přirozeněji. A pěkně hrozivě.“
<p>„A to není vše. Vymodeloval jsem i simulaci transformace.“
<p>Další uzel a dramatická přestavba celého těla.
<p>„Dobrotivé světy... Přihlížející budu žasnout.“
<p>Vydechla a ohromení v jejím obličeji ho naplnilo příjemným chvěním. Pak se na něj úkosem podívala.
<p>„To by mohlo udělat dojem i na Harnana.“
<p>Ušklíbl se.
<p>„Stěží. Neuznává magii snů.“
<p>To byla Edilefova specializace, i když si začal osvojovat i jiné zručnosti. Sny k němu promlouvali nejhlasitěji.
<p>„Pouhé pouťové triky vedle vrcholné disciplíny, kterou vládnou mágové Věčnosti.“
<p>Jako Zarja tady před ním. Harnanova nejoblíbenější studentka. Inspirovala oblibu. A obdiv. I u něj, přestože spočátku cítil spíš rivalitu. Mladá žena potřásla hlavou, až měděné kadeře zavlály vzduchem.
<p>„Ale tohle propojení Světa snů a Světa věčnosti přesahuje možnosti osamocené Věčnosti. A vyžaduje větší zručnost, než ovládání jedné sféry, i když jí je Věčnost. Propojení je klíčem ke všemu. Povedlo se ti něco vyjímečného.“
<p>„Bez tvé pomoci s přístupem k datům z Věčnosti bych se se svým nápadem moc daleko nedostal.“
<p>Některá byla krajně nesrozumitelná.
<p>„To ani já bez tebe. Taky jsi mě něco naučil.“
<p>Oči jí jiskřily, když to říkala. Jakoby se začala dívat na něj, doopravdy na něj, místo aby jenom zaregistrovala jeho přítomnost. A ta potěšená pozornost byla najednou závratná. Znovu se zadíval na zjevení vlkodlaka. Zrovna vyl na iluzi měsíce. Spoutal kouzlo a pokoj pohasl.
<p>„Stejně to nejspíš označí za pouťový trik.“
<p>Přistoupila blíž a zlehka jej chytla za ruku.
<p>„Tak ať. Já říkám, že je to mnohem víc.“
<p>A na tom, na té ruce a tom úsměvu mu vlastně záleželo víc, než na slovech kohokoliv jiného. Usmál se a stisk opětoval.
<p>„Děkuji.“


 {% endblock %}
