{% extends "post.html" %}

{% set title = 'Drabble č. 25 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 25</h2>
<p>V hlavě mu třeštilo, před očima se mu dělali mžitky a málem se poroučel zpátky na zem. Ale to nebylo nic v porovnání se splašeně tlukoucím srdcem, s naříkavými obavami, které jej zaplavily. Ten blázen, ten překrásný dobrotivý nebojácný blázen. Nemůže mu to vyjít a teď přijde o život. Nemůže, nebo nechceš aby vyšlo a tys ostal opuštěn, protože ses nedokázal vypravit do neznáma spolu s ním? Neměl čas zaobírat se tou otázkou. Kdo ví jak dlouho byl v bezvědomí, každou chvíli mohlo být pozdě. Zatínaje zuby se potácel k Domu lží.
<p>Nádvoří bylo ztichlé, na voze, o který se opřel při strátě rovnováhy, leželo jedno tělo, druhé spatřil poblíž vchodu. Orystova práce, to bylo zřejmé. Stejně složil i jej. Byl tak obratný... Ale útěk s křehkou dívkou si bude vyžadovat víc. Veliag se zhluboka nadechl, odtisl od káry a vešel dnu.
<p>Ebenová dlážka slabě vrzala, ale kradení se bylo něco, v čem byl dobrý on. Spoza rohu zaslechl rozhovor.
<p>„Kdo je?“.
<p>„Ensido, nesu ti zprávu od Druoga. Pusť mě dovnitř, prosím.“
<p>„Od Druoga?“
<p>„Ano. Musí dnes nečekaně do stráže se štítmistrem. Mám ti pomoci, sejdete se potom venku.“
<p>Za zdí, podél které se sunul, zazněla mluva. Hlasy byly dva a ten druhý patřil bratrovi, o kterém Orystes mluvil. Dech se mu zasekl. Konec utajení. Společeně by jej snad mohli přemoci... Jenže Ensida by nebyla schopna přijmout, že jí Druog lhal, nespolupracovala by. Bylo po všem.
<p>Hrdlo se mu sevřelo, svět zatočil. Takhle to skončit nemohlo. Neuměl si představit, jak žít mimo Řád, ale ještě míň si uměl představit dívat se, jak mu Řád bere jedinou útěchu v téhle bezútěšné kleci. Nemohl dopustit jeho dopadení. A s tou myšlenkou se na něj sneslo cosi jako klid. Vyhlédl a spatřil jej, jak tiskne ucho ke dveřím, čelem opačním směrem. Veliag se napřáhl a uhodil ho do temena. Klasický chvat. Ještě než mohl upadnout a ublížit si, chytil jej a opatrně uložil na zem.
<p>Sklonil se nad Orystův obličej a konečky prstů spočinul na kůži tak světlé, až vypadala projasněna paprsky slunce a Veliaga tak i hřála. Co by to byl za život bez slunce. Se vzlykem přitiskl na jeho lehce pootevřené rty ty své. Pak zaslechl stláčení kliky a odtáhl se. Dveře se otevřeli, když se poraženecky svezl na zem o kus dál.
<p>„Co to?“
<p>„Co asi? Ten zbysar překazil můj útěk. Umíš si najít kumpány...“
 {% endblock %}