{% extends "post.html" %}

{% set title = 'Drabble č. 4 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 4</h2>
<p>V uplynulých týdnech si Sacharóza stále více všímala přibývajících upírů v Ankh-Morporku. Najednou se tesáky rojily odevšad. Bylo to znepokojivé poznání, jelikož nikdy nevíte, zda jsou příslušníci abstinenční ligy nebo ti druzí. Rozhodla se tedy tento jev prozkoumat a pak patřičným způsobem popsat ve svém článku, aby občané věděli, mají-li se cítit ohroženi.
<p>Nejprve zašla do patricijského paláce, aby se optala na evidenci obyvatel, kolik upírů se v poslední době do města přistěhovalo. Nejprve to trvalo a pak jí odmítli poskytnout informace. Ochrana JDIDOPR prý. Ale Sacharóze to bylo srozumitelné až až, uměla si to přeložit a tak věděla, kam přesně ji poslali. Rozhodla se tam nejít. Místo toho zavítala na strážnici Hlídky.
<p>U stolu veledůležitě úřadoval strážník Postihnout. „Mohl byste mi podat nějaké bližší informace o zvýšeném počtu upírů stěhujících se do města?“
<p>Strážník Postihnout se tvářil nepřístupně, ale Sacharóza dobře pozorovala, že vlastně jen neví, co říct a netuší, na co se ptá. „Nechte mne promluvit se soudním patologem Igorem, buďte té dobroty.“ Postihnout rád, že se jí rychle zbaví ji odkázal do sklepení strážnice.
<p>Sestupovala po schodech a říkala si, že Igor jako rodák z Überwaldu, ví o upírech a jejich pohnutkách dost, aby ten gordický uzel rozťal.
<p>„Mhigrache uphírů? To by bhylo zlé, phaninko. Zhatím se však nebhojte. Uphíři se shem nehoufují. Přhijeli všhak thři moji brathranci a zhřídili si plhastickou chirhurghii. Ohromně mhódní zháležitost mhezi boháči a hlavně mhezi mladhými. Mnoho si jich nhechává implanthovat uphíří šphičháky. A zhrovna mhinulý thýden jhednomu přhišhívali dhokonce vlkhodlačí oháňku.“
 {% endblock %}
