{% extends "post.html" %}

{% set title = 'Drabble č. 5 (10. kolo)' %}

{% block content %}

  <h2>Drabble č. 5</h2>
<p>Co na slovech „ZIMNÍ SPÁNEK“ je natolik nesrozumitelné? Když přijde zima, prostě usnete, a spíte, dokud zase neodejde. Bylo to tak zřejmé, že to chápali ostatní medvědi, chápaly to Ebenové cikády a chápali to dokonce i klasičtí vlkodlaci. Trvá to celou zimu, a NIKDO vás nebudí, neohrožuje a neleze do vašeho brlohu. Neporozumět takto primitivní kombinaci slov vyžaduje nemalé úsilí vynaložené v oblasti ignorance, buranství a především bezohlednosti k onomu spícímu. Jenže když vám jedni hází do doupěte dobroty, druzí vám vyprávějí svá životní moudra a další do vás šťouchají klackem, protože spánek je přeci pro blbce, tak občas poznáte, že je čas vyřešit nevítané návštěvníky podobně jako Gordický uzel – zkrátka je rozetnout vedví.
<p>Zrovínka včera si jeden spratek z místní vesnice přišel ozkoušet svůj nový „samurajský“ meč, zhotovený z větve válející se pod sněhem. A to prosím pěkně v prosinci. V prosinci! A co Oni nechtěl – kdo jiný se mohl stát terčem jeho zkoušení než já? Hahaha, debilní medvěd. Hahaha, hodím po něm šišku. Hahaha, vlezu mu domů a vezmu ho klackem přes záda. Jasně. Moc vtipný. Úplný vrchol komediálního žánru. Já se tedy moc nebavil, ale blbeček Kesagake snese všechno, že jo? Tak proč ho třeba nešťouchnout do oka nebo mu nepřidat pár ran přes držku, aby se mu hezky spinkalo. No, tak jsem si taky ozkoušel svoje samurajské drápy a klukovi už se moc hezky spinká u mě v žaludku. Řičel tedy jako pavián, ale na chuti mu to nijak zvlášť neubralo. Nicméně to by nebylo úplně to nejhorší. Minulý měsíc mě nějaký rádoby hrdina zkusil zastřelit. Tak je to normální? Chodím snad já k nim do baráku, mlátím je klackem a řvu „Bráško, bráško, jsou tři ráno, vstávat a cvičit kamaráde“? Nechodím, nebudím, neřvu. 
<p>A teď tady kolem běhá banda nějakých šikmookých vidláků s puškami a spratka samozřejmě hledají. Můžu já v tomhle spát? Jistě že nemůžu. Který medvěd by taky chtěl v prosinci spát, že jo? Snad přes noc ztichnou. Zkusím usnout a za měsíc nebo dva je to snad přejde. Na příští zimu se stěhuji někam jinam, tady už medvěd nemá špetku soukromí. 
<p>Víte, jak nepříjemný pocit způsobují vidle zaražené ve vašem pozadí? No tak já po dnešní noci ano. Není to nic moc. Moje drápy zaražené v jeho pozadí asi taky nebyli žádná sláva, ale on si začal. Každopádně tahle vesnice už mě lehce sere. Chtějí mě budit v prosinci? Fajn. Je zhruba devět ráno, za hodinku chůze jsem tam. To bude teprve probuzeníčko, až jim na dveře zaklepe třímetrový hovado jako já. 
<p>Kesagake vylezl ze svého brlohu, zavětřil pach místních vesničanů a vydal se přímo po stopě k jejich obydlím. S jeho velikostí mu všechna zvířata šla z cesty. Téměř čtyři sta kilogramů svalů, drápů a zubů se jako lavina valilo na nedalekou vesnici, jejíž obyvatelé neměli o řítící se pohromě nejmenší ponětí. Rozzuřený Kesagake se řítil přímo k nim a jeho mysl halila touha po krvi. 


 {% endblock %}
