{% extends "post.html" %}

{% set title = 'Drabble č. 1 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 1</h2>
<p></p>Vojta se zrovna zakusoval do druhého krajíce chleba, na který si umně naskládal kolečka salámu a listy medvědího česneku, když se do kuchyně přiloudala Filomena. Její huňaté králičí pantofle ostře kontrastovaly s rozmrzelým výrazem a přimhouřenýma očima, ze kterých koukala čirá skáza. Zahýbala nosánkem jako opravdový hlodavec, načež se zakabonila ještě víc.</p>
<p>"Proč tady necítím kafe? Já. Potřebuji. Svoje. Kafe."</p>
<p>Vojta pokrčil rameny.</p>
<p>"Kávovar již zase nefunguje. Nedáš si raději čaj? V posledním nájezdu jsem ukořistil Earl Grey."</p>
<p>"Já chci kafe!"</p>
<p>A podobná starořecké fúrii snesla se na nebohý přístroj.</p>
<p>"Ty zmetku..."</p>
<p>Hlasité mačkání knoflíků, vytažení a opětovné vražení vidlice do zásuvky.</p>
<p>"Já tě naučím vzpouzet se."</p>
<p>"Nedostaneš z něj ani kapku."</p>
<p>Plácnutí.</p>
<p>"Já to dokážu. Jen musím najít ten správný bod, kde zatlačit."</p>
<p>"Zlož už ty růžové brýle. Tenhle to má za sebou. A troufám si říct, že i vím proč, když do něj tak mlátíš."</p>
<p>Uhození pěstí.</p>
<p>"To raději ty zlož ty slunečné. Vidíš to moc černě. Tohle..."</p>
<p>Tahání.</p>
<p>"Tu už bylo před týdnem a já... To spravila. Zvítězím i teď!"</p>
<p>"Vzdej to. Splaším ti nový. Dej na slova ostříleného veterána druhé toaleťákové války v Kauflandu."</p>
<p>"Filomena porážky nepřijímá."</p>
<p>Zuřivé zalomcování.</p>
<p>"Tak už var!"</p>
<p>Zoufale přitiskla čelo k přístroji, až jí Vojtovi bylo málem líto. Najednou kávovar zabzučel a po několika sekundách tajeného dychu začal cedit tmavou kapalinu. Když proud ustal, Filomena zhrábla šálku a triumfálně vykřikla.</p>
<p>"Cha! Tři čtvrtiny! Slova veterána, jo? Vrať se z těch božských výšin zpět na zem, Vojto. Na tomhle poli vedu já."</p>
 {% endblock %}
