{% extends "post.html" %}

{% set title = 'Drabble č. 10 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 10</h2>

<p>Danilo

<p>Oháněl se sekyrou a byl tak smrtící, že chvílemi zahanboval i daleko ostřílenější spolubojovníky. Krev se mu pěnila bojovým zápalem i nedočkavostí. Dnešek byl vyjímečný.</p>
<p>Vytrhl zbraň z něčího hrudníhu koše, uhnul před bodnutím oštěpu a pak sekl jeho majitele do hlavy. Jak se skácel, rozlévaje kolem narůžovělé kousky mozku, Danilo spatřil před sebou hotového obra. Ruce podobné medvědím tlapám svíraly masivní zakrvácený kyj a zvedly jej do výšin jak peříčko. A on si pomyslel: Ano, teď to konečně přijde! S výzývajícím výkřikem se vrhl vpřed.</p>
<p>Světe div se, byl rychlejší než dopadající rána. Pocítil jen závan větru a jak se jeho ostří zabořilo hluboko do protivníkova boku. No tak, zkus to znovu! A válečník se nevzdával, s rykem se po něm zahnal. Instinktivně ukročil zpět, pryč z dosahu, aby pak tnul po silné paži. Pak do krku. Řev zeslábl. Okolitá řež taky. Vytřel si horkou krev z očí a rozhlédnul se. Prostranství se opravdu vyklidňovalo. Kyjevané vítězili a nepřítel ustoupil za obrannou linii valu a palisád.</p>
<p>„Zatraceně...“</p>
<p>Pohlédl na skapínajíciho muže u svých nohou a něco se v něm vzedmolo. Nakopl jej. A znovu.</p>
<p>„Ses! Nemohl! Víc! Snažit?!“</p>
<p>Kolem probíhajíci Suchan se při něm přistavil.</p>
<p>„Co blázníš? Kostromu takhle nezavoláš.“</p>
<p>Podíval se na něj.</p>
<p>„Ani bych neměl muset! Dnes je ten den. Přesně ten, ve který mi před rokem vzala rodinu...“</p>
<p>Hlas se mu zlomil a znovu si musel protřít oči. Na rameni ucítil povzbudivé stisknutí.</p>
<p>„Pojď, vyduříme ty králiky z jejich nory a třeba ji potkáme tam.“</p>

 {% endblock %}
