{% extends "post.html" %}

{% set title = 'Drabble č. 11 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 11</h2>

<p>Byla jednou zvířátka a rozhodla se že si postaví domeček. Ten nápad vymyslel králík a medvěd. Sehnali všechny zvířátka v celém lese. Nebylo to lehké, občas to byly těžké boje protože například datel byl ve výšinách stromu, medvěd a králík na něho volali, ale datel neslyšel. Protože se jmenoval Hluchoň nejapný. Medvěd se naštval a třásl stromem, aby si jich Hluchoň všiml. Jenže strom se vyviklal a žuchl i s ptákem na králíka. Medvěd vykřikl: „Vítězství! Králíku já jsem ho sho...Králíku?“ Medvěd zvedl strom, datel ležel vedle stromu s nohama nahoře. Medvěd řekl: „Ups!“ Vzal lívanec z králíka a řekl: „Žij! Žij!“ Pak ho napadlo že ho zase nafoukne, obracel králíka, kde to je vhodné: „Ne. Ne. Ne. Fuj to určiťe ne.“ Dorazil k puse a řekl: „To by snad šlo!“ Fouknul a byl jak balón: „Hmm to ne,“ upustil ho trošku a byl zase zpět ve své podobě. Králík zatřepal hlavou a šli pro datla. Ale byly takové boje že až na konci vypadali jako ostřílení tak, že ani nebyli podobní sami sobě. Pak nastal boj jak bude domeček vypadat. Byly různé nápady: „Bude hnědý! Ne, bude růžový!“ Boj pokračoval, až se dohodli že bude hnědý, pustili se do práce. Trvalo jim to 157 dní než dům trochu vypadal. Vedle stála dokonce i kadibouda. Udělali i postele. Jenže pak potřebovali toaleťák, tak nasbírali hodně listí a trávy a slepili to smůlou. Jedna taková malá rolička trvala 3 dny. Konečně udělali aspoň 10 malých roliček, trvalo to 30 dní. Potom byli spokojení. Jednou v noci potřeboval králík na velkou, tak šel na kadibudku a říkal si jaká je to úleva. Ale pak potřeboval medvěd, jenže králík tam ještě byl. Hajzlpapír vyhazovali okénkem, přišel tam medvěd spletl si králíka s toaleťákem vzal ho za uši šel se vysmolit. Pak si utřel králíkem řiť a prohodil králíka oknem. Králík spadl do potoka, vydrhnul se větvičkou ze smrku kterou našel, byl čistý jako alabastr a šel do pelechu. Ráno se králík vzbudil jako první, vzbudil medvěda a zavedl ho ven, aby si popovídali o samotě. „Hele měl jsem opravdu divný večer,“ povídá králík. „Nejdřív jsem potřeboval na hajzl. Pohoda. Ale potom někdo přišel, zvedl mě, utřel si se mnou prdel a prohodil mě oknem.“ „To si byl ty?!“ diví se medvěd, „Já myslel že to je hajzlpapír!“ „Ach jo,“povzdychl si králík „Příště se podívej co to je.“ „Slibuju.“ „Dobře.“ Podali si ruce šli domů a žili šťastně až do smrti.</p>

 {% endblock %}
