{% extends "post.html" %}

{% set title = 'Drabble č. 12 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 12</h2>
<p>Mikula</p>

<p>Králící se nad plameny táboráku pekly pomalu, nuž se rozhodl zkrátit si dlouhou chvíli zpěvem. Nadechl se, zavřel oči a zpustil.</p>
<p>„Ej, orlíku, orle, co ve výšinách plachtíš,</p>
<p>kampak se, kampak se to tak náhlíš?</p>
<p>V poledne belasé, v zore růžové,</p>
<p>tam kde kráčí udatní mužové.</p>
<p>Krásné divy najíti.</p>
<p>V bouřlivé poledne, v krvavé zore,</p>
<p>tam kde čeká nás bojové pole.</p>
<p>Mrzkou havěť mořiti.</p>
<p>Ej, orlíku, orle, co ve výšinách vládneš,</p>
<p>co když, co když řeknu ti, že padneš?</p>
<p>Nevrátíš se radši zpět?</p>
<p>Nevrátím, nezaleknu černé půlnoci,</p>
<p>srdce vítěze mi takhle poroučí.“</p>
<p>Když oči opět rozevřel, setkali se s usměvavým pohledem zelených, podobných malachytovým krystalům.</p>
<p>„Vždycky užasnu, kde se v tom medvědím těle bere ten slavičí hlas.“</p>
<p>„Tys taky pln překvapení.“</p>
<p>Odpověděl Mikula a zkontroval večeři. Sláva Mokoši, konečně byla hotová a tak se pustili do jídla.</p>
<p>„A věříš tomu?“</p>
<p>„Té písničce?“</p>
<p>Volch přikývl. Mikula přestal obírat maso ze své porce a zamyslel se.</p>
<p>„Hmm... Nejsem zrovna ostřílený válečník. Z Dregovičských močálů jsi mě vytáhl teprve loni. Ale zatím jsem neměl nutkání zdupkat před bojem, i když mě obcházely obavy. Taky jsem ale nestál před jistou smrtí. Najít odvahu by se ovšem mělo dát i bez vítěznosti.“</p>
<p>Černovlasý čaroděj pokýval hlavou zahleděn do plamenů.</p>
<p>„Já přemýšlel nad jiným pádem. Jinou půlnocí.“</p>
<p>„Mluv jasněji, bratře.“</p>
<p>„Jestli by cenou za vítězství bylo přijetí něčeho... Temného... Co z toho podstoupit?“</p>
<p>Mikula se podrbal na hlavě.</p>
<p>„A bylo by to pak ještě vítězství, Volchu?“</p>
<p>„Hodně záleží na konkrétních možnostech.“</p>
<p>Zvedl zrak od ohně, zahánějíc chmáry.</p>
<p>„Ale nejspíš ne. Zazpíval bys ještě něco? Něco veselejšího.“</p>
<p>„Třeba tu s píchající slámou?“</p>
<p>Uškrnul se.</p>
<p>„Jo, to bude ono.“</p>


 {% endblock %}
