{% extends "post.html" %}

{% set title = 'Drabble č. 13 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 13</h2>

<p>Brian zíral do stepních dálav rozkládajících se před ním. Jeho věrní rytíři, kteří ještě nedávno říkali „Ni!“, teď stáli okolo něj, zatímco přemýšlel o smyslu života, chuti medvěda a co dobrého mu vlastně Římani kdy přinesli. Teď už nebylo cesty zpět. Vítězný králík byl jasným znamením, které mu poslal jeho římský přítel Biggus Dickus. A zatímco ostřílený Lancelot pracoval na plánu, jak Římany definitivně vyhnat z výšin někam pod Most smrti, Brain měl plnou hlavu jiných starostí. Od záhadného T-800, který podle svých slov přišel z budoucnosti a z nějakého důvodu pořád usiloval Jidášovi o život, až po armádu zombie vzniklou Brianovým pokusem o vzkříšení nemocného vesničana. Jeho situace nebyla vůbec růžová. Rytíři přestali říkat „Ni!“, Římané ho chtěli ukřižovat a zombie prostě žrali všechno co, jim přišlo pod zuby. Byl obviněn z mesiášství. A co bylo horší – jen pravý mesiáš popírá své mesiášství, a tak, pokud ho dopadnou, čeká ho jistě dlouhá a mizerná smrt na kříži. Teď ho čekala cesta daleko přes moře, kde se měl ukrýt, dokud všechno tohle nepřejde. Pomalu se zvedl, a stejně, jako statečný sir Robin, i on vyrazil vstříc svému osudu.</p> 
<p>Něco se stalo. Posádka, proměněná v zombies, hodovala na Římanech, kteří ho přišli zatknout. Něco podobného ještě neviděl. Rytíři utekli (a Lancelota zatkla policie) a on teď nevěděl, co dělat. Znenadání se ozvala rána, jako když udeří hrom. A po ní další a další. Mrtví zombíci se váleli všude kolem. „Pojď se mnou, jestli chceš žít.“ Ozval se hlas za ním. </p>


 {% endblock %}
