{% extends "post.html" %}

{% set title = 'Drabble č. 14 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 14</h2>

<p>Seržant Tračník seděl pohodlně usazený za stolem a cítil se důležitě. On byl důležitý. Byl ostřílený vítěz nad drakem, hrdina. Podobný hrdinům jako barbar Cohen a dalším. Ale i když je někdo hrdina, musí se mezi hrdinskými skutky zabývat i jinými důležitými věcmi. Teď si zrovna četl hlášení ze zásahu v uličce vedle Růžové kočičky. Ze zasněných výšin jej ale smetl zpět nějaký uječený chlápek, co mu vtrhnul do dveří.</p>
<p>„Seržante, prosím vás, udělejte něco, utekl nám medvěd!" Vykřikne na něj. Seržant nebyl příliš nadšen vytržením z rozjímání. Avšak začal bez okolků plnit svou nejoblíbenější část služebního postupu.</p>
<p>"Uklidněte se, pane," začne komisně Tračník, "napřed mi řekněte, kdo jste, bydliště a jak si vyděláváte na obživu.“</p>
<p>Chlapík lehce zavrávoral vyveden z míry a pak vyhrknul: „Jsem náhončí divé zvěře pro šelminec lorda Odkragliho a utekl nám medvěd!“</p>
<p>„K tomu se dostaneme,“ řekl seržant Tračník komisním tónem. Nejprve vaše jméno.“</p>
<p>„To není cirkusový medvěd, to je divoký medvěd právě přivezený z Uberwaldu.“</p>
<p>„K tomu se dostaneme, vaše jméno,“ řekl seržant Tračník a nyní již nevlídně pohlédl na muže před sebou. Cítil, že si dotyčný vůbec neváží jeho vstřícné povahy a laskavé tváře zákona.</p>
<p>„Burác Králík. Jenže...“</p>
<p>„Tak mi popište, jak ten váš králík vypadal.“</p>
<p>„Medvěd, je to medvěd, prostě velký divoký medvěd se zuby a drápy.“</p>
<p>„Co se tu děje?“ ozval se hlas Samuela Elánia, velitele hlídky, který právě vstoupil do místnosti.</p>
<p>„Utekl nám divoký medvěd.“</p>
<p>„Kde?“</p>
<p>„U Náměstí Požehnaného Chrousta.“</p>
<p>„Desátník Navážka, seržantka Angua a desátník Karotka vyráží okamžitě se mnou hledat nebezpečnou šelmu a seržant Tračník vyrazí do knihovny pro encyklopedii zvířat a doplní si popis medvěda, aby měl v pořádku papíry do hlášení.“</p>

 {% endblock %}
