{% extends "post.html" %}

{% set title = 'Drabble č. 2 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 2</h2>
<p>Z katedrální věže se díval na noční město. Vítr mu cloumal vlasy a kabátem a vháněl sníh do očí, ale bylo mu to lhostejné. Město. Barevné hemžení rozkládající se od obzoru po obzor. A taky rozkládající se zaživa.</p>
<p>"Dodnes jsem nepochopil, co tě baví na tom dramatickém pózování."</p>
<p>Zaznělo mu za zády.</p>
<p>"Výhled. Jak jsi mě našel?"</p>
<p>Narušitel se postavil vedle něj a vyplázl růžový jazyk, aby na něj chytl sněhovou vločku. První muž bez hnutí čekal na odpověď.</p>
<p>"Přečetl jsem si noviny a hned jsem věděl, že se sem půjdeš mračit. Z výšin morálních i prostorových."</p>
<p>"Tohle není o morálce. Tohle je čirá destilovaná hloupost. Copak lidé z Komory bezpečnosti nechápou, že tím nařízením dělají medvědí službu i Stříbřitému břehu? A polovina populace jim ještě tleská! Musím najít protiopatření..."
<p>"A doufáš, že ho spatříš odsud?"</p>
<p>„Doufal jsem,“ zavrčel, „že vítězem téhle hrůzy nebude opět Králík a jeho nohsledové.“</p>
<p>Pohledem ostříleného stopaře prohlédl ulice pod sebou tam a zpět. Podobně učinil i jeho nevítaný společník, v jehož pohledu se zračil lehký posměšek nad osudy nebohých obyvatel.</p>
<p>„Po kolikáté vedeme tuhle konverzaci? Nejsi žádný spasitel. Nemusíš bláznit pokaždé, když se městem prožene cokoli od Králíka, přes lykantropii až po rabování v ulicích.“</p>
<p>„Hmmm. A kdo bude bláznit, až si přijdou i pro tebe? Nebo jsi snad zapomněl, co Komora provedla minule? Tohle nemůže zůstat jen tak. Město hnije zaživa a lidé už si brousí nože pro záda svých blízkých.“ Otočil se a zamířil dolů. Čas slov již pominul.</p>
 {% endblock %}
