{% extends "post.html" %}

{% set title = 'Drabble č. 6 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 6</h2>

<p>„Medvěd by byl lepší,“ posteskl si Marigold při pohledu na růžové králičí maso, pomalu se vařící v kotlíku nad ohněm. Zmuchlal poslední stranu svých nejnovějších zápisků a přiložil jí do plápolajících plamenů. „Vaříš-li medvěda, tak nebuď nezbeda, česneku plnou hrst, pod něj je potřeba. Slyšíš? Medvěd je lepší.“ A zatímco se mistr básník vznášel ve výšinách své tvorby, Geralt upíral svůj pohled do lesů kolem nich. Jako ostřílený zaklínač věděl, co všechno zde může číhat. Jeho jindy tak skvělý sluch byl nyní zahlcen Marigoldovou deklamací a ačkoli si o vaření medvědů a podobné havěti myslel své, raději mlčel. Věděl, že ve vyvracení básnických bludů nezvítězí a navíc se nechtěl hádat celou cestu zpět. „Nahradit králíkem, to dělá chudina, nám ale přísluší, medvědí zvěřina,“ recitoval Marigold tak hlasitě, že ona zvěřina ho musela slyšet snad v celém hvozdu. „Nemáme medvěda. Ani netušíš, jak by to chutnalo,“ zavrčel Geralt. Marigold jen rozhodil rukama, žasnouce nad přízemností zaklínače. „To je jedno. Nezáleží na tom, jak by to chutnalo, ale na tom, jak to zní. Mé baladické recepty budou poslouchat šlechtické paničky, kam jen vkročím a žádná z nich nebude chtít jíst králíka, umazaná od jehličí, někde hluboko v lese.“ Geralt jen zabručel. Tohle byla přesně ta debata, které se chtěl vyhnout. „Ne Geralte. Do správného zaklínačského receptu patří přinejmenším medvěd. Potřebujeme… MEDVĚDA!“ vřískl Marigold, sledujíce rozestupující se křoví po jeho pravici. Hnědá huňatá hlava vykoukla z roští, připravená ochutnat správný zaklínačský recept nikoli s králíkem, ale s Marigoldem.</p>
 {% endblock %}
