{% extends "post.html" %}

{% set title = 'Drabble č. 8 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 8</h2>

<p>„Vošky sú späť na slivkách, sotva egreše zružoveli, už ich chytá múčnatka, slimáky mi šalát obhrýzli, od dažďa zhnili jahody a medvedíky prežrali korene priesadám petržlenu...“</p>
<p>Trpezlivo pokyvoval hlavou, ale pri poslednej sťažnosti sa zarazil.</p>
<p>„Čože? Aké medvede? Čo by robili u teba na záhrade?“</p>
<p>Pokrčila ramenami.</p>
<p>„No čo by robili? V zemi vyrývajú jak také králiky.“</p>
<p>Stále bol z toho jeleň.</p>
<p>„Ale šak najbližší les je päťdesiat kiláčov odtiaľ.“</p>
<p>Teraz naň nechápavo pozrela ona, potom sa jej tvár rozjasnila.</p>
<p>„Parom by to... Nie medvede. Medvedíky obyčajné. Krtonôžky. Si nepočul ešte?“</p>
<p>„Prvý raz.“</p>
<p>„Každý ostrieľaný záhradník ich pozná.“</p>
<p>„Tak každý asi očividne nie.“</p>
<p>Povedal prekrižujúc si ruky na hrudi. Azda nechcela naznačiť, že je dáky zelenáč.</p>
<p>„Tam vo výšinách Muránskej planiny ich fakt nemáme. Čo sú zač?“</p>
<p>Ochotne sa dala do výkladu.</p>
<p>„Potvorský hmyz. Pol centimetrové hnedé mršky s krídlami a vidlicovitým chvostíkom. Vŕtajú si v podzemí chodbičky podobne ako dážďovky a okusujú korene, takže potom mi sadeničky schnú.“</p>
<p>„Nepríjemné.“</p>
<p>„Už som na ne skúšala kadejakú otravu, vlasy zahrabávala, sadila na dvakrát, vkuse zbieram vajíčka... Furt zvíťazia, paskudy.“</p>
<p>Zadumane prižmúril oči.</p>
<p>„Hmm... A čo tak postaviť im dačo do cesty? Napríklad... Takú plastovú fľašu. Koniec odstrihneš, sadeničku dáš dnu, zahrabeš tak, aby kuščik vyčnievala. Azda sa neprehryzú aj cez PET.“</p>
<p>„Za pokus by to stáť mohlo...“</p>

 {% endblock %}
