{% extends "post.html" %}

{% set title = 'Drabble č. 9 (9. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>

<p>Už jedenáctá odbyla a třída ještě seděla. A třída ještě mlčela a na ústech hrdinovi z lidu visela. Ovšem že ke značné nelibosti učitelek, které měly pro dnešní exkurzi naplánované ještě další destinace a lokálně významné osoby, které měla dítka v rámci poznávání vlasti, až už to byla kterákoli, vyzpovídat. Cestu zpět do školy na sebepoznávací seminář nepočítaje.</p>
<p>Jenže Leontýn z Výšin, ostřílený zápasník v umění česko-moravském, cestovatel, lovec a slavný vítěz nad medvědem z devátého polesí, to bylo pro děti něco jiného než zasloužilá pradlena spodniček kněžny Zaháňské Geriáta nebo zastávka v národopisném muzeu v Horní Plané s výstavou o historii obdělávání kamenitého úhoru, podobně pak přednáška o zdravotních rizicích spojených s užíváním vysoce návykové cibule.</p>
<p>„Pane Leontýne,“ tázal se horala Toníček Kubula, nedbaje, že třídní učitelka už hodnou chvíli kmitá očima mezi hodinkami a dveřmi kulturního centra s nápisem Východ z nouze, „co považujete za svůj největší úspěch?“</p>
<p>Starý Leontýn, šlachovitý, i ve svém věku stále úctu budící muž, se zamyslel. „Utkal jsem se s mnoha soupeři,“ pronesl po chvíli, „lovil jsem medvědy, koupal se mezi hrochy a plazil se zemí zamořenou jedovatými hady. Přesto, nejtvrdším soupeřem byl nepochybně růžový králík.“</p>
<p>„Králík?“ otázal se nevěřícně Toníček.</p>
<p>„Králík?“ opakovala po něm i postarší učitelka, která se vytrhla z myšlenky zavolat, že je v kulturním domě bomba.</p>
<p>„Králík?“ opakovala celá třída.</p>
<p>„Ano,“ odpověděl Leontýn. „Žral lidi jako mrkve a svými drápy ničil stanové plachty táborníků. Jeho bratrance musel sám král Artuš zabít svatým handgranátem. A já to zvládl vlastníma rukama, ale jizvy mi zůstaly dodnes.“</p>

 {% endblock %}
