{% extends "post.html" %}

{% set title = 'Drabble č. 2 (13. kolo)' %}

{% block content %}
<h2>Drabble č. 2</h2>
<p>Dobře nabroušený rýč se zahryzl do dalšího rovu. Vyzáblé zelenošedé ruce pracovaly cílevědomě a neúnavně – jako zombie sice únavu cítit nemohl, ale jeho odhodlání by únava neuhlodala ani za živa. Čekaly jej ještě tři další hroby, které si vyhlédl. Neudržované a smutné hroby jeho přátel. Tenhle nápad to zde zaručeně… chm… oživí. Že ho nenapadlo dřív zapojit i ostatní mrtvé (nebo nemrtvé?). Největší Ankh-Morporkský hřbitov za chrámem Malých bohů skýtá obrovské možnosti rozptýlení. Reg si znovu pokusil vyhrnout roztržený rukáv své staré rozevláté košile. Už ji na sobě neměl kolik let, potřebovala by místy trochu poopravit, roky ji už nenosil. Jenže uniforma se k práci moc nehodí - na to ani nemusí být jeden filosof - a tak košile opět nastoupila do služby. Půda byla tuhá, nepoddajná, lety udusaná a slehlá, ale Reginald vyzbrojen rýčem a motykou se nevzdával. Revolucionář jeho formátu se nikdy nevzdá. Několikrát si povšiml, že na pohřebiště během dne zavítal nějaký ten návštěvník, ale většina se zase se strachem rychle vytratila. Dvě ženy i s patřičným jekotem. Ale kdo by se tím zabýval, když měl před sebou ještě tolik práce.</p>
{% endblock %}
