{% extends "post.html" %}

{% set title = 'Drabble č. 3 (13. kolo)' %}

{% block content %}
<h2>Drabble č. 3</h2>
<p>Samuela Elánia netěšilo řešit jakýkoli papír na hromadách před sebou, ale toto hlášení ho upoutalo. Pojednávalo barvitě o řádění zombií na Hřbitově Malých bohů. Mrkl na kalendář, datum souhlasilo. Předevčírem měl Půlbotka to své výročí, možná by o tom mohl něco vědět. A teď tu stál před ním a v očích mu zase žhnul ten jeho revoluční plamen.</p>
<p>„Desátníku, mám zde hlášení, že v neděli na hřbitově Malých bohů řádily zombie. Rozhrabávaly hroby, sápaly nebožtíky na kusy a na místě je požíraly. Vy jste měl v neděli výročí smrtozenin, které pokud vím trávíte na tomtéž hřbitově. Nevšiml jste si něčeho, co by mohlo zavdat podnět k tomuto hlášení?“</p>
<p>„Veliteli.“ Regovy oči, které původně plály zanícením nyní zahořely pohoršením.</p>
<p>„Desátníku, předpokládám, že jde o nějaké hysterické nedorozumění, které se snažím pochopit, tak mi to nekomplikujte,“ požádal věcně Elánius.
<p>„Veliteli, na svou nesmrtelnou čest prohlašuji, že jsem tam skutečně byl a rovněž, že jsem byl jedinou zombii za celý den, která se na inkriminovaném hřbitově nacházela. Dobře se mezi sebou známe, nemůže být mýlky. A rovněž místopřísežně prohlašuji, že jsem žádné nebožtíky nevyhrabával natož abych je sápal a jedl. Víte sám, že to dělají ghúlové a ne zombie.“</p>
<p>„Jistě, to všechno vím, to vynechte. Místo toho mi stručně a jasně povězte, co jste tam vlastně dělal.“</p>
<p>„Jednotil řepu, pane.“</p>
<p>Elánius si povzdechl.</p>
<p>„Takže trochu méně stručně.“</p>
<p>„Pečuji o svůj hrob, aby nebyl zanedbaný a tak jsem ho osil řepou.“</p>
<p>„Proč řepou? Nejsou macešky řekněme tradičnější?“</p>
<p>„Řepa je užitečná a hodnotná a dá se zpeněžit, čímž poslouží dobré věci, jelikož ve městě je nedostatek orné půdy a čerstvá zelenina je ceněná. Výtěžek použiji na nákup nového osiva, případně potřebného zahradnického nářadí. A navíc,“ nyní Reg trošku zaváhal, „navíc má rudou barvu krve, kterážto je barvou revoluce a zkrátka řepa se mi líbí. Myslím její symbolismus a tak.“</p>
<p>„Tak tedy řepu,“ konstatoval Elánius.</p>
<p>„Ano. A řepa se jak známo jednotí, jakmile má 3 lístky, na vzdálenost 18cm. Když jsem takto vyjednotil svůj rov, zůstalo mi množství kvalitních životaschopných sazenic; při propočtu stejných rozestupů; cirka na pět dalších hrobů. Vybral jsem si hroby svých padlých přátel, které nikdo neudržuje a rozhodl se je rovněž zušlechtit.“</p>
<p>„Jo už tomu začínám rozumět, prostě jste je zryl, vyplel a také osázel řepou.“</p>
<p>„Ano pane.“</p>
<p>„Dobře tedy Reginalde, urovnáme to.“</p>
<p>„Mám tedy dovoleno starat se nadále o svůj hrob?“</p>
<p>„Samozřejmě. Nikdo vám nemůže zakazovat pečovat o svůj hrob a užívat ho…inu jak upřednostňujete vy.“</p>
<p>„I ty ostatní neudržované hroby?“ ujišťoval se rychle Reg.</p>
<p>„No jo no. Pokud skutečně jsou neudržované, tak je myslím kulturní plodina lepší než nekulturní chrastí.“</p>
<p>„Děkuji veliteli.“</p>
<p>„Můžete jít, desátníku.“</p>
{% endblock %}
