{% extends "post.html" %}

{% set title = 'Drabble č. 9 (13. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>
<p><b>Arminius</b></p>

<p>Do Varova stanu přišel s darem na rozloučenou.</p>
<p>„S východem slunce vyrážím zpět mezi Cherusky a pak mě čeká obchůzka ostatních kmenů. Než skončím, budou legie již v zimním táboře.“</p>
<p>Pouhé tři. Zbylých osm bylo převeleno do Ilyrie, kde se snažily potlačit povstání. Byl u toho. Vnuklo mu to jistou myšlenku.</p>
<p>„Takže se shledáme až někdy po Martových agonáliích.“</p>
<p>„Do té doby se nech hřát tímhle.“</p>
<p>Podal stárnoucímu veliteli pár rukavic z kuny s rudou výšivkou v podobě tetraskelionu na zápěstích.</p>
<p>„V promrzlé barbarské zemi někdy přijdou vhod i barbarské prostředky. Vím, o čem mluvím, pocházím odsud,“ odpověděl na pozvednuté obočí a podruhé sáhl pod plášť, „Řím ať ti připomíná tohle.“</p>
<p>Varus otevřel nabízenou nádobku.</p>
<p>„Skořice? Příteli...“</p>
<p>Koření hodné vladaře. Navíc Varovo oblíbené. Arminius si dal záležet na tom, aby zjistil, co správce Germánie měl a neměl v oblibě. Jak smýšlel. Každé setkání, každé slovo, které se mu mělo donést do uší, každý krok v zdejší teprve se rodící politice, každé svolení k rostoucím požadavkům muže, jehož vysoké daně už kdysi povedli k nepokojům a masakru na druhém konci říše – vše za jediným cílem.</p>
<p>„Pro stejně vzácného druha,“ usmál se na Vara. Tvá důvěra má cenu vyšší zlata. Cenu celé provincie.</p>
<p>„Čím ti to oplatit?“</p>
<p>„Segestova hlava by nebyla špatná.“ zažertoval Arminius a starší muž se zasmál.</p>
<p>„Lákavé. Nebaví mě poslouchat to jeho věčné štěkání a pletichy. Ale nerad bych pohnul žlučí jeho soukmenovcům.“</p>
<p>Lháři. Na mínění místních kašleš a vyhovuje ti mít nás oba, nechat nás předhánět se v získání tvé přízně, zatímco soupeříme o vůdčí postavení u nás doma.</p>
<p>Segestes se v Římu zhlížel a sliboval si od něj pozvednutí výměnou za zaprodání jiných. Jak bláhové, jak krátkozraké. Segestes se mohl lísat a napodobovat kolik chtěl. To Arminius, v dětství odveden a vychován v jeho kamenných zdech, v sobě nesl Římana, opravdu pochopil podstatu toho rudozlatého orla.</p>
<p>Byl to pánovitý zvěr. Jeho široká křídla jej povznesla právě proto, že štval všechny kolem proti sobě navzájem a lákal je do svých osidel. Vypekl je. Prospěch, po kterém se natahovali, byl ukraden jím samotným. Řím svět spojoval pod svým sandálem a smyslem pro pořádek a jeho duše mohutněla spolykáním jiných.</p>
<p>Avšak právě to bylo tím semínkem, z kterého mohl vyrašit zhoubný plevel. Arminius nemohl Řím zcela zatratit. Nechtěl. Chtěl si činit ten samý nárok, teď když poznal, jak chutná a kde ho vzít. Germán v něm se nemusí poklonit Římu, aby rostl. Germán v něm se potřebuje spojit se svými bratry a vytvořit vlastní říši s její vlastní duší. Spojit je, stejně jako město na sedmi pahorcích spojilo lid kolem moře.</p>
<p>A nejdřív vás musím odsud vyštvat, pustit vám žilou a vzbudit strach, spálit vše vaše, abych na čistém poli vašimi nástroji zasel to, co je mé.</p>
<p>Při odchodu Vara obejmul a zakázal si myslet na teplo v tmavých očích obklopených vějíři vrásek, zakázal si dívat se cestou na vojáky, po boku kterých dosud cvičil, bojoval a smál se kolem táborového ohně. Konec rozpolcenosti. Kostky jsou vrženy. Za několik týdnů je všechny pozře tajná lesní past, do které je Arminius vláká. Anebo přijde o hlavu. Wotane, stůj při mně.</p>

{% endblock %}
