{% extends "post.html" %}

{% set title = 'Historická povídka č. 1 (5. kolo)' %}

{% block content %}
<br><b>Autor: Everett_Young</b><br>

<p>
Mrtvá nevěsta <del>Tima Burtona</del>  George Martina
<BR><BR>
Z dáli k nám doléhal zvuk sílících kroků. Na začátku chodby se míhali stíny ve světle pochodní, jak se vojáci šikovali k poslednímu útoku. Jistě jsou již v tunelu a blíží se k nám. Hlídka padla. Král severu prolomil hradby od jihu a ti barbaři z divočiny prostě přelezli přes Zeď. Dusot opět zesílil. Vlastně sílil s každou vteřinou. Jsme sami. Sami uprostřed tunelu pod Noční Pevností, který vede přímo do nehostinné, mrtvé krajiny.
<BR>
Pohlédla na mě svýma bledýma očima. Myslel jsem, že odolám. Myslel jsem, že už jsem dost silný, abych se jí díval do očí a neztratil při tom svojí vlastní vůli. Ale jako pokaždé před tím, i tentokrát jsem jí naprosto podlehl. „Běž, má Paní. Běž! Jestli nás chytnou, zemřeme oba.“ V tu chvíli mě probodla pohledem plným chladu, nekonečné moci a zároveň lehkého pobavení. „Není to, po čem vy lidé toužíte? Být spolu až do poslední chvíle? Možná se ti to přání splní.“ Chrastění ocelových zbrojí již dunělo jako obrovské bubny, takové jako mají dole v zemích na jihu, a já věděl, jak tohle skončí.
<BR>
Náš vzájemný pohled přerušil syčivý zvuk, který prořízl vzduch okolo. Šíp zazvonil o železný střed mého štítu a svezl se dolů na zem. Popadl jsem jí za ruku. Než stihla něco říct, již jsme oba běželi pryč a já jí táhl s sebou, jak jen mi síly stačily. I přes ruce zakryté v rukavicích jsem dobře cítil, jak mi tuhnou konečky prstů. Pokud se jí budu dotýkat příliš dlouho, přijdu o ně. Vlastně přijdu o celou ruku, ale na tom už nezáleží. Za její život jsem již obětoval víc, než jednu ruku.
<BR>
Narazili jsme na těžké, dřevěné dveře. Za nimi je místnost a z ní se dá odejít tajným vchodem pryč. Nevím, kde se ve mně vzalo tolik síly, ale nějakým zázrakem se mi je povedlo otevřít. Nečekal jsem, než něco řekne a rychle jsem jí strčil dovnitř. Další šíp se zabodl do vedlejší poloviny dveří, kousek od mé hlavy. Protáhl jsem se škvírou dovnitř a zabouchl za sebou dveře. Naštěstí, dveře měli možnost zavření na závoru na obou stranách. Byly dělané tak, aby v případě nouze poskytly bratrům Noční hlídky poslední útočiště před čímkoli, co by se je pokusilo zabít, sníst nebo ještě něco horšího. Zajistil jsem závoru na dveřích. Nevydrží věčně, ale dá nám alespoň pár minut na rozloučenou. Potom dotáhnou beranidlo, rozbijí dveře na třísky a my oba zemřeme…
<BR>
„Asi se teď ptáte, jak, a hlavně proč, se obávaný válečník, králův bratr a velitel Noční hlídky dostal do takového průšvihu jako je tento. Věřte mi, nebo ne, ale lidé už dokázali zahodit mnohem více, pro daleko méně než já. Ničeho z toho nelituji. Prožil jsem se svou královnou třináct nádherných let, během kterých jsem zažil více radosti a štěstí, než pozná většina smrtelníků za celý život. Ano, dopustil jsem se chyb. Ano, nechal jsem zemřít nevinné lidi a spáchal ty nejodpornější hříchy. Nic z toho nepopírám. Ale co je několik obětí, proti pohledu jejích dokonalých očí, proti doteku její jemné, ledové kůže a proti polibku který vás sice může zabít, ale zároveň je to ten nejsladší polibek na světě? Nic. Vůbec nic. Kdybych si mohl vybrat znovu, vybral bych stejně. Nikdy bych svojí Ledovou Královnu nevyměnil za nic z toho, co bych mohl získat, kdybych dodržel přísahu Noční hlídky.
<BR>
Naprosto přesně si vzpomínám na den, kdy jsem jí našel. Je to už dávno, ale přesto si pamatuji všechno do posledního detailu. Byl jsem tehdy na sever od Zdi. Všichni velitelé přede mnou občas chodívali na výpravy za Zdí, aby se přesvědčili, jestli je všechno tak jak má být. Tenkrát jsem s sebou vzal své nejlepší muže a dodnes truchlím nad jejich ztrátou. Zastihla nás tehdy krutá zima a my jsme se ztratili v nekonečné vánici. Jak dny míjely, jeden po druhém končili moji bratři v hrobech vystlaných sněhem. Nakonec jsem zbyl sám. Až do té doby jsem považoval snědení jiného člověka za těžký zločin. Ale věřte mi, když, jste již třetí den bez jídla, pijete roztátý sníh, který vás ještě více unavuje, a vyčerpáním se vám zavírají oči, nepohrdnete ani lidským masem.
<BR>
V ten den jsem jí poprvé spatřil. Bylo to těsně před úsvitem. Klečel jsem vedle mrtvého těla svého bratra, nožem odřezával kusy jeho masa a doufal, že nějak přežiju alespoň ještě jeden den. Pak se z šedé tmy přede mnou objevilo něco nádherného. Dva žhnoucí modré diamanty svítily do noci jako jiskřička naděje. To bylo všechno, co jsem potřeboval. Věděl jsem, co je zač a že bych jí měl na místě zabít. Ale prostě jsem od ní nedokázal odtrhnout oči. Přišla až ke mně a zůstala na mě koukat. „Má Paní.“ Promluvil jsem k ní, i když jsem netušil, jestli vůbec chápe co jí říkám. „Má Paní. Není Vám zima?“  Neměla na sobě jediný kus oblečení. Její bledá, téměř průhledná kůže lehce zářila.
<BR>
Neodpověděla mi. Místo toho si klekla do sněhu, hned vedle zmrzlé mrtvoly mého druha. Sevřela jeho ruku a zakousla se do studeného masa. Vzal jsem nepotřebný kabát, který jsem stáhl z mrtvoly, abych se dostal k masu. Došel jsem přímo za ní a pomalu jsem jí ho položil na ramena. V tu chvíli položila své dlaně na mé. Myslel jsem si, že jsem zažil opravdovou zimu a že nic není chladnější než počasí, které panovalo posledních několik týdnů. Mýlil jsem se. Byla studenější než led, ze kterého je postavena Zeď. Otočila na mě hlavu a já spatřil tenký pramínek krve linoucí se od koutku jejích úst. Vysmekl jsem svojí ruku z jejího sevření a palcem jsem jí opatrně přejel po rtech tak, abych jí setřel krev z brady. Rty měla ještě chladnější než kůži. Měli plnou tmavě modrou, skoro až fialovou barvu. Něco mě k ní neuvěřitelně přitahovalo a já měl chuť jí okamžitě políbit.
<BR>
Trošku jsem jí tím vyplašil. Vytrhla se z mého sevření a stoupla si přímo proti mně. Byla téměř stejně vysoká jako já. To se mi nestávalo každý den, abych potkal dívku vysokou téměř šest stop a tři palce. Hleděl jsem přímo do jejích očí a snažil jsem se povědět něco smysluplného. „Není…. Není vhodné aby… aby… aby se dáma potulovala sama na místech, jako je tohle.“ Usmála se na mě. „A co je pro mě tedy vhodné?“ Zeptala se, hrubším, pevným hlasem. Kabát jí volně splýval z ramen až nad kotníky, ale stejně byl krátký. „Nemohu Vás nechat takhle samotnou a opuštěnou zde. Mohlo by se vám něco stát. A mě je zle už jenom při pomyšlení na to že by Vás mělo něco zlého potkat.“ Usmála se ještě více než předtím. „Tak mě vezmi do tvého hradu. Ukaž mi tu tvojí slavnou Zeď.“ To nesmím. Chtěl jsem říct. „Bude mi ctí doprovodit Vás do mého hradu. Nemějte strach, má drahá, Noční Hlídka Vám poskytne vše, co potřebujete. Ale teď nemůžeme jít. Oba bychom umrzli. Musíme počkat na konec bouře.“
<BR>
Vyhrabal jsem ve sněhu noru. Tam jsme oba zůstali a čekali jsme. Po několika dnech už nám docházelo i lidské maso. Pak najednou bouře přestala. Vlastně to byly krásné dny. Strávili jsme celé hodiny mluvením a dělali jsme jeden druhému společnost, abychom si alespoň trochu zlepšili náladu. Byl jsem do ní naprosto slepě zamilovaný. Vlastně pořád jsem. Ale tehdy to bylo něco jiného. Byl jsem jako ve snu. Vše bylo trochu zahalené v mlze a já neviděl nikoho a nic než Jí. Od toho dne co jsme se poznali, byla středem mého života. To díky ní jsem tehdy nezemřel. Jen pomyšlení na její dokonalé modré oči mě drželo při životě.
<BR>
Nebyli jsme tak daleko od Zdi, jak jsem předpokládal. Během bouře jsme se i celou hlídkou snažili dostat zpět, ale pořád jsme se ztráceli. Jak blízko jsme jen byli. Po necelém půl dni chůze jsem uviděl ledový vrcholek tyčící se na holé pláni. Chytil jsem jí za ruku. „Tady je to. Připrav se, má Paní, jdeme domů.“ Znovu jsem ucítil ten mrazivý pocit v konečcích prstů. Vždycky když cítím takovýhle chlad, poznám, že je moje milovaná na blízku. Ruku v ruce jsme došli až k bráně. Zavolal jsem na své bratry. Ne, že by nás neviděli už z dálky, ale přesto jsem chtěl mít jistotu. A taky na ní trochu udělat dojem.
<BR>
Brána se za zvuku řinčících řetězů otevřela a v ní stál celý průvod vojáků v černém. Všichni na nás (nebo spíše na ní) zírali s ústy dokořán a nikdo z nich neřekl ani slovo. Všichni byly až moc překvapení, než aby něco udělali. Provedl jsem jí koridorem ve zdi a zavedl přímo do mých pokojů. Vyčlenil jsem jí jeden hned naproti mé posteli, tak abych na ní viděl. „Přeješ si něco k jídlu, má Paní? Ryby, zeleninu…“ „Maso. Syrové.“ Odpověděla. „Jak si přeješ.“ Osobně jsem jí do pokoje nanosil všechno, o čem jsem si jen myslel, že by mohla dáma použít. Dokonce jsem na jednom z bratrů vyžebral staré šaty po jeho sestře. Nebyly nijak krásné, ale lepší než černý kabát nedostačující velikosti.
<BR>
Po tolika týdnech strávených venku jsem neměl už na nic náladu. Ani jsem nešel na večeři. Padl jsem, mrtvý únavou, do své postele a doufal, že si konečně odpočinu. Dobrého spánku jsem se ale nedočkal. Mou hlavou se hrnula jedna noční můra za druhou. Všechny měli stejné téma a všechny mě varovali. Jako by Zeď nesnášela mojí Noční Královnu. Jako by jí odsud chtěla vyhnat zpět na sever, nebo jí zničit. Nebo nás zničit oba. Jí, za to čím je a mě, za to že jsem jí sem přivedl. Vzbudil jsem se někdy uprostřed noci. Nad mou postelí stála postava zahalená v kápi. Viděl jsem jen dva modré lesknoucí se diamanty.
<BR>
Přišla mě zabít, byla moje první myšlenka. „Pojď se mnou, můj králi. Chci, abys něco viděl.“ Bez odporu jsem vstal z postele a následoval jí. Vyšli jsme nahoru, na samý vrchol Zdi. K mému překvapení zde nikdo nehlídkoval. Byli jsme naprosto sami. Konečně mi naskočil rozum a já si začal uvědomovat, že se chovám jako blázen. „Proč mě budíš uprostřed noci, má Paní? A proč mě vodíš sem, do zimy ze které jsme se zrovna vrátili?“ Ukázala rukama do stran. „Nikdo tu není.“ Prohlásila, jako by na tom záviseli naše životy. „A to si mi chtěla ukázat?“ Rozvázala pásek držící její šaty. Ty volně sklouzly dolů po jejích ramenou a zůstaly bez hnutí ležet na zemi. „Tohle jsem ti chtěla ukázat.“
<BR>
Nezmohl jsem se na jediné slovo. Jen jsem zíral na její krásu. Neváhal jsem ani okamžik. Strhl jsem ze sebe to málo, co jsem si oblékl, když chtěla, abych jí následoval, a skočil jsem po ní. Byla chladná, jako samotné srdce zimy. Nikdy dřív jsem to necítil. Mráz prostupoval celým mým tělem, a kdyby chtěla, mohla mě okamžitě zničit. Ale na druhou stranu jsem cítil její vřelé srdce. Tlouklo hluboko v její hrudi a já cítil každý úder jako svůj vlastní. Nevím, jak dlouho jsme tam byli, ale když jsem se ráno probudil, byla mi neuvěřitelná zima, na chodidlech jsem měl omrzliny a bylo mi neuvěřitelně zle. Vypotácel jsem se ze svého pokoje, abych se zeptal své královny, ale nebyla u sebe. Třeba to celé byl jen sen.
<BR>
Nebyl. Čekala na mě v hodovní síni, usazená v mém velitelském křesle v čele stolu. Bratři již dávno posnídali a plnili teď svoje povinnosti. Přes noc již jistě stihli probrat, co se tu stalo a vymyslet nějaký plán jak to celé napravit. Sedl jsem si vedle ní, a snědl svůj příděl dušeného masa. Zrovna když jsem dojedl, rozlétly se dveře a v nich se objevil můj první průzkumník.
<BR>
„Tohle je zrada!“ Vykřikl. „Prosím?“ Namířil si to přímo ke mně. „Říkám, že tohle je zrada! Tyhle věci máme zabíjet, ne je brát k nám a nechávat je spát v našich hradech. Mohla tě zabít!“ „Mohla.“ Připustil jsem. „Ale neudělala to. Neublížila nikomu v tomto hradě. Nevidím důvod pro to, abychom jí vyhodili, alespoň ne dřív než se si s ní promluvím o tom co se děje za Zdí.“  Udeřil pěstí do stolu. „A já říkám, že jí musíme zabít a spálit. Tak se to s nimi dělá.“ Už mi docházela trpělivost. „Je hezké, že to říkáš, ale pokud vím, tak jsem tu pořád ještě velitelem já.“
<BR>
V tu chvíli nás oba přerušil třetí hlas.„Teď běž plnit své povinnosti a nech nás. Lord velitel ti prokazuje velkou laskavost, když tě nechává odejít s hlavou na krku. Tak jdi, než si to rozmyslí.“ V tom okamžiku se otočil, vyběhl ven a my uslyšeli jenom prudké prásknutí dveřmi. Přistoupil jsem ke své milované královně. „Má Paní, neměla bys…“ „Tak ty mi teď říkáš, co bych měla a co neměla říkat?“ Probodla mě pohledem a já ucítil, jak mi slábnou nohy. V dalším okamžiku jsem klečel přímo před ní. „Copak jsi už zapomněl na tvá včerejší slova? Tvoje duše patří mně. Ty patříš mně.“ Pokusil jsem se vstát, ale nešlo to. Jako by mně držela svojí vůlí. Zkusil jsem promluvit.
<BR>
Položila mi na rty svůj ledový prst a přiblížila se až k mému uchu. „Oprav mně, jestli se pletu, ale pokud vím, nedovolila jsem ti ani vstát, ani promluvit. Nejsem si zcela jistá, jestli to chápeš, ale ty se teď řídíš tím, co řeknu já. Rozumíš tomu?“ Jedna má část jí chtěla okamžitě zabít. Chtěl jsem okamžitě vyskočit a probodnout jí mečem z dračího skla. Ale někde hluboko jsem cítil, že takhle to má být. Takhle je to správně. „Rozumím, má Paní.“ „Tak vidíš, věděla jsem, že mi dva si budeme rozumět. Ale tvoji černí panáčci nebudou tohle snášet moc dlouho. Bylo by vhodné, kdyby ses prohlásil králem, a mě královnou.“ „To je proti zákonům Noční Hlídky.“
<BR>
„Ty už si jich porušil víc než dost. Tohle už ti nemůže ublížit. A teď běž. Dej poslat pro krejčího a sežeň mi t nejkrásnější šaty, které si může Noční Hlídka dovolit zaplatit. Nejsem ničí služebná, abych tu chodila v takových hadrech.“ Tep se mi zrychloval. Nevím proč, ale tak nějak se mi zamlouval způsob, jakým jednala se všemi okolo. To, jak snadno dokáže s každým manipulovat a nejvíc to, že vždycky dostane, co chce. I kdyby měla někoho zabít (a že to za těch třináct let udělala nejednou) tak pokaždé dosáhla svého. Miluji tu její panovačnou povahu. Ale to už jsme zase někde jinde. Nebudu vás nudit tím, jak si nechala ušít zlaté šaty vykládané diamanty a jak za mnou chodili moji rádci jeden za druhým, ať už s radou nebo s výhrůžkou.
<BR>
Tu noc se stalo něco horšího. Ráno jsem se probudil, a zjistil jsem, že mám na rukou zaschlou krev. Nevěděl jsem od čeho. Šel jsem se umýt a zkontroloval jsem, jestli jsem se nepořezal. Ale krve bylo moc na to, aby byla moje. Když jsem se konečně dostal mezi ostatní, zjistil jsem, že můj první průzkumník je mrtvý. V noci mu někdo podřízl hrdlo. Ležel nahoře na Zdi, ve velké kaluži krve. Věděl jsem, kdo to udělal, ale pořád jsem tomu nechtěl věřit. Šel jsem zpět do mé ložnice. Začal jsem odhazovat věci stranou. Nakonec jsem našel pod polštářem skrytou dýku celou potřísněnou krví. Bylo mi jasné, kdo to má na svědomí.
<BR>
„Proč si to udělala?“ Vtrhl jsem do její komnaty s touto otázkou. „Proč jsem udělala co?“ Zeptala se a v jejím hlase byl poznat předstíraný údiv. „Nehraj si se mnou. Proč si ho zabila?“ Usmála se. „Já? To ty si ho zabil, nevzpomínáš si? Podřízl si mu hrdlo a nechal ho zemřít. To od tebe nebylo hezké.“ „Moc dobře vím, že jsi mě k tomu donutila. Nezabil bych svého bratra.“ „Myslíš bývalého vraha a zloděje, který se rozhodl pro Zeď, jen aby nepřišel o hlavu? Máš to ale krásnou rodinu.“ „S příchodem sem ztrácíš svojí minulost. Byl mi bratrem víc, než by to dokázala většina vznešených lordů severu.“ Prstem si pohrávala s pramínkem svých průhledných, skleněných vlasů. „Nemohl zůstat naživu. Dělal by jen problémy. Záviděl ti. Chtěl tvoje místo. Chtěl tvojí slávu. Chtěl mě. To je nepřípustné.“
<BR>
Tehdy jsem cítil jednu vlnu vzteku za druhou, jak projížděli mým tělem a já nevěděl co dělat. Dnes už chápu, proč to udělala. Nikdy bychom nemohly být spolu. Bylo to správné rozhodnutí, i když uznávám, že morálně velice pochybné. Kdyby tehdy nezakročila, z třinácti let by byl ani ne týden. Ale o tom později. Tehdy se mi to povedlo svalit na dalšího z bandy zločinců, kteří přišli na Zeď. Schoval jsem dýku do jeho pokoje a pak nařídil prohlídku. Nebylo to nic těžkého, snad jen ten tíživý pocit, že jsem nechal pověsit relativně nevinného člověka. Ale i toho jsem se dokázal zbavit. Stačila k tomu myšlenka na mojí Královnu a pocit, že bych jí mohl ztratit. To raději ať celou Hlídku sežerou Jiní.
<BR>
Tak jak tak bylo potřeba učinit jakýmkoli možným vzpourám přítrž. Proto jsem se rozhodl (alespoň doufám, že to bylo mé rozhodnutí) uposlechnout jí a ještě ten večer jsem se nechal korunovat. Svolal jsem do hodovní síně všechny bratry z noční Pevnosti. Kuchaři jsem nařídil, aby místo obvyklé misky dušeného masa uvařil něco slavnostnějšího. Jako první chod se podávala zeleninová polévka v misce z vydlabaného chleba. Potom přišel na řadu hlavní chod. Každý dostal kus hovězího masa s vařenými bramborami a k tomu pořádnou dávku piva, aby spíše zpívali, než protestovali. Nicméně někteří z nich nezpívali vůbec. Má ledová Královna si usmyslela, že ne každý bratr je natolik loajální aby mě přijal za svého krále (nebo spíše Jí za svou královnu), a tak vybraní hosté dostali k pivu menší otrávený přídavek.
<BR>
A jsme u zabití hosta pod vlastní střechou. Myslím, že pokud nás teď zabijí, bohové mě potrestají tím nejhorším způsobem. Třináct let s ní je málo. Nechci ještě umřít. Chci žít. Chci, aby tenhle sen nikdy neskončil. Proč nás prostě nemohou nechat být. Nic jsme jim neudělali. Snad až na těch pár mrtvol v ledových celách. A možná trochu těch krádeží a rituálního obětování. Ale nic za co bychom měli zemřít. Oni to prostě nechápou. Nechápou jak je má Královna dokonalá. Ale teď není čas panikařit. Při takových situacích je jasný postup. Zničí všechny důkazy o tom, že jsem kdy existoval, nebo že se něco z tohohle kdy stalo. Ale vy nezapomenete. Aspoň někdo bude vědět o našem příběhu. O tom jak si k sobě našli cestu dvě strany stejné mince – život a smrt.
<BR>
Musím vám to říct. Musím. Až budu ležet na zemi, probodaný šípy, už toho moc nepovím. Ten večer měl být perfektní. Proto jsem nechal připravit i menší sladký zákusek ze sušeného ovoce na konec. Bohužel, dvěma nebo třem bratrům jaksi zaskočil v krku. Sám od sebe, samozřejmě. Rozhodně odmítám jakoukoli účast na této akci. Ovšem, za její Veličenstvo už neručím. Když jsem pak všechny utišil, a pronesl svůj patetický, umělý a nevkusný projev, nikdo neřekl ani slovo proti. Tedy, jeden člověk se o to pokoušel, ale jistě vám rodiče říkali „nemluv s plnou pusou nebo se udusíš“. No, jemu asi ne. Od toho dne neměla Noční Hlídka velitele, ale královnu. Ze začátku se ještě snažila předstírat, že Hlídce vládnu já, a buď vládla mým jménem, nebo mě ovládala svojí vůlí, ale po několika měsících už se s tím neobtěžovala. Nebyl k tomu důvod. Nikdo si netroufl říct ani slovo proti jejímu rozhodnutí.
<BR>
Až jednou, jeden z nově příchozích zlodějíčků, které mi poslal na výcvik můj skutečný bratr, vytáhl obsidiánovou dýku, skrytou pod jeho zbrojí a zarazil jí mé Královně do srdce. Ale jediné srdce, které se málem zastavilo, bylo to moje. Ona jen bez známky zájmu vytáhla dýku z rány a zoufalému útočníkovi, který pořád nedokázal přijít na to, co se stalo, jí bodla do břicha. Sklonila se až k němu a promluvila svým pevným hlasem, ve kterém bylo znát jak pobavení nad hloupou a zbytečnou smrtí jednoho z bratrových vojáků, tak pohrdání které k němu bezpochyby cítila. „Je mi líto, ale obsidiánová dýka nebude fungovat. S každou duší, nad kterou vládnu, roste moje síla. Teď už mě nedokáže nikdo zastavit. Teď jsem vaše bohyně. Jsem ta nejmocnější bytost jakou si kdy viděl. A až zjistím, kdo jsi, nechám celou tvojí rodinu stáhnout z kůže.“ Pak vytáhla dýku ven a jedním rychlým tahem mu podřízla hrdlo. Ostatní na to nevěřícně koukali, ale nikdo se nevzepřel. Věděl jsem, kdo to je. Znal jsem ho z války. Nebyl to žádný zloděj, za kterého se vydával. Bojoval po našem boku snad v každé válce, ve které jsme s bratrem byli. Jeden z jeho osobních strážců. Ještě ten večer jsem poslal vojáky k němu domů. Tohle si nesmí nikdo dovolit. Pokus o vraždu vlastní královny je velezrada. A pro tu je jen jeden trest.
<BR>
Co bylo potom, je jako ve snu. Mnoho věcí vidím jako zahalené v mlze nebo si je vůbec nepamatuji. Nevím, asi mi už neslouží paměť tolik jako dřív. Má Paní se snažila něco najít. Nechala ve sklepeních zřídit laboratoře, a v nich dělala pokusy. Většinou na dezertérech, zrádcích, divokých, nebo prostě na nějakém jiném odpadu, ale když zrovna nikdo takový nebyl k dispozici, nepohrdla ani někým z vlastních řad. Častokrát jsem jí viděl, jak jim odřezává kusy těla.
<BR>
Občas jsem slyšel hlasy, kdy s někým domlouvala jakýsi plán útoku. Ale většina z těch řečí se mi jistě musela jen zdát. Mluvila o nějakém Targarinovi nebo Targerenovi nebo tak něco. Ale žádný takový rod není ani v jednom ze sedmi království, ani za Zdí. A stejně tak neexistuje žádný král Stannis. O nikom takovém jsem se ani v mládí neučil a to jsem byl v historii vzdělán velice dobře. Zkrátka jak říkám, hloupé sny. Někdy vytvářela z krve obrazy, které se sami hýbali a promlouvali z nich nějaké tváře.
<BR>
Od začátku bylo jasné, že Ona bude velet všemu. Hlídce, království i mě. Já i Noční Hlídka jsme to přijali, já s potěšením, a moji černí bratři s několika nevkusnými poznámkami, ale komu se situace nelíbila, byl můj hloupý bratříček. Záviděl mi. Záviděl mi mojí milovanou Královnu, protože sám nikdy tak úžasnou a skvělou dívku neměl. Každý muž by mi jí chtěl ukrást. Každý. Vidím to, když se podívám na kohokoliv z nich. Nejraději bych je všechny upálil. Zasloužili by si to. Chtějí mi jí ukrást. I teď, když jdou sem za námi do podzemí. Nechtějí nás zabít. Chtějí zabít mě, a chtějí mě nahradit. Každý chce její přízeň. Ale já jim to spočítám.
<BR>
Problém nastal až před několika měsíci kdy se můj bratr, který má pořád tu drzost zvát sám sebe králem, rozhodl, že se na nás přijede podívat a urovná věci na správnou míru. Moje Královna pro něj měla jednoduché řešení, které ovšem vyžadovalo mojí spoluúčast. Zabití příbuzného. Opravdu jsem pro ní klesnul tak hluboko? Ale co, jen další hřebíček do rakve. Nechal jsem připravit vojáky s kušemi, aby ho i s družinou obklíčili hned, jak přijede. Ale nevěděl jsem, komu z nich můžu věřit. Každý z nich by mě mohl chtít zradit, každý z nich by mi mohl chtít ukrást mojí Paní pro sebe. Nejlepší by bylo, všechny je popravit. Všechny do jednoho.
<BR>
Když pak ta prokletá zmije přijela na nádvoří a já uviděl ten jeho výraz v očích, neváhal jsem. Díval se na mně jako na blázna. Jako bych se pomátl. Ale to on se pomátl! Vzpírat se vůli mé Královny je velezrada. Zasloužil by si místo na šibenici, hned vedle ostatních. Z okolních střech se zpustila salva šípů a jeho zrádcovští vojáci padali jako mouchy. Ale on ne. Ten ničemný bastard měl vždycky tuhý kořínek. Povedlo se mu ujet. Ti co z jeho družiny přežili, odsoudila její Jasnost po právu za velezradu. Chtělo se mi z nich zvracet. Jak můžou být všichni okolo tak slepí? Kdyby je tak má Paní nechala nahlédnout do své duše, aby viděli jak skvělá vlastně je. Ale jak to můžou nevidět? Vždyť je to přece tak zřejmé. Ona je dokonalá. Je středem celého světa, je vším pro co má cenu žít, tak proč to sakra nikdo kromě mě nevidí?
<BR>
Hned druhý den nás zasáhla ještě horší zrada. Můj proradný bratr se proti vůli jejího Veličenstva spikl s tím odporným barbarem za zdí. Ne, už to není můj bratr. Je to zrůda. Za tohle bych mu vlastnoručně usekl hlavu, jen kdybych ho dostal pod ruku. A tomu rádoby králi Joramunovi bych dopřál něco ještě lepšího. Pořád si stěžuje, že je mu za Zdí zima. Upekl bych ho zaživa. Vlastně bych je upekl všechny. Stejně si nic lepšího nezaslouží. Navíc oba začali zbrojit. Modlil jsem se k bohům za naše přežití, protože jsem věděl, že proti takové přesile jakou poskládají dohromady, nemáme žádnou šanci. Svolal jsem bratry ze všech pevností, aby bránili svojí královnu. Bylo nás přes dvacet tisíc, ale podle jejích slov ani to nebylo dost. A tak jsme vymysleli záložní plán.
<BR>
Museli jsme obětovat několik bratrů, ale jejich krev posloužila dostatečně k tomu, aby se mohla spojit s ostatními svého druhu a poslat jim zprávu. Prý nám přijdou na pomoc. Ale měsíc utekl jako voda. Užíval jsem si každý den po boku mé milované Královny, nicméně jsem věděl, že jsou již na pochodu. „Ať se se mnou a s Hlídkou stane cokoli, musíš se dostat do chodby, která vede ze studny přímo pod Zeď. Tam Tě nebude nikdo čekat. Poslouchej mě, prosím, alespoň jednou mě poslouchej. Ty musíš za každou cenu přežít. Raději bych sám zemřel, než abych viděl Tebe trpět. Prosím, slib mi, že tu nezůstaneš, slib mi, že zachráníš alespoň sebe.“ Snažil jsem se jí domluvit nad plánem Noční Pevnosti, těsně před tím než ti dva odporní zrádci zaútočili. Bylo těžké zdolat hradby Noční Pevnosti a ještě těžší pobít těch pár věrných co nám zůstalo.
<BR><BR>
Den před bitvou nás většina Hlídky zradila. Přes patnáct tisíc mužů se přidalo k našemu nepříteli nebo se odmítly do boje jakkoli zapojit. Když pak zazněly trumpety a zrádci na nás zaútočili, bojovali jsme do posledního muže. Ale marně. Žádná pomoc nám nepřišla, a ani ta nejoddanější armáda nemá šanci proti desetinásobné přesile plně vyzbrojených a vycvičených vojáků. Když už jsem viděl, že je vše ztraceno, popadl jsem svojí milovanou Královnu a odvedl jí do tunelu.“
<BR>
A teď jsme tady, v malé místnosti mezi Noční Pevností a tajným vchodem pod Zdí. „Má Paní, chvilku jim potrvá, než se k nám dostanou. Musíš si zachránit život. Musíš odejít. Já tam nahoře nemohu přežít, ale ty ano. Je to tvůj domov. Prosím, nenuť mě se dívat, jak umíráš. To mě radši sama zabij.“ Stojí tu, v nádherných zlatých šatech vykládaných diamanty a tváří se naprosto spokojeně. Jako by dosáhla všeho, čeho chtěla. Otevřel jsem dveře vedoucí ven za Zeď. „Prosím! Pojď. Zachraň si život.“ Za dveřmi stáli dva vojáci jejího druhu. Na rozdíl od ní měli lesklé, temně modré oči plné nenávisti. Vysvlékla ze sebe šaty. Tam nahoře je jistě nebude potřebovat, jenom by jí překážely. V den kdy jsem jí našel, také žádné neměla.
<BR>
Ve dveřích se zastavila a obrátila se na mě. „Pojď ke mně, ty můj hlupáčku. Za to, co si pro mě udělal, si zasloužíš ještě jeden polibek.“ Bez váhání jsem se přitiskl až k ní. Dotkl jsem se jejích perfektních rtů. Vím, že mě ještě pořád má ve své moci, ale nevadí mi to. Raději ona než ti velezrádci za dveřmi. Už do nich buší beranidlem. Za chvilku budou tady. Začal mnou prostupovat podivný chlad. Vždycky když se mě dotkla nebo mě políbila, jsem ho cítil, ale tentokrát je to jiné. Ten chlad postupuje dál do mého těla. Moje srdce začíná mrznout. Doslova. Ztrácím tep. Přestává být. Její rty se oddělují od mých a já před ní padám na kolena a nemůžu se ani hýbat, ani promluvit. Ona mě zničila. Potrvá to jen pár vteřin a umřu. Cítím to.
<BR>
Ale to je jedno. Nezáleží na tom. Miluji Jí, a Ona bude žít. To je jediné na čem záleží. „Hlupáku. Ani nevíš, co si způsobil, viď? Myslím, že tenhle polibek sis opravdu zasloužil, za to co jsi pro mě udělal. Ani nevíš, jak lehce jsi odsoudil celý ten tvůj ubohý lidský druh k záhubě. Všichni kvůli tobě zemřou. Ne dnes, ne zítra, ale stejně zemřou. A je to jen a jen tvoje vina. Celou dobu měli pravdu. Jsi pomatený blázen, který zahodil všechno, co měl úplně pro nic. Bylo to tak snadné. Tak snadné zlákat tě na svojí stranu. A podívej se na sebe teď. Hlídka je v troskách, Polovina lidské armády je mrtvá a ty zemřeš taky. Zničil jsi všechno, co jsi mohl. Sbohem, Noční králi.“ Její ruka, která mě doteď držela před pádem, se mi vysmekla. Ležím na zemi a život ze mě vyprchává. Tohle přece nemůže být pravda. Je to jen nějaký zlý sen. Přece by mě takhle nezradila. Ne, to nejde. To nejde. Je jediná koho mám. Jediná, na kom mi záleží. Ještě mi věnuje poslední pohled jejích nádherných očí. Pak se otáčí a beze slova odchází. „Má Paní…“ Nemám už ani sílu promluvit. Dveře za mnou se tříští na kousky a já naposledy vydechuji.

</p>
{% endblock %}
