{% extends "post.html" %}

{% set title = 'Historická povídka č. 5 (5. kolo)' %}

{% block content %}
<br><b>Autor: Livtrasi</b><br>

<p>
GAMEBOOK

 <BR><BR>

V mých očích je Sansa Stark přeborník v mizerných rozhodnutích a úsudcích. Máte-li chuť, můžete nyní pozměnit některá její klíčová rozhodnutí a vydat se linkou, která je vám nejbližší.

 <BR><BR>

(výchozí texty jsou překopírovány z knih)



 <BR><BR><BR>

1.
<BR><BR>
„Slíbila jsi mi písničku, ptáčku. Copak jsi zapomněla?“
<BR>
Nevěděla, o co mu jde. Přece mu nemohla zpívat, ne teď, když se obloha svíjela v ohni a venku po stovkách a tisících umírali muži. „Nemohu,“ řekla. „Nech mě být, děsíš mě.“
<BR>
„Všechno tě děsí. Podívej se na mě. Podívej se.“
<BR>
Krev maskovala ty nejhorší z jeho jizev, ale oči měl bílé, vytřeštěné a děsivé. Spálený koutek jeho úst sebou cukal, zas a znovu. Sansa ho cítila; pach potu, kyselého vína a starých zvratků a nad tím vším pach krve, krve, krve.
<BR>
„Mohl bych tě ochraňovat,“ zaskřípal. „Všichni se mě bojí. Nikdo by ti neublížil, jinak bych je zabil.“ Přitáhl ji k sobě a Sansa si na okamžik myslela, že ji chce políbit. Byl příliš silný, než aby mu mohla vzdorovat. Zavřela oči, chtěla to mít za sebou, ale nic se nestalo.
<BR>
„Stále se nemůžeš přinutit podívat se na mě, co?“ slyšela ho říkat. Prudce jí zakroutil rukou, otočil jí dokola a mrštil jí na postel. „Teď chci slyšet tu píseň. Říkala jsi, že bude o Florianovi a Jonquil.“ Najednou tasil dýku a přiložil ji k jejímu hrdlu. „Zpívej, ptáčku. Zpívej o svůj maličký život.“

<BR><BR>



Chcete-li, aby Sansa zpívala, otočte na odstavec č.16.
<BR>
Chcete-li aby pokračovali v rozhovoru, otočte na odstavec č.11.

 <BR><BR><BR>



2.
<BR><BR>
„Ne,“ vyhrkla Sansa. „Jsi… jsi laskavý, že mi to nabízíš, ale… tam se žádné obřady nekonají, můj pane. Nejsou tam žádní knězi ani písně nebo svíce. Jenom stromy, ke kterým se tiše modlím. Nudilo by tě to.“
<BR>
„Nepochybně máš pravdu.“ Zná mě lépe, než jsem si myslel. „I když zvuk ševelícího listoví by možná byl příjemnou změnou po septonech drmolících o sedmi aspektech milosrdenství.“ Tyrion ji mávnutím ruky propustil. „Nebudu tě zdržovat. Obleč se teple, moje paní, venku fouká studený vítr.“ Byl v pokušení zeptat se jí, za co se modlí, ale Sansa byla tak poslušná, že by mu to možná řekla, a Tyrion si nemyslel, že to ve skutečnosti chce vědět.
<BR>


Sansa nikdy nenahlédla do Tyrionovy duše a po Joffreyho smrti utekla ze sálu na Malíčkovu loď, kterou ji dopravil na Prsty, kde se konala jeho svatba s Lysou.

 <BR><BR>

Otočte na odstavec č.9.


<BR><BR><BR>


3.
<BR><BR>
Večery před usnutím jí teď vyplňovalo usilovné přemýšlení. Miloval-li její matku, je očividné, že na ní samé miluje to, co mají s lady Stark společné. Bude-li ho chtít ovládat, nezbývá, než se matce připodobnit co nejvíce. Se zavřenýma očima se snažila vybavit si matčina gesta, pohledy, chůzi – ach, jak často ji chůva kárala právě za to, že její chůze není dostatečně vznešená. A také, že často neví, co s rukama a mimovolně si hraje s nějakou stužkou či přívěskem. Lady Catelyn, pokud se nevěnovala četbě nebo ruční práci, mívala ruce vždy pokojně složené v klíně a vyzařoval z ní důstojný klid. A její úsměv, ve kterém bylo vždy více schvalování toho, co se děje než skutečného veselí. Rozhodla se, že do svého projevu také vědomě přidá i oblíbené slovní obraty a intonaci, jež její matka užívala.
<BR>
Bylo pro ni velkým zadostiučiněním, když si všimla, že Malíček častokrát při pohledu na ni na kratičký okamžik jakoby ztrácel nit a párkrát i vypadl z role vševědoucího hráče, který je vždy nad věcí.
<BR>
K malému Robertovi se počala chovat více jako její matka k Rickonovi, než aby kopírovala Lysu. Políbení poslušné dcery, které lord Petyr každý den žádal, mu již nikdy nedávala na tvář, když seděl. Důstojně, s vlídným úsměvem čekala, až se postaví, tak jako to viděla mnohokrát u svých rodičů, spíše se nechala políbit než by sama políbení dávala. Věděla, že to vyvádí Malíčka z rovnováhy více, než cokoliv jiného.
<BR>
Když se jednou nevědomky přeřekl a oslovil ji Cat, stálo ji velké sebeovládání, aby se jí na rtech neobjevil vítězný úsměv.

<BR><BR>
Otočte na odstavec č.17.


<BR><BR><BR>




4.
<BR><BR>
Rozhodl se pro severní cestu. Přestože na Královské cestě nebylo bezpečno, bylo to rychlejší. Zvlášť když se od cesty drželi bokem, aby potkali minimum lidí. Přinejmenším je mohli docela snadno popsat pronásledovatelům a ani jeden z nich nepochyboval o tom, že po nich pátrají velmi intenzivně.
<BR>
Sansa již byla velmi unavená po dalším dni plném trmácení přes pole a lesíky, výmoly a strouhy. Podvečer vítala s povděkem.Vjeli do rozsáhlejšího hájku a Ohař se už rozhlížel po vhodném nocležišti, když večerní vzduch proťal nelidský výkřik bolesti.
<BR>
Sandor zvětřil jako pes a pohlédl okamžitě směrem mírně napravo. Sansa nebyla schopna mezi stromy poznat odkud přesně se ten výkřik ozval, ale Ohařovým smyslům bezvýhradně věřila. Zatímco její reakce byla otočit koně a ujíždět pryč, válečník na úprk ani nepomyslel. Napůl otočil Cizince k ní a chňapl po uzdě jejího koně, až jí ji vyškubl z rozechvělých dlaní.
<BR>
„Je lepší vědět, před čím prcháme,“ zachraptěl a pobídl koně směrem k výkřiku. Projeli hustším porostem a začaly k nim doléhat výkřiky, hlasy a dokonce i smích.
<BR>
„Myšlel jšem, že šynášek lojda, čo šeje žlato bude mít v žilách něčo fajnovějšího než špjoštou kjev,“ hýkal kdosi šišlavě.
<BR>
Ohař zarazil Cizince. Sansa věděla, že slyšel totéž, co ona. O jediném lordu se říkalo, že…v duchu se pozastavila nad výrazem „sere“. A lord Tywin měl jen dva syny a Tyrion byl v Králově Přístavišti. Byli snad náhodnými svědky vraždy Jaimieho Lannistera?
<BR>
Ohař se k ní otočil a jakoby jí četl myšlenky chraptivě zašeptal, „při smrtící ráně chlap tolik neřve.“
<BR>
„Ale,“ hlesla, „už se neozývá“.
<BR>
„Právě. To znamená, že omdlel bolestí a šokem,“ odmlčel se. Ale zřejmě krvácí a za chvíli může umřít.“
<BR>
Sansa na Sandorovi viděla, že se rozhodl.
<BR>
„Neuleť ptáčku, jdu ti koupit propustku z klece,“ sevřel její dlaň ve své a sáhl po svých rytířských rukavicích. Pak si nasadil psí tlamu, ale ještě nezaklapl hledí. Tasil meč a pobídl koně, který se krvežíznivě vrhl vpřed.
<BR>
Sansa slyšela, že její srdce buší hlasitěji než Cizincova kopyta o zem. Tepot v obou uších přehlušil válečný ryk Sandora, který se rozlehl za soumraku stejně hlasitě jako prve výkřik bolesti Jaimieho Lannistera, pokud to skutečně byl on. Ale toto byl řev plný zuřivosti a sebevědomí. Slyšela taky ržání Cizincovo, na které odpovídali další koně a zmatené výkřiky lidí. A výkřiky bolesti. Vřískání a třesk zbraní, které se ozvalo, když pominulo ohromení nad útokem obrněného rytíře na válečném oři.
<BR>
Sansa se choulila ke hřbetu neklidného koně a překryla si hlavu kápí pláště, protože ji děsily všechny ty zvuky boje. Vůbec se to nepodobalo rytířskému klání.
<BR>
Plakala. Potichu a dlouze. Plakala stále a všude kolem byla tma. Nevnímala, jak boj utichal, nevšímala si probleskování ohně z míst, kam vyrazil Sandor. Nevnímala přítomnost. Zůstal jí jen zoufalý pláč ztraceného dítěte.
<BR>
„Má paní,“ na paži ji dopadla velká ruka. Ale ten hlas. To byl přece ženský hlas. Její šok zarazil pláč, který najednou nebyl.
<BR>
„Má paní,“ ozval se soucitný ženský hlas znova. „Nebojte se, zavedu vás k matce.“
<BR>
„K matce? Kde je Ohař? Kdo,“ochraptěle se zajíkla.
<BR>
„Ohař…už není. Poslal mne posledním dechem pro vás, abych vás zachránila. Jmenuji se Brienne s Tarthu a vaše matka mi přikázala, abych vás dostala bezpečně do Řekotočí.“

 <BR><BR><BR>



5.
<BR><BR>
Bezradně projížděla krajinou Trojzubce. Byla unavená a zoufalá. Litovala svého útěku s Marillionem.
<BR>
Prve to vypadalo jako dobrý nápad. Na Orlím hnízdě ji nečekal ani domov ani bezpečí před prozrazením. Proto se upnula k jedinému cíli. K místu, kde se cítila naprosto v bezpečí – k Zimohradu. Sama však vůbec nevěděla, jak se na Zimohrad dostat. Kéž by se aspoň dostala do Řekotočí. Jenže jak a kudy. Mapy ji nikdy nezajímaly a navíc se u mladých šlechtičen nepočítalo s tím, že budou cestovat samy a bez doprovodu. Avšak její doprovod padl u Krvavé brány z Údolí. Jeho tvrzení, že jméno Lysy Arryn, jejímž je chráněncem, mu všechny brány a dveře otvírá, se ukázalo pravdivým jen z části. S tím, že z Orlího hnízda vyšlou havrana se zprávou, aby je zadrželi, nepočítal ani jeden z nich. Ji samotnou nesestřelili jen proto, že se báli, aby se nezranila při pádu z koně, kterého hnala tryskem. V horách se nikde neodvážila zastavit déle, než kobylka nabrala dech. Uprchla, ale jaké je to Pyrrhovo vítězství, když neví kudy kam. Zřejmě právě na to pronásledovatelé spoléhali.
<BR>
Její kobylka zafrkala, ale poděšeně nevypadala. Po celodenním bloudění poprvé nabrala konkrétní směr. Zdálo se jí to, nebo zaslechla koňské ržání? Sansa se setkání s lidmi bála. Byla však hladová a žíznivá, a tak rozlámaná, že si řekla – co už – a nechala ji jít za štěstím, protože z nich dvou byla kobylka ta zcestovalejší. Je zas jen ptáčkem s krásným hlasem, ale bez své vůle, když nedokáže řídit svůj osud?
<BR>
Mezi stromy se jí naskytl pohled na velkého černého koně uvázaného ke stromu, který se po nich neklidně ohlížel. On byl zřejmě tím, co kobylku přivábilo. Po pár dalších krocích ji však zastavila a kobylka se po dni nebývalé volnosti rozpomněla na dobré vychování a zůstala stát.                                    K hřebci právě dobelhal těžce raněný muž s hlavou ovázanou krví prosáklým hadrem a chystal se nasednout.
<BR>
Sansa zírala jako opařená. Pak se velký muž otočil k ní a jejich pohledy se střetly. Kdyby kůň, o něhož se opíral, nepohodil hlavou, stáli by tak možná půl století.
<BR>
„Ptáčku,“ zachraplal raněný.
<BR>
Sansa se svezla ze sedla a zrychlujícím se krokem se vydala k němu, až před ním vztáhla ruce a padla na jeho hruď. Zapotácel se slabostí, přestože byla lehounká. Stavidla slz povolila a všechno zoufalství a beznaděj odtékaly pomalu s nimi po špinavé zakrvácené výstroji Sandora Clegana.
<BR>
„Ptáčku,“ přiškrceně sípal Ohař, který se rozhodl žít.
<BR>
Už nebyl odkopnutým psem bez pána.




<BR><BR><BR>


6.
<BR><BR>
Večeře skončila v napjatém tichu, tak jako ostatně končívaly skoro všechny jejich večeře.
<BR>
Když pak Pod sklízel ze stolu číše a talíře, Sansa požádala Tyriona o svolení navštívit boží háj.
<BR>
„Jak si přeješ.“ Už si na pravidelné večerní projevy náboženského cítění své ženy zvykl. Modlila se také v královském septu a často zapalovala svíce Matce, Panně a Stařeně. Měl-li být Tyrion upřímný, považoval její zbožnost za přehnanou, ale na jejím místě by možná také prosil bohy o pomoc. „Přiznávám, že o starých bozích toho vím málo,“ řekl, ve snaze být na ni milý. „Možná bys mne měla jednoho dne trochu poučit. Snad bych tě dokonce mohl do božího háje doprovodit.“

 <BR><BR>

Chcete-li, aby Sansa odmítla, otočte na odstavec č.2.
<BR>
Chcete-li aby pokračovali v rozhovoru, otočte na odstavec č.10.


<BR><BR><BR>


7.
<BR><BR>
V soláru bylo horko, oheň vesele praskal, ale Sansa se přesto chvěla. „Ano, ale… co když…“
<BR>
„Co když si lord Nestor cení spíš cti než prospěchu?“ Petyr jí položil paži kolem ramen. „Co když touží po pravdě a po spravedlnosti pro svou zavražděnou paní?“ Usmál se. „Já lorda Nestora znám, drahá. Myslíš si, že bych mu někdy dovolil ublížit své dceři?“
<BR>
Já nejsem tvoje dcera, pomyslela si. Jsem Sansa Stark, dcera lorda Eddarda a lady Catelyn a krev Zimohradu. Nahlas to ale neřekla. Nebýt Petyra Baeliše, byla by to Sansa, kdo by střemhlav letěl chladnou modrou oblohou vstříc své smrti na kamenech o šest stovek stop níž, a ne paní Lysa. Je tak odvážný. Sansa si přála, aby měla jeho odvahu. Sama by si nejraději zalezla do postele, schovala se pod pokrývku a spala a spala. Od Lysiny smrti nespala v kuse jedinou noc. „Nemohl bys říct lordu Nestorovi, že… že mi není dobře nebo…?“
<BR>
„Bude chtít slyšet tvoje vylíčení Lysiny smrti.“
<BR>
„Můj pane, pokud… pokud Marillion řekne, jak to bylo doopravdy…“
<BR>
„Pokud bude lhát, chtěla jsi říct?“
<BR>
„Lhát? Ano… pokud bude lhát, je to jeho příběh proti mému, a lord Nestor se mi podívá do očí a uvidí, jak jsem vystrašená…“
<BR>
„Něco málo strachu bude zcela na místě, Alayne. Máš za sebou strašlivý zážitek. Nestora to dojme.“ Petyr pozoroval její oči, jako by je viděl poprvé v životě. „Máš oči své matky. Upřímné oči, a nevinné. Modré jako sluncem zalité moře. Až budeš starší, mnoho mužů v těch očích utone.“

 <BR><BR>

Chcete-li, aby děj pokračoval stejně jako v knize, přečtěte si znova knihu :-)
<BR>
Chcete-li, aby si Sansa uvědomila některé zjevné skutečnosti, otočte na odstavec č.13.



 <BR><BR><BR>

8.
<BR><BR>
Když se vrátil, bylo všechno jinak. Místo toho, aby  ji povzbudil, musel jí sdělit, že její matka a bratr byli zavražděni. Nenáviděl v tu chvíli svého otce skoro jako tehdy, když mu zničil první manželství. Teď mu zjevně chce definitivně zničit i toto.
<BR>
Když jí řekl o smrti jejího bratra a matky, očekával bolest a hněv, ale Sansina tvář zůstala tak nehybná, až se na okamžik obával, že mu nerozuměla. Ještě dnes ráno ji rozplakal i rozvařený hrášek a nyní jako by slzy neměla. Jako by to byla jeho vina. Ale nebyla! Vzkypěl v něm hněv na všechna příkoří, jichž se mu dostávalo ze všech stran. Svůj díl viny si ponese, ale ne víc než mu náleží!
<BR>
„Přijít o matku je strašné, má paní, ale neméně strašné je nikdy žádnou nemít. Zabil jsem ji svým příchodem na svět, čímž jsem se připravil o jediného člověka, který mne mohl milovat. Je strašné přijít o otce, ale stejně strašné je mít otce, který tě nenávidí, pohrdá tebou a nemá pro tebe jediné vlídné slovo. Je strašné přijít o sourozence, ale stejně strašné je mít za sourozence bestii jako Cersei. Jediný, kdo se ke mně kdy slušně choval, byl bratr, ale ne dost, aby mne chránil před sestrou a otcem. Než jsi o své nejbližší přišla, měla jsi čas poznat jejich lásku a péči. Nic z toho se mi nikdy nedostalo. Přesto já tebe lituji, zatímco ty pro mne nemáš jedinou soucitnou myšlenku, má paní. Nechtěl jsem se s tebou oženit. Měl jsem stejně tak málo na výběr jako ty. Já už jsem ženatý byl! S obyčejnou holkou, která na mne však nehleděla jako na zrůdu. Můj otec ji nechal znásilnit svými vojáky,“ nyní již chraptěl, „a já se musel dívat. A,…“ již nedopověděl a zhroutil se do křesla. Ramena mu počala škubat ve strašném němém pláči, až zalapal po dechu a škubání přešlo v mírné chvění, zato po tváři, kterou pozvedl se mu tiše stékaly slzy. Jeho oči se střetly se Sansinými, které teď byly také plné slz. Svezl se jí k nohám a opřel se o její křeslo. Pak se natáhl po její ruce, kterou se držela opěradla. Nejprve myslel, že ucukne, ale neudělala to. Namísto toho propukla v normální pláč nešťastné duše, které potřebuje slzami vyplavit bolest, která ji svírá. Hlasitý vzlykot se později zklidnil v tichý pláč, kdy slzy tečou jako listopadový déšť. V místnosti se již setmělo, ale Tyrion stále ještě klečel u nohou své ženy a soucitně svíral její dlaň.
<BR>
„Sanso,“ oslovil ji konečně. Otočila k němu tvář s opuchlýma očima. „Má paní,“ začal znova, „když už musíme být manželé, buďme tedy spojenci. A já udělám vše, abych Tě dostal zpět na Zimohrad. Přísahám.“  V duchu pak dodal a Lannister vždy splácí svůj dluh! Ale nahlas to nevyslovil, protože nechtěl připomínat zrovna nyní svůj rod. „Dostanu tě na Zimohrad,“ opravil se. Její dlaň v jeho sebou cukla a pak stiskla jeho prsty.

 <BR><BR><BR>





9.
<BR><BR>
„Tvoje matka byla urozená dáma z Braavosu, dcera kupeckého prince. Poznali jsme se ve Městě racků, kde jsem měl na starosti přístav. Zemřela, když tě přiváděla na svět, a těsně před smrtí tě svěřila církvi. Mám nějaké zbožné knihy, do kterých můžeš nahlédnout. Nauč se z nich citovat. Nic neodradí nechtěné otázky tak jako tok náboženských žvástů. V každém případě ses v den svého prvního krvácení rozhodla, že si nepřeješ stát se septou, a napsala jsi mi. Tehdy jsem se poprvé dozvěděl o tvé existenci.“ Pohladil si bradku. „Myslíš, že si to dokážeš zapamatovat?“
<BR>
„Doufám, že ano. Bude to jako hrát hru, že?“
<BR>
„A ty máš hry ráda, Alayne?“
<BR>
Věděla, že si to bude vyžadovat nějakou dobu, než si na nové oslovení zvykne. „Hry? Já.., předpokládám, že by to záleželo na…“
<BR>
Než to stačila doříci, objevila se znovu Grisel nesoucí v rukou velký tác. Položila jej na stůl mezi ně. Byly tam jablka, hrušky a granátová jablka, pár žalostné vyhlížejících hroznů a velký krvavý pomeranč. Petyr rozřízl granátové jablko dýkou a nabídl půlku Sanse. „Měla bys zkusit něco pojíst, moje paní.“
<BR>
„Děkuji ti, můj pane.“ Se semínky granátových jablek byla hrozná práce, a tak si Sansa raději vybrala hrušku a ukousla si z ní malé sousto. Byla tak zralá, že jí z ní vytekla šťáva na bradu.
<BR>
Lord Petyr vydloubl semínko hrotem své dýky. „Vím, že určitě velmi postrádáš svého otce. Lord Eddard byl statečný muž, čestný a věrný…, ale zcela beznadějný hráč.“ Přenesl si semínko dýkou k ústům. „V Králově přístavišti jsou dva druhy lidí. Hráči a figurky.“
<BR>
„Já jsem taky byla figurka?“ Obávala se odpovědi.
<BR>
„Ano, ale s tím si nedělej starosti. Stále jsi napůl dítě. Každý muž začíná jako figurka a každá dívka taky. Dokonce i ti, kteří sami sebe považují za hráče.“ Snědl další semínko. „Tak například Cersei. Považuje se za vychytralou, ale ve skutečnosti je naprosto předvídatelná. Její síla spočívá v kráse, původu a bohatství. Jen to první je skutečně její, a i to ji brzy opustí. Bude mi jí pak líto. Touží po moci, ale nemá ponětí, jak s ní nakládat, jakmile ji získá. Každý něco chce, Alayne. A když víš, co člověk chce, víš, jaký je a jak s ním pohybovat.“

 <BR><BR>

Otočte na odstavec č.15.



 <BR><BR><BR>




10.
<BR><BR>
„Ale můj pane, já se jen modlím za svou rodinu, aby je bohové ochránili před vším zlým.“
<BR>
„Koukám, že to zabírá. Nechceš se chvíli modlit i za mou rodinu? Tatíčka by popravili, Cersei zmizela pes ví kde a Joffa by stáhli z kůže…dost by se mi ulevilo.“
<BR>
„Můj pane, jak jen…jak…můžeš…něco takového…,“ blekotala Sansa.
<BR>
„Říct o své drahé rodině?“ jeho sarkasticky zkřivené rty zacukaly a nabyly trpkého úsměvu. „Vím, že ty bys něco takového říct nemohla. Vyrůstala jsi v poklidné milující rodině a jediného příkoří se ti pravděpodobně dostalo od rozdováděných sourozenců. Já na druhou stranu mohu být rád, že jsem dětství s Cersei vůbec přežil.“ Pochmurně hleděl do desky stolu, jako by skrze ni viděl do minulosti.
<BR>
„Pane?“
<BR>
„Má nevinná Sanso, snad i přes svou dětskou nevinnost sis musela všimnout její bezohlednosti a krutosti.“
<BR>
„Já,…“ hlesla.
<BR>
„Já vím. Viděl jsem i slyšel. Ona i její mazánek Joff.“
<BR>
Oba vzdechli. Sansa plačtivě a Tyrion ustaraně.
<BR>
„Budou to pro Západozemí těžké časy se zkaženým spratkem na trůně. Ale pokud mi dovolíš, má paní, mohu tě před nimi chránit. Před oběmi. Neplač, má paní,“ starostlivě se na ni zadíval. Chtěl ještě něco dodat, ale řekl jen, „Můj nemilovaný otec si pro mne poslal, tak si jdu poslechnout, co mi chce vyčítat dnes.“
<BR><BR>


Otočte na odstavec č.8.

 <BR><BR><BR>



11.
<BR><BR>
„Ochraňovat?“ špitla.
<BR>
Viděla, jak se v jeho obličeji odehrávají protichůdné emoce a každá chce zbrkle vyřknout slova, která nepůjdou vzít zpět. Nakonec jeho tvář nabyla dokonale bezvýrazné vážnosti a jeho rty zachraplaly „Ano, ochraňovat.“
<BR>
Sansiny myšlenky pádily po neprobádaných cestičkách. Sandor Clegane je rozhodně schopnější než ser Dontos. S Ohařovou pomocí by se mohla dostat na Zimohrad dřív a bezpečněji. Avšak stejnou měrou jí lomcovala hrůza z jeho nepředvídatelné surové povahy.
<BR>
„Posbírej si věci. Tady rozhodně není bezpečno. Pro oba!“ zvedl se z její postele. „A lepší příležitost nebude.“
<BR>
Vyděšeně vyskočila a učinila několik zmatených pohybů nevěda, co vlastně si má vzít.
<BR>
„Nenápadné šaty a nápadné šperky,“ napověděl jí Ohař.
<BR>
Hrábla do šperkovnice, ve které měla jen pár kousků a s hrstičkou ozdob se tázavě podívala na něj.
<BR>
„V ruce to neponeseš. Dej je do nějakého měšce a jestli máš pár mincí, přihoď je. Určitě se budou později hodit.“
<BR>
Rychle sbalila i své obnošené domácí šaty a vytáhla z truhly cestovní plášť, který přes sebe přehodila.
<BR>
„Je příliš nápadný,“ zavrčel, „Ale není čas, pak ti seženu jiný.“ Přitáhl ji k sobě za paži a zahleděl se do jejích vyděšených očí, které k němu vzhlížely.
<BR>
„Pro nikoho jiného…nikoho… Ale jestli má tohle být jediná dobrá věc, kterou udělám… Pojď ptáčku.“

 <BR><BR>

Sandor Clegane vyvedl Sansu z hradu i z Králova Přístaviště.
<BR><BR>


Pro pokračování otočte na odstavec č.14.


<BR><BR><BR>


12.

 <BR><BR>

„Každý něco chce, Alayne. A když víš, co člověk chce, víš, jaký je a jak s ním pohybovat.“
<BR>
Toto bude její první lekce, pomyslela si. Marillion je opilý a chce ji. Stačí s ním jen pohnout tak, jak ona sama potřebuje.
<BR>
„Marillione, velmi riskuješ. Otci na mně záleží.“
<BR>
„Komu záleží na nemanželských dcerách,“ mávl zpěvák rukou.
<BR>
„Těm, co ji představí své snoubence před svatbou.“
<BR>
Marillion se zarazil. Velmi dobře znal povahu své extrémně žárlivé paní a samotného jej zarazilo, že neztropila pořádnou scénu, když jí její vyvolený v den svatby představil nevlastní dceru, o jejíž existenci neměla tušení.
<BR>
„Mám z lady Lysy trochu obavy,“nadnesla, „bojím se, že jí nevlastní dcera bude na obtíž.“
<BR>
Zpěvák nemohl než souhlasit. Lysa byla nesnášenlivá vůči všem ženám mezi deseti až šedesáti lety. Nemilosrdně se zbavovala všech dívek, o něž projevil mužský zájem.
<BR>
„Máš pravdu, Alayne,“ pohladil ji koleno, „zvlášť když jsou krásné aspoň z poloviny jako ty.“
<BR>
„Bojím se odjet na Orlí Hnízdo,“ vzdychla a upřela na něj žalostný pohled.
<BR>
Viděla, že zpěvák se tváří docela vážně a proto kula železo, než vychladne.
<BR>
„Raději bych se vrátila k matce,“ zaváhala, a pak zariskovala, „na Žaludohrad“.
<BR>
„Ty jsi ze Žaludohradu?“
<BR>
Nevypadal, že by pojal podezření, a tak rychle kývla, „Ano, jsem nemanželská dcera lady Carellen,“ a doufala, že si pamatuje dobře jméno matčiny přítelkyně z mládí.
<BR>
„Jejímu choti snad nepřekážíš?“ zarazil se Marillion.
<BR>
„Věděl, že je matka těhotná, už když si ji bral. Pochází z vlivného rodu, který si mohl dovolit zaplatit vysoké věno. Ser z Malolesa akceptoval levobočka, pokud bude vyňat z dědictví. Ale jinak na mne byl vždycky docela vlídný.“ Nevěděla, jestli má hovořit dál, aby vypadala věrohodně nebo to už moc nerozvíjet, protože netušila, kolik toho zpěvák může o rodu z Malolesa vědět a ona si nemohla vybavit jméno skutečné dcery lady Carellen, která jí měla být nevlastní sestrou. Až nyní jí došlo, že mladý lord Baeliš zřejmě neměl moc možností se seznámit s dívkou z Dornských blat, která měla, podle jejího vyprávění, na Žaludohrad již přijít těhotná.
<BR>
Ve zpěvákově podnapilém mozku se však nerozbřesklo, protože jeho myšlenky se těžkopádně vydávaly jinou stezičkou ke slávě, kde si bezvýznamný šumař bral za ženu dceru nového pána Údolí.
<BR>
„Kdybys mohl opatřit koně, jistě bychom na mnoho překážek nenarazili,“ doléhal k němu sladký hlas splývající z těch hedvábných rtů, které ho vábily k sobě.

 <BR><BR>

Otočte na odstavec č.5.

 <BR><BR><BR>



13.
<BR><BR>
On chce mne. Nemohl mít mou matku, tak chce mne – uvědomila si Sansa.
<BR><BR>
Miloval moji matku a…
<BR>
A ji? Jak by o tom mohla pochybovat? Zachránil ji.
<BR>
Zachránil Alayne, svoji dceru, zašeptal hlásek v jejím nitru. Jenže byla taky Sansa… a někdy se jí zdálo, že lord protektor je také dvěma lidmi najednou. Byl to Petyr, její ochránce, srdečný, zábavný a laskavý… ale byl to také Malíček, pán, kterého znala v Králově přístavišti, lstivě se usmívající a hladící si svůj vous, zatímco šeptal královně Cersei do ucha. A Malíček nikdy nebyl její přítel. Když ji Joff nechal zbít, Skřet ji bránil, ale Malíček ne. Když ji dav chtěl znásilnit, odnesl ji do bezpečí Ohař, ne Malíček. Když ji Lannisterové provdali proti její vůli za Tyriona, poskytl jí útěchu ser Garlan Galantní, ne Malíček. Malíček pro ni nikdy nezvedl ani malíček.
<BR>
„Každý něco chce, Alayne. A když víš, co člověk chce, víš, jaký je a jak s ním pohybovat.“
<BR>
Zaslouží si, aby mu oplatila jeho vlastní mincí.


<BR><BR>


Otočte na odstavec č.3.



 <BR><BR><BR>



14.
<BR><BR>
Sandor nebyl zrovna dokonalý společník a průvodce mladé dámy a Sansa kolikrát pomýšlela na septu Mordene, jak by asi pokrčila nos a nesouhlasně trhla hlavou. Avšak septa je mrtvá a stejně tak mohla snadno v Králově Přístavišti zemřít nepohodlná mladá šlechtična. Aspoň tolik už pochopila. Silnice nebyly bezpečné jako cestou sem, ale s obávaným rytířem měla snad šanci. Vše nasvědčovalo tomu, že je nebezpečný všem vyjma jí samotné.
<BR>
Dnes zastavili na vyvýšeném pahorku v krajině. Všude kolem byly rozvaliny.
<BR>
„Tady stávala tvrz?“ nesměle se otázala a prolomila tak několikahodinové ticho.
<BR>
Vysoký rytíř, který v prodlužujících se stínech působil ještě strašidelnějším dojmem až doteď postával u koní a pozorně sledoval krajinu v pátrání po objevivším se ohýnku, prozrazujícím lidskou přítomnost.
<BR>
„Malá a špatně chráněná“, odpověděl zachřáplým hlasem.
<BR>
Jen stěží se ovládla, jak na ni jako vždy zapůsobil ten upřený pohled zdivočelého psa. Věděla však dobře, že dávat najevo strach ho provokuje a mimovolně si vzpomněla na otcova slova „Nikdy se nestav do role kořisti, protože pak na tebe zaútočí i ten nejmírnější pes“. Honem se tedy snažila najít něco společensky banálního, na co by se zeptala a dodala tak situaci normality.
<BR>
„Tudy vede obchodní cesta mířící na Zimohrad?“
<BR>
Chvíli mlčel, ale divoký výraz pominul. Pak vyrovnaným hlasem řekl „Ano, tudy taky, ale než vyrazíme na Zimohrad,“ mírně natočil obličej na půlnoční stranu, „zastavíme ze v Řekotočí.“
<BR>
„Proč,“ nakousla otázku, ale okamžitě se jí rozběhly myšlenky jak veverky a uvědomila si, že Řekotočí  je vlastně lepší cíl a taky mnohem blíž. Přinejmenším se tam setká s částí své rodiny a ve velkém vodním hradu může klidně vyčkat, než si ji vyzvednou a nebo jí dají patřičný doprovod na cestu na Zimohrad. Řekotočí to už je skoro domov.
<BR>
„Ano do Řekotočí,“ vyslovila o dva až tři tóny veseleji než posledních několik měsíců. Usmála se na Sandora, který rozpačitě uhnul očima a odvrátil se.
<BR>
„Jak je to ještě daleko?“
<BR>
„Až mineme Šerodol, tak se rozhodnu, z které strany objedeme Harenov.“

 <BR><BR>

Otočte na odstavec č.4.


<BR><BR><BR>


15.
<BR><BR>
„Alayne.“ Stál nad ní zpěvák její tety. „Drahá Alayne. Já jsem Marillion. Viděl jsem, jak jsi přišla z deště. Noc je chladná a mokrá. Dovol mi zahřát tě.“
<BR>
Starý pes zvedl hlavu a zavrčel, ale zpěvák ho pleskl po hlavě a poslal ho s kňučením pryč.
<BR>
„Marillion?“ hlesla nejistě. „Jsi… jsi laskavý, že na mne myslíš, ale… odpusť mi, prosím. Jsem velice unavená.“
<BR>
„A velice krásná. Celý večer jsem pro tebe v duchu skládal písně. Báseň pro tvoje oči, baladu pro tvoje rty, duet pro tvá ňadra. Nebudu je však zpívat. Byly to ubohé věci, nehodné takové krásy.“ Posadil se k ní na postel a položil jí ruku na nohu. „Dovol mi zpívat pro tebe raději svým tělem.“
<BR>
Ucítila závan jeho dechu. „Jsi opilý.“
<BR>
„Já se nikdy neopiju. Medovina mne jen rozveselí. Jsem celý rozpálený.“ Vyjel rukou na její stehno. „A ty taky.“
<BR>
„Dej tu ruku pryč. Zapomínáš na dobré vychování.“
<BR><BR>




Chcete-li, aby Sansa zpěváka vyhnala, otočte na odstavec č.7.
<BR>
Chcete-li aby pokračovali v rozhovoru, otočte na odstavec č.12.


<BR><BR><BR>


16.
<BR><BR>
Nebylo to o Florianovi a Jonquil, ale přesto to byla píseň. Její vlastní hlas jí zněl v uších slabě, tence a rozechvěle.

 <BR><BR>

Laskavá matko, nádobo milosrdenství,
<BR>
před válkou ochraňuj naše syny,
<BR>
zachovej jejich meče a zachovej jejich šípy,
<BR>
dopřej jim poznat lepší dny.
<BR>
Laskavá matko, sílo ženy,
<BR>
proveď tímto trápením naše dcery,
<BR>
uklidni hněv a zkroť zuřivost, a své laskavosti nauč nás všechny.
<BR><BR>
Další sloky zapomněla. Když její hlas odezněl, měla strach, že ji Ohař zabije, ale on po chvíli sundal dýku z jejího hrdla a neřekl ani slovo.
<BR>
Nějaký instinkt ji přiměl zvednout ruku a položit mu prsty na tvář. Místnost byla příliš temná, než aby ho viděla, ale cítila lepkavost jeho krve a vlhkost, která krví nebyla. „Ptáčku,“ řekl znovu, hlasem syrovým a drsným jako skřípot oceli o kámen. Pak vstal z její postele. Sansa slyšela trhání látky, následované tišším zvukem vzdalujících se kroků.
<BR><BR>


Ohař zmizel z Králova Přístaviště a Sansa byla provdána za Tyriona.

 <BR><BR>
Otočte na odstavec č.6.


<BR><BR><BR>


17.
<BR><BR>
Vstupovala do měsíční cely s pocitem, že má žaludek plný motýlů. Od pádu Lysy se k žádné ani nepřiblížila. Tentokrát však Malíček trval na tom, aby byla přítomna, protože to pro ni bude jistě velmi poučné. Sebrala proto všechnu odvahu a následovala lorda Baeliše. Imitace chladné vznešenosti Catelyn jí v tom byla velmi nápomocná. Zastavila se krok nalevo za ním, aby byla od propasti, co nejdál, sepjala volně svěšené ruce před sebou, narovnala ramena a nasadila si matčin netečně noblesní pohled. Zpozorovala, že Bronzový Yohn při pohledu na ni zapomněl, co chtěl právě Malíčkovi říct na uvítanou. Byla v ní malá dušička, poněvadž tušila, že se mu do mysli vkrádá poznání, ale nemohla s tím nic dělat. Na druhou stranu ser Královec byl přikován levou rukou ke skále a nebylo pravděpodobné, že by se ještě kdy o svůj objev s někým podělil.
<BR>
Jak se vlastně do tohoto ponižujícího postavení Bronzový Yohn dostal, byl příběh zrady a Malíčkovy lstivosti, ve kterém asistoval Lyn Koroříčský, příliš hloupý a ser Nestor, příliš naivní na to, aby jim došlo, že je lord protektor pouze využívá pro vlastní cíle.
<BR>
Nyní zde Bronzový Yohn klečel v měsíční cele přikován, zatímco Petyr Baeliš držel v hrsti panství Arrynů. Pokořen, avšak nezlomen, jak dokázal hned první větou.
<BR>
„Copak ještě potřebuješ k ovládnutí Údolí, že se obtěžuješ za svým vězněm?“
<BR>
„Kdybys jen nebyl tak vzpurný Yohne, mohli jsme se dávno dohodnout a oba bychom z toho měli prospěch. Pohlédni na sera Nestora, jaké mu jeho loajalita přináší výhody,“ začal Malíček svým nasládlým hlasem.
<BR>
„Nestor je zaslepený ve své samolibosti,“ odfrknul si Yohn. „Nevidí, že se bez milosti zbavíš každého, kdo ti nejde na ruku.“
<BR>
„Jak tohle můžeš říct, Yohne,“ s předstíraným pohoršením zvolal Malíček. „Osočováním ještě nikdo nic nezískal.“
<BR>
„Zapomínáš, že jsem byl v Králově Přístavišti během Starkovy popravy. Šel jsem tehdy apelovat na Joffreyho svědomí, ale mluvil zrovna s tebou. Lorda Eddarda popravil na tvé doporučení.“
<BR>
Než stačil Malíček zpochybnit Yohnova slova, Sansa napřáhla ruce a vší silou strčila do toho parchanta, který tak bezohledně šplhal po mrtvolách na vrchol. A Malíček letěl. Sansa Stark ho však neviděla, protože se dívala do výmluvných očí Bronzového Yohna.
<BR>
„Má paní,“ uctivě pokývl hlavou.


</p>
{% endblock %}
