{% extends "post.html" %}

{% set title = 'Historická povídka č. 9 (5. kolo)' %}

{% block content %}
<br><b>Autor: Seans</b><br>

<p>
Tato povídka nemá sloužit jako nějaké zmapování skutečných událostí v Písni, ve skutečnosti je to celkem solidní brak, ale autorka si psala pro zábavu a pro radost, tak jí to odpusťte.

 <BR>

DŮLEŽITÉ ROZHODNUTÍ MARGARET TYRELLOVÉ


<BR><BR>
Konečně zazvonilo. Rychle jsem naházela svoje poznámky do tašky a hrnula se pryč ze třídy. Chemie byla jedna z mých nejmíň oblíbených předmětů. Doufala jsem, že dračí sklo by mohlo být zajímavé, ale náš mistr Celestýn dokázal každou látku podat tak nezáživně! A chemie v pátek odpoledne, to bylo vyložené utrpení.
<BR>
U skříněk jsem se vypravila docela rychle, abych mohla jít rovnou domů a nemusela tu vykecávat se svými spolužáky. Samozřejmě, spolužáky si člověk nevybere, ale kvůli naší společnosti a zákonům jsem chodila do třídy se samými Starky, Baratheony, Martelly a ostatními příslušníky ostatních rodů. U tohoto bych se ráda zastavila.
<BR>
Sedm království je hrozně nespravedlivá země. Abyste získali dobrou práci, musíte být šlechtic. Abyste něco prokázali třeba ve vědě nebo umění, museli jste být šlechtic. Aby se vás prostě někdo všiml, museli jste být šlechtic.
<BR>
Já jsem k té „hrstce vyvolených“ bohužel patřila, takže jsem měla pravomoc chodit do áčka, účastnit se různých přednášek a vystoupení jenom pro vyšší společnost, ale doopravdy se na mě lidi z jiných tříd dívali dost škaredě, protože si o mě mysleli to stejné jako o všem ostatních – náfuka, která si žádné pravomoci nezaslouží.
<BR>
Někdy jsem docela litovala, že mi nevidí do hlavy, protože zasadit se o spravedlivou společnost, to byl můj největší životní cíl. Už mi bylo špatně z toho škatulkování ty jsi lepší, ty jsi horší, všichni by měli mít stejná práva. A vzhledem k tomu, že jsem se narodila Tyrellovi, nemuselo ba to být zas tak nereálné. Samozřejmě, budu si muset vzít někoho ze stejně významného rodu, nejlépe někoho, kdo smýšlí podobně, ale otec má styky, takže to by nemusel být zas takový problém.
<BR>
Píšu si s holkou z Meereenu. Jmenuje se Enya a je dcerou nějakého dost bohatého obchodníka, myslím, že s hedvábím, nebo prostě s nějakými látkami. Je asi o pět let starší než já a v posledním dopise mi psala, že se vdala. Její nový manžel je nějaký obyčejný skladník pracující u jeho otce. Věděla jsem, že spolu chodí, ale nikdy by mě nenapadlo, že si ho opravdu vezme. Musela jsem si to číst několikrát, abych tomu vůbec uvěřila. No a na takovou úroveň bych chtěla naši zemi posunout, aby si dcera ministra mohla vzít třeba bezdomovce a nikdo by se na ně nedíval jako na vetřelce z kosmu.
<BR>
U skříněk jsem se přezula, popadla svetr a šla pryč. Na konci řady mě ještě zastavil René Baratheon, nagelovaný a v nové zelené bundičce. Kdysi se mi líbil a dokonce byla našimi rodiči dohodnutá nějaký sňatek, ale nějak z toho sešlo.
<BR>
„Nevíš co máme do braavoštiny?“ zeptal se mě, protože jsme spolu na tento předmět seděli.
<BR>
„Proč se nezeptáš Rolase?“ popichovala jsem ho, protože jsem věděla o velmi, ehm, blízkém vztahu Reného a mého bratra.
<BR>
„Vole asi protože je v horší skupině. No tak, Meg, řekni, já musím jít.“ Ještě jsem ho chtěla vyplísnit za to, že mě oslovuje vole, ale vypadal hrozně nervózně, a tak jsem mu sdělila, že máme dělat projekt na téma Můj historický hrdina. Kývnutím hlavy poděkoval, popadl batoh a rychle kráčel pryč.
<BR>
Já jsem ho taky svižnou chůzí následovala. Ve dveřích od šatny jsem se ještě srazila s Randou a Dalilou. „V obvyklý čas na obvyklém místě,“ připomenula mi Randa, milovnice kriminálních a detektivních filmů, ze kterých často používala takové fráze.
<BR>
Kývla jsem, že rozumím a vyřítila jsem se ven. Tam už se všichni moji spolužáci rozcházeli domů. Robbie, John, Ariel a celý Starkovic klan mířil na sever, teda kromě Sandry zavěšené do Geoffreyho a mířící někam na procházku. Dolores s Ariadnou, obě výstřih až do pasu a kraťoučké průhledné šatičky pyšně mířící s Dolores domů a na lavičce sedící parta Gordon, Lancelot, Quido a podobné třídy.
<BR>
„Hej, Tyrellová, nemáš dneska čas?“ křikl na mě Lancelot, v sebeklamu, že je strašlivě hustý.
<BR>
„Ne, nemám, ale Sisi by mohla mít. Když je teď Jamie pryč, možná by tě i brala,“ odbyla jsem ho, abych měla pokoj. „Já jsem počestná panna, hledej si oběti jinde,“ doporučila jsem mu ještě, abych se ho úplně zbavila. Poslední věta nebyla tak úplně pravdivá, s pár chlapy jsem už byla, ale Lancelot ani otec o tom nemusí nic vědět.
<BR>
Když jsem se vrátila domů, radši jsem se hned pustila do projektu do braavoštiny. Náš učitel, Lotho Lornel, mi byl úplně ukradený, šprechtila jsem dobře a jestli dostanu dvojku nebo trojku, to mi bylo jedno. Na známce se stejně podílely i jiné faktory, než jenom, jak jste se učili. A dceru Tyrella by nenechali propadnout ani ve snu. A jsme zase u toho – ta šílená nespravedlnost, se kterou se musí prostě něco udělat.
<BR>
Rychle jsem napsala nadpis Daeron II. Targaryen (nechtělo se mi vymýšlet něco extra a na Daeronovi se mi líbilo, jakou nenásilnou cestou udělal tak velkou změnu), naškrtala něco o jeho životě a o sňatku s Myriah, jednou si to po sobě přečetla a rychle to odhodila pryč, protože od školních věcí jsem po celý víkend chtěla dát ruce pryč.
<BR>
Když jsem se podívala na hodiny, zjistila jsem, že u naprosto hrozně vypadajícího projektu jsem strávila víc času, než jsem myslela a že už je pomalu čas se vypravovat na večer s holkama.
<BR>
Dalila a Miranda byly moje nejlepší kamarádky. Bavila jsem se ještě se Sandrou (ale to spíš, když jsem něco potřebovala), občas s Valburgou (která mě ale nehorázně štvala svým přístupem k jakkoli nemocným lidem) a opravdu velmi příležitostně s Dolores a Ariadnou.
<BR>
Dalila byla Valburžina ošklivější, rozumnější a starší sestra a pocházela z rodu Gwylltů (to znamená Divocí v qohorštině, aby to neznělo tak barbarsky), který byl asi před sto lety povýšen na jeden z hlavních rodů, protože se jich „staré dobré západozemské“ rody prostě bály. I tak se ale na Gwylltovy holky dívalo trošku skrz prsty a i kdyby se Dalila rozkrájela, nedostávala by třeba ze zeměpisu dobré známky. Na rozdíl ode mě, kterou to moc nebavilo a prospívala jsem výborně.
<BR>
No a Randa Royceová, upovídaná, věčně drážkující Randa, tu jste ani nemohli nemít neradi. Ze začátku to byla jedna ruka se Sandrou, ale potom jsme ji s Dalilou zlanařily k sobě. Byla prostě skvělá a ze všeho si dokázala udělat srandu (kvůli čemu jsem částečně přežívala dramatické hodiny občanské nauky). A Randa nás naučila chodit do kavárny k Srdcožroutovi, kde jsme byly v pátek večer pečené vařené.
<BR>
Hodila jsem na sebe svoje nové květované šaty (květinové motivy se mi hrozně líbily, takže to nebyla žádná změna, ale těmhle růžovým tunikovitým jsem v obchodě prostě nemohla odolat), dala přes ně černý tenký pásek, natáhla si vínové silonky, naházela pár nezbytností do kabelky, popadla svetr a sešla dolů do obýváku.
<BR>
Tam jsem zjistila, že zase tak málo času nemám, a tak jsem si ještě z mísy vytáhlo jablko, sesunula se do křesla, abych si to v klidu snědla (z nějakého důvodu mi hrozně vadilo jíst ve spěchu venku za chůze).
<BR>
Když jsem dokousávala ohryzek, vynořil se ze dveří můj bratr William. Ne že bych neměla ráda vlezle gentlemanského Gabriela nebo buzerantského Rolase, ale Bill byl z mých bratrů prostě nejlepší. Taky jsem s ním a babičkou tvořily jakýsi revoluční klub a vedli spolu dlouhosáhlé debaty o politice a zaostalé situaci v naší zemi. Ale protože babička už byla stará a William nemohl chodit, což v téhle „pokrokové“ zemi hrozně vadilo, já jsem měla jít do politiky a změnit, co se dalo.
<BR>
„Ahoj Meg,“ pozdravil mě vesele. Já jsem mu jenom mávla, protože jsem měla pusu plnou jablka.
<BR>
„Kam se chystáš, vypadáš…“ Chvíli hledal ta správná slova, pro to, jak zrovna vypadám. „Vypadáš jako normálně, takže skvěle.“
<BR>
„Dík. Tobě by taky prospělo jednou vylízt ven a vypadat skvěle. Ty totiž normálně, v tomhle starým vytahaným tričku, moc skvěle nevypadáš,“ oplatila jsem mu nařčení mého nového modelu normálním.
<BR>
„Já? Kde žiješ?“
<BR>
„V Králově přístavišti.“ Zvedla jsem se a přešla k němu. „Bille, nesmíš se tu pořád zavírat, vždyť tady shniješ zaživa. Pojď se mnou do Srdožrouta,“ přemlouvala jsem ho.
<BR>
„Meg, zaprvé – asi těžko s tebou půjdu a zadruhé – nemám zrovna potřebu se bavit o lacích na nehty, růžových sukýnkách a fobii z pavouků,“ odpověděl mi, už ne tak vesele. Nesnášel, když jsem se před ním jakkoli zmiňovala o chození a o tom, že by nebylo od věci vést normální život a ne se tu pořád zavírat.
<BR>
„Ty by ses radši bavil s Ariadnou o hlubokých výstřizích, svádění a sexu?“ popíchla jsem ho. Do milé Ariadny byl pěkně zamilovaný a možná, že ještě pořád je. Já jsem to teda nikdy nepochopila, ale muži to prostě viděli jinak, hlavně když si ta čůza na sebe dala svoje průhledné šatičky s výstřihem do pasu.
<BR>
„Seš blbá, fakt. Radši už běž, holky budou čekat,“ pobídl mě mrzutě.
<BR>
„Ale příště se zúčastníš našeho sedánku s náma a budem se bavit o strašně dospělých a rozumných tématech, jo?“ snažila jsem se s ním usmlouvat aspoň kompromis.
<BR>
„Dobře, příště se zúčastním. Víš, že tobě se prostě nedá odolat, Meg.“
<BR>
Usmála jsem se, sklonila se k němu, dala mu pusu na tvář a pomalu vyrazila. Srdcožrout ležel na odlehlé straně Visenyina kopce a my jsme bydleli v Bleším zadku, nejluxusnější čtvrti ve městě, takže jsem to měla docela daleko. Cestovat hromadnou dopravou mi ale nějak nevadilo a navíc jsem musela prostě někomu předvést svoje nové šaty. Poslední dobou jsem si začínala všímat, že muži se po mně docela otáčí a to jsem dokonce nenosila ani nějaké ďábelské výstřihy.
<BR>
Z pětky, na kterou jsem musela dost neelegantně a nepřitažlivě, dobíhat, jsem na Velké Aegonovy revoluce přestoupila na dvacet sedmičku, kde jsem si dokonce sedla. U Velkého septa jsem zjistila, že mám ještě poměrně dost času, a tak jsem vystoupila o zastávku dřív, že to dojdu pěšky.
<BR>
Kráčela jsem tam, ani ne vylidněná, ani ne přecpaná ulice, jarní večer, svěží vánek, šlo se mi nádherně. Takhle bych se mohla procházet roky a stejně by mě to nepřestalo bavit.
<BR>
Najednou jsem sebou ale trhla. Zaslechla jsem jméno Tyrell. Prudce jsem sebou trhla, protože jsem na nějaké pořvávání na ulici nebyla zvyklá, navíc nejsem Tyrell, ale Tyrellová.
<BR>
Rozhlédla jsem se okolo, pořvávání slova Tyrell přicházelo z levé strany, asi někde u knihkupectví nebo magistrátu. Zamířila jsem tím směrem, abych zjistila, co se tam děje.
<BR>
U magistrátu stál nějaký kluk, asi tak stejně starý jako já, možná o trošku starší a pořvával do zvonku: „Tyrell. Tyrell. Já jsem Gabriel Tyrell, pusťte mě dovnitř!“
<BR>
Ať to byl kdokoli, můj bratr Gabriel byl asi tak o deset let starší, urostlejší, měl vousy, ženu a vůbec se nenacházel v Králově přístavišti, ale ve Vysoké zahradě, starém sídle Tyrellů, které momentálně bylo absolutně bezvýznamné.
<BR>
Tento hošan rozhodně neměl právo se tady vydávat za Gábora. Asi je to nějaký chudák, který potřebuje něco zjistit a mají to jenom v omezeném oddělení, do kterého se dostanete pouze se šlechtickou kartičkou. Šlechtická kartička byla taková průkazka, jakože jste něco víc a přinášela spoustu slev a řadu různých výhod. Jako třeba tady, na magistrátu, se šlechtickou kartičkou jste se dostali prakticky k čemukoli. Já jsem se snažila ji nevyužívat, ale někdy, když už mi třeba docházely peníze, anebo jsem si zapomněla cvaknout lístek, mi přišla vhod.
<BR>
Tenhle kluk ji ale stoprocentně neměl, takže mohl na nějaké omezené oddělení zapomenout. A stejně to vypadalo, že nefungují zvonky, takže má asi smůlu.
<BR>
Stála jsem tam tedy tak opodál a pozorovala jeho počínání. Chvíli tam ještě tak stepoval na místě, ale najednou se otevřely dveře, vykoukl nějaký postarší pán a řekl: „Omlouváme
<BR>
se, blbnou nám zvonky. Můžu prosím vaši kartičku, pane Tyrelli?“
<BR>
Kluk sáhl do bundy a vytáhl odtud odrbanou zelenou peněženku, ve které chvíli něco lovil a pak se vytasil s šlechtickou kartičkou. Gáborovou šlechtickou kartičkou!
<BR>
Vrátný potom jenom kývl a pustil ho dovnitř.¨
<BR>
Tohle mi připadalo divné. Co tady dělá nějaký puberťák, který se potřebuje dostat do omezeného oddělení beztak jenom kvůli nějakému blbému vtipu, který hodlá provést spolužákovi?
<BR>
Každopádně, o tomto individuu jsem chtěla zjistit něco víc. A nemusela jsem se ničeho bát – já byla na rozdíl od něho pravý Tyrell. Rychle jsem napsala Dalile, že přijdu později a vyrazila jsem k magistrátu.
<BR>
Kvůli rozbitým zvonkům jsem rovnou zaklepala a po chvilce mi otevřel zase ten pan vrátný. „Dobrý,“ pozdravila jsem ho a rovnou ukázala svoji průkazku.
<BR>
„V pořádku, slečno, pojďte dál,“ řekl a vpustil mě. Dokonce si i odpustil takové ty kecy, že jsme s „bratrem“ nemohli jít najednou. Moje růžové šaty asi začínaly fungovat.
<BR>
Prošla jsem ztemnělou chodbou, otevřela dveře od normálního oddělení, kde byly (neznámo proč zrovna na magistrátu) nějaké slovníky, časopisy, historické knihy a kopie spisů nějakých slavných a mrtvých osob. Potom jsem paní luštící sudoku ukázala svoji kartičku a ona mě vpustila i dál.
<BR>
V omezeném oddělení se nesvítilo, a tak jsem blikla vypínačem a uviděla nekonečnou řadu poliček s šanony nadepsanými něčím jménem. Zahlédla jsem tu nějaké Arryny, mimo jiné i svého spolužáka Norberta, dál to přecházelo v Baeliše (musela jsem se otřást při vzpomínce na našeho úchylného učitele ekonomie), Baratheony a Boltony a pokračovalo to dál podle abecedy.
<BR>
Já jsem ale nehledala ničí spis, nýbrž toho kluka. Spěšně jsem prošla všechny regály a zahlédla jsem ho, krčícího se někde u Stokeworthů. Asi nechtěl, aby ho někdo viděl, ale to se mu moc nedařilo, zvlášť, když se všechny úsporné žárovky už pořádně rozsvítily.
<BR>
Chvilku jsem si připadala, jak v nějakém detektivním filmu, třeba Na světle. Byl to Randin oblíbený film, byly jsme na něm v kině snad třikrát. Hrál v něm hlavní roli Ivan Dvojan, asi největší hvězda západozemského filmu.
<BR>
Tady ale bohužel chyběla nějaká atmosféra, protože kluk nebyl ani pěkný jako nějaký sexy špión, ani škaredý jako starý zjizvený vrah. Prostě normální kluk, jenom o trošku vyšší než já, s pár uhry na nose a ještě se dost nápadně schovával za rohem poličky.
<BR>
Musela jsem se tomu trošku pousmát a potom jsem si odkašlala a s odhodláním řekla: „Dobrý večer, já jsem Margaret.“
<BR>
Hoch, který už poznal, že byl odhalen, vylezl, trošku vztyčil hlavu a předstíraně pyšně prohlásil: „Gabriel Tyrell, těší mě, Margaret.“
<BR>
Popošla jsem k němu a podala mu ruku. „Já jsem Margaret Tyrellová, sestra Gabriela Tyrella. Pravého Gabriela Tyrella.“
<BR>
Kluka to očividně dost rozhodilo, zakoulel očima, sklopil hlavu a už neříkal nic. Musela jsem pokračovat já: „Můžeš mi prosím vysvětlit, co tady děláš a proč se přitom vydáváš za mého bratra? A mimochodem, můžu se podívat na tvoji kartičku?“
<BR>
Ten falešný Gábor vytáhl opět svoji, naprosto nearistokratickou, peněženku. Z ní vyhrabal menší modrou kartičku, podobnou té pravé. Byla stejně velká jako ta pravá, jméno na ní bylo správně, v pravém rohu hochova fotka, jenom datum narození moc neodhadli, ale to ti, co to kontrolují, nemůžou vědět.
<BR>
Jediné, co se jim nepovedlo, bylo identifikační číslo, které vždycky začínalo 000, protože tuto kartičku vlastnilo poměrně málo lidí, ale vrátný, ani paní ze sudoku si ničeho nevšimli. Jinak ale kartičku zfalšovali docela dobře, to se muselo nechat.
<BR>
„Něco jsem potřeboval. Nějaký mapy,“ vysoukal ze sebe po chvíli.
<BR>
„Pro mapy na magistrát? Proboha proč? Máme tu pár obchodů, kde prodávají jenom mapy,“ poučila jsem ho o hlavním městě a on na mě zůstal zírat svýma velkýma modrýma očima.
<BR>
„Obchody s mapama? A to je legální, to se může?“
<BR>
„Samozřejmě, to není jako ve středověku, kdy se snažili utajovat mapy před dobyvateli.“
<BR>
„Jistě, jistě,“ přikyvoval hoch, který z toho byl očividně vedle jak ta jedle.
<BR>
Měla bych být sice naštvaná, že někdo zneužívá Gábora, ale tento kluk mě začal zajímat. A přestože bych to měla ohlásit, plivnout mu pod nohy a navždy na něj zapomenout, navrhla jsem mu: „Nechceš si jít někam sednout? Docela ráda bych si poslechla, co tu vůbec pohledáváš. A pak bychom mohli jít vybrat nějakou tu mapu, když po ní tolik toužíš.“
<BR>
On se na mě podíval a očividně si oddechl, že nemám nějaké zlé úmysly a ještě mu nabízím pomoc. „Jistě, půjdu rád,“ souhlasil, a tak jsme společně vyšli, rozloučili se s paní rozčilujcí se nad nějakou špatně umístěnou dvojkou i s panem vrátným a zamířili ke Třem čtverečkům. Sice bych mu ráda ukázala Srdcožrouta, ale tam byly momentálně Randa s Dalilou, takže tam jsem s tímto klukem nemohla. A Tři čtverečky byly docela dobrá hospoda, občas jsme se tam chodili najíst, když mamka nebyla doma.
<BR>
Vešli jsme do lokálu, já jsem pozdravila servírku, kterou jsem od vidění znala, ale můj společník se nezmohl na slovo a nevěřícně koukal po lustrech, stolech, barovému pultu a hlavně televizi, kde zrovna dávali nějaký tenisový zápas.
<BR>
Pobaveně jsem ho zatáhla až dozadu, otočila ho zády k televizi, aby ho to nelákalo, a dala křikla na servírku Filipu. Ta přišla a já si objednala džus a falešný Gábor „korbel piva“. Když zjistil, že žádné korbely tady nevedou, spokojil se s obyčejným půllitrem.
<BR>
„Tak spusť – kdo jsi, co tu děláš a proč máš potřebu se vydávat za Gabriela,“ pobídla jsem ho, aby začal.
<BR>
„Já lhát moc nemusím, takže bych ti asi měl říct pravdu, že?“ zeptal se nejistě. Já jsem se zasmála a přikývla mu, jakože chci slyšet nic než pravdu.
<BR>
„Jmenuju se Tristifer, pocházím z Železných ostrovů. Král Železných ostrovů, Dolaron Greyjoy, je totální blázen a všem namluvil, že dobyjeme celej svět a kdesi cosi, takže ho všichni zvolili a teď jsme prostě v Černovodým zálivu a snažíme se dobýt vaše město, to je všechno.
<BR>
A mě poslali se tady vydávat za nějakýho důležitýho, abych sehnal nějaký mapy, abychom tady o tom měli přehled. Nějací chlapi taky chodí na obchůzky, ale o mně si myslí, že jsem asi chytrej, takže mě poslali na ten váš magistrát, že je to nejdůležitější místo, že tam bude určitě něco, co se nám bude hodit. Já jsem samozřejmě věděl, že se mi to nepovede, takže nejradši bych se do toho ani nepouštěl, ale náš rod teď není ve zrovna nejlepší situaci a já jsem neměl moc na výběr. No a při volbách jsem podporovat Ašu, takže jsem nepohodlnej dvojnásob.
<BR>
No a pak jsi mě našla ty a teď tady sedím a mrvím plány našeho krále, který jsou mi upřímně ukradený, hlavně abysme jeli zpátky domů a byl pokoj. No a to je ve zkratce asi tak všechno,“ dopověděl Tristifer svůj příběh.
<BR>
Teď jsem zase seděla s vykulenýma očima zase já. On mi tady prostě jen tak oznámí, že patří ke klanu šílených mořských dobyvatelů, na které pomalu už nikdo nevěřil (podle legendy zemětřesní ty jejich ostrovy dočista zničilo, a tak si víc na západě museli najít nové) a teď mají zálusk taky na naše město. Skutečnost, že se ještě před pěti minutami vydával za Gabriela, mi přišla tak nedůležitá, asi jako dnešní hodina chemie. A pokud by se mělo něco nahlásit, tak určitě, že městu hrozí nebezpečí v podobě těchto mořských bláznů.
<BR>
Na druhé straně – Tristifer nevypadal jako blázen. Teď v hospodě se zdál mnohem hezčí, než tam v omezeném oddělení, uhry na nose byly docela zanedbatelné a bylo vidět, jak se Tristifer pomalu mění z kluka na muže. A přestože to nebyl typický šampón jako Rolas nebo René, něco se mi na něm neskutečně líbilo.
<BR>
Za chvíli mi Filipa donesla naše objednaná pití. Já jsem se pustila do svého džusu, ale Tristiferovi to jeho pivo nějak nelezlo a jen se závistivě díval na mě.
<BR>
„Nějak ti to neleze, co?“ popíchla jsem ho, abychom se nebavili jenom o apokalypse způsobené šílenými středověkými dobyvateli.
<BR>
„Mě pivo prostě nechutná,“ odpověděl zamračeně.
<BR>
Uchechtla jsem se: „A proč sis ho teda objednával?“
<BR>
„A co jinýho? U nás se v hospodě prostě pije jenom pivo. A opravdu jsem netušil, co to je džus, nebo jaks to říkala,“ odpověděl mi.
<BR>
Takže moje domněnka se mi potvrdila – oni se oblíkají do kůží, zabíjejí pro zábavu, myslí si, že moderní město dobudou meči a kladivy a prostě žijí jako ve středověku. To bylo hodně zajímavé!
<BR>
„Chceš se napít?“ nabídla jsem mu velkoryse svoji poloprázdnou skleničku pomerančového džusu. On horlivě přikývl, vzal si džus ode mě, ochutnal, chvíli přemýšlel a pak řekl: „Chutná to jako Ašajský nektar.“
<BR>
„Co je Ašajský nektar?“ zeptala jsem se zmateně.
<BR>
„Ašajský nektar je podle nějaké staré legendy to nejlahodnější pití na světě. Král Marton, který na svém voru doplul až do Ašaje ho tam objevil a dovezl recept na přípravu až na Železné ostrovy. Ale ten recept se nějakým nedopatřením ztratil, takže nikdo doopravdy neví, co to mělo původně být. No ale používá se to jako přirovnání.“
<BR>
Přikývla jsem, jakože chápu a otázala se ho: „A nechtěl bys svůj vlastní Ašajský nektar?“
<BR>
Když Tristifer mlsně přikývl, objednala jsem u Filipy ještě dva džusy – jeden jablečný a jeden hruškový, aby si toho ochutnal co nejvíc. Když dopil i tyhle dva, vyprosil si ještě rybízový a když i ten asi během minuty vypil, otřel si pusu a prohlásil: „A teď ty mapy.“
<BR>
Milý Tristifer mě dorazil, ani nevěděl proč. Musela jsem ten záchvat smíchu pořádně rozdýchat a on se na mě chudák jenom zmateně díval. „Obchody už mají všechny zavřeno,“ vysvětlila jsem mu, když jsem se už jakš takš uklidnila. „Ale, pokud bys chtěl, mohla bych jít s tebou pro mapy zítra,“ nabídla jsem mu, aniž bych se pořádně rozmýšlela. Pak jsem to ještě zvážila, ale tak špatný nápad to rozhodně nebyl. Z Tristifera se vyklubal docela vtipný a zajímavý člověk a čas strávený s ním mi přišel jako větší zábava, než vysedávat doma s babičkou, otcem a Billem a poslouchat vzdychání z Rolasova pokoje.
<BR>
„Vážně? Hodně podrobný mapy města a okolí?“ ujistil se s úsměvem na tváři.
<BR>
„Jsem si sice vědoma, že pomůžu nepříteli, ale zase musíme brát v úvahu vyspělost naší a vaší civilizace, tak aby to bylo trošku vyrovnané, ne?“ Představa ozbrojených vousatých chlápků ve středověcích pláštících, jak se řítí na město mi přišla stejně spíš vtipná než nebezpečná.
<BR>
„Tak to bys byla hodná, Margaret, kde bychom se potkali?“ zeptal se mě.
<BR>
„Nevím, třeba tady, na tom náměstí v půl desáté, pokud teda trefíš. Kde vůbec budeš spát?“
<BR>
„To je tajný. No nic, tak já půjdu, dobrou noc,“ rozloučil se se mnou. Já jsem ho ještě nasměrovala na záchod, protože vypil skoro čtyři džusy a potom jsem se taky rozloučila a vydala se na zastávku. Když jsem se dívala, kolik je hodin, všimla jsem si zprávy od Randy, prý kde vězím. Usmála jsem se, při vzpomínce na Tristifera schovávajícího se za poličkou na magistrátu a usmyslela si, že si vymyslím nějakou výmluvu. A stejně, kamarádky nejsou všechno, mám snad taky právo se stýkat i s někým jiným.

 <BR><BR>



V noci se mi zdály dva sny. V prvním Greyjoyové dobývali Královo přístaviště, ale Tristifer mě poznal a řekl nějakému vysokému vousáčovi, co mě chtěl zapíchnout, že já jsem prý ta holka, co mu dala mapy a že má ušetřit. On se zasmál, že jsem pěkná husa, ale nechal mě jít.
<BR>
Ten druhý se mi už líbil víc – ocitla jsem se v parlamentu, kde jsem ve svých růžových šatech (ty hrozné stejnokroje, co se tam nosily, jsem zrušila už dávno předtím) přednášela návrh o zrušení zdravotního testu.
<BR>
Zdravotní test byl test, který všichni museli absolvovat každé dva roky. Skládal se ze tří primitivních částí – poznat barvy na obrázků, spočítat pár jednoduchoučkých nadiktovaných příkladů a vyběhnout krátké schody. Bohužel jste museli mít potvrzení, že jste to udělali, na všech pracovních pohovorech, takže Bill takhle mohl na nějaké slušné zaměstnání zapomenout. Občas mu Gábor poslal výdaje z Vysoké zahrady a nechal mu je milostivě sečíst a zapsat, ale to bylo asi tak všechno.
<BR>
No a potom, až přednesu návrh, celý parlament zvedne ruce a odhlasuje to. Zákon byl připravený jenom k formálnímu schválení poradců a ministra. Všichni byli z mých revolucionářských nápadů nadšení a vyčítali si, že je to dřív nenapadlo a otec, který měl až doteď na práci jenom podlézání ministrovi, konečně pochopil, že udělat něco pro Billa nebyl úplně špatný nápad.
<BR>
Byl to opravdu moc moc pěkný sen a moje první myšlenka pro probuzení byla: Vdám se pro peníze a pro vliv a něco udělám!
<BR><BR>
Když jsem se ráno probudila, chtěla jsem se akorát tak převalit na druhý bok a spát dál, ale vzpomněla jsem si, že jsem pozvala Tristifera na nakupování mapy, což mě nějak tak nakoplo a najednou jsem byla čilá jako skřivánek po ránu. Vylezla jsem z postele a rovnou se oblékla do šatů, ve kterých jsem chtěla jít. Už jsem měla ruku na modrých kytičkovaných, ale pak mi přišlo trapné nosit pořád kytky a kytky a kytky, takže jsem radši vytáhla lehoučké zelené až na zem, které taky patřily k mým oblíbeným. Tak nějak rituálně jsem navlékla silonky, popadla svetr a sešla dolů do kuchyně, kde jsem snědla jogurt k snídani a vypila hrnek čaje. Napadlo mě, jestli čaj by Tristifer nazýval taky Ašajským nektarem.
<BR>
Při snídani jsem pořád musela zírat na hodiny, jestli stíhám. Přece jenom na náměstí Eddarda Starka jsem to měla trošku dál a nechtěla jsem ho nechat čekat. Sice jsem nechápala proč, ale nákupy map s úplně neznámým člověkem pro mě byly důležitější, než srovnávací zkoušky, o kterých se teď pořád ve škole mluvilo. Prve jsem chtěla pořád dokazovat, že ta naše aristokratická třída má i něco v hlavě. Teď jsem se ale musela zasmát své hlouposti a přehnané snaživosti a kupě testů nanečisto v mém pokoji.
<BR>
No co, osobní život je taky důležitý.
<BR>
Když jsem už vyhodnotila, že je čas, vyrazila jsem a dopravila se na domluvené místo. Normálně jsem nějaká zpoždění autobusů moc nehrotilo, minuta sem minuta tam, ale teď mi to zase tak jedno nebylo. Nerada jsem si to přiznávala, ale Tristifer se po našem hodinovém setkání dostal minimálně do top desítky mých mužů.
<BR>
Když jsem dorazila na místo setkání, měla jsem asi ještě deset minut, a tak jsem si oddechla. Nesnášela jsem lidi, co chodí pozdě a rozhodně jsem nechtěla být jednou z nich.
<BR>
Ani ne za minutu se zpoza rohu vynořil Tristifer, a tak jsem se usmála a vyšla mu naproti.
<BR>
„Nejdu pozdě? Nesnáším lidi, co chodí pozdě,“ řekl místo pozdravu.
<BR>
„Já taky a tak jsem byla vystresovaná, abych přišla včas. No každopádně jsem tu oba včas. Tak jdeme pro ty mapy?“ zeptala jsem se ho.
<BR>
„Jasně. Ale nemám vaše peníze, protože jsem nevěděl, kde je sehnat. Založíš mě?“
<BR>
Ten zmetek si dobře uvědomoval, že v takovém případě se budeme muset ještě někdy vidět. A to i já a tak jsem mu s radostí přitakala: „No jasně, já mám peněz dost. Tak pojď, půjdeme.“
<BR>
Nasměrovala jsem ho na ulici Obětí Ramsayho Sněha, kde zrovna jeden obchůdek s různými plány a mapami byl. Jednou jsem si tam koupila historickou mapu Králova přístaviště pro bráchu k narozeninám, ale mí pubertální spolužáci mi na ni lihovkou nakreslili nějaké opravdu vtipné obrázky, když jsem ji nechala na lavici a odešla na záchod. Od té doby jsem tam ale nebyla, takže jsem doufala, že pořád stojí.
<BR>
„Margaret?“ oslovil mě po cestě.
<BR>
„Říkej mi radši Meg, to není tak dlouhé a tak formální,“ opravila jsem ho, protože se mi prostě nelíbilo, když mě někdo oslovoval Margaret. Přišlo mi to hrozně upjaté.
<BR>
„Jo a já jsem zase Tris, ne Tristifer. Každopádně, chtěl jsem se tě zeptat, jestli na sobě náhodou nemáš jiný šaty, než včera?“ pokračoval.
<BR>
Usmála jsem se. Na jednu stranu mi polichotilo, že si dal tu práci a podíval se na moje oblečení. To třeba otce byste mohli rozřezat a on si nevzpomene ani na křiklavě růžovou sukni, kterou mám na doma asi pět let. Na druhou stranu, přišlo mi divné, proč bych nemohla mít jiné šaty, než včera.
<BR>
„Jo, mám na sobě jiný šaty než včera, vadí to snad?“ odpověděla jsem mu po chvilce.
<BR>
„Ne, jen je to takový… Zvláštní.“
<BR>
„Jak dlouho třeba ty nosíš jedno oblečení?“
<BR>
„Měsíc, možná dva. Když je nouze tak i dýl.“ Řekl to, jako by něco takového byla naprosto normální a ještě se zatvářil, že jeho přístup je opravdový vrchol hygieny. Musela jsem si ale připomínat, že on se běžně pohybuje v trošku jiné civilizaci. Ale neubránila jsem se náctileté reakci a vydala dlouhé: „No fůůj!“
<BR>
Tentokrát se musel zasmát zase on a začal mi líčit různé divochy, kteří mají jedny kalhoty, jednu košili, jeden plášť a perou si to jenom na svoje narozeniny. A se spodním prádlem si radši ani nelámou hlavu. Musela jsem ho umlčet výrazným šťouchancem do ruky, protože na jeho kumpány a jejich mravy jsem zatím moc zvědavá nebyla. Naštěstí jsme už stáli před obchodem, a tak se Tris utišil a vešel dovnitř.
<BR>
Když jsme vešli, neubránil se menšímu áchnutí, ale už to nebylo tak nápadné, jako včera v hospodě. Za pultem stál nějaký hošan v rasta čepičce, taky očividně exot, takže mu to tak divné snad nepřišlo.
<BR>
Potom jsme z hochovou pomocí vybrali asi pět plánů města a okolí a jednu celou mapu Sedmi království, prý že se bude ještě hodit. Zaplatila jsem a když ten rasta podával igelitku s naším nákupem Trisovi, zašeptal: „Pěkná baba, fakt že jo.“ Vůbec si nelámal hlavu s tím, že bych to taky třeba mohla slyšet. Rasta se potom potutelně usmál, mě naskočily na tváři menší ruměnce a Tris zčervenal jako rajče. Radši rychle poděkoval, popadl tašku a vyřítil se z obchodu. Já jsem kývla na prodavače a vydala se za ním.
<BR>
On se venku postavil do nasupené pozice a nasadil pohled malého kluka, když mu maminka zakáže zmrzlinu.
<BR>
„Co se děje? To tě ten prodavač tak urazil? Nebo máš někoho jinýho a prostě tě urazilo, když mě jaksi nazýval tvojí babou.“ Schválně jsem použila tento výraz, i když jsem si k němu obyčejně udržovala docela odstup.
<BR>
„Dlouhý roky jsem byl zamilovanej do jedné… dívenky. Byla to Dolaronova neteř, jmenovala se Máša a vlastně to zas taková dívenka nebyla, spíš pořádně drsná holka. Vlastně pořád je. Líbila se mi odmala, párkrát jsme se pokoušeli i nějak intimně sblížit, ale já jsem byl srab, takže z toho nic nebylo. A ona se pak dala dohromady s takovým blbečkem, Karel Panna se jmenoval a tehdy jsem byl totálně na dně, strašně jsem ho prožíval. No ale časem mi došlo, že já a Máša, to by nedělalo dobrotu, a tak jsem na ni potom nějak přestal myslet a teď je to v pohodě.“ Zatřásl hlavu, jako by chtěl myšlenky na Mášu vyhnat ven. Přistoupila jsem k němu a z nějakých ochranitelských pudů jsem ho pohladila po paži, jako by potřeboval uklidnit po šoku při vzpomínce na bývalou milenku. No dobře, tak dramatické to asi nebylo, ale stejně – malé pohlazení ještě nikdy nikomu neublížilo. „A co ty? Máš ty někoho?“ zeptal se mě po chvilce.
<BR>
„Takže, vzhledem k tomu, že pocházím z bohaté rodiny, rodiče samozřejmě chtěli, abych si vzala někoho, kdo je taky z vyšších kruhů. Takže asi tak tři roky zpátky za námi přišli Edvard a Bella Starkovi, že prý by bylo dobré, abych se provdala za jejich syna Robbieho. Tak naši souhlasili, ale potom se otec se Starkem nějak politicky nepohodl, a tak vyhodnotili, že by to asi nebyl nejšťastnější nápad. Mě se ale Robbie líbil, to si nemysli, byla jsem do něho holčičkovsky pěkně zabouchlá.
<BR>
No a asi rok zpátky mi domluvili Reného Baratheona, ale ten se zase dal dohromady s bráchou Rolasem, takže asi víš, jak to dopadlo. Napřed se René čas od času donutil mě někam pozvat, ale bylo to dost mdlý a pak pochopil, že stejně nemá cenu to zatloukat, a tak vyšli z pravdou najevo a na mě se vykašlali. Takže já jsem single,“ pověděla jsem mu stručně o svém prázdném nezáživném milostném životě.
<BR>
Chvíli jsme tam stáli a trochu smutně na sebe zírali. Byla jsem ráda, že Tris žádnou Mášu ani jinou ženskou nemá. Samozřejmě jsem ho nechtěla pro sebe, to by stejně nemělo budoucnost, ale tak nějak jsem prostě byla ráda.
<BR>
Zvedla jsem hlavu a periferním viděním zahlédla malou cukrárničku, kam jsme občas chodily s holkama na zmrzlinu. Neměli sice moc velký výběr, ale zato byla naprosto výborná, poctivá krémová. Chtěla jsem sobě i Trisovi z hlavy vyhnat chmurné myšlenky, a tak jsem ho zatahala za rukáv a zeptala se ho: „Jedl jsi už někdy zmrzlinu?“
<BR>
Když zmateně zakroutil hlavou, stručně jsem mu vysvětlila podstatu zmrzliny a pak mu ukázala, kde stojí krámek. On souhlasil a jenom prohlásil: „To by mě zajímalo, jestli to bude něco jako tuhý ekvivalent k Ašajskému nektaru.“
<BR>
Zasmála jsem se. „Už nemám moc peněz, nebudu ti jich moct koupit tolik. Takže maximálně dva kopečky!“ Tris poslušně přikývl, ale když jsme došli až k obchůdku, kde nabízeli čokoládovou, citrónovou, vanilkovou a dračí (to byl oflambovaný mix těch tří předchozích, mimořádně hnusný), nemohl si vybrat. Povolila jsem mu dračí a čokoládovou, sama jsem si vzala jeden kopeček citrónové. Potom jsem ho odvlekla na lavičku poblíž, aby ho nepokoušela ta vanilková. Sedli jsme si a já jsem ho pozorovala, jak si vychutnává ten ohořelý sajrajt i tu výbornou čokoládovou. Když je obě mimořádně rychle snědl a já jsem měla v ruce ještě půlku kornoutu, naklonil se ke mně a setřel mi z obličeje flek. Jak nenápadné! Stírání pasty, omáčky, zmrzliny, kečupu, polévky, prostě čehokoli – to byla typická náplň všech béčkových romanťáků před pusou. On jí setře pastu, ona se náramně líbezně zasměje a pak se políbí.
<BR>
„Trisi!“ Chtěla jsem ho prudce napomenout, aby si uvědomil, že my dva se známe dva dny a chceme navždy být jenom přátelé. Nic víc. Jeho jméno ale vyznělo jemně až dychtivě, aby tu pusu ještě urychlil. Sama bych potřebovala někoho, kdo by mi to opravdu dobře vysvětlil, nebo kdo by mi nafackoval, abych si dala od Trise pokoj.
<BR>
„Meg?“ oslovil mě. Mělo to asi znít sebevědomě, ale taky se mu to moc nepovedlo. Jeho hlásek, to bylo něco podobného jako moje snaha o zlou a autoritativní. Asi mu došlo, že to nebylo zrovna ideální, a tak se nade mě najednou nahnul a dal mi pusu.
<BR>
Jenom krátkou, takovou dost amatérskou – asi to s Mášou dost dobře nenacvičili, ale já jsem se u toho začervenala jako rajče a trošku se k němu přitáhla.
<BR>
Když se ode mě po chviličce odlepil, asi to chtěl nějak okomentovat, ale nějak mu vyschlo v puse, a tak jenom párkrát naprázdno otevřel pusu a potom se potupeně zadíval do země.
<BR>
Do háje! pomyslela jsem si. Tak asi ve třinácti jsem měla období, kdy jsem sjížděla romantické filmy jeden za druhým – napřed ty staré západozemské, potom ty vtipné braavoské a nakonec i ty ubožárny z Meereenu a tak, kde se pořád opakuje ta stejná zápletka dokolečka. Každopádně, viděla jsem asi tak všehovšudy hezkých pár desítek až stovek romantických filmů a žádný z nich mě nepřipravil na tuto situaci – po polibku ve filmu se vždycky oba obejmou a už to jede. Tady byla jedna malá pusa a ani jeden z nás neví, co má dělat. Musela jsem tedy improvizovat, když mě v tom romanťáky nechaly takhle plavat.
<BR>
Vzala jsem tedy Trise za ruku a taky ho políbila. Co políbila, vlepila mu hnusnou uslintanou neprofesionální pusu, částečně na rty a částečně na tvář, a doufala jsem, že už to bude mít stejný průběh jako v těch filmech.
<BR>
Dobře, možná náš „vztah“ nebude mít žádnou budoucnost, ale když se chudá mladá sestra zamiluje do zazobaného zkušeného doktora, copak je to reálné a copak tohle má budoucnost? I kdyby to mělo trvat třeba jenom týden, tak ať. Aspoň jednou za život mě bude někdo chtít a jestli je to René nebo šílený mořský pirát, na tom už nesejde. Vlastně sejde, teď, když jsem o tom přemýšlela, mi René přišel jako hrozně slizký šampón a Tris jako… No, přinejmenším jako uspokojivější varianta Reného.
<BR>
„Meg?“ oslovil mě znovu. Kývla jsem, jakože poslouchám. Obávala jsem se, že mi řekne, že to nejde. Ale to měl udělat ještě než jsem si ujasnila priority a přirovnala se k průměrné hrdince romantických komedií.
<BR>
Nadechl se a prohlásil: „My jsme telata.“ Potom se začal smát a já jsem se k němu musela přidat. Tris měl naprosto hrozně nakažlivý smích – mluvil sice docela hluboko, nebo prostě tak normálně, ale smál se jako ženská. Nahoře a zvonivě. Musela jsem se napřed smát tomu, co řekl, tomu, jak se vtipně směje a hlavně tomu, co jsme tu asi tak před minutou dělali.
<BR>
Potom jsme se zvedli, abychom lavičku, svědka našeho trapného intimního sblížení, nechali daleko za sebou a šli. Šli prostě pryč. Bloudili okolím a napřed se jenom nesměle drželi za ruce a potom jsem se osmělila a opřela se o Trisovo rameno. Nic nenamítal, a tak jsem si vyložila, že mu to asi nevadí.
<BR>
Prochodili jsme celé okolí septa a potom už pomalu vykročili k Blešímu zadku. Tris mi vyprávěl detailní podrobnosti o Máše, o Železných ostrovech a o jejich způsobu života a já jsem k tomu jenom óchala a ohrnovala nos. Potom jsem se dostala ke slovu já a zase jsem mu líčila, jak to probíhalo s Reném, co teď doma provádějí s Rolasem a vysvětlovala jsem mu plno vymožeností naší moderní civilizace jako je třeba poštovní schránka, veřejný záchod nebo větrák.
<BR>
Když jsme došli až k nám před dům, zrovna začalo foukat. Moje rozumnější část říkala, že to přece nic neznamená, ale moje zvrhlá polovička, která ještě pořád zbožňovala ty romantické filmy si říkala, že ve větru se musí něco stát. Přistoupila jsem k Trisovi a políbila ho ještě jednou. On mě objal a začal mě líbat taky.
<BR>
Do filmu bychom ještě jít asi nemohli, ale bylo to dost výrazné zlepšení. Objímat ale uměl Tris, to se mu muselo nechat. Sevřel mě do náruče pevně a přece tak nějak něžně, jako by se bál, že mě rozmáčkne. Připadala jsem si jako v sedmém nebi!
<BR>
Jenom jediný problém to mělo – foukat hned přestalo, takže vítr si „nemohl pohrávat s mými lehoučkými hedvábnými šaty“ jako to bývalo v knížkách. Ale nevadí, tohle už jsem opravdu chtít nemohla.
<BR>
Když jsme se od sebe odtrhli, zašeptal mi do ucha: „Musím jít ještě něco zařizovat, ale uvidíme se zítra. Zase na tom náměstí o půl desáté?“
<BR>
Kývla jsem a jenom poznamenala: „Jo a zítra dáme loučení v dešti, ne?“ Ve filmech se opravdu často loučili v dešti, ona jenom v nějakých sexy šatičkách, celá chudáček promoklá, zvedající pravou nohu do vzduchu a on, její rytíř, ji vášnivě objímající a líbající. Musela jsem se sama pro sebe nad stupiditou tohoto výjevu zašklebit. Tris naštěstí nic neviděl, protože to se na první schůzku moc nehodí.
<BR>
„Cože, loučení v dešti?“ podíval se na mě nechápavě.
<BR>
„Ale nic, radši běž,“ vyprovodila jsem ho a vklouzla do domu. Ještě před odchodem jsem mu zamávala na rozloučenou a potom už zabouchla dveře.
<BR>
V předsíni jsem skopla boty a dala se do zpěvu. Normálně jsem si sice moc nezpívala, ale teď jsem měla náladu přesně na zrychlené durové deště Krastameru. Měla jsem tak povznesenu náladu, až jsem měla dojem, že za chvíli vzlétnu.
<BR>
Potom jsem si na vlastní hudební doprovod začala s fikťou tancovat rumbu, jediný tanec, který mi z tanečních utkvěl v paměti. Musel na mě být docela vtipný pohled.
<BR>
Po chvilce se ve dveřích do předsíně objevila babička. „Margaret,“ oslovila mě.
<BR>
Polekaně jsem se postavila pozoru, aby mě babička neviděla, co provádím a ještě si něco nedomyslela.
<BR>
„Kolik je ti vůbec let? Patnáct?“ pokračovala.
<BR>
Nechápala jsem, kam tím míří, ale popravdě jsem jí odpověděla, že je mi sedmnáct.
<BR>
„Tak to abychom už začali šetřit na věno. Williama nikdo nechce a Rolase by pro toho svého Zeleného bundičku zemřel, tak aspoň ty už máš dobře nakročeno.“
<BR>
Hned mi došlo, že babička nás s Trisem musela vidět. Všechna dobrá nálada ze mě rázem vyprchala. To jsme si nemohli tu blbou pusu dát za rohem? „Babi, prosím, nikomu to neříkej,“ sevřela jsem ruce v prosebném gestu a zadívala se na babičku.
<BR>
„Ty oči si nech, to na mě fungovalo naposledy před deseti lety,“ zkrotila mě babička nazlobeně.
<BR>
„A neřekneš to nikomu?“ pokračovala jsem v přemlouvání.
<BR>
„Neřeknu, to víš že ne. Ale stejně se to, holka zlatá, provalí a co budeš dělat pak?“
<BR>
Pokrčila jsem rameny. Co budu dělat pak? To jsem v tuto chvíli opravdu netušila.

 <BR><BR>

S Trisem jsme se prostě tak nějak dali dohromady. Zkrátím tady nějaké románky, protože bych to stejně neuměla pořádně popsat a nikoho by to asi nezajímalo.
<BR>
Poté, co jsem ho naučila, jak se používá školní rozvrh hodin, Tris na mě čekal každý den po škole. Dolores s Ariadnou měly pořád nějaké kecy, co je to za individuum a že nemám právo s ním chodit, protože není urozený. Lancelot a jemu podobní, co věčně slintali nad výstřihem jakékoli bytosti ženského pohlaví, se mu taky okamžitě začali posmívat a vymýšlet na jeho adresu ty nejubožejší vtípky. Doufala jsem, že aspoň Dalila s Randou mi to budou přát, ale ony se akorát uzavřely do sebe a často jsem je vídala někde v rohu, jak někoho drbou, s nejvyšší pravděpodobností mě. Když jsme třeba v braavoštině museli pracovat v páru, zbyl na mě obvykle takový Norbert Arryn nebo Lancelot. Utěšovala mě ale myšlenka na Trise čekající před školou a na Randu, Dalilu, Marcelu, Valburgu a ostatní mé nezadané spolužačky, předstírající, že je to vůbec nezajímá a že Tris je vzduch.
<BR>
Největší oporu jsem překvapivě našla v Sandře. Ta zastávala teorii, že máte být s tím, koho opravdu románově milujete a když je to ještě krásný dvoumetrový urozený rytíř, je to ještě přidaná hodnota.
<BR>
Nechápala jsem, proč teda chodila s tím prasákem Geoffreyem, ale to už byla její věc, hlavně, že na Trise neházela pohledy, jako by ho chtěla zabít.
<BR>
Škola mi začala být naprosto ukradená, na domácí úkoly jsem rezignovala, časopis Pokrok, kde nějaký mladý nadšený redaktor vedl rubriku o lepším světě a o tom, co musíme zlepšit, jsem vždycky jenom tak prolistovala. Tris se stal jediným mým zájmem.
<BR>
Často jsem se z něj snažila páčit co nejvíc věcí o tom jejich dobývání. Nejprve mi nechtěl nic říct, ale pak se postupně poddával, že prý a pár dalších týpků slouží jako zvědové a podávají zprávy o vymoženostech tohoto města.
<BR>
Železní totiž trošku podcenili pokrok a doufali, že útok proběhne jako obvykle. Normálně ale dobývali nějaké nevýznamné ostrůvky daleko na západ a ne Sedm království. Představa křičících vousáčů řítících se na město mi ale stejně přišla pořád hrozně legrační.
<BR>
Tris mi taky slíbil, že mě upozorní, kdy to bude, abych se potom nelekla a abych se dobře vyspala.
<BR>
Já jsem měla takový pocit, že bych možná něco mohla doma naznačit, když ne otci, tak aspoň Billovi nebo babičce, ale pořád jsem se k tomu neměla. Však se nic nemůže stát, Železné zažene naše policie, vůbec nic není v ohrožení, uklidňovala jsem se pořád. U srdce mě ale píchaly dvě věci – zaprvé policie si hledí jenom svých zlatých pláštíků a nic pořádného nedělá a zadruhé, a to mě tížilo ve srovnání s neschopností policie tisíckrát víc, že až se Železní k něčemu odhodlají a dopadne to jakkoli, Tris se vrátí na tu jejich náhradu Železných ostrovů a já zůstanu sama.ů

 <BR><BR>

V pátek po škole mě Tris nemohl doprovodit, protože prý musel jít obhlížet do elektra, a tak jsem měla za doprovod Marcelu. Cestou jsem se ještě stavovala ve večerce, protože jsme měli mít pěknou rodinnou večeři, jak tu směšnou frašku s připáleným jídlem a hádkami o politice nazýval otec, a já jsem měla koupit nějakou minerálku Ukázalo se, že jenom vyzvídala „jak sbalit kluka“, protože už nějaký ten pátek měla vyčíhnutého Tristana Martella, ale nějak se to nikam nehnulo. Když jsem jí řekla, že vážně nevím a že u mě s Trisem se to prostě nějak semlelo, urazila se a na nejbližším rozcestí zabočila a nasupeně odkráčela do svého ministerského domečku. Byla jsem docela ráda, že jsem ji setřásla, protože my dvě jsme nikdy nejlepší kamarádky opravdu nebyly. Nechtěla jsem dlouho chodit s Marcelou pro vodu, aby se ještě ucho neutrhlo.
<BR>
Když jsem se doplahočila domů (ukázalo se, že těch šest minerálek není zase tak hrozně „v poho“ pro mě, slabou dívenku), rozhodla jsem se, že se budu učit, protože už jsem to opravdu hodně dlouho nedělala. Chvíli jsem koukala jen tak do Sandřiných zápisků z chemie, ale když jsem se dostala k rovnici přípravy divokého ohně, vzdala jsem to, protože příklady s více než dvěma produkty a reaktanty jsem opravdu nedávala.
<BR>
Rozhodla jsem si číst aspoň historii divokého ohně, protože ta byla o hodně zajímavější než ty kecy okolo. Dostala jsem se ale pouze k bitvě na Černovodě, potom mi pípl mobil. Podívala jsem se, kdo mi co chce a objevila jsem zprávu od Dalily. Psala mi, že už jsme dlouho neměli náš sedánek u Srdcožrouta, ať přijdu a vezmu s sebou i bráchu, jak jsem slíbila.
<BR>
Měla jsem radost, že mě zase pomaloučku začínají přibrat do party, a tak jsem honem běžela k bráchovi do pokoje, že se má obléct, protože za půl hodiny odcházíme. Sama jsem si z obýváku sbalila sešit do chemie a odběhla k sobě do pokojíčku, abych se taky vypravila.
<BR>
Hodila jsem Sandřiny zápisky na stůl a začala hledat rtěnku (nebo spíš jahodový jelení lůj, ale všude jsem tvrdila, že je to rtěnka).
<BR>
V mém hrozném nepořádku jsem ji nikde nemohla najít, ale zato se mi do ruky dostal povědomý modrý papírek. Když jsem si ho přečetla, hrklo to ve mně. Podle lístečku jsem dnes večer měla jít s Trisem do kina.
<BR>
Zamyslela jsem se a zkoušela jsem si představit alternativy – Dalila s Randou mi Trise ještě tak úplně neodpustily, takže naše setkání možná bude takové rozpačité a není vyloučená nějaká hádka. Na druhé straně, Bill se po sto letech konečně někam odhodlal, ale to by asi nebyla výhra v případě pohádání, ještě by si o mě něco pomyslel.
<BR>
Druhá možnost byl večer v kině s Trisem. Ještě nikdy v kině nebyl, takže jsem se mohla těšit na jeho roztomile překvapené reakce jako vždycky, když jsem mu ukazovala něco nového. Vybrala jsem Árese dvojku. První díl sice nebyl nic moc, osvalený polobůh, jeho sexy partnerka, která teď hraje pomalu ve všem, Áreův nevlastní bratr Hermes, nějaký problém, ale všichni kluci ze třídy to milovali, tak jsem doufala, že se Trisovi zavděčím.
<BR>
Sice jsem někde četla, že na začátku vztahu si máte najít i jiné zájmy, než jen svého partnera, ale představa Trise nadšeného z nějaké akční scény a držícího mě za ruku byla prostě neodolatelná. Nedá se svítit, holkám to nahradím někdy jindy.
<BR>
Neházela jsem do kabelky pár pro dívku nepostradatelných věcí, spěšně se učesala, shodila ze sebe svoje otřesné batikované domácí šaty a nahlédla do skříně. Připadalo mi, že předtím jsem si oblékla první, co jsem uviděla a slušelo mi to. Teď mi to vždycky trvalo věčnost a stejně jsem si potom před Trisem připadala hnusná, tlustá, neohrabaná, hloupá, stará, neforemná a kdoví co ještě.
<BR>
Rozhodla jsem se, že to nebudu komplikovat a sáhla jsem po bílém tričku, k tomu béžovou sukni a růžové silonky. Jemně jsem se navoněla, nandala si náušnice a vyrazila. Cestou jsem uviděla svůj odraz v zrcadle a zhodnotila jsem, že takové modely budu nosit za dvacet let. Vrátila jsem se tedy, rychle si vyměnila sukni za trošku kratší tmavě modrou, s nějakými lístečky, zastrčila si tričko, vzala jiné náušnice a vyrazila jsem.
<BR>
Když jsem šla k Billovi do pokoje, dala jsem si předsevzetí, že už nikdy nebudu tak dlouho přemýšlet nad oblečením a vezmu si první, co nahmátnu.
<BR>
Zaklepala jsem na bráchův pokoj. Když mě vyzval, vešla jsem dovnitř. Konečně ze sebe shodil ty vytahané hadry, co nosil doma a oblékl se do kostkované košile a plátěných kalhot, o kterých jsem ani nevěděla, že je vlastní. Hrozně mu to slušelo, až mi bylo líto ho takhle zklamat.
<BR>
„Vyrážíme?“ zeptal se mě dychtivě.
<BR>
„Promiň, Dalila mi teď psala, že se necítí moc dobře a Randa stejně musí k babičce. Zalívat muškáty.“ Vymyslela jsem si první hloupost, která mi přišla na jazyk. Nikdy jsem neslyšela Randu, že by se zmiňovala o muškátech, třezalkách, tulipánech, hyacintech nebo jakýchkoli jiných kytkách, tak mě to prostě napadlo. A Dalila taky nebyla žádná simulantka, obyčejně si dala prášek a byla úplně v pohodě, ale na něco jsem se vymluvit prostě musela.
<BR>
Billovi zklamaně spadla čelist, ale asi to nechtěl dávat najevo, a tak řekl jenom: „Tak třeba někdy příště. Kam vůbec jdeš?“
<BR>
„Doučovat Sandru fyziku.“ Zase jsem plácla první hloupost, která mi přišla na mysl.
<BR>
Bill se na mě trošku podezíravě podíval. Sandru znal, kdysi spolu přičiněním rodičů něco měli, a tak se zeptal: „Sandra a chápe fyziku hůř než ty?“
<BR>
Samozřejmě že ona dostávala samé jedničky a já nedokázala vypočítat ani ty primitivní dvojbodové příklady, ale byla jsem rozhodnutá zatloukat kvůli Trisovi. Věděla o nás jenom babička a já jsem chtěla, aby to tak i dál zůstalo.
<BR>
„Už počítáme i složitější příklady než ró rovná se em lomeno vé, nemysli si. No nic, já už musím letět,“ rozloučila jsem se a utíkala dolů. Rychle jsem si nasadila lodičky a běžela ven. Naštěstí jsme měli sraz u sochy královny Daenerys jedoucí na Drogonovi, která byla skoro za rohem, takže jsem přidala do kroku a nakonec tam byla docela včas.
<BR>
Tris už tam stál a mával na mě. Když jsem ho políbila na přivítanou, už byl celý natěšený do toho kina. Nechtěla jsem ho zdržovat, a tak jsme hned vyrazili, koupili si lístky a odebrali se do sálu.
<BR>
Tris byl nadšený už jen z reklam a celý film zhlédl s doslova s otevřenou pusou. Já jsem to brala trošku s odstupem, můj oblíbený žánr to nebyl, takže samotný Tris byl lepší podívaná než celý film, ale docela se mi to líbilo.
<BR>
Když jsme vyšli z kina, měla jsem do půl deváté, kdy měla začít naše velkolepá večeře, chvilku času, a tak jsem Trise chtěla vytáhnout do nějaké hospody na něco na pití. On ale protestoval a řekl, že by radši někam, kde je klid, třeba do parku. Vypadal tak nějak bledě a nadšení z filmu z něj už asi vyprchalo, teď vypadal, že je z něčeho hodně nervózní.
<BR>
„Tak dobře, do parku na lavičku,“ souhlasila jsem, chytla se ho za ruku a vyrazili jsme.
<BR>
Když jsme došli do nedalekého parku a zaujali míst na jedné z prázdných laviček, úplně nečekaně se mě pobledlý Tris zeptal: „Máš mě ráda?“
<BR>
Hlavou mi proletěly dvě myšlenky. První byla – Oni snad mají v plánu zaútočit! Druhá sice byla o trošku romantičtější, ale o nic méně děsivá – No ne, že mě Tris nechce požádat o ruku!
<BR>
„Samozřejmě tě mám ráda. Co se ale s tebou děje, proč jsi tak bledej?“ odpověděla jsem mu.
<BR>
„Dneska ráno jsme měli docela důležitou poradu. Já a ostatní zvědové, co jen tak pobíhají po městě, jsme referovali o vašich vymoženostech a technologiích a bylo vidět, že ostatní se toho docela zalekli. Potom tam začaly padat takový názory, jakože by bylo dost nebezpečný se vůbec do něčeho takovýho pouštět, že jste o hezkých pár let před náma a že ani ty Dolaronovy kouzla na vás nebudou platit. Stejně tu už strašně dlouho jenom jsme a nic se neděje a že by bylo lepší si vzít nějaký menší sousto a sem se vrátit až tehdy, kdy budeme na stejné úrovni jako vy. No a tento názor postupně začal zajímat čím dál víc lidí. Samozřejmě, nějakých pár šílenců pořád drží s ním a věří mu, ale je to jen hrstka a to by rozhodně nestačilo na dobývání takovýho města jako je Královo přístaviště.
<BR>
No a tak to vypadá, že my zase odplujeme a budeme si podmaňovat malinký nevýznamný ostrůvky s pár domorodcema. Dolaron z toho úplně na větvi není, ale co se dá dělat?“
<BR>
Když dopovídal, seděla jsem tam tak, s pusou hloupě otevřenou a zírala na něho. Má to jako znamenat, že prostě odjedou a já tady, v tom „civilizovaném ráji“ zůstanu sama jako kůl v plotě? Předtím se mi dařilo dobře, ale copak teď můžu zůstat bez Trise a jenom věčně někoho drbat s holkama a vážně diskutovat s bráchou a babičkou? Moje já před dvěma měsíci mi přišlo neskutečně prázdné, hloupé a pokrytecké.
<BR>
„Trisi, má to jako znamenat, že ty prostě odjedeš a my dva se uvidíme tak maximálně za dvacet let, kdy znovu budete oblíhat naše město?“ zeptala jsem se ho roztřeseným hlasem. Rozhodla jsem se, že se za žádnou cenu nerozbrečím, abych nevypadala slabošsky.
<BR>
„Vypadá to tak. A právě proto jsem se tě ptal, jestli mě máš ráda. A jestli bys se mnou odešla?“ pokračoval dál Tris.
<BR>
„A stala bych se tvou solnou ženou, jak jsi mi o nich vyprávěl?“ zeptala jsem se trošku zklamaně. Neměla jsem totiž chuť se stávat součástí někoho harému, jak to bylo na Železných ostrovech zvykem.
<BR>
Tris se zamračil a odpověděl mi: „Ne jako solná žena. Jako normální žena, prostě manželka.“
<BR>
„A nebylo by jednodušší zůstat tady? Nevím, jestli bych se dokázala takto přenastavit na život v krutém středověku. A navíc, tady mám rodinu, kamarády, školu, prostě všechno,“ opáčila jsem mu.
<BR>
Tris mě objal kolem ramen a položil si na mě svoji hlavu. Objala jsem ho a začala mu dávat malé, těžko znatelné polibky do vlasů. Mělo mi dojít, že se něco takového bude muset stát, ale tak nějak jsem žila s tím, že nic nehrozí a že Tris tu bude věčně.
<BR>
Po chvilce mlčení konečně řekl: „A co tvoje rodina? Pořád mi vyprávíš, jak jsou straně sobečtí a pokrytečtí. Jednou by se provalilo, že jsme spolu a to by neprošlo. Říkalas, že ti plánují někoho bohatýho a urozenýho, což já jsem jen tak trošku a stejně pochybuju, že by uznávali nějaký barbary kdesi z ostrovů. Tady by to prostě nešlo, takže pokud máš zájem, nemáme moc na výběr.“
<BR>
Byla to pravda, moje rodina byla učebnicovým příkladem namyšlené šlechty, ale přece jenom já jsem prostě byla jednou z nich a asi bych nebyla schopná jenom tak odjet a ani se z nikým nerozloučit.
<BR>
Chvíli jsme tam jen tak seděli a přemýšleli. Doufala jsem jen, že Tris po mě nechce, abych mu výsledek řekla rovnou, protože to prostě nešlo, to jsem nemohla, protože tak i tak bych někomu hrozně ublížila.
<BR>
Po chvilce jsem se mrkla na hodinky a zjistila jsem, že teď někdy mám být doma. Pomalu jsem tedy vstala, přestože Tris mě nechtěl pustit, dala mu rychlou pusu a slíbila mu: „Dej mi čas do zítřka, musím si to nechat proležet v hlavě. Dobrou noc.“
<BR>
Když se se mnou taky rozloučil a konečně otevřel svoji náruč, abych mohla vyběhnout domů. Ještě na konci parku jsem se otočila, abych mu zamávala a potom jsem už jenom utíkala ztemnělými uličkami až k nám domů.
<BR>
Když jsem doběhla až k domu, odemčela dveře, skopla boty, svetr pověsila na věšák a spěšně vešla do jídelny, všichni tu seděli jako na pohřbu, potichu a s prázdnými talíři. Všimla jsem si i Gábora a jeho ženy Leony, kteří přijeli z Vysoké zahrady, takže mi došlo, že jen tak mi asi neříkali, že mám přijít včas.
<BR>
„No ahoj,“ pozdravil mě vztekle otec. Ještě pořád jsem nechápala, co se děje – obvykle jsme mívali večeře ve stylu uvař a sněz si sám.
<BR>
„Meg, jasně jsme ti říkali, že máš přijít domů do půl deváté,“ přidala se ještě máma. Já jsem vydala vzteklý hrdelní zvuk, odhodila kabelku do rohu a prohlásila: „Hluboce se omlouvám, že vám kvůli mně vystydl špenát. Můžeme začít.“
<BR>
Otec si zhluboka oddechl. „Tohle není o špenátu, musím vám říct něco opravdu důležitého, tak se laskavě posaď,“ pokračoval uraženě.
<BR>
Zaujala jsem tedy volné místo vedle Rolase a naproti Billovi a čekala, až mamka začne servírovat.
<BR>
„Má ta úžasná novina být to, že Leona je těhotná?“ pokračovala jsem ironickým až přidrzlým tónem. Mohla jsem teď ještě být ve městě s Trisem nebo s holkama u Srdcožrouta, ale ne, zrovna ten večer, kdy mě Tris požádá, abych s ním odjela pryč, musíme mít nějakou rodinnou večeři. Neznám lepší události na tak důležité rozmýšlení.
<BR>
Matka se po mé poznámce zatvářila náramně uraženě a Leona si sjela rukou na svoje bobtnající břicho, asi aby mimino mohla ochránit před zlou tetou Meg. Naštěstí žádná z nich neměla žádné dospělácké kecy. Ozval se ale někdo jiný. „Margaret, to stačí,“ prohlásil Bill vážně rozzlobeným tónem.
<BR>
Kdyby něco takového řekl otec, dala bych se nejspíš do smíchu, ale z Billa jsem měla vážně respekt. Zmlkla jsem a rozhodla se věnovat pouze své koprovce.
<BR>
Když mamka nandala všem a otec pronesl krátkou formální řeč, že je rád, že máme Gábora s Leonou mezi námi, pustili jsme se do jídla.
<BR>
Koprová omáčka patřila k mým oblíbeným jídlům, ale teď, v tak dusné atmosféře, jsem si ji nebyla schopná pořádně užít.
<BR>
Asi po pěti minutách si otec konečně uraženě odkašlal a začal se svojí důležitou novinou. „Teď mě prosím dobře poslouchejte. Hubert Baratheon je na smrtelné posteli, ale oficiální to bude až tak zítra ráno, až opravdu vydechne naposledy. Ale žádný strach, nemá šanci se z toho dostat. No a Edvard Stark, náš milý předseda vlády, byl obviněn ze zrady a z pokusu o uchvácení ministerského křesla pro sebe. Takže Stark je ve vazbě a všem je jasné, že není přípustné, aby se Geoffrey oženil s dcerou zrádce.
<BR>
Je mi samozřejmě Starků líto a nejvíc malé Sandry, ta přijde o ženicha, ale nesmíme se s nimi spojovat, to by se nemuselo vyplatit. Takže mě prostě tak napadlo, i když si t vůbec nezaslouží, protože chodí pozdě a vůbec se neučí…“ Potom se odmlčel, aby vzniklo něco, co si on představuje pod pojmem napjaté ticho a on se mohl moudře rozhlédnout po všech zúčastněných.
<BR>
„Že by si Margaret mohla vzít Geoffreye,“ dopověděla jsem za něj, protože mi bylo nad slunce jasnější, co chystá.
<BR>
„Správně,“ odsouhlasil mi můj odhad, příliš nadšen vlastním nápadem, než aby mi ještě mohl vyčítat, že jsem mu překazila překvapení. „Vezmeš si Geoffrey, staneš se ministryní a budeš se mít jako prase v žitě, to je zcela jednoduché.“ Potom se spokojeně napil piva.
<BR>
Všichni najednou upřeli svoje pohledy na mě, jako kdybych něco provedla. Jestli si ale otec myslí, že si vezmu Geoffreye, to kruté pomstychtivé prase, tak se tedy šeredně mýlil.
<BR>
„Nevezmu si ho,“ oznámila jsem prostě. Neměla jsem potřebu se tady s někým hádat, a tak jsem prostě otci oznámila, co mám v plánu.
<BR>
„Jistě že ano, to vůbec není tvoje starost,“ opáčil mi otec tónem absolutního vítěze.
<BR>
„Že není moje starost, koho budu mít celý život vedle sebe? To si děláš legraci! Babiččino manželství se moc nepovedlo, vaše s mámou taky ne, Gábor s Leou, mají se docela rádi, ale románová láska to taky není. Tak mi prosím dovol, abych se zamilovala aspoň já!“ Teď už jsem hlas zvýšila, protože jsem chtěla otce a vlastně všechny přítomné zasáhnou do správného místa. Bohužel jsem si ale odporovala s celou mou celoživotní teorií – vem si někoho významného a zasaď se o nové, lepší zákony.
<BR>
„Margaret, dost. Teď už se o tom tuplem nebudeme bavit.“
<BR>
„Ale!“
<BR>
„Ne.“
<BR>
„Proboha, otče.“
<BR>
„Ty se do toho nepleť.“
<BR>
„Nevíš, co mluvíš.“
<BR>
„Správně, jste ještě moc mladí.“
<BR>
„Matko.“
<BR>
Takhle to pěknou chvíli vypadalo. Asi bychom se hádali ještě dlouho, kdyby nezasáhla babička.
<BR>
Babička Olina měla v naší rodině zaručeně největší autoritu. Otce to sice dost vytáčelo a na respektovanou hlavu rodiny si hrál sám, ale dobře věděl, že před babičkou je nejlépe sklopit uši a poslechnout ji. Hrozilo totiž, že by si o něm pomyslela ještě horší věci, než doteď.
<BR>
„Klid tady bude.“ Babička tuto větu pronesla ještě docela potichu, ale všichni, kdo se zapojovali do debaty, okamžitě zmlkli. „A teď běžte prosím pryč.“
<BR>
„Ještě jsme to ale nedojedli,“ zkusila se odporovat matka.
<BR>
Babička na ni hodila dokonale studený obličej. „Aleno, miláčku.“ Tato dvě slova stačila. Matka se poslušně zvedla, odnesla svůj poloprázdný talíř do kuchyně a následovaná otcem, Rolasem a všemi ostatními vyšla z jídelny.
<BR>
„Meg, Bille, vy tady prosím zůstaňte,“ řekla babička, když viděla, že odcházíme i my dva.
<BR>
Když jsme se já i bratr vrátili ke stolu, babička zase začala: „Meg, o čem tady dlouhá léta sníme?“
<BR>
Věděla jsem, kam míří. Měla bych správně říct, že mi nezáleží na osobním životě a že si Geoffreye vezmu a prosadím lepší život v naší společnosti. Tohle bych celá žhavá udělala ještě tak před měsícem, ale teď? Copak jsem se mohla tvářit, že Tristifer mě vůbec nezajímá? Když už oklamávám všechny okolo, aspoň sama k sobě bych měla být upřímná.
<BR>
„Sníme o lepších zákonech, demokratické společnosti a ledasčem jiném,“ odpapouškovala jsem poslušně odpověď. Babička ale poznala, že tohle nejsem já, ta která se dokáže dlouhé hodiny dohadovat různých detailech v nejrozmanitějších zákonech naší země.
<BR>
„Margaret, proboha, co se děje?“
<BR>
Kdybychom tu byly jenom my dvě, asi bych se jí nejradši složila na rameno, holčičkovsky se vybrečela a nechala si od babičky poradit. Ona to stejně ví, takže by nemělo cenu nic zatloukat. Ale před Billem jsem musela přísně mlčet. Nejenže by se ukázalo, že místo slíbeného večeru s ním a s Dalilou a Randou jsem byla s Trisem v kině, ale to by bylo stejně to nejmenší. Hlavní bylo to, že jsem věděla, že já jsem jeho největší naděje, jak se dostat z toho potupného postavení a sehnat nějakou normální práci. Kdybych si navždy odjela na druhý konec světa, asi by to potom měl trošku těžší.
<BR>
„Babičko, vždyť přece víš, co je Geoffrey zač! Nemůžu chtít takovýho prasáka dobrovolně za manžela. A navíc bych ztratila kamarádku, Sandru, a to by mi bylo hrozně líto,“ odpověděla jsem jí. A navíc mám ráda Trise, dodala jsem si sama v duchu.
<BR>
„Najednou ti záleží na Sandře, jo? A co třeba já?“ obořil se na mě znenadání Bill. Očividně měl náladu pod psa.
<BR>
„Williame, kroť se, nejsi střed vesmíru,“ zasáhla do našeho rozhovoru babička. „Ale na druhou stranu má pravdu, Meg. Já ani on s touhle zaostalou zemí nic neuděláme, to přece víš a odjakživa spoléháme jenom na tebe. A ty tady najednou ztopíš scénu, že ho nechceš? Budoucího ministra? A koho by sis jiného představovala? Mocnějšího a zároveň tobě věkově blízkého bys v celém království nenašla, přece tu obrovskou šanci nemůžeš zahodit, než se na něj začnou slítat Dolores, Ariadna a já nevím, kdo ještě. Kdybys měla jiného chlapce, tak bych to samozřejmě pochopila, ale takhle…“
<BR>
Poslední větu si babička mohla odpustit, ale jinak jsem s ní vlastně nemohla nesouhlasit.
<BR>
„Je toho teď na mě trochu moc. Dáte mi čas do zítřka?“ zeptala jsem se. Kdyby se mě někdo zeptal teď a okamžitě požadoval odpověď, nejjednodušší řešení by bylo asi skočit z okna.
<BR>
„Jistě, takové důležitě rozhodnutí nemůžeme uspěchat, ale zase nemáme času nazbyt. Řekneš nám to u snídaně.“ Usmála se na mě, ale já jsem ji prohlédla. Bylo mi nad slunce jasnější, že čekala jasnou a pohotovou odpověď hned teď. „Tak dobrou noc,“ rozloučila se s námi a odešla do svého pokoje.
<BR>
Taky jsem se zvedala, ale Bill mě ještě zatáhl za rukáv a posadil mě zpátky na židli.¨
<BR>
„Jenom jsem ti chtěl oznámit, že Dalila kypí zdravím, Randina babička umřela před deseti lety a Sandra chápe statickou elektřinu výborně, na rozdíl od tebe. Jenom tak pro tvoji představu.“
<BR>
Chtěla jsem mu to všechno vysvětlit, obejmout svého velkého bráchu a nechat se od něho utěšovat, ale musela jsem mlčet, aspoň do té doby, než se rozhodnu. Nejhorší na tom bylo, že mi nikdo nemohl poradit, protože Bill, babička a dokonce ani Tris by to prostě nepochopili. A na nikoho dalšího jsem radši ani nepomýšlela.
<BR>
Po tomto a po Billově neuvěřitelně studeném pohledu jsem se už neudržela a dala se do breku. Neplakala jsem často, to vůbec ne. Takové ty filmy-ždímače slz mě sice často dojaly, ale vyloženě jsem nebrečela, takže Bill věděl, že když už někdy začnu, tak mám proč. Naklonil se nade mě, pohladil mě po vlasech, ale pak si asi vzpomněl, že jsem mu lhala, ruku odtáhl a nechal mě v jídelně samotnou.

 <BR><BR>

Měla jsem hroznou noc. Skoro až do rána jsem brečela, protože jsem opravdu opravdu nevěděla, co bych měla udělat. Bohužel ani jedna z možností nebyla vyloženě špatná, ani vyloženě správná, takže nějaká správná volba tady bohužel nebyla. Musela jsem se usmát nad svou hloupostí, když jsem ještě v zimě řešila dilemata typu Mám si koupit snowboard nebo kurz vaření?
<BR>
Někdy okolo půlnoci jsem byla skoro rozhodnutá, že si vezmu Geoffreye. Už jsem málem vstala a běžela za babičkou, že jí řeknu, jak jsem se rozhodla, ale najednou jsem si musela vzpomenout na naše vycházky a na ten pocit, kdy někomu připadáte hezká a milá a má vás rád a váží si každé chvilky s vámi a není to rodina, což se o Dalile, Randě, Sandře, ani nikom poslední dobou říct opravdu nedalo. V tu chvíli až do tři čtvrti na dvě jsem byla pevně rozhodnutá, že sice toho musím hodně obětovat, ale odjedu s Trisem na Železné ostrovy.
<BR>
Potom mě zase přepadly pochybnosti, co když mě místní nepřijmou, budou mě brát za změkčilou měšťanku, zotročí si mě, možná znásilní nebo zabijí. Přece jenom jsou to poněkud drsnější nátury, než na jaké jsem zvyklá.
<BR>
A navíc, kolika nemocným a vůbec chudým lidem bych pomohla, samozřejmě pokud by se mi ty reformy podařilo prosadit, což není vůbec jasné. No ale je to můj celoživotní sen a navíc bych nepolepšila jenom sobě, ale ještě hromadě dalších lidí. Trise znám jenom měsíc, kdoví jestli by nám to vydrželo, ale zase Geoffrey? Vždyť Sandru už kolikrát zbil, tohle bych přece v životě nechtěla…
<BR>
Tímto stylem se ubíraly myšlenky celou noc. Chvíli jsem byla nakloněná k možnosti pro Geoffa, chvíli pro Trise, ale nakonec jsem se rozhodnout musela. A tak jsem se rozhodla.


<BR><BR>
Vstala jsem docela brzo, oblékla se a sešla dolů na snídani. Nemohla jsem potlačit provinilý pocit, přestože jsem vlastně ještě nic neudělala a svoje rozhodnutí nikomu neoznámila.
<BR>
Dole už byla babička, která už nemohla dospat a otec, který si přivstal, aby to slyšel hezky z první ruky. V kuchyni jsem zpozorovala ještě Leonu, zvyklou vstávat brzo, jak vaří čaj. Jinak celý dům ještě spal, bylo totiž sotva sedm hodin.
<BR>
Babička přede mě postrčila namazaný rohlík, abych si to ještě nerozmyslela a neodešla pryč. Popadla jsem ho do ruky, ale nemohla jsem pozřít ani sousto, a tak jsem se jenom napila čaje, abych neměla sucho v puse a vypravila ze sebe jedno slovo.
<BR>
„Geoffrey.“ Tak znělo moje rozhodnutí. Cítila jsem totiž, že i když můj osobní život bude katastrofa, jsem přece jenom šlechtic a tudíž se musím obětovat pro ty, kteří takovou moc nemají.
<BR>
Přestože si otec i babička oddechli a já si byla stoprocentně jistá, že jsem neudělala nic špatného, draly se mi do očí slzy. Položila jsem hrnek, který jsem právě svírala v ruce a spěšně odběhla ven.
<BR>
„Histerka jedna, ta nadělá kvůli vdávání,“ slyšela jsem ještě mluvit otce. Normálně bych byla k smrti uražená, že se něco takového opovažuje říkat, ale teď mi to bylo celkem ukradené, ať si říká, co chce, já jsem měla jiné starosti.
<BR>
Byla jsem sice už pevně rozhodnutá pro Geoffa, ale to ještě neznamenalo, že Trise už nemiluju. Potřebovala jsem mu to aspoň vysvětlit a rozloučit se s ním. Doufala jsem, že pochopí. A když ne, uvidíme se za pár let, zase při nějakém dobývání a při troše štěstí umřu rukou někoho, koho mám ráda.
<BR>
Obula jsem si máminy nazouváky, popadla starou mikinu, která visela na věšáku, a přes své otřesné domácí oblečení jsem vyběhla do ulice. S Trisem jsme se sice na dnešní den nijak nedomlouvali, ale dal mi adresu, kdybych ho někdy hledala. Nedoufala jsem, že ho někdy budu potřebovat opravdu tak akutně, abych ji použila, ale teď ta chvíle už přišla.
<BR>
Znala jsem ji nazpaměť, byl to vlastně jediný dokument, který jsem od Trise kdy dostala, a tak jsem si ji střežila jako oko v hlavě a přečetla si ji snad už stokrát. Fossowayská 23, takový malý penziónek pro nepříliš majetné. Nebylo to úplně blízko, ale zas tak daleko, abych tam nemohla dojít, takových dvacet minut rychlou chůzí.
<BR>
Zastavila jsem se u sochy Daenerys, protože jsem musela čekat na přechodu a stejně jsem si potřebovala nasadit botu a trošku se vydýchat, protože jsem nasadila takovou tu indiánskou chůzi – chvíli jdete, chvíli běžíte. Opřela jsem se o kamenného Dragona a zhluboka si vydýchla. Přišlo mi téměř neuvěřitelné, že ještě před necelým dnem jsme tu s Trisem měli sraz, normálně jsme šli do kina a bavili se jako obyčejně.
<BR>
Zatímco jsem si zagumičkovávala vlasy a nasazovala botu (bylo mi k vzteku, že jsem si vzala ty pitomé máminy nazouvací boty, které se vyzouvají stejně dobře jako nazouvají), přemýšlela jsem, jak asi bude naše setkání vypadat.
<BR>
Měla jsem tam přijít a říct mu něco ve stylu: „Trisi, nemůžu si tě vzít, doufám, že to chápeš, tak ahoj.“? To asi těžko.
<BR>
Dlouho jsem snila, že se s Trisem budeme někdy milovat. Byla jsem sice už s nějakými individui, jako byl třeba nějaký folkový zpěvák, pamatuji si, že měl modré boty, to je asi všechno, anebo jeden z Černokotlých, už ani nevím, který. Teď jsem vlastně ani nechápala, proč jsem to udělala. Zatím jsem ale ještě nebyla z Trisem, ale přece jsem tam nemohla přijít, pomilovat se s ním, oznámit mu, že si budu brát Geoffa a odejít?
<BR>
On by to nepochopil, teď jsem si tím byla jistá. Už včera se mnou promlouval tak sebejistě, jakoby bylo samozřejmé, že s ním na ty jeho zatracené ostrovy pojedu. A navíc, hrozně bych mu ublížila, kdybych se tam tak zjevila a najednou mu oznámila, že nic nebude.
<BR>
Stejně vůbec nebylo jasné, že tam bude. Teď se rozhoduje, co vůbec bude ten jejich dobyvačný národ dělat, takže možná bude v přístavu na jejich lodi. Spíš pravděpodobně, než možná.
<BR>
Čím déle jsem o tom takhle uvažovala, napadaly mě další argumenty, proč bych za Trisem neměla chodit. Stejně vypadám hrozně a ještě stejně nemám rozmyšleno, co bych mu řekla. Ne, musím se trošku zklidnit, pročistit si hlavu, odpočinou si po probdělé noci. Někdy se s Trisem zase někdy domluvíme a já mu to pořádně vysvětlím, kdybych tam šla teď, bylo by to takové dost rozpačité.
<BR>
Rozhodla jsem se tedy, že za Trisem nepůjdu, abych to ještě neudělala horším, než to je teď. Otočila jsem se a pokořeně odkulhala zpátky domů a svědky mého slabošství a zbabělosti se stali jenom kamenní Daenerys a Drogon, tupě a trochu vyčítavě na mě zírajících. Jenom oni dva, i když už jsou staří, pokakaní od ptáků a oloupaní od malých neposlušných dětí, ví jak to skutečně bylo a že jsem na Trisem nezapomněla. Kdyby mi ale poradili a prozradili, že ho už nikdy v životě neuvidím, snad bych tak hloupá nebyla.

 <BR><BR>

O dvacet let později
<BR><BR>
Vzala jsem si Geoffa, ale ten moc dlouho nevydržel. Trošku z toho podezírám babičku, asi měla výčitky, že mě do toho sňatku takhle dokopala. Každopádně jsem mu nedala žádného potomka, a tak mě rodiče donutili ještě k sňatku s Tomanem, jeho mladším bratrem.
<BR>
To už sice nebylo tak hrozné, ale Toman byl malý hloupý kluk, který mě bral spíš jako tetu než jako manželku.
<BR>
A moje iluze o tom, že v parlamentu přednesu nějaký ušlechtilý zákon a všichni mi ho poslušně odhlasují byla silně naivní. Měla jsem a vlastně pořád mám hodně nepřátel, hlavně Sisi Lannister mi dělala docela potíže, teď už se ale naštěstí v politice neangažuje. Pořád se ale samozřejmě najdou tací, kteří sdílí její myšlenky a není jich zrovna málo. Aby vás vůbec někdo poslouchal, musíte se napřed vybudovat jméno, což vlastně dělám doteď.
<BR>
Netvrdím, že za těch dvacet let se mi nic nepovedlo. Bill mým přičiněním má konečně práci, i když úplně ne takovou, jakou by si představoval a vlastním přičiněním si konečně našel holku, takže co se týče jeho, tam jsou pokroky.
<BR>
Jinak ale vlastně nic moc. Na mé staré škole jsou pořád třídy podle majetku a důležitosti vašich rodičů, ti úplně chudí nemůžou pořád volit, no prostě naše společnost je na tom vlastně zhruba stejně jako tehdy, když mi bylo sedmnáct, chodila jsem s Trisem a snila o ráji na zemi.
<BR>
Když si to všechno shrnu, co mám? Sice milého, ale hloupého a dětinského manžela, pár bezvýznamných politických úspěchů a pravda, ještě potomka, ale hodně Tomanovitého. Můj syn pro mě samozřejmě znamená hodně, ale to neznamená, že by někdy v mém životě nastal den, kdy bych nepomyslela na Tristifera. Co asi dělá? Má ženu, děti?
<BR>
Pokoušela jsem se s ním spojit, ale piště dopis na místo, o kterém většina lidí neví, že existuje, anebo tam volejte někam, kde slovo telefon nikdy neslyšeli. Dřív jsem taky každým dnem doufala, že přijedou a budou dobývat naše město. Osud Králova přístaviště mi byl celkem lhostejný, stejně to bylo hnusné a zkažené město a já jsem Ho chtěla ještě jednou spatřit, ať mě miluje, nenávidí, nebo ke mně necítí vůbec nic.
<BR><BR>
Často si představuji, jak s Trisem bydlíme v nějaké pofidérní chatičce poblíž mořem, oblékáme se do hnědých neforemných tunik a prostě žijeme naprosto jednoduchým životem s pár dětmi a vzájemnou láskou. Společně ošklivíme, stárneme a senilníme, ale nám to nevadí, protože máme jeden druhého a to nám stačí. Je jenom škoda, že je to jenom moje představa a nikdy se tak nestane.
</p>
{% endblock %}
