#navigation {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

#navigation a {
  color: #eee;
  text-decoration: none;
}

#navigation li {
  margin-bottom: 0px;
}

#navigation ol,
#navigation ul {
  list-style: none;
  padding:0px;
  margin:0px;
}

#wrap {
  margin: 0 auto;
}

#navigation .right {
  float: right;
}

#navigation .left {
  float: left;
}

/* HEADER */
#wrap > header {
  background-color: #190c01;
  padding-bottom: 20px;
}

#menu-toggle {
  display: none;
  float: right;
}

/* HEADER > MENU */
#main-menu {
  font-size: 0;
  margin: 10px 0;
}

#main-menu > li {
  display: inline-block;
  margin: 3px 0 3px 25px;
  padding: 15px 0px;
}

#main-menu > li:last-child {
  margin-right: 25px;
}

#main-menu > li.parent {
  background-size: 7px 7px;
  background-repeat: no-repeat;
  background-position: left center;
}

#main-menu > li > a {
  color: #eee;
  font-size: 18px;
  line-height: 14px;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #190c01;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
  color: #f5ba56;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
  position: relative;
}

ul.sub-menu { /* level 2 */
  display: none;
  left: 0px;
  top: 43px;
  position: absolute;
  width: 115px;
  z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
  margin-top: -1px;
  padding-top: 0;
  left: 149px;
  top: 0px;
}

ul.sub-menu > li > a {
  background-color: #190c01;
  border: 1px solid #311f10;
  border-top: none;
  color: #bbb;
  display: block;
  font-size: 16px;
  line-height: 15px;
  padding: 10px 12px;
  text-align: left;
}

ul.sub-menu > li > a:hover {
  background-color: #2c1a0b;
}

ul.sub-menu > li:first-child {
  border-top: 3px solid #cb8409;
}

ul.sub-menu ul.sub-menu > li:first-child {
  border-top: 1px solid #311f10;
}

ul.sub-menu > li:last-child > a {
  border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
  background-size: 5px 9px;
  background-repeat: no-repeat;
  background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
  display: block; /* show the submenu */
}
