{% extends "page.html" %}

{% block content %}
  <div class="story-list">
    <h1>Aktuální kola povídkové soutěže</h1>

    <p>Zde se nachází aktuálně probíhající nebo již ukončená kola soutěžních povídek.</p>

    <h2>Čtvrté kolo povídkové soutěže</h2>

    <ul>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 4, nazev: 1}) }}">Povídka č.1</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 4, nazev: 2}) }}">Povídka č.2</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 4, nazev: 3}) }}">Povídka č.3</a></li>
    </ul>
  </div>
{% endblock %}
