{% extends "page.html" %}

{% block content %}
  <div class="story-list">
    <h1>Předchozí kola povídkové soutěže</h1>

    <p>Zde se nachází archiv předchozích soutěžních povídek.</p>

    <h2>První kolo povídek</h2>
    <p>Témata:</p>
    <ol>
      <li>Samotný vlk zahyne, ale smečka přežije</li>
      <li>Probuzení v jiném těle</li>
      <li>Tajemství</li>
    </ol>
    <ul>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 1, nazev: 1}) }}">Povídka č.1</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 1, nazev: 2}) }}">Povídka č.2</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 1, nazev: 3}) }}">Povídka č.3</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 1, nazev: 4}) }}">Povídka č.4</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 1, nazev: 5}) }}">Povídka č.5</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 1, nazev: 6}) }}">Povídka č.6</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 1, nazev: 7}) }}">Povídka č.7</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 1, nazev: 8}) }}">Povídka č.8</a></li>
    </ul>
    <ul class="no-style-type">
      <li><a href="{{ app.request.baseUrl ~ '/obrazky/povidky_1.jpg' }}">Hodnocení prvního kola povídek, 1. část</a></li>
      <li><a href="{{ app.request.baseUrl ~ '/obrazky/povidky_2.jpg' }}">Hodnocení prvního kola povídek, 2. část</a></li>
    </ul>

    <h2>Druhé kolo povídkové soutěže</h2>
    <p>Témata:</p>
    <ol>
      <li>Detektivní příběh ze Západozemí</li>
      <li>Na život a na smrt<br></li>
      <li>Oheň a led</li>
    </ol>
    <ul>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 2, nazev: 1}) }}">Povídka č.1</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 2, nazev: 2}) }}">Povídka č.2</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 2, nazev: 3}) }}">Povídka č.3</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 2, nazev: 4}) }}">Povídka č.4</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 2, nazev: 5}) }}">Povídka č.5</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 2, nazev: 6}) }}">Povídka č.6</a></li>
    </ul>

    <h2>Třetí kolo povídkové soutěže</h2>
    <ul>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 3, nazev: 1}) }}">Povídka č.1</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 3, nazev: 2}) }}">Povídka č.2</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 3, nazev: 3}) }}">Povídka č.3</a></li>
      <li><a href="{{ url('povidky-soutezni-kus', {kolo: 3, nazev: 4}) }}">Povídka č.4</a></li>
    </ul>
  </div>
{% endblock %}
