{% extends "post.html" %}

{% set title = 'Historická povídka č. 13 (1. kolo)' %}

{% block content %}
  <br><b>Autorka: Seans</b><br>

  <p>
  <BR>
  CATELYN STARK <BR>
  měla hrozné bolesti. Něco takového ještě nikdy nezažila. Ale snesla by klidně dvojnásobnou bolest, jen aby se jejímu děťátku nic nestalo. <BR>

  Konečně to bylo za ní. Mistr jí podal malý růžový uzlíček a ona si ho přiložila ke svému prsu. Pohladila svého chlapečka po jeho tmavě hnědých vláscích. Bude se jmenovat Robb. Toto jméno se jí vždy moc líbilo. Byl tak nádherný a hlavně byl její. Z jejího lůna a ze sémě toho zamračeného Eddarda Starka. Kéž by jejím manželem byl Brandon! Ať je otec jaký chce, děťátko je její a ona nepřipustí, aby se mu něco stalo. <BR><BR>
  EDDARD STARK <BR>se vracel na Zimohrad. Královo přístaviště mělo taky své kouzlo, ale nic nemělo na letní sníh na severu. Už jakoby cítil vločky ve vlasech. Cestou se ale ještě hodlal zastavit na orlím hnízdě a navštívit Jona Arryna, který mu byl druhým otcem jako mu byl Robert druhým bratrem. Ostatně za svou manželkou nijak nespěchal. Tato hezká, milá a usměvavá dívka rozmazlená řekotočským podnebím se mnohem víc hodila k Branovi než k němu. <BR>

  Ned se musel usmát, když uviděl Orlí hnízdo, těch krásných sedm věží rovně zapíchnutých v zemi. Cesta mu při tom pohledu ubíhala rychle a za už jel na mule nahoru. Když stanul před bránou, natěšeně ji otevřel a vešel dovnitř. <BR>

  Cestu do komnat Jona Arryna absolvoval snad tisíckrát. Zvládl by ji i poslepu. „Lorde Jone! Jone Arryne!“ volal Ned po cestě, ale nikdo mu neodpovídal. Když otevřel dveře, čekalo na něj překvapení.
  <BR>
  Na posteli ležela podivně zkroucená hnědovlasá žena, vedle ní spalo malé dítě, tak den staré a v židli seděl malý šedivý mistr Coelom.
  <BR>
  „Co to?“ zeptal se Ned, který se na víc nezmohl.
  <BR>
  Mistr si povzdychl. „Lady Lysa,“ ukázal na ženu „a její syn.“ Eddard si až teď uvědomil, že ta ležící žena je sestra jeho ženy.
  <BR>
  „Lorde Starku, bohové mi tě seslali. Lady Arryn má před sebou poslední hodiny svého života.“
  <BR>
  „Cože?“ Ned si vzpomněl na tu usměvavou ženu, která po něm vrhala závistné pohledy v řekotočském septu. Tato jí nebyla vůbec podobná.
  <BR>
  „Měla hrozný porod. Tullyové toto mají vrozené.Tahal jsem z ní chlapce několik hodin.“
  <BR>
  „Mistře, nikdy si lorda Arryna nezklamal. Musíš tu nebohou ženu přivést k životu. Kde je vůbec Jon?“
  <BR>
  „Robert pro lorda Jona poslal, aby z něj udělal svého pobočníka, a tak jel. Lysa ho vyloženě nechtěla u porodu. To děvče pro něj nic neznamená, mohla by to být jeho vnučka, a tak jel.“
  <BR>
  „Udělej pro tu ženu maximum. Zaplatím ti, kolik budeš chtít.“
  <BR>
  Mistr se smutně zasmál. „Drahý Nede, jsem mistr a musím sloužit. Ale život se nedá koupit. Její dny už jsou sečteny.“
  <BR>
  Eddard viděl Lysu Arryn podruhé v životě, ale i tak k ní cítil jakési pouto. Patřila do jeho rodiny a on ji nehodlá nenachat zemřít. Z profilu se malinko podobala Lyanně. Tu zemřít nechal, ale s lady Lysou to bude jiné.
  <BR>
  Jeho zrak najednou padl na spícího chlapce. „A co to dítě?“ zeptal se.
  <BR>
  „Eddarde, musím ti povědět vše.“ Mistr vzdychl a znovu se posadil. „Lady Lysa Jona Arryna u porodu nechtěla, jak jsem již říkal. Prý zde chce svého přítele z dětství, lorda Baeliše.“ Ned o nikom takovém nikdy neslyšel a pobídl mistra, aby pokračoval. „Drahý lord Baeliš ale napsal dopis, že se nemůže dostavit, protože jej volají povinnosti říše. Lysu to dost vzalo a každým dnem byla bledší a tišší. Když přišel porod, měla hrozné bolesti a křičela : &#699;Petyre, ach Petyre, naše dítě, Petyre jsi otec našeho syna, hrozně tě potřebuji, Petyre!&#699; A u porodu mi asistovala Elša.“
  <BR>
  Mistr to vše vykládal nevýrazným a unaveným tónem, ale Ned se dovtípil, co to znamená. Elša byla ta nejzlomyslnější a nejupovídanější služebná, jakou kdy poznal. Kdyby ji o mlčenlivost poprosil Robert, možná by mu týden vyhověla. Kdyby ji poprosil on, vysmála by se mu do očí. Služtičky vždycky měly ve větší oblibě Roberta. Však taky dobrou polovinu z nich připravil o panenství.
  <BR>
  „Nede, musíš mi pomoci,“ řekl mistr a obdařil ho prosebným pohledem.
  <BR>
  „Ale vždyť to dítě může stejně dobře být Jonovo.“
  <BR>
  „Drahý Eddarde, co si budeme nalhávat. Sémě Jona Arryna je slabé. Nepodařilo se mu tak se dvěma manželkami, v čem by Lysa měla být jiná. Petyr Baeliš je šestnáctiletý mladíček a bohové vědí, jak dlouho spolu léhali. S Jonem spali jen o svatební noci a pak musel lord Arryn odjet. Pomoz mi Nede.“
  <BR>
  „Ale jak?“ Nedovi bylo Lysy, Jona i dítěte líto, ale neměl sebemenší potuchy, jak pomoci.
  <BR>
  „Vezmi toho chlapce s sebou na Zimohrad.“
  <BR>
  „To tam jen tak můžu přijet s dítětem? Co řekne Catelyn? Touto dobou už mám možná taky syna.“
  <BR>
  „Eddarde je to tak jednoduché. Vydávej to dítě za svého bastarad. V Králově přístavišti je tolik krásných žen.“
  <BR>
  Neda to zarazilo. Budoval si pověst čestného muže a nestál o to, aby jeho dlouholeté snahy přišly vniveč. „A co má čest?“
  <BR>
  „Milý Nede Starku, copak tě lord Jon nic nenaučil? Jakou má cenu čest v porovnání s lidským životem?“
  <BR>
  „A co Catelyn.“
  <BR>
  „O lady Catelyn se povídá, že je to chytrá a milá žena. Bude to muset pochopit a otevřít svoji náruč pro tohoto chlapce.“
  <BR>
  „Co když to nepochopí?“
  <BR>
  „Nede, Nede, nechovej se jako ten malý chlapec, který přijel na Orlí hnízdo před tolika lety. Každý někdy chybujeme.“
  <BR>
  Neda to dopálilo. „Já jsem nechyboval,“ utrousil nevrle.
  <BR>
  Mistr snad nikdy neměnil výraz. „Vezmi si ho do péče na Zimohrad, nebo ho zabij.“
  <BR>
  Eddad viděl, že si chlapce musí vzít. „Ano, vezmu si toho malého s sebou na Zimohrad.“
  <BR>
  „Dám ti Wyllu jako kojnou. A drahý Nede, nemusím ti připomínat, že toto naše malé tajemství musí zůstat naším malým tajemstvím.“
  <BR>
  Eddard přikývl.
  <BR><BR>
  CATELYN STARK<BR> se probudila ve studené posteli a s láskou si vzpomněla na svou prosluněnou ložnici v Řekotočí. Už aby ten její manžel přijel, chtěla ho lépe poznat a v noci potřebovala zahřát. Z postýlky vyňala Robba a pohladila ho po jeho tmavě hnědých vláscích.
  <BR>
  Najednou se z nádvoří ozvaly nějaké zvuky. Položila chlapce do postýlky a pohlédla z okna a uviděla přijíždět svého manžela se svou družinou. Když ji spatřil, usmál se na ni a ona mu to oplatila. Zase nebyl tak ošklivý a zamračený jak si jej pamatovala. Vzala Robba do náručí a sešla na nádvoří.
  <BR>
  „Má paní,“ řekl Eddard Stark a seskočil z koně.
  <BR>
  „Jsem ráda, že jsi zase doma můj pane.“ Pohladila Robba po hlavičce a podala ho svému manželovi. „Toto je tvůj syn.“
  <BR>
  Eddard se usmál a vzal si chlapečka k sobě. Chvíli se na něj jen láskyplně díval a potom najednou na Cat vyhrkl: „ Zklamal jsem tě a zneuctil.“
  <BR>
  Cate<BR>lyn se na něj zmateně podívala. Její pohled žádal vysvětlení.

  „V Králově přístavišti jsem zplodil dítě pojmenoval jsem ho Jon. Pochop, bylo po bitvě a já… Nechal jsem se unést. Má paní, odpusť mi prosím a dovol ukázat ti, že jsem čestný muž a dobrý manžel.“
  <BR>
  Catelyn se v krku udělal knedlík. Ten Eddard Stark, který miluje svou čest nad vše? Přinutila se usmát. „Uvidíme se na obědě,“ řekla, popadla Robba a odkráčela pryč.
  <BR>
  Zatímco seděla a nechávala si rozčesávat vlasy, přemýšlela. Vůbec tě neznal a v Králově přístavišti muselo být tolik krásných dívek. Co jsi čekala, všichni jsou stejní, říkala její mysl. Jsi jeho zakonitá manželka a on zapochyboval a postavil tak mezi nás zeď, oponovalo srdce.
  <BR>
  Vzdychla a snažila se tu myšlenku vyhnat z hlavy. To se jí ale ještě minimálně měsíc nedařilo.
  <BR><BR>
  EDDARD STARK <BR>se šťastně vracel z projížďky. Požádal Catelyn, aby strávila den jenom s ním a ona jej neodmítla. Ukazoval jí krásy severu a ona dělala, že se jí líbí. Ve skutečnosti by ale nejradši byla v Řekotočí, to on poznal. Připadalo mu, že si budují jakýsi vztah. Taky se snažila nemyslet na Jona a dařilo se jí to moc dobře. Cat zkrátka byla skvělá manželka a on byl vděčný, že nedostal třeba Cersei Lannister, pověstnou pro svou nekonečnou krásu a nekonečnou pýchu. Tuto slabou náhražku za Lyannu dostal Robert a on mu vskutku nezáviděl.
  <BR>
  Když vjeli do Zimohradu, Catelyn spěchala nakojit Robba. To jsou všechny mladé matky tak úzkostlivé? On nechtěl vypadat jako krkavčí otec a tak šel s ní. Jejich syn ležel v jedné kolébce s Jonem. Wyla se shýbla a podala Robba jeho manželce. „Vyrostl, nemyslíš?“ zeptala se ho Catelyn.
  <BR>
  Ned se na něj podíval. „Ano, vyrostl. A taky mu zesvětlaly vlásky.“ Opravdu už byl docela velký.
  <BR>
  Cat se na něj usmála a přiložila chlapce ke svému prsu. Jemu nepřipadalo vhodné tu být a tak se vzdálil do svých komnat.
  <BR>
  Před dveřmi na něj čekal mistr Luwin. „Mám tu pro vás dopis z Orlího hnízda, můj pane.“ Eddard kývla hlavou, vzal si od něj dopis a vkročil do pokoje. Mistr se uklonil a odešel.
  <BR>
  Eddard se obával, že ví co je uvnitř. Lysa nemůže odolávat celou věčnost. Vždyť už tehdy to byla jen mrtvola se slabě tlukoucím srdcem. Rozechvělými prsty rozlomil pečeť a četl.
  <BR>
  Po přečtení dopisu se mu na tváři objevil úsměv. Lady Lysa žije! Mistru Colemonovi se ji jako zázrakem podařilo přivést k životu a v této chvíli je už na cestě do Králova přístaviště. Eddard si usmyslel, že se ještě toho dne půjde pomodlit do božího háje. <BR><BR>

  CATELYN STARK <BR>byla tak šťastná. Právě seděla v ložnici a kojila svou malou půlroční Sansu a její Robb ji tahal za nohu. U obou se začal projevoval tullyjský vzhled – velké modré oči a hnědé vlasy. Robb je měl trošku světlejší, asi takové jaké je měla v mládí Lysa a Sansa zase měla její kaštanový odstín. Kéž by tu teď s ní byl její manžel. Ten ale musel jít řešit něco s lorden Tallhartem. Něco ohledně pozemků. Jako by kus půdy byl důležitější než vlastní rodina!
  <BR>
  Nesmím být žárlivá. Mám se stokrát lépe než Lysa. Její sestra byla provdána za muže o čtyřicet let staršího než je ona sama a při prvním porodu málem zemřela. To se Catelyn dozvěděla až za rok od svého manžela. Může ale ona za to, že si Neda zamilovala a toužila po něm na každém kroku?
  <BR><BR>
  EDDARD STARK<BR> si právě hrál na nádvoří s dvouletou Aryou a pozoroval Robba s Jonem jak se pokouší střílet z luku. Byli tak rozdílní – Robb byl větší a silnější a Jon zase menší a rychlejší. Přesto to byli nerozluční přátelé a chodili spolu všude. Jen jej trošku zabolelo, když si vzpomněl na Catelyninu zášť k Jonovi. Kdyby jí řekl, že je to její synovec, určitě by se k němu chovala laskavěji. Pak se mu ale vybavila bledá Lysa ležící na pokraji smrti v posteli lorda Arryna a připomněl si, že je to tak nejlepší.
  <BR><BR>
  CATELYN STARK<BR> s úsměvem na tváři objala svou sestru. Už je to deset let co se neviděly a mají si rozhodně co povídat. Poslala pro nějaké víno a medový dort, který nechala speciálně připravit pro Lysinu návštěvu.
  <BR>
  „Tolik jsem se na tebe těšila Cat. V Králově přístavišti je to k zbláznění. Všichni jsou zde takoví upjatí a podezřívaví. A navíc to horko!“
  <BR>
  „A co Petyr? Slyšela jsem, že je pokladníkem.“
  <BR>
  „Ach Catelyn, Petyr je tak zaneprázdněný. Ten Robert jím sice pohrdá, ale je to ten nejpotřebnější člověk v malé radě.“
  <BR>
  „Někdy si na tebe snad čas udělá, ne? A kdo je vůbec v té malé radě?“
  <BR>
  „Catelyn, Catelyn, Petyr má tolik práce. Ale přece jen jednou za čas si na mne čas udělá.“ Podvědomě se pohladila po svém plochém břiše. „A ptala ses, kdo je v malé radě. Tak tedy – ten slizký eunuch Varys, staroušek Selmy, Jon a Petyr. Občas se uráčí v opilosti doklopýtat král a naše drahá Cersei se snaží zasahovat do politiky, ale Jon ji k tomu nepustí. Aspoň jedna věc, ke které se hodí.“
  <BR>
  Catelyn se zatvářila zmateně. „Aspoň jedna věc, ke které se hodí?“ zopakovala.
  <BR>
  „Víš jak se mi ty chvíle hnusí. Drahá sestřičko, víš jak ti závidím.“ Ochutnala koláče a napila se vína. „Catelyn, prosím, nebavme se o tom. Mimochodem, vynikající víno. Můžu si přidat?“
  <BR>
  Catelyn s Lysou si povídaly, pily víno a zase si povídaly. Cat nechtěla své sestře ublížit a tak se tématu děti a manžel vyhýbala. Když byly s Lysou malé, plánovaly si, že budou své děti vychovávat spolu a budou jedna velká rodina. Teď měla Cat čtyři děti a Lysa ani jedno. Víno jí ale rozvázalo jazyk a ona začala mluvit.
  <BR>
  „Lyso, můj nejstarší Robb je ti tak moc podobný. Vždy když něco provede, nasadí na mě ten šibalský úsměv a zalesknou se mu oči a vypadá spíš jako tvůj než můj syn. Taky jeho barva vlasů je o trošku světlejší než Sansina a Branova. Poslední dobou, když se na něj podívám, musím začít myslet na tebe.“
  <BR>
  Lysa se nasadila onen Robbův výraz. „Jsem těhotná,“ sdělila s klidem své sestře. „A otcem je Petyr.“
  <BR>
  Catelyn nezbylo než jen s vytřeštěnýma očima koukat na svou sestru.
  <BR><BR>
  EDDARD STARK <BR>stál na schodech Baelorova septa a právě vyslechl svůj verdikt. Bohové spaste mou duši, vznesl krátkou modlitbu ke starým bohům a poprvé v životě i k Sedmi. Pak si ale všiml Aryi, jak stojí v davu. Dceruško moje nejmilejší. Vždycky měl o trochu raději Aryu než Sansu, připomínala mu jeho samotného a jako on vypadala. Teď mu pohled na Aryu dodával odvahu. Podíval se jí do tváře, na její špinavé tmavé vlasy a ostře řezané severské rysy. Aryo, Jone, Robbe! Došlo mu to. Jak s tímto mohl patnáct let žít? Ten známý pohled v Malíčkových očích. Robbův pohled.
  <BR>
  Pak už ale zasvištěl meč a…
  <BR><BR>
  CATELYN STARK <BR>slyšela už jen „syna za syna, he. Jenže tohle je vnuk a nikdy mi nebyl k užitku.
  <BR>
  K Robbovi přistoupil muž v tmavé zbroji a bleděrůžovém plášti potřísněném krví. „Jaime Lannister ti posílá pozdravení.“ Vrazil svůj nůž jejímu synovi hluboko do srdce a otočil čepelí. Robb porušil slovo, ale Catelyn své dodržela. Prudce sevřela Aegonovy vlasy a řezala do jeho krku, dokud čepel nenarazila na kost. Přes prsty jí stékala teplá krev, Zvoníčkovy drobné zvonky cinkaly, cinkaly, cinkaly, a buben dál duněl, bum, bum, bum.
  <BR>
  Konečně jí kdosi vzal dýku z ruky. Slzy, co jí stékaly z očí, pálily jako ocet a deset vzteklých havranů jí drásala tváře ostrými drápy, odtrhávalo kusy masa a zanechávalo po nich hluboké rýhy, které se plnily rudou tekutinou. Cítila na rtech vlastní krev.
  <BR>
  Tolik to bolí, pomyslela si. Naše děti. Nede, všechna naše sladká děťátka. Rickon, Bran, Arya, Sansa, Robb…Robb… Potom se zahleděla na Robbovu čerstvou mrtvolu. Došlo jí to. Jak s tím mohla patnáct let žít. Tenkrát u kolébky… Ten známý pohled v Lysiných očích. Robbův pohled. Jone, vlastně chlapečku můj. Pokud můžeš, odpusť mi. Všechny ty věci. Čtrnáct let pohrdání od své vlastní matky, která místo syna opečovává synovce. Matko, opatruj Jona na všech jeho cestách.
  <BR>
  Prosím, Nede, prosím, ukonči to, ukonči tu bolest…
  </p>
{% endblock %}
