{% extends "post.html" %}

{% set title = 'Historická povídka č. 7 (1. kolo)' %}

{% block content %}
<br><b>Autorka: Livtrasi</b><br>

<p>
<BR>

Na Sever<BR>
<BR>

V hlavě měl zmatek, který se snažil systematicky třídit. Událo se toho příliš, informací málo. Je lordem Zimohradu, s čímž nikdy nepočítal. Titul zdědil po bratrovi i se snoubenkou. Přišel o otce, bratra a sestru, zato má manželku, kterou ani nezná. Má dva dobré přátelé, opravdu dobré přátelé, ale jak dlouho ještě? <BR>

Bárka se zhoupla a na palubu cákla trocha mořské vody. Aspoň doufal, že to je trocha, protože byla skoro již tma a měsíc dnes nevyjde. Pár hvězd občas vykouklo mezi temnými hradbami mraků a slabé světlo lampy, kterou rybář rozžehnul teprve před chvílí jen mdle zdůrazňovalo temnotu. Uhnul nohama pod sedátko. <BR>

„Marně sire, brzo všichni řádně zmokneme“ zabručel rybář a blesknul pohledem k západní obloze. Mělo tam být otevřené moře, ale vypadalo to na siluetu hor. Nebo Zdi. Nedovy myšlenky zalétly domů a ještě kousek na sever – na Zdi by mu bylo líp. Mnohem líp. Zeď je to pravé místo, kde být, pro muže, co ztratili příliš mnoho dřív, než stačili zestárnout. Jenže si byl téměř jist, že před šíleným Aerysem by ho ani Zeď neochránila. Ani Jona a Roberta. Pak si vzpomněl na Benjena a celá tíha zodpovědnosti na něj dolehla. Co by si malý Benjen počal s titulem lorda Severu. Nejsem takový zbabělec, abych v tom bratra nechal. Jen už je mi z té nejistoty zle. Navíc jsem ženatý – mám povinnosti k manželce, i když mne s ní nepojí nic kromě toho manželského slibu. Chtěl jsem jednou dívku ze Severu. Druzí synové Zimohradu si vždycky brali dívky ze Severu. Většinou i ti prvorození. Ženy z jižních království nemají pro Sever pochopení, nevidí v něm krásu, jen pusté zasněžené lesy plné zlovlků, pokud ne rovnou obrů. Nerozumí Starým bohům, nectí čarostromy – děsí je. Už tak dlouho nepocítil klid háje. Na Orlím hnízdě čarostromy nerostou. Teď by je potřeboval, aby si urovnal myšlenky, aby rozhodl vše, co je rozhodnout třeba, aby udělal, co musí. <BR>

„Bryn, pomoz mi s plachtou“ houknul rybář na dceru, která zajišťovala provazem složenou rybářskou síť. Dívka asi jen o dva roky starší než Eddard se zvedla a začala silnýma rukama přetahovat naolejované plátno přes příď. Ned byl překvapen, že rybář má na lodi dceru. Neslyšel o ženách rybářkách, zato zaslechl řadu pověrčivých zkazek o smůle, kterou ženy na lodi nosí. Tahle však na lodi byla a zjevně se rybolovem živila. Asi nemá jediného bratra, který by otci pomáhal. Nevypadala ani vyčerpaná nebo zklamaná těžkou prací. Spíše naopak – sálala energií a odhodláním. <BR>

Rybářský člun se houpal na neklidných vlnách a jeho posádka se připravovala na bouřku, která musela přijít. Přetažením naolejované plachty přes žerdě na věšení větších úlovků vytvořili provizorní kajutu, která loďce scházela. Eddard se do příprav nezapojoval. Jednak by spíše překážel sehrané dvojici a druhak mu mysl zaplavovaly starosti, které využily tuto chvíli relativní nečinnosti a soustředěně zaútočily na svého nositele. <BR>

Myslel na svého nejlepšího přítele Roberta, který pro jeho sestru Lyannu vzbouřil zem. Ubohá Lyanna, co s ní asi je? Prokletý Harrenov! Říká se o něm, že je prokletý a pro Lyannu dozajista je. A já mám manželku, jejíž matka je z Harrenovského rodu – je to také prokletí? Nešlo to jinak. Zajistil jsem tím čtvrtý ze sedmi velkých rodů pro svržení šíleného krále. Do očí mu vstoupily slzy při vzpomínce na otce, bratra i sestru. Mohl si to dovolit, v noční bouřce na moři si nikdo slz nevšimne – celé moře je slané. A ani moře slz mu je nevrátí. <BR>

Rozhlédl se zase duchem přítomen po moři, obloze a malé rybářské bárce, která ho měla dopravit z Údolí na Sever. Zpod naolejovaného plátna měl jen malý výhled, ale i ten stačil na to, aby věděl, že je bouře nenechá odpočinout natož vyspat. Kéž by byli už aspoň na Kousanci, ale na to je brzo, nejdřív zítra odpoledne při dobrém větru. A při tomto větru….snad jen bohové vědí. <BR>

Lilo a vichřice vyla, cítil se zkřehlý bez možnosti se trochu zahřát. Zatínal svaly, aby je udržel provozuschopné, kdyby bylo potřeba jeho pomoci. Rybář s dcerou bouři zvládali dobře, věděli co dělat i beze slov. Stáhli jedinou plachtu, kterou člun měl a připevnili ke stožáru lany, aby ji vítr neroztrhal na marné kousky. Nyní se střídali pod přístřeškem a u kormidla. Eddard obdivoval dívku, na níž nebyl vidět strach. Připomínala mu ženy horských kmenů. Popelavé vlasy jí vichr v pramenech vytahal z drdolu a mokré se jí lepily na tvář. <BR>

Nyní si rozzuřené živly již vyžádaly spojené úsilí otce a dcery. Eddard pod přístřeškem osaměl s všudypřítomnou bouří. Ač pod plachtou, byl již promáčen skrz na skrz. Měl co dělat, aby se udržel na sedátku. Utéct před Aerysem a utopit se na útěku. Takhle nechtěl zemřít. Raději padnout v boji, aby jeho smrt měla smysl. Ale jaký hledat smysl ve smrti. <BR>

Zdálo se mu, že ve vytí vichřice zaslechl výkřik. Pronikavý zvuk, který na chvíli rozčísl nadvládu živlů. Váhal má-li se vydat hledat původce či důvod výkřiku. Rozpolceně přemýšlel, zda-li by byl nějak užitečný nebo spíš překážel. Ke kormidlu, kde se nacházeli otec s dcerou neviděl. Nakonec přece jen převážila obava, aby nezanedbal pomoci jim v nouzi. Přidržujíce se žerdí, vypotácel se zpod plachty a v mokré tmě, která mu chlístala vodu do tváře se snažil rozpoznat postavy u kormidla. Slabě rozeznával matnou záři lampy, která ještě nepochopitelně svítila připevněná na zádi. Po kolenou, přidržujíce se klandru levou a všeho, co nahmatal pravou, se přesouval na záď. Tak malá loď a tak dlouhá cesta! Konečně se vyplazil na zvýšenou palubu u kormidla, kde viděl pohyb postavy. Ale jen jedné postavy! <BR>

Bryn křečovitě svírala kormidlo zapřená nohama. „Kde je otec?!“ zařval na ni a doufal, že ho uslyší. Nejspíš slyšela, protože se mu podívala do očí a pak je zase upřela do temnoty plné vody, která je ze všech stran obklopovala. Nepokoušel se ptát znova. Odpovědí si byl téměř jist. Nevěda, co udělat, se rovněž chytil kormidla a zůstal na palubě s ní. <BR>

Jakkoliv se zdála živelná smršť nekonečná, přece jen se uklidnila. A temné hradby z obloze odvál vítr nad pevninu. Pořád se ještě ztuhle drželi kormidla, když kolem zavládl téměř klid v porovnání s uplynulýma hodinami. <BR>

„Bryn,“ zachraplal její jméno, „Bryn, pojď si odpočinout.“ Chvíli to vypadalo, že se nepohne, ale pak přece jen pustila zajištěné kormidlo a váhavým krokem zamířila k promáčené lavici. Eddard se potácel za ní. Nejprve připevnil provazem uvolněný cíp schlíplé plachty. Poté se sesul k jejím nohám. <BR>

„Staří bohové,“ šeptala Bryn. „Staří bohové,“ nakousla znova, ale vypadalo to, že nedokáže pokračovat v modlitbě za otce. Eddard, aniž by nad tím přemýšlel, se ujal slova a dokončil tradiční pohřební modlitbu místo ní, tak jak ji slýchával od svého otce na Zimohradu nesčetněkrát. Poté je zahalilo ticho a následně spánek. <BR>

Ned se probudil, když se Bryn pohnula, protože jí usnul s hlavou opřenou o stehno. V krku měl vysušenou poušť a jazyk jak solí vydělanou kůži. Jak je to možné, že po tolika vodě prahnu po další. Vypadalo to však, že mladá žena je na tom stejně. Odjistila petlici velké plechové bedny, která chránila zásoby pitné vody a potraviny. Oba se několikrát napili, ale na jídlo moc chuti neměli, proto se jen podělili o váček ovocných křížal. Tiše žvýkali suché ovoce ponořeni do vlastních myšlenek. <BR>

Eddard zvedl hlavu, jako by mu teprve něco došlo. <BR>

„Ty uctíváš Staré bohy?“ <BR>

Pohlédla na něj a zaostřila do přítomnosti „Ano.“ <BR>

„Po matce,“ dodala po chvíli. „Moje matka,……ona byla z divokých lidí….tam za Zdí.“ <BR>

Ned se na ni udiveně zadíval. Bryn po chvíli pokračovala. <BR>

„Nevím, proč přesně se vydala na jih. Ani jak se dostala přes Zeď. Ale vyprávěla mi, že když se sebrala z domova a utíkala, tak potkala zelenovidce. Řekl jí – Jen utíkej jak daleko chceš na jih; tvá krev se stejně vrátí na sever za Zeď až to bude potřeba – a ona utíkala přes celý Sever až na Tři sestry a tam……ani nevím proč a jak se usadila s mým otcem.“ Bryn se zhluboka nadechla a hlasitě vydechla. „Umřela dávno a já už si pamatuji jen ty pohádky o obrech a zlovlcích, které mi vyprávěla. Možná to byla taky pohádka o zelenovidci.“ <BR>

„Nám chůva taky vyprávěla příběhy o zelenovidcích….a zlovlcích a obrech taky. Ale dříve zelenovidci skutečně žili.“ <BR>

Dívka dojedla křížaly a ruce si otřela o kalhoty. „Musíme se převlíknout do suchého nebo nás zabije voda na plicích.“ Vytáhla odněkud dobře naolejovaných balík a z něj vytáhla dvě opotřebované dlouhé režné haleny. „Vem si tátovu,“ hodila kus oděvu Nedovi. Vděčně přijal nabízenou halenu a začal se soukat ze svých promáčených šatů, ježto byly tak prosolené, že až štípaly. Hlavou mu blesklo, jak prožitá krize smazala třídní rozdíly a společenské formality. Rozvěsili mokré oděvy do větru, a pak pod Bryniným dohledem napnuli plachtu. <BR>

„Odklonili jsme se z dráhy a ztratili skoro den. Ale s tímto větrem budeme na Kousanci zítra ráno.“ Vrátila se pod přístřešek a vytáhla ještě suchou deku. Chvilku zaváhala a pak ho vybídla ať se pod ni schoulí oba, aby ve všudypřítomném větru neprochladli. „Co teď budeš dělat, když tvůj otec….“ nedopověděl Ned. Nadechla se a místo odpovědi vzdychla. Znova se nadechla a opět ze sebe nedokázala vysoukat odpověď. Objal ji a přitáhl k sobě. Vděčně se přitiskla a stulila se mu do klína. Její tělo se párkrát trhavě zachvělo jako při pláči, ale žáden vzlyk se neozval. Po delší chvíli, kdy myslel, že třeba usnula se přece jen ozvala. „Asi se budu muset vdát……za jednoho z těch buranů z přístavu.“ Připomněla mu tím trpkou pachuť jeho vlastního manželství z povinnosti. A on sám přitom toužil po dívce jako ona. Dívce ze Severu. Vlastně ještě severnější. Na takovouto ženu by se mohl spolehnout. Taková by mu rozuměla. Zatoužil ji obejmout. Moc zkušeností s tím neměl. Na Orlím hnízdě moc dívek nebylo a těch pár si pro sebe zabral Robert. Svatební noc byla jen plněním povinnosti a neměl z toho dobrý pocit. Musel myslet na Brandona a cítil se kvůli němu provinile. Ale tahle mladá žena – ta byla jen sama sebou a zároveň vším, co od života chtěl. Přivinul ji k sobě. Napůl čekal a možná doufal, že se vzepře. Kdyby trpně spočívala v jeho náruči; snad by sám dál nezašel. Bryn mu však vyšla dravě a spontánně vstříc. Slyšel, že divoké ženy za Zdí si samy vybírají partnera a taky umí více než rázně odmítnout nevhodného nápadníka. Je tak jiné vědět, že si vybrali jeden druhého v tomto světě nucených svazků. A pak už na nic z toho nemyslel. Opilí tím, že jsou naživu a že aspoň jednou mohou projevit svobodnou vůli.
Po mnoho dalších hodin zapomněli na všechna příkoří, na všechny ztráty, které jim život uštědřil. Eddard se po řadě hořkých měsíců upřímně smál. A miloval. Hladově. Vášnivě. Upřímně. <BR>

Později začal bláznivě snít o tom, že kdyby otec i bratr žili, tak by se s trochou štěstí a přemlouvání mohl oženit s touto dívkou Brynhild, dcerou Solveig z divokých za Zdí. Ano, asi by musel počkat až by Brandon zplodil potomka a dědice Zimohradu, ale pak by byl volný. Bezvýznamný druhorozený syn. Šťastný a svobodný. <BR>

Den se přehoupl a jejich bárka přistála na Kousanci. Tíha zodpovědnosti na něj dopadla jako kladivo. Jeho přátelé Robert i Jon Arryn jsou ve smrtelném nebezpečí a on si zde přemýšlí nad tím, že by zmizel někam na odlehlé pobřeží s ženou, která se zhmotnila z jeho mladických snů. Doplnili zásoby a vypluli k pobřeží. Smutně se k sobě choulili, věda, že jejich cesty se rozcházejí a každý musí splnit své povinnosti. <BR>

Zanechal Bryn všechno stříbro, kterým ho vybavil Jon Arryn a mohl si dovolit ho postrádat. Doufal, že ji snad uchrání od nejhoršího a bude si moci alespoň vybrat, za koho se provdá. Jejich loučení bylo krátké a bez slz. Slzy by byly zbytečné, vždyť moře je slané dost. Nevěřili, že se kdy ještě potkají. <BR>

Na konci války ho zastihl vzkaz.
</p>
{% endblock %}
