{% extends "post.html" %}

{% set title = 'Drabble č. 1 (6. kolo)' %}

{% block content %}

  <h2>Drabble č. 1</h2>
<p>„Vážení diváci, děkujeme, že jste se po reklamním bloku vraceli k televizní soutěži ‚Odpověz nebo padni‘. Já jsem Roman Prach a se mnou ve studiu je pan Dalibor Hruška. Tak co, pane Hruško, je to takové mučení být tu v naší soutěži?“</p>
<p>„To je položení soutěžní otázky?“</p>
<p>„Achacha, nikoli, to bych vám musel dát čtyři možnosti a tady mě napadají jenom dvě.“</p>
<p>„Uf, to jsem si oddechl. Těžce jste mne vyděsil. Zatím není, když se mnou budete mít slitování.“</p>
<p>„O to se nebojte, nejsme tak krutí. I naši diváci zde ve studiu to potvrzují, jen se podívejte, jak vám drží palce. Ale naše soutěž ‚Odpověz nebo padni‘ pokračuje. A máme tu otázku za deset tisíc. Co je to bankovka? Za á, dívka pracující v bance, za bé, lavička v parku, za cé, nábřeží, za dé, bezúročný platební prostředek. Máte přesně deset vteřin na odpověď, váš odpočet začíná – teď!“</p>
<p>„Tik tak tik tak tik tak.“</p>
<p>„Bankovky znám, přicházím s nimi do styku denně. Správná odpověď je za…“</p>
<p>„Tůt! Tůt! Tůt!“</p>
<p>Lituji pane Hruško, ale vyčerpal jste svůj limit. Jak se říká v naší soutěži, nebuď jako padouch, co se vykecává tak dlouho, až prohraje. Teď padnete jako zralá hruška.</p>
<p>A vy vážení diváci zůstaňte s námi. Zatímco náš předchozí soutěžící bude během reklamního bloku zbaven života, na jeho křeslo se jde obětovat náš další dnešní soutěžící, pan Blahoslav Pěšák. Já jsem Roman Prach a těším se s vámi za chvíli opět na viděnou.“</p>


  {% endblock %}
