{% extends "post.html" %}

{% set title = 'Drabble č. 11 (6. kolo)' %}

{% block content %}

  <h2>Drabble č. 11</h2>
<p>Zajatce nesli čtyři silní chlapi. Byl skoro v bezvědomí, hlava se mu kolébala ze strany na stranu, celý od prachu a potrhaný, tak jako ti, co ho přinesli.</p>
<p>„Tak ty nám prý po hospodách vyprávíš, že v Číně se platí bankovkami. Nuž, ale proto jsem tě sem nepřivedl. Pusťte ho,“ přikázal.</p>
<p>„Žádné slitování s ním, pane,“ prohlásil jeden z pohůnků. Muselo nás na něj být deset. Pár z nás to odneslo pěknými modřinami a mně samotnému židlí zlomil dva prsty.“</p>
<p>„A právě proto ho chci. Tak co, zrádče, jak se ti u nás líbí?“</p>
<p>Zajatec byl zkrvavený, když však spatřil svého věznitele, těžce polkl a do očí mu řekl: „Já a zrádce? Ty sám jsi podepsal důstojnický revers, pane Ottavio. Slíbil jsi císařovu generalissimovi věrnost jako já. Můžeš mě vystavit mučení, ale tím nic nezměníš.“</p>
<p>„Na tvém místě bych se nevracel k tomu, co bylo, pane Prokope. Pan z Frýdlantu je mrtvý a ty bys mohl být taky. A zde začíná tvá šance. Posaďte ho na židli a přineste mu vodu.“</p>
<p>Když Ottaviovi muži splnili rozkaz, zajatec se na chvíli sesul na stůl před sebou. Bylo to jen na chviličku, ale to položení hlavy mu dovolilo trochu se vzpamatovat. „Vodu?“ pokusil se zavtipkovat.</p>
<p>„Víno až jestli si plácneme,“ řekl Ottavio. Na mém panství řádí zvláštní vlk, veliký prý jako býk, trhá ovce i skot, nikdo s ním nic nesvede. Prý je to samotný ďábel. Když ho pro mne ulovíš, budeš žít.“</p>
<p>„A když ne?“</p>
<p>„Budeš si přát opak,“ řekl Ottavio.</p>
  {% endblock %}
