{% extends "post.html" %}

{% set title = 'Drabble č. 12 (6. kolo)' %}

{% block content %}

  <h2>Drabble č. 12</h2>
<p>Nic nešlo podle plánu. Psi, alarm, stráže. Jeden průšvih za druhým. A teď se všechny bankovky obrátily v prach, jakoby byly prokleté. "To nám to pěkně začíná pomyslel si jeden ze zlodějů." Štěkot rozzuřených bestií sílil, jak s každým krokem snižovali náskok prchajících nešťastníků. Z toho mučivého pocitu, co se stane, až je doženou, se mu zvedal žaludek. Vrátit se už nemohli, utéct nejspíš také ne. Jeho plíce se jen ztěžka plnily vzduchem. Po dlouhém pronásledování už byl unavený. Chtěl se na chvíli položit na zem, ale věděl, že to by byl jeho konec. </p>
<p>"Musíme jít!" Vřísknul na něj jeden z kompliců. "Musíme se dostat k řece. Tam ztratí náš pach. Rozdělíme se, každý vezme část peněz a setkáme se až za hranicemi. Až budeme sedět v bezpečí, tohle všechno bude jenom noční můra. Nic víc. Jdeme!" Nikdo z nich snad ani nedoufal, že se k řece dostanou. Bylo to jen rozptýlení. Poslední naděje bránící propadu do šílenství a beznaděje. Od začátku to byl špatný nápad. Vydali se na další cestu. Pronásledovatelé se ale kvapem blížili. Během chvíle se celá skupinka zlodějů dostala malou louku. "Jak je to daleko? Jak je to sakra ještě daleko k tý podělaný řece?" Vřísknul jeden z nich a jeho hlas se lámal do vysokých tónů. "Jenom pár kroků. Které ovšem... nikdy neujdete." Ozval se hlas z houští a skupinku obstoupili strážníci se psy. "Nemějte s nimi žádné slitování." Zavrčel jeden z nich.</p> 


  {% endblock %}
