{% extends "post.html" %}

{% set title = 'Drabble č. 5 (6. kolo)' %}

{% block content %}

  <h2>Drabble č. 5</h2>
<p>Říká se, že něco někde začíná a něco někde končí. Ale pokud začíná jenom něco, a jenom něco končí, pak by mohlo existovat něco, co nikdy nezačne a přesto to skončí. A nebo to bylo jinak? Třeba se říká úplně něco jiného. A jak já to mám vůbec vědět. Teď mlčte! Chci vám povědět jak to všechno skončilo.</p>
<p>Žila byla umírala jedna komářice. To je naprosto pochopitelné, že umírala. Byla velmi mladá, necelé tři životní cykly vesmíru. Přes svůj krátký život si toho spoustu prožila. Mučena hladem, tedy spíš žízní (pochopte, je to komářice). Mučena těžkostí hledání potravy ve světe, kde existoval jen prach a prachy. Jó prachy. Bankovky se jim říkalo, ale to bylo dlouho předtím. Tak dlouho, že už to není podstatné.</p>
<p>Vraťme se k naší komářici. Jak už jsem říkal, hladová, zmučená, umírající duše se položila do prachu a prachů, aby v nich zdechla. Slitování smrti. Konec mučení. Už žádné hledání stvoření složených ze sladké krve. Och té rudé kapaliny přeopojné chuti. Jednou ji ochutnala, jenom jednou a cokoli dalšího ztratilo smysl. </p>
<p>Už se vzdala hledání těch stvoření. Těch bílých bachratých stvoření se čtyřmi výrustky. Jediné, co kdy potkala, kroužilo kolem uskupení křemičitanů, když prolítala tou směšně mladou sluneční soustavou. Vysála ho do sucha. Navštívila všechna uskupení křemičitanů v tomhle vesmíru. Žádná další bachratá stvoření. Třeba by se mohla vrátit do té směšné soustavy. Jen pro tu vzpomínku. Komářice se zvedla a vyrazila na poslední cestu.</p>
<p>A tak to všechno začalo.</p>

  {% endblock %}
