{% extends "post.html" %}

{% set title = 'Drabble č. 6 (6. kolo)' %}

{% block content %}

  <h2>Drabble č. 6</h2>
<p>Obzor Tunel shrábl vějířek bankovek do balíčku a gestem karetního iluzionisty je nechal zmizet někde v útrobách podšívky těžkého a dost obnošeného a zaprášeného pláště, který byl téměř jeho obchodní značkou. Tak ho znali – drsňák bez slitování, v dlouhém kabátě a rozpoložení piraně se zácpou. Málo kdo na něj promluvil, pokud vyloženě nemusel, dokonce si i dvakrát rozmysleli dívat se na něj. Úřednická verbež. Nesnášel tyhle kancelářské krysy, stejně jako kilometry katakomb plné jejich doupat. Nemohl se dočkat, až vypadne na vzduch. Přesněji na něco k pití. Nakonec – má splněno. Pakambalu s princeznu vystopoval, chytil a předal lidem Nejmenovaného. Odplivl si. Jistě, musí myslet na stavební spoření, ale pěknou část dnešního bakšiše prolije hrdlem!</p>

<p>Drůza si nervózně kousala nehet. Uvědomila si to, spojila ruce za zády, přecházet po pokoji ale nepřestala. Pro změnu si nervózně kousala ret. Bylo jí trochu na zvracení a celkově byla dost nespokojená. Co poslední dobou zažívala, by se dalo nazvat různě, dokonce i pěknej vopruz, ale rozhodně ne dobrodružství. Možná několik pěkných západů slunce v lilastepi by s přimhouřením oka prošlo, ale jinak se všechno odvíjelo v příkrém rozporu s jejími nejoblíbenějšími knihami lila knihovny. Jak to, že jí všichni lhali, když je princezna? Nebyla hloupá a začínala tušit, že jí lhali právě proto. Připadala si podvedená. I když si to nechtěla přiznat, nejvíc jí vadilo, že když už protrpěla všechna ta „dobrodružství“, zachraňuje jí někdo s tak divným sklonem uší jako Antivýrok. Ale ani tak si nezasluhuje mučení. Zjistila, že se o něj bojí.</p>

  {% endblock %}
