{% extends "post.html" %}

{% set title = 'Drabble č. 7 (6. kolo)' %}

{% block content %}

  <h2>Drabble č. 7</h2>
<p>„Nezapomeňte na prach a kule,“ připomínal náčelník banditů Burcajz kumpánům Loupákovi, Rukyhorovi a Sosákovi. „A žádný slitování. Kdo nevydá zlaťáky, drahokamy, bankovky, jakož i jiný cennosti hned napoprvé, bude synem smrti.“</p>
<p>„Ale náčelníku,“ oponoval Loupák, jednooký loupežník s páskou přes zdravé oko a šavlí u pasu naostřenou tak, že mu už třikrát rozřízla opasek a spadly mu kalhoty, „vždyť my máme přepadnout vůz plnej paniček.“</p>
<p>„No a?“ </p>
<p>„No, ženská přece nemůže bejt syn smrti ne? To dá rozum.“</p>
<p>„Nechápej to doslovně.“</p>
<p>„No vážne, náčelník, veď tuto Lúpák má pravdu,“ drbal se na bradě Rukyhor, zběhlý od zboje, který myslel stejně těžce, jako dopadal na pravou nohu. „Ako z tých báb máme urobiť synčekov. Veď toto je proti prírode.“</p>
<p>„Rukyhore, ticho!“ děl náčelník, ale ani třetí loupežník nechtěl téma opustit.</p>
<p>„Já teda viděl jednu, totiž jednoho, myslel jsem, že je to dcera, ale pak jsem jí zvednul zástěru a byl to syn. No na mou černou loupežnickou duši. Nikdy jsem se tak nepolekal, ani toho hejkala v medvědí strži.“</p>
<p>„Tak dost,“ zahromoval Burcajz. „Kdo by se ještě vracel k synům nebo dcerám, tomu začne takový mučení, že se z toho vzpamatuje, až nebude vědět, jestli je sám syn, dcera nebo něco jinýho. Jdeme.“</p>
<p>O hodinu později leželi položení u cesty a čekali na vůz. Když se o hodnou chvíli později objevil, Rukyhor zvolal „Ruky hore a práskl do vzduchu. Jenže staré dámy jen projely kolem a loupežníkům zatleskaly v domnění, že jde o součást divadla v přírodě, na které se vyptravily.</p>

  {% endblock %}
