{% extends "post.html" %}

{% set title = 'Drabble č. 9 (6. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>
<p>„U nás se platí poctivými penězi z kovu, žádnými popsanými papírky,“ durdil se hospodský na malého chlapíka s kulatými tvářemi. Zástěru měl pokrytou moučným prachem a ruce umaštěné. „Jak mám vědět, že se jmenuješ tak jak tvrdíš. Co je to vůbec za vynález, tyhle směnky, úpisy, daleko v Číně dokonce prý platí nějakými bankovkami. Nemáš peníze, nelez do hospody.“</p>
<p>„Ale ta směnka je dokonale krytá,“ bránil se host. „V Chebu ti za ni pán z Frýdlantu vyplatí plnou sumu.“</p>
<p>Hostinský ho však nebral na vědomí. Odběhl kamsi do kuchyně, a když se vracel, provázeli ho dva chlapci od pohledu silní jako býk a také tak chytří. „Drobku, Ferdo, tenhle pán tvrdí, že nemá na zaplacení. Obraťte mu kapsy, podíváme se.“</p> 
<p>Pohled na ty dva vyvolal v hostu hrůzu, jako kdyby byl položen na mučení. „Slitování,“ pištěl, ale to už ho oba chlapci popadli za šosy.</p>
<p>„Kolik to dělá?“ ozval se hlas ode dveří. Tichý, přesto jej nebylo možno ignorovat. I Drobek a Ferda se překvapeně otočili a upuštěný mužík těžce padl na zem.</p>
<p>„Co jsi pravil, vzácný pane?“ odvážil se zeptat hostinský.</p>
<p>„Ptal jsem se, kolik dělá jeho útrata.“ Muž vystoupil z rámu dveří. Klobouk, těžký rapír po boku, pár pistolí za pasem a jezdecké boty, jaké nosívají dragouni a kyrysníci napovídaly, že muž patří k Valdštejnovým důstojníkům, se kterými si není radno začínat.</p>
<p>„Tři-tři tolary, vzácný pane.“ Tři mince zazvonily o stůl.</p>
<p>„Tady máš, kup si za ně trochu zdvořilosti.“</p>

  {% endblock %}
