{% extends "post.html" %}

{% set title = 'Drabble č. 1 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 1</h2>
<p>Shireen</p>

<p>Seběhne dole schodištěm a pak utíká po cimbuří. Klouže na černém kamení mokrém od mořské tříště a deště. V loužích se zrcadlí záblesky žáru a strašlivé zvěrské tvary. Rudá žena to říkala. Dračí dech na obloze a pak... Pak i tady. Jsou jich desítky po celém hradu, má po nich i jméno – Dračí kámen. A teď započali lov. Naštěstí je už u dveří. Lomcuje klikou, zatímco za ní skřípou a zvoní drápy a šupiny těžkých těl. Dveře se vzpírají a pak najednou povolí a ona se s výkřikem zřítí do tmy uvnitř.</p>
<p>Kolena a dlaně ji zaštípou, vzlykne, ale bouři už neslyší. Vydechne si. Unikla. Postaví se a sevře ji nová hrůza. Tyčí se v kruhu kolem ní, obtočení kolem sloupoví, nebo sedící na dlažbě. Jsou nehybní, blanitá křídla složená, hrubé tlapy pokrčené, ocasy různě zkroucené, dlouhé krky zvednuté, jako sochy, ale prozrazují je žhnoucí oči upřené na ni. Číhají, celou tu dobu číhali, aby mohli zaútočit v tu pravou nestřeženou chvíli.</p> <p>Ze šera zazní šaškovi známé verše o tančících stínech a pomezi ně mnohohlasý smích.</p>
<p>„Kameny! Jsou to kameny! Možná se i kameny živí. My se bát nemusíme, ale ty, Shireen, ty bys měla běžet. Pokud to umíš, když jsi sama zkamenělá.“
Přes strach bodne žal. Ano, slyšela je šeptat si kdeco za zády. Děti i dospělé, sloužící i šlechtice. O šedém lupu, který jí poznačil obličej a krk a lidi se ho báli. I o jiném.</p>
<p>„Ošklivka! Nemocná uplakaná zrůdička! Malý hradný chrlič! Utíííkeeej!!!“</p>
<p>S posledním výkřikem se pohnou i plazí bestie, tlamy rozevřené, tesáky jako meče. Utíkej, ale kam? Jsou všude!</p>
<p>„Zmlkněte! To vy jste zrůdy! A ona princezna bouře a železa.“</p>
<p>„Edriku?“</p>
<p>„Tady!“</p>
<p>Už jej vidí, v zářivé průrvě, na prove lodi, v rukou napnutý luk, vysílá šípy na její pronásledovatele. Nadzvedne si šaty a běží. Když jej dostihne, modré oči, které na ní pohlídnou, však nepatří jemu. Do těla se jí zakousne strašlivý mráz.</p>
<p>Se zalapáním po dechu se posadí. Je ve své posteli, teplé měkké posteli a okny už prosvítá ranní světlo. V hlavě je zazní ozvěna hlasu mistra Cressena: Jen sen. Šašek, kterého její úlek probudil taky, ji pohlídne do očí a zakření se.</p>
<p>„Vím, já to vím, och, och, och.</p>
<p>Opět ji zamrazí.</p>


 {% endblock %}
