{% extends "post.html" %}

{% set title = 'Drabble č. 13 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 13</h2>

<p>Červená barva stékala po znaku známého hostince U tří luků. Déšť bubnoval do jeho stěn, které ukrývaly ty nejhorší a nejodpornější vrahy a žoldáky z celého království. Své služby tu nabízeli již od nepaměti a nikdo z města neměl dost odvahy ani důvodů, aby proti nechvalně proslulému doupěti zasáhl. Strážníci se tomu místu vyhýbali, politici předstírali, že jej nevidí a místní si na jeho přítomnost zvykli, tak jako na další nevítané jevy ve městě. Dnešní noc bylo ale něco jinak. Hlasitá bouře přehlušovala hluk vycházející zevnitř, na ulicích nebylo široko daleko jediného živáčka a celé město jakoby uvázlo v oku bouře, v zneklidňující prázdnotě znamenající předzvěst něčeho velkého. To něco byla osoba v kápi, tiše kráčející ke dveřím hostince, jejíž zaklepání uvedlo vše do pohybu.</p>
<p>Tady neklepal nikdo. Nikdy. Všichni obrátili zraky ke dveřím a v zarazeném mlčení by jeden mohl slyšet i upadnutí vybitého zubu. Po chvíli ticha se ozvalo klepání znova, krapet nástojčivěji.</p>
<p>Šenkář si odkašlal a promluvil nezvykle zdrženlivým hlasem: "Dále."</p>
<p>Vrata se s vrzáním otevřela a na pozadí bleskem ozářené cesty se začernala útlá silueta. V jedné ruce svírala lepkavě kapající plátený raneček, ve druhé kliku. Dveře za sebou zavřela jemně, ale doprovázelo ji třísknutí hromu.</p>
<p>Až odezněl, promluvila: "Dobrý večer."</p>
<p>Ticho se prohloubilo. Nevšímaje si jeje, podešla blíž k šenkýři.</p>
<p>"Mohl by jste mi říct, kde je dva metry vysoký muž v zelené kazajce s jedným okem a černým plnovousem až po pás?"</p>
<p>Šenkýř ukázal kamsi doleva.</p>
<p>"Děkuji."</p>
<p>Osůbka byla deseti kroky u něj.</p>
<p>"Co mi chceš?"</p>
<p>"Tys tam ven do mně strčil a jak jsem narazila na zeď," zvedla ještě pořád kapající raneček, "tak se mi rozbili všechny čtyři sklenice jahodového džemu."</p>
<p>"A co má být?"</p>
<p>"Maminka mě vyslala zanést jej mé babičce, která je teď nastydlá. Trvám na omluvě a náhradě."</p>
<p>"Ty trváš."</p>
<p>Muž se postavil a ikdyž se nad drobnou neznámou tyčil hrozivě jak medvěd, ta se ani nezachvěla, jen dál vysílala nasupený pohled.</p>
<p>"Ano."</p>
<p>"Tak to koukej, co ti dá..."</p>
<p>Nedomluvil, protože ještě než se jeho letící dlaň setkala s jejím obličejíkem, zpod rudé kápě vyskočil obrovský vlk a ruku mu ukousl u loktu. Následně i hodný kus hrdla. Zbytek osazenství s křikem vytáhl vlastní ocelové drápy a tesáky a bouře se strhla i uvnitř.</p>
<p>Zanedlouho dívenka vyšla ven, raneček i kápě rudé stejným odstínem. Spokojeně jej potěžkala.</p>
<p>"Srdcová paštika je stejně lepší."</p>
<p>A království si v zásadě oddechlo.</p>

 {% endblock %}
