{% extends "post.html" %}

{% set title = 'Drabble č. 14 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 14</h2>

<p>Podzim se chýlil ke konci, zlato stromů zrezlo, opadalo a teď se hnijící válelo na zemi do černa zmáčené plískavicí. Dívala se na to a myslela na kadeře jak prstínky rudého zlata, které s máti a její bandou ukradli pocestním a v prstech mohla svírat jen ty své těžce visící rovné tmavé. Slunce zapadalo a bláto umrzalo a poryv větru ji rozechvěl. Pustila vlasy a zachumlala se do kožíšku. Takový chlad, odkdy odešla. Ona však teď putovala desetkrát krutějším počasím. Až do země samotné zimy postavit se Královně. Celkem samotinká. Povzdechla si.</p>
<p>„Zas myslíš na tu holku?“</p>
<p>„Jmenuje se Gerda.“</p>
<p>„Sněhovou vánici a ledné medvědy nezajímá, jak se jmenovala. A taky si je zaslouží. Mělas na ni dát lepší pozor. Přišli o rukojmího i o soba.“
Pozor dávala, oči z ní nespustila dnem i nocí. Sama ji osvobodila a soba ji dala. Sob ale neumí rozdělat oheň, střílet z luku a odplašit dravce, nebo ulovit zajíce a postavit jí skrýši v divočině a říct, co za znaky čte v krajině. Měla jít s ní, oba by je pořád měla. Ale už je pozdě, už by je nedostihla.</p>
<p>„Nemluv tak o ní. Žije.“</p>
<p>Gerdě nebylo zima. Plála touhou a odhodláním zachránit Kaie a pokud by ji doprovázela, hřál by ji stejný žár. To tahle osamělost a nečinná lítost ji zebou.</p>
<p>„A vrátí se.“</p>
<p>Soba ji dala, aby to zvedla rychleji a byla zpět dřív. Dokázala by to i sama, ale ona jí chtěla pomoct s posláním.</p>
<p>„Jaks jen mohla nechat ji takhle ti zamotat hlavu?“</p>
<p>Zamotat? Ne. Odkdy ji potkala, viděla dál, do neznáma za hranicí lesa a loupení.</p>
<p>„Nech už ji být, zapomeň, dcerunko.“</p>
<p>Nikdy. I když se domů vrýtí jinou cestou a ona ji už nespatří, vpomínky na Gerdu bude schraňovat jak nejcennější poklad.</p>

 {% endblock %}
