{% extends "post.html" %}

{% set title = 'Drabble č. 16 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 16</h2>

<p>Maedhros

<p>Ihličnany obstávajú lúku ako stráž a vietor zo severu mi vrhá červené vlasy do tváre a chladí. Vo Valinore nikdy nebol tak studený. Ale už mi nerobí nič. Nie po troch desaťročiach odierania si nahého chrbta a údov o skalnú stenu, celý skľavený od sneho-dažďa. Pošúcham si kýpeť pravej ruky.</p>
<p>„Tak poďme na to.“</p>
<p>Pozriem na toho, ktorý ma odtiaľ zachránil. Ligot zlata vpleteného do tmavých vrkočov a ligot ocele v paži, ktorou mi podáva meč.</p>
<p>„Neviem, či vôbec pamätám, ako ho chytiť, Fingon.“</p>
<p>„Isteže nie, ľavačku si na šerm nepoužíval. To ale ani pravačku, než ťa to otec naučil.“</p>
<p>Keď sa načiahnem po rukoväti a zovriem ju v dlaní, uvedomím si, že samotná ľavačka si síce nemá čo pamätať, ale vo mne je čosi, čo dotyk zbrane spoznáva a ožije. Začneme.</p>
<p>Po vyslobodení som myslel, že sa už na nič nezmôžem. Výčitky a obavy drásajúce vnútro viac než bolesť a nočné mory mi poslúžili na vybičovanie zbytkov síl pre odovzdanie koruny kráľa Noldorov strýkovi a odtiahnutie pobúrených súrodencov na východ so sebou, aby som zažehnal občiansku vojnu. Až tu v ústraní som mohol zaliezť pod kameň ako do hrobu. A potom ma navštívil a spýtal sa, či som už chytil dych.</p>
<p>Naše meče sa zrazia raz, druhý, ten môj dopadne na zem, ja na kolená. Opäť mi ho podá, vysielajúc povzbudivý úsmev. Znova a znova. Mdlé sklamanie sa mení na rozčúlenie, ktoré chce zvíťaziť. Všetko čakanie a prejdené míle, obete, pohľad na ukradnuté biele lode miznúce v plameňoch ako papier, znak hviezdy na hrudi a reťaz prísahy okolo srdca a bielo-žeravý svit nad čiernym čelom a ja som nasiakol obomi rovnako a už nechcem dať zbohom. Chcem bežať, tancovať so železom a plameňmi.</p>
<p>Pohasnú, až keď kľačím nad Fingonom, jeho meč v tráve a môj nad jeho hrdlom a náš prudký dych a rozhorúčené telá cítiť úžasom i preľaknutím. Čo presne to vo mne ožilo? Niečo, čo mi vrátilo silu. Mám na to, mám.</p>

 {% endblock %}
