{% extends "post.html" %}

{% set title = 'Drabble č. 17 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 17</h2>

<p>Nejen měsíc, ale i slunce lkalo závistí, neboť on zastiňoval i jej. Sličný táhl vyprahlou planinou, klobouk halil do tajemného stínu světlé oči pronikavější než výstřely z pistole, zaprášené kožené čižmy svíraly mocná lýtka a ještě mocnější stehna zas hřbět ryzáka, vepředu natrhlá košile odhalovala svalnatý hrudník a opálená kůže se mu třpytila kapičkami potu jak démanty.</p>
<p>Mmm, démanty... I na ty si brousil zuby. Démanty, ropu a především kryptoměny. Ty teď byly v kurzu víc než cokoli jiného. V kasínu už nikdo ani neštěknul po nějakém dolaru, nebo libře. V kaňonech u Rudé řeky se roztahovala střediska produkce, zpracování a jiných služeb a zavládla tam učiněná horečka. Štěstí se zde však vyznačovalo vrtkavostí. A mnohé takový život semlel, nebo úplně změnil.</p>
<p>Například Aidana. Ten vždy vše dělal ve velkém a teď vyhlásil, že je jiného pohlaví. Sličný jej naposledy viděl v nějaké smíšence, jak oňufává lahvičky s pleťovým mlékem a každý z deseti dlouhých umělých nehtů měl jiné barvy. A na každém třpytivý kamínek, takže mu to nejspíš nějak vynášelo. Ten už pro něj nepředstavoval ani konkurenci, ani spojence a taky mu tak přezdíval - Zbytečný. Ovšem ten druhý, Mladý, s tím počítat musel. A nejlépe za pomoci moderních algoritmů.</p>
<p>Dorazil ke stromu prohnutému jako luk. Už tam na něj čekal.</p>
<p>„Proč takhle z cesty, Everette?“</p>
<p>„Protože halekání v noci lidi budí.“</p>
<p>„Blbost, burza a zábavné podniky nikdy nespí. A vůbec, kdo by halekal?“</p>
<p>Druhý muž mykl ramenem.</p>
<p>„Tak jak, Fabio, máš to?“</p>
<p>„Ano, tady jsou data. Teď mi dej klíč.“</p>
<p>Výměna proběhla, Mladý vyrazil pryč a Sličný dělal, že taky, ale jen si zalezl do křoví a vytáhl přenosný port. Dal mu jen část ze slíbeného a zbytek zamýšlel díki klíči zúročit sám. Když však vše spustil, na obrazovce vyběhlo upozornění: Nezhoda v synchronizovaných údajech, příkaz – nadbytek zablokovat z bezpečnostních důvodů.</p>
<p>Obsah druhého okna se stal nečitelným a pak zavřel a nereagoval na žádné klikání a v Sličném se najednou prudce zvedá tlak. Kurvadrát, ten spratek tušil boudu a do klíče zabudoval past. Tlak překročí únosnou míru a planinou se rozlehne vzteklé zavytí.</p>

 {% endblock %}
