{% extends "post.html" %}

{% set title = 'Drabble č. 2 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 2</h2>

<p>Židopakabra</p>
<p>Říšským tiskem na vědomí se dává, že do služeb proradných Jidášů, sužujících naši vlast, vstoupil netvor tuze obávaný a pro svoji lstivost a úskočnost známý – Židopakabra. Tento červený poddruh Čupakabry proslaven jest svým znakem ve tvaru luku na zádech, jakožto i velkým zahnutým nosem značícím jeho chamtivost a nenažranost. Tak, jako Čupakabra vysává ze svých obětí krev, Židopakabra bez váhání vysaje všechny vaše peníze a o práci poctivého Němce připraví. Nic než chudobu a zmar tento netvor do našich domů nepřináší a povinností každého našince, milujícího svojí zemi, jest postavit se chamtivé Židopakabře s pastičkou v ruce. </p>
<p>Tak jako Jidáš za třicet stříbrných vyslal Ježíše na smrt, tak i naši nepřátelé vysílají prohnanou Židopakabru krásti z našeho prací a krví vydobytého bohatství. Deset chrabrých mužů již tato stvůra zamordovala způsobem tak ohavným, že ani na pohřeb jim peněz nezbylo a vdovy i děti po nich hlady pošli. Židopakabra se živí penězi a lakomstvím, po nocích se plíží našimi ulicemi (neb za denního světla na poctivého člověka si netroufne) a vyhledává především osamělé a majetné oběti, sic neštítí se peníze ani z chudáka vysáti. </p>
<p>A proto, spatříte-li Židopakabru nedaleko vašeho domova, neváhejte se obrátit na hrdinné příslušníky Říšské policie, kteří s udatností sobě vlastní zlotřilého netvora přemohou. Svůj odpor můžete vyjádřit také odznakem „Lakomce v Říši nechceme“ za pouhých 10 marek za kus, případně plyšovou Židopakabrou za pouhých 19,90 za kus. Nebuďte chamtiví a dopřejte svým dětem odznáček či plyšáka. Říše Vaší podporu ocení. K dostání u všech Židovských prodejců. </p>

 {% endblock %}
