{% extends "post.html" %}

{% set title = 'Drabble č. 3 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 3</h2>

<p>Loreta - I</p>

<p>Z myšlenek na nadcházející slavnost ji vytrhne povyk napravo od ní. Obrátí tím směrem hlavu a pak rovnou zastaví koně. Jsou přímo na rozcestí a vidí, jak na místě, kde druhá stezka přechází v most přes zpěněnou Pádící, trol napřahuje jakési harampádí ke skupince polekaných pocestních. Rádce Amund ze Sokoltvrze zastaví vedle ní.</p>
<p>„Teď není vhodná doba na odluky z cesty. Máme naspěch, princezno.“</p>
<p>„To si mám nad tím umýt ruce?“</p>
<p>„Můžeme sem poslat oddíl pak.“</p>
<p>Trojici tvoří stařík, rudovlasá žena v očekávání a malý hoch.</p>
<p>„Nezdržíme se dlouho.“</p>
<p>Než se jednoruký muž zmůže na další námitky, rozjede se k řece.</p>
<p>„Trole, jakým právem pozvedáš zbraň proti těmto lidem?“</p>
<p>Vápencově popelavá ruka poklesne, pohled, který vyšle, se zatřpytí vzdorem a bytost pohodí zelenkavou hřívou lišejníku.</p>
<p>„Nesplnili podmínky.“</p>
<p>„Nemáte čím zaplatit?“</p>
<p>Stařík postoupí kupředu, aby popsal situaci.</p>
<p>„Nabídli jsme strážci mostu hrníček medu a peníz za každého z nás, jak je známo, že praví zákon.“</p>
<p>„Za každého ne. Za to dítě v jejím břiše ne.“</p>
<p>„Přestupuješ své pravomoci. Znění zákona je „každé tělo, jež vstoupí“. To značí, že na nenarozené se nevztahuje. Tak bylo stanoveno na Sjezdu před deseti lety.“</p>
<p>„Tohle vaše lidské slovíčkaření a roztahovačná arogance! Prvně nám uložíte vazalství k vládci, jehož jsme ani nespatřili a nijak neprokázal, že si zaslouží naši úctu, pak nám vnutíte směšné předpisy o stejných platidlech, jako kdyby každý přechod a člověk byl v každou dobu stejný. A teď popíráte živoucí duši v jejím lůně. Jsme trolové starší než to vaše království, ne slepě sloužící psiska!“</p>
<p>„Ta pravidla mají udržet mír a pořádek pro dobro nás všech.“</p>
<p>„Pořádek? Pak tedy po pořádku – vstoupit již vstoupili a jestli za dítě nezaplatí, jednoho z nich si vezmu já.“</p>
<p>„Nemám sebou med. Snad...“</p>
<p>„Pravidla.“</p>
<p>Přimhouří oči. Než by se trola členové průvodu chopili, stihl by svou oběť zadlávit. Dlouze vydechne, pak popojede blíž.</p>
<p>„Jaké je tvé jméno, trole?“</p>
<p>„Pěvoskála.“</p>
<p>„Tak tedy, Pěvoskálo, já, Loreta, vyzývám tě na souboj o jednu živoucí duši. Braň se!“</p>

 {% endblock %}
