{% extends "post.html" %}

{% set title = 'Drabble č. 4 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 4</h2>

<p>Loreta - II</p>

<p>Trol překvapením zamrká, pak spokojeně vycení zuby. Jedna ze známých starších zvyklostí a, jak očekávala, ta divá bytost je pro všemi deseti.
„Tak pojď, člověče.“</p>
<p>Trojice se klopýtavě klidí z cesty, Loreta si připraví kopí, Pěvoskála se znovu chopí své zbraně. Podívá se na ni blíž. To, co dřív nazvala harampádím, je vlastně kosíř na sáh dlouhé násadě, zakřivená čepel doplněná o dlouhý hrot vepředu a menší bodlinu nahoře. Je kratší než její zbraň, ale trol má delší ruce a hákovitá část je výtečná pro strhávaní z koně. To nic, musí být zkrátka rýchlejší a obratnější. Jsem oko bouře. Pobídne svého hřebce do cvalu. Uvnitř klid, kolem smršť.</p>
<p>Prvnímu výpadu trol uhýbá, pak ona musí prchnout před bodnutím. Najíždí z jiné strany, jenže trol se zdatně otáčí, aby ji nikdy neměl za zády. Odrazí její hrot dolu a do cesty jí strčí kosíř. Přeskočí jej jen tak tak.</p>
<p>Když ji Pěvoskála vyjde napřed a sekne obouruč šikmě doleva, Loreta ztrhne oře doprava. Oštěp zvedne výš, otočí a krátce bodne vlevo dolu, než Pěvoskálu nechá za sebou. Trolové mají vzhled kamenů, ale na ty se mění jen ve spánku a po smrti. Za bděla je pod zvětralou kůži živoucí maso a když se štíhlý hrot zakousne do stehna, z trhliny se vyřine perleťová krev. Trol sebou škubne a zažene se po ní, ale to už se vzdaluje.</p>
<p>„Vosí štípnutí je vše, co umíš?“</p>
<p>Pravda, rána je mělká. Trol kulhavě přestupuje, ale není poražen. Jestli chce zasadit těžší, potřebuje proniknout skrz na straně té ruky, kterou drží zbraň.</p>
<p>Pokusí se proniknout k hrudi, ale k jejímu zděšení, trol zachytí násadu mezi bodec a zahnutou čepel. Ta mezi nima vyjede šikmě nahoru a než Loreta stihne zbraň odtáhnout, trol špičku uchopí a potáhne nadol. Kopí se prohne jak luk a pak praskne. To vše snad za jediný úder srdce. Loreta se zakymácí a když po ní kosíř sekne, zmůže se jen na sklouznutí z koně. Dopad ztlumí kotoulem a nalezne sa na ústí mostu. A trol si to šine k ní s nepopsatelně nedočkavým výrazem. Zacouvá jediným možným směrem.</p>
<p>Tasí seax. Teď by se jí hodil štít. Ale kdo už by ho sebou tahal na lov, že? Co naplat... Rozepne sponu se znakem modré hvězdy, která přidržovala její plášť a obtočí si černou rudě lemovanou tkaninu kolem volné ruky, aby kousek visela. Poslouží líp než nic.</p>
<p>Ustupuje, útoky vykrývá s námahou, pouhé zdržování, vlna se pomalu odmotává. Nadechne se, vhodnější moment už nebude, a mrští pláštěm proti soupeři. Povede se a v krátkém zmatení se prosmýkne kolem kosíře i mezi chodidly. Chytne se trolovi hřívy a vyšvihne nahoru, aby přiložila ostří k mocnému krku.</p>
<p>„Vzdej se!“</p>
<p>Když pohne rukama k ní, zanoří čepel do masa. Trol ustrne.</p>
<p>„Co mě čeká?“</p>
<p>„Soud a trest. Most dostane někdo jiný. Možná bude poslán lidský strážce.“</p>
<p>„Lidský...“</p>
<p>„Teď se obrať a připoj k mému průvodu.“</p>
<p>„Chtělas jednu živoucí duši. Máš ji mít.“</p>
<p>A pak se najednou převáží na stranu přímo do rozbouřených vod. Loreta jen tak tak stihne uvolnit sevření a doskočit na most. Když se opět postaví a podívá dolu, vlny tříštivě omývají nehybnou překážku pod hladinou a hlas řeky zní jinak. Takhle to dopadnout nemělo. Ale nic se nedalo dělat. Alespoň tedy bylo po všem.</p>

 {% endblock %}
