{% extends "post.html" %}

{% set title = 'Drabble č. 5 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 5</h2>

<p>Žili byli, jednou jeden medvěd a zajíc. S ostatními zvířátky postavili most, hospodu, domeček a dokonce i kadibudku. A tak si tam šťastně žijí. Ale mají mnoho služeb. Pokaždé když má někdo nějakou službu, například průzkum, úklid (to je nejhorší), obsluhu v hospodě, krádeže věcí, co se hodí, tak si dělá značky do deníčku, který je z velkých javorových listů přilepených k sobě smůlou a píšou si to tam fixama, které ukradli a bylo jim jedno jakou barvou. Třeba jezevec Burdych měl temně fialovou , zajíc měl červenou. Někdy se báli že je při krádeži lidé načapají a zastřelí kulometem nebo lukem. A tak díky deníčku je jim vždy známo, co má kdo za službu. Občas využijí deseti stran na jednu krátkou větu, protože někteří píšou velkými písmenky. Jednou měli průzkumnou službu zajíc a medvěd.
<p>A tak šli přes most do druhého lesa. Hezky se tam procházeli, když najednou jim podtrhla armáda zvířat nohy a spadli.
<p>Medvěd ještě chytil veverku, a zeptal se: „Co se to tu děje milá veveřičko?“
<p>Veverka mu rychle řekla: „ZACHRAŇTE SE KDO MŮŽEŠ!“
<p>Zajíc se zeptal: „Proč, co se to tu děje a proč tak šílíte?“
<p>„UFO PŘISTÁLO!“ Řekla veverka.
<p>„Ufo?“ řekli oba najednou.
<p>„ANO!“ řekla veverka a šla s nima do lesa na most, zabarikádovali se kládami a začali vyrábět kamenné oštěpy, luky, šípy a další zbraně.
<p>Medvěd a zajíc, se mezitím šli podívat tam, odkud přišli všichni obyvatelé sousedního lesa. Ale byla to pravda... Uprostřed hlavní stezky v lese ležel špatně zaparkovaný vesmírný talíř a z něj vycházeli jeden po druhém mimozemšťané. Oba prchali tak rychle od té obrovské placaté věci, že to vypadalo jako by měli místo nohou kola. Přiběhli k mostu, kde už ostatní zvířátka stavěly pevnosti pro střelce a katapulty.
<p>Oba vykřikli: „To jsme my, pusťte nás dovnitř!“
<p>Zvířátka spustila padací most a medvěd i zajíc rychle přeběhli.
<p>Medvěd se přidal ke katapultovým střelcům a zajíc se účastnil protiútoku.
<p>Za chvíli už začaly nájezdy emzáků a začali odpalovat. Ufoni sice byli v převaze, ale zvířátka si řekly že to dokážou. Nasadily balisty a odstřelovaly mimozemšťany. Ale najednou jeden hodil emzácký granát přímo do pevnosti. Jenže zajíc se ukázal jako hrdina a okamžitě provedl výbušninou protiútok.
<p>Každý střelec měl u sebe dravého ptáka a vyslali je, aby provedli nálet ostrými kameny.
<p>Potom mimozemšťané spustili, na znak toho že se nevzdají, útok samopaly a plasmopalem. Zajíc na obranu zavelel nasadit štíty. Pak vyslali dravce, ať v úrovni hlavy proletí bitevní pole ozubenými křídly.
<p>Nájezdy už byly skoro u konce, ale teď přišli hadomi a kryskladi. Kryskladi byli celkem v pohodě, ale hadomi mají laserové pistole a velké odpalovače.
<p>Bitvu zahlédli i lidé a tak zavolali pomoc.
<p>Tým z lesa převažoval. Nějak takhle:

<p>les-----------------------------------------------------------
<p>ufoni ----------

<p>Ufoni byli už na pokraji porážky a když už jich moc nezbylo, tak se vzdali a odletěli. Když tam přišli lidé s vyzbrojenou armádou, tak tam zbyla obsazená pevnost s balistami a jinými zbraněmi.
<p>Lidé okamžitě začali tleskat a začali je natáčet a vyslýchat. Ostatní lidé si zašli pro barvy a velkým písmem napsali na dům: X-COM UFO VYMÍTAČ.
<p>Tento díl, byl o tom jak se zvířátka z lesa proslavila tím, že porazila první nájezd ufonů.

 {% endblock %}
