{% extends "post.html" %}

{% set title = 'Drabble č. 6 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 6</h2>


<p>Matej Barbarič<p>

<p>„Je tak horúco, že mám chuť vyzliecť aj vlastnú kožu.“</p>
<p>A že toho na sebe omnoho viac nemala.</p>
<p>„Tú spodničku pokojne, ale kožu si prosím nechaj. Máš ju krásnu.“</p>
<p>Krémovo svetlá, len tu a tam drobná peha, objímala jej milé lícne kosti, neodolateľnú šiju, jemné ramená, plnosť dekoltu, bokov a lýtok tak pôvabne, že som sa na to nemohol vynadívať. Belší bol už len ľan, ktorý ich halil, plachty na posteli a strop, kde pobzukovali muchy. Prileteli skrz otvorené okno. Pofukovalo a tak som ho otvoril, hoci sa blížilo poludnie a slnko vysielalo lúče tak žeravé, až som mal pocit, že po oblohe si to už zas šinie Faetón a zanedlho zem dočista spáli.</p>
<p>To nebola myšlienka, ktorú som chcel rozvádzať. Zem už horela tak ako tak, červené plamene a červená krv, že od nich nešlo vyčistiť ulice a polia. Všade, kde sa koruna stretla s Turkom, či katolíci s protestantmi. A do toho rastúce napätie medzi Uhrami a Habsburgovcami. A potom ešte medzi jednotlivými Habsburgovcami. Služba zákonu sa stávala čoraz zložitejšou záležitosťou. Problémov desať na každý prst. A budúcnosť veľká neznáma.</p>
<p>Nie, na to som myslieť nechcel. Radšej inú červenú. Tú na jej perách, klenutých ako luk. A tú v krčahu na nočnom stolíku.</p>
<p>„Poď sem, ochladím ťa.“</p>
<p>Postavila sa so zvedavým výrazom, hojdavou chôdzou prešla k lôžku od stoličky, kde sa predtým pokúšala čítať môj pred dvoma dňami zakúpený cestopis. Ja som nalial hroznového moku do jednej z čaší. Bernát ho len nedávno priniesol z mojej pivničky a bol chladný ako ranná rosa. Naznačil som jej, aby si ľahla, namočil prsty do vína a nechal ho kvapkať na tie pekné ústa a pekné torzo a údy a opájal sa jej smiechom. Tak bezstarostný. A tie moje sa aspoň na chvíľu vzdialili.</p>

 {% endblock %}
