{% extends "post.html" %}

{% set title = 'Drabble č. 8 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 8</h2>

<p>Na stolici stála sklenice džemu se lžící. A byla modrá. Hned vedle byla otevřená láhev s utopenci, taky modrá. Na pánvi byla sotva ochutnaná omeleta, nakousnutá buchta a karbanátky. Všechno to bylo modré. L'Féroce seděl za stolem a dloubal do modré polévky. Zrovna když se pokoušel vytáhnou kus mrkve se vrátil jeho kocour, kterého vyslal do špajzu na průzkum.</p>
<p>„Takže?“</p>
<p>„Niiic“ protáhl Azrael. „Všechno je v polévce mňau…“ L'Féroce si zhluboka povzdechl.</p>
<p>„Je ti známo, jak dlouho mi o to šlo?“ nečekal na odpověď „dvacet let, možná i třicet, už nevím.“ Naštvaně mrsknul lžící o stěnu. Azrael se naježil leknutím.</p>
<p>„Strávil jsem tolik času mého života chytáním těch malých hnusáků jen abych zjistil, že i hnusně chutnají?“</p>
<p>„To je žiiivot mňau“ lehl si na zem a pokukoval po svém pánu. Ten znechuceně odsunul polévku.</p>
<p>„No alespoň jsem je dostal všechny. Všech sto.“ Vlastně jsem prokázal světu službu, nikdo se z nich nezblázní, ještě že já mám všech deset pohromadě.</p>
<p>„STO A JEDEN!“ Uslyšeli zvolání, které snad mohlo být i velkolepé, kdyby nepocházelo od malého mužíčka s ošklivou červenou čepicí. Velký šmoula, což bylo jeho jméno, se postavil na okenní římsu a držel…luk.</p>
<p>„Uhhh…?“ No… možná mám určité příznaky šílenství, třeba teď jsem nevybuchnul smíchy, nebo je to tím zklamáním?</p>
<p>„Gargameli, za tohle zaplatíš! Dostanu tě, i kdyby to byla ta poslední věc kterou udělám!“ zaječel modrý skřítek.</p>
<p>„Tak moment, tohle říkám já…“</p>

 {% endblock %}
