{% extends "post.html" %}

{% set title = 'Drabble č. 9 (11. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>
<p>Drabble přišlo v několika částech na pokračování, tak jsou hozené pohromadě, abyste nemuseli přepínat po jedné</p>


<p>Ještě párkrát zahnout, projít několika portály a bude na místě. Knihovník pohyb po K-prostoru nepodceňoval. Nikdy. Jak známo: kdo není dost ostražitý, ten se pak už ani nediví. Na přesun se vybavil předepsaným a osvědčeným způsobem pro standardní cesty K-prostorem, ale navíc – jen on sám věděl proč – si ještě rituálně ovázal čelo páskou jako aurientální bojovník. A jistě – v pestrém šátku pevně přivázaném na hrudi nesl pár malých lahviček.</p>
<p>Přísná, hubená a vysoká žena ho přivítala klidně jako starého známého. „Vítejte, kolego. Prosím, prokažte se.“</p>
<p>„Oook, ook. OOOKKK.“</p>
<p>Knihovník nevytáhl žádný odznak, ani nevyřkl heslo, ne tak docela. Takhle to nefungovalo. K-prostor a různé druhy knihoven prostě poznaly, jestli na to máte nebo ne. Buď jste KNIHOVNÍK, nebo nejste. To neošidíte. Je to otázka zkušenosti, naladění a jistého druhu smýšlení a vědomostí. Ne, pravé KNIHOVNÍKY neoblafnete a KNIHOVNU už vůbec ne. Poznají to na vás. Musíte se prostě postavit, vyslat ze sebe esenci knihovnictví – a buď to stačí, nebo ne. Stačilo. Byl dobrý. A věděl to o sobě. V jeho prohlášení nebylo nic falešného, ani falešná skromnost.</p>
<p>„Děkuji vám.“</p>
<p>„Ooook. Oook ok ok Ook?“ poděkoval i on, aby učinil zažitým zvykům zadost. A položil otázku.</p>
<p>„Ano jistě. Ne, pan Smith není ve službě a dnes jsem ho ani neviděla.“</p>
<p>„Ook Ooook ok?“</p>
<p>„Ano, domnívám se, že slečna Červená dorazí každou chvíli. Ujme se vás.“ přikýval vysoká žena. A jedním dechem dodala: „Hleďte, už je tady.“ Kývla hlavou k přicházející osobě. „Vidíte? Přesně na čas.“ Pronesla s uspokojením.</p>
<p>„Tak zase příště“. Pokynula malou úklonou hlavy oběma.</p>




<p>Přicházející žena (podstatně menší a kulatější než ta první a v rozporu se svým jménem vyvedená v odstínech šedé) také jen pokývla, na vteřinu upřela oči na Knihovníka a plynule pokračovala dál chodbou, naprosto si jista, že se k ní Knihovník připojí. Udělal to.</p>
<p>Knihovník gesto pozdravu opětoval a vydal se spořádaně za šedou postavou. Slečna Červená šla kupodivu dost kvapně, takže Knihovník musel zrychlit a pomáhat si dlouhými pažemi jakoby sestavenými z ramínek na šaty a odřeného rezatého leskyma. Oba mlčeli, dokud nedošli nenápadným dvířkům vsazeným do bytelného kamenného portálu, ne moc velkého, ale s jako luk ohnutým obloukem vyskládaným z masivních kamenů. Slečna Červená mírně zatlačila dlaní na hladké dřevo stejně šedivé barvy, jakou měly její vlasy. Ta šedá říkala jediné: čas. Dveře se otevřely a žena a lidoop jimi prošli.</p>
<p>Na druhé straně dveří bzučel neutuchající leč organizovaný shon a pohyb. Mnoho osob nejrůznějších podob, tvarů a velikostí procházelo kolem, pohybovalo se po úzkých spirálách étericky pojatých točitých schodišť do rozličných výšek a úrovní (některé – jak jinak – se vozily dolů po zábradlí) a míhalo se mezi policemi a regály. Celé to působilo dojmem mraveniště, nebo spíš úlu, s tím tichým, ale věčným bzukotem. Knihovník se zvědavě rozhlížel kolem. Nebyl tu poprvé, ale stejně ho to zajímalo a vzrušovalo. KNIHOVNA. Každé oddělení, které kdy zahlédl, by stálo za prozkoumání. Ovšem když se zdálo, že má už moc velké tendence nakukovat do zákoutí mimo přísnou linkou vytyčenou trasu, jeho průvodkyně se ozvala ostrým hlasem: „Pouze v mých stopách, kolego. Znáte pravidla!“</p>




<p>„Ook.“ Reagoval Knihovník poněkud schlíple. Po chvilce začal se svým nevíce okouzlujícím úsměvem smlouvat: „Oook ok ok oook ookoook?“</p>
<p>„Bohužel, dobře víte, že to je externistům zakázáno. Můžete pouze se mnou.“ Zněla ne nelaskavá, ale nekompromisní odpověď.</p>
<p>„Ook… ok ok ook?“ zkusil ještě.</p>
<p>„Ne.“ Opět se mu dostalo odmítnutí. „Ani tentokrát nesmíte navštívit Knihovnu vůní! Ten incident z minulého roku není zdaleka zapomenut. Já chápu, že ty vůně vás přiměly reagovat poněkud impulzivně, ale vedoucí oddělení dával rozbité flakony dohromady čtrnáct dní a tři jeho podřízení v reakci na likvidaci té katastrofy dostali kopřivku.“</p>
<p>„OOOOoook ook ok oook okok oook.“</p>
<p>„Jistě, že máte právo se ohradit, ale oni trvají na označení “incident“ a “katastrofa“. I přes ovocný koš Banana DeLuxe, který jste jim poslal jako omluvu. Mimochodem vedoucí oddělení je na arašídy alergický. Anafylaktický šok není zrovna tou nejpřímější cestičkou k srdci, ani omluvou.“ Slečna Červená mluvila ke Knihovníkovi během chůze přes rameno. „Změňme téma. Doufám, že nesete vše a v neporušeném stavu.“</p>
<p>„OK. Ok ook.“ Prohlásil Knihovník hrdě a položil si dlaň na hruď v místě srdce, kde shodou okolností bylo několik lahviček uvázaných v šátku po vzoru nemluvňat některých domorodých žen.</p>
<p>„Výborně. Už jsme skoro na místě.“ Přikývla slečna Červená. „Vím, že když jde o práci, je na vás spolehnutí.“</p>
<p>A za okamžik už Knihovník lahvičky opatrně vybaloval z šátku a rovnal na stolek před uhlazeným, jen mírně rozcuchaným, gentlemanem s polovičními brejličkami. Ten je kontroloval, přičemž si spokojeně mnul ruce a přikyvoval jako dětská hračka s pružinkou místo krku a melodickým hlasem stále dokola mumlal si dokola: „ano ano ano“.</p>
<p>Slečna Červená se usmála na Knihovníka: „Mise splněna! Výborně, starý brachu!“</p>



<p>Místo v jednom ze zákoutí K-prostoru a KNIHOVNY, kam se málo kdo podívá osobně, Knihovník navštívil jen jednou. Před lety. Jeho by to nenapadlo ani za vagon buráků, ale někomu z vás by snad částečně mohlo připomínat něco mezi transfuzní stanicí, plicním sanatoriem a wellness penzionem a možná i poněkud přízračným kadeřnictvím. Celé to působilo spíš pohádkově než nemocničně, jako akvarelový obrázek ze staré dětské knížky, kde věci mají stále svůj jasný tvar, i když jejich uspořádání a propojení může být bláznivé. Na lehátkách tu odpočívaly osoby ponořené v hlubokém snění a kolem hlav se jim vznášely průsvitné skleněné zvony podobné plovoucím medúzám, se spoustou hadiček a řetízků kolem sebe. V tlumeném světle se leskly, zviditelňovaly a zase průsvitněly, všechno tu tak trochu plovalo a plynulo. Nebylo to tajemství, ale nezasvěcený by jen těžko uhodl, že je to stáčírna snů. Hned vedle je archiv myslánek. Patří pod jeden odbor. Funguje to podobně: sen, nebo myšlenku nějakým způsobem – více či méně magickým nebo vědeckým, to už záleží na alternativu, ve kterém žijete – v podobě mlžného pramínku odeberete a uschováte v lahvičce pro další použití. Zejména sny lze dále modifikovat a upravovat. Se vzpomínkami je to horší, ale ne nemožné. A existuje více způsobů, jak si je zviditelnit, prohlédnout, nebo použít. Můžete je nalít do misky myslánky a ponořit se do nich. Nebo je inhalovat během spánku a nechat si je zdát… To jsou jen ty základní postupy. Knihovník znal jen ty dva a považoval to za dostačující. Lidoop ví, který led je pro něj příliš tenký.</p>



<p>„Oook.“ Rozloučil se s uhlazeným mužíkem, když od něj přebral jiné čtyři plné lahvičky a dva zálohové lístky za ty prázdné. A následoval slečnu Červenou nejkratší cestou k portálu ústícímu do jeho domovské části K-prostoru. Než se rozešli, lehce mu mával a pronesla: „Zase příště.“ Knihovníkovo „ook“ zaznělo v chodbě v chodbě ozvěnou.</p>
<p>„Ale jistě, jistě! Jen si poslužte!“ pobízel Leonardo da Quirm Knihovníka, aby se po dlouhém sezení občerstvil. Sdíleli spolu zájem o anatomii a banány. Tedy Leonardo se vášnivě zajímal o anatomii, nejen lidskou, ale i lidoopí, zatím co Knihovník svou vášeň věnoval spíše banánům. Nedá se popřít, že některé z Leonardových náčrtů a kreseb na něj udělaly dojem a svým způsobem ho okouzlovaly, ale banány jsou věčné. I Leonardovi dělal draslík a další stopové prvky, vitamíny i sacharidy dobře na mozek a nervovou soustavu. Kupodivu měli génius a lidoop jeden pro druhého pochopení (Knihovník byl chápavý – někdy i všema deseti) a při pravidelných sezeních modelem většinou harmonicky mlčeli, každý zabrán do svých myšlenek. Vyhovovala jim společnost druhého, neb se vzájemně respektovali a nevyrušovali. Tu a tam jeden nebo druhý prohodil nějakou poznámku, která jim oběma dávala námět k dalším úvahám. Tentokrát Leonardo při svižném, automatickém sice, přece precizním, črtání zkroucené banánové slupky rutkou na hrubší papír prohodil poněkud nepřítomně: „Nevěřil byste, příteli, jak inspirativní mívám poslední dobou sny…“</p>
<p>„Ook ooook,“ odvětil Knihovník vyrovnaně.</p>

 {% endblock %}
