{% extends "post.html" %}

{% set title = 'Drabble č. 1 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 1</h2>

<p>Leslie Burke</p>

<p>Ešte stále čakáš na brehu potoka, ale Jess nikde. Pátraš v pamäti, či nevravel, že sa zdrží, alebo nebude môcť prísť vôbec. Nespomenieš si však na nič. Už tu mal byť. Znudene čmáraš suchou vetvičkou do zrniek piesku a hliny. Na zemi sa začne črtať rytier stojaci v ruinách. Je obrastaný machom a pavučinami, pretože už pár storočí čaká na vyslobodenie. Prižmúrenými očami hodnotíš svoj výtvor. Nevyrovná sa Jesseho obrázkom, ale to nevadí. Opíšeš ho slovami a podľa nich ho už nakreslí lepšie. A potom ho pôjdete pohľadať do lesa. Hmm... Prečo je zakliaty a ruiny sa stali ruinami? Predstavy ti už vyvstávajú pred očami. Porušený sľub, poblúznenie spánku, závisť a veterná príšera. Potrebuješ to rýchlo zapísať. Papiere a perá máš v stromovom domčeku na druhom brehu a ten je bližšie ako domov. Vzhliadneš na lano hompáľajúce sa vo vánku. Vždy prechádzate na druhú stranu spolu. Ale nie je to tvoja chyba, že tu nie je. Pri písaní ti čas rýchlejšie ujde a až konečne dorazí aj Jess, bude ho s vyčítavou kázňou čakať aj hotový príbeh a dobrodružstvo bude môcť začať. Je to dobrý plán. Pritiahneš si povraz, zovrieš ho a rozhojdáš sa. Raz. Dva razy. Na tretí už budeš dosť blízko, aby si skočila. Začuješ však praskot a lano v rukách ti zmäkne. Vzduch okolo stále sviští, ale iným smerom a po tebe chňapne tekutý chlad. Než si stihneš položiť otázku, čo sa deje, narazíš na čosi tvrdé a v hlave ti vybuchne ohňostroj, po ktorom nasleduje už len tma.</p>

  {% endblock %}
