{% extends "post.html" %}

{% set title = 'Drabble č. 11 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 11</h2>
<p>Lestat</p>

<p>On sa mi snáď zdá... Predstavím mu lahodnú a úľavne potvorskú fiflenu, ktorá už má bez tak tú lepšiu časť života za sebou a chýbať bude málokomu a on sa radšej vrhne na tie jej uštekané beštie. Tento vývoj som skrátka nečakal. Našťastie som už dopil, takže som hneď tam, aby som tej vrieskajúcej ženskej zlomil väz a mohol sa pustiť do vrcholne rozčúlenej kázne na tému Louisovej úbohosti. Takého upíra som ešte nezažil. Čo je asi z veľkej časti dôvod, prečo sa okolo neho sústavne motám a zapáram doň. Toto poblúznenie storočia je vrcholne dráždivé. Kmitám medzi pohŕdavou naštvanosťou, pobavenou záľubou, fascináciou a nutkaním ohúriť a vybičovať ho do nepríčetnosti. Vydolovať z toho ufňukaného strašidla zrnko... Čohosi. A čo začalo ako škodoradostná kratochvíľa je pomaly stredobodom bytia. Je to víťazstvo, keď plný ublíženej zúrivosti vzhliadne a zaútočí na mňa. Nemôžem si pomôcť, prirážanie k stromom vo mne vyvoláva výbuchy smiechu, jeho päste zvierajúce klopy môjho saka, sústredený pohľad a vrčanie bezmocného hnevu sú čistá eufória. Skoro tak dobré ako rozhrýzanie ľudských hrdiel a kradnutie životov. Všetko odpustené, nech sa kŕmi čím chce, tá zábava stojí za to a ja si rád počkám, než ho nekonečným trápením stiahnem na svoju úroveň, čo ako ho zvyšky ľudskosti činia krásnym. Vtlčiem mu tvrdosť, bez ktorej by tam vonku ďaleko nedošiel. Ale chcem viac a keď kráčam preč, do hlasu mi preniká trocha trpkosti. Neviem, aký by bol preň život bez mojej prítomnosti, ale potrebujem, aby veril, že horší. Pretože ten môj bez neho určite.</p> 


{% endblock %}
