{% extends "post.html" %}

{% set title = 'Drabble č. 12 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 12</h2>

<center>Ash vs Smrtelní Jiní</center>

<p>Blouznil? Bylo to dost možné. Po takové dávce trávy a ještě piva k tomu, člověk vidí věci, které si nedokáže ani představit. Vstal z postele, která mu připadala pooněkud neznámá. Na zemi se válela zrnka něčeho neznámého. Vešel do vedlejší místnosti, kde stála zrzka kterou si rozhodně z minulé noci nepamatoval. Byla k němu otočená zády a ani nevzhlédla, když vešel. Chvíli se na ní díval a představoval si, jak její pěkná…</p>
<p>“Co jsi zač?” zaječela neznámá.</p>
<p>“Nazdar zlato. Ty si mě nepamatuješ? Ash Williams? Zabiják démonů a lovec krásek v nesnázích? Král S-martu? Nakupujte levně s Ashem řezníkem?” </p>
<p>“Zhyň ty proradný démone temnoty!” vřískla.</p>
<p>“Notak, prdelko, uklidni se. Nejsem žádnej démon. Já je lovim. Pamatuješ?” Zamával na ní svojí pilou připevněnou místo pravé ruky.</p>
<p>“Vidíš? Pila” Druhou rukou vyndal brokovnici uloženou v pouzdru na zádech. “Bouchací klacek. Jestli tu máš démony, Ash s nima zatočí”</p>
<p>“Ty blázne. Oživlé mrtvoly na nás útočí ze všech stran a ty tu blábolíš o klacku.”</p>
<p>Ashovi začínalo docházet, co se vlastně stalo.</p>
<p>“Pověz mi zlato, jaký je vlastně století?”</p>
<p>“Rok 302. Copak nemáš žádnou kázeň před Rhllorovou kněžkou?”</p>
<p>Čekal, až se mu trochu vyjasní paměť. Drogy, sex, aslkohol, čtení z Necronomiconu ex mortis, víc alkoholu… počkat? Necronomicon? Kniha mrtvých? </p>
<p>“Do hajzlu… udělal jsem to znova. No nic. Říkáš oživlý mrtvoly? Na to jsem ten pravej. Podrž mi pivo a sleduj mistra!”</p>


{% endblock %}
