{% extends "post.html" %}

{% set title = 'Drabble č. 13 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 13</h2>

<p>Strašně moc se omlouvám flankerovi za tuhle crack-fikci. Vlastně ne, nelituji ničeho! :D</p>

<p>Daenerys Targaryen</p>

<p>„Registrované partnerstvo.“</p>
<p>Hlesne. Akoby jej čosi nedochádzalo a to neveští dobrý koniec. Qyburn prikývne.</p>
<p>„Je to to isté ako manželstvo, akurát nebudete mať manžela, ale manželku.“</p>
<p>„Sansu Stark.“</p>
<p>„Áno.“</p>
<p>Prítomná potenciálna nevesta sa tvári dôstojne a prívetivo, ale Dany vidí, že je z toho podobne nesvoja. Prezrádza ju nervózne žmolenie hnedého lemu rukávov.</p>
<p>„Prečo by som s tým mala súhlasiť?“</p>
<p>„Vyrieši to všetky problémy.“</p>
<p>„Prosím?“</p>
<p>„Ste posledná žijúca rodu Targaryenov a Blackkfyrovci vymreli pri tom predraženom debakli. Bastard vášho zosnulého brata Rhaegara sa drží svojej prísahy a legislatíva nedovolí panovníkovi donútiť člena Nočnej hliadky porušiť ju. Nakoľko je však z matkinej strany Stark, je tu väzba na tento obľúbený rod zaslúžilý pri obrane pred zimou a s polovicou Západozemia v držbe. Žiaľ, nemáme informácie o žiadnom žijúcom členovi mužského pohlavia mimo veliteľa Nočnej hliadky. Jediný dostupný dedič je Sansa Stark.“</p> 
<p>Qyburn pristúpi tak blízko, že jeho noha Dany takmer pristúpi šaty a sprisahanecky dodáva.</p>
<p>„Má to ďalšie výhody. Ste, ehm... Neplodná. Nepozerajte tak na mňa, som z Citadely a aj po odchode som zdokonaľoval svoju zdatnosť v tajomstvách ľudského tela. Späť k téme. Registrované partnerstvo bude ideálnym riešením. Nikto sa nebude diviť absencii potomstva a budete môcť adoptovať a odkázať trón komukoľvek.“</p>
<p>Zadíva sa na driečnu severanku. Tá sa pod jej skúmavým pohľadom začervená, no ochotne ho opätuje. </p>
<p>„Pokiaľ nie je lady Stark proti, som ochotná na tento návrh pristúpiť.</p>
<p>„Nie som proti ani v najmenšom.“</p>
<p>Odpovie s úsmevom, ktorý na rozdiel od väčšiny pôsobí úprimne. Nie zlý začiatok.</p>



{% endblock %}
