{% extends "post.html" %}

{% set title = 'Drabble č. 14 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 14</h2>
<p>Na mrtvého položili chléb, pronesli modlitbu a všechny hříchy mrtvého do něj vstoupily. Chléb snědla, ještě jí hodili groš a vyhnali ji. Byly to jediné chvíle, kdy docházela do vyhřátého domu. Jinak se uhlířova dcera brodila blátem nebo sněhem.</p>
<p>Snášela kamení i posměch. Usmívala se a zpívala si. Poslední zrnka času jejího neštěstí brzy propadnou hrdlem přesýpacích hodin. Čekal ji šťastný konec, jaký si ani nedovedla představit, s princem ze snů. </p>
<p>Když uvízla nohou pod padlým stromem, přijel a se zdatností, které se nevyrovnal žádný místní křupan, kmen odvalil. Posadil ji k sobě na koně. Ukázala mu cestu a on pohladil její zacuchané hnědé vlasy. Od chvíle, co rodiče zemřeli, to byla první něžnost, kterou poznala. Slíbil jí, že se pro ni vrátí, jen co vybojuje nazpět svůj trůn.</p>
<p>Všimli si změny. Udělala chybu, prořekla se, když s ní na chvíli mluvili vlídně. Byla to přetvářka. Přijela ozbrojená družina pátračů. „To je ona,“ ukazovali na ni. „Dcera uhlířova, pojídačka hříchů, ďáblova kurva.“</p>
<p>„Pověste tu děvku,“ kázal usurpátor trůnu, když zjednal v davu kázeň.</p>
<p>Bili ji do krve, spoutali, až se jí konopný provaz zařízl do masa. Prosila, slibovala, ale neobměkčila je. Táhli ji ke stromu. Nevzhlédla vzhůru, když ji vytahovali za krk, hledala svého prince.</p>
<p>Přišel. Přesekl provaz, rozehnal ty zlé lidi, kteří jí působili bolest, a znovu ji posadil k sobě na koně. Blouznila? Ne, bylo to přece krásné, když jí dal na hlavu věnec jako své nevěstě a šeptal jí, že budou svoji pro všechna století, která přijdou. </p>


{% endblock %}
