{% extends "post.html" %}

{% set title = 'Drabble č. 15 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 15</h2>

<p>Mairon/Sauron</p>


<p>Jsem tak blízko. Dokážu to. Najdu spůsob jako vtisknout světu perfektní podobu a bude to fungovat. Musí to fungovat. Žádná Melkorova dekadence. Jak vůbec mohl klesnout tak hluboko? Raději na něj už nemyslet. Tohle je nový začátek, můj začátek. Obdivuhodný, jak stojí v mém jménu. Mám disciplínu, pragmatizmus, nespočet znalostí a zdatností a nekonečnou touhu. Vybuduji perfektní systém, velkolepé impérium, každá součástka dokonale zapadající, vše hladce fungující, nezničitelné a úchvatné. Ano. Je to jako žár, strhujíci sekvence akordů, kroutíci se, zvedajíci. Jen uchopit. Cítím, že mě to bude stát vše, ale jakou by má bytost měla cenu bez smysluplnosti? Zaplatím tedy vším, celým svým já, svážu se s tímhle cílem a již vnímám ten tvar, absolutno bez konce. Obruočka. Tahle vznešená vize je má nevěsta. Nejdražší. Zlato bude shcránkou tedy. Spíš rozechvělé významy, než vyřčena slova mi splývají z jazyka těžce. Cosi mě s každou hláskou svírá stále pevněji. Jak smrtelná past. Dochází mi, že ta pouta, jež splétám, jsou i moje. Tak ať. S vypětím sil ukončím inkantaci a alchymii kování. Opět vnímám své tělo a svět kolem, ale zrazujou mě, jakoby jej nemělo co držet pohromadě, skřehlé, vyprahlé a cizí. Neudržím se na nohou a klesnu na černohnědý kámen. Zmatkem a bolestí proráží lúč jistoty, reálnější, než cokoli jiného, střed existence. Natáhnu se po něm. Čas a svět strnou, i něco ve mně se zachvěje, ale pak ucitím dotyk hladkého kovu, elegantní rytiny, stělesnění toho nejkrásnějšího, co jsem v sobě měl a všechno předchozí smete moc.</p> 

{% endblock %}
