{% extends "post.html" %}

{% set title = 'Drabble č. 17 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 17</h2>


<p>„Povídám ti, ty šaty byly hnědé.“ </p>
<p>„Ty myslíš takové hodně světlé? Jak se to... Kruci.. Béžové?“ </p>
<p>Upřesňoval Vondra poslouchaje kamarádův popis svatby jeho sestřenky. </p>
<p>„Ne, vole! Hnědé. Jak... Jak to tvé pitomé auto.“</p>
<p>„Hele, nenavážej se do mí káry! Slyšels její motor? Hotová symfonie. Dal jsem za ni čtyřista tisíc a má vyhřívané sedadla a parkovací senzory vzadu i vepředu a...“</p>
<p>„Jo jasně, promiň. Tak není pitomá, no.“ </p>
<p>„...A za sekundu zrychlí z nuly na...“</p>
<p>„Hele, nemusíš to znova všechno vyjmenovávat. Pamatuju si to od posledně. Ty šaty však měly přesně takovou barvu.“</p>
<p>Vondra poněkud splasl, zbaven příležitosti vychvalovat svůj drahý Seat leon, ale jak Jirka zase spustil o šatech, pustil se do odporování se stejným zápalem.</p>
<p>„Ale neplácej. Odkdy mají nevěsty hnědé šaty. Všechny ženské se vzdávají v bílém. Jako každý nový domáci spotřebič.“</p>
<p>Dodal Vondra a spokojeně si přihnul z půllitru. Byl fakt hrdý na svou zdatnost rozumně i vtipně zdůvodnit vše, na co přijde řeč. </p>
<p>„Ne, vážně. Hnědé je měla!“</p>
<p>Nedal se Jirka. </p>
<p>„To spíš ty zákal.“</p>
<p>„Jenže ten je zelený, nebo šedý. Ne hnědý.“ </p>
<p>„Zato její šaty byly, co?“</p>
<p>„Přesně.“</p>
<p>Vondrovi už docházelo, že tohle nebude mít konce a tak moudře změnil taktiku. </p>
<p>„Ale proč by na sobě měla hnědé šaty?“</p>
<p>Na to již Jirka neměl odpověď a ticho přerušované jen Vondrovým netrpělivým poklepáváním nohou se nepříjemně natahovalo. Pak dostal prima nápad.</p>
<p>„Víš co? Brnknu ségře, ta ji s tím vším pomáhala. A taky dosvědčí, že fakt byly hnědé.“ </p>
<p>Sestra dosvědčila i vysvětlila a po telefonátu nastalo další ticho. Kletbu mlčení napokon zlomil Vondra.</p>
<p>„No to mě vošoustej a ohol... Slyšels to, co já?“</p>
<p>„To o politický korektnosti? Jo.“</p>
<p>Další ticho. </p>
<p>„Jako chápu, že se černoch může urazit, když mu řekneš negr, ale tohle?“</p>
<p>„Jo. Svět se musel zbláznit, když někoho napadlo, že bílé svatební šaty jsou rasistické.“ </p>


{% endblock %}
