{% extends "post.html" %}

{% set title = 'Drabble č. 20 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 20</h2>

<p>Morrígan</p>

<p>Temža je šedá zrnkami popola a kamenným prachom, zrkadlo zadymenému nebu, na ktorom sa občas mihne krkavec. Ju však netrápi kalná studená voda, jej krok pevný a istý, pretože je paňou tejto zeme. Vkročí do prúdu, náruč černošedých vojenských uniforiem s červenými škvrnami a vôňou železa. Dá sa ich prať. Rumelkové povrazce sa vpletajú pomedzi sivé nie nepodobne ornamentom z jej mladosti.</p> 
<p>Zasmeje sa škrekľavým smiechom, keď po zotretí šmúh sa zablysne podobizeň orla. Už sa tu raz snažil postaviť hniezdo. Tento je však iný a v pazúroch zviera hranatú špirálu, kríž zlomených ramien. Čo tam po tom, odkiaľ prilieta, jej havrany mu nedovolia pristáť. Toto je už nespočet stáročí jej územie, je paňou jeho nezávislosti. Kto sem príde, buď sa pokloní jej kázni a splynie s jej ľuďmi, alebo zhynie. Pretože keď nestráži prosperitu, vezme do rúk zbrane, trpezlivo intriguje, v mladiciach, matkách i starenách prebúdza fantómov a v mužoch krvilačnú bojachtivosť, povoláva si fianna. Poblúzni nepriateľa strachom. Keď to najmenej čaká, ukáže ako mu z brnenia zmýva jeho krv. Výjav, ktorý ho bude mátať v nočných morách. Budiť sa bude spotený s výkrikom bánší na zsinalých perách. Vzhliadne od svojej práce, vklovne sa mu do očí a on v tých jej uvidí osud oceľou vytesaný do prastarého kameňa, spečatený obeťou.</p> 
<p>Lietadlá prilietajú, v nich kamery a fotoaparáty. Je bohyňa, vie kde stáť, kam sa pozrieť, pred kým zdvihnúť mokrý mundúr, než zmizne v kŕdli vrán. História je jej dôkazom. Nik ešte nevzal samostatnosť ostrovom, čo patria Morrígan.  </p>


{% endblock %}
