{% extends "post.html" %}

{% set title = 'Drabble č. 23 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 23</h2>

<p>„Ach, drahý synovec. Všetky neviestky idú za Gerionom. Akonáhle som vypátral náš stratený rodový meč, vzniklo toto usporiadanie a už sa ku mne len hrnuli. Samozrejme, nemohol som sa nechať nasledovať nemajetnou armádou z mesta do mesta. Chcelo to trocha inštitucionalizácie. A tak sme tu. Koho že to hľadáš? Tyša sa volá? Hmm... Premlelo sa tu veľa ľudí (keby len tých), ale mám výbornú administratívu a tam už o nej niečo nájdeme.“</p>
<p>Tyrion omámene kladie nohu pred nohu nasledujúc vyškereného strýčka. Sám má zmysel pre prekvapivé zvraty, ale takýto by mu nenapadol ani vo sne. Len postupne mu to všetko dochádza. Ani nevie ako, preberá s usmievavým plavovlasým dobrodruhom zvitky a vyrážajú na neďalekú adresu. Má ešte stále tie doširoka roztvorené hnedé oči? Smeje sa vyvrátiac hlavu dozadu ako vtedy? Zapletá si vrkoč napravo? Chce... Chce ho vidieť? A už sú na konci cesty a stoja pred dverami, Gerion ho povzbudivo potľapkáva po pleci drmoliac čosi o zdatnosti a dvere sa otvárajú a...</p>
<p>Otvorí oči do oziabavého skorého rána, kedy aj púšť má farbu sinky. Telo ho pobolieva od spánku na tvrdej zemi a mraze a k tomu je nanajvýš zmätený. Mal sa konečne zísť s... Zrakom zablúdi k múmii opretej o zvetralý kameň, Vyblednutý roztrhaný odev držia pokope kúsky kovu s podobizňami levov. Vánok nadvihuje zvyšky svetlých vlasov. A v nekonečnej irónii tvár rozškľabená suchom má takmer identický úškrn ako za živa. Tyrion tu včera odpadol pripravený o posledné sily týmto výjavom. Jeho sny to prekrútili. Chvíľu ho premáha smiech, napokon prevládne letargia. Mlčky sa načiahne po Jasný rev ešte stále zovretý vo vyschnutej ruke a začne sa pripravovať na návrat.</p>  


{% endblock %}
