{% extends "post.html" %}

{% set title = 'Drabble č. 24 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 24</h2>

<p>Protože již stačilo vdávaní ji za polovinu postav v Písni.</p>

<p>Sansa STARK</p>

<p>Kdysi si neuměla představit, že by se nevdala. Čekala jen na to, na sobáš s někým vhodným a příjemným, jako z písní. Jen by vzhlédla, uviděla půvabnou vstřícnou tvář, noblesní rytířskost a vzplála láskou. Tsk, spíš poblouzněním. Sen odvátý jako zrnka popelu, sněhové vločky. Později se smířila s vydajem, jež jí zachrání holou kůži, vydajem výhodným. A vdala se málem tolikrát co Margaery. Vzpomínka na ni ještě pořád páře její klid. Šílenství trvající staletí. Protože někdo, kdo je v strategicky výhodné pozici zdaleka nemusí být výhodný. Všechny přísliby zmařené charakterovými vadami, zhubnou závislostí a dluhem, nebo nedostatkem spřízněnosti, jež zakalený v přetvárce a nucení se k plnění očekávaní stvrdne na čepel zahořklosti. A občas to zmaří pouhá náhoda a všechno to pragmatické obětování, kázeň agresivní odevzdanosti vyjdou na vniveč. Měla po krk infantilních zámků v oblacích i bezohledného a slepého politikárčení. Nač si takhle omezovat možnosti? Nač spoléhat jenom na tohle? Vyvázla jen tak tak a ne díki sobáši, nýbrž jemu na protiveň. Je si sebou jistá ve své nevybízivosti, jako její země – její Sever. Třeba se nevdá nikdy. A třeba jednou otevře brány vroucího Zimohradu. Ale pouze tomu, kdo bude hoden. Ne proto, že bude okouzlující, nebo stezkou k moci. Jestli se vdá, tak jen za spolehlivého důvěryhodného člověka, se vzájemným respektem a přátelstvím, víc než touhou. Ne proto, že by jej snad potřebovala, z donucení, nebo to byla její samozřejmá povinnost. Jestli se vdá, tak jen proto, že to oba budou opravdu chtít. </p>

{% endblock %}
