{% extends "post.html" %}

{% set title = 'Drabble č. 26 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 26</h2>

<p>Inanna

<p>„Rozhodla som, komu budem nevestou.“
<p>Vyhlási femme fatale Úrodného polmesiaca a obaja jej nápadníci vyskočia na nohy. 
<p>„Zvážila som všetky vaše zdatnosti i nedostatky a nakoniec chcem pastiera.“
<p>Oznámi s úsmevom žiarivým ako jej osem-cípa Večernica. Muž s palicou k nej rozradostene vykročí, do cesty mu však skočí rival s kosákom. 
<p>„ Ty zlodej! Pred zimou som jej začal dvoriť, denno-denne v poliach. A potom prídeš ty so svojimi pažravými stádami, podlo sa spriahneš s Utuom a vyfúkneš mi ju?“
<p>„Nezavadzaj! Ak by si bol hoden, zvolila by ťa. Tak ma neviň z vlastného zlyhania.“ 
<p>„Zlyhania? Ja ti dám zlyhanie!“
<p>Innana vidiac, že čo nevidieť dôjde k boju na život a na smrť, zažíva ozajstnú dilemu. Napokon zatúži násiliu zabrániť. Má chuť na inú predohru. Zvodne sa pohojdávajúc vojde doprostred, pohodí ligotavým vodopádom gaštanovo-hnedých vlasov, zaklipká nebesky trblietavými okáľmi a pokladajúc dlane na ich hrude, rezolútne ich od seba odtlačí.
<p>„Polichotená som, že by ste neverili, ale neprajem si, aby ste sa tu navzájom zabili. Rešpektujte môj súd. Vymeňte si kozľa a snop obilia na zmierenie a hotovo. A Kain...“
<p>„Volám sa Enkimdu.“
<p>„Pre mňa za mňa. Ak pomýšľaš, že zabitím Ábela...“
<p>„Som Dumuzid.“
<p>„Neprerušovať, drahý! Ak predpokladáš, že jeho zabitím ma získaš celú pre seba, mýliš sa. Nikto ma nemôže mať celú. Družka, nedružka, v dobrej nálade som štedrá, prítulná ako mača. No vezmi mi, čo je moje a zmením sa na rozzúrenú levicu. Vyhlásim ti vojnu, odopriem svoje lono. To platí pre oboch.“
<p>Cukor a bič a sú v pozore. Občas nech sa pobijú, ale žiadne vraždenie. Chce mať predsa pestrý výber. A tak málo stačilo. Poučenie? Make War AND Love. 

{% endblock %}
