{% extends "post.html" %}

{% set title = 'Drabble č. 4 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 4</h2>
<center>Čertova nevěsta</center>
<p>„Ty vole, Zdendo, to bude drahý.“</p>
<p>Řekl Lojza, čtoucí ne moc zdatně napsaný scénář. </p>
<p>„Pohádky o čertech už nikoho nezajímají. Nakonec z toho zase bude rodinná komedie za všechny prachy. Jako ta nová kravina od Svěráka.“ </p>
<p>„No, jo, Máš pravdu. Ale ty čerti jsou lidoví, v tom se každej nějak najde. Tak víš co, natočíme něco o nevěstě. A vezme si třeba čerta, aby to nebylo moc složitý, a aby tam vzniklo nějaký vtipný nedorozumění. Chápeš?“</p>
 <p>Lojza jen zavrtěl hlavou. „Čerta? To jako nějakýho cikorku z ghetta od naproti?“ </p>
<p>Zdeněk se zhrozil. „Ne, žádnýho cikána, to by mi na Nově neodvysílali. Normálního hnědýho čerta s křivýma nohama. Budeme tomu říkat třeba Čertova nevěsta, to pochopí i úplnej debil, takže pro diváky Novy to bude naprosto ideální. Na začátek dáme chudou nevěstu z nějaký vesnice v prdeli světa, kde to nikdo nezná. Pak tam dáme nějakýho negramotnýho burana, nejlíp někoho kdo neumí do deseti napočítat a topí se v dluzích. S tím se diváci snadno ztotožní, protože na tom většina z nich není o moc líp. No a z toho burana se pak stane čert nebo princ nebo něco takovýho, to je vlastně jedno co a potká se s tou nevěstou, která ale nakonec bude zakletá princezna, aby lidi viděli, že i jejich život, kterej stojí za hovno se může zlepšit. Teď mi tak dochází, že na tomhle vyděláme miliony.“</p>
<p>„A kdo nám k tomu nazpívá nějakou hitovku?“ Zeptal se Lojza.</p>
<p>„No přece Michal David, toho lidi milujou.“  </p>

{% endblock %}
