{% extends "post.html" %}

{% set title = 'Drabble č. 5 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 5</h2>

<p>Dacey Mormont

<p>„Dnes si mi zachránila život.“</p>
<p>Prehovorí Robb znenazdajky tónom tak vážnym, akoby šlo o život stratený. Sedí s podmračeným pohľadom, príťažlivo tvarované ramená zhrbené. Celý deň boli na nohách, ale zdá sa, že jeho dnešná utiahnutosť nesúvisí s vyčerpaním. Dacey zvolí potmehúdsku reakciu.</p>
<p>,„Prekvapuje ťa to?“</p>
<p>„Nie tak ako myslíš. Skôr, že mám šťastie na tak vernú a zdatnú spolubojovníčku. Čím som si to vyslúžil?“</p>
<p>Dacey na chvíľu prestane čistiť kropáč a zamyslí sa.</p>
<p>„Prísľubom, ktorý svedomito napĺňaš. Neľutujem ani jediný deň pod tvojím velením.“</p>
<p>„Robím chyby.“ </p>
<p>„To my všetci.“ </p>
<p>„Ale máloktoré prichádzajú tak draho. Tá koruna... Je ťažká.“</p>
<p>„A presne tento prístup si na tebe vážim. Ale opatrne, aby si nezašiel prihlboko do lesa výčitiek a obáv. Potom dochádza k ešte väčším prešľapom a je z toho bludný kruh Ešte sa nám úplne stratíš, Bolton s Umberom si skočia po krku a nechcem si ani predstavovať, čo rozpúta tvoja matka. Vážne, vstúpi to do legiend a každý sa z nich bude chytať za hlavu.“</p>
<p>Dodá ku koncu s už trocha podpichovačným tónom, aby odohnala jeho trudnomyseľnosť. Zdvihne k nej tú krásnu hlavu farby jesenného lístia, hnedého a hrdzavého a usmeje sa, až Dacey poskočí srdce.</p>
<p>„Tak budem dúfať, že budeš nablízku, aby si mi zabránila vôbec zísť z cesty.“</p>
<p>„Budem,“</p>
<p>Prikývne. Občas premýšľa, že by po jeho boku rada stála aj ako nevesta. Ale len občas. Ona je príliš do vetra a on aj tak musí uzavrieť politicky výhodnejší sobáš. Takto je to zariadené omnoho lepšie. </p>


{% endblock %}
