{% extends "post.html" %}

{% set title = 'Drabble č. 6 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 6</h2>

<p>„Kdo jsi, pane?“ zeptala se dívka hlasu.</p>
<p>"Jeho jméno je Yggrund,“ řekl zraněný mladík, zatímco se pokoušel poslepu vstát a pravou nohou hledal zemi. Dívka se marně pokoušela udržet ho na lůžku. „Yggrund z Rattvisanu, přezdívaný Levhart.“</p>
<p>„Tvůj soupeř,“ došlo dívce. „Muž s levhartí přilbou.“</p>
<p>„Ano, to jsem já,“ promluvil opět onen drsný hlas. „Ale kdo jsi ty, mladíčku? Ať vím, koho zabiju.“ Vzduch prořízl ocelový zvuk meče taseného z pochvy.</p>
<p>Mladík, zatímco se hrabal na nohy, ucítil, jak se mu dívčina dlaň sevřela kolem zápěstí. „To není čestné, pane Yggrunde,“ pokoušela se dívka zarazit rozlíceného návštěvníka.</p>
<p>„Ctí ho nezastavíš, Uljano,“ řekl mladík, zatímco se postavil mezi návštěvníka a dívku. „Levhart takové slovo nezná.“</p>
<p>Strhl si obvazy z očí a přes bolest, která se do něj okamžitě zahryzla, konečně pohlédl do tváře muže, kterého tak nenáviděl. „Mé jméno je Vjačeslav z Dubna. Mým otcem byl Andrej z Dubna. Má matka byla Blagica z Dubna. Oba jsi zabil, a všechny, kdo se té noci nacházeli na našem hradě. Kromě mě a otcova přítele, který mi zachránil život.“</p>
<p>„Tak to jsi ty. Mé pátrání je u konce. Řekni tady své nevěstě s hnědými vlasy, ať si pořídí smuteční šat.“ Zaútočil, ale Vjačeslav s nečekanou zdatností popadl žerď praporce opřeného o stanovou výztuž, kterou ránu vykryl. Žerď pod silou úderu praskla, ale Vjačeslav jednou polovinou Yggrunda udeřil a získal tak chvíli času.</p>
<p>„Můj drahý, chytej,“ křikla na něj Uljana a hodila mu jeho meč. Vjačeslav jej sevřel a odhodlaně se postavil proti Yggrundovi. </p>


{% endblock %}
