{% extends "post.html" %}

{% set title = 'Drabble č. 7 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 7</h2>
<p>Kratučká AU kde by vystrelili a...</p>

<p>Len vlastný dych prerušoval tú ťaživú chvíľu. Až dokým ju neprerušilo aj zvučné prásk...</p>

<p>A) ...Trafili sa</p>

<p>A za ním ďalšie a ďalšie, ako padajúce domino, Aj pri najlepšej zdatnosti bolo ťažké mušketou trafiť cieľ, lenže salva z desiatok hlavní ho nájsť musela. Muž klesol na zem na pol ceste medzi šokom a potvrdením predpokladov. Na košeli sa rýchlo rozpíjali škvrny farby drahého vína a dych mu akosi dochádzal. Výraz tváre mal však takmer pokojný. Za pokus to stálo. Letmo zapremýšľal, či vojenská smrť je pekná nevesta a o úder srdca neskôr sa o tom už mohol presvedčiť.</p> 

<p>B) ...Netrafili</p>

<p>Trhol sebou plný zmaru z očakávanej dvojitej bolesti. Prehra na predčasnom konci jeho púte by bola tou horšou. Bolesť však neprichádzala. Len tak tak skrývajúc prekvapenie stočil pohľad vpravo, odkiaľ zaznel ten osamelý výstrel. Tým smerom sa dívali aj všetci ostatní a so skrývaním ohromenia sa vôbec neobťažovali. </p>
<p>„Jejda... Pošmykla sa mi ruka.“</p>
<p>Vyhŕkol priškrteným hlasom vojak, ktorý vyzeral tak zdesene, až Bonapartemu napadlo, že by sa mu azda zišli aj hnedé nohavice. Prestúpil z nohy na nohu trocha v pomykove.</p>
<p>„Vážne. Ja... Ja som nechcel zabiť svojho cisára. A ani nechcem!“</p>
<p>Dodal vojak už v panike a so slzami v očiach a na potvrdenie svojich slov odhodil mušketu. V momente sa k nemu pridali ostatní a potom sa už všetko zbehlo rýchlo. Napoleon zvyšok dňa strávil premýšľaním, či naozaj chce vypracovať tú objednávku na zbrane s presnejším dostrelom. </p>


{% endblock %}
