{% extends "post.html" %}

{% set title = 'Drabble č. 9 (7. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>

<p>Jaquen H‘ghar</p>

<p>Málem ji nespoznal. Vyrostla, ale to bylo to nejmíň. Veděl, že Dům Boha tisících tváří ji změní, ale tohle skrátka nečekal. Nezpoutanost byla nahrazena sebekázní, nepřístupností v podobě prázdného vzezření a držení, prázdného výrazu a hlasu, prázdných očí. A za prázdnotou tvrdost a chlad oproti nímž byla její zášť, když ji poprvé potkal, teplým hebkým kožouškem štěnětě. A podle záznamů je to málem asasín století. Ještě snad dosáhne nejvyšší pozice. Ta představa je líbivá i děsivá zároveň a obojí je něco, co Jaquen už dlouho nezažil, ukolébán v lhostejnosti i přes hluboce vrytou nutnost neustálé obezřetnosti. A není to to jediné, co ho příští léta dráždí. Jsou to zrnka lítosti a viny? To ho opravdu zatěžuje, že jí možná bylo vyrváno víc, než dáno, že jí byla zahataná cesta k sebeaktualizaci? Proč klást důraz na sebeaktualizaci? Je Mužem bez tváře. Sebeaktualizace je pro něj bezcenná. Ale když je všechny převede, uteče závazkům řádu zanechávaje je na lopatkách, využitých pro osobní cíle a jakýmsi příměrím a vydíráním jim sváže pomstychtivé, o obnovu statusu quo žadoníci ruce, cítí víc kacířského obdivu, než pohoršeného sklamání. Vzhlédne k Aryi Stark s Jehlou v ruce a neohroženýma očima šelmy až doteď mistrovsky schovanými za netečností Končí s asasínstvím a těžce vydobitý život si už nedá podruhé vzít, vrací se domů. Jaquen je poněkud oblouzen. Měl to tušit. Měl to tušit od té noci v Harrenově. Teď zaplatí on, ale bude to mince dána za něco, co má cenu. Usměje se, krev a voda a uznanlivě kývne.</p> 
<p>„Tak tedy ne všichni muži.“ </p>


{% endblock %}
