{% extends "post.html" %}

{% set title = 'Povídka č. 1 (2. kolo)' %}

{% block content %}

  <h2>Povídka č. 1</h2>

  <p>Clarence Hightower se i se svým doprovodem blížil k Vysoké Zahradě. Byl tu již dříve. Jednou s otcem a podruhé s bratrem. Uvědomoval si však, že když zde byl posledně, tak byli Tyrellové jeho lenními pány. Nyní byl pobočníkem krále a tudíž byl v hierarchii výš. Byl to trochu zvláštní pocit a musel přehodnotit v hlavě pár věcí, na které dříve nemyslel. Svým způsobem bylo výhodou, že se nesetká s lordem Luthorem, v rámci jehož smrti vlastně jel Vysokou Zahradu navštívit. Jeho mladou vdovu, lady Olennu si moc nevybavoval. Byla to energická drobná dívka z rodu Rudovínů, ale kromě několika společenských frází s ní nikdy nemluvil. Ačkoliv Stromovina patřila k lénu Tyrellů, byla přece jen samostatným ostrovem porostlým vinicemi a ležela trochu z ruky, než aby tam měl někdy cestu sám či s otcem. Nyní po náhlé a nepříliš vysvětlené smrti lorda Luthora, se stal lenním pánem Mace Tyrell.. Zatím byl doslova dítětem a to byl vlastně ten důvod, proč ho Jaehaerys vyslal do Vysoké Zahrady. Aby dohlédl na způsoby poručnictví v nejlepším zájmu krále a taky trochu prošetřil podezřelou smrt vládnoucího lorda. Tyrellové byli sice spojenci Targaryenů; byli to právě oni, kdo z jejich rukou přijali správu Rovin, čímž se dostali mezi sedm nejvyšších rodů Západozemí. To vše na úkor starobylého rodu Zahradnických, kteří vládli Rovinám od nepaměti. Ale od zkázy Letohradu, která Jaeherysovi vynesla korunu, byl král poněkud přecitlivělý na rodinné tragédie. Byl křehké postavy a chatrného zdraví. Snad se proto sám cítil ohrožen při větších změnách.</p>

  <p>Dorazili časně po poledni a protože byli ohlášeni předem, uvítací hostina již byla připravena. Přijal ji s povděkem, protože po pár dnech v sedle se člověk rád v klidu nají. Ale ještě více se těšil na koupel, až spláchne pach koně a prach cest.</p>

  <p>Ubytovali je ve východním křídle s opravdu okouzlujícím výhledem do terasovitých zahrad. Z jeho pokoje se dokonce dalo na jednu z prolínajících se teras vyjít mezi záhonky a kamenné truhlíky tvořící zábradlí. Otevřeným oknem sem proudila květinová vůně, postel byla potažena světle zeleným brokátem zakončeným střapci a na komodě a nízkém stolku byly položeny jeho osobní zavazadla, která sem již sloužící dopravili. Otevřenými dveřmi viděl do přilehlé místnosti, kde služky právě připravovaly koupací káď. Zrovna do ní vkládaly veliké batistové plátno s vyšívanými okraji, aby mohly začít nosit vodu. Kdyby to nebylo hrubé porušení etikety, tak by určitě nejprve lezl do kádě s vodou a pak teprve si vyměňoval zdvořilostní fráze s Tyrelly. Leč nedalo se nic dělat. Pobočník krále si nemohl dovolit být tak neurvalý. Odložil si tedy jen cestovní plášť a klobouk. Sluha mu zkušeně přeleštil vysoké boty, aby nepředstoupil před lady Olennu v zablácených botách a nechal se vést majordomem, který se nesl vznešeně jako páv a sám byl nažehlen do nejmenšího záhybu na plisovaných rukávech.</p>

  <p>Vstoupili do sálu, přešli jej a zamířili k soláriu. Lady Olenna povstala a Clarence se dvorně uklonil. Byla celá ve vdovské bílé podle dvorského protokolu. Vedle ní stál pětiletý chlapec s kulatým obličejem a hnědými vlasy oblečen v zeleném sametu vyšívaném zlatými růžemi. Střih oděvu působil velmi nedětsky ani mu nesedělo, ale s tím se nedalo nic dělat, byl to lord Mace Tyrell. Malý Mace zíral na Clarence dokud ho matka nedloubla jemně do zátylku. Rychle se na ni otočil, pak se pohledem vrátil ke Clarencovi a vyhrknul: „Vítáme vás“ a opět se rychle podíval na matku, jestli to udělal dobře. Lady Olenna kývla a Mace se šťastně usmál.</p>

  <p>„Děkuji vám, lorde Tyrelle,“ s úsměvem se uklonil Clarence. Pak obrátil pohled k dalším třem mužům z rodu Tyrellů. Byli to všechno bratři zesnulého lorda Luthora. Gartha přezdívaného Grobián znal osobně. S Morynem se již také jednou setkal a Gormona znal od vidění. Navzájem se pozdravili a vyměnili si zdvořilostní fráze, jak kázal protokol. V místnosti byla patrná nervozita. Clarence byl tedy vděčný, když mu vzápětí lady Olenna nabídla, aby využil pohostinnosti Vysoké Zahrady a spláchl ze sebe prach cest s tím, že za dvě hodiny se sejdou všichni v hodovním sále.</p>

  <p>S velikou úlevou se ponořil do kádě a nejprve si řádně vydrbal vlasy. Pak se opřel o okraj a zatímco mu z vlasů crčela voda na dlažbu, přemýšlel o svém poslání. Vybavoval si celý výkvět rodu Tyrellů. Lady Olenna, drobná, celá v bílém. Garth velký, robustní a nesouhlasně funící. Moryn zamračený s cukajícím rtem. Gormon štíhlý a tichý s pozornýma očima. A všichni byli nervózní. Na druhou stranu také nevěděli, co očekávat. Oficielně měli projednat Maceho poručnictví a převzetí dosavadních závazků k vládnoucími rodu. Polooficielně však také věděli, že králův pobočník přijel také vyšetřovat smrt lorda Luthora.</p>

  <p>Vyrušil ho příchod dvou lazebnic, které ho přišly vydrbat. Donesly si na to žíněné kartáče na dlouhých dřevěných násadách a košík s barevnými vonnými mýdly dováženými z Lysu, oleji z Myru a vonné soli z Volantisu. Nejprve je chtěl poslat pryč, protože byl s koupelí prakticky u konce, ale pak si řekl, že není důvod, proč by si nedopřál trochu toho luxusu, na který mu v Rudé baště tolik času nezbývalo. Podvolil se tedy jejich zkušeným rukám a nelitoval. Masáž krku a ramen mu udělala neobyčejně dobře a masáž chodidel ho vynesla na vrchol blaha. Navíc ho napadlo, že lazebnice mohou leccos vědět ze zákulisí Vysoké Zahrady.</p>

  <p>„Děvčata, co mi můžete říci o lordu Luthorovi?“</p>

  <p>„Jenom to dobré,“ pokrčila rameny baculatější lazebnice, která mu právě rozčesávala vlasy.</p>

  <p>„Byl to dobrý pán,“ přidala se hubená, zatímco dobrušovala břitvu na kůži.</p>

  <p>„Laskavý a nenáročný,“ přidala první.</p>

  <p>„Nenáročný? nadhodil Clarence znovu zajímavou přihrávku.</p>

  <p>„Ano pane, od nás lazebnic nikdy nepožadoval nic nad rámec lazebnických služeb,“ usmála se laškovně, zatímco mu masírovala kořínky vlasů.</p>

  <p>„Tím myslíte, že nikdy,....“nechal viset ve vzduchu nedopovězenou větu.</p>

  <p>„Přesně tak, pane,“ škádlivě se usmála druhá, což s břitvou v ruce působilo mírně děsivě.</p>

  <p>„Lord Luthor nikdy nedokázal docenit ženskou přítomnost,“ dodala baculatá a laškovně mu promnula ušní lalůčky, „ale vy byste taky nebyl jeho typ,“ mrkla na něj zhora.</p>

  <p>„Máte příliš chlupatou hruď,“ rozesmála se hubená.</p>

  <p>„Lord Luthor dával přednost mužům?“ nevěřícně se optal Clarence.</p>

  <p>„Přesněji řečeno mladým mužům.“</p>

  <p>„Přesněji řečeno mladému Lucasovi,“ zasmála se baculka.</p>

  <p>„Panoš Lucas je také poslední, kdo ho viděl živého,“ povzdechla si druhá lazebnice.</p>

  <p>„Pán ho poslal domů dřív, protože Lucasův sokol byl tažce raněn lordovým sokolem,“ vyprávěla baculka. „Pak jsme čekali až se vrátí náš pán, ale nedočkali jsme se do večera a ser Garth vyslal tucet strážných, aby se po něm poohlédli. A ti ho našli,“ v hlase se jí ozýval opravdový smutek.“Ležel mrtvý pod útesem, na kterém se popásal jeho kůň. Jeho sokol se vrátil druhý den.“</p>

  <p>„Byl to dobrý pán,“ povzdechla si hubená.</p>

  <p>„Ale lord Luthor má tři děti,“ nadnesl Clarence nesrovnalost, která mu hlodala v mysli.</p>

  <p>„Ano, pane,“ přitakala baculka, „lorda Maceho, tříletou Minu a malinkou Jannu.</p>

  <p>„Ale pokud dával přednost mladým mužům,...“ vypíchl Clarence jádro pudla.</p>

  <p>Lazebnice se podívaly na sebe. Mlčky a zaraženě.</p>

  <p>„O tom my nic...“</p>

  <p>„My o tom nic nevíme.“</p>

  <p>Vyhrkly rychle.</p>

  <p>„Vaše koupel je hotova, pane,“ překotně se sebe vychrlily, nervózně posbíraly všechny své nástroje a doslova utekly pryč.</p>

  <p>Clarence si uvědomil, že ho vlastně neoholily a tak odvedle přivolal svého osobního sluhu a nechal se oholit od něj. Převlékl se do slavnostního oděvu, který mu Keith zatím nachystal a s hlavou plnou myšlenek se vydal na slavnostní hostinu.</p>

  <p>Sál byl příjemně osvětlen a na masivním ořechovém stole s vyřezávanými sloupky se ve světle zapadajícího slunce a zapálených svic blýskalo stříbrné stolovací nádobí. Dvoupatrové podnosy byly plné drobného pečiva a třípatrové podnosy z křišťálu zase přetékaly nádherným ovocem.</p>

  <p>Posadili ho do čela podkovovitého stolu vedle lady Olenny. Dětský lord Mace byl společensky omluven, protože ani etiketa nemůže od dětí, které ještě neumí ani číst a psát čekat příliš. Po jeho pravé ruce pak seděl Garth Grobián, nyní nejstarší muž rodu Tyrellů a vedle něj Gormon, zatímco Moryn seděl po levici lady Olenny. Zbytek osazenstva tvořily dvorní dámy a místní šlechta. Nad celou obsluhou a dokonalostí hostiny bděl nažehlený majordomus, jemuž stačilo řídit vše pohledem a jen občasným drobným gestem rukou. Svou livrej nosil stejně hrdě jako Clarencův bratr Gerold svůj bílý plášť velitele krlovské gardy.</p>

  <p>Clarence si prohlížel přítomné mladíky a uvažoval, který z nich je nejspíše Lucas. S tím si musí dozajista promluvit mezi prvními. Raději se optá hned.</p>

  <p>„Lady Olenno, slyšel jsem, že lord Luthor trávil poslední dobou hodně času ve společnosti svého panoše Lucase. Potřeboval bych se ho na lecos vyptat.“</p>

  <p>Mladé vdově zbělela ruka držící sklenici Stromovinského vína tak, že nebyl poznat přechod mezi rukávem a kůží. Ovládla však svůj hlas a poměrně klidným tlumeným hlasem se optala:</p>

  <p>„Proč potřebujete mluvit právě s ním?“</p>

  <p>„Byl přece s vaším chotěm toho dne sokolničit a je posledním, kdo jej viděl živého,“ opáčil nevinně Clarence.</p>

  <p>Křečovité sevření na poháru povolilo, i když její ruka zůstala stále ledově bílá.</p>

  <p>„Ach tak, to jistě dává smysl,“ poznamenala. Vzápětí však dodala: „Pochybujete snad o tom, že se jednalo o nešťastnou náhodu?“</p>

  <p>„Náš král chce mít jistotu,“ vyhnul se odpovědi Clarence. „Je hezké, že vás švagři podporují v době vašeho smutku,“navázal zdvořile.</p>

  <p>„Gormon se dlouho nezdrží, za týden odjíždí do Citadely, aby studoval na mistra.“</p>

  <p>„Není na studium již přece jen trochu starší?“ otázal se Clarence se zájmem.</p>

  <p>„Nu je sice zvykem, že studenti začínají v mladším věku, ale není to až tak výjimečné. Navíc Gormon po dráze mistra touží již od dětství.“</p>

  <p>„Proč tedy již dávno nestuduje?“</p>

  <p>„Můj zesnulý manžel to tak docela neschvaloval. Přál si, aby se Gormon dobře oženil. Naštěstí pro Gormona, nemá Garth žádné takové předsudky.“</p>

  <p>„A Gormon může tedy jít za svým snem,“ poznamenal Clarence a upil z poháru výjimečného vína. Nebylo divu. Lord Rudovín své dceři jistě posílal to nejlepší.</p>

  <p>Králův pobočník nemohl usnout a proto vyšel do nočního ticha na terase. Usadil se na nízké lavičce, opřel se a pohlédl vzhůru k nebi na putující měsíc. Vykresloval stříbřité C trochu přepadávající dopředu. Ještě pár dní bude couvat než bude zase dorůstat. A možná i on sám bude muset udělat totéž. Pohlédnout do minulosti, aby mohl vykročit ke zdárnému konci. První krok bude Lucas. Hned ráno si ho dá předvolat a vyptá se ho na podrobnosti. Lucas je samozřejmě také podezřelý. Pak je tu ovšem také lady Olenna a její poněkud zpochybněné trojí početí. Garth Grobián, který nastoupil na post nejstaršího rodu a přibývá mu nyní titul lorda regenta a senešala. Regentství bude rozumné rozdělit mezi něj a lady Olennu. Přinejmenším to zjednoduší situaci, kdyby se pak ukázalo, že jeden z nich je přímo vinen smrtí lorda Luthora. A nesmí zapomínat na mladého Gormonta, který konečně může nastoupit kariéru, po níž prahnul a nejstarší bratr mu stál v cestě. A kdo ví třeba i Moryn získal něco víc než se může na první pohled zdát. Jenže kdo je vlastně otcem Mace a jeho sester? Kdo je vlastně skutečným lordem Tyrellem dnes?</p>

  <p>„Jak zmizel a nejde najít?!“ osopil se nezvykle prudce na svého osobního sluhu Keitha a vzápětí se zastyděl za své chování, protože spolu vždycky vycházeli dobře.</p>

  <p>„Zkrátka panoš Lucas není nikde k nalezení,“ trochu zaraženě shrnul hlášení Keith.</p>

  <p>„Předpokládám, že ses vyptal všech,“ již klidněji se ujišťoval Clarence, i když předpokládal, že to Keith udělal.</p>

  <p>„Ano pane. Majordomus Jean se mnou osobně obešel i lady a její švagry.“</p>

  <p>„Tak a dost, tu se děje něco nehezkého. Otázkou je jenom, kdo zahlazuje stopy a zbavuje se svědků.“</p>

  <p>Králův pobočník se posadil u nízkého stolu a chvíli přemýšlel. Dlouho však neváhal, protože rozseknout se to stejně musí, tak proč nepíchnout do vosího hnízda rovnou.</p>

  <p>„Keithe, ohlas mne u lady Olenny.“</p>

  <p>Byl uveden do salónku. Tapety ze smetanového brokátu poseté růžovými poupaty prozařoval tento dámský budoár. U perletí vykládaného stolečku seděla lady Olenna a upíjela čaj z jemného Quartského porcelánu. Když vešel, tak nejistě povstala v očekávání věcí příštích. Clarence kývl hlavou na pozdrav, ale vážný výraz mu na tváři zůstal. Rozhodným hlasem vpustil lišku do kurníku.</p>

  <p>„Paní, vím, že lord Luthor dával přednost mužům a o ženy nejevil zájem. Vysvětlete mi původ vašich potomků.“</p>

  <p>Lady Olenna se zachvěla a pak bezhlesně padla zpět do křesílka. Králův pobočník na ni upíral zrak a na první pohled viděl, že trefil do černého.</p>

  <p>„Odpovězte, lady!“</p>

  <p>Olenně se chvěl ret, ale nebyla schopna ze sebe vydat hlásku. Clarence pokročil kupředu a vdově vyšel z hrdla tlumený výkřik.</p>

  <p>Vtom se otevřely tajné dveře po levé straně a do místnosti vešel klidným důstojným krokem majordomus Jean. Lady Olenna znova tlumeně vykřikla.</p>

  <p>„Sere Hightowere, vyslechněte mne, protože mohu vše vysvětlit.“</p>

  <p>Klidně tam stál v mírném úklonu, ztělesnění klidu a důstojnosti. Clarence na sobě nedal znát překvapení, i když vývoj událostí ho mírně zaskočil. Byl však rád, že se přece jen někam ve vyšetřování posouvá.</p>

  <p>„Mluvte tedy,“ pobídl majordoma.</p>

  <p>„Jmenuji se Jean Květina,“ začal majordomus věcně, „Mým otcem, stejně jako otcem lorda Luthora byl lord Ignatius Tyrell.“</p>

  <p>Lady Olenna překvapeně vzdechla.</p>

  <p>„Jsem tedy nevlastním bratrem lorda Luthora. Lord Ignatius věděl, že Luthor není stvořen pro manželství, avšak stále byl nejvhodnějším nástupcem. Garth ani Moryn nepobrali dost rozumu a Gormona to vždy táhlo ke dráze mistra. Ponechal tedy svým nástupcem Luthora a dohodl jeho sňatek s krásnou lady Olennou.“</p>

  <p>„Jeane,“ pípla bílá vdova.</p>

  <p>„Lord Ignatius věděl, že Luthor nikdy potomky nezplodí a nemohl tento delikátní úkol svěřit ani svým dalším synům. Proto tím pověřil mne.“</p>

  <p>Olenna se křečovitě chytla desky stolu.</p>

  <p>Clarence pobíral význam toho, co nyní Jean přiznává a obracel to v mysli.</p>

  <p>„Jenže nejste legitimní syn vznešeného původu,“ namítl první, co mu vytanulo na mysli.</p>

  <p>„Ó né, můj pane, v tom se hluboce mýlíte,“ narovnal se hrdě majordomus. „Má matka byla dcerou lorda Kosima Martella a její matka zas dcerou lorda Huga Hightowera,“ nechal působit odhalení svého rodokmenu, podle něhož byl vlastně pro Clarence bratrancem z druhého kolene.</p>

  <p>„Mohl bych takto pokračovat dále, sere Hightowere, až k rodu Zahradnických. Má krevní linie je stejně vznešená, ne-li vznešenější než poloviny aristokracie Západozemí. V mých žilách koluje krev mnoha králů.</p>

  <p>Proto se lord Ignatius rozhodl k tomuto řešení. Bál se, aby jeho rod nevymřel beze zbytku jako rod Zahradnických. Lord Luthor byl s tímto obeznámen a souhlasil, že uzná mé potomky za vlastní. Ač levoboček, jsem tělem i duší Tyrell.“ S tím se uklonil a v této úkloně setrvával, očekávaje verdikt králova pobočníka.</p>

  <p>Clarence spojil dlaně za zády a začal přecházet po budoáru. Hlavou se mu honila celá řada myšlenek.</p>

  <p>„Kdo tedy zabil lorda Luthora,“ vyštěkl náhle nejpalčivější otázku.</p>

  <p>„Mohu-li posoudit podle svých šetření,“ odvětil okamžitě Jean, „tak nikdo. Jeho smrt by nikomu zvláště neprospěla. Lady Olenně nejméně,“ pokynul k bledé vdově.</p>

  <p>„Luthor v posledních letech dosti pil, což si můžete ověřit u kohokoliv ze služebnictva i rodiny. V osudný den tomu nebylo jinak. Vzhledem k jeho nedostatečně upravenému oděvu usuzuji, že seskočil z koně a chtěl se z toho útesu vymočit,“ jeho hlas poprvé zrozpačitěl, hned však nabyl opět své obvyklé klidné důstojnosti, „Přikázal jsem podkonímu, který ho našel první, aby o tom pomlčel. Dorazil jsem vzápětí a lordův oděv upravil. Tyrellové by ocenili, kdybyste o tomto detailu pomlčel, neboť by zbytečně zesměšňoval památku lorda Luthora.“ Prkenně se narovnal a odmlčel se.</p>

  <p>Clarence opět rázoval po místnosti.</p>

  <p>„Kam tedy zmizel Lucas?“ vybafl na majordoma.</p>

  <p>Jean však okamžitě odpověděl: „Lady Olenna se velmi obávala prozrazení toho, co jste se právě dozvěděl. Pro klid její duše jsem Lucase poslal s obchodní lodí do Volantisu. Za dva měsíce se vrátí s nákladem zboží a nikdo vám nebude bránit, abyste ho vyslechl.“</p>

  <p>„Nekryjete nyní některého ze svých...,bratrů’?“ otázal se králův pobočník.</p>

  <p>„Není k tomu důvod, sere. Gormon toužil po dráze mistra a Luthor byl stejně již blízko tomu, aby mu toto povolil. Nechtěl ho pustit jen proto, že lord Ignatius chtěl co nejvíce mužských potomků ve Vysoké Zahradě. Vymření rodu se velmi obával. A Garth ani Moryn nejsou stvořeni k intrikám. Na to jsou příliš prosté povahy.“</p>

  <p>„Zato tobě byla tato vlastnost nadělena hojnou měrou,“ poznamenal Clarence.</p>

  <p>„Nezapomínejte, že jsem z matčiny strany Martellem,“ řekl Jean a na jeho tváři se poprvé a naposled objevil úsměv.</p>

  <p>Lady Olenna stále stejně bledá seděla v křesílku a nervózně pozorovala králova pobočníka, v jehož rukou byl osud celého rodu Tyrellů i jejích vlastních dětí. Jean stál důstojně stále na místě a Clarence zpomaloval krok, jak postupně docházel k rozhodnutí.</p>

  <p>Odjížděl docela nerad. Vysoká Zahrada byla krásné sídlo a pobyt byl velice příjemný. Svému králi přivážel uklidnění o přirozené smrti lorda Luthora a vazalské přísahy všech Tyrellů, které co nevidět potvrdí osobně v Králově Přístavišti. Říkal si, kolikrát v dějinách Západozemí již bylo takto zasaženo do nástupnické linie a kolik lordů vlastně má nemanželský původ. A většina se to nikdy ani nedozví. Proč tedy odkrývat tuto špičku ledovce, když k tomu zatím není důvod. A jednou se třeba králi bude loajalita Tyrellů hodit. On svůj úkol splinil.</p>

{% endblock %}
