{% extends "post.html" %}

{% set title = 'Povídka č. 4 (2. kolo)' %}

{% block content %}

<h2>Povídka č. 4</h2>

<h4>Ywen</h4>

  <p>Ywen byla dcera lorda Luaga Royce, v pořadí osmá z devatenácti manželských a snad patnáctá nebo ještě víc z potomků od různých děvek, služebných a jiných souložnic. Pokud tak prvních pět dětí otce ještě zajímalo, u dalších řešil pouze, jak je výhodně provdat nebo oženit anebo se jich nějak takticky zbavit. A u Ywen se naskytla přímo úžasná příležitost – nejstarší dcera krále Viseryse, Rhaenyra, pořád dělala hlouposti a otravovala všechny na dvě míle daleko a Viserys uznal, že ta samota jí asi moc nesvědčí a jenom ji zvlčuje a rozhodl se, že milé Rhaenyrce sežene kamarádky. Dámy vybraných způsobů z důležitých šlechtických rodů přibližně stejného věku jako má jeho dceruška. No a lordu Roycovi kromě spermií nechyběla ani schopnost diplomaticky vyjednávat, a tak Ywen domluvil menší zájezd do Králova přístaviště. Ostatně matka Rhaenyry byla taky z Údolí, takže bychom si vlastně měly rozumět, říkal si král i její otec.</p>

  <p>Když dojela do hlavního města, bylo jí devět a Rhaenyře sedm a Ywen si myslela, že pro ni bude taková starší a zkušenější kamarádka. Snad ve všech ohledech se ale mýlila. Nepředstavovala si to nějaké bůhvíjak ideální – krásnou přírodu Údolí vyměnila za špinavé město, svoji rodinu za úplně cizí lidi s nepěknou pověstí, každopádně doufala, že aspoň ta Rhaenyra bude úplně normální holka. No ale bylo to ještě horší než hrozné – Ywen neměla tehdy ještě nějaké bůhvíjaké zkušenosti, ale i tak poznala, že to město je naprosto zkažené, skrz naskrz. Upřímnost, přímost a mírná naivita lidí z jejího domova tady všem lidem byly naprosto cizí. Nelíbilo se jí město, jak vypadá – smrdělo po chudobě, přestože Targaryeni se to snažili stůj co stůj zamaskovat a svoje obydlí měli dovedené téměř do dokonalosti.</p>

  <p>A Rhaneyrha? Člověk, kvůli kterému sem dojela? Malý hnusný sobecký spratek, neustále rozmazlován svými rodiči mající na všechno argument: „Já budu královna.“ Už asi tak druhý den se jí z ní dělalo nevolno.</p>

  <p>Ke své radosti Ywen zjistila, že tu nebude sama – měly totiž přijet ještě jiné urozené dívky, aby dělaly přítelkyni princezně. Lore Tyrell, Ines Swann nebo třeba Mina Bolton. Lore se ale Ywen zdála hrozně namyšlená , Ines byly čtyři roky a Minin boltonovský původ se taky nezapřel – byly hrozně surová a jednou ji viděla, jak na nádvoří porcuje obrovskou ropuchu a stahuje z ní kůži. Od té doby se Ywen snažila Mině co nejvíce vyhýbat.</p>

  <p>Život ji najednou přestal bavit. Sice ji přežívání v Králově přístavišti leccos naučilo, ale nelíbilo se mi tady a den co den doufala, že pro ni přijede třeba nějaký starší bratr a odveze ji zpět do Údolí. Do jejího domova, kde je krásná nedotčená příroda a lidé, kteří ji mají rádi. To se o zdejších říct rozhodně říct nedalo.</p>

  <p>Nebudu se rozepisovat o prvních dvou letech, které trávila v Rudé baště, nebylo by to moc veselé počtení. Ywen byla neuvěřitelně sama – párkrát se sice snažila navázat řeč s Lore, ale ta o to nestála, a tak jsem to po čase vzdala. Její nejspřízněnější duší se jí stala asi Ines, kterou asi ale po čase odvezli opět domů do Starého města, protože asi vyhodnotili, že je přece jenom dost malá.</p>

  <p>Ywen se sice vlastně dařilo dobře – měla co jíst a žila si jako v bavlnce, co by za to dali třeba obyvatelé Blešího zadku, nicméně se neuvěřitelně trápila. Dva roky naprosto sama!</p>
  <p>A potom se stal doslova zázrak! Nejspíš čekáte, že přijel někdo jako rytíř na koni, co se do ní naprosto zamiloval anebo třeba dva, ale ne, byl to někdo mnohem lepší. Nejlepší člověk na světě.</p>

  <p>Zkrátka a dobře, král Viserys viděl, že Lore, Mina ani Ywen se s Rhaenyrou nějak moc nekamarádí (možná tak jedině ta Mina by s ní našla nějaký společný zájem), a tak se rozhodl rozšířit skupinu princezniných „kamarádek“. A tak do Králova přístaviště začaly postupně jezdit Jeyne Fossoway, Walda Frey, Aylin Reyn a taky – Cadrilla Tarth.</p>

  <p>Nejprve přijela Jeyne a podle pravidla vrána k vráně sedá se staly neobyčejné kamarádky s Lore – obě z Roviny, obě úplně stejné. Po ní následovala Walda, tlustá a hlasitá holka s oplzlými vtípky, kterou taky skoro nikdo neměl rád, jenom ji čas od času ji k sobě vzala Mina na nějakou tu „lekci anatomie“.</p>

  <p>Ywen začínala být zoufalá – copak všechny urozené dívky musí mít nějakou vadu? Nemyslela jsem tělesnou, dámy, co se tady sešly byly všechny do jedné (snad leda kromě Waldy) krásné, to spíš ona, Ywen, by si měla připadat jako nějaká šedá myška. Myslela jsem vadu typu namyšlenost nebo surovost, s tím se prostě nemohla vyrovnat, i když se docela snažila.</p>

  <p>A pak jednou, že ten den bylo hrozně namračeno a vlezlá zima, se to stalo! Přijela Cadrilla. Všechny urozené Rhaeynřiny kamarádky už ze svých pokojů vyhlížely, co to bude zač, minule u Waldy totiž byly docela zklamané. Ona vystoupila z něčeho mezi kočárem a pojízdným domem, přitáhla si k tělu plášť a vydala se dovnitř.</p>

  <p>V tu chvíli si o ní Ywen pomyslela, že to bude nějaká taková do partičky Lore-Jeyne, měla na sobě přehnaně krajkované šatečky, byla maličká, měla dlouhé vlnité světlé vlasy a když šla, nosánek měla až přehnaně nahoře. Potom zašla dovnitř do hradu a dál na ni už Ywen neviděla.</p>

  <p>Ještě ten den s ní ovšem dámy měly malé uvítání. Ona se už mezitím stihla převléct z těch strašných šatů do docela normálních světle modrých a když s nimi mluvila, mezi předními zuby se jí dělala pěkná dírka. Taky samotný její hlas byl docela pěkný a se zvláštní přízvukem – jak se později Ywen dozvěděla, takhle se mluví na Tarthu.</p>

  <p>Už jen po tomto menším přivítání se Cadrilla Ywen zalíbila – vypadala skromně a mile a za nosánek nahoru přece nemohla. Neměla to kvůli nějaké pýše, ale protože jí prostě trošku nahoru narostl. Věci, co říkala dávaly smysl, nehihoňala se při každé hlouposti, takže Lore a Jeyne poznaly, že Cadrilla asi nebude jejich nový úlovek. Zato Ywen zbystřila.</p>

  <p>Ten den před usnutím přemýšlela, jaké by to bylo, kdyby taky měla kamarádku. Mohly by si s ní říkat taková ta bezstarostná dívčí tajemství, které až doteď dusila Ywen jenom v sobě, konečně by si měla s kým opravdu od srdce popovídat, nebýt tak sama. Všechny těžkosti by se ve dvou prostě staly menšími. A přesně tehdy se rozhodla, že z Cadrilly nespustí oči a stane se její přítelkyní.</p>

  <p>Netrvalo to dlouho. Jak se hned v pár dalších dnech ukázalo, Cadrilla byla stejně sama jako Ywen a volný čas na Rudé baště, kterého opravdu nebylo málo, byl nesmírně zdlouhavý a Ywen začalo být dvakrát víc na obtíž ho trávit sama, když viděla, že Cadrilla tady po hradu bloumá úplně sama.</p>

  <p>Jednou si na ni Ywen počkala, trošku podle za sloupem, aby na poslední chvíli nemohla Cadrilla ještě změnit směr a nesměle ji pozdarvila pozdravila ji. „Ahoj. Neruším tě?“</p>

  <p>Cadrilla byla očividně ráda, že se o ni Ywen zajímá, a tak se usmála (usmívat se Cadrilla uměla moc pěkně) a pozdravila ji taky. Potom ji Ywen, hořící nedočkavostí na tu svoji kamarádku zatáhla hezky do tepla do své komnaty a si s ní začala povídat.</p>

  <p>Ywen si do té doby vlastně ani moc povídat neuměla, takže byla překvapená, jak snadno to šlo. Nejprve vyjmenovala Cadrille všechny svoje vlastní a některé i nevlastní sourozence, potom Cadrilla zase jí svoje, Ywen se rozpovídala o svém rodném Údolí a Cadrilla zase vzpomínala na Tarth, safírový ostrov, jak se mu taky někdy říkalo. Shodly se, že obě pocházejí z krásných a docela i nedotčených krajů a že i v jiných ohledech jsou si docela podobné.</p>

  <p>Teda vzhledově byly naprosto jiné – maličká světlovlasá Cadrilla se vyspělé tmavovlasé Ywen opravdu příliš nepodobala, ale kdo řekl, že kamarádky musí být podobné vzhledově?</p>

  <p>Prvně se Ywen a asi i Cadrilla bála, že trošku moc tlačí na pilu a že takové kamarádství dlouho nevydrží, ale čím lépe Cadrillu poznávala, tím jí bylo jasnější, že to nebude jejich případ. Nejprve se bavily vlastně jenom o sobě – poznávaly se sebe navzájem. Potom přešly k hodnocení sebe navzájem i ostatních dívek a po čase už se dokázaly bavit úplně o všem.</p>

  <p>Z Cadrilly a Ywen se stala nerozlučná dvojka. Nemohly se sebe dostatečně nabažit, užívaly si, že i v takovém ošklivém prostředí existuje někdo tak milý a nezkažený jako je pro Ywen Cadrilla a pro Cadrillu Ywen.</p>

  <p>Ostatní dívky se taky docela divily – z tiché a nesmělé Ywen se najednou stala veselá, milá a ochotná Ywen, dovádějící někde s Cadrillou.</p>

  <p>A Aylin Reyn, Ywenina záložnice, kdyby přece jenom Cadrilla zklamala, chudák děvče, o tu se nikdo moc nestaral. Nebyla nikdy tak sama, někdy ji k sobě přibraly Lore a Jeyne, někdy Ywen s Cadrillou, někdy dokonce i s Rhaenyrou a Minou, ale tak dokonalou přítelkyni tady nikdy nenašla.</p>

  <p class="sep">-</p>

  <p>Noc byla teplá, skoro až moc. Naštěstí pofukoval příjemný větřík, kvůli kterému se večer dal přežít. Ywen s Cadrillou seděly na svém oblíbeném místě – za opelichaným keříčkem kousek od staré fontánky a užívaly si volného večera (Rhaenyra zase večer dělala nějaké scény, a tak její otec radši všechny ostatní dívky pustil a šel jí promluvit do duše).</p>

  <p>„Slyšela jsem, že Viserys hodlá zařídit Aegonovi taky takovou milou společnost, jako děláme my Rhaenyře, nevíš o tom něco?“ zeptala se Cadrilla Ywen, která se jí mezitím prohrabovala v dlouhých plavých vlasech. Ywen měla taky pěkné vlasy, tmavé a rovné, ale Cadrilliným zlatým loknám se mohl konkurovat jenom málokdo.</p>

  <p>„Vždyť jsou mu tři roky,“ podivila se Ywen. „Od koho jsi to prosimtě slyšela?“</p>

  <p>„Pravda, prve od Lore, to jsem tomu ještě moc nevěřila, ale když mi to řekla i Aylin, tak už na tom něco bude, nemyslíš?“</p>

  <p>Ywen pokrčila rameny. Mělo to nějakou logiku – Targaryeni byli hrozní cholerici, to je pravda, takže by nebylo nemoudré vychovávat malého Aegona s jeho náladovou a výbušnou sestrou pohromadě. Hezky Rhaenyru zvlášť s dámami a Aegona zvlášť se zase jeho společníky. Jak ale Ywen viděla, ty „dámy“ si našly kamarádky mezi sebou navzájem a o výchovu princezny se už nějak nestaraly, takže pochybovala, že by tato metoda mohla fungovat u Aegony.</p>

  <p>„A víš, co to znamená?“ potutelně se usmála Cadrilla. Ywen sice tušila, kam tím její přítelkyně míří, ale zakroutila hlavou, protože zrovna toto téma se jí nechtělo nějak moc rozebírat. „Moje milá kamarádko, znamená to, že sem do Králova přístaviště se sjedou synové nejrůznějších lordů z celého země a tady konečně začne nějaká zábava,“ řekla Cadrilla nadšeně, až se jí v tvářích udělaly dva roztomiloučké dolíčky. Když Ywen napadlo, že by se o ně a zkrátka o celou Cadrillu musela dělit s nějakým urozených synáčkem, v ústech se jí udělala dost nepříjemná pachuť.</p>

  <p>„Hloupost, Aegonovi jsou tři roky, to je ještě na nějakou urozenou společnost brzo. A i kdyby – přijdou sem stejná batolata jako je on, ne nějací naši vrstevníci, tak se moc netěš,“ odvětila rychle Ywen s tím, že se trošku uklidní. Vždyť jim tady bylo tak krásně – měly jedna druhou a to minimálně jí samotné zatím stačilo. A až jednou Viserysovi dojde, že tady ta dívčí společnost stejně nemá na Rhaenyru vliv, vyžene je a vezme princezninu výchovu do vlastních rukou, teprve tehdy se budou muset s Cadrillou rozloučit a začít se starat o muže a o rodinu, v patnácti letech je na to ještě hrozně brzo.</p>

  <p>„Právě že Aylin mi povídala, že by měli přijet nějací o hodně starší chlapci, aby se stali Aegonovi vzorem a on si z nich vzal příklad a chtěl se chovat jenom jako oni. Žádná batolata! A stejně, Ywen, musíš se chovat trošku dospěleji. Moje matka se v mém věku potloukala po Smaragdovém ostrově, brodila se ve vodě, sbírala mušle a užívala si života. Myslíš si, že to dělala sama anebo jenom se svojí nerozlučnou kamarádkou? Ne, bylo jich tam hodně, kluci, holky, různě staří, různých povah – takový život by se mi líbil, ne tady tvrdnout v Maegorově pevnosti, pořád dokola s těmi stejnými holkami.“</p>

  <p>Cadrilla to asi nemyslela nijak zle, ale Ywen ta poslední věta bodla jako nějaký ostrý nůž. Pořád dokola s těmi samými holkami? To jakože by se už potom, kdyby opravdu přijeli nějací starší chlapci,  Cadrilla vykašlala na ni a věnovala se jenom jim? Hrozná představa!</p>

  <p>„Tvoje matka je tvoje matka a ty jsi ty. Stejně si tě to jednou najde samo a taky se nic nemá uspěchat,“ hlesla vystrašeně Ywen, přestože tušila, že v Cadrille už plápolá natěšený ohýnek a jen tak něco ho nezhasí.</p>

  <p>„Ywen, kdyby ses teď slyšela, jak jsi hrozně dětinská!“ vzdychla Cadrilla, aby dala najevo, že její názor je opravdu jediný správný.</p>

  <p>„Nechme toho, než se pohádáme,“ zastavila kamarádčino morální kázání Ywen. Hádka s Cadrillou bylo asi tak poslední, co Ywen potřebovala.</p>

  <p>„Nechme toho, pravda. Ale uvidíš!“ Ywen znovu bodlo u srdce, když spatřila Cadrilliny ďolíčky, které jakoby teď patřily spíš nějakému krasavci, co přijede dělat vychovatele princi Aegonovi, než jí samotné.</p>

  <p class="sep">-</p>

  <p>Ywenina obava se vyplnila – hned následující den král Viserys všem dámám oznámil, že budou mít společníky. On se potutelně usmíval, jakože tím chtěl asi naznačit jo, holky, budete mít nápadníky a ostatní taky byly očividně moc rády, že budou mít pánskou společnost. Lore a Jeyne měly důvod naprosto zřejmý důvod – čím víc obdivovatelů jejích hezkých tvářiček, tím líp. Mina, kterou její sadistické choutky ještě nepřešly byla taky ráda, doufala, že najde nějakého kamaráda, který bude sdílet její zájmy, protože lady Alicent, matka Aegona a manželka Viseryse, jí začínala zakazovat stýkat se s Rhaenyrou. Aby jí prý nezkazila. Ywen to docela chápala, ale na druhou stranu jí přišlo, že princezna je už ztracený případ a jestli se bude stýkat s Minou nebo ne, to už je stejně jedno.</p>

  <p>Walda pod ošklivou a hrubou slupkou taky skrývala něco jako city, takže nějaký rytíř jejího srdce by jí taky přišel vhod. Aylin doufala, že najde nějakou opravdu spřízněnou duši, protože mezi ostatními dívkami se cítila trošku osaměle. No a Cadrilla byla asi nejnadšenější. Ywen sice nechápala, co to do ní vjelo, ale milá Cadrilla asi už měla před obličejem sbírání mušlí a brození se v moři při západu slunce s partou krásných, milých a inteligentních lidí (a Ywen si nebyla vůbec jistá, jestli do ní může patřit).</p>

  <p>Zkrátka a dobře, během následujícího měsíce se do Maegorovy pevnosti začali sjíždět synáčkové všech možných lordů z celé země. Bylo to skoro jako před těmi lety, kdy sem přijela ona – postupně se dopravili Jorbert Darry, Zachery Zelenopolský, Atil Westerling, Arich Redwyne a dokonce i Sert Lannister, přestože vztahy Targaryenů s Lannisterů nebyly nic moc. Anebo právě proto.</p>

  <p>Jorbert byl nesmírně vtipná postavička. Ve svých dvanácti letech vypadal sotva na osm, byl sice nesmírně zmatený, ale zato chytrý a milý, Atila se jeho rodiče asi taky chtěli zbavit, protože mu byly sotva dva roky, stejně jako Aegonovi, často plakal a volal maminku a Ywen ho bylo hrozně líto. Občas s Cadrillou přemluvily chůvu Silhu, které osudy chlapečků byly úplně lhostejné, hlavně aby dostala zaplaceno, aby si s Atilem trošku pohrát.</p>

  <p>Arich Redwyne byl stvořen přesně pro Lore a Jeyne – další vzhledný Roviňák s nosíkem pěkně nahoru se stal okamžitě jejich nejlepším přítelem. Ywen jim to poměrně přála, splnilo se jim přání mít někoho stejné povahy jiného pohlaví a ony byly s Arichem dokonale šťastné.</p>

  <p>Sert byl vlastně ještě taky malý kluk, bylo mu kolem deseti let a známky „nebezpečné lannisterské povahy“, před kterou byly dívky od Targaryenů tak často varovány, úplně postrádal. Sert byl vlastně malý a tichý chlapec, velmi často nachlazený, přestože v Králově přístavišti panovalo poměrně teplé klima.</p>

  <p>A Zachery? Ywen se ještě nikdy nestalo, že by nějakého chlapce vídala raději.</p>

  <p class="sep">-</p>

  <p>„Nečum tam pořád,“ houkla Cadrilla na Ywen a přísně se na ni podívala. Zrovna byli na obědě, jedli nadívaná kuřata a zdvořile konverzovali s chlapci. Ano, jednou týdně král Viserys pořádal společný oběd urozených dam a urozených pánů, aby se trošku sblížili a popovídali si. Nikdy jindy totiž moc příležitostí neměli, a tak chtěl král udělat aspoň tohle.</p>

  <p>A Ywen si nemohla pomoct, aby pořád neotáčela svoji hlavu doleva, kde mezi Aylin a Waldou seděl Zachery a povídal si s nimi.</p>

  <p>Ywen by Cadrillu ráda upozornila, že se tam nekouká, ale nebyla by to pravda a nejlepší kamarádce není hezké lhát přímo do očí, a tak radši taktně mlčela. To ale nešlo nijak ovlivnit, pořád jako kdyby se automaticky přetáčela doleva. Hrůza!</p>

  <p>Oběd byl pro chudáka Ywen skoro utrpením. Nejradši by po Waldě skočila a zakroutila jí krkem, když viděla, jak špulí ty svoje hnusné velké rty, ale přece jenom byla milou a slušně vychovanou dámou, co si za přítomnosti krále nic takového opravdu dovolit nemůže. Rozrýpala tedy svoje hruškové kuřecí kůže, napila se trošky slabého kyselého vína, zvedla se od stolu, způsobně se rozloučila a odešla. Nechtělo se jí tady ani trošku být, když ji Zachery ignoruje, Cadrilla se jí posmívá a všichni ostatní utvořili svoje skupinky a baví se v nich.</p>

  <p>Zlatý plášť, co strážil dveře, se na ni sice podíval stylem jak můžeš tolik hruškových kuřecích kůží nechat nesjezených?, ale Ywen teď neměla na jídlo a už vůbec ne toto jídlo ani pomyšlení. „Jdu k sobě do pokoje,“ oznámila mu, rychle se otočila, aby už byla pryč. Jediné co teď chtěla, bylo zalézt si pod peřinu a pořádně se vyspat. Byl totiž poměrně chladný den a velmi chladná atmosféra.</p>

  <p>V první chodbě zahnula doleva, šla rovně, tak jako snad milionkrát předtím a mířila do části hradu, které bylo vyhrazeno „Rhaeřiným dámám“.</p>

  <p>Najednou ale ticho, které panovalo na chodbách Maegorovy pevnosti proťal nějaký zvuk. Napřed úplně tichý, ale postupně se stupňoval a po pár sekundách měla pocit, že někdo běží těsně za ní.</p>

  <p>Otočila, aby se podívala, kdo se ji snaží dohonit (že by jí spadl kapesník nebo něco podobného?) a uviděla, světe, div se, Zacheryho. Ten se zastavil, předklonil hlavu a zhluboka oddychoval.</p>

  <p>„Nemáte zrovna fyzičku, co?“ podotkla Ywen, což byla sice hloupá věta, ale nenapadalo ji nic lepšího.</p>

  <p>On jí chvilku neodpovídal, až když popadl dech, tak zakroutil hlavou, jakože opravdu nemá. „Ywen, chtěl bych si s vámi popovídat,“ řekl krásně něžně a galantně.</p>

  <p>„Právě si povídáme,“ odpověděla, protože neměla nejmenší tušení, jak by se měla správně chovat a co by měla říkat.</p>

  <p>„Myslel jsem někdy jindy a důkladněji. Třeba dnes večer, venku tam u fontánky, jak sedáváte s Cadrillou, ne?“</p>

  <p>Ywen toto nabídnutí skoro vyrazilo dech. Dostalo ji, že je tak pozorný a ví, kde sedávají s Cadrillou a taky, a to mnohem více, že bude se Zacherym sama večer poměrně dlouhou dobu.</p>

  <p>„Samozřejmě, přijdu, samozřejmě,“ vykoktala ze sebe Ywen, naprosto nepřipravená a vykolejená.</p>

  <p>„Tak někdy po večeři,“ navrhl ještě on, kývl hlavou na pozdrav, otočil se a odešel. Ywen nechápala, ale naprosto nechápala, co se děje, ale taky se otočila a velmi rychlou chůzí došla do pokoje. Tady se zavřela, strhla ze sebe otravné těžké náušnice a řetěz na krku, otevřela okno a z plna hrdla štěstím zakřičela na celé nádvoří. Ať si ostatní myslí, co chtějí.</p><p class="sep">-</p>

  <p>Odpoledne měla volno, protože Rhaenyra nevyžadovala nějaké kolektivní hry (jako obvykle se pověsila na otce nebo nevlastní matku a otravovala je) a Ywen se cítila, jakoby se měla štěstím rozpadnout. Svoji skvělou novinu sice chvíli chtěla jít sdělit Cadrille, ale potom ucítila jakýsi divný pocit, který jí jakoby vevnitř říkal „vždyť to máš ještě před sebou, tak si to nech jenom pro sebe“. A tak ten hlas uposlechla. Vždyť přece může mít nějaké tajemství, s Cadrillou jsou spolu pořád a ví o sobě téměř všechno. Stejně se to zanedlouho nějak dozví.</p>

  <p>Ywen sice zanedbala důkladné dívčí zhodnocení této události se svou nejlepší kamarádkou, ale přípravu sebe samotné na večer rozhodně nepodcenila.</p>

  <p>Ze skříně si vybrala svoje bezkonkurenčně nejlepší šaty, co na sobě neměla snad půl roku – takové modré, co trošku zmenšovaly objem (protože zatímco Cadrilla si stěžovala, že je maličká a hubeňoučká, z Ywen už byla tělem opravdová žena, snad víc, než by se jí líbilo) a cítila se v nich moc pohodlně.</p>

  <p>Náušnice sice musely nosit pořád, zvlášť háklivá na to byla královna Alicent („urozená dívka bez šperků a hlavně náušnic není správná urozená dívka“), ale to Ywen obvykle hrábla do své obsáhlé šperkovnice a vytáhla prostě nějaké, někde se jí k šatům hodily a někdy zase ne. Teď Ywen seděla nad svojí krabičkou se šperky snad půl hodiny a výběr změnila pětkrát, než konečně vybrala ty pravé krásné.</p>

  <p>S vlasy taky byla poměrně zoufalá – sice její chlupy na hlavě byly husté, trošku zvlněné a kaštanově hnědé a obvykle na ně byla poměrně pyšná. Teď, pří přípravě na onen večer, byla naprosto zoufalá – ať si udělala jakýkoliv účes, připadalo jí, že z toho svého odporného hnízda nic normálního neučeše a když konečně byla s účesem hotová, připadalo si jako čarodějnice. Nakonec uznala, že rozpuštěné vlasy jí budou muset stačit.</p>

  <p>Čas příprav jí utekl rychle, možná až moc rychle a najednou byl čas večeře. Ywen se šla najíst už nastrojená, což jí Aylin už hned ve dveřích pochválila, ale Cadrilla se jenom podívala a neříkala nic. Ywen nevěděla, co s ní je, ale tušila, že už něco tuší a asi jí něco závidí. Ywen to docela chápala, taky by záviděla, ale přece se Zacheryho nevzdá, to by byla hloupost a pochybovala, že samotné Cadrille by se to líbilo.</p>

  <p>Na večeři byly už jenom dívky, Rhaenyra a její chůva, upjatá stará bába, která vás nudila už jenom, když se na vás podívala. Ywen byla celou dobu jako na jehlách, šila sebou nervózně a nebyla se schopná soustředit na žádný pořádný rozhovor. Večeři vařil asi někdo jiný než oběd, takže byly jenom nějaké chleby (pár lidem dokonce spadly ze stolu a protože neměli stůl na stole, bohužel namazanou stranou dolů), Ywen jich pár sice snědla, ale vůbec nebyla schopná vnímat jejich chuť, protože byla hrozně natěšená a ještě víc nervózní.</p>

  <p>Když je po nějaké chvíli chůva pustila pryč, aby všechny chleby mohla v klidu dojíst sama, zastavila Ywen Cadrilla, podívala se na ni a zeptala se jí se zmateným výrazem: „Co ti je, Ywen?“</p>

  <p>„Nic, Cadrillo, já se mám skvěle,“ odpověděla jí Ywen, naprosto podle pravdy.</p>

  <p>Cadrilla se usmála (zase ty její ďolíčky!), kývla hlavou a Ywen si byla téměř, ale ne úplně, jistá, že ví, o co jde. „Tak já tě radši nechám o samotě,“ podotkla, potřásla vlasy (takhle elegantně a jakoby úplně mimochodem bych to taky chtěla umět, pomyslela si závistivě Ywen), usmála se na ni ještě jednou a rozběhla se za Lore a Jeyne, které šly kus před ní, aby je dohnala.</p>

  <p>Ywen byla tak ráda, že má tak úžasnou kamarádku – všechno chápe, zachová se naprosto nejlépe, jak jenom to jde a ještě se na ni tak pěkně usměje. Až jí bylo skoro líto, že za Cadrillou v průběhu odpoledne nezašla a trošku si s ní nepopovídala.</p>

  <p>Teď ale byla příliš natěšená na setkání, na které právě mířila, než aby se mohla soustředit na cokoliv jiného. Otočila se druhou stranu, než právě zmizela Cadrilla a ostatní. Vyšla z hradu, prokličkovala něčím, čemu Targaryeni říkali zahrada (jí to připadalo spíš jako vysušený plácek s pár posledními stromy a keři) až k fontánce, kde se scházely s Cadrillou a teď by měl přijít i Zachery. Sice tu ještě nebyl, což Ywen trošku rozhodilo, ale řekla si, že ještě asi s ostatními chlapci večeří. Posadila se tedy na zídku, která ohraničovala fontánku a čekala na Zacheryho.</p>

  <p>Čekala minutu a upravovala si vlasy, čekala pět minut a upravovala si šaty, čekala deset minut a upravovala si náušnice, čekala dvacet minut a už si neupravovala nic, protože ji to už nebavilo. A potom najednou, uprostřed neupravování, uslyšela rychlé kroky, ohlédla se a uviděla Zacheryho. Konečně je tady!</p>

  <p>„Promiň, že jdu pozdě,“ omlouval se už za chůze. Ywen byla ráda, že upustil od toho odtažitého vykání, stejně na to ještě nemají věk, a odpustila mu téměř okamžitě. Vždyť dvacet minut přece není žádná doba!</p>

  <p>„Jsem hrozně rád, že jsi tady vydržela čekat na mě,“ řekl ještě Zachery a pokorně se podíval do země a Ywen bylo okamžitě jasné, že to myslí naprosto upřímně. „V pořádku, to je v pořádku, naprosto, já jsem počkala ráda,“ vykoktala Ywen a když se slyšela, měla chuť si dát leda tak pár facek. Není schopná složit dohromady normální větu?</p>

  <p>„Zdržel nás malý Aegon a já jsem prostě nemohl utéct jenom tak. No ale teď jsem už tady.“</p>

  <p>„Jsi moc hodný, opravdu,“ řekla Ywen. Tato věta byla sice stylisticky správně, ale nedávala moc smysl – to on ji sem pozval, ne ona jeho, tím pádem ona je tady ta hodná.</p>

  <p>„To ne, to jsi ty, že jsi přišla a počkala tady na mě,“ odpověděl jí Zachery. Začali si tedy vyjasňovat, kdo z nich je tady vlastně ten hodný a dohodli si, že hodní jsou vlastně asi oba dva. Potom si Zachery sedl na zídku (k Yweninu velkému zklamání ne těsně k ní, ale tak půl metru daleko) a zeptal se jí, kdy sem přijela, z jaké pochází rodiny, kdy se staly takové kamarádky s Cadrillou, jestli se jí tady líbí. Ona se ho zeptala na zhruba to samé a skoro celou dobu ho dokonce i dokázala poslouchat, jenom čas od času sklouzávala pohledem na něho samotného a prohlížela si jeho oči, vlasy, nos, pusu nebo jakoukoliv jinou část obličeje nebo celého těla, protože musela uznat, že Zachery je opravdu moc hezký kluk a jí skoro bylo až blbé, že ona vypadá, no, prostě jak vypadá.</p>

  <p>Po nějaké době, Ywen to opravdu nedokázala odhadnout, Zachery poprvé zazíval. „Nudím tě?“ zeptala se starostlivě. On zakroutil hlavou. „Dnes jsem se pořád budil, takže jsem se moc nevyspal, jinak jsem v pořádku. A s tebou je to samozřejmě krásné. A ty jsi taky krásná.“</p>

  <p>„Takže to rozpustíme?“ zeptala se trošičku zklamaně Ywen. Na druhou stranu ji polichotilo, že jí pochválil vzezření. Ale nechtěla být vlezlá, to za žádnou cenu a taky si říkala, že Zacheryho nevidí naposledy v životě.</p>

  <p>„Budu moc rád, když se ještě uvidíme,“ řekl, „ale teď bych ti tady stejně za chvilku usnul.“ Ywen se zasmála a musela mu dát zapravdu, zítra taky měly všechny urozené dámy na programu nějakou kulturní činnost a ona musí být samozřejmě dobře vyspaná.</p>

  <p>Oba vstali a mlčky se vydali zahradou zpátky k hradu. Když vešli dovnitř, Zachery se jí ještě zeptal, co má zítra na programu a jestli by takovéhle posezeníčko nemohli zopakovat i zítra, při čemž se nad ni trošku naklonil. Ywen třeba doufala, že by… Ne, tak ne, už se zase zaklonil zpátky. Ještě je asi moc brzo.</p>

  <p>„Dobrou noc,“ popřál jí, otočil se a zamířil se do své ložnice. Ywen mu ještě zamávala na rozloučenou a vydala se taky svým směrem. Po cestě a taky při připravování na spaní ji napadlo, že Cadrilla měla pravdu – přítomnost chlapců není zase tak strašně špatná. Až jí bylo chudáka své kamarádky líto, že na ni skoro už nikdo nezbyl. A když už ležela a usínala, nemyslela na nic jiného, než že ho zase uvidí.</p>

  <p>A takhle to bylo skoro celý měsíc – Zachery a Ywen se začali vídat následující měsíc skoro každý den a když už ne každý den, tak minimálně párkrát za týden. Bylo to naprosto a bezkonkurenčně krásné!</p>

  <p>Ywen teď připadalo, že je teď taková nějaká optimistická a milá - na Cadrillu, na ostatní dívky, na kluky, dokonce na Rhaenyru a bůhví ještě na koho, prostě na všechny, se kterými se tak nějak stýkala. A samozřejmě taky na Zacheryho.</p>

  <p>Trošku jí vadilo, že se sebe vlastně ani jednou, za dobu své známosti vlastně pořádně nedotkli, jenom když o sebe náhodou zavadili. Ale říkala si, že jsou ještě poměrně malí a že přece mají spoustu času. A že nějaký intimnější vztah ještě určitě přijde.</p>

  <p class="sep">-</p>

  <p>Po necelém měsíci od jejich prvního setkání dostala Ywen dopis. Vlastně druhý dopis, co za tu dobu přežívání a žití v Králově přístavišti obdržela. První byl od matky, hned když dorazila k Targaryenům a byla naprosto zdrcená ze zdejších poměru, napsala domů rodičům, že se jí tady nelíbí a že se chce vrátit a matka jí odepsala, že by hrozně ráda, ale že to opravdu nejde.</p>

  <p>Ywen se pokoušela jí psát ještě jednou a potom znovu a když to nepomáhalo, zkoušela to u otce a mladších i starších sourozenců, ale nikdy žádná odpověď. Prostě ji doma nepotřebovali, jak moc dobře poznala z toho, že jí ani nemohli odepsat.</p>

  <p>A teď když dostala dopis (další z důkazů, že se jí daří, jako nikdy předtím), byla celé nedočkavá, kdo jí píše. Když psaní dostalo, okamžitě rozervala pečeť (ani se nepodívala, čí je) a začala číst.</p>

  <blockquote>
    <p>Milá Ywen,</p>

    <p>pravděpodobně netušíš, kdo Ti vlastně píše, tak Ti to prozradím – Kyra. Ano, tvá sestra Kyra, pokud si na mě ještě pamatuješ. Asi se ptáš, proč Ti píšu teď a za posledních šest let jsem si na tebe ani nevzpomněla. Uznávám, že jsem strašná sestra – ozývám se, teprve když něco potřebuju a teď to není výjimkou. Každopádně, teď už nejsem na našem nejdražším Hnízdě, ale musela jsem odtud odjet. Otec uznal, že tu tvrdnu už moc dlouho (uznávám, že oproti Tobě jsem měla štěstí a mohla jsem tu pobývat s ostatními celých osmnáct let) a našel pro mě výhodný sňatek. S Josethem Tallhartem. Nedivila bych se, kdybys o něm ještě nikdy neslyšela – je mu skoro čtyřicet let, je starý, ošklivý a protivný a dává mi jasně najevo, že kdybych neměla díru mezi nohama, tak by mě na hradě vůbec netrpěl.</p>

    <p>Ale otec má jiný názor – asi před třemi měsíci totiž Joseth ovdověl, což je úžasná příležitost. Jedno z mnoha Arrynových dětí se najednou stane lady Tallhart a navíc nebudu rodiče obtěžovat doma. A tak jsme měli rychlou svatbu a potom mě nechali tomu nebručeného vymaštěnci napospas. Jeho děti jsou skoro stejně staré jako já, a tak jsem doufala, že aspoň s nimi se sblížím, ale ty bestie po mě požadují, abych jim dělala matku a když se o to pokusím, tak udělají cokoliv, aby mě přede všemi shodili a ztrapnili. Nejvíc si tu asi rozumím se služebnictvem, ale ani to není ideální. Vždyť jsme Arrynové a říká se, že Arrynové jsou prostě jiní. Žijí si svůj život na Orlím hnízdě a všechno ostatní jde mimo ně.</p>

    <p>A tak Tě moje drahá sestřičko prosím o jedno – přijeď za mnou na Torrhenův dvůr. Teď jsem totiž do toho všeho ještě otěhotněla a myslím, že se z toho zblázním. Joseth do mě pořád hučí, že to musí být kluk, protože je to můj prvorozený a když nemá žena prvorozeného chlapce, tak je to špatná matka. Jeho děti mě taky provokují a dělají mi naschvály snad ještě víc než obvykle, jako by snad chtěly, abych kvůli nim potratila. Prostě mám dojem, že se tady z toho zblázním, pokud sem nepřijde nějaká spřízněná duše, co mi rozumí.</p>

    <p>Napadlo mě to, protože ještě když jsem bydlela na Orlím hnízdě, matka mi říkala, že se Ti tam prý nedaří zrovna dobře, takže by Ti nemělo vadit na nějaký čas odjet za mnou. Třeba jenom za měsíc, abych trošku načerpala sil, takhle mám pocit, že se z toho psychicky zhroutím.</p>

    <p>Přijdeš? Napiš mi prosím co nejrychleji, abych věděla, na čem jsem.</p>

    <br>

    <p>S upřímnou prosbou a pozdravy</p>

    <p>Tvoje sestra Kyra</p>
  </blockquote>

  <p>Jakmile si Ywen dopis přečetla, bylo jí jasné, že by bylo přímo nelidské nechat Kyru trpět u takového člověka. A zrovna Kyru měla Ywen skoro nejradši ze všech svých sourozenců, byla jí věkem poměrně blízko – o tři roky starší a jinak to byla taková správná holka, kterou ani nemůžete mít neradi. Ještě dopis nechala přečíst Cadrille a poradila se s ní a ona byla (jako skoro vždycky) stejného názoru – budou si sice hrozně chybět, ale Kyra se zdá být vážně zoufalá. „Ale budeme si psát!“ naléhala Cadrilla na Ywen. „Jak jen můžeš pochybovat, Cadrillo, jak jen můžeš?“ souhlasila její kamarádka, která samozřejmě počítala s rozsáhlou korespondencí.</p>

  <p>Zachery měl skoro stejný názor, a tak se Ywen zeptala krále, jestli může odjet (ten zrovna měl asi plno jiných starostí, a tak jí její výlet na sever jen bezmyšlenkovitě schválil), sbalila se a vydala se zachraňovat svoji sestru.</p>

  <p class="sep">-</p>

  <p>Když se konečně dokodrcala do Torrhenova dvora, což samotné zabralo necelý měsíc, z hradu se okamžitě vyřítila hnědovlasá holka s trošku větším břichem (skrývajícím dítě, ne maso nebo dorty) a vřítila se Ywen do náruče.</p>

  <p>Samozřejmě, že to byla Kyra. Ywen ji naposledy viděla před šesti lety, ale připadalo, že Kyra je vlastně pořád stejná, možná jenom trošku povyrostla a zženštěla. Byla o trošku vyšší než Ywen a taky hubenější, kromě teda toho těhotenského břicha, vlasy měla o odstín světlejší než Ywen, ale jinak byly v obličeji skoro stejné.</p>

  <p>„Tak tak tak jsem se na tebe čekala, co jsi dělala tak dlouho?“ vychrlila na ni Kyra a potom ji objala zase. „Joseth je naprosto strašný, čekala jsem na tebe jako na vysvobození z tohoto teroru,“ zašeptala Kyra, aby ji náhodou nikdo neslyšel.</p>

  <p>„Nevím, jestli jsem pro tebe zrovna pravé vysvobození, já asi tvého muže ani jeho děti nijak nezměním,“ odpověděla Ywen, plná starostí, jestli do ní sestra nevkládá příliš velké naděje.</p>

  <p>„Nesmysl, ty nevíš, co v tobě je, sestro, ale dvě Arrynské povahy v tomto zatraceném sídle nezajímavých a nedůležitých lidí, to by v tom byl čert, abychom tady něco nezměnily, nemyslíš?“</p>

  <p>Ywen pokrčila rameny. Sama si nepřipadala jako nějaká velká manipulátorka, ale když si Kyra myslela… „Samozřejmě, to bude revoluce jako hrom. A radši mě tu proveď, abych věděla, na čem jsem,“ vybídla sestru Ywen, protože už na svůj nový prozatímní domov byla zvědavá.</p>

  <p>„Nečekej zázraky, sestřičko. Vlastně jsem nikdy neviděla ošklivější místo, ale když jsi přijela, hned to tady zkrásnělo,“ poučila Ywen Kyra, vzala ji pod paží a už ji táhla do hradu.</p>

  <p>„Vybalíš si potom, teď prohlídka,“ řekla ještě starší ze sester, když viděla, jak Ywen kouká na svoje zavazadla, jako kdyby si myslela, že je tu bude muset nechat položené.</p>

  <p>Prohlídku hradu měly hotovou za chvilku. Ywen musela uznat, že tento hrad je opravdu ošklivý. Maegorova pevnost byla vlastně taky ošklivá, ale tím, jak byla velká a děsivá. Jinak architektura v Králově přístavišti byla promyšlená a vznešená, ale Torrhenův dvůr působil jako malá zaplivaná díra, velká a děsivá ani náhodou, spíš jenom, že na původní plán nevyzbyly prostředky, takže musel být dostavěn z naprostých zbytků a za celé generace si ještě nikdo z Tallahrtů nedal práci, aby svůj hrad nějak zkrásnil.</p>

  <p>„Co říkáš?“ zeptala se po důkladném provedení Kyra své sestry.</p>

  <p>„No hrůza. Ale když je člověk zvyklý z Orlího hnízda, to se mu už asi nebude líbit nic, co?“ odpověděla jí Ywen, aby dala najevo, že Torrhenův dvůr opravdu nepatří k nějakým architektonickým skvostům. Hrad tu byl sice hrozný, ale i tak byla ráda, že je tu. Kyra sice nebyla Cadrilla, ale Cadrilla může být na světě jenom jedna a Ywen cítila silné pouto, co je k sobě s Kyrou váže. Mít starší sestru, to je prostě paráda!</p>

  <p>„A nechtělo by se ti představit mě panu manželovi?“ zeptala se ještě Ywen, protože na toho byla zvlášť zvědavá.</p>

  <p>Kyra pokrčila rameny, jako kdyby chtěla říct „Když si to přeješ… Ale varovala jsem tě!“, vzala Ywen a vlekla ji dovnitř. Vzala ji pár miniaturními chodbami až k jeho ložnic, bez zaklepání vzala za kliku, vtrhla dovnitř a křikla: „Moje sestra Ywen, ta, o které jsem ti neřekla ani slovo, je tu. Pojď se na ni laskavě podívat!“</p>

  <p>Joseth zrovna seděl u stolu, otočeného zády ke dveřím, se lekl Kyřina pronikavého hlasu, trošku nadskočil, potom si stoupl a otočil se na dvě sestry ve dveřích a řekl jenom pár, zato hlasitých a rozzuřených slov: „Co? Jak můžeš? Vypadni, než se naštvu!“</p>

  <p>Kyra vzala Ywen za paži a odtáhla si pryč. Po chvilce se sestry rozběhly, když slyšely Josetha, jak se blíží ven ze dveří, asi aby je nějak krutě vytrestal. Když byly v bezpečí, Kyra řekla: „A to má ještě poměrně dobrou náladu.“ Potom se na sebe sestry podívaly a rozesmály se. Sice tady nebylo nic moc vtipného, srandovního nebo legračního, ale ono se to tak nějak dralo ven naprosto samo.</p><p class="sep">-</p>

  <p>Ywen se zabydlela na Torrhenově dvoře a musela uznat, že i přesto tak šíleného lorda, ošklivý hrad a protivné sloužící i ostatní zdejší obyvatele, se jí tady poměrně líbilo. Kyra na ni byla hrozně hodná, ty dvě si prostě ohromně rozuměly, to, že byly sestry, bylo naprosto nezpochybnitelné. A taky dostávala Ywen tolik dopisů jako snad ještě nikdy – od Cadrilly, od Zacheryho, párkrát snad i od Aylin a od ostatních, dokonce i samotná princezna Rhaenyra připojila svůj pozdrav, což se nestávalo často.</p>

  <p>A jak na začátku při svém příjezdu slibovala onu „Arrynovskou revoluci“, sice tak úplně nedodržela rozsah – přímo revoluce to nebyla, ale něco se jí podařilo zlepšit k lepšímu – potomci lorda Josetha začali, dokonce sami od sebe, komunikovat s ní a s Kyrou. Světe div se, úplně dobrovolně bez mučení. A tak za tu dobu, co Ywen pobývala na Torrhenově dvoře, se všechny děti začaly ke Kyře chovat poměrně pozitivní přístup, ty mladší ji dokonce sem tam oslovili jako „mami“. (To nevěděla, jestli má být ráda nebo ne.)</p>

  <p>Ale nic netrvá věčně. Ywen se, a nevěřila by, že si to někdy připustí, začalo stýskat po Králově přístavišti. Ne po tom samotném městě plném odpadků, ale po těch „urozených dámách a pánech“, co jí tam dělali společnost, hlavně samozřejmě po Cadrille a Zacherym.</p>

  <p>A tak, sice trošku s těžkým srdcem, ale stejně, dala Ywen sbohem své sestře („Vždyť já se tady bez tebe zblázním, Ywen!“ „Kyro, vždyť už máš děti na svojí straně, tak třeba změníš názor i na Josetha. A já musím za Cadrillou, já bych to bez ní dlouho nevydržela. A budu ti psát hrozně často.“ „Každý týden?“ „No tak každý týden.“) a po dvou zvláštních, ale opravdu pěkných měsících odjela pryč, zpět do Králova přístaviště, které, jak poznala, považuje vlastně za svůj domov, přestože ho samo o sobě nesnáší.</p><p class="sep">-</p>

  <p>Po nudné a zdlouhavé cestě zpět do svého nenáviděného domova, byla Ywen skutečně ráda, když může stanout na omlácených kachličkách a nasát ten odporný těžký vzduch, tak nerozlučitelně spojený s Královým přístavištěm. Po Kyře se jí bude stýskat, ale za Cadrillu a ostatní to prostě stojí, nedá se svítit.</p>

  <p>Tak se na Cadrillu i Zacheryho těšila, že se rozhodla, že jednoho z nich překvapí, když to budou nejméně čekat. Nenapsala jim, kdy přesně přijede a doufala, že se oni na ni těší, stejně jako ona na ně. Ona už se skoro nemohla dočkat.</p>

  <p>Hned když dojeli za hradby, Ywen vyskočila z kočáru a pelášila do Maegorovy pevnosti. Do poslední chvíle nebyla pevně rozhodnutá, jestli chce radši bafnout na Cadrillu nebo Zacheyrho. Na poslední chvíli se rozhodla, že se Zacherym přece neměli nikdy takový vztah a že o trošičku radši uvidí svoji nejlepší kamarádku. Ve velké chodbě tedy pokračovala rovně, místo toho, aby zahnula k chlapeckým ložnicím. Pořád stupňovala tempo, protože nemohla si pomoct, na Cadrillu byla natěšená jako snad nikdy.</p>

  <p>Už byla v té jejich chodbě a Ywen skoro běžela. Byla tak šťastná – už viděla, jak otevře dveře a tam bude Cadrilla, ona ji obejme a bude mít svoje ďolíčky a všechno bude parádní. Vlétla do předposledních dveří, které patřily právě její kamarádce, za kterou mířila, otevřela a z plných plic zakřičela: „Ywen je zpátky!“</p>

  <p>Bylo zrovna po obědě a Cadrilla tudíž byla v pokoji – ležela na posteli, měla zavřené oči, ale očividně nespala, přestože se o tom možná pokoušela. Když Ywen vtrhla do pokoje, trhla sebou, prudce vstala a postavila se čelem k oknu, aby jí Ywen vůbec neviděla do obličeje.</p>

  <p>To Ywen trošku zarazilo – co tady Cadrilla jako předvádí? Neviděly se tak dlouho a ona se s ním ani nemůže přivítat? „Ahoj,“ řekla trošku rozrušeně a pomalu přešla směrem k oknu, aby se na svoji kamarádku podívala, proč je taková divná.</p>

  <p>„Zůstaň stát, kde jsi!“ osopila se na ni Cadrilla, přestože ji vlastně vůbec neviděla – pořád stála u okna a na Ywen se ani nepodívala.</p>

  <p>„Co je venku tak zajímavého, že se na mě nemůžeš ani podívat?“ zeptala se Ywen ještě docela přátelským tónem a na příkaz zůstala stát na místě. Když Cadrilla mlčela, což bylo opravdu, opravdu divné, zeptala se Ywen, teď už poměrně starostlivě: „Cadrillo, co se stalo, mě můžeš říct všechno, to víš, tak na co si to tam u okna hraješ?“</p>

  <p>Obě dvě zůstaly stát na místě a potom se Cadrilla, nečekaně a prudce otočila, takže Ywen ji mohla vidět i zepředu. Kdyby byla Cadrilla nějaká velká a tlustá, tak by Ywen asi ani nic nepoznala, ale takhle to bylo naprosto jasné a viditelné – menší a světlovlasá dívka měla asi zhruba stejné břicho, jako měla Kyra, když Ywen dorazila na Torrhenův dvůr. A to by se nesměly znát tak dlouho a tak dobře, aby Ywen nebylo okamžitě jasné, co se tady dělo, zatímco ona byla na návštěvě u sestry.</p>

  <p>„Co to má znamenat?“ obořila se Ywen na Cadrillu. Veškerý přátelský tón okamžitě odhodila. Jak by ostatně taky mohla v takové situaci zůstat klidná a kamarádská?</p>

  <p>„Moje problémy snad nejsou tvoje věc, ne?“ zaječela Cadrilla, přestože tady ta špatná byla vlastně ona, minimálně podle Yweniných propočtů.</p>

  <p>„Jak tvoje problémy? Cadrillo, my jsme už hezkých pár let nejspřízněnější duše v celém Králově přístavišti a ke svým vzájemným problémům nemůžeme být lhostejné ani náhodou. Stejně mám tušení, že se mě to taky trošku týká!“</p>

  <p>„Nezáviď, ty ošklivá panno!“ vytasila Cadrilla už opravdu ošklivý tón hlasu i slova.</p>

  <p>„Cože?“ nestačila se Ywen divit vlastním uším. „Nebyly jsme do nedávná nejlepší kamarádky, co si neřeknou škaredého slova? A proč jsi mi tedy psala takové medové dopisy, když jsi v nich nemyslela slovo upřímně“</p>

  <p>„Psala jsem ti dopisy, protože jsi mě o to poprosila, to je jednoduché. A taky jsem nemohla vědět, že budeš takhle vyšilovat.“</p>

  <p>Ywen tohle nehodlala poslouchat. Rozběhla se a zlostně strčila do Cadrilly. Ta sice byla lehoučká, ale zato byla poměrně dobře postavená, takže jenom trošku klopýtla a spadla na ruce.</p>

  <p>„Co to děláš? Tohle vůbec není tvoje věc?“ hulákala Cadrilla, zatímco vstávala a zaujímala bezpečnou polohu, aby se Ywen nezachtělo ji ohrozit podruhé.</p>

  <p>„Není moje věc? Že jsi se vyspala se Zacherym, to není moje věc? Vždyť miloval mě!“ Když to tak Ywen říkala, znělo to ještě hůř, než když na to jenom myslela.</p>

  <p>„Miloval tebe? Nemohl milovat tak velkou, tlustou a ošklivou věc, jako jsi ty. Od první chvíle byl zamilovaný do mě a přes tebe se ke mně snažil přiblížit. A když jsi odjela, já jsem byla tak hrozně osamělá, že se mě musel ujmout. Zanedlouho jsem otěhotněla, což je samozřejmě problém, protože král mě tu nechá jenom do té doby, co porodím, potom bych prý princezně dávala špatný příklad. Každopádně se budeme brát se Zacherym, takže mi ani tak nevadí, že odsud odejdu, tady mi už stejně na nikom nezáleží.“</p>

  <p>Když tohle Ywen slyšela, jak jí Cadrilla vykládala odporně namyšleným tónem, že jí na ní už vůbec nezáleží, že je naprosto správné hned, co Ywen odjede, vyspat se s chlapcem, kterého měla ráda a že vlastně radši měla zůstat v Torrhenově dvoře, chtělo se jí brečet a zároveň zkopat Cadrillu do kuličky. „Copak jsme nebyly kamarádky na život a na smrt? Copak jsme bez sebe neudělaly ani krok, všechno jsme si říkaly a měly se nadevšechno rády? Já teď nechápu, co tady předvádíš, ale ještě bych ti mohla odpustit, kdyby ses mi omluvila.“</p>

  <p>„Já se ti nemám za co omlouvat a teď vypadni pryč!“ řekla ledový, tónem Cadrilla, takovým, že by Ywen nevěřila, že je něčeho tak odporného vůbec schopná.</p>

  <p>„Ty hrozná svině, svině, svině, jak můžeš vůbec něco tak odporného udělat?“ ještě na ni naposledy zahulákala Ywen, vyběhla z pokoje, zabouchla dveře a přešla k sobě. Tam se, naprosto neodstrojená a špinavá z cesty svalila na postel a dala se do beznadějného pláče. Co by dala za to, kdyby mohla být s Josethem a Kyrou na Torrhenově dvoře, v krásné a sladké nevědomosti.</p><p class="sep">-</p>

  <p>Následující měsíce byly pro Ywen dokonalým utrpením – štěstí si očividně vyčerpala už předtím a teď za to muselo trpět.</p>

  <p>Od té doby s Cadrillou nepromluvily ani slovo. Ywen k tomu neměla žádný důvod – ona neudělala nic špatného, takže se vlastně neměla vůbec za nic omlouvat, to Cadrilla se Zacherym tady prováděli, něco, na co někdo ze správných „urozených dam a pánů“, které se tady král Viserys tolik let snažil vychovat, neměli správně ani pomyslet a ona mezitím byla u Kyry s tím, že se naprosto nic neděje.</p>

  <p>Ywen se teď začala více stýkat s Aylin, která byla celé roky prakticky sama, takže byla ráda, že teď někoho našla, ale nikdy to nebylo takové jako s Cadrillou. Cadrilla bývala prostě přesně jako na míru stvořená pro Ywen, ty dvě si sedly neskutečně. Ale to už byla dávná minulost a teď na sebe tak maximálně vrhaly vražedné a někdy taky naprosto lhostejně chladné pohledy.</p>

  <p>Nějaký kontakt se Zacherym byl taky naprosto vyloučený. On pochopitelně stál na straně Cadrilly. Ještě aby ne – vždyť byl otcem jejího dítěte, takže vlastně dělal správnou věc. Anebo ne? Ywen byla osobně přesvědčená, že byla ošklivě podražená a že to, že se s ní scházel, aby z ní vytáhl informace o Cadrille a že by se měl omluvit, ale on si asi myslel něco dočista jiného.</p>

  <p>Mělo ji to ale napadnout – maličká hubená, krásná, dlouhé plavé vlasy, modrá zvídavá očka, šibalský úsměv a hlavně ty její ďolíčky, to byla kombinace, které Ywen nemohla konkurovat.</p>

  <p>Občas si představovala, jak za ní Cadrilla přijde a pokorně se omluví, občas, když ji třeba mimořádně bolela hlava, jí připadalo, že tohle celé je jenom nějaký zlý sen nebo ošklivá představa, že přece není možné, aby se Ywen Arryn a Cadrilla Tarth někdy takhle škaredě pohádaly. Bohužel to pravda byla.</p>

  <p>A takhle žily Cadrilla a Ywen a všechno jejich okolí. A nepřátelštější a dusnější atmosféru, co toho prokletého půl roku musela snášet Ywen, a ani její bývalá kamarádka, nezažila a taky nikdy nezažijí.</p><p class="sep">-</p>

  <p>Po tom hrozném půl roce měla Cadrilla konečně rodit. Král Viserys, ten hodný a milý král, jí dovolil zůstat až do porodu v Maegorově pevnosti a odbýt si to taky tady. Nevěděl prý, jak jsou na tom s hygienou na Tarthu a prý mu přišlo nelidské vyhnat Cadrillu pryč. Co jí ale zakázal, byl sňatek se Zacherym. „Tohle by se opravdu nemělo stávat, máte štěstí, že se nedostalo dál, než by mělo a kdybych vás nechal vzít se, věděli by to určitě všichni, což nechcete vy, ani já.“</p>

  <p>Ywen opravdu neměla zájem být u ní, vždyť spolu za posledních šest měsíců nepromluvily ani slovo a čas jejich přátelství se zdál být vzdálený a nedosažitelný. Mistr, septa a Cadrilla se odebrali do místnosti ve věži, prý aby křik nenarušil normální chod hradu, a čekali tam, až bude dítě chtít ven.</p>

  <p>Ywen toho vlastně víc nevěděla a vědět nepotřebovala. Sama seděla v pokoji a přemýšlela o sobě, o Cadrille, o životě. Nikdy by jí nenapadlo, že bez té miloučké dušičky, kterou Cadrilla bývala předtím, bude tak strašně osamělá. Často přemýšlela o tom, že až když ji vyženou, protože zjistí, že jakékoliv zušlechťování princezny Rhaenyry je stejně zbytečné, půjde za Kyrou. Poslední dobou vzpomínala na to ošklivé místo se svojí skvělou sestrou čím dál častěji a stýskalo stále víc.</p>

  <p>Najednou ji z jejího přemýšlení vyrušilo klepání na dveře. „Dále,“ pozvala Ywen dál toho, kdo se k ní dobýval. Ve dveřích stála Lore. Na obvyklé poměry byla hrozně bílá a oči měla mírně vykulené. Muselo se stát něco, co opravdu není hezké na pohled, jinak by to hradní krasavici tak nezřídilo.</p>

  <p>„Ywen, běž dolů za Cadrillou, je to důležité,“ vyřídila jí bledá dívka. Ywen pomalu vstávala z postele a ještě hledala něco teplejšího na sebe, když Lore ještě dodala: „Máš tam být co nejrychleji. Není moc času.“</p>

  <p>Ywen se tedy zvedla rychle a vyšla ze dveří za Lore. „Víš, kam máš jít? Máš tam být sama?“ Tázaná příkývla, jakože to věže za Cadrillou trefí, přitáhla si noční košili k tělu a rozběhla se chodbou k pokoji, kde rodila její bývalá kamarádka. Asi tušila, co ji čeká. Cadrillu měla prokouklou, jako nikoho jiného. Docela se děsila, co ji tam čeká. Cadrillin osud jí byl poměrně ukradený, jenom nebyla zvědavá na tu spoustu krve po ráno, která jí tam určitě čekala.</p>

  <p>Doběhla do věže, otevřela dveře, ale zůstala stát na prahu a jenom se dívala, co je vevnitř. Tam nějak měla odpor ke všemu, co se odehrává vevnitř.</p>

  <p>„Vy jste Ywen Arryn?“ zeptala se jí postarší septa, která tady u porodu asistovala. Ywen pokývala hlavou, jakože je to ona, kterou si dali zavolat a septa rychle pokračovala: „Cadrilla to nemá šanci přežít – vždyť se na ni podívejte, taková droboučká dívenka, ne ženská stavená na porod. Divím se, že to vůbec donosila. My jí už nijak nepomůžeme, ale volala si vás.</p>

  <p>Ywen se podivila, proč si na ni Cadrilla vzpomněla teď, když ji předchozího půl roku naprosto ignorovala, ale na žádost septy přistoupila k posteli a podívala se dolů.</p>

  <p>Dítě už bylo venku, leželo v náruči mistra a Cadrilla na posteli zhluboka oddychovala, byla hrozně bledá a celá od krve. V tak zuboženém stavu ji snad ještě nikdy neviděla.</p>

  <p>Cadrilla se asi pokoušela něco říct, ale byly tak hrozně slabá, že se jí to nepodařilo, slyšet byl jenom slabý nepatrný šepot.</p>

  <p>„Vždyť má před sebou pár minut, tak jí to dopřejte!“ naléhala na Ywen téměř plačky septa, která očividně neměla ani tušení, co se mezi dvěma dívkami stalo  a jako toho hodného dobrého chudáka viděla Cadrillu.</p>

  <p>Ywen si tedy kvůli septě přidřepla, aby byla na úrovni postele a přistrčila svou hlavu ke Cadrilliné, aby slyšela, co se jí pokouší sdělit. Chvíli ji sice trvalo, než rozpoznala slova, ale když si zvykla na popadání dechu za každým slovem a téměř nepatrným šeptání, porozuměla jí.</p>

  <p>„Je mi to velmi líto, Ywen, odpusť mi, je mi to líto.“ Tuto větu opakovala Cadrilla snad dvacetkrát, než jí Ywen pořádně porozuměla. Sice rozuměla slovům, ale sama o sobě jí připadala prázdná jako sudy bez vína. Neměla vůbec odpouštěcí náladu – vždyť Cadrilla jí vlastně vzala všechno, na čem jí záleželo. Vyštvala ji z Torrhenova dvora, vyspala se se Zacherym, teď s ním má dokonce i dítě, takže jakýkoli, byť jen přátelský, vztah Ywen a Zacheryho je vyloučený, a nejhorší věc, kterou Cadrilla mohla udělat byla, ta, že jim vzala jejich bezchybné kamarádství. Sice ona trpěla taky, ale ne tak, jako Ywen a navíc za to mohla. Ne, Cadrille neodpustí, nemá na to zrovna náladu. „To, co jsi mi udělala ti nemůžu odpustit. Podívej se na to mýma očima – využila si moji důvěru a lásku a zachovala ses jako největší děvka, já ti nebudu odpouštět na požádání. Teď by se ti to hodilo, na smrtelné posteli!“</p>

  <p>Cadrilla vzdechla a možná ještě chtěla něco dodat, ale byla už příliš slabá. Tak aspoň přisunula svoji ruku blíž ke kraji postele, jako kdyby prosila Ywen, aby ji za ni vzala.</p>

  <p>Kdyby se toto semlelo před půl rokem a Cadrilla by umírala vedle své nejlepší kamarádky, Ywen by se topila v slzách a tiskla ji, aby jí zabránila v odchodu z tohoto světa. Teď jí byl osud Cadrilly naprosto volný, stejně za chvíli umře, takže žádné usmiřování nemá smysl.</p>

  <p>Ywen už začaly brnět nohy z toho, jak klečela u Cadrilliny postele, takže si stoupla a šla se posadit do křesílka poblíž dveřím. Tohle jí připadalo jako naprostá fraška – proč tu musí být zrovna ona, když se s Cadrillou nenávidí?</p>

  <p>Septa očividně nechápala Ywenina chování, protože jí bylo řečeno, že Ywen s Cadrillou jsou kamarádky na život a na smrt. Teď viděla, že spíš jenom na tu smrt. Mistr by se tomu taky podivoval, kdyby nezabaloval dítě do spousta vrstev krajkovaných plínek a zavinovaček.</p>

  <p>Netrvalo to dlouho a Cadrilla přestala oddychovat (Ywen nevěděla, jak moc velký na tom má podíl) a zemřela. Septa se k ní sklonila a dala se do pláče, přestože to bylo jasné od začátku, že zemře. Ywen to nechávalo dokonale chladnou, dokud nepřistoupila k posteli, aby se na čerstvě zesnulou podívala.</p>

  <p>A ona se usmívala! Cadrilla byla mrtvá a přestože umřela v bolestech, tak teď se usmívala. Jak si může dovolit se smát, vždyť je to taková drzost, Ywen jí přece neodpustila! To ji nepředstavitelně rozzuřilo. Ještě nikdy ji nepopadla větší zlost – za poslední dobu byla téměř pořád smutná, ale tohle nemělo se smutkem nic společného. Tohle byla zlost a nenávist ke Cadrille, která se na ni sprostě usmívá, přestože je po smrti a měla by z toho být nešťastná.</p>

  <p>A aby Cadrilla byla šťastná, to byla poslední věc, co Ywen potřebovala. Takhle to ale nemůže zůstat.</p>

  <p>Ale počkat, ještě jsou tu Zachery a to dítě. Přesně nevěděla, jestli je to chlapec nebo dívka, ale vždyť to bylo jedno, z takových dvou zmijí stejně nemůže vyrůst slušný člověk. Tak mu to ušetřím, pomyslela si Ywen.</p>

  <p>Přistoupila k mistrovi, který držel to malé křičící dítě v náručích, pohladila ho po hlavičce a potom prudce uhnula, ze stolečku u postele popadla nůž od krve, který asi mistr se septou používali k porodu. Vzala nůž do ruky, urovnala si ho k ruce, přiskočila k děcku v peřince a bodla ho nožem do břicha. Mistr vykřikl, hodil dítě na postel a snažil se vykroutit Ywen nůž z ruky, ale ona byla vedena takovou nenávistí ke Cadrille a Zacherymu, že se mu to nepovedlo. On sám byl taková kost a kůže, septa už zase měla věk a na Ywen ani jeden z nich nestačili.</p>

  <p>Ta popoběhla k posteli a nožem bodala do dítěte, ležícího tam. „Za maminku,“ řekla, když dávala druhou ránu, „za tatínka,“ při třetí, „za ten její strašný úsměv,“ při čtvrté, „a abys konečně umřel, ty malý hnusný hade,“ při páté. Dítě už potom nemělo žádnou šanci, aby přežilo, peřinka, ve které leželo začala být taktéž rudá od krve a Ywen věděla, že dítě má už jenom pár okamžiků.</p>

  <p>Když po pár sekundách opravdu zemřelo a Ywen se na něj podívala, zhrozila se. Na posteli leželo v krvavě rudé zavinovačce (ještěže neviděla, co je pod ní) a bylo mrtvé. Nenávratně mrtvé, jenom pár minut po svém narození.</p>

  <p>„Co ti to děťátko provedlo?“ zeptal se Ywen mistr, se zoufalstvím v hlase. Na Tarth se měla vrátit Cadrilla i se svým potomkem, takto se tam nevrátí nikdo, snad jenom havran se smutným dopisem a nějaké Cadrilliny staré věci.</p>

  <p>Nic, nic jí neudělalo a ona ho stejně zabila. Vraždění bylo v Králově přístavišti na denním pořádku a nikoho nepřekvapovalo, ale to bylo vraždění dospělých a provinilých, zabíjet neviňátka dokázaly jenom ty největší zrůdy. A Ywen od této chvíle patřila mezi ně – ještě teď měla na rukách krev toho dítěte.</p>

  <p>Septa se sklonila nad mrtvé děťátko, ležící jenom kousek od své matky, a dala se do pláče, ještě víc, než předtím u Cadrilly. Cadrilla totiž jasně chybovalo a toto dítě ještě nestihlo udělat jedinou špatnou věc.</p>

  <p>K Ywen přistoupil septon, aby ji odtáhl dál od postele, kdyby si svoje oběti chtěla ještě nějak vychutnat. Taky jí vykroutil z rukou nůž – teď už se nechala docela snadno. Jak jenom to mohla udělat? Zvěrstvo hodno toho nejšpinavějšího vraha! Tady na tomhle světě už asi stejně nemá co dělat, s takovou tíhou by žít nemohla.</p>

  <p>Když to vychrtlý, slabý a zdrcený mistr nečekal, docela snadno se mu vysmýkla, přeběhla na druhou část pokoje k oknu a skočila. Skočila z okna věže a dokončila tak třetí vraždu za dnešní ráno.</p>

{% endblock %}
