{% extends "post.html" %}

{% set title = 'Povídka č. 5 (2. kolo)' %}

{% block content %}

  <h2>Povídka 5.</h2>

  <h3>Jakákoliv podobnost se skutečnými osobami je náhoda. Naprostá náhodička.</h3>

  <h4>O ledu, ohni a pravé babiččině zlobě</h4>

  <p>„Kde vězí?“ vzdychla Lovkyně Mamutů Kopčema (dále jen jako Kopčema) už asi po desáté a pohlédla z okna na Slunce, podle kterého šly bezvadně určit hodiny. „Zase se čeká jenom na něho.“ Zatímco Kopčema byla všude naprosto včas anebo spíš ještě s předstihem, Unicornmaniac (dále jen jako Jednorožec) věčně chodil pozdě. Ostatní si nebyli tak úplně jistí, kdo z nich dvou je rozčiluje víc.</p>

  <p>„Nevyšiluj, my za to nemůžeme, že jsi tady tak o hodinu dřív. Můžeš mezitím vyčistit zkumavky, aby byly krásný,“ napomenul ji Všemidívkamimilovanýnášúžasnýjaroušek (dále jen jako Jaroušek), kterého očividně štvala spíš dokonale dochvilná Kopčema než věčně zpožděný Jednorožec.</p>

  <p>„Nech ji,“ zastala se své sestry Amelína balerína (dále jen jako Amelína), kterou Jednorožcovy pozdní příchody také neskutečně vytáčely.</p>

  <p>„Vždyť nikam nespěcháme, tak se obě laskavě uklidněte,“ pravil moudře Jaroušek, což si Amelína nechtěla nechat líbit, a tak se užuž nadechovala, aby mu něco nepěkného řekla, ale předstihla ji Kopčema s pohotovým: „Mlč radši,“, takže Amelína už nemusela říkat nic a jenom se přesunula do rohu místnosti, kde si zkoušela nějaké nové kroky.</p>

  <p>Po chvilce se konečně otevřely dveře a dovnitř vstoupil Jednorožec.</p>

  <p>„Sedmnáct minut pozdě, vole,“ spustila hned Kopčema a na posledním slově si dala obzvlášť záležet. On jenom potřásl hlavou, asi jakože se omlouvá, sundal ze zdi chemický plášť a posadil se za ostatními ke stolu.</p>

  <p>„Tak si to zopakujeme,“ začal Jaroušek, žijící v sebeklamu, že když studuje technickou školu, ví automaticky všechno i o ostatních přírodních vědách a že ostatní už to za tu čtvrthodinu, kdy to ještě neopakoval, zapomněli. „Budeme dělat docela nebezpečný pokus a tím je reakce divokého ohně a kousku ledu ze Zdi, abychom zjistili, která z těchto složek je silnější anebo jestli proběhne neutralizace a nestane se vůbec nic.“</p>

  <p>„Neutralizace je reakce kyseliny a zásady, ne? Vzniká sůl dané kyseliny a voda. Nechápu teda, jak chcete udělat sůl divokého ohně, to jde?“ ozvala se poprvé i jejich skoro nejmladší sestra Malá zmatená Verunka (dále jen jako Verunka).</p>

  <p>„Nežvaň a radši utíkej pro ten led do mražáku,“ poslala ji Amelína do vedlejší led pro nezbytnou součást jejich pokusu. „A hlavně opatrně, ať ještě nemáš omrzliny!“</p>

  <p>„Tak led máme v mražáku, ale jak budeme dělat ten blbej oheň?“ zamyslel se nahlas Jaroušek, samozvaný vedoucí celé skupiny.</p>

  <p>„V klidu, nakonec jsme se domluvili, že radši koupíme instantní než si připravovat svůj, to by nemuselo taky moc dobře dopadnout. Byl jsem to ještě teď koupit,“ozval se Jednorožec, což omluvilo tak pět až sedm minut z jeho pozdního příchodu. „Bohužel neměli ten stříbrnej ani ten, co prská hvězdičky, tak jsem musel koupit normální.“</p>

  <p>„Na co by nám asi tak byl instatní oheň, co prská hvězdičky? zeptala se ho cynicky Kopčema.</p>

  <p>„Mě by se to náhodou líbilo,“zapojila se do sporu o hvězdičky i Amelína.</p>

  <p>„Bohové,“ ulevili si Jaroušek s Kopčemou najednou. Jednorožec dělal, že je neslyší a vytáhl sáček s ohněm z kapsy.</p>

  <p>„To nemůžeš dávat do kapsy, zvlášť když je to Klevr! Co kdyby se to samovznítilo?“ vypískla starostlivě Amelína. „Sáček s instantním divokým ohněm bys měl nosit v nějaké krabičce z nehořlavého materiálu.“</p>

  <p>„No dobrý, vždyť se nic nestalo, tak nevyšiluj,“odbyl ji Jednorožec. „A proč vlastně furt nic neděláme, napřed na mě spěcháte a teď tady stojíme a vykecáváme?“</p>

  <p>„Protože sis, pitomče, možná mohl všimnout, že Verunka se ještě nevrátila s tím ledem, a když nemáme jeden ze dvou reaktantů, asi těžko něco uděláme,“okamžitě na něj vyjel jeho starší bratr.</p>

  <p>„Tak sory, vole, nenavážej se do mě hned,“ ohradil se okamžitě Jednorožec.</p>

  <p>„Nechte toho, dochází vám, že se hádáme úplně pořád a s takovou to tady tak akorát vybouchne!“ napomenula je Kopčema, která už měla jejich (a ne jenom Jarouškova a Jednorožcova) hádání po krk. Proč spolu všechny jejich spřátelené rodinné klany vycházely v pořádku a jenom oni si museli neustále dělat naschvály a dohadovat se?</p>

  <p>Jednorožec ještě udělal zvuk podobný „bebebe“, ale už se radši do žádného ze svých sourozenců nenavážel.</p>

  <p>Chvíli stáli v místnosti jenom tak mlčky, když přišla Verunka, celá taková pobledlá, s prsty trošku modrými a ubrečenýma očima. Amelína áchla a už se hrnula k ní, aby ji trošku ošetřila, přestože vlastně moc nevěděla, jak.</p>

  <p>„Verunko, cos prováděla?“zeptal se jí zdálky Jaroušek, který považoval Amelíninu starostlivost za přehnanou. Omrzliny, no a co? Sestra brečí, no a co? A nepřinesla ten led – tak to je napřesdržku! Kopčema se na něho škaredě podívala, jakože by měl vědět, že Verunka je ještě malá (o celé dva roky mladší než ona sama!) a přiskočila k ní, aby jí kdyžtak taky s něčím pomohla. Jednorožec se opřel o zeď, protože byl už opravdu celý zoufalý z toho, že pořád nic nedělají a ještě to zrovna nevypadá, když teď holky půjdou ošetřovat Verunku.</p>

  <p>Ukázalo se, že Verunka zapomněla na led a ve všech mrazácích hledala vanilkovou zmrzlinu, kterou tam někam schoval jejich lord otec ctěný Wenzel ze Schwarzů, aby se nesnědla zase tak rychle.</p>

  <p>„Veru, bolí to hodně?“ ptala se Amelína, která samozřejmě věděla její odpověď, ale musela litovací rozhovor nějak začít.</p>

  <p>„Docela dost,“ vzlykala Verunka, když viděla, že tady není nikdo, kdo by jí za její (trošku krokodýlí) slzy sprdnul.</p>

  <p>„Neměla by si to nějak ohřát?“ zkusila se zeptat Kopčema Amelíny, sama v umění zdravovědy úplně neznalá.</p>

  <p>„Já ti nevím, neuškodíme jí spíš?“ odporovala své sestře Amelína, tisknoucí u toho Verunčinou bílou ruku.</p>

  <p>„A pomohlo by, kdybych ti dal tady tu tyčinku?“zeptal se Jednorožec naoko starostlivě, z kapsy vytáhl čokoládovou tyčinku a zamával jí Verunce před očima. Ta na své omrzlinky okamžitě zapomněla a chňapla po bratrově pochoutce. „A nebudeš brečet, ale hezky spolupracovat?“ ptal se jí ještě a tyčinku pevně držel v ruce. Ona kývla, a tak sladkost pustil, nechal jí ji a rychlou chůzí přešel do zadní místnosti, aby z mrazáku vyzvedl už opravdu led a nic jiného.</p>

  <p>Zpět byl asi za půl minuty (mezitím už Verunka rozdělala tyčinku a pustila se do ní) i s ledem, který rychle položil na stůl, aby ještě taky neschytal nějaké ty omrzliny a podíval se na ostatní přítomné, jestli teda začnou, nebo co bude.</p>

  <p>Jaroušek důležitě přistoupil ke stolu, vzal sáček s instantním divokým ohněm, roztrhl a veškerý obsah vysypal do kádinky („Snad se neroztaví, no.“) a chvilku počkal, až začne hořet.</p>

  <p>„Kopčemo, plášť,“ houkl ještě na sestru, která si dovolila přijít bez bílého chemického stejnokroje. „A ty si dej brýle!“ poručil Jednorožcovi, protože tento pokus měl být opravdu, opravdu nebezpečný a on nechtěl riskovat, že by se někomu něco stalo (a potom by to musel vysvětlovat rodičům, což by bylo velmi nepříjemné).</p>

  <p>„Amelína nemusí!“ žaloval Jednorožec, protože mu přišlo nespravedlivé, že jeho starší sestra si nemusí brát zrůdné velké laboratorní brýle. „Protože má svoje,“ poučil ji Jaroušek a poukázal tak na Amelíniny pomůcky proti krátkozrakosti.</p>

  <p>A zatímco si nespokojený Jednorožec šel vyhrabat ze šuplíku nějaké laboratorní brýle, Jaroušek se opět ujal slova. „Takže si to ještě jednou zopakujeme – budeme tady provádět neutralizaci ledu ze Zdi…“ Bohužel nedořekl, protože na něj vztekle vyskočila z jedné strany Kopčema a z druhé Amelína, aby mu zacpaly pusu.</p>

  <p>„Nehraj si laskavě na naše na našeho otce nebo vládce nebo tak něco, jsi nás bratr a ne car!“ musela si ulevit Amelína, přestože svého bratra měla (povětšinou) ráda a jeho vůdcovské sklony mu tolerovala. „Jsi o dva roky starší!“</p>

  <p>„Jsi o sedm a půl roků starší, ale i tak toho můžeš nechat,“ přidala se Kopčema. Verunce to očividně bylo celkem jedno, ta byla zaujata pouze svojí čokoládovou tyčinkou.</p>

  <p>„Ženský zatracený,“ napomenul svoje sestry Jaroušek, protože s jejich názorech vůbec nesouhlasil. Proč by  nemohl znovu vysvětlit, co budou dělat, když je z nich nejstarší a tím pádem i nejmoudřejší?</p>

  <p>„Tak se do toho konečně pustíme?“ navrhl Jednorožec, který si mezitím našel nějaké ty brýle, asi uspokojil nejstaršího bratra a byl už docela nervózní. Měli dělat pokus a ne se dohadovat!</p>

  <p>„Jo porád. Ale víte všichni, co máme dělat? Veru?“ Všichni mu to odkývali, dokonce i Verunka (ta sice trošku nejistě, ale přece), což Jarouška přesvědčilo, aby se konečně pustili do díla.</p>

  <p>Vzal tedy téměř posvátně ten kus ledu ze Zdi, strčil ho všem kousek před oči, aby si ho mohli prohlédnout a potom ho opatrně upustil do kádinky s rozhořeným divokým ohněm.</p>

  <p>Všech pět sourozenců se jako na povel nahnulo nad stůl, aby dobře viděli, co se bude dít. V užší části stolu u toho nabodl Jednorožec nabodl Amelínu na roh, a tak mu dala preventivní malou facku, ale jinak se všichni soustředili jenom na led a oheň v kádince.</p>

  <p>Když led spadl do pomenší kádinky s divokým ohněm, pár sekund se nic nedělo, ale potom se ozvala menší rána (všichni sebou trhli, holky u toho vyjekly a Jednorožec dělal, jakože to bylo naprosto jasné), led jakoby ucuknul na jednu stranu a oheň na druhou. Netrvalo to moc dlouho a oba prvky si každý šel na svou stranu a o ten další se nestaral.</p>

  <p>„To je teda slabý,“ povzdechla si Verunka, která čekala spíš pokusy typu vemte si červenou vodu, nalijte do ní zelenou vodu a ono to vybouchne a teď jenom led vlevo, oheň vpravo a kde nic, tu nic. Ostatní si ale taky museli přiznat, že čekali něco maličko pompéznějšího, přece jenom, tak dlouho se tady dohadovali a výsledek skoro žádný.</p>

  <p>Kopčema se zklamaně podívala na Jednorožce, Amelína na Jarouška a Verunka na zbytek svojí čokoládové tyčinky, jako kdyby ještě čekali nějaké pokračování a nechtěli to jenom tak zabalit.</p>

  <p>A dobře, že ještě nad kádinkou zůstali stát a zbrkle neodešli. Oheň se najednou už nedržel jenom na jednom jediném konci, ale jako kdyby se rozběhl proti ledu. Vypadalo to skoro, jako kdyby chtěl zaútočit na ledu a zničit ho. Protože led a oheň, ti dva se očividně museli pořádně nenávidět.</p>

  <p>Když oheň „doběhl“ až k ledu a vypadalo to, že ho prostě rozpustí, ledu to asi nedalo a nechtěl se nechat tak snadno porazit a chtěl taky bojovat. Led sice není tak skvěle tvarovatelný jako jeho úhlavní nepřítel, ale zato může postavit skvělé opevnění a pokusit se oheň zastavit. Nečekal tedy dlouho a postavil se tak, aby průniku ohně dál zamezil. Oheň očividně odpor ledu dost nakrknul, a tak se jakoby trošku postavil a chtěl přelézt led z vrchu.</p>

  <p>Zase neúspěšně, led, přestože ne tak úplně dokonale tvárný, se předělal do takové pozice, aby zcela zabránil ohni jakýkoliv postup dopředu.</p>

  <p>Led a oheň se začaly prát. Nebylo pro to žádné jiné slovo, prostě začaly se soubojem. Led se snažil roztavit led, který ale statečně odolával a asi se i pokoušel zmrazit oheň, i když není jisté, že je to možné.</p>

  <p>Sourozenci stáli a zírali na to s otevřenou pusou. Něco takového ještě nikdy neviděli, dokonce ani Jaroušek ne a to bylo u samozvaného experta na všechny přírodní vědy už co říct.</p>

  <p>„Tak to je hustý,“ musel si Jednorožec říct na výsledek jejich chemického pokusu. Ostatní mu přikyvovali hlavami, protože to bylo vážně něco docela nevídaného – led a oheň jako kdyby spolu tančily a prolínaly se navzájem. Normální chemické pokusy, které už kdokoliv ze sourozenců vykonával, nikdy nevypadaly takto – tak děsivě působivě.</p>

  „<p>A teď si představte, co se stane, když se v Západozemí střetne opravdový Led a Oheň. Myslím tím, co když sem vniknou Jiní ze Severu a tajemná magie z Jihu, tím myslím ten Led a Oheň. A jak jsme si teď vyzkoušeli, souboj to bude lítý, ale nerozhodný,“ řekl trošku zděšeně Jaroušek.</p>

  <p>Všichni ztichli a pozorovali dál dění v kádince. No fakt, led a oheň a popřípadě taky Led a Oheň jsou soupeři, kteří to myslí opravdu vážně a jsou naprosto vyrovnaní.</p>

  <p>Kopčema se trošku zatřásla při tomto nehezkém pomyšlení a přisunula se o trošičku blíž k Verunce, jako kdyby ta ji měla ochránit. A ostatním taky nebylo zrovna do zpěvu.</p>

  <p>Sourozenci by stáli a zírali na kádinku snad donekonečna, kdyby neuslyšeli na schodech nějaké kroky. Trošku zpomaleně se otočili (Jednorožec ani to ne, ten pořád zíral na led a oheň), aby se podívali, kdo je právě jde navštívit, když uviděli menší postavu ve starém proužkovaném tričku, dlouhé černé sukni a naprosto nezaměnitelných růžových pantoflích. Ano, do jejich improvizované chemické laboratoře sestoupila Vladimira Jurejevna Čjorná, jejich drahá babička.</p>

  <p>„Může mi někdo z vás vysvětlit, co tady provádíte?“ spustila rovnou ve dveřích, hlasitě a naštvaně, jak to uměla snad jenom ona.</p>

  <p>V„Pokusy,“ řekla Amelína a nasadila ten nejširší úsměv, na který se zmohla. „Prostě jenom pokusy.“</p>

  <p>„A můžete mi laskavě vysvětlit, co k těm svým pokusům používáte?“ pokračovala babička.</p>

  <p>Jaroušek udělal krok dopředu, vzal Amelínu za ramena a potichu a rychle, jako kdyby každou chvíli očekával výprask, řekl: „Jenom led a oheň, babi, nic jinýho.“</p>

  <p>„Tu instantní sračku jsem vám zakázala, ale budiž, to uhasíte a možná to ani nebude moc smrdět, ale to, že používáte můj led ze Zdi, který jsem koupila od Růži za nelidský peníze a chladím se jím, když mi teče krev z nosu, to mi vysvětlíte jak?“</p>

  <p>„Babi, my ti koupíme novej, snad se tolik nestalo,“ pokračovala v obhajobě Amelína.</p>

  <p>„Jistěže se stalo, Růža je mrtvá a kde to mám asi tak teď sehnat?“ rozkřikovala se babička čím dál víc.</p>

  <p>Sourozenci věděli, že je zle. A že bude nejlepší nechat babičku vychladnout a pobavit se s ní o ledu až později. A tak, všech pět, strhlo chemický plášť, pohodilo ho na zem a vyhrnulo se z místnosti, vystoupalo schody a rozběhlo se někam pryč, kde je babička nenajde a nebude mít chuť si to s nimi vyřídit.</p>

  <p>Co byl nějaký boj Ledu a Ohně oproti zlosti babičky Vladimíry? Naprosto, ale naprosto zanedbatelná nepodstatnost.</p>

{% endblock %}
