{% extends "post.html" %}

{% set title = 'Adventní drabble č.1 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.1</h2>
<p>V Morii trpaslíci probudili staré zlo, Balroga. Válku s ním a jeho nohsledy prohrávali, tak i přes trpasličí hrdost chtěli přežíti a zachrániti svou domovinu a znovu ovládnout velké síně Morie, vysoké jak obloha, podpírané silnými sloupy. Vyslali posly s dopisy pro mocné hrdiny ostatních ras a mága, kterého měli navštívit osobně a prosit o pomoc. Vyslána byla zrzavá dvojčata Ruben a Rufi, výteční bojovníci se sekyrami. Ti dozvěděli se na povrchu, že nejblíže je Modrý mág Alatar i kvapně se vydali za ním, vědouc, že jejich bratři v Morii strádají a doufajíc, v šťastné doručení dopisů kupci, kterým rozdali za vysoký peníz a pohrůžku ostřími mohutných seker, tyto životně důležité zprávy pro Mistra meče Thadora a jeho učedníka Arana, pro elfku, nazývanou "kouzelnicí s lukem" nebo spíše jen Vlaštovka. A pro paladina, samotářského Woreona, s magickým neprorazitelným štítem.</p>
<p>Dvojčata dorazila k Alatarovi, poklekla až se jejich rezavé plnovousy dotkly země u kouzelníkových nohou, vysloviv svou prosbu. Báli se čarodějovy neochoty, leč mudrc je překvapil.</p>
<p>"Čekal jsem vás a už jsem nachystal všeho na Balroga, vydejme se na cestu." Trpaslíci zůstali překvapeně stát, ohromeni Alatarovou inteligencí a prozřetelností. Však neztráceli času a pověděli, že všichni se setkají v Hostinci na nábřeží a pak si pospíší do Morie.</p>
<p>Nemeškali a trojice se vydala na cestu.</p>


  {% endblock %}
