{% extends "post.html" %}

{% set title = 'Adventní drabble č.10 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.10</h2>

<center><p>A</p>   

    <p>Kdo zachrání princeznu</p></center>
<p>Jelikož neměl náš hrdinný svůdce k dispozici žádný meč, jal se překonat draka střežícího věž s  princeznou lstí. Tak dlouho mu předčítal z knih, na jejichž přebalu byl zvěčněn, až kdysi pyšný drak po několika hodinách utrpení raději svůj život sám ukončil, když se upálil vlastním ohněm. Sebevražda to byla věru otřesná, neb krajinu i s drakem celý den bičoval prudký liják, ve kterém by si i Španělská inkvizice dvakrát rozmyslela někoho upalovat. Teď bude moct chrabrý Fabio ohromovat dámy dalším eposem o tom, kterak hrozivého draka udatně zamordoval, kdežto zmíněný drak bude v onom eposu vypadat jako šašek, který se ani neodvážil vzdorovat moci Červené knihovny. </p>
<p>Z komína prokleté věže se ozval pisklavý hlas, který tak potvrdil Fabiovu domněnku, že uvnitř se ukrývá další z řady princezen čekajících na osvobození. Přeskočil tedy v křečích zmítající se zdechlinu a vyrazil princezně naproti. Než rozkopl dveře do její komnaty, upravil si svůj již tak dokonalý účes, napjal mužnou hruď a vytasil ten nejusměvavější úsměv, který dokázal vytasit při smradu spáleného dračího masa prostupujícího věží. Když jej pak princezna spatřila, nedokázala vší té dokonalosti odolat a z nápadníkovy nezměrné krásy, z jeho zlatých kadeří, z jeho perfektního, avšak vkusného úsměvu, z jeho hlubokých, okouzlujících očí, zkrátka z celého Fabia na ní padly mdloby. Princezniny nohy tak podklesly pod vahou jejího těla a nebohá princezna i s polovinou království bezvládně vypadla z okna, dopadajíce přímo vedle dračího karbanátku čekajícího dole. Fabio se jen podrbal za uchem. „Sakra, to byla už čtvrtá.“, pomyslel si.</p>




<center><p>B</p> </center>

<p>Dámy procházely kolem s koktejly v rukou a rozmlouvaly o poslední módě, o domácích starostech s ratolestmi a sluhy, či pokoušely nejednoho svůdce odvážností dekoltů. Jejich manželé se oddávali hře. Karty byly vyrovnané do komínů, připravené k sejmutí, žetony rozdané. U největšího stolu se točila ruleta, jinde chřestily kostky a netrpěliví hráči křupali klouby prstů. Jiní rozmlouvali o krizi a prohibici. Nitti shlížel s pocitem pýchy na svůj podnik skrze okno své kanceláře.</p>
<p>Tak vypadalo kasino Nitti před dvěma hodinami. Teď bylo plné policejních techniků a fotografů. Zranění už byli rozvezení do nemocnic, ale mrtvoly těch, kteří dostali víc kulek, než mohli vstřebat, se ještě fotily. Všude se válely střepy, koberce byly vlhké od alkoholu a krve. Sám Nitti ležel rozstřílený na kanapi, které dostalo silně nahnědlý odstín.</p>
<p>Detektiv poručík Johnson si vytřepal venkovní liják z baloňáku a unaveně se zeptal seržanta Bella: „Jaký je účet, seržante?“</p>
<p>„Pět mrtvých, včetně Nittiho, a patnáct těžce raněných. Kromě toho několik svědků v šoku.“</p>
<p>„Není divu. Stejný modus operandi?“</p>
<p>„Přesně tak,“ potvrdil Bell. „Zase šašek a jeho banda. Vtrhli dovnitř se samopaly, pokropili celý salón několika dávkami, sebrali, co mohli a zmizeli. Ale neopomněli hodit žolíka na Nittiho mrtvolu,“ dodal. Podle téhle karty se vůdci bandy říkalo šašek. Zamordoval už ředitele pěti kasin.</p>
<p>„No, tentokrát udělal chybu,“ řekl poručík. Ukázal na kartu, na které byl jasně zřetelný krvavý otisk prstu. „Ten otisk poznám na sto honů. Šašek se zasmál naposledy. Půjdeme si pro něj, teď máme nabito. Doslova.“ Potěžkal policejní osmatřicítku.</p>


  {% endblock %}
