{% extends "post.html" %}

{% set title = 'Adventní drabble č.11 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.11</h2>

<center><p>A</p></center>

<p>Byla vesnice, která se jmenovala Záhrobí obyvatelé byli zombíci a neměli pána či prezidenta nebo někoho nebo něco já nevím. Potom ale šel kolem někdo kdo jim připadal jako opravdový vládce. Šli k němu a zeptali se ho jestli náhodou nechce vládnout. On přikývl a byli šťastní. Sbírali svítící houby a vládce si říkal labužníci. Potom se tam oběvil muž co měl místo hlavy dýni a měl hlad tak zombíci dali na hodovní kámen nějaké houby. Potom jim poradil aby vytrhali křoví které bylo na zahrádce a řekl jim že se jmenuje Tonda. A tak vytrhali a potom vytrhali křoví na jihovýchodu. Potom šli trochu dolů a viděli tam kostlivce jménem pelos. Ten jim řekl že se mu stratila noha a řekl jim aby prozkoumali krypty. Našli tam jeho nohu Pelos poděkoval a dal jim plánek na to jak postavit laboratoř. Dali plánek vládcovi a ten poručil jim aby postavili laboratoř. Potom bouchali do stavby řezali a nakonec postavili. Narazili na rozbitý most a nevěděli jak za ňej. A všimli si na jihozápadě divného kamene kde byl kouzelník. Kouzelník se vládce zeptal jestli umí kouzlit. Vládce zavrtěl hlavou. Kouzelník ho teda naučil kouzlit a vládce zkoušel čarovat na kámen a objevil se zombík který mu poděkoval.</p>




<center><p>B</p> </center>

<p>Kocour

<p>„Mladá dámo, ta večeře se sama nesní. A vyhazovat ji taky nebudem.“</p>
<p>Vzteklé zafunění uslyší i přes liják, před kterým se schováva u komínu. On a ta věc.</p>
<p>„To děvče je spratek, ale tady musím potvrdit její názor. Mizerně páchnoucí jídlo.“</p>
<p>Věc v podobě ošumělé hadrové panenky, teď hodně podobné „spratkovi“, se sveze do polohy, jež vypadá značně samolibě.</p>
<p>„Ach, tak ty si myslíš, že už máš vyhráno. Že ji svedeš pouze na hostinu, pár kytek a ty své barevné šašky a ona tě jen tak nechá našít jí knoflíky a zamordovat ji.“</p>
<p>Ocasem mrskne o to podráždeněji, že pro předchozí tři případy to víceméně platilo.</p>
<p>„Zpychla jsi, víš to? Tohle dítě má dobrý domov a ta samá paličatá neurvalost, se kterou se vzteká na tenhle svět, může být obrácena i proti tobě a tvé pavoučí říši.“</p>
<p>Panenčine knoflíkové oči, přes které se díva někdo hodně daleko a blízko zároveň, se zalesknou.</p>
<p>„Ovšem, že přijímám výzvu. Tak jako vždycky.“</p>
<p>Baví ho všemi dostupnými prostředky zápolit s Druhou Matkou, ale je v tom víc. Odvráti se a s jistou mlsnou nedočkavostí se zahledí na mladé děvče mračící se na své zaneprázdněné nudné rodiče, se kterými se zrovna přistěhovalo do díry, kterou je Růžový palác. Možná na svou náročnost doplatí. A možná díki tomuhle vyroste. Záleží, co se v ní skrývá a jak ji postrčí. A on je tak... Zvědavý.</p>
<p>„Dobré hře neumím odolat stejně tak jako ty, Beldam.“</p>


  {% endblock %}
