{% extends "post.html" %}

{% set title = 'Adventní drabble č.12 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.12</h2>

<p>Hostinec na nábřeží nechali za sebou a kvapně vykročili k cíli cesty. Konečně stanuli před vchodem do podzemí. Ruben se ani nezastavil -</p>
<p>"Melon!" vykřikl, a netrpělivě podupával, Rufi zrovnatak. Ostatní zůstali stát, tak úplně nechápajíc, co se děje. Obloha již byla temná, tak zářivé nápisy magicky vynikly do šera. A kámen se odsunoval... Jaké však čekalo družinu překvapení.</p>
<p>"Ne!" Zajíkla se dvojčata - viděli skřeta probodnout posledního trpaslíka Morie. Krví trpasličí byl zbarven kámen. Sekery trpasíků, které ještě svíraly živé ruce, podetínaly skřetí těla. Vlaštovčiny šípy nemíjely cíl, meče se činily. Čaroděj drtil skřety na prach. A pak bylo ticho. Dobyli první místnost. Ruben si svalil na zem, jakoby zkameněl. Zatímco sekera jeho sourozence stále sekala do už zcela mrtvého skřetího těla. Woreonův neochotný výraz by snížil morálku každému, naštěstí mu nikdo nevěnoval pozornost.</p>
<p>"Všechno je ztraceno, přišli jsme pozdě..." Nesl se hrozivě Rubenův šepot, který doprovázel pravidelný dopad sekery.</p>
<p>"Ne není." Řekl čaroděj rozhodnutě.</p>
<p>"Snad nechápeš? Myslel jsem, že mágové jsou známí svou inteligencí! Což jsi oslepl?!" Vykřikl Ruben, ovládnut silným zoufalstvím. "Zklamali jsme je, selhali jsme - Rufi přestaň už!" Nastalo ticho.</p>
<p>"Přišli jsme zastavit Balroga. Sami jej ale nikdy nemůžeme porazit." Pokračoval Alatar.</p>
<p>"Tak to přiznáváš!" Bylo slyšet od zakrváceného trpaslíka který se vracel z temnoty a usedl k svému bratrovi.</p>
<p>"Nemůžeme jej porazit, můžeme jej však zase uspat. Tím zachráníme mnoho životů!" Zvolal mág. "Kde je trpasličí odvaha? Kde je vytrvalost? Vzchopte se! Ještě není konec....."</p>



  {% endblock %}
