{% extends "post.html" %}

{% set title = 'Adventní drabble č.13 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.13</h2>

<p><center>1</center></p>
<p>Fernando popohnal matku ven z taxiku. Rychle zaplatil domorodci a přes liják a kouř z komínů se vypravil do letištní haly. Obě dámy hnal před sebou, aby nezaostávaly. Teď už je nechtěl zamordovat, chtěl jenom stihnout svůj let.  Kolem něj se prohnala nějaká banda šašků v dresech, kteří se všichni tvářili jako zkušení svůdci, ale podle Fernanda jim ještě teklo mléko po bradě. Nejstaršímu mohlo být tak devatenáct. Pyšně si vykračovali a nevšímali si ostatních lidí na letišti. Ti šašci byli jeho tým. Potvrdili svojí pověst nafoukaných fracků, když si jen tak pobíhali po letišti a vráželi do lidí. Fernando se za většinu z nich styděl. V jejich závěsu pak spatřil svého kamaráda Roberta, který jako jeden z mála věděl, co vlastně na letišti dělá. Přivítali se, a hned se vydali k odbavení. Fernandova matka celou dobu všechny přítomné obveselovala svými historkami. Suzy, jeho sestra si ostatní hráče prohlížela se zvídavým zájmem. Byla mladší než Fernando a tolik vysportovaných chlapců pohromadě ještě nikdy neviděla. Roberto tomu však učinil rychlou přítrž a kamarádovu sestru popostrčil směrem do letadla, aby jí uchránil vystavení se téhle bandě opic. Malé, dvoumotorové letadlo už na ně čekalo připravené k odletu. Celá posádka byla očividně v dobré náladě. Oba muži se usadili a připnuli si bezpečnostní pás. Palubou se rozlehl stewardův hlas. „Vážení cestující, vítejte zpět na palubě letu číslo 571…“ </p>



  {% endblock %}
