{% extends "post.html" %}

{% set title = 'Adventní drabble č.16 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.16</h2>


<p>Mladý student se pomalu loudal po nábřeží. Touto cestou se ubíral již měsíc každou středu a pátek k malé observatoři v domě profesora Wernera, kterému pomáhal v jeho studiu Saturnových prstenců.</p>
<p>Zatím však ještě bylo na pozorování brzy a mladík nemusel pospíchat. Kousek od profesorova domu se zastavil a obrátil zrak vzhůru. Podzimní obloha se počínala halit do soumraku. Jak světlo neochotně předávalo vládu noci, zesílil vítr a kdesi na obzoru, právě okolo zapadajícího slunečního kotouče, se začaly objevovat známky silné bouře s deštěm a blesky. A ten král nečasu mířil přímo na město.</p>
<p>Nečeká je moc dobrá noc k pozorování, řekl si, nikoli zklamaně. Astronomii měl rád a byl obdařen inteligencí k jejímu zvládnutí, ale momentálně si s profesorem příliš nerozuměl. Dříve veselého a oblíbeného Wernera cosi trápilo, byl nerudný a občas si na mladíkovi vyléval vztek. Proto student skoro doufal, že až dnes zazvoní u profesorových dveří, Werner mu řekne, že ho tento večer nepotřebuje.</p>
<p>Cosi lehce narazilo do týlu jeho hlavy. Student překvapeně zjistil, že se stal terčem papírové vlaštovky. Uchopil vlaštovku a přečetl si krasopisně napsaná slova: „Hlavu vzhůru!“</p>
<p>Podíval se do jediného otevřeného okna nad sebou a v něm zahlédl veselý dívčí obličej. To tedy byla Wernerova dcera. Něco zaslechl, prý po smrti profesorovy ženy zůstali sami, ale dcera často churaví. Smekl klobouk a dívku pozdravil. Dívka udělala pukrle a vzápětí z okna vylétla druhá vlaštovka. Tentokrát prolétla těsně kolem, ale mladík ji zachytil a četl: „Otec ještě nepřišel, ale je otevřeno, můžete jít nahoru.“</p>

  {% endblock %}
