{% extends "post.html" %}

{% set title = 'Adventní drabble č.17 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.17</h2>

<center><p>A</p></center>

<p>Helmut, opravář komínů, ve více nedobrovolné než dobrovolné společnosti první dámy bálu dobrovolných hasičů Jiřiny Blažkové ml. v hostinci U dobrovolného hasiče ve Spálené Lhotě proměnil se ve svůdce. Za přispění tří členů obecního zastupitelstva Pavla Fialy, Jirky Kalouska a Víta Němce, dvou myslivců na ex a kapely vyhrávající Černookého baču oznámil osazenstvu sólo a vykroužil s partnerkou několik koleček v rytmu, který se pranic neshodoval s hudbou vyluzovanou na špatně seřízenou elektrickou kytaru, oprýskané bicí a zánovní saxofon.</p>
<p>Když hudba dohrála a když Helmut konečně zastavil to, co hrdě považoval za tanec, dotyčná Jiřina Blažková ml. se pracně vymanila z jeho sevření. Na jeho nechápavý dotaz, co to dělá a proč blázní, vždyť se všichni bavíme, mu bylo řečeno, že je hrozný šašek a že to Jiřina Blažková ml. poví mamince Jiřině Blažkové st., toho času tajemnicí starosty Jaroslava Barona.</p>
<p>To poděsilo tři výše uvedené zastupitele, neb takový skandál by jim mohl zamordovat slibně rozjetou kariéru. Všichni tři se proto sebrali a nenápadně se začali vytrácet do lijáku dštícího tam v Spálené Lhotě, zatímco Helmut, raněn ve své pýše, dopustit se chtěl hrubé neslušnosti přímo na tanečním parketu. Odvolací soud v Hradci králové jeho trest v délce šesti měsíců s podmíněným odkladem na tři léta potvrdil.</p>



<center><p>B</p> </center>

Wylla Manderly

<p>Stála na nábřeží a představovala si, jak z něj strká do vody jednoho Freye a Boltona za druhým (se silnými řetězy a železnými koulemi na nohou), když za ní přišla Wynafryd.</p>
<p>„Odpusť si to nesouhlasné mračení, prosím.“</p>
<p>„Mám obavy. Ta scéna při audiencii...“</p>
<p>„Řekla jsem pouze a jenom pravdu. Kým jsme, abychom se krčili a zahazovali čest?“</p>
<p>„Rod s jistou inteligencí, který nejde hlavou proti zdi?“</p>
<p>„Nenechám se zazdít tak jako vy ostatní.“</p>
<p>„A copak my se dali? Podkopávame ji, vlaštovečko.“</p>
<p>Překvapeně se ohlídla, zelený cop jí jen tak pleskl ve větru.</p>
<p>„Oni nic nevidí, neznají ho a jsou tak zaslepeni svou chamtivou domýšlivostí... Ale já to starému otci poznala na očích. Není smířen s tím, co bylo provedeno na Starcích a naší rodině. A povídám ti, Wyllo, Wyman Manderly něco peče. Něco prohnaného. A aby to vyšlo, musíme je zmást.“</p>
<p>Wylla znovu odvrátila pohled, tentokrát zamyšleně, k obloze. Nakonec zavrtěla hlavou na znak neochoty, ale na starší sestru se usmála.</p>
<p>„Tak kopte dál. No já tuhle hru nemám v povaze. Budu vzdorná a i tím posloužím. Něčí hlas by měl být slyšen, ať lidi vzpruží a odvede pozornost nepřítele. A starký při tom může předvádět poslušnost tím, jak mě ukázňuje. No nebude to skvělé divadýlko?“</p>
<p>„Je to riskantní. A nejvíc pro tebe.“</p>
<p>„Já vím. Už jsem prostě taková.“</p>
<p>„A já bych tě ani jinou nechtěla.“</p>
<p>Povzdechla si Wynafryd a obejmula ji. Zůstali dívat se na vlny ještě dobrou hodinu.</p>


  {% endblock %}
