{% extends "post.html" %}

{% set title = 'Adventní drabble č.19 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.19</h2>

<center><p>A</p></center>

<p>Móric Beňovský</p>

<p>„Zahráme si?“</p>
<p>Spýtal sa Benjamin švitorivo ako lastovička na jar.</p>
<p>„Som zaneprázdnený, no na partičku šachu s vami si nájdem čas vždy.“</p>
<p>Súperenie intelektov s Franklinom ho nesmierne bavilo.</p>
<p>„Tentokrát ale v kajute. Moja loď už čaká pri nábreží a ja musím dozerať na nakladanie zásob. O pár dní vyrážam.“</p>
<p>„Tak skoro?“</p>
<p>Zhíkol zavalitý diplomat prekvapene.</p>
<p>„Ten čas ale letí. Ešte prednedávnom ste márne naháňal investorov pre tú vašu výpravu a teraz ste už jednou nohou v zámorí. Ešte by ste mi ušiel bez rozlúčenia.“</p>
<p>„Uznávam, je to trochu narýchlo.“</p>
<p>Prikývol s istou dávkou neochoty.</p>
<p>„Ale už nedokážem čakať. Ben, o tom ostrove sa mi aj sníva. Ani na slobodu z Kamčatky ma neťahalo tak silno ako teraz na Madagaskar.“</p>
<p>„Musí byť nesmierne krásny.“</p>
<p>„Tak nejak si predstavujem rajskú záhradu. Večne rozkvitnutú, panenskú záhradu s nevídanými zvermi a pôdou, z ktorej len tak raší bujná zeleň obťažkaná sladkým ovocím a vzácnymi koreninami. Vzduch je tam teplý a vlahý, nikdy tam nebýva zima. Akoby aj obloha bola modrejšia než inde. Chvíľami ľutujem, že som tam neostal po prvý krát.“</p>
<p>Vzápätí však pokrútil hlavou.</p>
<p>„Ale nie, to by som nemal prostriedky na to, aby som niečo podnikol. Je to bohatá zem. A tamojší ľudia sú ako deti. Chápete tú príležitosť?“</p>
<p>„Iste, veď som Američan. A chápem aj nástrahy. Priateľu, teraz ste plný nadšenia, ale v tej vašej záhrade zaiste bude aj nejaký had. Smrteľne jedovatý.“</p>
<p>„Nech si tam je aj celé hniezdo. To miesto stojí za to.“</p>


<center><p>B</p> </center>

<p>Chad Renwood, dvanáctý lord Shropheimu pomalu listoval věstníkem a hledal vhodné články pro svou sbírkou výstřižků ze společenské kroniky Shropshiru. Měl už z místních plátků, jimiž jsou Shropshirský věstník, Ludlowská Revue nebo Shrewsburské letopisy, vystřiženy dva. První o narození druhého syna lorda Bentwaye a druhý oznamující, že se lordu Tolberymu podařilo udat již třetí z jeho sedmi nepříliš pohledných, ale zato poměrně mohovitých dcer.</p>
<p>„Lorde Chade, lady Ermina vám vzkazuje, že se na oběd zdrží ve městě u přítelkyně,“ oznámil důstojně Milton.</p>
<p>„Drahý Miltone, v mém albu chybí popis očitého svědka, jak lady Ermina Renwoodová vypadla z okna a zlomila si vaz.“</p>
<p>Slušné vychování zabránilo komorníkovi, aby slovně podepřel tento názor. Tedy si aspoň toužebně povzdychl. Poté sebral z odkládacího stolku tác a odnesl jej, ponechávaje lorda jeho kratochvíli.</p>
<p>Zrovna když očekával, že bude servírován odpolední čaj, vešel do místnosti Milton a lord zvedl hlavu, protože komorníkův krok byl o stupínek razantnější, než na jaký byl u něj zvyklý.</p>
<p>„Můj lorde, právě volali ze Shrewsburské nemocnice. Lady Ermina uklouzla na nábřeží a spadla do vod Severnu. Prudký proud ji smýkal až k Anglickému mostu, než se ji podařilo vylovit. Je mimo nebezpečí, leč incident jí způsobil šok a z nemocnice bude převezena do sanatoria v Brightonu, kde se bude měsíc zotavovat.“</p>
<p>„Děkuji Miltone. Můžete servírovat čaj.“</p>
<p>Komorník se již chystal opustit místnost, když se zastavil, „Můj lorde, mohu vám vyslovit uznání s jakým důstojenstvím jste přijal tuto zprávu.“</p>
<p>„Drahý Miltone, vždyť víte, že mám rozpraskaný koutek. Nemohu se smát.“</p>


  {% endblock %}
