{% extends "post.html" %}

{% set title = 'Adventní drabble č.21 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.21</h2>

<center><p>A</p></center>

<p>Všichni bojovali statečně, prosekávali si cestu nečetným množstvím nepřátel. A pak ho uviděli - Barloga. Ohnivá příšera si klestila cestu k nim. Tam kde došlápla se objevil kouř jako ze tří komínů, blížila se.</p>
<p>"Musíte mi dát čas!" Rozkázal Alatar. Semkli se kolem něj a mordovali skřety jak jen to šlo.</p>
<p>"Arane, pozor!" Vykřikl Thadoras. Skřet na něj mířil lukem, Thadoras mu vskočil do cesty zachránil synovce vlastním tělem.</p>
<p>"Ne!" Vykřikl Aranus, Thadoras zemřel. Čaroděj zaklínal. Spustil na Balroga celý liják kouzel, démon couval.... Zmizel v temnotě.</p>
<p>"Teď rychle pryč!" Potvrdil čaroděj jejich naděje. Rozběhli se ke svůdnému východu.</p>
<p>"Všechno tohleto nestálo vůbec za mou námahu." Ozval se Woreon, když se za nimi zavřel vchod do Morie. "Stejně jej nějaký hňup zase probudí...?"</p>
<p>"Já už ti asi ustřelím palici," osočí se na něj elfka. "Tady Aranus ztratil člena rodiny, Rufi přišel stejně jako jeho brácha Ruben o všechny, co kdy znali. A ty si stěžuješ, že tě to obtěžovalo?!" blížila se k němu s napřaženou pěstí.</p>
<p>"Myslíš si, že mne může porazit nějaká stupidní ženská?" Posměšně se ušklíbne Woreon.</p>
<p>"To jako mluvíš o mně ty přepyšnělý šašku?!" Vyštěkne Vlaštovka.</p>
<p>"Né, o té druhé stupidní dámě co s námi je, ale tu neznáš!" Řekne sarkasticky hned na to je uveden do bezvědomí, ne Vlaštovčinou rukou.</p>
<p>"To bychom, měli. Už dlouho jsem to chtěla udělat." Řekla Rufi. Společenstvo, o kterém nikdo nikdy nevěděl pak odešlo navždy od bran Morie. Woreona tam nechali.</p>



<center><p>B</p> </center>

<p>Liják byl k uzoufání, ale tyhle dva by nezastavil ani déšť meteoritů. Kam se hrabala nějaká studená voda. Šlo tady přece o srdce dámy.</p>
<p>Do úvahy přicházel i fyzický souboj a střet urostlé formy se znalostmi bojových umění by byl zajisté drtivý. Ale gentlemani svorně upřednostnili o něco abstraktnější a stejnou mírou umělecký duel.</p>
<p>I stanuli pod okno a jali se svádět slečnu, již patřilo, hudbou a poezií.</p>
<p>Flavio tasil sláčik a housle a nehledě na povětrnostní podmínky spustil tesknou melodii, která kdy tedy procházela do vzrušeně frenetické a přesto bez narušení harmonie. Šumivý podmaz deště s skladbou činil stejně zajímavé věci jako s jeho zlatavými loknami a tenkou bílou rozhalenou košilí, jak se tak stříbřite kutálel po pyšné konstituci renesanční sochy.</p>
<p>Everett se ovšem nenechal zahanbit a z komínu jeho hrdla se vznesl zvučný hluboce rozechvívajíci hlas, jímž přednášel to nejlepší, ze své sbírky Sonety zla. Byl to skutečně inspirován počin, že by i Laura zapomněla na Petrarcu a Baudelaire svadl jak kvítí zamordované na hřbitově. Modré oči mu jen tak pláli.</p>
<p>Jakýmsi tajemným spůsobem se ti dva sladili a po chvíli se z okna vyklonila hlava.</p>
<p>„Ne, že by vám to neslušelo, ale přesťaňte už šaškovat v tom psím počasí a vlezte dnu, než nastydnete.“</p>
<p>Před muže se spustili dva povrazové řebříky. Podívali se na ně s mírně nakrčenými obrvami, pak jeden na druhého a vzhlédli k děvčeti nahoře.</p>
<p>„Oba?“</p>
<p>„Přesně tak.“</p>
<p>Potvrdila dívka s potměšilým úsměvem.</p>



  {% endblock %}
