{% extends "post.html" %}

{% set title = 'Adventní drabble č.4 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.4</h2>

<p>Pošuk Lulu Artur byl vyslán vyšetřit podezřelé úmrtí, které na stanici noční hlídky nahlásily dámy s cechu švadlen a šiček. V zápisu stálo, že když se vracely nad ránem ze šichty, tak nedaleko cechovní budovy v Ulici melasového dolu, téměř na rohu Strmé uličky nalezly mrtvého šaška. Zřejmě na něj spadl komín.</p>
<p>To tedy ano, to mohl Pošuk Lulu potvrdit, rozhodně na něj spadl. Ale odkud, to byla ta záhada. Široká ulice, křižovatka a na střeše Cechu žádný komín nechybí, jak zjistil, když přilétal na místo činu se svým služebním havranem. Bude se ještě muset vyptat cechmistryně paní Dlaňové, ale moc nadějí si nedával. A stejně tak představa, že by někdo zamordoval šaška komínem byla zcela absurdní. I když v Ankh-Morporku nikdy nevíš.</p>
<p>Odvalil pár cihel na místě, kdy vyčuhovala červená čupryna a odhalil skutečně profesionálně veselý obličej klauna se silným bílým nátěrem. Dokonce ho poznal, byl to Thornton Poole, pýcha cechu šašků a kašparů, pokud se příliš nemýlil.</p>
<p>Rozhlédl se po ulici, kde ještě po silném nočním lijáku přetékaly kanály a vyplavovaly špínu, jen proto, aby ji o kousek dál u Nedomyšleného mostu zase přijal zpátky Ankh. Uvažoval, zda by tato smrt mohla souviset s Cechem švadlen a šiček. Poole každopádně na žádného svůdce nevypadal.</p>
<p>Zpřevracel ještě pár dalších cihel, avšak nic dalšího již neobjevil. Snad přece jen. Prasklý nafukovací balónek na provázku. Červený.</p>


  {% endblock %}
