{% extends "post.html" %}

{% set title = 'Adventní drabble č.5 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.5</h2>

<p><center>5</center></p>
<p>Fernando měl chuť obě dámy zamordovat. Pokud nedostihnou ostatní včas, bude vypadat jako šašek.  Jeho sestra a matka však byly očividně jiného názoru. Sestra se do kufru stále snažila nacpat svetr, který dostala od nějakého svůdce a matka vyprávěla o svých návštěvách Jižní Ameriky. Fernando věděl, že je na své děti pyšná, obzvlášť teď, když je čekala taková velká událost. Jeho pohár trpělivosti však už definitivně přetekl a tak popadl kufry obou dam a za jejich hlasitého protestu se vydal ven na ulici smáčenou podzimním lijákem. Z okolních komínů stoupal kouř, jak se již dny krátili, a počasí se ochlazovalo. Španělsky hlaholící lidé spěchali do práce a celé město bylo ve svém obvyklém ruchu.</p>
 <p>„Seňor“ zamával Fernando na nejbližší taxi. Před jeho hotelem zastavil postarší muž, podle vizáže domorodec. Otevřel zadní dveře svého auta a Fernando do něj začal skládat věci. Když bylo všechno v autě, naložil i matku a sestru. Rychle vběhl zpátky do hotelu a ještě přinesl matčin náhrdelník s křížem pro štěstí. Byla od narození katolička, stejně jako on, a bez svého kříže nikdy nikam nechodila. Fernando se občas podivoval nad její pověrčivostí, ale raději se podivovat, než celou cestu poslouchat její nářky jak kvůli absenci šťastného talismanu všichni zemřou. Nasadila si náhrdelník na krk a pokynula, že teď už je všechno v pořádku. Domorodec si je prohlédl pohrdavým pohledem, tak jako všechny  a pokývl na Fernanda pohledem. „Na letiště, prosím.“ Prohodil Fernando s úsměvem.</p> 


  {% endblock %}
