{% extends "post.html" %}

{% set title = 'Adventní drabble č.7 (2019)' %}

{% block content %}

  <h2>Adventní drabble č.7</h2>

<p><center>7</center></p>

<p>Být studentem medicíny v zemi, kde lidský život má jen pramalou cenu, byl nelehký úkol. Být k tomu ještě vrcholovým sportovcem, to už byl úkol téměř nemožný. A nikdo nebyl připraven na nemožné úkoly tak dobře, jako na ně byl připravený Roberto. Ve svých devatenácti letech už toho zažil víc, než většina ostatních lidí za celý život. Dámy něco takového nepřitahovalo, žádný svůdce taky nebyl a mordování lidí vídal častěji, než by bylo zdrávo. Dělat zdravotníka ostatním členům jeho týmu proto bylo téměř vysvobození. Pyšně si prohlédl své spoluhráče. S těmihle šašky teď bude trávit pár dní na cestách. Sbalil si do kufru svojí výstroj a všechno co by mohl potřebovat na opravování polámaných kamarádů z týmu.</p> 
<p>Do pokoje vběhl jeho trenér, aby se přesvědčil, že Roberto je připravený k odjezdu. Roberto jen přikývl, aby potvrdil, že je všechno v pořádku. Na ulici před hotelem se snoubil liják s kouřem z komínů, tak jak už to na podzim bývá. Byl zvyklý na mnohem horší věci, taková drobnost jako krátký výlet na zápas ho nemohla rozhodit. Vždy jednal racionálně, i pod tlakem, a věděl, že není čeho se bát. Vzal své věci a vypravil se za trenérem, popohnat zbytek týmu. Dnešek bude dobrý den.</p>


  {% endblock %}
