{% extends "post.html" %}

{% set title = 'Adventní drabble č.9 (2019)' %}

{% block content %}

 <h2>Adventní drabble č.9</h2>
 
<p>Ashara Dayne</p>

<p>Šuškanie dvorných dám bolo ako lejak, zakrádavé a prenikavé, ubíjajúce svojou neustálosťou, bezcitnými údermi. Jej zbroj hrdzavela, cítila sa premočená do poslednej nitky a uzimená. Toto nebolo pre ňu, patrila pod blčiace slnko uvoľnenejšieho Dorne. A Elia tiež. Ale tá o odchode nechcela počuť. Tvrdila, že by to príliš pripomínalo prehru.</p>
<p>A tak Ashara po dlhom a márnom dohadovaní odcestovala sama. Ľutovala to už vtedy, ale to nebolo nič proti ľútosti, ktorú cítila teraz. Pre tú pýchu ju i jej deti zamordovali. Dňom i nocou ju zožierala otázka, či mohla niečo urobiť. Donútiť ju. Alebo zostať a niečo zmeniť. Možno však všetko bolo márne.</p>
<p>Bodaj by ich skáralo... Všetci zazerali na Dorne ako nemravné, ale pritom to boli títo severskí zvodcovia, kto by to do nich povedal, čo spôsobovali problémy. Najhoršie bolo, že ani nemohla Rhaegarovi veľa zazlievať, sama prepadla divokému vlčiemu kúzlu. Azda pre odvážnu priamosť, ktorá jej trocha pripomínala milovaný juh, len v exotickejšom háve. Ale urobili si z nich bláznov, šaškov a potom si zomreli a privolali smrť aj na všetkých okolo. Pol kráľovstva, jej priateľku a priateľkinho muža a potomstvo, jej brata i jej novorodené dieťa. Nemala by sa k nim teda pridať?</p>
<p>S tými myšlienkami, zrejme v poslednej chvíli temnej ako hlbiny komína, z ktorého chcela skočiť, ju našiel Pavúk aj so striebristým lúčom nádeje. Jedno Eliino dieťa prežilo, jej syn a potreboval pomoc. Neváhala.</p>



  {% endblock %}
