{% extends "post.html" %}

{% set title = 'Adventní drabble č. 10 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 10</h2>

  <p>Povedlo se nám matku přesvědčit, aby nás v sobotu vzala do ZOO. Vybavení perníkem a pitím jsme v devět ráno vystoupili v Tróji v plném počtu, pouze náš chudák pes zůstal doma v péči babičky.</p>

  <p>Hned za vstupní branou se rozplynul náš městský svět, jako kdyby nikdy neexistoval. Ocitli jsme se v říši přírody plné divukrásných výtvorů evoluce. Jedno zvíře vedle druhého je unikátním výsledkem přírodního výběru dle pana Darwina, který svou úžasnou teorií přispěl k pochopení, jak příroda dokáže účinně a přitom šetrně vybírat ty formy života, které jsou dobře přizpůsobené svému prostředí, a to tělesně i chováním.</p>

  <p>Některá zvířata jsou převážně samotářská, třeba levhart obláčkový. Jiná se naučila spolupracovat, takové surikaty si vyvinuly dokonalou organizaci a žijí v početných koloniích.</p>

  <p>Životu ve vodě se dokonale přizpůsobili lachtani. Důležité je přitom si všimnout, že jejich ploutev má úplně stejné kosti jako ruka primátů, což kromě dalších společných znaků svědčí o stejném základu.</p>

  <p>Zaujal mne chrabrý medojed, zvíře, které téměř nemá pud sebezáchovy a dokáže často přemoci i mnohem větší protivníky.</p>

  <p>Bál jsem se ovšem hadů, při pohledu na jejich tlamu a šupinaté tělo vždycky dostanu husinu.</p>

  <p>Zato houkání opeřenců má vyloženě uklidňující účinek.</p>

  <p>Odcházeli jsme plni dojmů. Ale když vám po takové exkurzi do světa přírody začne nějaký hanebník strkat příručky o stvořiteli, máte chuť ho shodit ze srázu, aby si cestou prohlédl jednotlivé geologické vrstvy.</p>

{% endblock %}
