{% extends "post.html" %}

{% set title = 'Adventní drabble č. 11 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 11</h2>

  <p class="verse">Povídá se kdysi kdesi<br>
  Za sedmero srázy, lesy<br>
  Království, co k světu má se<br>
  I princezna v plné kráse<br>
  Přímo na vdávání</p>

  <p class="verse">Noci trávím přemítáním<br>
  Nad ženicha vybíráním<br>
  Jak zařídit by byl smělý,<br>
  Chrabrý, fit, oduševnělý<br>
  Od svítání do svítání</p>

  <p class="verse">V tom napadlo ji přece<br>
  Ježibaba žije v lese<br>
  By ji v žábu proměnila<br>
  A tak prince ulovila<br>
  Nemá dívka doma stání</p>

  <p class="verse">A už míří k palouku<br>
  Před perníkovou chaloupku<br>
  Ježibabě vysvětlit<br>
  V cože to chce proměnit<br>
  Nedbá matky varování</p>

  <p class="verse">Přece v žábu, říkám, babi,<br>
  Tu nepolíbí srabi<br>
  Ne škaredá! velká tlama<br>
  Zelená a ukvákaná<br>
  Ať slyší moje zakuňkání</p>

  <p class="verse">Baba Jaga už se činí<br>
  Pro změnu koná dobrodiní<br>
  Kouzlo mění bez okolků<br>
  Ve zvíře tak mění holku<br>
  Princezně se plní přání</p>

  <p class="verse">Do močálu na místo<br>
  Míří dívka najisto<br>
  Tam za vodou v orobinci<br>
  Číhat jak se hrnou princi<br>
  Hladat svého srdce paní</p>

  <p class="verse">Mokrá nuda v bažině<br>
  Tři komáry k svačině<br>
  Nadává na celý svět,<br>
  Že chtělo to líp promyslet<br>
  Snad nejsou informovaní</p>

  <p class="verse">Měsíc s měsícem se sešel<br>
  Než do toho lesa vešel<br>
  Nebo spíš vjel na oři,<br>
  Princ jenž draka pokořil<br>
  Žabka jedná bez váhání</p>

  <p class="verse">Korunku si připevnila<br>
  Na listu se usadila<br>
  A teď kváká co to dá<br>
  Snad ženicha přiláká<br>
  Močál už je k uzoufání</p>

  <p class="verse">Žába si snad strhá plíce<br>
  Už snad nejde kvákat více<br>
  A blýskavá korunka<br>
  Oko prince upoutá<br>
  Natáhne se po ní dlaní</p>

  <p class="verse">Žabka na něj dělá oči<br>
  Do ruky mu rychle skočí<br>
  On korunku sundá z kuňky<br>
  A hodí ji zpět do tůňky<br>
  Hanebník k pohledání!</p>

{% endblock %}
