{% extends "post.html" %}

{% set title = 'Adventní drabble č. 12 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 12</h2>

  <p>Obloha těžká jak šedý betonový monolit, vlhko a chlad. S námahou jde krok za krokem, nohy se boří do nasáklé země, dlouhé mokřadní traviny ji tahají za dlouhé sukně. Krok a další, nedívat se na levo na cestu, kde vojáci na koních čekají na sebemenší náznak, že někoho zahlédla. Nedívat se na pravo, řeka je jediná možnost úniku, nechce k ní připoutat pozornost vojáků. Nedívat se ani dolů – musí sice vědět, kam šlape, ale nesmí dát najevo, že vidí nejméně dva muže plížící se travou. Země je tak rozměklá nekončícím deštěm, že by se koně s jezdci příliš bořili a nejspíš si v mokřině polamali nohy. Vojáci proto vyhnali zbylé obyvatele vesnice, ženy, děti a starce, a ti pod dohledem pročesávají kraj. Chůze mokřadem je vyčerpávajíci, zvlášť pro staré a pro děti. Ale všichni umějí nevidět. </p>

  <p>Jde jak nejklidněji a nejhrději může, v náručí svírá malého synka. Nevidí, nesmí vidět muže plazící se k vodě. Trsy a ostrůvky dlouhých travin je kryjí. Řeka je nadosah. Příkrý, často podemletý, břeh, sráz podobný otevřené slizké zvířecí tlamě, je také rozmoklý a místy se drobí jak mokrý perník. Nepříjemná a nebezpečná, ale poslední možnost úniku. </p>

  <p>Namáhavě kráčí dál, hledí do dáli, k srdci tiskne dítě, objímá je ještě pevněji, než je pevné její rozhodnutí nedat najevo nepřátelům slabost, ani že málem překročila několik skrývajících se mužů. Mlčky proklíná hanebníka, jenž způsobil, že matka se musí chrabře brát nejen za život svých dětí, ale i jejich otce. Její boj, vzdor a hněv, málo patrný navenek, je tak silný, že otřásá světem. Zemí i nebem. Slunce se kloní k horizontu a betonovým kvádrem šedivě těžkého nebe projede paprsek zlatého světla jako pvní prasklina způsobená tím otřesem.</p>

{% endblock %}
