{% extends "post.html" %}

{% set title = 'Adventní drabble č. 14 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 14</h2>

  <p>Pes může být ten nejdůležitější tvor v životě člověka. Bylo to na podzim loňského roku, kdy jsem s Artym vyrazil z tábora na pravidelný průzkum cest přesvědčit se, zda nejsou zaminované. Na Zemi totiž dosud neexistoval tak dokonalý detektor jako psí čenich. A přítel, se kterým se dá lépe spolupracovat.</p>

  <p>Toho dne jsme už za sebou měli několik kilometrů v náročném terénu, když jsme se blížili k potoku, který o mnoho set metrů výše vytékal z horského ledovce. Byla to jedna z mála oblastí v okolí, která nepůsobila vyprahle a nehostinně. Les, tráva, občas tu bylo možné slyšet i soví houkání.</p>

  <p>Docházela mi voda a tak jsem se rozhodl nabrat si do polní lahve z potoka. Pustil jsem Artyho, aby se trochu proběhl okolo. V nějakém idiotském hnutí mysli jsem odložil pušku u blízkého stromu a šel naplnit lahev. Klekl jsem si a začal nabírat vodu, když se za mnou ozvalo zachrčení. Otočil jsem se a spatřil velkého levharta procházejícího právě kolem stromu, u kterého jsem odložil zbraň. Cenil zuby a chystal se zaútočit. V tu chvíli se objevil Arty a vrhl se na něj. Levhart byl mnohem větší a nebezpečnější, musel jsem mu pomoci. Vytáhl jsem nůž a skočil po levhartovi. Když bylo po všem, ošetřil jsem Artyho ránu, šetrně ho zvedl a nesl zpátky do tábora.</p>

  <p>Dodnes si nedovedu svůj život bez něj představit.</p>

{% endblock %}
