{% extends "post.html" %}

{% set title = 'Adventní drabble č. 15 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 15</h2>

  <p>Blížil se svátek Prasečí hlídky, což byl pro Pošuka Lulu Artura vždycky prima čas, kdy se ve všech domácnostech válely takové hory sladkostí a alkoholu, že i hospodyňky ztrácely přehled, co kde mají. Také to byla zvláštní doba, kdy i přísné matky spořádaných rodin alkohol nakupovaly, vyráběly a dokonce i konzumovaly. Přičinlivý fígl si mohl nadělat zásoby do jara.</p>

  <p>Nejsnazší přístup byl vždy po vodě skrz kanál a sklep. Na to už měl Pošuk čuch, kde se peče. Přirazil u srázného kanálu, kde se vůně zdála nejslibnější a hajdy na noční průzkum.</p>

  <p>Blížil ke kuchyni, když zpoza rohu vykouklo ohavné zvíře s tlamou jak připosraženou nárazem. Protože to nečekal, zůstal vyjeveně stát, zatímco kocour, ano byl to perský kocour, se domníval, že narazil na snadnou kořist. Šeredný omyl. Ráno ho jistě panička polituje, který hanebník ho tak spráskal.</p>

  <p>Rvačka Pošukovi zvedla náladu. Hned zmerčil dveře do spíže, protože se odtamtud linula směs vůní. Vyhoupl se na první polici a hodil do pytle pár hrstí ořechů a mandlí z ošatky. O polici výš radostně přihodil šrůtek uzeného a 5 klobás. Nesmí přehánět, protože hospodyně pak komory zamykají.</p>

  <p>Vyhoupl se na další polici a tam stála chalupa. S okny a dveřmi a ze střechy jí visely rampouchy. Jeden ulomil. Z cukru. Svět se zbláznil. Chalupa z perníku. Akorát pro něj. Kam se hrabe ložnice v chlebu dlabaná. </p>

  <p>„Tu chcu!“ uvědomil si Pošuk. Bylo rozhodnuto. Pytel si připevnil ke sponě popruhu, zdvihl chalupu nad hlavu, vybalancoval a hups už si to metelí zpátky na vor. V duchu již nad postel z perníku věšel levhartí kožku, upomínku své chrabrosti.</p>

{% endblock %}
