{% extends "post.html" %}

{% set title = 'Adventní drabble č. 17 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 17</h2>

  <p class="verse">Povím vám legendu o družině Hůlkový řád zvané,<br>
  o báji mi dobře známé.<br>
  A o Xykonovi zlém kostěji,<br>
  vám nyní zapěji.<br>
  Ale seznamte se s jejími hrdiny nejprve.</p>

  <p class="verse">Nejdříve bard Elan,<br>
  námi pěvci uznávaný.<br>
  Jehož písně jak voda zurčí a mají elán,<br>
  u nás však jen jako mistr známý.</p>

  <p class="verse">Jeho písně krásné jsou však si jednu poslechněte:<br>
  "Obe, obe, obelži blbého zlobra!"<br>
  Bohužel jak asi uhádnete,<br>
  nebyla v tu chvíli vhodná.<br>
  Ale jeho matka by naň byla hrdá.</p>

  <p class="verse">Jejich klerik, kněz Thóra Durkon,<br>
  trpaslík co kladivem vládne.<br>
  Ať se zlo těší na skon,<br>
  protože on i nejtěžší stvůry zvládne.</p>

  <p class="verse">Dále Haley nejlepší tulačka v celé zemi,<br>
  nad ní zkrátka v oboru není.<br>
  vždy strefí svůj cíl,<br>
  i dál na kolik mil.</p>

  <p class="verse">Také Belkar hobit zlý,<br>
  co hraničář se nazývá.<br>
  Toho hanebníka úmysl je vždy podlý,<br>
  ale nikdo se o to nezajímá.</p>

  <p class="verse">I kouzelníka či kouzelnici mají,<br>
  Vaarsuvis neb Vaarsuvie.<br>
  Co nejtajnější tajemství se s ní znají,<br>
  a jako elf zde žije.</p>

  <p class="verse">Nakonec jejich Roy chrabrý vůdce,<br>
  který meč má dlouhý.<br>
  On zlikviduje všechny škůdce,<br>
  Za den jen pouhý.</p>

  <p class="verse">Xykon zlý čaroděj chce svět zničit,<br>
  a Hůlkový řád mu v tom zabránit.<br>
  Zabijí ho pádem ze srázu,<br>
  nebo jej dají navždy do mrazu?</p>

  <p class="verse">Zlomí jak perník ho,<br>
  či hodí do tlamy zvířete?<br>
  Co vám mám říct no,<br>
  tak si to přečtěte.</p>

  <p class="verse"><a href="http://oots.cz">http://oots.cz</a></p>

{% endblock %}
