{% extends "post.html" %}

{% set title = 'Adventní drabble č. 18 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 18</h2>

  <p>„Hele, už jedou. Planžeto, jaký že zvíře jsme to měli napodobit?“ otočil se lapka Kladivák na jednoho ze svých kompliců.</p>

  <p>„Měli jsme zaštěkat jako pes,“ odpověděl sebejistě Planžeta, malý odemykač zámků a kapes.</p>

  <p>„Nene, mělo to bejt zahoukání jako síček,“ prohlásil další z pobudů Dvoukudla. Hrubka, kterou dělal i ústněve slově sýček, byla přímo hmatatelná.</p>

  <p>„A neměl to bejt levhart?“ nejistě se po zbylých dvou díval Kladivák.</p>

  <p>„Těžko, copak víš, jak dělá levhart?“ plácal si na čelo Planžeta.</p>

  <p>„To teda vim,“ řekl Kladivák. Dělá ‚krákrá‘ a takhle u toho takhle zobákem.“</p>

  <p>„Ty meleš zokákem,“ odpověděl Planžeta.</p>

  <p>„Hele, ty prcku, nezneužívej toho, že musíme spoluto… no, jo, pracovat,“ měl s označením jiného způsobu výdělečné činnosti obtíže Kladivák a už by se měl k tomu přesvědčit Planžetu, jak přišel k přezdívce.</p>

  <p>„Počkej,“ chytil ho šetrně Dvoukudla. „Teď je důležitý dát šéfovy vědět, že má vyrazit,“ pokračoval ve svém hrubě nepravopisném akcentu.</p>

  <p>„Tak mu dej vědět, já si to s nim zatím vyřídim,“ odvětil Kladivák, pro kterého teď neexistoval žádný lup ani šéf, jen urážka na cti.</p>

  <p>„Vyřiď si papíry na hlavu,“ popichoval ho Planžeta, hlavně udělej ‚krákrá‘ a budeš je mít jedna dvě.“</p>

  <p>„Udělám gvraú a nadělám z tebe tři malý na ministrování, pan farář se tuhle ptal, jestli bych mu nedohodil.“</p>

  <p>„Krákrá,“ provokoval Planžeta dál a uskakoval před dorážejícím Kladivákem, kterého se marně pokoušel Dvoukudlák zadržet.</p>

  <p>Žádný ze tří lapků si však nevzpomněl, že krákrá znamená odvolání akce, protože na cestě jsou vojáci.</p>

{% endblock %}
