{% extends "post.html" %}

{% set title = 'Adventní drabble č. 19 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 19</h2>

  <p>Ervin se konečně vyšplhal po srázu, až nahoru. Podíval se na měsíc v úplňku a táhle zavyl. Dnes ho parta "Krvežíznivých zabijáků" přijme. Slezl a zkřivil tlamu v něco, co asi měl být   úsměv. Když jste ve zvířecí podobě, jakákoliv obličejová mimika vám bývá k ničemu.          Členové uznale pokývali hlavami a velmi rychle se rozběhli domů než to zjistí jejich matky.        </p>

  <p>Ervin o tom přemýšlel celou noc. Co když se přede všemi zahanbí? Chtěl by být tak chrabrý jako oni.</p>

  <p>Ráno si poprvé šel hrát s nimi. Hráli "Dětičky a vlci", kdysi ji hráli "Ovečky a vlci" ale ovce nedodržovaly pravidla a lezly si kam chtěly a často museli utíkat před majitelem. Zato děti se snadno daly nalákat na perníky. </p>

  <p>Šli pro ně k vodě, tam jich vždy bylo hodně. Když  jim děti "došly" nevěděli, co mají dělat. Poblíž byli rodiče a ti schvalovali málo her, a do těch "Zabij co nejvíc kolemjdoucích" nepatřilo (příbuzní po nich pořád něco chtěli). "Dětičky a vlci" byla však dobrá hra. Stejně lidští rodiče ani neměli většinou tušení které je čí. Navíc se pro ně nemusel připravovat oběd. Byl horký letní den. Tudíž zázrak. Tam kde žili bylo většinou stále zima, horké prameny tam byly, ale zima hrozná, prostě místo kam na dovolenou nechcete. To byl Überwald. Jeho Überwald!</p>

{% endblock %}
