{% extends "post.html" %}

{% set title = 'Adventní drabble č. 21 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 21</h2>

  <p>Maxipes Fík usnul a snil, tentokrát neklidně. Zdálo se mu, že se ocitl na mezinárodním sjezdu levhartů. Zatím co levhart Diardův ve svém projevu hřímal, jak důležité je spolupracovat, měl se Fík nenápadně přesvědčit, zda mají všichni účastníci cedulku se jmenovkou. Tvářil se co nejlevhartovitěj, aby zapadl, a vzal to podle abecedy. Odškrtával:</p>

  <p>Levhart:</p>

  <p>*arabský zařval, ale znělo to jako houkání muezína z minaratu</p>

  <p>*berberský si nespolečensky lovil breberky v kožichu</p>

  <p>*cejlonský přemýšlel o šálku dobrého čaje</p>

  <p>*čínský snil o pouštění papírových draků, rudých a zlatých</p>

  <p>*etiopský ukazoval staré fotografie, kde kolébal malou Lucy v kolébce předků člověka</p>

  <p>*indický měl podivné záliby fakírů</p>

  <p>*indočínský mluvil plynně francouzsky</p>

  <p>*jávský básnil o lodi, co dováží čaj a kávu</p>

  <p>*jihoafrický byl alergický na kolonisty</p>

  <p>*kapský se rozplýval, jak miluje kapra na kaparech s okapanou nakládanou kapií</p>

  <p>*kašmírský se vlnil a předváděl tanec s kašmírovými šátky, ale později se ukázalo, že není žádný umělec, jen obyčejná šmíra</p>

  <p>*konžský se chlubil bubny a gongy</p>

  <p>*mandžuský vyprávěl o Apůovi a Kwik-E-Martu</p>

  <p>*perský vášnivě diskutoval o kobercích</p>

  <p>*senegalský si stýskal, že má spoustu prosa pro svých devět kanárů, ale ani tak mu nejdou do páru a né a né a né!</p>

  <p>*sinajský byl mírně sinalý a mlel něco o tom, že lidé ani levharti nejsou ostrovy, maximálně poloostrovy</p>

  <p>*somálský vypadal nezdravě hubený</p>

  <p>*středoasijský nadšeně líčil, jak strašně rád stanuje a je mu jedno, zda v Kyrgyzstánu, Tádžikistánu, Uzbekistánu, Turkmenistánu, Kazachstánu, nebo snad ve východním Turkestánu.</p>

  <p>*súdánský přísahal na asketický život v sudu, jako nebožtík Diogénes, čest jeho památce!</p>

  <p>*tibetský pomalu točil modlitebním mlýnkem a nostalgicky vzpomínal na přítele Buddhu.</p>

  <p>*východoafrický perfektně zacvičil pozdrav slunci.</p>

  <p>*zakavkazský  vyřezával drápem z měkkého dřeva takový betlémek Záporožských kozáků na Kubáňském náměstí.</p>

  <p>*zanzibarský byl, je a bude protřelý barový povaleč, co umí z paměti namíchat nejmíň sto koktejlů.</p>

  <p>Levhart sněžný pozoroval své skvrnité příbuzné s ledovým klidem. A levhart obláčkový shlížel na jejich hemžení z nadoblačných výšin a ohrnoval čumák, neb dobře věděl, že on je pardál. </p>

  <p class="sep"></p>

  <p>V tom Fíkovi někdo nevybíravě, nešetrně zavrčel za zády. Byl to levhart, co nikdy neexistoval.</p>

{% endblock %}
