{% extends "post.html" %}

{% set title = 'Adventní drabble č. 24 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 24</h2>

  <p>Slyší praskot hořícího dřeva, cítí kouř, znovu slzí a tváře ho pálí. Posádka se snaží spolupracovat při obraně, ale je jich příliš málo, aby zadrželi příval nepřátel.</p>

  <p>Slyší matku prosit o pomoc. Vidí otce, jak si k ní razí cestu chumlem nepřátel. Vidí muže s přilbou ve tvaru hlavy levharta. Rozpřahuje se válečným kladivem. Slyší kovový dopad. Muž se vynořuje ze shluku těl. Levhartí tlama jeho přilby je rozšklebená do strašlivého výrazu. </p>

  <p>Kdosi jej usadí na koně. „Jeď,“ slyší za sebou. Zvíře běží tryskem, projíždí lesem, přijde sráz, ozve se soví houkání, kopyta bijí zemi pod sebou. Pád do vody.</p>

  <p>Výjev zmizel, jako kdyby nikdy neexistoval. Otevřel oči. Před ním leží na stole jen nedojedený kus hovězího a malý perník. Hospodský pes se mu otřel o nohu. Dal mu kousek masa a perník strčil před lehkou holku krčící se v koutě. Musel ji přesvědčit, že za to od ní nic nechce. Jídlo a poznání, že není takový hanebník, jí vyloudilo na umazané tváři úsměv. Byla by docela hezká, kdyby se trochu umyla, uvědomil si.</p>

  <p>Měl však před sebou důležitý úkol. Potrestat toho, kdo ho připravil o rodiče, o domov a o dětství. Pozítří pořádá král Gilbert Chrabrý turnaj a vrah se jej účastní. To je jeho příležitost. Sevřel instinktivně jílec svého meče.</p>

  <p>Bude ale potřebovat pomoc. Zamyslel se a otočil zpět na holku v koutě. „Hej, děvče, chceš si zahrát na urozenou dámu?“</p>

  <p>Viděla, že to myslí vážně. Přikývla. Podal jí ruku a šetrně jí pomohl vstát.</p>

  <p>Turnaj může začít.</p>

{% endblock %}
