{% extends "post.html" %}

{% set title = 'Adventní drabble č. 4 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 4</h2>

  <p>„Jsi jen prachsprostý hanebník! Zvíře. Moje matka mne varovala, že si tě nemám brát. Prý chrabrý rytíř bez bázně a hany. Já vás viděla.“</p>

  <p>„A zase jsme u tvojí matky jako vždycky. Dokážeš se se mnou aspoň jednou pohádat bez odvolávání se na svou matku?“</p>

  <p>„To mi k tomu víc neřekneš?“</p>

  <p>„Co bych měl říkat?“</p>

  <p>„Jsem ti řekla, že jsem vás viděla, tak to zkus aspoň zapřít.“</p>

  <p>„A koho jsi vlastně viděla? Nechápu, o čem to mluvíš.“</p>

  <p>„U vody.“</p>

  <p>„Lásko, kolem máme samé rybníky, nemohla bys tu vodu trochu blíže určit?“</p>

  <p>„Přece u vodopádu, u srázu.“</p>

  <p>„Tam jsem přece dneska vůbec nebyl. Celý den jsem přece hlídal na jarmarku ve městě. A s kým jsem tam měl být?“</p>

  <p>„S Mmm, s Mmm-margaretou, bééé. Já ti obětovala všechno!“</p>

  <p>„S Margaretou? S tou tlamou? To si vážně myslíš, že když už bych byl takový ťulpas a zahýbal tak krásné ženě jako jsi ty, že bych dočista ztratil vkus?“</p>

  <p>„Myslíš to vážně?“</p>

  <p>„Co?“</p>

  <p>„Tu krásnou ženu?“</p>

  <p>„Noo, samozřejmě. Jsi to nejlepší, co mě potkalo.“</p>

  <p>„Něco tak hezkýho jsi mi už dlouho neřek. Jsi úžasný. Opravdu jsi byl na jarmarku?“</p>

  <p>„Jo, koupil jsem ti srdce z perníku.“</p>

  <p>„Ach, drahý, jsi ten nejromantičtější manžel, jakého si může žena přát.“</p>

  <p>„No to jsem, sám se tomu někdy divím…“</p>

{% endblock %}
