{% extends "post.html" %}

{% set title = 'Adventní drabble č. 5 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 5</h2>

  <p>Vor se pomalu sunul hustou kapalinou, jen vzdáleně připomínající vodu. Nebylo třeba lucernu, poněvadž splašky Neviditelné univerzity světélkovaly, ba přímo zářily i v neexistujících barvách. Pošuk Lulu Artur v jedné modré ruce svíral stříbrný čtverzubec. Popravdě to byla stříbrná vidlička, zato její zuby byly nebezpečně přibroušeny. V druhé měl přichystánu kovovou síť zatíženou po okrajích olůvky a rolničkami, aby snadno dohledal kořist, i kdyby nespolupracovala.</p>

  <p>Připravil si stříbro, protože magický levhart myšací se v Ankh-Morporku objevil prvně. Nějaký studentík si potřeboval připadat důležitě. Jako by mu nestačil pes. Čímž způsobil dost paniky v okolních sídlech cechů.</p>

  <p>Pošuk Lulu nic neponechal náhodě. Šikovně uzavřel okolní stoky od Esoterické ulice po ulici Broskvové bublaniny. Kanály byly nezvykle tiché a pusté. Z dálky zaslechl zvláštní houkání. Asi ozvěna od Cechu kejklířů a zaklínačů. Fígl byl již nedočkavý. Takový kousek se mu nepodaří ulovit často.</p>

  <p>Pak ho zahlédl. Musel už doplout skoro pod náměstí Náhlého osvícení, když se z bočního tunelu vynořil skvrnitý lovec, jen aby se přesvědčil, že dnes bude loveným. Pošuk Lulu zkušeně vyčkával, zatímco levhart se přikrčil ke skoku. Vor se pomalu sunul vstříc. Přišlo to ve zlomku vteřiny – šelma skočila; Pošuk vrhnul síť. Oběma sukovitýma ručkama zapřel čtverzubec o trámek voru, levhart dopadl a čtyři zuby se mu zaryly pod chybějící klíční kost. Fígl se zpod něj vyvlíkl a rychle mu zasadil ránu kudlou do zátylku. Bylo to snazší než doufal. </p>

  <p>Neboť znal šetrnost místních cechů, již předem se rozhodl, že skvrnitá kožka ozdobí stěnu jeho chlebové ložnice.</p>

{% endblock %}
