{% extends "post.html" %}

{% set title = 'Adventní drabble č. 8 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 8</h2>

  <p class="verse">Pardálovo právo na sebeurčení,<br>
  aneb velké kočky se nemohou paktovat s každým čoklem : )</p>

  <p class="verse">Přesvědčoval nešetrně<br>
  levhart psa, že není štěně.<br>
  S tím ať vůbec nepočítá,<br>
  on je šelma kočkovitá.<br>
  Tlapou s tasenými drápy<br>
  poučil ho na etapy,<br>
  že je rozdíl převeliký<br>
  mezi levharty a psíky.</p>

  <p class="verse">Není hej a ani počkej,<br>
  tak se nesmí ani kočce (říkat).<br>
  A někdo tak osobitý,<br>
  vážený a důležitý<br>
  neslyší jen na houknutí<br>
  - k tomu ho prý nedonutí!<br>
  Nebude se jak pes chovat<br>
  - na písknutí aportovat -<br>
  dokud bude existovat.</p>

  <p class="verse">Vždyť je téměř dokonalý,<br>
  ať je velký, nebo malý,<br>
  ladný, plavný, samé svaly,<br>
  elegantní, zachovalý<br>
  Fyzicky i mravně? Zdali!<br>
  V důstojnost se hrdě halí.<br>
  Na psí kusy není zralý,<br>
  s tím ať nikdo nepočítá!<br>
  Spolupráci neodmítá,<br>
  je však šelma kočkovitá.</p>

{% endblock %}
