{% extends "post.html" %}

{% set title = 'Adventní drabble č. 9 (2015)' %}

{% block content %}

  <h2>Adventní drabble č. 9</h2>

  <p>"Myslíš, že bychom mu měli šéfovi říct, jakou chybu dělá?" zeptal se bývalý pracovník ankh-morporské mincovny Fred Haluš.</p>

  <p>"Spíše ne, je zpropadený hajzl , ty víš co, ten, Pozlátko. Ty si, víš co, myslíš že nám zvýši, ty víš co, plat? Určitě ne, cítí se příliš důležitý  než aby, ty víš co, pro něj neexistoval někdo jiný než on. Navíc by, ty víš co, s ním seklo," odpověděl mu přítel, rovněž bývalý pracovník mincovny, John Tyvíšco Landek.</p>

  <p>"Ale kdybychom mu to řekli šetrně..." snažil se ho přesvědčit Fred.</p>

  <p>"Ne, ty víš co, důvod spolu spolupracovat je víc než nutné, stejnak je to tu, ty víš co, pod psa," odvětil mu rozhodně John.</p>

  <p>"Jenže kdyby nebylo jeho, stále bychom trčeli v mincovně, přece ho nemůžeme nechat je razit tak ryzí!" stále se nedal odbýt Fred.</p>

  <p>"To je, ty víš co, jeho problém, když už falšuju, ty víš co, mince tak si zjistím, ty víš co, ryzost néé? Že je dělá skoro z čistého se nás, ty víš co, netýká," ukončil debatu John.</p>

  <p>Netušili že jejich hovor vyslechla Pozlátkova sova a za hlasitého houkání vyrazila. Bohužel narazila do čerstvě umytého okna, pořádně to třísklo až Pozlátko málem spadl ze svého křesla, potaženého levhartí kůží, tudíž mu nemohla náznaky, které ji naučil, nic vyzradit a Pozlátko se to nikdy nedověděl. Stejně ho záhy dopadla Hlídka a on si odseděl trest. Po propuštění si našel ženu a založil rodinu. A jeho syn; to už je jiný příběh.</p>

{% endblock %}
