{% extends "post.html" %}

{% set title = 'Adventní drabble č. 1 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 1. prosince</i></h3></center><br><br>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp; Sníh padal hustě jako šípy na nepřátelské hradby první den obléhání. Naštěstí podstatně nižší razancí. I ve Smrťově říši mimo časoprostor sněžilo. Nebylo to nutné, ale Smrť měl raději vše podle pravidel. Ovšem zde byl sníh černý. Řekněme, že měl obzvláště světlý černý odstín, jen stupínek pod bílou. Což v praxi znamenalo, že byl podstatně světlejší než ten, co zasypával Ankh-Morporkské střechy i s korouhvičkami.<br>
  	&nbsp;&nbsp;&nbsp;&nbsp;	Smrť vešel do kuchyně, kde Albert připravoval večeři. Vše nasvědčovalo tomu, že kdyby místo koroptve připravoval vránu, chuť by to nijak významně neovlivnilo. Celek působil dojmem stravy, jíž jsou uvyklí váleční zajatci v lágrech. <br>
   „MÁŠ CHVÍLI ČASU? POTŘEBUJI ZABALIT DÁREK.“<br>
Albert se roztržitě otočil. „Zabalit dárek,“ opakoval, aby mozek získal čas informaci zpracovat. <br>
   „PRO MOU VNUČKU.“ <br>
	&nbsp;&nbsp;&nbsp;&nbsp;	Albertu Malichovi se vybavily loňské Prasečnice, kdy zaskakovali za Otce prasátek. Odtud vítr věje. Další lidský zvyk, který se Smrťovi zalíbil. Ovšem. Synové a dcery a tím spíše vnukové a vnučky netrpělivě očekávají dárky.
   Vtom uslyšeli ránu a vzápětí ze světlíku vypadl krysí smrť. <br>
 &nbsp;&nbsp;&nbsp;&nbsp; „KVÍÍÍK,“ pozdravil a vrhnul zvědavý pohled na tácek, kde se kupily pečené novotvary pohňahňané barevnou hmotou. Šťouchl do nich kosičkou. Byla orosená, jak se na ní roztápěly vločky.
   „Cukroví,“ zavrčel Albert. <br>
	 	„POMŮŽEŠ MI ZABALIT DÁREK?“ opakoval Smrť žádost.<br>
   „Ale jistě, pane. A copak pro ni máte?“ <br>
  „KUCHAŘKU STAŘENKY OGGOVÉ.“ <br>
   „Kuchařka je jistě vhodný dárek pro mladou dámu,“ úslužně přitakal Albert, přestože v duchu zapochyboval jestli zrovna tahle a pro Zuzanu Stohelitskou. Ale kdo je on, aby kritizoval Smrťovy dárky a ochotně nastavil prst do mašličky.

</p>
{% endblock %}
