{% extends "post.html" %}

{% set title = 'Adventní drabble č. 11 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 11. prosince</i></h3></center><br><br>
<p class="story">
 <p class="story"> &nbsp;&nbsp;&nbsp;&nbsp; Seděl na hradbách Rudé bašty v Králově přístavišti. Poněkud znechuceně si čistil peří. Jiný kraj, jiný mrav. Ovšem tohle mu přišlo jako plýtvání. Bylo jich tolik… Věděl, že je nemůže mít všechny, ale může se aspoň pokusit! Kulaté a skelně šťavnaté… Ze zobáku mu vyšlo říhnutí a přesto že ho nikdo neviděl, přikryl si omluvně zobák křídlem. Vychování je to, co z vás dělá osobnost. Zdejší havrani a vrány, synové a dcery rodu krkavcovitých, se mu nelíbili o nic víc než lidé. Jedni korespondenční bratrstvo, druhé sprosté mrchožroutky. A všichni divní. S nikým není rozumná řeč. Lidé jsou podivní všude v mnohovesmíru, ale tohle se mu zdálo vážně přehnané. Oheň ve vodě. Navíc zelený! Zbytečně extravagantní. Ti lidé, kdo kdy pochopí, co se jim honí v hlavách? Ráno měšťané a vojáci, večer mršiny. Jednoho by docela přešla chuť na oční bulvy. Všeho moc škodí. Nejdřív spousta vychloubání, elánu, křiku a boje… Při první ráně z děla se rozprchnou jako hejno koroptví. A skončí to hromadou plechu a mrtvého masa. Tamhle zlomený meč, tady korouhev, ne orosená, ale zbrocená krví. A spousta těl. Jatka. </p>
<p class="story">   &nbsp;&nbsp;&nbsp;&nbsp;Jářku (mluvící havran ze Zeměplochy) si připadal v tomhle podivném světě ztracený. Krysí smrť mu někam zmizel už včera. Zvykl si už v jeho službách na leccos, Mistr Smrť také NEbral zajatce… Ale tady… tady Jářku cítil, že má Mistr silnou konkurenci.   </p></p>
</p>
{% endblock %}
