{% extends "post.html" %}

{% set title = 'Adventní drabble č. 12 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 12. prosince</i></h3></center><br><br>
<center>JAK TO BYLO SE STRAŠLIVOU EXPANZÍ JINÝCH ZA ZEĎ</center><br>

&nbsp;&nbsp;&nbsp;&nbsp;„No to není možné, jak já jsem neschopná,“ povzdechla si matka Jiná. Poslední dobou ji docela trápilo, že sice mají tisíce zajatců z řad Divokých, bojí se jich celé Západozemí, ale že jejich kouzelné schopnosti nejsou dobré k něčemu praktickému, to byl docela problém.<br>
&nbsp;&nbsp;&nbsp;&nbsp;„Kdo by ty Divoký furt žral!“ stěžoval si otec Jiný i dcery a synové Jiňátka, ale matka s tím opravdu nemohla nic dělat – v popisu práce měla jenom pouštět hrůzu…<br>
&nbsp;&nbsp;&nbsp;&nbsp;Teď, když ještě její blízcí spali, matka vstala a snažila se aspoň s tou troškou magie vykouzlit nějakého ptáka, když už na vysokou nestačila. S nějakým luxusem v podobě bažanta nebo koroptve už ani nepočítala, ale dost jí zklamalo, že se pod jejími studeným potem orosenými dlaněmi neobjevila ani sojka nebo vrána.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Nedá se svítit, rozhodla se najednou matka Jiná. Pokud chceme něco jíst, musíme za Zeď. Tu trapnou hradbu z ledu nějak překonáme, moje příruční korouhvička mi poradí, jak se tam dostat a pokud se teda bude velká rodina Jiných trochu snažit, tak tam v tu ránu jsme.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Lidi teda s náma mají trochu problém. Ale to nemusí! Vždyť jsme hodní. Možná máme trochu víc modrý oči, ale árijské rase se tam přece fandí. Ne, já si myslím, že se nějak sžijeme. Žijeme v moderním světě, tak se budou muset přizpůsobit.<br>
&nbsp;&nbsp;&nbsp;&nbsp;„Holky a kluci modroocí,“ zavelela matka Jiná rozhodně. „Odcházíme. Odcházíme se najíst!“

</p>
{% endblock %}
