{% extends "post.html" %}

{% set title = 'Adventní drabble č. 18 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 18. prosince</i></h3></center><br><br>
<p class="story">

<p class="story">
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Synovia stále spali. Ich spánok bol poctivý a nerušený. Väčšinu dňa strávili na poli, ktoré trebalo opatriť a pozbierať na ňom, čo sa urodilo. Potom pokračovali v čítaní. Každý deň robili veľké pokroky. Heirharian obdivoval talent takých ako Hoku či Thereniol. Ich dvoch plánoval budúci týždeň predať rodine Karaptovocv. Bola to najbohatšia z tých umiernenejších rodín, ktoré si otrockú prácu vážili. Veril, že obaja tam ako lektori karaptovských detí budú dobre zaopatrení do konca života. Ťažšie to bolo s Verheilom. Čítanie mu nešlo a nepatril k najbystrejším – Heirharian sa vzdal nádeje, že bude z pohodlnejšej vrstvy otrokov. Avšak postavu mal dobre vyvinutú a bol silný – Kargibald už sľúbil, že sa pokúsi ho naučiť bojovať, aby mohol vstúpiť do Veľkej gardy Dobrých pánov. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Heirharian zo Kahlgarn vyšiel na visutú terasu na boku Kahlgarnskej pyramídy, odkiaľ viedla cesta k hlavnému vchodu. Na stráži tam stál sám Kargibald, stál na orosenej tráve popri vstupnej ceste. Heirharian nechal svojich otrokov, aby sa dnes večer zabavili – nalomil súdok Qarthského vína a dal upiecť jarabicu - a nakázal im, aby si šli všetci pokojne ľahnúť za dobrú robotu. Darmo však Kargibaldovi vysvetľoval, že dnes je noc pokojná, takže môže ísť spať aj on. Ten bol príliš disciplinovaný, než aby nechal zástavu rodu Kahlgarnovcov a veľkú bránu nestrážené. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Keď pán od Kahlgarnov prichádzal, strážca sa ani nepohol. Zrazu obaja začuli strašnú ranu, hradby Astaporu zažiarili zlatom a červeňou. Zprvu si mysleli, že vidia blížiacu sa vranu. Tieň sa však zväčšoval, až sa stal obrovským lietajúcim netvorom. Okolo pyramídy sa rozutekal zdesený dav ľudí, ktorí chceli byť od námestia čo najďalej - ,,Neberú žiadnych zajatcov!“, ,,Videl si to monštrum?!“, ,,Zrada!“ kričali. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Do Astaporu prišla nová paní. Paní, čo dala všetkých otrokárov a vojakov, ktorí ich bránili, zabiť. Do rána boli obaja, Heirharian i Kargibald mŕtvi. Kahlgarnovi otroci boli novou trojicou vládcov rozdelení. Hoku sa stal zahrievačom lôžka starej dámy z chudobnejšieho rodu s málom otrokov, Thereniol učil rozmaznaného syna z bohatej despotickej rodiny a Verheil, šikanovaný skúsenými strážcami rodiny Pahlov, spáchal samovraždu. </p>
<p class="story">   A Astapor ten deň slávil ako deň slobody. </p></p>
</p>
{% endblock %}
