{% extends "post.html" %}

{% set title = 'Adventní drabble č. 19 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 19. prosince</i></h3></center><br><br>
<p class="story">

<p class="story">
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; „Prostě jsem seděl v hostinci na rozcestí, v ruce pečenou koroptvičku, když vešel Skřet – tedy ser Tyrion, královnin bratr.“ Muž s tváří ošlehanou větrem  na chvíli zmlkl, aby si přihnul z oroseného korbele. </p>
<p class="story"> &nbsp;&nbsp;&nbsp;&nbsp;  „Pomalu s tím pivem,“ řekl malý muž s bradkou, kterou si zamyšleně mnul. „Nejdřív dokonči, kvůli čemu jsi za mnou tolik chvátal.“ </p>
<p class="story">   „Ano, chvátal, nezpomalil jsem, dokud jsem neuviděl hradby Králova Přístaviště pane.“ </p>
<p class="story">   „Pokračuj. Pak se budeš moci napít dle libosti.“ </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; „No, ta žena, co se představila jako lady Stark, docela kusanec, najednou vstala a začala oslovovat muže podle korouhví, které nesli. Whenty, Brackeny, Freye. A že ten lev se pokusil zavraždit jejího sedmiletého syna. Pak někteří z těch mužů tasili meče a nasadili lvu pouta.“ </p>
<p class="story">   „Víš, kam zajatce odvedli?“ </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; „Dával jsem dobrý pozor. Ta žena mluvila o Zimohradu, ale mohu odpřísáhnout, že zamířili na východ.“ </p>
<p class="story">   Muž s bradkou se zdál být spokojený. Pak se ještě otázal: „Mohl se sem někdo z hostince dostat před tebou?“ </p>
<p class="story">   „Jenom jedna vrána z hlídky, myslím, že přišla s tím – s panem Tyrionem. Ať jsem dělal co mohl, dorazil sem přede mnou, nejspíš dnes po ránu.“ </p>
<p class="story">   „Výborně,“ řekl muž, spíš pro sebe než ke svému informátorovi. Pak se jej však přímo zeptal: „Posloužil jsi mi velmi dobře a víš, že já dobré služby umím ocenit. Řekni si cenu a bude-li rozumná…“</p>
<p class="story">    „Pane, už jsme mluvili o mých synech…“</p>
<p class="story">   „Ä, ano, ovšem, výborně. Víš co, pošli je do města, všechny tři, Osmunda, Osfryda a – promiň, toho třetího si nepamatuju. </p>
<p class="story">   „Osney, můj pane.“ </p></p>
</p>
{% endblock %}
