{% extends "post.html" %}

{% set title = 'Adventní drabble č. 2 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 2. prosince</i></h3></center>
<br><br>
<p>
<p class="story">
<p class="story">   Ze zbytků bordelu ještě stoupal kouř, když se u hloučku těch, které požár připravil o přístřeší, objevil mladý kapitán Zlatých plášťů a zamířil ke dvěma mužům, kteří stáli stranou. </p>
<p class="story">   „Vy jste svědci?“ optal se jich. </p>
<p class="story">   „Ano, pane, kovář Lothar a tohle je vozka Cutjack. Byli jsme uvnitř, viděli jsme, jak pochodeň prostě spadla na soudek s olejem a než se kdo vzpamatoval, nedalo se nic dělat.“ </p>
<p class="story">   „Ano, náhoda z hlouposti, za takový nerozum se musí platit,“ doplnil ho ten druhý, přičemž významně křížil přes sebe malíčky. </p>
<p class="story">   Kapitán beze slova přikývl, zatímco zamířil k jedné holce, která toho na sobě moc neměla a chvěla se zimou. Když se k ní natahoval a podával jí plášť, překvapeně jej přijala a na tváři se jí objevil vděčný úsměv. Vypadala teď mnohem hezčí než původně. </p>
<p class="story">   „Ti dva…“ řekla trochu ustrašeně a pokývla hlavou ke svědkům, ale kapitán ji zarazil. </p>
<p class="story">   „Já vím,“ řekl. Pak se vydal ke spáleništi. </p>
<p class="story">   Opatrně došlapoval mezi ohořelými zbytky dřeva. Po chvíli našel co hledal. Tak jako ve třech předchozích případech. Zbytky lampy. Zabalil nález do vaku a vracel se. </p>
<p class="story">   „Pozor pane,“ varovala ho dívka, ale kapitán viděl, že ti dva mu zastoupili cestu. </p>
<p class="story">    „Tady je Baelišovo ty mlíčňáku,“ řekl Lothar. „Kdo neplatí Malíčkovi, nemá tu co pohledávat.“ Oba vytáhli zbraně. </p>
<p class="story">   „Jste zatčeni,“ oznámil jim kapitán prostě. </p>
<p class="story">   „Vsaď se, že až s tebou skončíme, ani nejlepší mistr tě už nedá dohromady, ty - jak se vůbec jmenuješ?“ </p>
<p class="story">    „Morgan. Kapitán Morgan. Nikdy se nesázím.“ Morgan pevně sevřel jílec svého meče. </p></p>

</p>
{% endblock %}
