{% extends "post.html" %}

{% set title = 'Adventní drabble č. 24 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 24. prosince</i></h3><br><br>autor: Flanker</center><br><br>

<p class="story">    &nbsp;&nbsp;&nbsp;&nbsp;  Plamen olizoval, místo, kde ještě před několika hodinami vlály Černožárovy korouhve. Hradby tábora hořely pomalu a zahalovaly Rudotrávné pole štiplavým kouřem. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; „Poněkud mrtvolno, co myslíš, Janku?“ podotkl kysele jeden z králových zbrojnošů ke svému příteli, když přehlížel bojiště. </p>
<p class="story">   „Spíš mě zajímá, co bude se živými, Roberte,“ odpověděl Janek Voda. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; „Támhle Krvevránovi lučištníci separují zajatce.“ Robert Bouře sykl, když došlápl na zraněnou nohu. Anebo to bylo odporem k lordu pobočníkovi? Snad nás nikdo neposlouchá, pomyslel si Janek. Při pomyšlení na Krvevránovy špehy se mu sevřel krk. </p>
<p class="story">   Nahlas řekl: „Původně měl trest dopadnout jen na Hořkopláta, ale ten je pryč. Jak asi dopadnou ostatní?“ </p>
<p class="story"> &nbsp;&nbsp;&nbsp;&nbsp;  Robert Bouře si odplivl. „Jako vždycky. Velcí lordi, co bojovali za Černožára, dostanou pardony nebo zaplatí výkupné, pokud zůstali na živu. Sám Černožár a jeho dva synové jsou mrtví a teď bude každý dělat, že on žádnou ránu nikomu z králových lidí nezasadil, jen se díval. To ostatní, co jsou jako my, jen na nesprávné straně, ti ponesou následky. Možná jim slíbí: mistři, kováři, vozkové, dejte se k vránám, pojíte koroptve, popijete piva z oroseného poháru a zpívat vám budou čížci na cestu. Ale jak to s nimi doopravdy skončí, víme oba.“ </p>
<p class="story">   &nbsp;&nbsp;&nbsp;&nbsp;„Nemáš nějaký bláznivý plán, že ne?“ otázal se Janek a zamířil pohledem na jednoho z lučištníků, který natahoval tětivu. </p>
<p class="story">   „Znáš mě dobře,“ odpověděl Robert a rázně vyšel k lučištníkovi. </p>

{% endblock %}
