{% extends "post.html" %}

{% set title = 'Adventní drabble č. 3 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 3. prosince</i></h3></center><br>

<p class="story"><center><b><u>Castamere</u></b></center></p><p><br>
<p class="story">
<p class="story">    &nbsp;&nbsp;&nbsp;&nbsp;"Přiveďte zajatce na hradby!" Zaječel zoufale Roger Reyne. Korouhev na nejvyšší věži Castameru se komíhala v hustém dešti, takovém, že by ani koroptev ven nevyhnal. Roger se orosil strachy když uviděl rozsáhlá vojska pochodující pod zástavou Lannisterů u svého hradu. </p>

<p class="story">    &nbsp;&nbsp;&nbsp;&nbsp;"Tywine! Tywine poslechni mě! Všichni mí synové již zemřeli v boji. Nemám co ztratit. Seber své vojsko a odtáhni pryč, nebo je nechám popravit! Všichni jsou to Lannisteři, nebo aspoň vaši bastardi! Zabiju je, jestli neodtáhneš od mého hradu! Přísahám!" Hlas se mu lámal a přeskakoval do různých výšek jak v jeho hlavě probíhali představy o tom co bude následovat. Žádná z nich pro něj nekončila dobře. Vnitřnosti se mu svírali a dělalo se mu zle. Přál si, aby se mohl proměnit ve vránu a odletět někam daleko. </p>

<p class="story">   &nbsp;&nbsp;&nbsp;&nbsp; Ani to by nešlo. Lukostřelci by zasadili smrtící ránu ve chvíli kdy by se vznesl nad hradby svého hradu. Byl ztracený. Panika a chaos v jeho hlavě vítězili a on se propadal do beznaděje. "Bohové, prosím, prosím, jestli existujete, dostaňte mě z tohohle průšvihu! Udělám cokoli. Slibuji. Cokoli. Jen mě nechtě žít. Prosím. Prosím." šeptal sám pro sebe. </p>

<p class="story">    &nbsp;&nbsp;&nbsp;&nbsp;Lord Tywin Lannister, oděný v rudo-zlaté zbroji, hrdě sedící na majestátním koni nevěnoval dešti žádnou pozornost. Seděl naprosto v klidu a s kamennou tváří sledoval svého soka jak zmatečně pobíhá po hradbách. Chvíli o jeho slovech přemýšlel a pak promluvil, pevným, vyrovnaným hlasem. "Spalte hrad do základů. Zabijte každého uvnitř. Reyny vytáhněte ven a připravte proti hnilobě. Budou viset na hradbách Casterlyovy Skály." </p></p>

</p>

{% endblock %}
