{% extends "post.html" %}

{% set title = 'Adventní drabble č. 6 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 6. prosince</i></h3></center><br><br>
<p class="story">
<p class="story">   &nbsp;&nbsp;&nbsp;&nbsp;Artuš sklesle sevřel otěže; původně měl mít volno. Nechápal, proč mu říkají, že je nejlepší vozka v okolí. Byl přece jako každý jiný, nebo ne? Přestal nad tím uvažovat. Pobídl Lýdii, byla nejlepším koněm v okolí. Nejlepší vozka k nejlepšímu koni, tak mu známí říkali. Ohlédl  se dozadu,a uviděl tam podkovu. </p>
  <p class="story"> &nbsp;&nbsp;&nbsp;&nbsp;„Prrr!“řekl, sesedl a zvedl jí. Překontroloval Lýdii kopyta a zjistil, že jí chybí pravá zadní. Měl štěstí, jen pár kroků odtud stála kovárna, patřící Jasoni Oggovi. Byl to mistr kovářů. Z jeho kovárny ve dne v noci stoupal kouř a uměl si došlápnout i na nejdivočejší koně. </p>
 <p class="story">  Vozka vešel do kovárny. </p>
<p class="story"> „Co si přejete, pane?“ zeptal se Jasoň Ogg. </p>
<p class="story"> „Venku mám koně. Upadla mu podkova,“ řekl Artuš a podal mu ji. </p>
<p class="story"> „Je divoký?“ </p>
<p class="story"> „Ne, Lýdie je velmi klidná, a kování jí nevadí.“ </p>
<p class="story"> „Dobře, přiveďte ji,“ řekl Jasoň a natáhl se pro kladivo. Lýdie byla opravdu klidná. Tak klidného koně ještě neviděl. </p>
<p class="story"> „Kolik to bude?“ </p>
<p class="story"> „Osum pencí.“ </p>
<p class="story"> „Neusmlouval bych to na sedum?“ </p>
<p class="story"> „Ne.“ </p>
<p class="story"> „Škoda,“ a podal mu osm pencí. </p>
<p class="story"> „Eee…jsem tady poprvé, kudy se dostanu ke hradu?“ </p>
<p class="story"> „Jeďte pořád na sever, nemůžete to minout.“ </p>
<p class="story"> „Děkuji“ řekl a vyvedl Lýdii a upravil jí postroj. Pak vylezl na kozlík a rozjel se. Byl náramně zvědav, proč pro něj král Verence poslal až k nim do Kyselé Prdele. </p></p>
</p>

{% endblock %}
