{% extends "post.html" %}

{% set title = 'Adventní drabble č. 8 (2014)' %}

{% block content %}
<center><h3><i>Adventní Drabble 8. prosince</i></h3></center><br><br>
<p class="story">   <p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Beron prochodil celé dny, odíral si kůži o hradby větví. Když loď ztroskotala, proud ho zanesl podél pobřeží více na jih, pryč od Tvrdodomova. Prvními lidmi, které potkal, byla divoká žena a dva chlapci, zřejmě synové. </p>
<p class="story">   &nbsp;&nbsp;&nbsp;&nbsp;Byli opuštění v tomhle neprostupném lese mnohem déle. Samota a vyčerpání se na nich podepsaly. Přišli zvečera k jeho ohni, a když se ujistili, že jim vrána neublíží, jen si sedli k ohni a civěli do něj. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Ráno Beron Beron hodil kamenem po koroptvi. Dobrá rána. Jejich apatie se konečně změnila v lidské emoce a jeho zvláštní zajatci to doprovodili nadšením. Podělil je a sám si vzal poslední kus. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Obyčejné jídlo dokáže lidi změnit. Chlapci byli najednou plní života a začali dovádět kolem blízkého stromu. Žena seděla tak blízko u ohně, že se jí čelo orosilo potem. Beron vzal cíp svého pláště a otřel jí obličej. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Usmála se. Byla vlastně docela hezká, i když byla určitě starší než on. Poprvé zalitoval, že jeho korouhví je jen černá. Chtěl by jí vyprávět o Tarthu, odkud pocházel, chtěl by jí ukázat rybárnu, kde vyrůstal. </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Chtěl promluvit, ale náhle se výrazně ochladilo. Zapraskala větev. Pak z lesa vyšel první přízrak. A za ním další. Chlapci s křikem utíkali k ženě. Beron jí podal dýku a řekl: „Běžte, utíkejte.“ </p>
<p class="story">  &nbsp;&nbsp;&nbsp;&nbsp; Nehýbala se, jen držela chlapce u sebe. Pak ho políbila. </p>
<p class="story">  Beron ji pohladil po vlasech. Pak vzal z ohniště hořící větev a postavil se mezi ně a mrtvoly s modrýma očima, které se k nim blížily. </p></p>
</p>

{% endblock %}
