{% extends "post.html" %}

{% set title = 'Historická povídka č. 15 (2. kolo)' %}

{% block content %}
<br><b>Autor: Gardien</b><br>

<p>
Ak ste necitali, citajte, ak ste citali, precitajte este raz a budete mat lepsi pocit ;-)
<BR><BR>
Časť prvá: Dobrodružstvo zlodeja
 <BR><BR>

Prekliaty a požehnaný, zabudnutý a oslavovaný ležal na chladnej skale. Okrem neďalekej veže to bolo jediné miesto, ktoré vyčnievalo z roviny ostrova na jazere. Strechy mesta boli ďaleko, strážne ohne ešte ďalej. No šum mesta, ktoré nikdy nespalo, k jeho ušiam doliehal tak či tak. Málokedy sa vydával mimo tieňa domov. Nieto ešte do areálu tohto ostrovného parku, ktorý bol po stáročia teritóriom Pohanov. Od tej doby, čo si “požičal“ ten veľkňažkin diamantový náhrdelník, pre neho nenachádzali žiadnu lásku.
<BR>
Vo vysokej tráve niečo zašuchorilo, a tak sa postavil a zošuchol zo skaly. Pritisnutý chrbtom o ňu by mal aj tak lepšie vyhliadky, ak by malo dôjsť k priamemu boju. I keď proti viacerým mužom by s mečom aj tak šancu nemal. Možno s nejakým ľahším zaklínadlom… Z úvah ho vytrhol ďalší šuchot, tentoraz bližšie k nemu. Videl hýbajúce sa obilie, a tak zistil, že postava mieri k veži. Nemalo zmysel sa krčiť. V tejto tráve by aj tak jeho pohyb videl každý už z diaľky. Vynoril sa z kruhu trávy, ktorý bol vykosený okolo veže.
<BR>
Videl postavu ktorú ostatní nemohli vidieť. Videl jemný odlesk bielych vlasov v čiernej kapucni. Videl hĺbku fialových očí plných myšlienok. Videl blednúcu jazvu ťahajúcu sa po pravom líci.
<BR>
„Tajomné odkazy, ešte tajomnejšie stretnutia,“ povedal hlasom sotva silnejším než šepot. „Myslel som si, že vy, bez tváre, ste so mnou konečne skončili, keď som sa vrátil do slobodnej dŕžavy po mojom úteku, než ste zo mňa mohli urobiť kňaza.“
<BR>
„Nebolo našim cieľom byť…tajomní. Len…“
<BR>
„Len ste sa rozhodli ukazovať svetu tváre ľudí, ktorí sú už dlho mŕtvi. Čo také sa stalo, že beztvárni potrebujú pomoc zlodeja? Potrebujete vedieť, či stále slúžim Jemu? Alebo či som stále muž najvyššieho kňaza?“
<BR>
„My vieme, prečo si odišiel. A vieme aj, aké si urobil opatrenia, Jaqen. Máme prosbu na niekoho s tvojimi…skúsenosťami a talentom. Potrebujeme knihu.“ Odmlčala sa.
<BR>
„A to je niečo, čo vy nedokážete? V čom je problém? Je na Dračom kameni? V Zemi zapadajúceho slnka? Stratená tisícky rokov?“
<BR>
„Je v hlave. V hlave mriswisha…“
<BR>
Stratil slová. Mriswish. Pred očami mu prebehli spomienky na klietku a tvora v nej. Pretiahnutá akoby vlčia alebo jašteričia hlava s jemnou srsťou. Žlté, hlboko posadené oči. Skrčená postava, ľudské telo…srsť na zátylku a temene dlhšia, podobná vlasom. A oblečenie skladajúce sa z čierneho plášťa a hnedých kožených nohavíc. A predsa niečo bolo inak. Väčšina z týchto mutantov mágie sa hádzala do mreží. On len sedel v kúte, akoby premýšľal. Možno mal nad čím. Vraveli, že to bol uznávaný mág v citadele. Až do udalosti s tou knihou. Kaa-Hael. Tak sa volala. Ale čo obsahovala, nemohol povedať… To nevedel nikto. I keď, niekto očividne áno. <BR>
Pomaly prikývol. „Kde ho nájdem? A čo z toho budem mať ja?“
<BR>
Zasmiala sa. „Takže súhlasíš. Je v žalároch. Padlocké väzenie pod citadelou. Nemusíš sa báť, mágovia poslali Targaryenov, strážcov do ich sídla na Dračom kameni. A ty? Dvesto…“
<BR>
„Štyristo.“ Prerušil ju. „A nie viac než sto v zlatých. A to v tých divných braavoských. Tam ho aj privediem. A sám tam pobudnem. Snáď tam ešte stále uvítajú utečencov. Zvyšok v šperkoch a drahokamoch.“
<BR>
„Tristo a päťdesiat. Plus dve naše. Železné,“ odpovedala s jemným záchvevom nesúhlasu v hlase. Očividne to nebol jej nápad, tieto platobné podmienky.
<BR>
„Platí. O tri dni sa od brehu odrazí malá loď. Budú na nej dvaja ľudia. Táto loď zakotví až v Zálive hmly.“ Uklonil sa jej, a kým sa otočil, na chvíľu sa jej zadíval do očí. „Valar Morghulis.“
<BR>
Stál na vysokej hradbe citadely. Sto stôp pod ním hradbu obmývala rieka. Za jeho chrbtom, päťdesiat stôp pod ním, sa rozprestierali vonkajšie záhrady. Konečne sa prinútil odtrhnúť zrak od rieky a mesta, otočil sa smerom do záhrad, ktoré by nebyť pokročilej hodiny boli plné zamilovaných párov, učencov rozjímajúcich o ohni, krvi a záhadách života a bohatých pánov prechádzajúcich rýchlym krokom, aby sa mohli stretnúť s jedným z archmágov. No teraz, dve hodiny po západe slnka, boli prázdne až na troch strážcov, jedného sediaceho pri dverách do vnútorných chodieb a dvoch prechádzajúcich po zvyčajných trasách. Mraky nad jeho hlavou temer dokonale zakrývali všetko svetlo hviezd a tlmili svetlo strážnych ohňov, čiže nebyť fakiel na stĺpoch, záhrady by sa topili v tme.
<BR>
Zasekol do cimburia kotvu a počkal, kým strážci prešli okolo, než zhodil lano. Zošplhal a začal pomaly a plíživo postupovať smerom k dverám. V ruke sa mu mihlo niečo lesklé a kožené a po tlmenom buchnutí sa strážca zviezol na zem. Odopol mu z opasku kľúče, odomkol dvere a vstúpil do chodby za dverami. Omráčeného strážcu zatiahol tiež dnu, aby ho tí dvaja nenašli a nespustili poplach.
<BR>
Rozhliadol sa. Chodba bola presne taká ako na mape. Chodba s množstvom odbočiek končiaca sa schodami nahor, vedúca na vnútorné nádvorie, akési átrium, nad ktorým sa týčila  viac než 150 stôp vysoká biela veža. V noci či vo dne bola dobrým orientačným bodom. Vraj absolútny stred mesta. Aj tak by to bolo bývalo, keby sa do mesta nerátali slumy za hradbami. Určite bola minimálne stredom citadely. Na jej vrchu sa otvárali štyri dračie kolonády s obrovskými čiernymi rohmi, ktoré vraj ovládali drakov. No dnes večer nesmerovali jeho kroky tam hore, ale do hlbín žalárov a katakomb.
<BR>
Pomaly kĺzajúc z tieňa do tieňa sa pohyboval chodbou. Míňal výklenky, ďalšie chodby a zavreté dvere, až sa dostal k portálu do veže. Ticho sa vyklonil, aby si obzrel poschodie, na ktorom stál. Kameň podlahy bol pokrytý hrubým kobercom. Okrem tej jeho videl sedem chodieb. Pri štyroch stáli dvaja strážcovia. Stiahol sa a spoza opaska vybral mapu. Chviľu do nej hľadel, aby sa uistil, kade má pokračovať, potom ju opäť zbalil a vydal sa dopredu. V hale bolo aj napriek pochodniam šero. Nikto sa neunúval meniť ich tu často. Mágovia sa príliš spoliehali na strážcov na hradbách a pod nimi. Prikrčil sa a začal postupovať okolo miestnosti pritisnutý k stene a temer neviditeľný pre oči strážcov.
<BR>
V prvom výklenku narazil na svietnik vykladaný zafírmi a akúsi očividne starú knihu. Usmial sa a obidva predmety zmizli v mešci na jeho opasku. Šikovná vecička. “Požičal” si ju odtiaľto naposledy. Zvonku mešec, zvnútra truhlica. A nikdy to nevážilo viac než skutočný mešec.
<BR>
Preplížil sa až k ďalšej chodbe, pri ktorej z obidvoch strán stáli strážci. Našťastie, ten z jeho strany stál dva kroky od steny. Pritlačil sa o ňu a pomaly začal postupovať poza neho. Zadržal dych a vkĺzol do chodby, ktorá sa po pár stopách otvárala do ďalšej menšej miestnosti s množstvom dverí. Systematicky zisťoval, kam viedli každé jedny. Väčšina do spální, dvoje do skladísk. Celkovo našiel dosť zaujímavých šperkov. Väčšinou prstene a náhrdelníky. Všetky skončili v jeho mešci. Nakoniec otvoril posledné dvere a začal zostup po starom servisnom schodisku. Zišiel o osem poschodí nižšie a spleťou chodieb sa začal plížiť smerom k celám.
<BR>
Zastal pred mrežou, ktorá označovala začiatok stráženého priestoru. Teda nie, že by cestou nestretol žiadneho strážcu, ale tú zmenu bolo vidieť. Pred mrežami bola prázdna stolička. Asi si stráž niekam odskočila. Za mrežami sa otváralo jedno z nižších poschodí bielej veže. Narozdiel od toho, cez ktoré prechádzal naposledy, do tohto ústili len tri chodby. Po obvode miestnosti sa prechádzal strážca a jeden luster so sviečkami spolu s pochodňami po stenách zalievali miestnosť príjemným svetlom.
<BR>
Keď sa strážca dostal na druhú stranu miestnosti, prešiel k dverám a spod rukavice vytiahol šperhák. Zastrčil ho do zámky a zavrel oči. Opatrne ním začal pohybovať. Pristrčil k nemu ihlicu a počkal, kým zámok ticho necvakol. Cesta bola otvorená a začal premýšľať, ako sa dostať cez strážcu. Nebol hrdlorez. Nepotreboval rozsievať smrť, pokiaľ to nebolo potrebné. Oveľa radšej by ho bol omráčil, lenže ako sa dostať zaňho.
<BR>
Zabi ho… Zašepkal mu do ucha cudzí hlas. S dýkou v ruke sa otočil o 180 stupňov, no nik za ním nestál. Zabi ho, pošli ho pred moju tvár. Nespoznávaš môj hlas? Pochopil. Prehodil si dýku do druhej ruky a otvoril mreže. Na zavŕzganie sa strážca otočil, no skôr, než stihol povedať čo len jediné slovo, so svišťaním mu okolo krku preletela dýka a on spadol ako podťatý na zem.
<BR>
Lenivo za sebou zabuchol oné mreže, prešiel miestnosťou a zohol sa. Zobral zbraň, otrel ju do suknice a mŕtvolu presunul do tieňa chodby, ktorou pokračoval ďalej. Vošiel do ďalšej, slabšie osvetlenej a nestráženej miestnosti so štyrmi vchodmi a istý si sám sebou pokračoval jedným z nich ďalej. Vedel, čo ho čaká na konci. Kľúčom odomkol železné dvere a vošiel do miestnosti za nimi.
<BR>
Svetlo sa zredukovalo na jednu osamotenú sviečku na stole. Pri stole sedela zhrbená postava a niečo písala.  Pomaly položila brko a otočila sa naňho. V šere uvidel dve žlté oči.
<BR>
„Jaqen. Čakal som ťa o pár minút skôr. Zablúdil si?“ ozval sa chrapľavý hlas s náznakom vrčania, no nie hnevu.
<BR>
„Vieš moje meno. Vieš aj, prečo som tu?“
<BR>
Tvor sa zdvihol a prešiel k posteli v rohu. Zobral z nej balíček s vecami a podišiel k nemu bližšie. Zo stola ešte cestou zobral knihu, do ktorej písal. Prikývol a prehodil si na hlavu kapucňu.
<BR>
„Poďme.“
<BR>
Jaqen otázky nekládol. Očividne tu bol ten horšie informovaný. Len pokrútil hlavou a vydal sa ďalej, vedúc tohto tvora preč.
<BR>
Cestou našiel ešte niekoľko vecí, ktoré stáli za námahu ukradnúť ich. Našli veci, ktoré Michaelovi, tak sa, ako mu prezradil, volal tento zvláštny tvor, zhabali, keď ho zavreli do väzenia. Pomerne veľkú tornu. Našťastie svoj únik naplánoval dobre. Vyšli z bloku s celami cez ten zamrežovaný portál (stolička bola stále prázdna) a pri prvej príležitosti zahli doprava a po úzkych schodoch smerom dole, až na úroveň mora. Zahli vpravo, vľavo a zastali. Otočil sa na svojho spoločníka s prstom priloženým na perách. Pomaly začal postupovať dopredu až do jaskyne vymytej vodou. Akýsi prírodný prístav pod citadelou. Videl len štyroch strážcov. Citadela bola dnes podivne vymretá. Ale to možno súviselo s tým úbytkom ľudí s nadaním v poslednej dobe. Zavrel oči a ruky zovrel do pästi. Traja strážci stáli otočení smerom k vode a jeden stál pri stene.
<BR>
Zabi ich… Vytiahol luk z tulca a zavesil si tetivu. Vybral tri šípy. Zapichol ich pred seba a nadýchol sa. Vsadil prvý, namieril a vystrelil. Nepozeral sa, či trafil, no natiahol druhý šíp skôr, než odznela ozvena šplechnutia. Prvý bol vo vode. Zvyšní traja sa rozbehli smerom k nemu, no to už vzduch preťal druhý šíp. Opäť krk. Opäť trafil. A po ňom padol tretí. Pustil luk a vytiahol dýku. Štvrtý padol tvárou napred.
<BR>
Pozrel sa naspäť na mága a pokynul mu, aby prišiel bližšie.
<BR>
„Nastúp si do člna a vesluj von. Ja tu musím zostať a držať zdvihnutú mrežu. Čakaj ma pod hradbou.“
<BR>
„To nebude treba“ zamrmlal a potom zašepkal niečo v akomsi podivnom jazyku.
<BR>
Reťaze v rohu sa začali vinúť a napínať.
<BR>
„Poďme, dlho to nevydrží,“ povedal, načo obaja naskočili do jedného člna a chopili sa vesiel v ňom.Vyplávali z tunela na more, spod hradieb na rieku a po nej cez mesto. Oboplávali citadelu po rieke, ktorá ju obkolesovala.
<BR>
Valýria bola zvláštne mesto. Vďaka baniam pod mestom prosperovala po ekonomickej stránke, ale neovládala ho rodina, ako bývalo zvykom v krajinách zapadajúceho slnka. V strede mesta sa rozkladala citadela, miesto učencov a mágie. V severnej časti mesta oddelené vlastnou hradbou sa rozkladalo Jesenné údolie so sídlami dračích a banských lordov. Na západe to boli sídla remeselníkov a trh, Šedá štvrť. Východ, Kamenná štvrť, bol domovom slobodných ľudí a na juhu bol prístav.  Otroci, ktorí pracovali v baniach a chudobní ľudia bývali za hradbami.
<BR>
Pokračovali riekou ďalej cez Šedú štvrť a vyšli v prístave. Mesto bolo ešte pomerne tiché, no i tak bolo vidieť, že nikdy nespalo. Kuchtíci už miesili cesto na chlieb, rozkladali ohne a krájali mäso vo varných stánkoch. V dokoch pobehovali ľudia, nakladali lode, aby mohli vyplávať. Všetko bolo, ako má byť.
<BR>
Plávali ďalej na jeden z malých  ostrovov, ktoré tvorili prirodzený vlnolam prístavu. Jaqen nechápal, prečo plávajú práve tam, ale Michael to očividne vedel. Prirazili čln o breh. Ani ho neprekvapilo, že pri vystupovaní mu podala pomocnú ruku postava v bielo-čiernej róbe s kapucňou na hlave. Pomaly ich viedli po vyšľapanej ceste smerom k akémusi kruhu kameňov so starou polozborenou vežou.
<BR>
„Jaqen a Michael. Konečne ste sa k nám pripojili…“ Podišla k nim obrovská postava a objala oboch.
<BR>
„Dnes je veľký deň. Deň, kedy Valýriu pohltí more a démoni budú hodovať na mäse mŕtvych.“
<BR>
Nechal ich tam stáť a sám odišiel do toho, čo kedysi bývalo vežou. Nasledovali ho. Vo vnútri bol kruh fakieľ a na jednej strane bol akýsi čitateľský pult.
<BR>
„Nebudeme čakať. Začneme,“  povedal Michael a z torny vybral dve knihy. Jednu položil na pult, druhú si zobral do kruhu a začal od stredu kresliť runy smerom doľava a von. Jaqen sa oprel o zbytok steny a pozoroval ho. S týmto už nemal čo robiť, čakal len, aby ho vyplatili. Okolo sa začali schádzať muži bielej a čiernej.
<BR>
Toto nie je práca mnohotvárneho. Toto je práca Hlavného kňaza. A všetci ho slepo nasledujú.
<BR>
Ako vieš, že ma to nepoteší? Zomrie veľa ľudí, ale mi pretrváme. Inak by sme zanikli. Myslíš, že poslali preč drakov náhodou? Nie. Toto bolo predpovedané už pred vekmi. Kaa-Hael…
<BR>
Na pravé poludnie sa Michael konečne postavil za pult a ešte raz si prezrel, čo vyrobil.
<BR>
Z vonkajšej strany ostrova už stála loď, ktorá ich po skončení mala odviesť do bezpečia.
<BR>
„Začnime,” povedal svojim ľahko chrapľavým hlasom.
<BR>
„Nech je táto jazva znamením rany tohto smrteľného sveta. Z tohto mesta nech vzniká skaza mužov, ktorí vo svojej arogancii chceli ovládať naše životy a smrť ako ich vlastné. Slepo budovať svoje kráľovstvo na ukradnutých vedomostiach a márnomyseľnosti. Teraz musia byť skonzumovaní pravým plameňom a skazou, ktorú sa snažili kontrolovať. Nech ozveny tejto skazy znejú celým ich svetom. Nech celý ich svet znie tónmi tak, že všetci, ktorí žijú a budú žiť, môžu počuť tóny ich skazy a zúfať.“
<BR>
Chvíľu akoby sa zastavil čas.
<BR>
A po chvíli, akoby niečo roztrhlo realitu.
<BR>
Časť druhá: Skaza legendy
 <BR>

Dojedal neskoré raňajky. Uličkou sa vznášala vôňa pečenej slaniny, pražených vajec a čerstvého chleba. Alebo cítil len svoje raňajky? Dnes sa nezaťažoval ťažkými myšlienkami. Bol tretí deň v týždni a celý deň mal pre seba. Nemusel počúvať nadávky vedúceho skladu v prístave. A hlavne nemusel vstávať o piatej ráno. To bol tiež dôvod, prečo si raňajky vychutnával až teraz. Tak neskoro, že to mohol byť pomaly aj obed.
<BR>
Hodil na stôl medené mince a postavil sa. Vybral sa uličkami dokov smerom k citadele. Miloval prechádzky v chladnom jesennom vzduchu. Nebola už páľava ako ešte pred pár týždňami, no ulice neboli zasypané snehom. Ale každý deň bolo chladnejšie. Prešiel mostom a pod bránou. Na dláždenom chodníku sa hrali deti. V tieni jablone sa objímal párik mladých. Na lavičke sedeli postarší manželia. Človek sa za múrmi citadely mohol narodiť, v týchto záhradách mohol vyrásť pri hrách s rovesníkmi, nájsť si lásku, vychovávať tu svoje deti a zomrieť pri kŕmení holubov. Prepadla ho nostalgia. Kedysi bol tiež jedným z tých detí. Aj jedným z tých zaľúbencov. Ale nikdy nebude jedným z tých starých. Jeho žena jednoducho umrela priskoro. Posadil sa pod jeden zo stromov, zavrel oči a otvoril myseľ spomienkam.
<BR>
Zo spánku ho vytrhol rev, praskanie a krik. V prvom momente si omámený myslel, že jednoducho sníva. No potom videl čiernu oblohu a akýsi utekajúci človek oňho zakopol. Bolesť bola príliš reálna na to, aby to bol len sen. Rýchlo sa zdvihol na nohy. Utekajúci už bol od neho ďaleko. Rozliehali sa výkriky bolesti a zem sa triasla. Zvuk znel slovami ľudí okolo neho. Biela veža padá. Dal sa do behu. Len nech je čo najďalej, ono to prejde. Bežal smerom k bráne spolu s ostatnými ľuďmi. Pred nim bežalo malé dievča. Ešte kúsok a budú v bezpečí. Mýlil sa.
<BR>
Nebo rozčesol zelený blesk. Videl tu zrážku a počul rachot hlasnejší než tisíc hromov nasledovaný zlovestným pukaním. Akoby meteorit rozštiepil zem samotnú. Zastavil, zarazený šokom. Za ním sa otvárala hlboká puklina, ktorá sa ťahala spod citadely. Videl v nej podzemné tunely. Vedel, že citadela je mravenisko, ale netušil že až takéto. Vtom sa ozval krik a on vzhliadol práve vo chvíli, aby videl, ako ďalší meteorit narazil do bielej veže a tá sa začala zosúvať sama do seba, aby nakoniec padla smerom do Jesenného údolia.
<BR>
Toto je koniec. Toto je koniec Valýrie.
<BR>
Rozbehol sa preč. Strážne ohne chŕlili lávu a kamene. Jesenné údolie bolo zavalené bielou vežou a citadela samotná akoby sa prepadala. Cesta tam bola stratená. Jediným spôsobom, ako mohol uniknúť, boli doky. Periférne zazrel dievčatko, ktoré predtým utekalo pred ním. Stálo tam a plakalo pri mŕtvole nejakej ženy. Kus kameňa jednej z veží vo vonkajšom múre jej rozdrvil telo. Rozhodol sa vziať to obkľukou a zobrať ju. Bola malá, unesie ju. No než k nej stihol pribehnúť, veža sa zosypala celkom. Spŕška sutín a kameňov pristála na dievčati. Už jej nebolo pomoci. Zamrazilo ho.
<BR>
Zomrieme tu všetci. Všetci…
<BR>
No aj tak utekal ďalej. Videl praskajúce múry a prepadajúce sa budovy. Zem akoby si brala späť, čo bolo jej. Oblúk hlavnej brány sa už netýčil majestátne vo vzduchu, no jeho sutiny ležali v prachu na schodoch. Zastal na vrchole schodiska a pozrel sa dole. Napadlo ho jediné slovo. Skaza.
<BR>
Kamenná štvrť bola v plameňoch. Topila sa vo vulkáne, ktorý sa otvoril uprostred. Nad Šedou štvrťou sa vznášal tieň jašterov. Draci. Museli ujsť z jám. Utekal dokmi. Hlavná ulica viedla od citadely až na hlavný trh, kde sa tiesnili ľudia. Dobehol tam a počul hukot. Všetci sa otáčali. Aj on. Citadela sa prepadala. Už bola len málo nad úrovňou konca ulice po ktorej bežal. Nastal ešte väčší zmätok a pohyb. Po zemi sa váľali mŕtvoly.
<BR>
Zrazu všetko zahalil tieň. Pozrel nad seba a videl vlnu. Väčšiu ako kedykoľvek predtým. Zmietla hradby a doplazila sa až na námestie. Zistil, že v topánkach má mokro. Ľudia, ktorí prežili, sa začali otáčať a zúfať. Po mori cesta neviedla. A mesto akoby sa prepadalo hlbšie a hlbšie. Prišla ďalšia vlna a ďalšia. Tam, kde boli hradby, už boli len akési kôpky sutín. Móla a lode zmizli úplne. Zachrániť sa môže len v tom, čo zostalo z citadely. Začal utekať. Ako to videli ľudia, utekali tiež. Tí, čo prežili.
<BR>
Keď ich v tom zahalil tieň a akoby oblak tepla. Jeho posledné myšlienky patrili dievčatku, ktoré zavalila veža.
<BR>
Stál na ostrove a pozeral na horiace, polopotopené mesto. Strážne ohne chŕlili lávu, no tá vytekala aj uprostred mesta. Biela veža už dávno ležala v troskách. Nemusel to vidieť, aby vedel že Jesenné údolie je zatopené. Nad mestom sa vznášali draky, para a dym. Ťažko povedať, čo z toho bolo smrteľnejšie. Zo zeme začal vyliezať pach síry, šíril sa až k nim a more vrelo. Veľké vlny ničili viac a viac. Zemi sa vracalo, čo bolo jej. Bane sa prepadávali a bolo vidieť, ako sa ruiny noria hlbšie a hlbšie. Draky pomaly odlietali preč a vrany a čajky prilietali späť. Z mora sa ale dymilo.
<BR>
„Prečo si to urobil?“ spýtal sa Michaela vedľa neho.
<BR>
„Valýria pomaly ale iste zanikala. Už od vzniku Braavosu. Poslední draci prežili. Tajomstvá pretrvajú. Nie ale tie, ktoré sa potopili. Už nikdy nebudú mocní ovládať toľko drakov, čo kedysi. Ukradol si knihy, ktoré sú spolu so mnou poslednou studňou. Valýria bola dobrá.  Ale svet, ktorý budovali, nebol miestom pre to, čo má prísť. A nie je ani miestom pre nás. Zima sa blíži, Jaqen. Čo keby sme pokračovali v Zemi zapadajúceho slnka? Tam to vraj býva celkom prijateľné. A naviac, tvoje kúzla tam nebude poznať každý.“ Zasmial sa.
<BR>
Jaqen prikývol a pozrel smerom k Hlavnému kňazovi. „Myslíš, že nás vyhodia v Dorne?“
<BR>
Michael prikývol. O viac sa nebolo treba starať.
<BR>
Stáli na móle v Yornwoode a pozerali ako služobníci nakladali ďalší tovar do lode, vykladali prázdne sudy a nakladali vodu, solené mäso a krvavé pomaranče. Michael bol v hostinci, Jaqen na móle. Stál tam s Hlavným kňazom.
<BR>
„Naozaj nepôjdete s nami? Boli by ste dobrým prírastkom…“
<BR>
„Nie. Michael pokračuje na sever, vo svojej mužskej,“ zasmial sa „podobe a ja idem smerom do Búrlivého konca. Bude nám tam lepšie. A ak budete mať prácu, nájdete ma, nie?“
<BR>
Kňaz príkývol.
<BR>
„Tak teda, Valar Morghulis,“ povedal Jaqen a vtisol kňazovi do dlane kovovú mincu. „A nezabúdajte, prečo ste tu.“
<BR>
Otočil sa a odkráčal preč.
</p>
{% endblock %}
