{% extends "post.html" %}

{% set title = 'Historická povídka č. 2 (2. kolo)' %}

{% block content %}
<br><b>Autorka: Seans</b><br>

<p>
Poznámka pro čtenáře: Varysin deníček je mnohem obsáhlejší než těchto pár zápisů. Zapisovala si skoro každý den, ale zde máte vybrány jen klíčové momenty jejího života. Taky se prosím nedivte, že Varys už velmi mláda umí číst a psát a berte to prostě jako fakt.
<BR><BR>
VARYSIN DENÍČEK
<BR><BR>
Můžeš kreslit, můžeš psát, ale listy netrhat. Deníček to nemá rád!<br>
<BR>
rok 265 pAv (po Aegonově vylodění, nevím, jak se to správně píše a maminka taky ne)
<BR><BR>
Můj milý deníčku,
<BR>
jmenuji se Varys a jsem jediná dcera své maminky. Možná, že jsem měla i nějakého tatínka, ale to už je moc dávno. Tuto knížečku jsem vzala jednomu pánovi, který vypadal, že by se jí nejradši zbavil a tak jsem mu trošku pomohla. Maminka mě moc pochválila a dala mi kousek plesnivého chleba. Ještě teď cítím jeho výbornou chuť v ústech. Rozhodla jsem se, že si budu dělat zápisky.
<BR><BR>
rok 269 pAv
<BR><BR>
Můj milý deníčku,
<BR>
dneska se na mě usmál, myslím, že mě má rád.
<BR><BR>
rok 271 pAv
<BR><BR>
Můj milý deníčku,
<BR>
sakra, proč se tady zdržuju s nějakým debilním Můj milý deníčku? Téhle knížce je to u prdele! Jasně, že mě nemá rád, kdo by měl rád kluka? Je to copak nějaká buzna? Jo, správně, matka mě od narození vydává za borce. Když nás fotr opustil, je to prý bezpečnější. Ale fotr matku neznásilnil! Prý byli normálně oddaní, jenže pak se na ni prej vysral kvůli nějaké Cynti. Jednou tu vyjebanou děvku najdu a zabiju ji. Matka to jakoby to ale tušila a dala mi jméno, který sedí spíš na kluka. Je sice už rok mrtvá, ale copak se můžu jen tak předělat z borce na holku? Když jsem byla malá, tahala mě k těm dementům do chrámu mnohotvářnýho boha a tam mě jaksi začarovali, takže vypadám jako borec. Ale duši mám pořád dívčí. Zasranej život! Jsem Illyriův nejlepší kámoš, máme spolu dobrý kšefty, bavíme se spolu o babách. Já chci ale víc. Chci se s ním líbat, chci se s ním vyspat, chci být jeho žena. Dotáhne to vysoko, já to vím. Měli bysme velkej barák, tlupu slouhů a celý dny bysme jenom pili, žrali a milovali se. Proč to ale sděluju tady téhle kreténské knížečce? Už mi z toho hrabe.
<BR><BR>
rok 276 pAv
<BR><BR>
Sice už se nezdržuji s Můj milý deníčku, ale taky se snažím nemluvit jak kanál. Před pěti lety jsem ještě bydlela v kanálu, takže jsem mohla mluvit jak kanál, ale teď jsem se dala s komedianty do Západozemí. Maminka mi to tak naplánovala, budiž jí země lehká. Pokud to chci někam dotáhnout, musím být úlisným, slušně vychovaným eunuchem. Není to sice vysněná budoucnost pro mladou dívku, ale je to lepší než být součást hnědého někde ve varném krámku v Bleším zadku. Ano, jsem teď v Králově přístavišti a dělám špeha staré lady Stokeworth. Nebudu si opakovat minulost, akorát by mi to zanechalo šrámy na srdci (ach Illyrio!), prostě jsem tu. Ta stařenka chce vědět o všem, co se ve městě šustne a její dcera Tanda jakbysmet. Koupily si mě od těch kejklířů, protože jsem neudělala ani kotrmelec a ten hlavní vychvaloval mou inteligenci až do nebes. Tak jsem tu a dělám to, co pořádně umím. Maminka by ze mě a z mých prvních kšeftů měla radost.
<BR><BR>
rok 278
<BR><BR>
Já to přece jenom někam dotáhnu! Dělala jsem informátora lady Stokeworth, ale ta babka neumí držet jazyk za zuby a tak mě vychvalovala před nějakou trhovkyní, která to zase řekla své kamarádce děvce, která je shodou okolností sestra milenky sera Lewyna Martella. No a přes něho se do dostalo až k uším lorda Tywina, který by nějakého mistra našeptávačů a informátora potřeboval. Tak dal lady Stokeworth blbých 20 drogonů a ta stařenka mu ještě poděkovala. Tanda se jí to ještě pokoušela rozmluvit, ale ona je tvrdohlavá jako beran a taky si nechtěla znepřátelit pobočníka krále. Tak teď pracuji v Rudé baště a slíbili mi, že mi možná časem věnují křeslo v malé radě. Už nejsem špína z kanálu jako před sedmi lety, ani ta citlivka před dvěma lety. Jsem prostě děvče/eunuch pro všechno.
<BR><BR>
rok 279
<BR><BR>
Myslím, že jsem se znovu zamilovala. Připadám si teď taková lehká a šťastná a dny, kdy HO vidím jsou krásnější. Není to dětinská láska jako tenkrát s Illyriem, je to opravdová a dospělá láska. Musím si pořád připomínat, že jsem jen eunuch, ale nedá mi to a neustále na něj myslím. Všichni si na mě teď stěžují, že nevykonávám svou práci tak kvalitně jako kdysi, ale cožpak to jde, když mám hlavu plnou svého dračího prince?
<BR><BR>
rok 283
<BR><BR>
Proklínám tě Roberte Baratheone! Zabil jsi mou jedinou lásku, prince Rhaegara Targaryena a já se ti za to pomstím! Je mi jedno, kdo vládne Sedmi královstí. Ať si Lannisterové nechají ten svůj Železný trůn, chtěla bych se s Rhaegarem odstěhovat do Braavosu a tam žít spokojený život plný lásky. Jediné, co jsem pro něj mohla udělat, bylo to, že jsem zachránila malého prince Aegona před smrtí. U Rhaenys jsem si netroufala, protože tu by mohli poznat. Ale to mi nestačí. Já se jednou všem uchvatitelům pomstím a budu sloužit jen Targaryenům.
<BR><BR>
rok 288
<BR><BR>
Začíná léto, všichni se radují a mají se dobře. Jenom já ne. Tak moc bych chtěla zabít krále Roberta. Ale netroufám si. To už se ze mě stává ten zbabělý eunuch, za kterého mě všichni mají?
<BR><BR>
rok 298
<BR><BR>
Přijel Illyrio a měla jsem s ním schůzku. Když jsem ho uviděla, dost mě to překvapilo. Co si na něj pamatuji, byl docela hezký a teď je z něj hora sádla. Říkal něco o tom, že by se rád přestěhoval do Západozemí. A já jsem mu říkala o nebezpečné situaci. A on říkal něco o dračí královně. Já bych spíš uvítala na trůnu prince Aegona, ale do budoucna se nad tím zamyslím a budu se o ní snažit zjistit co nejvíc.
<BR><BR>
rok 301
<BR><BR>
Je čas zasáhnout! Robert Baratheon i Tywin Lannister jsou mrtví, ale aspoň trošku se pomstím na Kevanovi. Zpáv o Aegonovi je stále víc a víc a mě už nebaví být žebrákem v Králově přístavišti. To dám radši přednost eunuchovi. Eunuch, který dosadil na trůn krále Aegona VI., to zní docela dobře, ne?
<BR><BR>
rok 310
<BR><BR>
Králem je Aegon. Takhle jsem to chtěla, nebo ne? Doufala jsem, že to bude mladší verze svého otce, ale je to jen ambiciózní štěně (nebo lépe dráče), které o kralování neví vůbec nic. Není to takový extrém jako Aerys, ale zase má větší fantazii na vymýšlení druhů poprav. A královna Arianne ho v tom ještě podporuje. Prý, že zlo se musí potrestat. Zajímalo by mě, co bude z Visenye a Nymerie, jejich dcer. Aegon docela vyšiluje, že ještě nemá dědice, ale Arianne prosazuje dornské právo. Connington by měl radost. Zemřel roku 305, rok po Aegonově korunovaci a dva měsíce před narozením vlastního potomka. Tady je takový malý přehled největších rodů, některé jsou na vzestupu, jiné mají roky největší slávy za sebou:
<BR><BR>
Starkové – Ti pro sebe mají Sever i Údolí. Sansa s Harrym vládnou moudře a mají se rádi. Malíčkovy plány se vyvedly, až na jednu drobnost – den po svatbě letěl. Aegon dovolil Sanse nechat si Sever jako omluvu za Rickarda a Brandona. Jeden by nad jeho galantností zaplakal. Roku 305 se tu objevil nějaký kluk s tím, že je to Rickon Stark, dědic Zimohradu. Král se s ním ale nepáral a dal ho popravit. <BR><BR>
Tullyové – Z těch jsou psanci. Brynden, Jeyne a Robb, syn Mladého vlka už od útěku Černé ryby, později se k nim připojili Edmure, Roslin a jejich dcery Joyce a Catelyn. Sansa se je pokoušela najít, ale marně. <BR><BR>
Greyjoyové – Aegon si je dal předvolat do Králova přístaviště, aby mu přísahali věrnost a všechny je tu dal zabít. Čekala jsem, že Vraní oko bude chytřejší. Ale Euron, Aeron, Theon i Aša poslušně naklusali před krále a on udělal takovou roztomilou popravu. A na Železné ostrovy dosadil Franklyna Květinu a jeho ženu Nymeriu Písek. Železní se ale bouří a ve hře je ještě Ašin bastard, nějaký Qarl Štít, kterého tu milují. <BR><BR>
Arrynové – Jak už jsem psala – Robert letěl a Údolí připadlo k Severu. Mladého sokola a Vlčí princeznu všichni milují, o jejich synu Branovi to platí dvojnásob. <BR><BR>
Lannisterové – tak ty stihl nejhorší osud. Aegon si nechal přinést těla Cersei, Jaimeho a Tommena. Té děvce, co mi málem vzala Rhaegara jsem to přála, u Králokata mi to bylo jedno, ale Tommena jsem měla ráda, takže jsem to zase trošku zaonačila a poslala ho s lady Merryweather do exilu. Ostatní Lannsietry potom taky v tichosti zabili. A v Casterlyově skále teď vládnou lord Yves, jediný přeživší rodu Reynů a Sarella Písek. <BR><BR>
Tyrellové – Přesně tak, jak jsem předpokládala. Lannisterové se pohádali s Tyrelly a tii se po Aegonově dobytí Bouřlivého konce přidali k Targaryenům. Mace mezitím zemřel a mír byl zpečetěn sňatkem Tyene Písek a Willase. Královna trnů měla zase řeči, ale mladý lord vypadá spokojeně. A Margaery skončila v náruči nějakého nevýznamného Freye, mikdo jiný ji pro tu ostudu nechtěl. <BR><BR>
Baratheonové – další rod, jenž vymřel. Po Stannisově smrti v bitvě o Zimohrad zabili Černí bratři královnu Selyse a princeznu Shireen. Prý to s nimi bylo k nevydržení. Bouřlivý konec se stal sídlem Conningtonů, kde teď vládne lady Ašara a vychovává malého Rhaegara. <BR><BR>
Martellové – Trystane teď vládne s Myrcellou a jejich syn Robert (velmi provokativní jméno, ale Myrcella měla prý otce ráda) je zasnouben s Nimeryou Targaryen. <BR><BR>
A naše Nespálená, Matka draků, Rozbíječka řetězů, khaleesi Dothraků a královna Západozemí – poslední zmínky o ní jsou z roku 301, kdy byla královnou v Meereenu a potom záhadně zmizela. Ani mí ptáčci nemůžou žít v poušti a stopovat draka. Myslím, že se po ní Aegonovi vůbec nestýská. <BR>
Člověk by si mohl myslet, že je v Sedmi království klid a nic se neděje. Ale v Rudé baště se intrikařilo vždycky. Dovolím si o sobě říct, že jsem velmi zkušená hráčka a hra o trůny mě pořád baví. Nechávám lásku jiným, tohle je jediné potěšení, které mi tu ještě zbylo. <BR>

</p>
{% endblock %}
