{% extends "post.html" %}

{% set title = 'Historická povídka č. 20 (2. kolo)' %}

{% block content %}
<br><b>Autorka: Livtrasi</b><br>

<p>

Ujížděl na jih. Již mnoho dní sám. Zbytek družiny; ech raději nevzpomínat. Nakonec je Jiní dostali všechny kromě něj. Stejně nejspíš dopadla i družina Wymara Royce, kterou dostali za úkol najít. Zbyl sám. To proto, že byl nejlepším zvědem. To proto, že byl…<BR><BR>

 <I>
Když se mu to párkrát stalo v dětství, považoval to za živý sen. Dětský sen, kdy věříte, že lítáte a nerozeznáváte snění od skutečnosti. Také létal. Na křídlech Luwinových havranů. Vydával se do dálek na jih stejně jako na sever. Nejraději lehával v posvátném háji, na půdě vyhřívané horkými prameny a mezi korunami stromů vyhlížel havrany, na jejichž křídlech by se rozletěl po okolí. S nebojácností mládí se pouštěl daleko na průzkumné cesty až za Zeď a pátral po zlovlcích, obrech a mamutech, o nichž jim vyprávěla chůva. <BR>

Chůva jim povídala i o měničích a vždy se na něj pátravě dívala, že ani  nemohl její pohled vydržet. Kolikrát ho totiž přistihla ve stínu čarostromu, když si zrovna užíval radosti z větru a teplých proudů, jež ho nadnášely nad krajem. Ale nikdy nic neřekla, ani otci či mistrovi nežalovala. Benjen věděl, že chůva ví, ale nemluvili o tom. </i><BR><BR>

 Je průzkumníkem. Tím nejlepším, kterého Noční Hlídka má. Musí splnit svůj úkol a varovat před návratem Jiných. Zeď je už blízko. Už brzy se na chvíli zastaví v Krasterově pevnosti. <BR>

Jen na chvíli, aby dal odpočinout unavenému koni. Krajinu již důvěrně poznával ze sedla koně, stejně jako si ji vybavoval z ptačího pohledu. <BR>

Zaslechl něco podivného a nečekaného. Znělo to povědomě, ale nedokázal zvuk přisoudit žádnému zvířeti. Nejde-li o zvěř, tak určitě o někoho z obyvatel Krasterovy pevnosti. Zamířil pod koruny stromů, kde se ozýval pláč – ano znělo to jako pláč. Byl den – nemohlo tudíž jít o bílé chodce. Nad tou úvahou se otřásl, ale změť vzpomínek okamžitě zaplašil. Bude dost času na podrobné líčení až se setká s velitelem a starým Aemonem. <BR><BR>

 <I>
Nikdy asi nedokáže vylíčit tu hrůzu poznání, když viděl, jak se jeho mrtví druhové opět zvedají. Oči jim modře žhnuly a nebylo v nich nic z toho, co znal. Útočili na něj a on je stěží odrážel ohněm. Snažil se chytit některého z koní, kteří se splašeně rozutekli. A pak…pak se mezi stromy vynořili bílí chodci. Museli to být oni. Další z legend, které stará chůva vyprávěla, ale tito byli skuteční a živí. Nebo neživí? Průhlední, duhoví ve světle a hlavně ledoví. Chlad z nich sálal na metry daleko. Ale byl to zvláštní chlad, který děsil, protože se proti němu nedalo zahřát. Nebál se smrti, ale toho, že nestihne varovat svět lidí.
</i><BR><BR>
Minul stromy překrývající mu výhled a zarazil se. Před půlkruhovou skupinkou čarostromů na zemi leželo nahé novorozeně. Litoval, že nebyl opatrnější a nepřikradl se potají nebo na křídlech havrana. Myslí mu letěly útržky informací, které o Krasterovi znal. Bere si vlastní dcery za manželky, ale synové nejsou nikde vidět. Kusé zmínky plné podezření, že syny obětuje snad Starým bohům se ukázaly být založené na pravdě. Byl to malý chlapec. <BR>

Sesedl a sklonil se k dítěti. Miminko bylo prochladlé a vyčerpané křikem. Benjena zaplavila lítost a soucit, které vyvěraly z jeho vyčerpané mysli silněji než obvykle. Sebral děcko, zabalil do okraje pláště a přitiskl k sobě. V rychlém sledu ho napadaly různé úvahy. Není moc pravděpodobné, že ho zachrání, protože ke Zdi je to ještě pár dní cesty, ale může se o to pokusit. Vlastně musí. Nedokázal by ho tu zanechat. Lidé někdy dělají beznadějné věci i bez naděje na úspěch, pomyslel si. Vždyť je členem Hlídky chránící svět lidí před zimou a tmou a toto je člověk, který ochranu zoufale potřebuje. <BR><BR>
<I>

Přidal se k Noční hlídce před šestnácti lety. Ještě za lorda velitele Qorgyla. Otec, Brandon i Lyanna byli mrtvi a novým pánem Zimohradu se stal Eddard. Sever byl v dobrých rukou, ale domov již nebyl tím čím mu býval dřív. Chůva jeho rozhodnutí schvalovala: „Užívej svůj dar k ochraně království lidí. Na této straně Zdi pro něj není místo.“ Bylo to poprvé, co se otevřeně vyjádřila k jeho schopnostem měniče. Ulevilo se mu, že sama věří v dobrotu jeho povahy. Až do té doby vždy váhal, jestli z něj měničství nedělá zrůdu z bájí a skazek. Ned poněkud váhal: „Máme už jen jeden druhého.“ „Máš přece dědice.“ Nakonec však došel k závěru, který se nabízel: „Je dobré, aby byl na Zdi Stark“. </i><BR>
<BR>

„Je dobré, aby byl na Zdi Stark“. Ano, kéž by už byl na Zdi. Nasedl s chvějícím se balíčkem a upravil si plášť tak, aby malého co nejvíce zachumlal a přitom ho mohl aspoň trochu hřát teplem vlastního těla. Kéž by nebyl tak vysílený, tak strašně psychicky i fyzicky vyčerpaný. Pobídl koně, který s ním již týdny sdílel útrapy, k další cestě. Musí se dostat k Hlídce co nejrychleji. Teď je čas ukázat, co v něm je. <BR>

Náhle se ozval známý nepřirozený výkřik<I> „Zrní“ </i>. Natočil pohled po hlase a ano, seděl tam, na větvi rozložitého čarostromu. Oblíbený havran velitele Mormonta. Důvěrně ho znal, protože si jeho vědomí, smysly a křídla již mnohokrát zapůjčil. <BR><BR>

 <I>
Jako blesk mu hlavou projela vzpomínka na dětství, kdy tolik miloval mladé kukuřičné paličky opečené na roštu, které mu chůva nandala do misky a proložila plátky másla. Kukuřice byla na Severu vzácnost, kterou dováželi až z Rovin. Jen párkrát do roka se mu poštěstilo ochutnat tuto svou nejmilejší lahůdku. Ach kolik let již kukuřičné paličky s máslem neochutnal. Dlouho předlouho…</i><BR>
<BR>

…bolest která jím projela ho vrátila z dětství do reality. Náraz šípu ho málem srazil z koně. Řezavě ho cítil pod lopatkou mezi žebry. Sípavě se nadechl. Taková námaha. Dítě mu vypadlo na studenou zem a pád mu vyrazil dech. Než ho stačila zalít lítost nad bezmocným tvorečkem přišel druhý náraz, jenž ho srazil z koně. Pro šípy se nemohl přetočit na záda a popadnout dech. Selhal.  Nezachránil ani chlapečka ani už nevaruje Sedm království před Jinými a nemrtvými.Zhroucený na boku pohlédl na strom, kde seděl velitelův havran. Ještě tam byl. <BR>

Prchl ze svého umírajícího těla panicky vyděšen do ptačí mysli. <BR>

A najednou se na své tělo díval očima havrana, ale již necítil to spojení jako kdykoli dřív. Cesta zpět byla uzavřena. Bezduché tělo Benjena Starka leželo na chladné zemi vedle umírajícího miminka, jen kus cesty od Zdi. A bylo mrtvé a neživé a trochu děsivé, neboť bylo jeho vlastní. <BR>

Mezi stromy vyšel Kraster. Luk si přendal do levé ruky a pravou vytahoval lovecký nůž. Dokráčel až k tělu Starka a váhavě do něj šťouchl špičkou kožené boty. Pak se sklonil a pohlédl mu do prázdných modrých očí. <BR>

Benjenův kůň znaveně postával opodál a žmoulal suché stéblo, které si uškubl. Neprotestoval, když ho Kraster uchopil za ohlávku a odvedl zpátky k mrtvole jeho pána. Kraster zvedl tělíčko svého syna a odnesl je zpět do půlkruhu čarostromů, kde ho prve zanechal. Benjenovo hubené tělo přehodil koni přes hřbet, zajistil provazem a otočil se k návratu do své pevnosti. Střelil ještě pohledem na havrana přihlížejícího z blízkého čarostromu. Na kratičkou chvíli se jejich pohledy spojily a Benjen v havraním těle strnul hrůzným pomyšlením <I>on to ví, ví to! </i><BR>

„Havrani a vrány – všechno jedna pakáž! Pletou se do toho, čemu nerozumí“ uplivl si Kraster, odvážejíc Benjenovo tělo. <BR>

Havran Benjen ho pozoroval a snažil se vzpamatovat z prožitého otřesu. <I>Zrní</i>pomyslel si. <I>Zachránil ho ptačí výkřik. Zachránil? </i><BR>

Zmetený, zoufalý, ale živý. Pro malého tvorečka pod stromy nemohl udělat vůbec nic. Ta bezmoc ho tížila na duši. S těžkým srdcem otočil pohled k jihu a roztáhl křídla. <BR>

<I>Nyní musí na Zeď. </i><BR>

„Zrní….“


</p>
{% endblock %}
