{% extends "post.html" %}

{% set title = 'Drabble č. 10 (5. kolo)' %}

{% block content %}

  <h2>Drabble č. 10</h2>

  <p>Už z dálky působila havířská osada hluše. Podkovy koně cvakaly na dlážděné cestě, která k ní vedla. Jediný civilizovaný zvuk, který rušil tísnivý nedostatek. Nebylo divu, že vyslali vyšetřovatele, aby podal souhrnnou zprávu o stavu věcí.</p>

  <p>Zvýšené množství krkavcovitých vypovídalo již z dálky. Nyní mohl jen potvrdit domněnku. Mezi domy napočítal pět mrtvých. Některé dveře byly dokořán, ale žádné známky života. Po pravé ruce měl cestu k dolu. Na dohled se černala hromada spáleniště. Popojel blíže a zaznamenal, že zde spalovali své mrtvé. Narychlo, na nově vyklučeném prostranství. Nepotřeboval dlouho přemítat. Pro jistotu setrval v bezpečné vzdálenosti. Uvázal si přes tvář bavlněný šátek a pokračoval na náměstíčko před kostelem. Vyšel po schodech a nahlédl. Viděl, že hrstku obyvatel zastihl smutný konec právě zde.</p>

  <p>„Tam bych vůbec nelezl být vámi.“</p>

  <p>Rychle se otočil, ale postarší chlapík klidně seděl na lavici před kašnou. Musel právě přijít.</p>

  <p>„Kdo jsi?“</p>

  <p>„Poslední, kdo zbyl,“ ušklíbl se. „Meškám nad pramenem, ale klapání podkov se tam rozléhá.“</p>

  <p>„Jsem královský vyšetřovatel. Co se tady stalo?“</p>

  <p>„Nemoc. Ošklivá. Posaďte se a povím vám to.“</p>

  <p>Strávil s chlapíkem hodinu na lavici a pak se odebrali do jeho chalupy ve svahu. Byl morous, ale tentokrát osamocen přece jen déle a navíc ho těšilo, že ví něco víc. Zvláště jeden výrok vyšetřovateli pomohl se sepisováním zprávy.</p>

  <p>Do městečka se dostala nakažlivá choroba šířící se dotekem. Lidé se vyhýbali jeden druhému, dodržovali nařízení, pálili mrtvé. Ale do kostela chodili všichni a žehnali se z jedné kropenky. Jediný Neruda nebyl zadobře s farářem.</p>

{% endblock %}
