{% extends "post.html" %}

{% set title = 'Drabble č. 13 (5. kolo)' %}

{% block content %}

  <h2>Drabble č. 13</h2>

  <p>Ve stokách to páchlo tak, že i potkani odjeli na dovolenou. Ani Pošuk Lulu Artur tam nebyl schopen vydržet, a tak se přestěhoval na letní byt. Vlastně na jednu tichou městskou půdu. </p>

  <p>Nainstaloval si větrák poháněný houpacím koněm a nyní užíval klidu v novém síťovém lůžku. Mělo i další výhodu; nepotil se na zádech víc než jinde. Ale ne, musí se zchladit lépe. </p>

  <p>Došoural se dolů do kuchyně, zastrčil ve dřezu špunt a napustil si bazén. Plácal se ve vlažné vodě a cítil, jak mu regenerují okoralé mozkové buňky. </p>

  <p>Za drahnou dobu vylezl a chystal se vrátit do své sítě. Zběžně vyhlédl oknem vedoucím na dvůr, kde se vršily na hromadě bedny s nápisem „střelná bavlna“. Odpolední slunce se do nich opíralo letní silou.</p>

  <p>Do psí nohy *****! (zbytek výroku nelze ani tlumočit)</p>

  <p>Jeho osvěžený mozek se rozběhl na plný výkon. Zvládnout to sám? Přivést posily? Informovat patricije?</p>

  <p>Ano, to udělá nejdřív, protože samotnému by řešení trvalo příliš dlouho a Vetinari už si dokáže bleskově sehnat dostatek schopných lidí.</p>

  <p>Vyrazil z domu jako střela k Paláci. Jen se mu hlavou mihla myšlenka, v jak falešném pocitu bezpečí se kolébal ještě před hodinkou, v domnění, že by nebyl rychlejšího pohybu dnes ani schopen. </p>

{% endblock %}
