{% extends "post.html" %}

{% set title = 'Drabble č. 2 (5. kolo)' %}

{% block content %}

  <h2>Drabble č. 2</h2>

  <p>Spousty vody splývající po skle oken rozpíjely okolní svět do změti barevných chvějících se skvrn. Bouře hlučně řádila venku, ale uvnitř byl klídek a bezpečí. Lilo už od rána. Neušel dešti, naopak, byl promočený skoro na kost. Prohlížel si rukáv nového tlustého bavlněného svetru, nasáklý a ztěžklý, a skoro se mu zdálo, že vidí, jak jednotlivá vlákna příze vedou tekutinu dál a dál, jak po nich voda vzlíná až k totální potopě světa. Nebylo moc horko, ale dusno příšerné. Přemýšlel, za jak dlouho ta nacucaná těžká věc asi uschne, když vlhkost vzduchu musí – navzdory logice, meteorologii i fyzice – přesahovat tři sta procent. Vězel ve svetru, jak kdyby byl zazděný do základů domu. Svetr vlhkem nejen ztěžkl, ale jaksi se zadřel, dokonce tiše vrzal. Ale hlavně ho neprostupně obalil. Musel myslet na semínka fazolí v mokré vatě na oknech školní třídy. Tak nějak si připadal: že už brzy vzklíčí. A taky že je “na pokusy“. „Jsem pokusná fazole. Ani na králíka jsem to nedotáh‘.“ Povzdychl si. Promnul si oči a ještě jednou se podíval ven. Nepomohlo to, pořád tam byly k vidění jen barevné fleky.</p>

  <p>Otevřel počítač a zíral do obrazovky na nesmyslný výrok: <i>„Příliš žluťoučký kůň úpěl ďábelské ódy.“</i> O koních nevěděl nic moc, ale věřil si, že zrovna teď by ďábelsky úpět dokázal.</p>

{% endblock %}
