{% extends "post.html" %}

{% set title = 'Drabble č. 4 (5. kolo)' %}

{% block content %}

  <h2>Drabble č. 4</h2>

  <p>Hyper, Cholesterol a Aémia Slyntaví sedeli v obývačke, dumajúc nad životom papriky. Nuda sa jemne vznášala nad ich hlavami.</p>

  <p>„Dlho sme nič nepodpálili,“ dumal Hyper.</p>

  <p>„Kto vie, či je v chladničke ešte koláč,“ dumal Cholé.</p>

  <p>„Haeughlkie,“ dumala Aémia.</p>

  <p>Hyper sa postavil aj so svojou šálkou čaju a odhodlane vykročil k oknu. ,,Vonku vyzerá celkom hrejivo. Tam v lese by mohol byť klídek.“</p>

  <p>Hyper sa usadil na pník a spokojne usrkával zo šálky. Cholé medzitým staval raketu z dreva a Aémia sa húpala na strome. Viedli spolu debatu o súčasnej ekonomickej situácií Ugandy. ,,Táto raketa mi umožní vidieť oceán pri Novom Mexiku, ako som vždy bdel,“ dumal Cholé.</p>

  <p>Aémia si stavala z piesku hrad, zatiaľ čo Hyper vášnivo rozoberal včerajšie výsledky Aquaballu s vorvaňom z Nových vôd nad Váhom. Cholé kopal hrob pre svojho morského koňa, ktorý mu pred rokom zomrel. Cholé veľmi prokrastinoval.</p>

  <p>Všetkých vydesil náhly rev. Z neďalekého korálového kríku vybehol drak. Aémia zhíkla a začala utekať smerom na diaľnicu. Hyper sa premenil na bavlnný strom. Cholé sa zahrabal a tváril sa pochovane. Vorvaň ležal. Vorvaň bol mŕtvy. Vorvaň bol drakova večera. Vorvaňovo trápenie je ukončené.</p>

  <p>Až keď sa Aémia ocitla pri oáze, uvedomili si, že sú v bezpečí. Hyper sa premenil späť na muchu a Cholé sa vyhrabal.</p>

  <p>Ako tak sedeli na jemných kobercoch svojej obývačky, usrkávali si z čajov. Nuda urobila premet vo vzduchu.</p>

  <p>„Idghejké,“ citovala Aémia známy dadaistický výrok.</p>

  <p>„Možno ešte zostal sedegín,“ dumal Cholé.</p>

  <p>„Vážne, čo bolo v tom čaji?“ premýšľal Hyper.</p>

{% endblock %}
