{% extends "post.html" %}

{% set title = 'Drabble č. 5 (5. kolo)' %}

{% block content %}

  <h2>Drabble č. 5</h2>

  <p>Zpropadené drabble! Benedito poslední dvě hodiny poslouchal ve své komnatě praskání hořících polen. Lámal si totiž hlavu s krátkým, avšak zcela a bez pochyb originálním příběhem. „Co dělá příběh originálním?“ „Kde se vlastně bere nápad na originální příběh?“ Čím více přemýšlel nad podstatou originality, tím více si uvědomoval náročnost svého úkolu.</p>

  <p>Byl už natolik zoufalý, že si začal na papír sepisovat zdánlivě náhodná slova. Doufal, že se tak z jeho podvědomí vynoří nějaký nápad, který by pak mohl dále rozpracovat. Zatím měl napsaných osm slov: novému, dlouho, bezpečí, vedly, klídek, bavlna, výrok a kůň. Přemýšlel, kde se vlastně tato slova vzala, proč si vybavil zrovna těchto osm slov? Jde snad o nějaký naprosto náhodný a nepředvídatelný mechanizmus v mozku, který tuto nepravděpodobnou sekvenci slov vygeneroval? Nebo jde ve skutečnosti o nadpřirozený jev, který nelze nijak vysvětlit? Byla mu tato slova nevědomky podstrčena vyšší bytostí z jiného vesmíru? Jak by k těmto slovům potom tato vyšší bytost přišla? Nezdálo se mu to, Benedito by se totiž dal označit za těžkého deterministu. Věřil, že veškeré dění je ovlivněno pouze externími faktory, že volba neexistuje a svobodná vůle je pouze iluze.</p>

  <p>„Jak by mohl můj zoufale deterministický mozek stvořit originální myšlenku?“ zamumlal tiše pro sebe, „Každá bytost je přeci řízená svým genetickým kódem a tím, co prožila. Je vůbec možné, aby vznikla plně originální myšlenka, která není mým životem, ani lidmi, kteří mě v životě ovlivnili žádným způsobem poznamenaná a tudíž ničím inspirovaná?“</p>

  <p>A v tu chvíli už Benedito věděl, o čem bude psát.</p>

{% endblock %}
