{% extends "post.html" %}

{% set title = 'Drabble č. 8 (5. kolo)' %}

{% block content %}

  <h2>Drabble č. 8</h2>

  <p class="verse">Chrabrý, ale zahanbený<br>
  To století dvě země vedly<br>
  válku krutou,<br>
  bez snahy nastolit opět klid,<br>
  byla lehce vzňatou<br>
  však těžké je vše napravit.<br>
  Tak jako v lese rostou bedly,<br>
  tak na světě nenávist musí být.</p>

  <p class="verse">Nový však hrdina se zrodil,<br>
  ten co jen na koni měl přijet,<br>
  by všechny zachránil.<br>
  Ten co se má se Smrtěm míjet<br>
  a nejlepší ze všech být<br>
  a jen při pohledu na něj zlo chce klít.</p>

  <p class="verse">Zlé zničil a bezpečí je všude,<br>
  a zlatý proň to byl čas.<br>
  Žil si jako v bavlnce,<br>
  jeho výroky byly svaté,<br>
  platilo: jak řekne on tak to bude,<br>
  jak řekne on tak se skroutí vlas,<br>
  náš hrdina toho byť mohl však nevyužíval<br>
  však jeho štěstí netrvalo dlouze...</p>

  <p class="verse">Jeden zlodějíček mu přepych záviděl,<br>
  a na jeho místě by se rád viděl.<br>
  I přišel za čarodějnicí,<br>
  a protože měl pod čepicí,<br>
  vzal si železnou hůl.<br>
  Čarodějnice mu poradil ať prohledá starý důl<br>
  a tam že najde to co hledá.</p>

  <p class="verse">Tak se tam vydal a našel tůň u které svitek ležel,<br>
  a na něm psáno jest:<br>
  kdo zde běžel pro vodu tuto<br>
  nechť si pozor dá,<br>
  a ať má na vědomí vzato<br>
  že je kouzelná.<br>
  Kdo se ji napije a zbytek jinému dá<br>
  ještě tu noc kouzlo uhlídá,<br>
  podoby vaše se promění,<br>
  a ty budeš on a on bude ty.</p>

  <p class="verse">Zloděj si hned vody nabral<br>
  aby osud hrdiny zbabral,<br>
  a v noci se vloupal do jeho domu.<br>
  A ještě mu ukradl k tomu<br>
  jeho měšec.<br>
  Do vína jeho vodu vlil a zbytek si doma vypil.</p>

  <p class="verse">Ráno se zloděj v jeho těle probudil a vstal<br>
  a na jeho slavnostní průvod se chystal<br>
  pravý náš hrdina k němu běží<br>
  křičí naň a láteří.<br>
  Nikdo mu však nevěří,<br>
  všichni se mu jen smějí.<br>
  byl sice statečný i silný,<br>
  ale co dělat měl?<br>
  Tak teď doma sedí<br>
  na zloděje hledí<br>
  a pomstu snová.</p>

{% endblock %}
