{% extends "post.html" %}

{% set title = 'Drabble č. 3 (14. kolo)' %}

{% block content %}

<h2>Drabble č. 3</h2>

<p>Medvěd a Zajíc A VEVERKA PYTLAČKA</p>
<p>Bylo ráno a Medvěd se pomalu probouzel. Když otevřel oči, nevěřil svému zraku. Hromada bordelu veverky Pytlačky se mnohonásobně zvětšila. Nepřetržitě provozovala hon na maras, až její hromádečka dosáhla kritické velikosti. Medvěd pomalu došel ke skládce a prohlížel si všechen bordýlek, který získala „poctivou a usilovnou“ prací. Uviděl hrnek s ulomeným uchem, zlomenou plastovou tyčku (kdoví k čemu sloužila), lodičku s poškozeným kýlem a spoustu dalších hovadin. Dokonce tam byla roztrhaná knížka. Medvěd si vzal knížečku a četl si v duchu: „Byl jednou jeden bla bla bla, rozhodl se že bla bla bla, dedukce bla bla bla, došlo k hromadnému úniku vězňů bla bla bla, došlo tak k masové vraždě bla bla bla...“ . V tom se probudila veverka a s tou si není radno zahrávat. „Copak to tu děláš Medvěde?“ ptá se Pytlačka. Medvěd hned strčí knihu zpátky do hromady. „Jen jsem si prohlížel tuhle... nádheru“? „Tak to jo“ povídá veverka „ Já už myslela, že mi chceš něco vzít“ uspokojila se. „Tak já už jdu, ahoj veverko“ zašeptal Medvěd a šel vzbudit Zajíce. „hej Zajíci!“ šeptá medvěd do ucha zajíci. „AAAAAA JDI PRYČ TY SLIZKÁ PŘÍŠERO!“zařval zajíc a všechny, kromě datla Hluchoně a sysla Lajdáčka probudil. „Jsem zpátky bejby jsem zpátky!“ zařvala k tomu ještě sova Blbuška a už DEFINITIVNĚ se všichni probudili. „Co se děje?“ ptá se Burdych. „TU MÁŠ! TU MÁŠ!“ útočí zajíc na medvěda. „Au ty stupidní micáku AU!“. „AAA TU- jé ahoj Medvěde, kdo ti udělal ten monokl?“ uklidnil se Zajíc. „To nic, to byl jen větříček“ odpovídá naštvaně se tvářící Medvěd. „Hej, veverko!“ volá myška Hrabalka „tvoje hromada se mi sype do pelíšku!“ stěžuje si. „Jo, mi taky!“ říká Vlček Šedý Boček. „Já za to nemůžu“ povídá veveruša „jsou tam jenom samé důležité věci!“. Dohadovali se dlouho, až Zajíc na něco přišel. „Veverko?“ ptá se. „Ano zajíci?“ odpovídá. „No, napadlo mě, že bychom pro tebe mohli udělat domeček větší“ řekl. Všichni s ním souhlasili a pustili se do díla. Nejdříve vyklidili veverčin kout hrůzy, pak probourali kus zdi, nanosili klády, osekali je do desek a za pár dní to bylo hotovo. „Jak se ti to tu líbí teď Pytlačko? “ ptá se Zajíc. Přibyl tam kout, s dvěma metry hlubokou dírou. „Je to úžasné!“ řekla veverka, nasmykala tam všechen bordel a tak to všechno dobře dopadlo.</p>

{% endblock %}
