{% extends "post.html" %}

{% set title = 'Drabble č. 5 (14. kolo)' %}

{% block content %}

<h2>Drabble č. 5</h2>
<p>Dnes byl program Konference proti znevýhodňování pohlaví, barev, povolených názorů a životních návyků opravdu nabitý. Řečnící entity se střídaly nepřetržitým tempem, myšlenky padaly, vyměňovaly se názory a po řádné diskusi byly přijímány rezoluce.</p>
<p>V příspěvku od zastoupení Spolku ochránců vězňů proti práci, v němž mimo jiné zaznělo, že je třeba zbavit věznice epidemie kýl, a že společnost, která přijímá zákony a rozhodnutí zakazující určitá méně standardní jednání, musí nést odpovědnost za ty, kteří nemohou být vinou prostředí a většiny dostatečně konformní vůči touto většinou přijatým pravidlům.</p>
<p>Další mluvící entitou na pódiu zastoupení Humanistického pohnutí proti zneužívání svobody slova, pro kriteriální získávání osob do zaměstnání na trhu práce a pro přehodnocení mylného výkladu dějin, progresivistické nevládní avšak provládní, neziskové avšak veřejně dotované, svobodné avšak kontrolované organizace.</p>
<p>Ono zastoupení by v méně tolerantním světě mohlo být považováno za zástupkyni, ale rámci zákonné povinnosti neurazit něčí identitu nebylo radno zkoušet oslovení v ženském rodu. Co kdyby se ono třeba dedukovalo na kropicí konev mužského rodu se sklonem k lidumilnému sadismu.</p>
<p>„Bylo jsem požádáno mluvit zde jménem našeho Pohnutí a vyjádřit jeho stanovisko ve věci pozitivního dopadu autocenzury na kvalitu veřejné diskuse,“ řeklo to, věda, že si musí pospíšit, protože pan primář už se díval na hodinky. „Nuže, je jasné, že přílišná svoboda názoru vede k negativním jevům jako kritika a nesouhlas a takový střet s nesouhlasem a odmítáním může vést k nízkému sebevědomí a někdy dokonce i snaze se zlepšit. Ale my jsme dokonalí, jací jsme, nesmíme podléhat koncepci sebezdokonalování. Děkuji za pozornost.“</p>
{% endblock %}
