{% extends "post.html" %}

{% set title = 'Drabble č. 6 (14. kolo)' %}

{% block content %}

<h2>Drabble č. 6</h2>

<p>Skupinka seniorů strategicky rozestavená po kamenných dlaždicích mezi stromy a skalkami rozlehlého parku pozorně upírá pohledy na vlhké šmouhy na chodníku. Na pozadí nepřetržitého šelestění listů zaznívá hned několik hlasů. Staříci a stařenky ukazují podivnými tyčkami zakončenými jakýmisi střapci na tmavší čáry na zemi. Hlasy paní Li a pana Wei mírně převládají nad dalšími. Nemusíte být mistry dedukce, abyste poznali, že cílem je získat vrch nad ostatními. Nåzorů je více a konečné rozhodnutí, kdo má pravdu, jen tak nepadne. Kaligrafie je stará a vznešená disciplína. A jsou různá její pojetí, školy. Předmětem sporu je mokrý flek na chodníku tvarem připomínající kýl plachetnice. Táhlý spor, kde přesně navázat další tah hůlkou, která je ve skutečnosti zvětšenou obdobou kaligrafického štětce, bzučí mezi Li a Weiem už dlouho. Oběma je přes osmdesát, a je jasné, že tohle hašteření natahuje jejich setrvačníky. Dává jim chuť ráno vstát z postele a dvakrát v týdnu se společně s dalšími setkat v parku, kde vodou na kámen píší znaky, klasické citáty mudrců, nadčasové pravdy, které za pár chvil beze stopy vysuší a smaže vítr, nebo znečitelní déšť. Pan Wang, kterému je teprve pětašedesát, obětavě se stará o kyblíčky s vodou a rád s sebou do parku bere vnučku, už ví, že není radno se příliš vměšovat mezi ty dva a radit, aby nahledli do odborných knih. Tady v parku se štětci v rukou, trochou vody v kbelíku, spolu s přáteli, jsou svobodní, šťastní. Nejsou vězni vlastních chátrajících těl a stísněných bytů s blednoucími fotografiemi a stíny minulosti.<p>

{% endblock %}
