{% extends "post.html" %}

{% set title = 'Drabble č. 7 (14. kolo)' %}

{% block content %}

<h2>Drabble č. 7</h2>

<p>„Tak, čím začneme?“ otázal se vedoucí případu kapitán Jirásek svého nového kolegy. „V detektivkách je to snadné, co? Tam velký detektiv ihned po prvním pohledu na oběť spustí nepřetržitý sled dedukcí a vzápětí již uloví nového zástupce cechu vězňů, aniž by se obtěžoval se zajišťováním stop. Ale my žijeme ve střízlivé realitě. No, jsem zvědav, jak si poradí školní teorie v konfrontaci s praktickým místem činu. Co, zelenáči?“</p>
<p>Ještě že nedodal „milý Watsone,“ pomyslel si oslovený poručík Hampl, nováček mordparty. Naštěstí byl Jirásek celkem přátelský a nevyvyšoval se nad nováčky jako někteří jiní. „Já bych zajistil místo, nechal techniky sebrat stopy, oběhl sousedy, jestli něco neví nebo neslyšeli, zatímco doktor určí čas smrti,“ odpověděl Hampl a doufal, že nic neopomněl.</p>
<p>„Lékař ani technici ještě nedorazili, jak vidíš,“ okomentoval jeho návrh Jirásek a rozhodil rukama. „Výjezd se někde zdržel. Takže slyš mé rozhodnutí: než začneš obíhat partaje, předběžně obhlídneme místo sami, alespoň na to budeme mít klid a třeba nás tu něco trkne. Kromě toho si popovídáme s ohlašovatelem. Tedy ohlašovatelkou, manželkou zavražděného.“</p>
<p>„Viděl jsem ji,“ odvětil Hampl. „Docela pěkná, vypadala ale dost zoufale, podle očí.“</p>
<p>„Není radno se nechat utopit v nešťastných očích. A pamatuj, kolego, nikdy nenamáčej pero do firemního inkoustu. Kdybychom byli u námořnictva, byl bys za to vlečen pod kýlem. Ale hlavně, náš zavražděný je movitý starší podnikatel, jeho manželka mladá modelka. Já vím, ošklíbal jsem se nad dedukcemi, ale tohle je zkušenost, kolego. Čím detailněji ti bude líčit, co v době vraždy dělala, tím obezřetnější buď.“</p>

{% endblock %}
