{% extends "post.html" %}

{% set title = 'Drabble č. 8 (14. kolo)' %}

{% block content %}

<h2>Drabble č. 8</h2>

<br>Lord Vetinari seděl za svým pracovním stolem a pozorně naslouchal pravidelnému Važuzlovu pondělnímu hlášení všech špiclů o nových událostech a zajímavostech v Ankh-Morporku.
<br>„Poštovní úřad vydal novou sérii známek věnovaných městským cechům.“
<br>„To je dobré pro obchod. Každý bude chtít odesílat své zboží s tou svou.“
<br>„Cech šašků si volí nového představeného.“
<br>„Není to náhodou mim?“
<br>„Mezi kandidáty žádný není uveden a v kuloárech se rovněž nic neproslýchá. Dále že Klub nového začátku, vedený desátníkem Reginaldem Půlbotkou, se rozpadl.“
<br>„Obávám se, že to byla jen otázka času.“
<br>„Místní likérka páně Kolíka ASP začala vyrábět nový likér ,Crème de menthe’. Podotýkám, že zlí jazykové tvrdí, že byl, cituji: ,dement’, již před tím.“
<br>„Není to to, čemu se za našeho mládí říkalo pepermincka?“
<br>„Přesně, excelence.“
<br>„Nějaké zprávy o Fábiovi?“
<br>„Překvapivě nikoliv, můj pane.“
<br>Cvaklo přijímací zařízení potrubní pošty. Važuzel otevřel tubus a vytáhl složenou zprávu, kterou okamžitě předal patricijovi, který ji rozložil a přečetl. Važuzel si po těch letech služby již dokázal povšimnout lehké změny vážnosti svého zaměstnavatele.
<br>„Madame Roberta Gillette je mrtvá, pravděpodobně zavražděna.“
<br>„Och, madame Bobi,… jak?“
<br>„Jako mžilibabská Kleospatra.“
<br>„Had sire?“
<br>Vetinari přikývl a jeho vzpomínky bleskově prověřily celý vztah s tetičkou Bobi. Rád ji neměl, ale vychovala ho a v podstatě jej udělala tím, čím nyní je. Mno to asi ne, ale naznačila mu cestu. Pachatele je třeba najít a uvěznit. Dál se rozmyslí.
<br>„Okamžitě pošlete pro Elánia.“
<br>Važuzel otevřel dveře pracovny a ze schodiště na konci chodby se ozval nějaký halas, rachot a pak už rychlé rázné kroky.
<br>„Vskutku,“ pomyslel si Vetinari. Do místnosti napochodoval velitel Hlídky Samuel Elánius osobně. Važuzel zavřel dveře.
<br>Oči Elánia a Vetinariho se střetly. Nyní měl proběhnout rozhovor, respektive udílení rozkazů. Jenže co by Vetinari říkal, co by Elánius nevěděl, že má udělat.
<br>Vetinari lehce kývnul, Elánius kývnul razantněji, otočil se a odešel stejně bryskně jako přišel.
<br>
<br>Madame Roberta Gilette zavražděna! Dnes v noci se stala obětí jedovatého Křovináře žvanivého, který se velmi vzácně vyskytuje i v okolí města. <br>Kdo je autorem ďábelského plánu, který přelstil i ostřílenou intrikánku? Nebo jde o pomstu ze záhrobí bývalého patricije Skřipce Sebevraždy, jehož vraždu sama zosnovala? Jak se k vraždě své tetičky postaví dnešní patricij lord Vetinari?
<br>Zvláštní polední vydání Komety prolétlo městem jako požár. Ne že by každého zajímala Roberta Gilette. Jenže všichni už vědí, že zajímala Vetinariho, protože na tetičky se vládci nešahá, zvláště, když mu nahrazují mámu.
<br>
<br>„Karotko?“ Ohlédl se Elánius po kapitanovi.
<br>„Veliteli Elánie!“
<br>„Igor s Pleskot…“
<br>„Už jsou na místě,“ tázaný věděl, kam velitel míří. „Igor si vzal pohotovostní výbavu a Pleskot zásobu sáčku na důkazy. Ty, co Noby domaloval vzorem plísně a s jejichž pomocí konfiskoval svačiny nováčkům, ovšem vyřadila. Předpokládám ale, že vražednou zbraň bude Igor chtít naložit do lihu, pane.“
<br>„Cože? Do lihu?“
<br>„Toho hada, veliteli.“
<br>„To se rychle rozkřiklo.“
<br>„To víte, sire, Ankh Morpork.“
<br>
<br>Filigránská věž, kancelář lorda Odkragliho, představeného cechu vrahů:
<br>„Jistě jste už zaznamenal, Arture, že madame Bobi…“
<br>„Ano pane, říká se, že byla inhumována.“
<br>„Ale, pokud vím, nikdo se s podobnou zakázkou na nás neobrátil?“
<br>„Ne pane. Ne v poslední době. Osobně jsem to kontroloval u našich účetních. Žádná smlouva v tom smyslu nebyla uzavřena.“
<br>„Zajímavé. A obávám se že Vetinari nám to udělá ještě zajímavější.“ Lord Odkragli sepjal ruce za zady, zhoupl se na patách a protáhl obličej. <br>„Formálně je stále členem cechu.“
<br>
<br>Místo činu chtěl Elánius vidět sám. Rozhlížel se zkušeným okem a poměřoval vzdálenosti i možnosti. Ložnice byla přepychově strohá a přiměřená. <br>Svědčila o dobře uspořádané mysli a pevné vůli. Igor prohlížel ostění a hledal vyvrtanou dírku. Poté se stejným zájmem prohlížel i podlahu. <br>Křovinář se zatím klidně svinul v odchytové nádobě.
<br>„Žádný košík s ovocem pane,“ hlásil snaživě desátník Půlbotka.
<br>„A žádné stopy pachu opia, jestli chcete vědět i toto,“ ozvala se Angua.
<br>„Hlaste všechno,“ odvětil klidně Elánius. Rozhodně není radno cokoliv podcenit. Vetinari očekává nejlepší výkon. A on si nenechá vyčíst ani fň. <br>Vyšel na terasu, která náležela k tomuto pokoji. Byl tu solidní výhled na město. Terasa nebyla velká, ale s pohodlným posezením a několika opečovávanými rostlinami. Na jednom křesle se válel velký kocour a evidentně mu nečeřilo radost ze života, že jeho majitelka už není mezi živými.
<br>Otočil se k odchodu, když terasu najednou zahalil na chvilku stín, který jakoby se snesl ze střechy a pak se lehce vznesl a zamířil za město.
<br>„Tédá,“ hýkl Noby, který veliteli šlapal stín, aby byl u všeho.
<br>Elánius zašel dovnitř.
<br>„To byl čáp, pane.“
<br>„Děkuji desátníku.“
<br>„Já jen, že jste říkal, že všechno je třeba hlásit. Tak já pro jistotu.“
<br>Elánius podruhé nevzrušeně poděkoval. Byl ponořen do chladných úvah. Na dedukce bylo ještě brzy. Nyní byl čas získávání důkazů, svědectví a motivů.
<br>„Desátníci Noblhóch a Půlbotka zůstanou na stráži, později budou vystřídáni.“
<br>A s těmi slovy zamířil zpět do sídla Hlídky.
<br>
<br>
<br>„Važuzle, předpokládám že jste prošel aktuální objednávky cechu vrahů.“
<br>„Jistě, sire. Žádná smlouva týkající se lady Roberty coby cíle nebyla s cechem vrahů uzavřena. Osobně jsem prověřil i zprávy z jejich účetnictví. Bez výsledku.“
<br>„Hmm. A nějaké.... méně ortodoxní sdružení než cech? Vlivy ze zahraničí?“
<br>Lord Vetinari hleděl z okna na město a jeho hlas zněl velice neutrálně. Až z toho Važuzlovi zatrnulo.
<br>„Nic, o čem bychom zachytili informace, vaše lordstvo,“ odpověděl Važuzel tiše a prstem si zajel k límečku, který ho právě začal nesnesitelně škrtit. „Omlouvám se, sire,“ zachraptěl.
<br>„Ano,“ odvětil pomalu patricij. „Budeme tedy očekávat hlášení velitele Elánia,“ pronesl odevzdaně a otevřel složku, která ležela na vrchu hromádky na jeho pracovním stole. Je sice vhodné, když to vypadá, že se město de facto řídí samo, ale trocha té korekce je nutná.
<br>
<br>Noby posedával v předpokoji domu madame Gillette, stejně jako jeho kolega a čekali na slíbené vystřídání. Cítil rozporuplné pocity. Její smrtí skončila jeho povinnost informovat ji na požádání o všem na čem Hlídka pracuje. Před mnoha lety ho přistihla s rukou ve vlastní kapse a dala učinila mu nabídku, která se neodmítá. Tehdy zvážil své možnosti a rozhodl se dát k Hlídce. Přece jen nechtěl skončit jako táta – kontinuální recidivista, který od jeho dětství snad nenocoval mimo kriminál. Svým způsobem si nežil špatně, byl to až překvapivě slušný život. Na druhou stranu být stále zavázán není vůbec příjemné. To nyní skončilo, ulevilo se mu, ale zároveň si říkal, že stát se to dřív, možná by ho to přivedlo na scestí. Tak rád by si o tom povykládal se svým nejstarším kamarádem Fredem. Jenže to nebylo možné.
<br>
<br>Večerní vydání Komety přineslo další spekulace.
<br>Byl vznesen oficiální dotaz k Chrámu Malých bohů, konkrétně k bohyni Medusíně, paní hadů a beznohých ještěrek, která se nedávno emancipovala z područí krokodýlího boha Offlera. Ta se důrazně distancovala, ale nepatrně naznačila, že nitky vlivu a příčinných souvislostí vedou v tomto případě k Dámě.

<br>Po návratu na stanici Samuel Elánius rozhodl, aby terasu ložnice nepřetržitě sledovali strážníci Dolutrysk a Fronton. Na takovou práci jsou chrliči nepřekonatelní. A Nobyho s Půlbotkou vystřídá Salacia a Dorfl. Přece jen nechtěl nic podcenit a na něco jsou ti zatracení upíři dobří. <br>Nobyho měl raději v terénu. Znal své muže a dokázal už využívat jejich silnější a slabší stránky ve prospěch Hlídky.
<br>„Navážko, když už jsi u nástěnky, dej tam i rozpis služeb na příští měsíc,“ podával Karotka seržantovi blanket.
<br>„A co je tohle?“ zaostřil na pestrý lístek, který trol právě opatrně špendlil do korku (skřípnutí špendlíku o kamennou zeď zaznělo jen slabě).
<br>„To Fred, pane. Posílá čumkartu. Seržant a pani Fredová mají výročí třicet let od svatby. Fred vzal paní Fredovou na dovolenou ve StoLatech, do zelných lázní! Zdraví, zelí, romantika! - to se tu píše…“
<br>Navážka poodstoupil a zhodnotil své dílo. Krátká kariéra kulturního atašé mu zalezla pod kůži a funkci nástěnkáře se věnoval s opravdovou vášní a vkusem. Sáhl po rozpisu služeb a jal se nahradit starou tabulku novou.
<br>„Perlová svatba? Ale jistě, vzpomínám si,“ přikývl Karotka. „Stolatske lázně jsou vyhlášené. Nejen zelnými léčebnými kúrami, ale i zelnou haute cuisine. A v neposlední řadě i konzervativní léčbou kýly. To by Freda mohlo zajímat. Je tam spousta možností, jak se pobavit. Dokonce v Muzeu zelí mají i pár zajímavých bojových dalamánků. Lektor muzea říkal, že nic tak neuchová ostrou zelnačku teplou a svěží, jako když se podává v trpasličím chlebu. No doufám, že si seržant i jeho paní dovolenou opravdu užijí.“
<br>„Ve Stu Lat opravujou a konzervujou kýly?“ Zamračil se zamyšleně Navážka. „Nevím, že by tam byla nějaká loděnice? Spousta zelí, to jo, ale lodě?“
<br>„Nech to byt, Navážko. Spíš mi řekni - když je Fred na dovolence, s kým je venku Noby?“
<br>
<br>Desátník Nóblhóch a strážník Postihnout právě na přímý rozkaz sira Elánia nenápadně poslouchali hlas ulice. Bylo dobré vědět, co se o náhlém úmrtí lady Roberty povídá po městě. Noby jako služebně starší a vyšší šarže určil, že budou naslouchat hlasu hospody. Konkrétně hlasu návštěvníků Zašitého bubnu. Postihnout se tu necítil nejlépe, ve společnosti se vždy choval trochu prkenně, byl abstinent, a taky ho frustrovalo, ze ve službě nesmí rozdávat propagační materiály omnianské církve. A kolem bylo tolik, tolik!, duší, které přímo žadoní o Omovu spásu. Zato Nobymu nedělalo nejmenší potíže splynout s davem. Spokojeně upíjel z pinty Starého hlemejždě a špicoval uši, co se probírá u baru. Zápis nechal na Postihnoutovi. Tiše mu diktoval, co si má poznamenat. Zatím to nebylo nic nového - trolové, trpaslíci, Klačané i ti z Ubervaldu: když jich nebylo plné město, bývalo mnohem lepe! Kterékoli z těch skupin byla vražda lady Roberty připsána nějakým alkoholem posilněným vševědem. Stejně jako to nepochybně udělali upíři, nemrtví, roajalisté nebo hráči Buchu - zaleželo jen na tom, kdo zrovna ležel v žaludku tomu kterému nachmelenému chytrákovi. Ale nic, co by skutečně někam vedlo, nic zajímavého. Noby, od podstaty malý kriminálníček, leč shodou náhod od chlapeckých let uvízlý v Hlídce, kde se doučil všechny triky galerky, které ho ještě nestačila naučit ulice, na tohle měl nos. Poznal, když něco smrdělo. Ten večer v Bubnu ale páchla většinou jen samochvála a nedostatečná hygiena některých návštěvníků. Nic důležitého, nic, po čem pase sir Elánius a jeho lordstvo.
<br>
<br>Záhada zamčeného pokoje. Ta mu v tomto případě rozhodně nescházela a přesto zde byla. Ložnice lady Gillette měla troje dveře. Kromě těch z chodby nad schodištěm ještě dveře na terasu a druhé do soukromé koupelny, přístupné pouze z tohoto pokoje. Stejně tak na terasu nebyl přístup z jiného pokoje. Ovšem po střechách by se vrah snadno dostal. Avšak všechny troje dveře byly zavřené. Respektive do ložnice a na terasu byly zamčené a do koupelny pouze zavřené, jenže jak už uvedl, do koupelny se jinak dostat nedalo.
<br>Igor podal vyčerpávající hlášení o absenci malých otvorů, kudy by had mohl být nenápadně vpuštěn do ložnice během noci. Žádné vyvrtané otvory, tajné průchody, větrací šachty. A totéž platilo i o násilném vniknutí. Stejně tak prověřili i všechny možné dárkové předměty, košíčky a krabice, které by si mohla madame přinést sama.
<br>S tímto vlastně nemá zhola nic, co by mohl Vetinarimu hlásit. Co by mu řekl? Že na to nasadil své nejlepší muže? Že prohledali místo činu? Že na vše osobně dohlíží? Že usilovně sbírá informace kde se dá? Že dumá nad motivy? Kdepak, tohle všechno přece Vetinari ví a nic menšího ani neočekává. A kdyby patricij nějaké informace navíc měl, které by mu chtěl sdělit, dávno by mu je předal.<br>
Je na čase jít domů.<br>
<br>
<br>Po střídmé večeři se Vetinari chystal zasednout k šachovnici, aby si v klidu trénoval soustředění, když se nesměle ozval Važuzel.
<br>„Sire, neměl bych poslat pro velitele Hlídky? Ještě vám nepodal hlášení.“
<br>Patricij s prsty charakteristicky sepjatými se na chvíli zadíval na večerní oblohu za oknem pracovny. Po chvíli, která se svým způsobem zdála delší než asi byla odvětil:
<br>„Jako by se stalo.“
<br>
<br>Vůně jídla i teplo domácího krbu na Sama Elánia působila vždy uklidňujícím dojmem - jen s malým skrytým trnem, jak moc miluje svou ženu a syna a tudíž se o ně v koutku mysli neustále trochu bojí. Večere chutnala báječně a Sybila se určitě pochvalně zmínila o jejich nové kuchařce. Ta kupodivu dokázala z potravin schválených Sybilou připravit skutečně chutnou a dobře stravitelnou krmi. Přestože mu činilo potíže zapamatovat si kuchařčino jméno, na její pokrmy vzpomínal rád a v dobrém. U jídla přikyvoval a vydával jednoslabičné odpovědi a vhodná citoslovce, zatím co žvýkal, protože Sybila mluvila o běžných věcech a tak nemusel přepínat z automatického pilota. Když ale zmínila Samíka, zvýšil pozornost a poslouchal soustředěněji.
<br>„… jsem mu řekla, že až si to přečteš, jistě dovolíš, ať si ji nad parou odlepí. Je to od Freda a Eulálie pěkné, že napsali. Možná bychom taky mohli na pár dní do Sto Lat? Blíží se slavnosti zelí a ta sympatická slečna z Komety posledně tak zajímavě psala o jejich tradičních…“ Sybila se dala do obšírného líčení všech radostí, co by jim slavnosti zelí mohly nabídnout.
<br>Elánius si všiml barevné kartičky, co ležela na stole mezi nimi, pohlednice, kterou mu žena připravila, aby si ji přečetl. Sáhl po ní a rychle pohledem přelétl obě její strany. Oči se zastavily na známce - nové známce věnované Hlídce, zachycující skutečně vystižné ztvárnění průčelí Pseudopolského dvora.
<br>„Hmm, vypadá dobře. Když mi mladý Zálepka ukazoval ty návrhy, nedovedl jsem si to úplně představit. Kdo by řekl, jak skutečně to na tak malém kousku papíru bude vypadat?“ prohlížel si Elánius miniaturní obrázek.
<br>„Samozřejmě, že si ji Samík může vzít. Ta sbírka ho ale drží, co? Myslím, že bude potřebovat k narozeninám nové album.“ odváděl řeč od možnosti dovolené na zelných slavnostech raději na bezpečnější půdu poštovních známek a sběratelského zápalu malého Sama. Byl veskrze městský člověk a pokaždé, když měl opustit Ankh-Morpork, bylo mu, jako by mu uřízli nohu.
<br>„Taky jsem na to myslela, Same. Nove album, jistě. Ale pan Zálepka tu byl už podruhé a prosí tě, abys si dohodl termín s panem Zahořem Jamníkem. Chtěli by tvůj portrét na další známku Hlídky.“
<br>„Drahá, víš jak nerad mám tyhle věci! Nechápu, proč by mě měl někdo portrétovat na známky. Na tu jejich „tvář Hlídky“ by si snad mohli vybrat někoho mladšího. Co třeba Angua? Nebo Pleskot? A Karotka? To jsou mladí a pohlední důstojníci hlídky. Nejdřív ať si na známky dají jejich tváře. Mládí má zelenou.“
<br>„Ale ty známky mají být v modrošedé, Same, ne zelené. A tobě by to určitě slušelo. Byla bych na tebe pyšná. Představení všech cechů ve městě už svoje známky mají…“
<br>„A ty víš, že s tím nesouhlasím. Jména hloupých,… Vetinari, prosím, to je patricij, vládce města. To dává smysl, ale každý druhý, co se cítí být důležitý?“
<br>„Same! Havelok! Máš pravdu, ještě že jsi mi to připomněl. Smrt lady Roberty ho musela zasáhnout. Určitě bychom ho měli pozvat na večeři. Trocha času stráveného s přáteli by ho povzbudila.“
<br>„Miláčku, nemyslím, že by byl nějak moc zdrcen. Tvářil se jako vždycky. Mimo to si myslím, že dává přesnost vlastnímu klidu a prostředí…“
<br>„Same.“
<br>„Ale jo porád, pozvu ho. Když myslíš, že by se to hodilo.“
<br>
<br>„Pane Ctibume!!!“
<br>Rozšafín nadskočil, jakoby mu za zády vybuchl granát. Nesnášel, když ho arcikancléř takhle vyrušil. Ten naopak s oblibou přicházel tiše a když mu stal těsně za zády vylekal ho svým zvučným hlasem.
<br>„Arcikancléři?“ vypravil ze sebe a snažil se zklidnit tep.
<br>„Copak to tu tropíte, mládenče? Zase nějaký váš důmyslný experiment? A kde zůstává klasická magie, co? Nezapomínejte, že jsme na akademické půdě, hochu. Na akademicky - magické půdě!“
<br>Arcikancléř Neviditelné univerzity Vzoromil Výsměšek obhlížel dění v útrobách myslícího stroje zvaného Hex očividně potěšen reakcí mladého mága. Zvědavě pozoroval skleněné trubičky plné pochodujících mravenců, vahadla a kolečka v pohybu, a pak přistoupil k listu papíru, na nějž mechanické pero zaznamenávalo záhadné shluky čísel.
<br>„No, mladíku - zasvětíte mne?“
<br>Ctibum už se z nejhoršího vydýchal a pohotově rozvažoval, kolik toho nadřízenému prozradit. Věděl, že některé informace je třeba dávkovat postupně. Arcikancléř často překvapil hloubkou úsudku, kterou by povrchni pozorovatel u něj na základě jeho běžného projevu nehledal.
<br>„Předpokládám, že jste už slyšel o náhlém úmrtí lady Roberty, pane. Psali o tom všechny noviny.“
<br>„Jistě, Ctibume. Byla to velká žena! A co má být? Jak s tím souvisí ten myslící stroj?“
<br>„Máme zatím neoficiální, přesto poměrně spolehlivou teorii o příčině její smrti. Bylo to uštknuti hadem. A máme i opět neoficiální a na první pohled dost bláznivou teorii, jak se tam ten had vzal. Teorií, jak se tam vzal, máme hned několik. Kapitán Karotka mě požádal, abych je projel Hexem a určil, jak moc nepravděpodobné jsou.“
<br>„A k čemu jste došel, hochu?“ optal se arcikancléř skoro proti své vůli fascinován. Magie byla jeho denním chlebem, ale výpočty pravděpodobnosti - v těch spatřoval cosi kouzelného.
<br>„Je to složité a zatím sám nemám úplně utříděny informace, které nám spočítal Hex. Ale skutečně se zdá, že šlo o náhodu! Zadali jsme konspiraci, úkladnou vraždu, politické motivy, mstu - a mimo očekávání nám nejpravděpodobněji vychází náhoda.“
<br>„Skutečně? Jste si tím jist?“
<br>„Kdo si může být jist, arcikancléři? Museli bychom nejprve zadat především všechna data a korekční faktory. Jenže to bychom museli všechny znát, mít všechny pravdivé a správně interpretované informace a… to my nemáme a z hlediska pravděpodobnosti ani nemůžeme mít. Ale ano, skutečně tomu všechny výpočty nasvědčují. Na druhou stranu politické vlivy jsou v těsném závěsu jen o pár procent.“
<br>„A co z toho plyne, chlapče?“
<br>„Že Kometa mohla mít pravdu, když psali, že za smrt madam Roberty je spíše než bohyně Medusina zodpovědná Dáma. Ta pracuje s náhodou.“
<br>„Ale, ale hochu, to se mi nějak nezdá. Jak velká je pravděpodobnost, že v novinách napíší pravdu?“ Vrtěl Výsměšek hlavou.
<br>„Jak velká? Nevím, pane. Ale mohu zadat Hexovi data…“
<br>
<br>Právě se chystal číst ranní vydání Komety, když se dveře velitele Hlídky se rozletěly. Divný sešněrovaný hýbající se balík byl téměř vhozen dovnitř. Pak se dveře zas ranou zabouchly. Na stůl mu vyskočil Pošuk Lulu Artur, který v pěsti triumfálně svíral nějaký zkrvavený pahýlek, kterým nyní praštil o stůl.
<br>„Mám ho! A totok je důkaz!“
<br>Do Elániových očí se upíraly dvě rozzářené temné borůvky se sebevědomím někoho, kdo právě rozlousknul smysl života, vesmíru a vůbec.
<br>„Co to je?“
<br>„Důkaz!“
<br>„Důkaz čeho a co to vlastně je?“
<br>„Chvostek ješčeřice!“
<br>„Ano?“ vyčkávavě nadhodil Elánius.
<br>„Ano. Ano pane“ a Lulu zasalutoval.
<br>Bylo jasné, že na to musí jít odjinud. Jeho muži byli opravdu dobří muži a dobré ženy, ovšem v jistém ohledu nebyli právě nejbystřejší.
<br>„Jakpak se k tomu ta ještěrka připletla?“ začal polopatisticky.
<br>„Spadla mu z huby!“ vítězně zajásal Lulu. „A já ji chňap! No a pak sebó mrskla, urvala si chvostek a byla fuč. To šéfe ještěřice robijá,“ přidal Lulu, protože i on cítil, že by měl ledacos dovysvětlit. „Ale zbyl mi ten chvostek a já vám ho dones veliteli, abyste ho taky viděl na vlastní čočky.“ S těmi slovy pahýlek opět zvedl a znova ho přisunul k nadřízenému ještě o pár centimetrů blíže.
<br>Samuel Elánius viděl, že na této frontě evidentně neprorazí, takže se trochu naklonil, pohlédl na mírně se pohybující balík a pokusil o zteč tudy.
<br>„A ten čáp, desátníku?“
<br>„Dyk to je on! To je přece on. Tedyk eště to mohla bét aj ona. Ale tohodlenc toho jsem drapnul přímo při činu.“
<br>„Aha,“ prohodil Elánius, aby získal čas.
<br>„Nosí ty potfory a cpe to svojim děckám do zobákov a tým to padá důle po střeše, jací sú ti malí gramlaví.“
<br>Samuelu Elániovi v tom okamžení svitlo.
<br>„Hady taky?“
<br>„No bať. Dolutrysk s Frontonem pravili, že od rána donés už dva.“
<br>„Výborně desátníku. Nejprve pusťte toho čápa a pak skočte za seržantkou Řiťkou, ať s vámi sepíše hlášení. Stejně tak chci výpovědi obou chrličů.“<br>
<br>„Opravdicky ho mám pustit? Bude patálija ho znova chytať,“ nejistě podotknul Lulu.
<br>„Jen ho pusťte, když tak víme, kde ho hledat a krmí mladé.“
<br>„Máte recht velitelu, ptačata by neodběhnul,“ spokojeně uzavřel Lulu.
<br>Ve dveřích se však ještě otočil.
<br>„Ale hen ten chvostek Vetinarimu raděj vezmite, ať vám uvěří.“
<br>
<br>Krvavý ocásek s sebou nevzal. Zato nesl tři hlášení z pozorování místa činu a Igorův odborný posudek na čapí stravování.
<br>Vpuštěn byl okamžitě. Vešel do pracovny a podal složku dokumentů Važuzlovi, který je promptně postoupil Vetinarimu. Ten je otevřel a zahloubal se do nich. Po necelé čtvrthodince zvedl hlavu.
<br>„Uspokojivé,“ pronesl, když opět pozvedl zrak. „Žádná vražda, žádné vměšování a žádní spiklenci,“ pronesl směrem k Važuzlovi. Pak mu podal složku zpět. „Připravte to pro tisk.“ Važuzel složku vzal a odešel.
<br>Chvilku se na sebe s Elániem dívali a pak Vetinari pronesl zřetelné „Děkuji“.
<br>Samuel Elánius trochu šoupl nohou a řekl: „Vévodkyně z Ankhu vás zve na večeři.“
<br>„Vyřiďte drahé Sibyle, že rád pozvání přijímám.“
<br>
<br>Noby se vyhříval během odpolední pauzy na sluníčku před stanicí. Složil noviny a zahleděl se na město, konkrétně na komín s čapím hnízdem.
<br>„Mrzí mne, že Fred tohle propásnul. Vrací se až za tři dny.“
<br>Ukázal obrázek v novinách složených tak, aby bylo dobře vidět fotografii i celý text článku svému kolegovi.
<br>„No, Lulu, píše se tam i o tobě. Je tam tvoje jméno. To je úspěch, ne?“
<br>Malý strážník také upil čaje.
<br>„No bať.“
<br>„Ale nevím, jestli ochočit čápa je snazší, než ochočit krkavce, Lulu. To ty jsi expert přes opeřence. Já nikdy nevěděl, že čápi žerou i hady. Vlastně když jsem byl malý, říkali mi, že nosí lidem děti. Jako mimina, chápeš? Ale ne k snědku, jako že se narodilo mimino a když se bratříčci a sestřičky ptali, kde se vzalo, řeklo se jim, ze ho přinesl čáp. Hm. No a lady Bobi čáp přinesl smrt. Pak se v tom vyznej, v opeřencích.“

{% endblock %}
