{% extends "post.html" %}

{% set title = 'Drabble č. 14 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 14</h2>

<p>Missandei

<p>Už to bola tretia noc, čo strážila kráľovnino lôžko, kam v jej neprítomnosti uložili toho nešťastného mladíka. Akoby nemali dosť iných problémov... Kde len nechal rozum? Takto ísť k drakom. Veď mu ich Daenerys predtým ukázala. Videl ich neskrotnosť a silu a predsa sa pokúsil.
<p>Missandei však nebola až tak prekvapená. Ako Daenerysina spoločníčka bola svedkom mnohého a všimla si pribúdajúce zúfalstvo v jeho očiach. Chápala. Aj pre ňu bolo jediné bezpečné miesto vedľa Mhysy a hoci jej dala možnosť vrátiť sa na Naath, Missandei neverila, že ju doma čokoľvek čaká. Otrokári sa k jej ostrovu mohli kedykoľvek vrátiť. A oslobodená otrokyňa ako ona...
<p>Ktokoľvek sa ocitol v blízkosti Daenerys, mal navždy pozmenený život, akoby bol vtiahnutý do búrky. Ona bola jej pokojným okom a hoci Lámačka reťazí, Missandei to k nej spoľahlivo pripútalo. Obzvlášť odvtedy, čo jej brat slúžiaci medzi Nepoškvrnenými zomrel. Predstava, že by bola odstrčená ako ten chlapec spoza mora, bola desivá. Byť na jeho mieste, sama nevedela, čoho by bola schopná. Ale bola len malé dievča s nadaním na cudzie reči a šálkou makového mlieka v rukách.
<p>Nôtiac uspávanku v Západozemčine, naučenú od jeho krajanov, pristúpila k stenajúcemu. Tri noci a jeho stav sa len zhoršoval. Ako inak. Telo pokryté zuhoľnateným mokvajúcim mäsom, tvár bez nosa a očí zmučená. Bolo tak málo toho, čoho bola schopná. Ale aj to bolo niečo. Priložila šálku k pozostatku úst s odvarom silnejším a podaným skôr, než sa odporúčalo. Bola schopná utíšiť aspoň jednu búrku, nechať ho zaspať sladko.  

{% endblock %}
