{% extends "post.html" %}

{% set title = 'Drabble č. 15 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 15</h2>

<br>Oberyn Martell
<br>
<br>Opuchy na bratových kĺboch pribúdajú, zlostne červené ako pomaranče nad ich hlavami. Na Doranovej tvári badať bolesť dokonca aj keď sa ukladá spať po vypití makového mlieka. Oberyn čoraz viac premýšľa, či ho to predsa len neoberá o vôľu a jasný rozum a tie myšlienky neznáša, pretože sú pár ako meč a štít. Červená zmija a menlivá tráva, v ktorej je had tisíc krát nebezpečnejší. Prísť aj o...
<br>„Už zas si netrpezlivý. Doma neobsedíš.“
<br>„Divíš sa? Levy majú problémy ako nikdy predtým. Po krku im skočili vlci, ryby a jelene. Ešte aj ruže, tie porantané ruže, už stihli zaťať tŕne do koristi a my tu márnime čas. Na akú lepšiu príležitosť chceš čakať?“
<br>„Situácia sa skomplikovala. Kôň nás pripravil o jednu kráľovskú figúrku a druhá zmizla.“
<br>Oberyn podráždene rozhodí rukami.
<br>„Potom už niet prečo otáľať. Z východu sa pomoci nedočkáme, takže musíme udrieť sami a pripravení sme. Už roky.“
<br>Za Eliu... Brat pokrúti hlavou a ustarostene pozrie k fontánam, kde šantia deti.
<br>„Ak by ostatní spolupracovali... Bojujú však medzi sebou rovnako, ba viac, ako s Lannistermi. Zatiaľ niet na koho staviť a my si nemôžeme dovoliť prehrať.“
<br>S povzdychom si čupne pred kolieskové kreslo a uchopí Doranove dlane do svojich.
<br>„Vždy bude nejaké riziko. Čakaj príliš dlho a miesto klesania začne opäť stúpať. Ako príliv.“
<br>„A ak ťa naň nechám dozerať priamo v prístave, budeš spokojnejší?“
<br>„Bolo by to aspoň niečo.“
<br>Prikývne.
<br>„Dobre, ale sľúb, že nebudeš zbytočne riskovať. Prísť aj o...“
<br>„Dám si pozor, nemaj strach.“ 


{% endblock %}
