{% extends "post.html" %}

{% set title = 'Drabble č. 2 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 2</h2>
<p>Podľa novelizácie Pirátskej planéty Jamesom Gossom</p>
<br>Kapitán

<p>
S polyfázovým avatronom tichučko nôtiacim na pleci stojí pred stĺpmi obkolesujúcimi trón so zdanlivo spiacou starenkou a úporne premýšľa. Je to únik z bolesti popálenín prevŕtaných mechanikou. Únik z väzenia...
<br>.„Pôsobivé, však?“
<br>Zaznie svieži kráľovnin hlas tesne vedľa.
<br>„Pri tesákoch nebeského démona, ženská!“
<br>Úľak hrá. Naučil sa rozoznávať jej náhle zjavenia vopred. Zariadenie Ktoviekde ho desí stále, ona sama už nie. S detinskou samopašou ju necháva myslieť si opak. Má málo inej radosti.
<br>„Áno. Hlavne rozbuška. Dosť na zničenie narušiteľa priehrad času aj celého Zanaku. No nie dosť na prienik ochranným poľom.“
<br>Čo by bolo dosť?
<br>„Som rada, že si si ju všimol. Bola by škoda musieť si hľadať náhradu.“
<br>Ba problém nájsť a zotročiť podobne zdatného inžiniera ako on. Udržanie chodu antistarnúcej mašinky je nákladné a energetické nároky pribúdajú. Minerálne zdroje u nej doma na Zanaku už nie sú dosť...
<br>„Čo Bandragyn 5?“
<br>Spýta sa, kým do éterických rúk (nikdy nebudú úplné, ale jej rozum to odmieta prijať) uchopí k pravidelnej obhliadke ovládaciu skrinku napojenú na jeho robotické telo. Okovy.
<br>„Vyťažený. Ostala už len mŕtva schránka.“
<br>Ľútosť zamaskuje neviazanou triumfálnosťou. Za svoju pirátsku kariéru ju zažil toľko krát, že ju dokáže aj predstierať. Všetko schováva za výkyvy nálad. Myslí naďalej jasne.
<br>„Xanxia... Chcem si ho nechať.“
<br>„Ten odpad?“
<br>„Trofej.“
<br>Skúmavo mu opätuje pohľad, dotyk hologramickej dlane na ľudskom líci mrazí.
<br>„Kto iný sa môže pýšiť zbierkou dobytých planét?“
<br>Slovo dobytie chutí trpko, to nebol boj. To nebolo pirátstvo, ktoré mal rád. Radšej sa sústredí na chlapčenský kukuč.
<br>„Dokážem ich zmenšiť a usporiadať tak, aby boli skladné.“
<br>Blahosklonne sa pousmeje.
<br>„Maj si ich. Potrebuješ hobby. Za svoju službu zasluhuješ odmenu a táto ma ani nič nestojí.“
<br>Ale bude. Pretože skomprimované získajú potenciál čiernej diery a až ich bude dosť... 

  {% endblock %}
