{% extends "post.html" %}

{% set title = 'Drabble č. 3 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 3</h2>
<p>Jednou v zimě šli Křemílek s Vochomůrkou pro vodu. Jen co obešli druhý pařez Křemílek zakopl o zelenou ruku. Ležel tam totiž vodník Kebule.
<br>„Proč spí Kebule na zemi?“ zeptal se Křemílek.
<br>„Nespí, je totiž dočista zamordovaný,“ odvětil Vochomůrka.
<br>A opravdu. Kebule tam leží, vůbec nedýchá a v břichu má díru a v té díře rampouch.
<br>„Z toho koukají samé problémy,“ povídá Křemílek.
<br>„A teď musíme zjistit, kdo to udělal,“ na to hned Vochomůrka.
<br>Vrátili se domů a začali sestavovat seznam podezřelých.
<br>„Klidně to mohl být jezevec Burdech,“ píše si Křemílek.
<br>„A nebo zlý pidimuž Kazbunda!“ mračí se Vochomůrka. A podezřelých přibývá.
<br>„Nebo tchoř Šuperka,“ ozve se ode dveří vodník Krapítko.
<br>„Co ty tady děláš?“ táže se Křemílek.
<br>„Přišel jsem vám připomenout, že se Šuperka pokusil vyschnout i mne. Je to rasově motivovaný zločin vůči nám zeleným. Však uvidíte.“
<br>„Ale houbeles, vždyť Kebule vůbec není vyschlý. Je probodnutý rampouchem,“ odbyl ho Vochomůrka.
<br>„Pro pána krále!“ vyskočil Křemílek a chytl se za hlavu. „Vždyť je to úplně jasné. Byl to veverčák Pizizubka. Ten jediný mohl vyskočit na střechu a ulomit rampouch. To dá rozum!“
<br>„Ano, to dá rozum!“ vyskočil Vochomůrka na stůl a vyhodil čepici do vzduchu takovou silou, až to zadunělo. Potom to zadunělo ještě jednou a víc, jak ze střechy spadl Pizizubka, který poslouchal, jestli na to přijdou.
<br>Dopadl čumákem na kořen a vyrazil si zub. Pak se zvedl a pelášil pryč.
<br>„No co, Kebule stejně dělal jenom mlhu,“ zívl Křemílek.
<br>„Hlavně že jsme na to přišli,“ kývl Vochomůrka.
  {% endblock %}
