{% extends "post.html" %}

{% set title = 'Drabble č. 4 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 4</h2>
Molly Grue

<p>Ukradený spánek a zetlelé sny otištěny do vrásek, jizev, skvrn, vystouplých žil a kloubů na rukou. Nebudili by v ní žal, kdyby přibyli i s hezkými vzpomínkami, silnějícím poutem a snad nějakou ratolestí, v níž by jaro kvetlo dál, zatímco jí schvacuje podzim. Ale pro ni byly promarněné. Pohlédne na svěží běloskvoucí ruce poblíž. Její nikdy nebyly až tak půvabné, žadné jiné nemohly být tak půvabné, přeci jen kdysi měli tentýž jas mládí a naděje. Když ještě měla šanci. Ta její je pryč, ale... Ty bílé ruce spočívají v mohutnějších dlaních, hrubších od meče a kopí, trochu ušmudlaných od inkoustu, no tolik nežných. Ó ano, Amalthea má šanci. Šanci, kterou by šlo závidět, přesto ona ji jí chce dopřát o to víc, o co lituje sebe. Jenže to je možné, jen dokud to jsou bílé ruce, které jednou taky zestárnou a ne nesmrtelná zvonící kopýtka.
<p>„Schmendricku, nech ji takovou, jaká je teď. Nech ji být.“
<p>Ale ne, čaroděj musí rozumovat. Rozvadí se.
<p>„Tak to v příběhu není. Lír to ví a ona taky.“
<p>Slovo „příběh“ zvoní v uších. Když se pokazí, nastávají problémy, to ví i bez znalosti kouzel. Možná ji žádný jiný jednorožec nenavštívil právě proto, že byl uvězněn tím spropadeným králem Haggardem, bodejť by se pod zem propad. Kolik dívek takhle doma marně čeká? Kolik jich bude marně čekat, až přestanou, protože jednorožci budou zapomenuti? A přesto, ty dívky jsou tak vzdálené, zatímco Amalthea a Lír tady. Už je víc lidskou ženou, než jednorožcem, zakrátko zmízí i vzpomínka na předešlý život. Zapomenutí je milost. Jako jednorožec by nezapomněla nikdy, o co přišla. Molly na tom záleží víc, než uspořádání světa. Proč ten čarující nešika trvá na opaku? Že by pro čáry? Skočí po tom podezření se vší ublížeností.
<p>„Tobě je to jedno! Tobě je jedno, co se s ní stane. A s ostatními taky. Hlavně když se přece jen staneš kouzelníkem! Tobě to prostě nezajímá.“
<p>„Prosím? Teď mě to mrzí. Měl jsem se starat jen o své kouzelnické remeslo. Ale já to dokončím.“
<p>Rozrušené odhodlání v jeho obličeji ji na chvíli připraví o řeč a pak už je na vše další pozdě, protože se zjeví ohnivý býk a oni musí prchat a nakonec nezbýva, než použít magii. Amalthea je pryč, spátky je kouzelné stvoření s rohem a v očích má smutek. Navždy bude pamatovat svou strátu. Ale měla to, na chvíli to měla a to je pořád víc, než nikdy nemít. I Mollyna trpkost osládla, co ji potkala, ikdyž to bylo pozdě. Vystačit si s málem je lepší, než zaslepeně zhrabovat všechno pro sebe, zatímco jiným se nedostane, jako jistej posedlej vládce spustlé země. Tak snad... Tak snad přeci nejlepší pro všechny bylo vrátit ji pravou podobu a dokončit výpravu za záchranou jednorožců.  {% endblock %}
