{% extends "post.html" %}

{% set title = 'Drabble č. 5 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 5</h2>
<p>„Proč ses tak polekala, Blanko?“ otázal se Petr, jehož rozum dosud odmítal přijmout její slova.
<p>„Oslovuješ mne pouze jménem bez titulu, ale nebudu tě za to kárat,“ odvětila dívka poplašeným hlasem. „On je blízko, už mne hledá. Otrávil našeho budoucího krále. Ubohý Albrecht Jan. Musíme utéci, než nás nalezne.“ Jak to říkala, zatáhla ho za ruce, aby ho přiměla ji následovat.
<p>Petr však zůstal na místě. „Kdo nás to nemá nalézt?“ Otázal se. Místo odpovědi se na něj prosebně zahleděla a zamrkala. Skoro jako panenka, kterou předtím Petr našel. Pochopil, že když tuhle dívku poslechne, jeho problémy budou přibývat, ale její strach byl natolik nelíčený, že jí musel pomoci.
<p>„Počkej, musím vyzvednout sestru. Lízo!“ zavolal na sestru. „Musíme domů.“
<p>„Ještě… chvilku,“ dořekla nakonec Líza. Prvním slovem se naladila na odmlouvací vlnu, ale jak se na Petra otočila, spatřila, že jejího staršího bratra drží za ruku neznámá dívka v krásných blankytně modrých šatech. Takové měla princezna na obrázku v pohádkové knížce, ze které jí čítala babička (maminka jí nečetla, byla moc zaměstnaná, a proto moc unavená, tak to alespoň říkala).
<p>Ve chvíli zapomněla na Jarčina pejska, který se právě rozeběhl za vrženým míčkem, a vydala se ke dvojici. Pak za sebou zaslechla psí dech. Otočila se, ale namísto roztomilého štěněte se k ní blížila černá obluda, určitě z Dartmoorských blat. Strnula leknutím. Bratr ji však chytil za ruku a spolu s tou dívkou se rozeběhli k jejich vchodu s nestvůrou v zádech.
<p>Petr nikdy tak rychle neotočil klíčem v zámku. 
{% endblock %}
