{% extends "post.html" %}

{% set title = 'Drabble č. 7 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 7</h2>

<br>„Král na F8,“ ohlásil bílý hráč. Měl plné ruce problémů, které přibývaly od chvíle, kdy se pokusil obětovat střelce na B4, aby poté získal výhodu sebráním černé dámy. Jeho černý protivník však střelce nesebral dámou, nýbrž koněm, a když černého koně sebral svým pěšcem, přišel o věž na H7.
<br>Z těžké situace se nyní pokoušel dostat tím, že podpoří druhého střelce a dámu králem. Snad zase něco nepřehlédl. Všiml si, že se král se po šachovnici šourá na udané cílové políčko nějak neochotně a ještě si přitom klepe na hlavu žezlem.
<br>„Něco se ti snad nelíbí?“ otázal se ho.
<br>„To tedy nelíbí,“ odpověděl král. „Kdes nechal rozum? Uvědomuješ si, že je to stejné postavení jako 6P4K-R58A proti GS38-71DX z 25. 9. 3519?“
<br>„Uvědomuju, já jsem přece 6P4K-R58A a tu partii jsem vyhrál,“ hájil se bílý.
<br>„Jenže tenkrát jsi byl černý,“ děl král a postavil se do pozoru.
<br>„No jo, deset tisíc partií denně, to jednomu všechno splyne dohromady,“ odvětil bílý. Konečně pochopil, kde je chyba, jenže ohlášený tah už nemohl vzít zpět. Kdyby měl ruce, jakými kdysi hrávali lidé, mohl by tah vrátit, dokud by figuru nepustil, jenže on ovládal šachovnici binárními povely, a ty se napravit nedaly. Zpětná aplikace mu stále chyběla.
<br>„No, a máme to doma,“ ohlásil černý. „Věž na F3. Jsi vyřízen. Oxiduje ti křemík?“
<br>„Tvé tištěné spoje dnes nějak jiskří, milý GS38,“ odvětil 6P4K. „Copak jsi zapomněl, že jsme dávno vyčerpali všechny kombinace? Determinismus se ujal vlády a my jsme odsouzeni donekonečna opakovat stejné partie.“ 



{% endblock %}
