{% extends "post.html" %}

{% set title = 'Drabble č. 8 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 8</h2>

Pluto<br>

<br>„Vidím ťa. Ani tvoja helma ťa predo mnou neschová.“
<br>Stisnem pery, inak však nevôľu najavo nedám a prilbu neviditeľnosti zložím.
<br>„Viem aj, prečo prichádzaš. A prečo si dávaš tak na čas. Priznám sa, som z toho trochu sklamaný.“
<br>Napriek prísnej neochvejnosti, ktorou sa väzeň predo mnou vždy vyznačoval, je vidieť, že má problémy maskovať muky a ja vychutnávam každú sekundu, každú známku napätia a strhanosti. Kým ešte môžem.
<br>„Som sudca duší. A nevidím dôvod, prečo by ti malo byť odpustené.“
<br>Ešte nepobudol v útrobách Tartaru, jeho kyslých jazerách a tme dosť dlho. Za každého súrodenca aspoň desaťnásobok rokov. Ale aj večnosť by sa mi zdala málo.
<br>„Si aj pán bohatstva. Nevyrovnáš sa bratovi v štedrosti?“
<br>Kľúče v rukách zovriem tuhšie v túžbe napriahnuť sa a zahodiť ich a snahe odolať tomu pokušeniu.
<br>„Nemá právo oslobodiť ťa... Nie, keď ja, ktorý som tú krivdu musel znášať najdlhšie, vravím nie. Ale on nepočúva. Nevie, aké to je.“
<br>Titán sa usmeje, metalický záblesk zubov ako večne ostrý kosák. Všetko sa pominie, len jeho neodvratnosť pretrváva. Ba pribúda ako dáky dlh.
<br>„Vie, aké to je byť kráľom.“
<br>Nadvihnem obočie nad tak nerozumným argumentom.
<br>„A ja nie?“
<br>Odfrkne si.
<br>„Podsvetie sa nedá porovnávať so zvyškom vesmíru. Ani nikomu nestojí za uzurpovanie. Alebo sa aj tebe dostalo nejakej veštby?“
<br>Nie je ľahké uspať podráždenie z urážky, ale dať ju najavo by bola prehra.
<br>„Pribúdajúci poddaní a všetky zemské poklady za to nestoja? Ani Proserpina? Skôr si myslím, že svoj domov spravujem tak príkladne, až som sa stal nenahraditeľným.“
<br>S touto myšlienkou sa konečne načiahnem k Saturnovým putám.
<br>„Pustím ťa, ale skús v mojej ríši spôsobiť problém a vytvorím celkom novú úroveň agónie iba pre teba.“


{% endblock %}
