{% extends "post.html" %}

{% set title = 'Drabble č. 9 (8. kolo)' %}

{% block content %}

  <h2>Drabble č. 9</h2>

<p>Nastal prý věk rozumu. Svoboda. Člověk, občan, právo. Už žádná privilegia. Nejubožejší je roven nejmocnějšímu v zemi. Původ již není na překážku postupu v hierarchii státu, církve a armády. Krásná slova, krásné ideály.
<p>Konce jsou však jiné. Revoluce má problémy a jejich množství přibývá, stejně jako přibývá nepřátel za hranicemi i uvnitř. Vojska republiky sotva stíhají odrážet útoky stejně jako likvidovat vnitřní povstání. Jeden se diví, proč je v celé zemi tolik zrádců, když jsou ideály tak krásné. Popravy se stávají stejnou součástí života jako každodenní cesta na trh.
<p>Ruce davu se zdvihají do výše a křik „ať žije Francie“ se rozléhá po každém dopadu šikmého ostří. Pach smrti se brzy rozprostře nad celým světem. Občané jsou si rovni, ale ve strachu. Snad i to nadšení na popravách je jen překrýváním strachu, alespoň u těch, jejichž rozum chápe, že jednou by se mohli na tomto dřevěném pódiu ocitnout sami. Doma se zavírají do temných koutů, kde v tichosti rozjímají, při každé cestě mezi sobě podobné však jásají. Každý ví, že malé nadšení se rovná velké podezření.
<p>Držel jsem v ruce hlavy aristokratů i revolucionářů. Nic už nedává smysl. Je cesty zpět? Lze se postavit zběsilosti puštěné ze řetězu? Já sám to nedokážu. Sloužím. Jmenuji se Sanson a jsem to já, kdo lidu ukázal hlavu krále, Brissota i Dantona. 


{% endblock %}
